//META{"name":"The_Clear_Sunset","description":"Watch the awesome sunset","author":"DevilsTheAvenged","version":"1"}*//{}

#app-mount{background-image:url(https://images7.alphacoders.com/958/958598.jpg);background-size:cover;}

.theme-dark .layer-3QrUeG,
.theme-dark .layers-3iHuyZ{background:rgba(0,0,0,0.2)}
.container-2lgZY8,.channels-Ie2l6A,.container-PNkimc,.theme-dark .chat-3bRxxu, .theme-dark .chat-3bRxxu form, .theme-dark .content-yTz4x3,.theme-dark .messagesWrapper-3lZDfY,.theme-dark .guildsWrapper-5TJh6A,.theme-dark .container-3gCOGc,.theme-dark .applicationStore-1pNvnv,.theme-dark .gameLibrary-TTDw4Y,.theme-dark .activityFeed-28jde9,.theme-dark .typing-2GQL18{background-color:transparent}
.theme-dark .members-1998pB{background-color:rgba(0,0,0,0.4)}
.header-2o-2hj{box-shadow:none;font-weight:300}
.theme-dark .headerBar-UHpsPw,
.theme-dark .title-3qD0b-{background:transparent;box-shadow:none;color:white}
.theme-dark .dividerEnabled-2TTlcf,.theme-dark .channelTextArea-rNsIhG{border:none}
.theme-dark .topic-2QX7LI:before,.theme-dark .divider-2PMBlV,.theme-dark .attachButtonDivider-3Glu60{background-color:transparent}

/*  Search Box  */
.theme-dark .container-3ayLPN,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker {
    background-color: rgba(0,0,0,0.45);
    border-radius: 0;
}
.react-datepicker {
    border: none;
    color: white;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header {
    background-color: black;
    border-color: transparent;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__current-month {
    border-bottom-color: transparent;
    color: white;
}

.calendarPicker-2yf6Ci .react-datepicker__week:first-of-type>.react-datepicker__day:first-of-type,
.calendarPicker-2yf6Ci .react-datepicker__week:last-of-type>.react-datepicker__day:first-of-type,
.calendarPicker-2yf6Ci .react-datepicker__week:first-of-type>.react-datepicker__day:last-of-type,
.calendarPicker-2yf6Ci .react-datepicker__week:last-of-type>.react-datepicker__day:last-of-type,
.calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:hover, .calendarPicker-2yf6Ci .react-datepicker__day:hover,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__week:last-of-type .react-datepicker__day,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day {
    border-radius: 4px;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__week .react-datepicker__day:last-of-type {
    border-right-color: transparent;
}

.theme-dark .react-datepicker__day--today:hover {
    background-color: #00a300 !important;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day {
    margin-bottom: 3px;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__week:last-of-type .react-datepicker__day {
    border-bottom-color: transparent;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled:hover {
    background-color: #262626;
     color: silver;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:hover {
    background-color: #8a2849;
    color: #fff;
}

.calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected {
    background: rgba(138, 40, 73,0.4);
    border-radius: 4px;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day:hover {
    background-color: #C62D42;
    color: #fff;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after {
    background-color: transparent;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--disabled,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled  {
    background-color: rgba(27, 27, 27,0.5);
    color: rgba(246,246,247,.3);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month {
    background-color: rgba(148, 149, 165,0.3);
    color: white;
}


.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day {
    border-left-color: transparent;
    border-top-color: transparent;
    color: white;
}

.calendarPicker-2yf6Ci .react-datepicker__day--disabled, .calendarPicker-2yf6Ci .react-datepicker__day--outside-month {
    font-weight: 300;
}

.theme-dark .queryContainer-RKFJW- {
    border-bottom-color: transparent;
    color: white;
}

.theme-dark .elevationBorderHigh-2WYJ09 {
    box-shadow: none;
}

.theme-dark .option-96V44q.selected-rZcOL-,
.theme-dark .focused-2bY0OD {
    background-color: rgba(138, 40, 73,0.34);
    border: 1px solid #8a2849;
}

.theme-dark .option-96V44q:after,
.theme-dark .option-96V44q.selected-rZcOL-:after {
    background: none;
}

.theme-dark .resultsGroup-r_nuzN:before {
    border-top: none;
}

.theme-dark .option-96V44q .nonText-3CRkO0 {
    background-color: rgba(208, 208, 208, 0.3);
    border: 1px solid #d0d0d0;
    color: white;
    padding: 4px 6px;
}

.theme-dark .option-96V44q strong {
    color: white;
}

.theme-dark .option-96V44q .answer-1n6g43 {
    color: white;
    background-color: rgba(119, 34, 64,0.3);
    padding: 4px 6px;
    border: 1px solid #772240;
}

.tooltip-1OS-Ti.red-m6f4-H.tooltip-1OS-Ti {
  background-color: rgba(255, 0, 0, 0.32);
}

.tooltip-1OS-Ti.red-m6f4-H.right-KM_vfY:after {
  border-right: none;
}

.theme-dark .guildsError-3cFMtY:hover {
  background-color: rgba(255, 0, 0, 0.6);
}

.theme-dark .guildsError-3cFMtY {
  background: rgba(255, 0, 0, 0.2);
  border-color: transparent;
  color: red;
}

.guildsError-3cFMtY {
  font-size: 24px;
  font-weight: 600;
}

.theme-dark .option-96V44q.user-O3Czj0 .displayUsername-Qekxml,
.theme-dark .searchResultChannelCategory-1l0lSn, 
.theme-dark .searchResultChannelIcon-1DnTme {
    color: silver;
}

.theme-dark .option-96V44q.user-O3Czj0 .displayedNick-3xxvzU {
    color: white;
}

.theme-dark .searchAnswer-3Dz2-q, 
.theme-dark .searchFilter-2ESiM3 {
    background-color: #8a2849;
    text-shadow: 0 0 2px black,0 0 2px black,0 0 2px black;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--next, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--previous {
    border-color: transparent;
}

.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hint-165cR4,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day-name {
    color: white;
}

.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw {
    border-top: none;
}

.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z {
    background-color: rgba(138, 40, 73,.4);
    border: 1px solid transparent;
    transition: background-color 1s ease, border 1s ease;
}

.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z:hover {
    border: 1px solid #8a2849;
    background-color: rgba(138, 40, 73,.6);
}

.tooltip-1OS-Ti.black-2bmmnj {
    background-color: #8a2849;
}

.tooltip-1OS-Ti.black-2bmmnj.right-KM_vfY:after,
.tooltip-1OS-Ti.black-2bmmnj.top-1pTh1F:after,
.tooltip-1OS-Ti.black-2bmmnj.bottom-19kp6S:after,
.tooltip-1OS-Ti.black-2bmmnj.left-1wV7VO:after {
    border: none;
    
}

.tooltip-1OS-Ti {
    border-radius: 4px;
    text-shadow: 0 0 2px black,0 0 2px black,0 0 2px black;
    color: white;
    font-size: 13px;
    font-weight: 500;
}

/* Search and Mention Menu */

.theme-dark .searchHeader-1l-wpR,
.theme-dark .header-ykumBX,
.theme-dark .footer-1kmXd4 {
    background-color: rgba(0,0,0,0.7);
    box-shadow: none;
}

.theme-dark .searchResultsWrap-2DKFzt,
.theme-dark .messagesPopoutWrap-1MQ1bW {
    background-color: rgba(138, 40, 73,0.5);
}

.theme-dark .searchResultsWrap-2DKFzt {
    overflow: visible;
}

.theme-dark .messagesPopoutWrap-1MQ1bW {
    border: none;
    box-shadow: none;
}

.theme-dark .searchResult-3pzFAB .searchResultMessage-2VxO12.hit-NLlWXA {
    border: none;
}

.theme-dark .searchResultsWrap-2DKFzt .searchResult-3pzFAB .hit-NLlWXA,
.theme-dark .messageGroupWrapper-o-Zw7G {
    background-color: rgba(0,0,0,0.4);
    box-shadow: none;
    border: none;
}

.theme-dark .searchResult-3pzFAB.expanded-v2Szsz .searchResultMessage-2VxO12.hit-NLlWXA,
.theme-dark .messageGroupWrapper-o-Zw7G:hover {
    background-color: rgba(0,0,0,0.7);
    border: none;
}

.theme-dark .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug {
    background: none;
    box-shadow: none;
}

.theme-dark .jumpButton-3DTcS_,
.theme-dark .jumpButton-Ia2hRJ {
    background-color: #8a2849;
    color: white;
}

.theme-dark .searchResult-3pzFAB.expanded-v2Szsz {
    border: none;
}

.searchResultsWrap-2DKFzt .searchResult-3pzFAB .searchResultMessage-2VxO12.hit-NLlWXA {
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 0;
}

.searchResultsWrap-2DKFzt .searchResult-3pzFAB .searchResultMessage-2VxO12 {
    overflow: visible;
}

.block-2RXqH9 .pro-1T8RK7, .block-2RXqH9 .tip-2ab612, .tip-2ab612 {
    display: none;
}

.theme-dark .searchHeader-1l-wpR .tab-2Ixsn0, 
.theme-dark .searchHeader-1l-wpR .totalResults-gxvzgw {
    opacity: .7;
}

.theme-dark .emptyPlaceholder-1zh-Eu .body-bvcIjN {
    color: white;
}

.theme-dark .searchResult-3pzFAB:before,
.theme-dark .searchResult-3pzFAB:after {
    background: none;
}

.theme-dark .channelSeparator-1X1FuH:before {
    border-color: transparent;
}

.theme-dark .channelSeparator-1X1FuH .channelName-1QajIf {
    background-color: rgba(0,0,0,0.5);
    padding: 5px;
}

.highlight {
    background: #FB3F1C;
    padding: 2px 3px;
    color: white;
}

/* Avatars */
.avatar-17mtNa .large-3ChYtB {
    margin: -3px -10px;
    opacity: 1 !important;
    height: 60px;
    width: 60px;
    background-size: cover;
}

.searchResultsWrap-2DKFzt .searchResult-3pzFAB .searchResultMessage-2VxO12.hit-NLlWXA .avatar-17mtNa .large-3ChYtB {
    opacity: 1 !important;
    margin-left: -7px;
    margin-top: -7px;
    height: 60px;
    width: 60px;
    background-size: cover;
}

.messageGroupWrapper-o-Zw7G .avatar-17mtNa .large-3ChYtB {
    opacity: 1 !important;
    margin-left: -5px;
    margin-top: -2px;
    height: 60px;
    width: 60px;
    background-size: cover;
}

.containerCozyBounded-1rKFAn {
    overflow: visible
}

/*  Need Help Menu */

.need-help-modal.form.deprecated .header {
    background-color: #8a2849;
    border-radius: 30px 30px 0 0;
}

.need-help-modal.form.deprecated .header input[type=text] {
    background-color: rgba(0,0,0,0.4);
    border-radius: 7px;
    color: white;
}

.need-help-modal.form.deprecated .form-inner {
    background-color: black;
}

.need-help-modal.form.deprecated .footer {
    background-color: black;
    border-radius: 0;
    border-top: none;
    color: white;
}

.backdrop-1wrmKB {
    background-color: rgba(0,0,0,0.3) !important;
    opacity: 1 !important;
}
 
.need-help-modal.form.deprecated a,
.theme-dark .markup-2BOw-j a {
    color: #82b74b !important;
}

.need-help-modal.form.deprecated .header input[type=text]:focus {
    border-bottom: 1px solid #82b74b;
}

.form-deprecated .control-group input[type=email], .form-deprecated .control-group input[type=number], .form-deprecated .control-group input[type=password], .form-deprecated .control-group input[type=text], .form-deprecated .control-group textarea, .form.deprecated .control-group input[type=email], .form.deprecated .control-group input[type=number], .form.deprecated .control-group input[type=password], .form.deprecated .control-group input[type=text], .form.deprecated .control-group textarea {
    border: none;
    border-bottom: 1px solid transparent;
    color: white;
}

/* Main Chat */

.theme-dark .edited-DL9ECl,
.theme-dark .timestampCozy-2hLAPV,
.theme-dark .headerCozyMeta-rdohGq,
.theme-dark .markup-2BOw-j,
.theme-dark .operations-36ENbA {
    color: white;
}

.contentCozy-3XX413 {
    margin-left: 90px;
}

.theme-dark .headerCozyMeta-rdohGq {
    margin-left: 11px;
    text-shadow: 2px 3px 3px black,0 3px 3px black;     
}

.theme-dark .markup-2BOw-j {
   text-shadow: 0 3px 3px black;
}

.theme-dark .iconBadge-2dji3k {
    border-color: transparent
}

.iconBadge-2dji3k {
    background-color: #8a2849;
    height: 4px;
    right: 4px;
    width: 4px;
}


.theme-dark .membersGroup-v9BXpm {
    color: white;
}

.membersGroup-v9BXpm {
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
}

.theme-dark .status-2s6iDp,
.avatar-large .status, 
.avatar-profile .status, 
.avatar-small .status, 
.avatar-xlarge .status, 
.avatar-xsmall .status, 
.avatar-xxlarge .status {
    border-color: black !important;
}

.theme-dark .member-3W1lQa:hover .content-OzHfo4 {
    background-color: rgba(0,0,0,0.3);
}

.theme-dark .member-3W1lQa.popout-open .content-OzHfo4, .theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4 {
    background-color: rgba(0,0,0,0.6);
}

.theme-dark .activityIconForeground-qYIPPg {
    fill: white;
}

.activity-1IYsbk strong {
    color: white;
}

.theme-dark .activity-1IYsbk {
    color: silver;
}


.theme-dark .memberOnline-1CIh-0 {
    color: white;
}

.member-3W1lQa {
    border-radius: 0;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
    background-color: transparent;
    border-color: transparent;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.4);
    border-radius: 0;
    border-color: transparent;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb:active {
    background-color: rgba(138, 40, 73,0.7);
}

.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    display: none;
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb, 
.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    background-color: transparent;
    border: none;
}

.scroller-wrap .scroller::-webkit-scrollbar {
    width: 15px;
}

.nameTag-3p0yK- {
    text-shadow: 0 3px 2px black;
    padding-bottom: 2px;
}

.username-1cB_5E {
    overflow: visible;
}

.theme-dark .itemGroup-1tL0uz {
    border-color: transparent;
}

.avatarSpeaking-1wJCNq {
   box-shadow: 0 0 0 2px #82b74b, inset 0 0 0 1.5px black;
}

.theme-dark .guild-1EfMGQ.audio-3vVhBi .guildInner-3DSoA4:after,
.theme-dark .guild-1EfMGQ.video-15yGu3 .guildInner-3DSoA4:after {
   background-color: rgba(0, 0, 0, 0.43);
}

.theme-dark .container-3cGP6G {
    background: rgba(0, 0, 0, 0.48);
}

.theme-dark .item-2J1YMK:active, .theme-dark .item-2J1YMK:hover {
    background-color: #8a2849;
    color: white;
}

.theme-dark .item-2J1YMK {
    color: white;
}

.emojiPicker-3m1S-j .header-1nkwgG {
    border-bottom: none;
}


/* Unreachables */

.wanderingCubesItem-WPXqao,
.spinner-wandering-cubes .spinner-item {
    background-color: #d64161;
}

.spinner-wandering-cubes-1eyF3t {
    background-color: #d64161;
}

.progress-2XXRYo,
.progressBar-3u8FBM.small-1CUeBa,
.progressBar-3u8FBM.large-3EPlRk,
.mediaBarGrabber-1FqnbN, 
.mediaBarProgress-1xaPtl, 
.mediaBarProgress-1xaPtl:after, 
.mediaBarProgress-1xaPtl:before{
    background-color: #d64161 !important;
}

.video-1FfuMD,
.theme-dark .private-channel-call {
    background-color: rgba(0,0,0,0.4);
}

.theme-dark .callAvatar-v-u4BM.voice-2D-tt_ 
.callAvatarStatus-3y6S04 {
    border-color: black;
    background-color: #d64161;
    border-radius: 50px; 
}

.callAvatarBorder-1D_KaE.voice-2D-tt_.speaking-oCqYMI,
.callAvatarBorder-1D_KaE.video-3GgX2M.speaking-oCqYMI {
    border-radius: 50px; 
    box-shadow: inset 0 0 0 3px #d64161;
}

.theme-dark .private-channel-call.minimum .private-channel-call-actions .center, .theme-dark .wrapper-29NfPK,
.theme-dark .wrapper-29NfPK.minimum-2d6zH6 .actions-2vadYq .center-1Vp33r {
    background-color: transparent;
    border-color: transparent;
}

/* Red Button Area */
.lookFilled-1Gx00P.colorRed-1TFJan:hover,
.lookOutlined-3sRXeN.colorRed-1TFJan:hover {
    background-color: rgba(217, 33, 33, .8);
}

.lookFilled-1Gx00P.colorRed-1TFJan,
.lookOutlined-3sRXeN.colorRed-1TFJan {
    background-color: rgba(217, 33, 33, .4);
    color: white;
}

.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(240, 71, 71);"] {
    border-radius: 0;
    background-color: rgba(217, 33, 33, .4) !important;
    color: white !important;
}

.theme-dark .side-8zPYf6 .itemDefault-3Jdr52:hover[style*="color: rgb(240, 71, 71); background-color: rgba(240, 71, 71, 0.0980392);"], .theme-dark .side-8zPYf6 .itemHover-EnbcjT:hover[style*="color: rgb(240, 71, 71); background-color: rgba(240, 71, 71, 0.0980392);"] {
    background-color: rgba(217, 33, 33, .8) !important;
}

/* */

.theme-dark .itemSubMenu-1vN_Yn:hover {
    background: rgba(138, 40, 73, 0.83) !important;
}

.theme-dark .item-1Yvehc:hover {
    background: #8a2849;
}

.theme-dark .itemSubMenu-1vN_Yn {
    background: rgba(138, 40, 73, 0.43);
}

.theme-dark.contextMenu-HLZMGh {
    background: rgba(0,0,0,0.8);
    box-shadow: none;
}

.theme-dark .item-1Yvehc {
    color: white;
    border-radius: 0;
    padding: 7px;
}

.checkbox .checkbox-inner input[type=checkbox]:checked+span {
    background-color: rgba(255,255,255,0.2);
    border-color: transparent;
}

.theme-dark .bar-2Qqk5Z {
    background: silver;
}

.theme-dark .bar-2Qqk5Z[style*="background: rgb(105, 196, 154);"] {
    background: silver !important;
}

.barFill-23-gu- {
    background: black;
    border: 1px solid rgba(255,255,255,0.5);
}

.barFill-23-gu-[style*="background: rgb(251, 184, 72);"] {
    border: 1px solid rgba(255,255,255,0.5);
    background: black !important;
}

.bar-2Qqk5Z {
    border-radius: 0;
   height: 13px;
    overflow: visible;
}

.grabber-3mFHz2 {
    background-color: #8a2849;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-left: -4px;
    margin-top: -8px;
    top: 20%;
    width: 5px;
}

.theme-dark .bubble-3we2di {
    background-color: #8a2849;
}

.theme-dark .bubble-3we2di:before {
    border-top-color: transparent;
}

.mini-dmm9yo .grabber-3mFHz2 {
    border-radius: 0;
    margin-top: 5px;
}

.theme-dark .elevationHigh-3A9Xbf {
    box-shadow: none;
}

.theme-dark .checkbox .checkbox-inner span {
    border-color: rgba(255, 255, 255, 0.1);
}


/* Link */
.operations-36ENbA>a,
.fileNameLink-9GuxCo,
.theme-dark .topic-2QX7LI a,
.theme-dark .welcomeMessage-3_Mcht a,
.standardSidebarView-3F1I7i a,
.bda-slist .bda-footer a,
.content-8biNdB a,
.anchor-3Z-8Bb,
.lookLink-9FtZy-.colorLink-35jkBc {
    color: #82b74b;
}
.lookLink-9FtZy-.colorLink-35jkBc:hover .contents-18-Yxp {
    background-image: linear-gradient(0deg,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0) 1px,#82b74b 0,#82b74b 2px,rgba(0, 0, 0, 0) 0);
}
/*  */

.reactionBtn-2na4rd,
.button-3Jq0g9 {
    opacity: 1;
}



.bda-dark .emoji-picker .dimmer.visible, .bda-dark .emojiPicker-3m1S-j .dimmer-3iH-5D.visible-3k45bQ {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0;
    height: 92%;
}

.bda-dark #bda-qem-favourite-container, .bda-dark #bda-qem-twitch-container,
.bda-dark .emoji-picker, .bda-dark .emojiPicker-3m1S-j {
    background-color: black;
    border-radius: 0;
}

.bda-dark .emoji-picker .category, .bda-dark .emojiPicker-3m1S-j .category-2U57w6 {
    color: #8a2849;
    background-color: transparent;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.selected-39BZ4S {
    border-top: 1px solid #8a2849;
    border-bottom-color: transparent;
}

.emote-container:hover {
    background: rgba(255,255,255,.47);
}

.emote-container {
    border-radius: 0;
}

.emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA.selected-39BZ4S {
    background-color: rgba(255,255,255,.57);
    border-radius: 0;
}

.emojiPicker-3m1S-j .stickyHeader-1SS0JU {
    background: transparent;
    left: 4px;
}
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar, .bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track, .bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track-piece, .bda-dark #pubs-container .scroller::-webkit-scrollbar, .bda-dark #pubs-container .scroller::-webkit-scrollbar-track, .bda-dark #pubs-container .scroller::-webkit-scrollbar-track-piece, .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar, .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track, .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track-piece,.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track,.bda-dark .emoji-picker .scroller::-webkit-scrollbar, .bda-dark .emoji-picker .scroller::-webkit-scrollbar-track, .bda-dark .emoji-picker .scroller::-webkit-scrollbar-track-piece, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track-piece {
    background-color: transparent !important; border-color: transparent !important
}

.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-thumb, .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-thumb, .scrollerThemed-2oenus.themeLight-1_DWyY .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-dark .scrollerThemed-2oenus.themeLight-1_DWyY .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-light .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: #8a2849;
    border-radius: 0;
}

.searchBar-2_Yu-C.searchBarLight-1NxoDG {
    background-color: transparent;
}

.searchBar-2_Yu-C.searchBarLight-1NxoDG .searchBarInner-1_Tg2R {
    background-color: rgba(0,0,0,.5);
    border-radius: 0 !important;
}

.searchBar-2_Yu-C .searchBarInner-1_Tg2R {
    background: none;
    border:  none;
    border-radius: 0;
}

.searchBar-2_Yu-C.searchBarLight-1NxoDG input {
    color: #8a2849;
}

.bda-dark #bda-qem button:hover {
    background: #bd1e24;
}

.bda-dark #bda-qem button.active {
    background-color: #8a2849 !important;
}

.bda-dark #bda-qem button {
    border-left: none;
    background: #a6001a;
    box-shadow: none;
    border-radius: 0;
    color: white;
}

.bda-dark #bda-qem {
    border-radius: 0;
    background: transparent;
    border-bottom: none !important;
}

.item-1Yvehc.danger-2dXSTE:hover,
.theme-dark .item-1GzJrl:hover.leave-1DRJfn {
    color: white!important;
    background-color: #a0333a !important;
}

.item-1Yvehc.danger-2dXSTE,
.theme-dark .item-1GzJrl.leave-1DRJfn {
    color: #a0333a!important;
}

.item-1Yvehc.brand-3igrJY:hover,
.theme-dark .item-1GzJrl:hover.invite-271nFU {
    color: white!important;
    background-color: #7284b7 !important;
}

.item-1Yvehc.brand-3igrJY,
.theme-dark .item-1GzJrl.invite-271nFU {
    color: #7284b7!important;
}

::-webkit-input-placeholder {
   color: white !important;
}

.icon-2doZ3q {
    display: none;
}

.theme-dark .jumpToPresentBar-9P20AM,
.newMessagesBar-mujexs {
    background-color: rgba(0,0,0,.5);
}

.theme-dark .jumpToPresentBar-9P20AM:hover,
.newMessagesBar-mujexs:hover {
    background-color: rgba(0,0,0,.8);
}

.newMessagesBar-mujexs button:last-child,
.jumpToPresentBar-9P20AM button:last-child {
    color: white !important;
}

/* Upload Area(Unreachable) */

.uploadArea-3QgLtW {
    background-image: url(https://images8.alphacoders.com/920/920308.jpg);
    background-size: cover;
}

.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .bgScale-1otPtc {
    background: #530037;
    border-radius: 0;
}

.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo {
    border: none;
    border-radius: 0;
}

.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo .instructions-2Du9gG {
    color: white;
}
/* --- */

.theme-dark .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI:after, .theme-dark .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI:before,
.theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:after, .theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:before {
    border-color: transparent;
}

.noticeInfo-3_iTE1 {
    background-color: #8a2849;
    color: #fff;
}

.theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI {
    color: white;
    background-color: rgba(0,0,0,0.6);
    width: 140px;
    text-align: center;
}

.theme-dark .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI {
    color: rgba(240,71,71,.8);
    width: 140px;
    text-align: center;
    color: white;
    background-color: rgba(138, 40, 73,0.6);
}

.theme-dark .timestamp-1E3uAL {
    color: white;
}

.theme-dark .guild-1EfMGQ .guildInner-3DSoA4 {
    background: transparent !important;
}

.theme-dark .guildSeparator-1X4GQ1:after {
    background: transparent;
}

.theme-dark .guild-1EfMGQ.unread-qLkInr:before {
    background: #D92121;
}

.theme-dark .guild-1EfMGQ.selected-ML3OIq:before {
    background: #8a2849;
}

.theme-dark .friendsOnline-_wi_fM {
    color: white;
}

.theme-dark .unreadMentionsBar-1VrBNe {
    box-shadow: none;
}

.mention-1f5kbO:hover {
    background-color: rgb(138, 40, 73);
    border: 1px solid rgba(255,255,255,0.5);
}

.wrapper-232cHJ {
    background-color: #8a2849;
    border-radius: 0;
    box-shadow: none;
    padding: 5px 9px;
    text-shadow: none;
}

.badge-1GsMF2 {
    bottom: -7px;
    right: -2px;
}

.mention-1f5kbO {
    background-color: rgba(138, 40, 73,.6);
}

.theme-dark .wrapperHover-1GktnT:hover,
.theme-dark .isMentioned-N-h9aa .mention:hover {
    background-color: rgba(138, 40, 73,.7) !important;
    color: #fff !important;
     border: 2px solid rgba(255,255,255,0.55);
}


.theme-dark .wrapper-3WhCwL,
.theme-dark .isMentioned-N-h9aa .mention {
    background-color: rgba(138, 40, 73,.3) !important;
    color: white;
    border: 2px dashed rgba(255,255,255,0.35);
}

.botTagRegular-2HEhHi,
.botTagInvert-18-95s {
    background: #8a2849;
    color: #fff;
}

.channelIcon-MsmKOO {
    color: silver;
}

.theme-dark .contentTitle-2tG_sM,
.theme-dark .content-Qb0rXO {
    color: white;
    text-shadow: 0 3px 5px black,0 3px 5px black;
}

.theme-dark .description-11DmNu, 
.theme-dark .descriptionUsername-J_75O8 {
    color: silver;
    text-shadow: 0 3px 5px black,0 3px 5px black;
}

.description-11DmNu {
    overflow: visible;
}

.theme-dark .iconForeground-1w5n7R {
    fill: silver;
}

.theme-dark .selectorSelected-1_M1WV {
    background-color: rgba(255,255,255,0.12);
}

.theme-dark .autocomplete-1vrmpx {
    background-color: #8a2849;
}

.theme-dark .descriptionDiscriminator-3vUOCc {
    color: rgba(255,255,255,.8);
}

.theme-dark .contentTitle-2tG_sM strong {
    color: silver !important;
}

.theme-dark .divider-23swzi {
    background-color: transparent;
}

.uploadModal-2ifh8j {
    background-color: #8a2849;
    border-radius: 0;
    width: 620px;
}

.uploadModal-2ifh8j .footer-3mqk7D {
    background-color: rgba(138, 40, 73, 0.5);
    border-radius: 0;
}

.uploadModal-2ifh8j .inner-3nWsbo {
    border: none;
    border-radius: 0;
    color: white;
}

.textArea-2Spzkt {
    text-shadow: 0 3px 2px black;
    font-size: 0.8375rem;
    line-height: 1.55rem;
}

.theme-dark .inner-zqa7da {
    background-color: rgba(255,255,255,.13);
}

.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
    background-color: transparent;
    border: none;
    border-radius: 0;
    height: 174px;
    margin-top: -84px;
    width: 174px;
}

.diversitySelector-tmmMv0 .popout-2nUePc .item-16cXuq:hover {
    background-color: rgba(255,255,255,.1);
}

.bda-dark .emoji-picker .diversity-selector .popout-3sVMXz, .bda-dark .emojiPicker-3m1S-j .diversitySelector-tmmMv0 .popout-2nUePc {
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.uploadModal-2ifh8j .footer-3mqk7D .button {
    background-color: rgba(255, 51, 0,.5);
    color: white;
    height: 42px;
    margin-right: 12px;
}

.uploadModal-2ifh8j .footer-3mqk7D .button:hover {
    background-color: rgba(255, 51, 0,.8);
}

.uploadModal-2ifh8j .footer-3mqk7D .button-primary {
    background-color: #33cc33 !important;
    color: white;
    opacity: 1 !important;
}

.uploadModal-2ifh8j .footer-3mqk7D .button-primary:hover {
    background-color: #33cc33 !important;
    border: 1px solid white;
}

.theme-dark .container-2Thooq {
    background: rgba(0,0,0,.6);
}

.container-1UB9sr {
    background: rgba(0,0,0,.8);
    border-bottom: none;
    font-weight: 400;
}

.headerXbox-3G-4PF,
.topSectionXbox-3fWLjS,
.headerSpotify-zpWxgT,
.topSectionSpotify-1lI0-P {
    background: rgba(0, 0, 0, 0.5);
    border: 4px solid rgb(0, 153, 51);
}

/* Green Button Section */
.lookInverted-2D7oAl.colorGreen-29iAKY:hover,
.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
    border: 2px solid rgba(255,255,255,0.12);
}

.lookInverted-2D7oAl.colorGreen-29iAKY,
.lookFilled-1Gx00P.colorGreen-29iAKY {
    background-color: rgb(0, 153, 51) !important;
    color: white;
}



.form-deprecated .control-group input[type=email]:focus, .form-deprecated .control-group input[type=number]:focus, .form-deprecated .control-group input[type=password]:focus, .form-deprecated .control-group input[type=text]:focus, .form-deprecated .control-group textarea:focus, .form.deprecated .control-group input[type=email]:focus, .form.deprecated .control-group input[type=number]:focus, .form.deprecated .control-group input[type=password]:focus, .form.deprecated .control-group input[type=text]:focus, .form.deprecated .control-group textarea:focus {
    border-bottom: 2px solid rgb(0, 153, 51);
}


/*  */

.theme-dark .hasMore-3e72_v button {
    background: rgba(0,0,0,0.7) !important;
    border: none;
    color: white;
}

.theme-dark .embedInner-1-fpTo {
    background-color: rgba(0,0,0,.5);
    border-color: transparent;
}

.theme-dark .markup-2BOw-j pre {
    background: transparent;
    border-color: transparent;
}

.theme-dark .markup-2BOw-j code, 
.theme-dark .markup-2BOw-j code.inline {
    background: rgba(0,0,0,.4);
}

.theme-dark .hljs {
    color: white;
    line-height: 1.3rem;
}

.theme-dark .topic-2QX7LI {
    color: white;
}

#app-mount .welcomeMessage-3_Mcht h1 {
    color: silver;
}

.welcomeMessage-3_Mcht p {
    color: white;
}

.theme-dark .menu-Sp6bN1 {
    background: #8a2849;
    box-shadow: none;
    border-radius: 0;
}

.popout-3sVMXz {
    border-radius: 0;
    box-shadow: none;
}

.theme-dark .separator-2zcjq8 {
    border-bottom-color: transparent;
}

.theme-dark .item-1GzJrl:hover {
    background-color: rgba(255,255,255,0.1);
}

.theme-dark .alt-3btY0e .helper-2c73HK {
    display: none;
}

.theme-dark .item-1GzJrl {
    color: white;
}

.addButtonIcon-3u-3Hu {
    opacity: 1;
}

.iconCollapsed-3hFp_8, .iconDefault-3Gr8d2, .iconHovered-2L3-fB, .iconHoveredCollapsed-3caIIZ, .iconMuted-1HVBGH, .iconUnread-2eGkvX {
    display: none;
}

.nameCollapsed-34uFWo {
    color: silver;
}

.nameDefault-2DI02H {
    color: white;
}

.nameHovered-1gxhWH {
   color: #a6a6a6;
}

.nameHoveredCollapsed-2orEWB {
    color: #808080;
}

.nameMuted-1MCOt4 {
    font-size: 12px;
    color: #ff0000;
}

.nameUnread-njOjIS {
    color: #ffcc66;
}

.nameCollapsed-34uFWo, .nameDefault-2DI02H, .nameHovered-1gxhWH, .nameHoveredCollapsed-2orEWB, .nameMuted-1MCOt4, .nameUnread-njOjIS {
    text-align: center;
    text-transform: capitalize;
    text-shadow: 0 2px 3px black;
}

.overflowEllipsis-2JOaZ6 {
    overflow: visible;
}

.contentSelectedText-3wUhMi, 
.contentSelectedVoice-1WDIBM {
    background-color: rgba(138, 40, 73,.4);
    border: 2px solid #8a2849;
}

.contentConnectedVoice-qL-YrL:active, 
.contentHoveredText-2D9B-x, 
.contentHoveredVoice-3p_NEO:active, 
.contentSelectedVoice-1WDIBM:active {
    background: linear-gradient(90deg, rgba(138,40,73,0.6) 41%, transparent 100%);
    border: 1px solid #8a2849;
}

.theme-dark .embedDescription-1Cuq9a, .theme-dark .embedFieldValue-nELq2s, .theme-dark .embedFooterText-28V_Wb, .theme-dark .embedProvider-3k5pfl {
    color: white;
}

.wrapper-2NJDcI {
    background-color: #8a2849;
    border-radius: 3px;
    color: white;
    right: 52px;
    position: relative;
}

.background-2OVjk_ {
    opacity: .7;
}

.foreground-2W-aJk,
.icon-sxakjD {
    opacity: 1;
}

.nameDefault-2s3kbY {
    color: #e6e6e6;
}

.content-20Aix8 {
    border-radius: 0;
}

.nameDefaultText-24KCy5, 
.nameDefaultVoice-3WUH7s {
    color: white;
    border-right: 1px solid silver;
}

.nameLockedText-3pqQcL, 
.nameLockedVoice-26MhB1 {
    color: white;
    border-right: 1px solid #e60000;
}

.colorLockedText-1VRkPt, 
.colorLockedVoice-2UlBjl {
   color: #e60000;
}

.contentLockedText-1aHuz8, 
.contentLockedVoice-1gx-SP {
   background: linear-gradient(90deg, rgba(230, 0, 0,0.4) 29%, rgba(0,0,0,0) 46%);
}

.contentUnreadText-2vNnZc, 
.contentUnreadVoice-1dijOt {
  background: linear-gradient(90deg, rgba(255, 153, 51,0.4) 29%, rgba(0,0,0,0) 46%);
}

.nameUnreadText-DfkrI4, 
.nameUnreadVoice-EVo-wI {
    color: white;
    border-right: 1px solid #ff9933;
}

.colorUnreadText-2t7XRb, 
.colorUnreadVoice-137o4S {
    color: #ff9933;
}

.isMentionedCozy-3isp7y:after {
    background: transparent;
    border-left: none;
}

.theme-dark .isMentioned-N-h9aa {
    background: rgba(255,255,255,.2);
    padding: 7px 10px;
    border: 2px solid rgba(255,255,255,.4);
}

.unread-1Dp-OI {
    display: none;
}

.theme-dark .modal-3HD5ck {
    background: linear-gradient(180deg, rgba(138,40,73,0.8) 49%, rgba(0,0,0,1) 100%);
    box-shadow: none;
}

.theme-dark .footer-2yfCgX {
    background-color: transparent;
    box-shadow: none;
}

.theme-dark .guildName-3WI6ml, .theme-dark .override-2YgiXd, .theme-dark .overrideHighlight-YPcBxt {
    color: white;
}

.theme-dark .description-3_Ncsb, 
.theme-dark .labelDescriptor-1PqHgD {
    color: #ff9900;
}

.theme-dark .divider-3573oO {
    background-color: transparent;
}

.themeDefault-24hCdX.sizeDefault-2YlOZr {
    box-shadow: none;
}

.themeDefault-24hCdX,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch {
    background-color: black;
}

.themeDefault-24hCdX.valueChecked-m-4IJZ,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked {
    background-color: #8a2849;
}

.theme-dark .button-mM-y8i {
    background-color: rgba(0,0,0,0.3);
    box-shadow: none !important;
}
.theme-dark .button-mM-y8i:hover {
    background-color: rgba(0,0,0,0.6);
}

/* Discord Settings and BD */

.theme-dark .sidebarRegion-VFTUkN,
.theme-dark .contentRegion-3nDuYy {
    background: rgba(0,0,0,0.2);
}

.theme-dark .standardSidebarView-3F1I7i {
    background-image: url(https://images8.alphacoders.com/920/920308.jpg);
    background-size: cover;
}

.theme-dark .bda-slist li {
    background-color: rgba(0,0,0,.4);
    color: white;
    border-color: transparent;
    border-radius: 0;
}

.closeButton-1tv5uR:hover {
    background-color: rgba(255,255,255,.3);
}

.theme-dark .closeButton-1tv5uR {
    border-color: transparent;
}

.theme-dark .keybind-KpFkfr {
    color: white;
}

.theme-dark .bda-slist .bda-header {
    color: white;
    border-bottom-color: transparent;
}

.theme-dark .bda-slist .bda-description {
    color: silver;
}

.bd-pfbtn,
.bda-slist .bda-footer button {
    background: #8a2849;
    border-radius: 0;
}

.theme-dark .bda-slist .bda-footer {
    border-top-color: transparent;
}

.theme-dark .separator-gCa7yv,
.theme-dark #bd-settings-sidebar .ui-tab-bar-separator {
    background-color: transparent;
}

.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected,
.side-8zPYf6 .itemSelected-1qLhcL {
    background-color: #8a2849;
    color: #fff;
}

.contentRegion-3nDuYy #bd-customcss-attach-controls, 
#bd-customcss-detach-container #bd-customcss-attach-controls {
    background: black;
    color: #fff;
    border: 0;
    box-shadow: none;
}

.ace-monokai,
.editor,
.ace-monokai .ace_gutter {
    background-color: rgba(0,0,0,0.3);
    color: white;
}

.standardSidebarView-3F1I7i #editor-detached h3 {
    color: silver;
}

.standardSidebarView-3F1I7i #editor-detached button {
    background: #8a2849;
    color: #fff;
    font-weight: 400;
    border-radius: 0;
    font-size: 27px;
}

.ace-monokai .ace_gutter-active-line,
.ace-monokai .ace_marker-layer .ace_active-line {
    background-color: #8a2849;
}

.standardSidebarView-3F1I7i #bd-customcss-attach-controls button:hover, .bd-detached-css-editor #bd-customcss-attach-controls button:hover {
    background: rgba(138, 40, 73,.34) !important;
    border: 1px solid #8a2849 !important;
}

.standardSidebarView-3F1I7i #bd-customcss-attach-controls button, 
.bd-detached-css-editor #bd-customcss-attach-controls button {
    background: rgba(255,255,255,.34) !important;
    border: 1px solid transparent !important;
    margin-right: 12px;
}

.theme-dark #bd-settingspane-container .ui-switch-item .style-description {
    color: #ff9900;
    border: none;
}

.theme-dark #bd-settings-sidebar .ui-tab-bar-header,
.theme-dark .header-2RyJ0Y {
    color: #ff9900;
    text-align: center;
    font-weight: 400;
}

.theme-dark .item-3eFBNF,
.theme-dark .user-settings-games .game,
.theme-dark .row-2okwlC,
.theme-dark .notificationsSound-27jFSh {
    box-shadow: none;
}

.theme-dark .cardPrimary-1Hv-to,
.theme-dark .cardPrimaryOutline-29Ujqw {
    background: rgba(0,0,0,.6);
    border-color: transparent;
}

.theme-dark .cardPrimaryEditable-3KtE4g {
    background-color: rgba(0,0,0,.6);
    border-color: transparent;
    margin-bottom: 12px;
}

.theme-dark .cardPrimaryEditable-3KtE4g[style*="border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);"] {
    background-color: rgba(138, 40, 73,.5) !important;
    border-color: transparent !important;
}

.theme-dark .checked-3_4uQ9[style*="border-color: rgb(114, 137, 218);"] polyline[stroke] {
    stroke: #8a2849;
}

.theme-dark .checked-3_4uQ9 {
    background-color: rgba(0,0,0,0.5) !important;
    border-color: transparent !important;
}

.theme-dark .checkbox-1ix_J3 {
    border-color: rgba(255,255,255,0.2);
}

.theme-dark .markDash-3hAolZ {
    background: white;
}

.theme-dark .markValue-2DwdXI,
.theme-dark .text-GwUZgS, 
.theme-dark .title-2BxgL2 {
    color: white;
}

.theme-dark .user-settings-games .not-detected {
    background-color: rgba(0,0,0,0.5);
}

.theme-dark .add-game-popout {
    background-color: black;
}

/* Blue Button Section */
.lookFilled-1Gx00P.colorBrand-3pXr91:disabled {
    background-color:#0066cc;
}


.lookFilled-1Gx00P.colorBrand-3pXr91:hover,
.lookOutlined-3sRXeN.colorBrand-3pXr91:hover,
.form-deprecated .btn-primary:hover, 
.form.deprecated .btn-primary:hover,
.lookInverted-2D7oAl.colorBrand-3pXr91:hover {
    background-color: #0059b3;
}


.lookFilled-1Gx00P.colorBrand-3pXr91,
.lookOutlined-3sRXeN.colorBrand-3pXr91,
.form-deprecated .btn-primary, 
.form.deprecated .btn-primary,
.lookInverted-2D7oAl.colorBrand-3pXr91 {
    background-color: #0066cc;
    color: #fff;
}


.theme-dark .select-2TCrqx .Select-control .Select-placeholder {
    color: white;
}

.theme-dark .select-2TCrqx .Select-menu-outer {
    background: #8a2849;
    border-color: transparent;
    box-shadow: none;
}

.theme-dark .card-FDVird:before {
    background-color: rgba(255,255,255,0.13);
    border-color: transparent;
}

.theme-dark .user-settings-games .last-played, 
.theme-dark .user-settings-games .overlay-status-text {
    color: white;
}

.theme-dark .user-settings-games .game-name-input:focus, 
.theme-dark .user-settings-games .game-name-input:hover,
.theme-dark .user-settings-games .now-playing .game-name-input:focus, 
.theme-dark .user-settings-games .now-playing .game-name-input:hover {
    background-color: rgba(0,0,0,0.4);
    border-color: transparent;
}

.theme-dark .user-settings-games .now-playing .game-name {
    color: white;
}

.theme-dark .user-settings-games .now-playing, .theme-light .user-settings-games .now-playing {
    background-color: rgba(0, 153, 51, 0.7);
}

.theme-dark .select-2TCrqx .is-disabled .Select-control,
.theme-dark .select-2TCrqx .Select-control {
    background: rgba(0,0,0,.4);
    border-color: transparent;
}

.ghostPill-2-KUPM {
    background-color: rgba(255, 255, 0, 0.4);
    border-radius: 0;
    color: #ffff00;
}

.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
    background-color: transparent;
    border-color: transparent;
}

.userSettingsVoice-iwdUCU .media-engine-video {
    background-color: rgba(138, 40, 73, 0.5);
    border-radius: 0;
    border: 2px solid #8a2849;
}

.attendeeCTA-3ZZQWt,
.theme-dark .description-1W0DiL,
.theme-dark .yearlyNote-3CCz_7,
.lookOutlined-3sRXeN.colorGreen-29iAKY {
    color: silver;
}

.theme-dark .featureBorder-7j4v58 {
    border-color: transparent;
}

.theme-dark .tier1Banner-1B_WXY {
    background-color: rgba(0,0,0,0.5);
    background-image: url(/assets/cb89c31c79a62ae99ec12351c1efb277.svg);
    color: white;
}

.theme-dark .lookFilled-1h1y05.select-1Pkeg4:hover {
    background-color: rgba(0,0,0,0.6);
  }
.theme-dark .lookFilled-1h1y05.select-1Pkeg4 {
    border: none;
    background-color: rgba(0,0,0,0.3);
}

.theme-dark .container-2Zlzt0 {
    background-color: transparent;
}

.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(114, 137, 218);"] {
    color: #0099cc !important;
}

.theme-dark .side-8zPYf6 .itemDefault-3Jdr52:hover[style*="color: rgb(114, 137, 218); background-color: rgba(114, 137, 218, 0.0980392);"], 
.theme-dark .side-8zPYf6 .itemHover-EnbcjT:hover[style*="color: rgb(114, 137, 218); background-color: rgba(114, 137, 218, 0.0980392);"] {
    background-color: rgba(0, 153, 204,.19) !important;
    color: #0099cc !important;
}

.side-8zPYf6 .itemSelected-1qLhcL[style*="color: rgb(255, 255, 255); background-color: rgb(114, 137, 218);"] {
    background-color: #0099cc !important; 
    color: #fff !important;
}

.theme-dark .paymentPane-3bwJ6A,
.theme-dark .payment-xT17Mq {
    background-color: transparent;
    color: white;
}

.theme-dark .paymentRow-2e7VM6 {
    border-bottom: none;
}

.theme-dark .paginator-166-09 {
    background: transparent;
}

.theme-dark .hoverablePayment-Yc6mK7:hover {
    background-color: rgba(0,0,0,0.5);
}

.theme-dark .expandedInfo-3kfShd {
    background-color: rgba(0,0,0,0.8);
}

.theme-dark .paymentText-2vaF7U {
    color: silver;
}

.theme-dark .paymentHeader-3QlZQi {
    border-color: transparent;
}

.theme-dark .input-cIJ7To:hover {
    background-color: rgba(0,0,0,.6);
}


.theme-dark .input-cIJ7To {
    background-color: rgba(0,0,0,.3);
    border: none;
    color: white;
}
.theme-dark .paginator-2CA79G {
    color: white;
}

.theme-dark .input-cIJ7To:focus {
    background-color: rgba(255,255,255,.3);
}

.theme-dark .accountBtnInner-sj5jLs:hover {
    background-color: rgba(138, 40, 73, 0.8);
    border: 2px solid #8a2849;
}

.theme-dark .accountBtnInner-sj5jLs {
    background-color: rgba(138, 40, 73, 0.5);
    border-color: transparent;
}

.theme-dark .faded-3bns_w {
    color: rgba(220,221,222,.7);
}

.unreadBar-3YD_k9 {
    box-shadow: none;
}


.unread-1xRYoj {
    background-color: rgba(0,0,0,.6) !important;
}

.theme-dark .guildsAdd-21_IdK {
    background: rgba(0,0,0,0.6);
    border-color: transparent;
    color: white;
}

.theme-dark .guildsAdd-21_IdK:hover {
    background: rgba(138, 40, 73,0.6);
    border-color: #8a2849;
    color: white;
}

.guildsAdd-21_IdK {
    border-style: dashed;
    border-width: 2px;
    font-size: 35px;
}


.theme-dark .button-2b6hmh:hover, .theme-light .button-2b6hmh:hover {
    background-color: rgba(138, 40, 73,.6);
    border: 2px solid #8a2849;
}

.theme-dark .override-2YgiXd:hover {
    background-color: rgba(0,0,0,.8);
    border: 1px solid rgba(255,255,255,0.34);
}
/* To Friends Area */

.theme-dark .quickswitcher-3JagVE {
    background-color: #8a2849;
    color: white;
}

.theme-dark .input-2VB9rf {
    background-color: rgba(0,0,0,0.3);
    box-shadow: none;
}

.theme-dark .input-2VB9rf:focus {
    background-color: rgba(0,0,0,0.6);
}

.theme-dark .emptyStateNote-ZYTetQ {
    color: white;
}

.theme-dark .tipsWithoutResults-lGY-De, 
.theme-dark .tipsWithResults-HhTE9b {
    border-color: transparent;
    color: white;
}

.theme-dark .keybindShortcutTipsSelect-HDyfe8:last-of-type:before {
    background-color: transparent;
}

.theme-dark .keybindShortcut-1BD6Z1 span {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    box-shadow:  none;
    color: white;
}

.theme-dark .keybindShortcut-1BD6Z1 span:active {
    border: 1px solid #000;
    box-shadow: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}

.username-2hHyRL {
    opacity: .8;
}

.theme-dark .contentDefault-16dKSY {
    color: white;
}

.theme-dark .header-13MUnb {
    color: silver;
}

.theme-dark .resultFocused-3aIoYe {
    background-color: rgba(255,255,255,.12);
}

.theme-dark .contentUnread-3gTHvA .note-S--UP5 {
    color: silver;
}

.theme-dark .contentDefault-16dKSY .note-S--UP5 {
    color: orange;
}

.theme-dark .icon-30q1Or {
    color: white;
}

.icon-30q1Or {
    opacity: 1;
}

.iconBackground-1Hzc6Q {
    opacity: .6;
}

/* Friends Game Tabs */
.arrow-1-DaGi,
.nextArrow-_BbNud, 
.prevArrow-GBsQ1m {
    color: white;
}

.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track,.bda-dark .emoji-picker .scroller::-webkit-scrollbar, .bda-dark .emoji-picker .scroller::-webkit-scrollbar-track, .bda-dark .emoji-picker .scroller::-webkit-scrollbar-track-piece, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

.article-3kb3qm {
    background-color: transparent;
    border-radius: 0;
}

.theme-dark .header-1RC2Wb:hover {
    background-color: rgba(0,0,0,0.7);
}

.theme-dark .header-1RC2Wb {
    background-color: rgba(0,0,0,0.4);
}

.theme-dark .card-7JP0BX {
    background-color: transparent;
    color: white;
}

.theme-dark .body-SKIE6r {
    background-color: rgba(0,0,0,0.2);
}

.theme-dark .discriminator-1Kma2g {
    color: white;
}

.headerButtonColor-G7_f-V {
    background: #0066cc;
    color: #fff;
}

.theme-dark .lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV:hover {
    background-color: #0059b3;
    color: #fff;
}

.theme-dark .playTime-2SuPqW,
.streamGame-2odMhn,
.theme-dark .discriminator-pIKHPn, 
.theme-dark .playTime-1laRtO {
    color: silver;
}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:active, 
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover {
    background-color: #6c37bc;
}

.theme-dark .lookFilled-1Gx00P.hoverGreen-1gjdJc.hasHover-3X1-zV:hover {
    background-color: rgb(0, 153, 51);
}


.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    background-color: rgba(0,0,0,0.3);
    color: white;
}

/* Invite Parts */

.theme-dark .content-3CCvMx:before {
    background-color: transparent;
}

.searchBar-2_Yu-C {
    background-color: rgba(0,0,0,.5);
    border-radius: 0;
    box-shadow: none;
}
/*  */

.theme-dark .headerText-2niCs_ {
    border: none;
    color: white;
}

.theme-dark .player-1kJMbj {
     border: none;
}

.theme-dark .sectionLine-JjseS9,
.theme-dark .itemBackground-1jfD8p {
    background-color: transparent;
}

.theme-dark .itemBackground-1jfD8p:before {
    background: rgba(0,0,0,0.3);
}

.theme-dark .overlappingBorder-1ysb12 {
    border-color: #8a2849;
}

.theme-dark .distributionApplicationsActions-3D2_kD, .theme-dark .premiumApplicationsHeader-Zmkm5e {
    border-color: transparent;
}

.searchBar-6Kv8R2 {
    box-shadow: none;
}

.theme-dark .announcingNitro-3Ptg6m:hover {
    color: white;
}

.theme-dark .announcingNitro-3Ptg6m {
    border-color: transparent;
    color: silver;
}

.theme-dark .tileMedia-24cT6_ {
    background-color: transparent;
}

.theme-dark .tileWrapper-2khh-w {
    background-color: rgba(0,0,0,0.3);
    box-shadow: none;
}

.theme-dark .tileWrapper-2khh-w:hover {
    background-color: rgba(0,0,0,0.6);
    box-shadow: none;
}

.theme-dark .mediaDescription-31GsyQ {
    background: rgba(0,0,0,0.2);
}

.channel-2QD9_O.selected-1HYmZZ a {
    background-color: rgba(0,0,0,0.4);
}

.channel-2QD9_O:hover a {
    background-color: rgba(0,0,0,0.2);
}

.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.7);
    border-radius: 0;
}

.scroller-2FKFPG::-webkit-scrollbar {
    width: 17px;
}

.name-2WpE7M {
    color: white;
    opacity: .8;
}

.privateChannels-1nO12o header {
    opacity: 1;
}
/* Just for Channel Text-Shadow */
.name-3M0b8v {
    text-shadow: 0 2px 4px black,0 2px 4px black,0 2px 4px black;
}
/* */

.theme-dark .friendsTable-133bsv .friendTableAddWrapper-nHHZtK .friendTableSuggestionsHeader-2zSnpD,
.theme-dark .friendsTable-133bsv .friendsRow-2yicud+.friendsRow-2yicud {
    border: none;
}

.theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d .friendsColumnSeparator-3MqtMA,
.theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d .friendsColumnSeparator-3MqtMA {
    background-color: transparent;
}

.theme-dark .friendsTable-133bsv .friendsRow-2yicud .friendsColumnGuilds-2we6jb .moreMutualGuildsBtn-2VwbkO:hover {
    background-color: rgba(0,0,0,0.5);
}


.theme-dark .friendsTable-133bsv .friendsRow-2yicud .friendsColumnGuilds-2we6jb .moreMutualGuildsBtn-2VwbkO {
    border: none;
    color: white;
}

.friendsTable-133bsv .friendsRow-2yicud .friendsColumnStatus-ZH4ho2 .friendActivityText-2lmziy, .friendsTable-133bsv .friendsRow-2yicud .friendsColumnStatus-ZH4ho2 .statusText-2F9zIF,
.friendsTable-133bsv .friendsRow-2yicud .discord-tag .username,
.theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d .friendsColumn-eVHFqJ {
    color: white;
}

.theme-dark .friendsTable-133bsv .friendsRow-2yicud .friendsColumnStatus-ZH4ho2 .friendActivityIconForeground-3X031q {
    fill: silver;
}

.theme-dark .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9 {
    background-color: rgba(0,0,0,0.6);
}

.friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9.friendsActionRemove-qu8nnl:hover {
    background-color: #e60000!important;
}

.theme-dark .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9:hover {
    background-color: #8a2849;
}

.theme-dark .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9 {
    border-radius: 6px;
}

.theme-dark .topPill-30KHOu .itemSelected-1qLhcL {
    background-color: rgba(138, 40, 73, 0.6);
    color: white;
}

.theme-dark .friendsTable-133bsv .friendsRow-2yicud:hover {
    background: rgba(0,0,0,.3);
}

.theme-dark .topPill-30KHOu .item-PXvHYJ:hover:not(.selected) {
    background-color: rgba(255,255,255,0.13);
}

.theme-dark .tabBar-1E2ExX .primary-3j8BhM {
    background-color: rgba(0,0,0,0.4) !important;
}

.theme-dark .tabBar-1E2ExX .primary-3j8BhM:hover:not(.selected) {
    background-color: rgba(255,255,255,0.4) !important;
}

.tabBar-1E2ExX .primarySelected-3uHKZn {
    background-color: #8a2849 !important;
    color: white !important;
}

.theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d {
    border-bottom: transparent;
}

.theme-dark .friendsTable-133bsv .friendTableAddWrapper-nHHZtK .friendTableAddHeader-m9bzFr {
    background: rgba(0,0,0,0.2);
    border-bottom: transparent;
}

.theme-dark .wrapper-1cBijl {
    background-color: rgba(0,0,0,.8);
    border-color: transparent
}

.theme-dark .friendSelected--wQP3f {
    background-color: rgba(0,0,0,.3);
    color: #fff;
}

.theme-dark .checkbox-1ix_J3[style*="border-color: rgb(79, 84, 92);"] polyline[stroke] {
    stroke: white;
} 

.searchBarTag-2xRzm8 {
    background: rgba(0,0,0,0.5);
    border-radius: 0;
}

/* All Headers and Body */
.theme-dark .headerNormal-T_seeN,
.theme-dark .topSectionNormal-2-vo2m {
    background-color: rgba(0,0,0,0.5);
}

.headerStreaming-2FjmGz,
.topSectionStreaming-1Tpf5X {
    border: 4px solid #6d2bb6;
    background: rgba(0,0,0,0.5);
}

.buttonInvertedPurple-WtBglX {
    background-color: #6d2bb6;
    color: white;
}

.buttonInvertedPurple-WtBglX:hover {
    background-color: #572292;
    color: white;
}

.lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover {
    border-color: transparent;
    background-color: #6d2bb6;
}

.headerPlaying-j0WQBV,
.topSectionPlaying-1J5E4n {
    background: rgba(0,0,0,0.5);
    border: 4px solid #0066cc;
}

.theme-dark .body-3iLsc4, 
.theme-dark .footer-1fjuF6,
.theme-dark .body-3ND3kc {
    background-color: rgba(0,0,0,0.7);
    color: white;
}

.userPopout-3XzG_A {
    border-radius: 0;
    box-shadow: none;
}

.theme-dark .footer-1fjuF6 {
    border: none;
}

.bodyTitle-Y0qMQz,
.userInfoSectionHeader-CBvMDh {
    color: white;
}

.role-2irmRk {
    border: none;
    border-radius: 5px;
}

.theme-dark .note-3kmerW textarea {
    color: white;
}
.note-3HfJZ5 textarea,
.note-QfFU8y textarea {
    border-radius: 5px;
    padding: 10px;
}

.theme-dark .note-3kmerW textarea:focus,
.theme-dark .root-SR8cQa .note-QfFU8y textarea:focus {
    background-color: rgba(255,255,255,0.12);
}

.protip-YaFfgO {
   display: none;
}

.theme-dark .quickMessage-1yeL4E {
    background-color: rgba(138, 40, 73, 0.5);
    border-color: transparent;
    color: white;
}

.tabBarContainer-1s1u-z {
    border-top: none;
}

.tab-bar.tabBar-2MuP6- .tabBarItem-1b8RUP:hover {
    border-bottom-color: transparent;
    background-color: rgba(255,255,255,0.12);
    padding: 4px 2px;
}

.theme-dark .connectedAccount-36nQx7 {
    border-color: #8a2849;
    background-color: rgba(138, 40, 73, 0.4);
}

.theme-dark .userInfoSection-2acyCx+.userInfoSection-2acyCx {
    border-color: transparent;
}

.connectedAccountName-f8AEe2 {
    color: white;
    text-shadow: 0 2px 3px black,0 2px 3px black,0 2px 3px black;
}

.connectedAccountName-f8AEe2, 
.connectedAccountNameInner-1phBvE {
    overflow: visible;
}

.guildNick-3uAm3i, 
.listName-3w10cx {
    color: white;
}