//META{"name":"Ram","description":"Go For Team Ram","author":"DevilsLynAvenged","version":"1"}*//{}

.theme-dark .title-3qD0b-,
.theme-dark .headerBar-UHpsPw {
   background: transparent;
   box-shadow: none;
}

.header-2o-2hj,
.searchBar-6Kv8R2 {
   box-shadow: none;
}

.container-PNkimc,
.channels-Ie2l6A,
.container-2lgZY8,
.theme-dark .guildsWrapper-5TJh6A,
.theme-dark .typing-2GQL18,
.theme-dark .container-3gCOGc,
.theme-dark .chat-3bRxxu,
.theme-dark .chat-3bRxxu form,
.theme-dark .content-yTz4x3,
.theme-dark .messagesWrapper-3lZDfY {
   background-color: transparent;
}

.theme-dark .members-1998pB {
   background-color: rgba(0, 0, 0, 0.2);
}

.theme-dark .layer-3QrUeG,
.theme-dark .layers-3iHuyZ {
   background: rgba(0, 0, 0, 0.4);
}

#app-mount {
   background-image: url(https://images7.alphacoders.com/739/739983.jpg);
   background-size: cover;
   background-position: center;
}

/* Friends */

.searchBar-2_Yu-C {
   background-color: transparent;
   border-radius: 0;
   box-shadow: none!important
}

.searchBar-2_Yu-C .searchBarInner-1_Tg2R {
   background: rgba(0, 0, 0, .7);
   border: none;
   border-radius: 0
}

::-webkit-input-placeholder {
   color: #fff!important
}

.channel-2QD9_O.selected-1HYmZZ a {
   background-color: rgba(248, 150, 193, 0.62)!important
}

.channel-2QD9_O:hover a {
   background: rgba(255, 255, 255, 0.32);
}

.channel-2QD9_O a {
   padding-right: 15px!important
}

.theme-dark .quickswitcher-3JagVE {
   background-color: rgba(248, 150, 193, 0.82);
   color: #fff;
}

.backdrop-1wrmKB {
   background-color: rgba(0, 0, 0, 0.5)!important;
   opacity: 1!important
}


.aka-1mqp34 {
    background: #f896c1;
    border-radius: 0;
    color: #fff;
}


.theme-dark .input-2VB9rf {
   background-color: #f896c1;
   border: 1px solid rgba(255, 255, 255, 0.23)
}

.theme-dark .emptyStateNote-ZYTetQ {
   color: white;
}

.theme-dark .tipsWithoutResults-lGY-De,
.theme-dark .tipsWithResults-HhTE9b {
   border-color: transparent;
   color: white
}

/* Links */
.emptyStateCTA-veJ2Cu a,
.standardSidebarView-3F1I7i a,
.bda-slist .bda-footer a,
.anchor-3Z-8Bb,
.theme-dark .markup-2BOw-j a,
.content-8biNdB a,
.operations-36ENbA>a,
.theme-dark .topic-2QX7LI a {
   color: #1e90ff;
   opacity: 1
}

.theme-dark .embedTitleLink-1Zla9e,
.need-help-modal.form.deprecated a {
    color: #1e90ff!important;
}
/* --- */

.theme-dark .keybindShortcutTipsSelect-HDyfe8:last-of-type:before {
   background-color: transparent
}

.theme-dark .keybindShortcut-1BD6Z1 span {
   background-color: #f896c1;
   border: none !important;
   box-shadow: none !important;
   color: white
}

.theme-dark .header-13MUnb,
.theme-dark .contentDefault-16dKSY,
.theme-dark .icon-30q1Or,
.theme-dark .contentDefault-16dKSY .note-S--UP5 {
   color: white
}

.theme-dark .contentUnread-3gTHvA .note-S--UP5 {
   color: #58427C;
}

.quickswitcher-3JagVE .avatar-xsmall {
   width: 30px;
   height: 30px;
   background-size: cover;
   border-radius: 0;
   box-sizing: border-box;
   margin-left: -6px
}

.theme-dark .resultFocused-3aIoYe {
   background-color: rgba(255, 255, 255, .4);
   box-shadow: 0 0 12px rgba(255, 255, 255, .6)
}

.name-2WpE7M {
   color: #fff;
   font-size: 13px;
   opacity: 1
}

.privateChannels-1nO12o header {
   opacity: 1
}

.theme-dark .text-GwUZgS,
.theme-dark .title-2BxgL2,
.theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d .friendsColumn-eVHFqJ {
   color: #fff
}

.theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d {
   border: none
}

.theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d .friendsColumnSeparator-3MqtMA,
.theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d .friendsColumnSeparator-3MqtMA {
   background-color: transparent
}

#friends .tab-bar {
   font-weight: 300;
   letter-spacing: 2px
}

.theme-dark .container-3gCOGc .tab-bar .tab-bar-item {
   color: #fff
}

#friends .tab-bar .tab-bar-item {
   border-radius: 0;
   padding: 7px 13px
}

.theme-dark .topPill-30KHOu .item-PXvHYJ:hover:not(.itemSelected-1qLhcL) {
   background-color: rgba(255, 255, 255, 0.22);
   border: 2px solid rgba(255, 255, 255, 0.34)
}

.theme-dark .topPill-30KHOu .itemSelected-1qLhcL {
   background-color: rgba(255, 255, 255, 0.22);
   color: #fff
}

.theme-dark .divider-2PMBlV {
   background: transparent
}

#friends .tab-bar-item .wrapper-232cHJ {
   background-color: #f896c1;
   padding: 3px;
   border: 1px outset #fff;
   border-radius: 0
}

.channel-2QD9_O a .wrapper-232cHJ {
   background-color: #f896c1;
   padding: 6px 11px;
   border: 1px outset #fff;
   border-radius: 50px
}

.tabBar-1E2ExX .primary-3j8BhM {
   background-color: #f896c1 !important;
}

.tabBar-1E2ExX .primarySelected-3uHKZn {
   color: white  !important;
}

.lookFilled-1Gx00P.colorBrand-3pXr91:disabled,
.lookFilled-1Gx00P.colorBrand-3pXr91 {
   background-color: #4570E6
}

.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
   background-color: #1f52e0
}

.theme-dark .friendsTable-133bsv .friendTableAddWrapper-nHHZtK .friendTableSuggestionsHeader-2zSnpD {
   border-bottom: none
}

.theme-dark .friendsTable-133bsv .friendTableAddWrapper-nHHZtK .friendTableAddHeader-m9bzFr {
   background: rgba(0, 0, 0, 0.07);
   border-bottom: none
}

.theme-dark .wrapper-1cBijl {
   background-color: rgba(0, 0, 0, .2);
   border-color: transparent
}

.wanderingCubesItem-WPXqao,
.spinner-wandering-cubes .spinner-item {
   background-color: #f896c1
}

.spinner-wandering-cubes-1eyF3t {
   background-color: #f896c1
}

.progress-2XXRYo,
.progressBar-3u8FBM.small-1CUeBa,
.progressBar-3u8FBM.large-3EPlRk,
.mediaBarGrabber-1FqnbN,
.mediaBarProgress-1xaPtl,
.mediaBarProgress-1xaPtl:after,
.mediaBarProgress-1xaPtl:before {
   background-color: #f896c1!important
}

.video-1FfuMD,
.theme-dark .private-channel-call {
   background-color: rgba(0, 0, 0, 0.4)
}

.theme-dark .callAvatar-v-u4BM.voice-2D-tt_ .callAvatarStatus-3y6S04 {
   border-color: #000;
   background-color: #f896c1;
   border-radius: 50px
}

.callAvatarBorder-1D_KaE.voice-2D-tt_.speaking-oCqYMI,
.callAvatarBorder-1D_KaE.video-3GgX2M.speaking-oCqYMI {
   border-radius: 50px;
   box-shadow: none;
   border: 2px solid #f896c1
}

.theme-dark .private-channel-call.minimum .private-channel-call-actions .center,
.theme-dark .wrapper-29NfPK {
   background-color: transparent;
   border-color: transparent
}

.theme-dark .wrapper-29NfPK.minimum-2d6zH6 .actions-2vadYq .center-1Vp33r {
   background-color: transparent;
   border-color: transparent
}

.lookFilled-1Gx00P.colorRed-1TFJan,
.lookOutlined-3sRXeN.colorRed-1TFJan {
   background-color: rgba(195, 34, 56, 0.5);
   color: #fff
}

.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(240, 71, 71);"] {
   background-color: rgba(195, 34, 56, 0.5) !important;
   color: white !important
}

.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(240, 71, 71); background-color: rgba(240, 71, 71, 0.0980392);"] {
   background-color: rgba(218, 44, 67, 0.8) !important
   background-image: none !important;
}


.lookFilled-1Gx00P.colorRed-1TFJan:hover,
.lookOutlined-3sRXeN.colorRed-1TFJan:hover {
   background-color: rgba(218, 44, 67, 0.8)
}

.lookFilled-1Gx00P.colorGreen-29iAKY {
   background-color: rgba(101, 176, 54, 0.5);
   color: #fff
}

.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
   background-color: rgba(112, 195, 60, 0.8)
}

.theme-dark .guild-1EfMGQ .guildInner-3DSoA4 {
   background: #f896c1!important;
   border-radius: 50px!important
}

#friends .friends-table .friends-row .friends-column-name .avatar-small {
   width: 47px;
   height: 47px;
   border-radius: 0;
   background-size: cover
}

.theme-dark .friendsTable-133bsv .friendsRow-2yicud+.friendsRow-2yicud {
   border-top: none
}

.theme-dark .friendsTable-133bsv .friendsRow-2yicud .friendsColumnStatus-ZH4ho2,
.theme-dark .container-3gCOGc .friends-table .friends-row .friends-column-name {
   color: #fff
}

.theme-dark .friendsTable-133bsv .friendsRow-2yicud:hover {
   background: rgba(0, 0, 0, .5);
}

.iconSizeSmall-3aWgx9 {
   background-color: transparent
}

.theme-dark .friendsTable-133bsv .friendsRow-2yicud .friendsColumnGuilds-2we6jb .moreMutualGuildsBtn-2VwbkO:hover {
   border-color: transparent;
   background-color: rgba(248, 150, 193, 0.5)
}

.theme-dark .friendsTable-133bsv .friendsRow-2yicud .friendsColumnGuilds-2we6jb .moreMutualGuildsBtn-2VwbkO {
   border-color: transparent;
   color: #fff
}

.theme-dark .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9:hover {
   background-color: #f896c1
}

.theme-dark .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9 {
   background-color: rgba(248, 150, 193, 0.6); /* PTC */
}

.friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9.friendsActionRemove-qu8nnl:hover {
   background-color: #da2c43!important
}

.avatar-large .status,
.avatar-profile .status,
.avatar-small .status,
.avatar-xlarge .status,
.avatar-xsmall .status,
.avatar-xxlarge .status {
   border: 2px solid #000!important
}

.theme-dark .modal-3HD5ck {
   background-color: rgba(0, 0, 0, 0.79);
   box-shadow: none
}

.theme-dark .checkbox-1ix_J3 {
   border-color: transparent;
   background-color: rgba(255, 255, 255, 0.09);
   border-radius: 0
}

.searchBarTag-2xRzm8 {
   background: rgba(255, 255, 255, 0.20);
   border-radius: 0;
   font-weight: 500;
   height: 27px;
   padding: 0 12px;
}

/* Checkbox Style */

.theme-dark .checkbox-1ix_J3[style*=" border-color: rgb(79, 84, 92);"],
.theme-dark .checkbox-1ix_J3[style*="border-color: rgb(114, 137, 218);"]{
   border-color: rgba(0, 0, 0, 0)!important
}

.theme-dark .checkbox-1ix_J3[style*=" border-color: rgb(79, 84, 92);"] polyline[stroke],
.theme-dark .checkbox-1ix_J3[style*="border-color: rgb(114, 137, 218);"] polyline[stroke] {
   stroke: white
}

/* Checkbox Style */

.theme-dark .friendSelected--wQP3f {
   background-color: rgba(255, 255, 255, .2)
}

.theme-dark .activityFeed-28jde9 {
   background-color: transparent
}

.article-3kb3qm {
   background-color: black;
   border-radius: 0
}

.theme-dark .header-1RC2Wb {
   background-color: rgba(0, 0, 0, 0.23)
}

.theme-dark .header-1RC2Wb:hover {
   background-color: rgba(0, 0, 0, 0.83)
}

.theme-dark .guildIconEmptyBackground-14tfYf {
   background-color: transparent
}

.theme-dark .bottomSeparator-3cIFah {
   border-color: transparent
}

.theme-dark .guild-1EfMGQ.audio-3vVhBi .guildInner-3DSoA4:after,
.theme-dark .guild-1EfMGQ.video-15yGu3 .guildInner-3DSoA4:after {
   background-color: rgba(0, 0, 0, 0.48);
   top: -1px;
   right: -1px
}

.theme-dark .body-SKIE6r {
   background-color: transparent
}

.theme-dark .card-7JP0BX {
   background-color: rgba(0, 0, 0, 0.5);
   color: #fff
}

.theme-dark .lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV:hover {
   border: 2px solid rgba(255, 255, 255, 0.23)
}

.headerButtonColor-G7_f-V {
   background: #f896c1!important;
   color: #fff
}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
   background-color: #6B3FA0;
   color: #fff
}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:active,
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover,
.theme-dark .lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV:hover {
   background-color: #6B3FA0;
   border: 2px solid rgba(255, 255, 255, 0.09)
}

.theme-dark .headerText-2niCs_ {
   border: none;
   color: #fff
}

.theme-dark .player-1kJMbj {
   border: none
}

.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track,
.theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track,
.theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track,
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
   background-color: transparent;
   border: none
}

.theme-dark .sectionLine-JjseS9 {
   background-color: transparent
}

.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb,
.theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb,
.theme-light .scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb,
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
   background-color: rgba(0, 0, 0, 0.45);
   border-radius: 0;
   border: none
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb, .scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    background-color: transparent;
    border: none;
}
.scroller-2FKFPG::-webkit-scrollbar,
.scroller-wrap .scroller::-webkit-scrollbar {
   width: 24px
}

.theme-dark .friendsOnline-_wi_fM {
  color: white
}

.theme-dark .guildSeparator-1X4GQ1:after {
    background: transparent
}

/* Discord and BD */

.theme-dark .contentRegion-3nDuYy,
.theme-dark .sidebarRegion-VFTUkN{
    background: transparent
}

.theme-dark .standardSidebarView-3F1I7i {
    background: rgba(0,0,0,0.3)
}

.theme-dark .closeButton-1tv5uR:hover {
    background-color: rgba(255,255,255,.2)
}

.theme-dark .closeButton-1tv5uR {
    border-color: transparent
}

.theme-dark .cardPrimary-1Hv-to {
    background: rgba(0,0,0,.5);
    border-color: transparent
}

.theme-dark .userSettingsAccount-2eMFVR .viewBody-2Qz-jg,
.theme-dark .description-3_Ncsb, .theme-dark .labelDescriptor-1PqHgD,
.theme-dark .bda-slist .bda-description {
    color: #eccc68
}

.theme-dark .faded-3bns_w {
    color: white
}

.theme-dark .bda-slist li {
    background-color: rgba(0,0,0,.3);
    color: white;
    border-color: transparent;
    border-radius: 0
}

.theme-dark .bda-slist .bda-header {
    color: white;
    border-bottom-color: transparent
}

.bd-pfbtn,
.theme-dark .theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected,
.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected,
.bda-slist .bda-footer button,
.standardSidebarView-3F1I7i #editor-detached button,
.side-8zPYf6 .itemSelected-1qLhcL {
    background: #f896c1 !important;
    color: #FFF;
    border-radius: 0
}

.standardSidebarView-3F1I7i #editor-detached h3 {
    color: white
}

.theme-dark .item-3eFBNF,
.theme-dark .game-1ipmAa,
.theme-dark .row-2okwlC,
.theme-dark .notificationsSound-27jFSh {
    box-shadow: none
}

.theme-dark .divider-3573oO {
    background-color: transparent
}

.containerCozyBounded-1rKFAn {
    overflow: visible
}

.avatar-17mtNa .large-3ChYtB {
    width: 59px;
    height: 59px;
    margin-left: 27px
}

.theme-dark .timestampCozy-2hLAPV {
    color: silver
}

.theme-dark .footer-2yfCgX {
    background-color: transparent;
    box-shadow: none;
}

.contentCozy-3XX413 {
    margin-left: 120px
}

.theme-dark .headerCozyMeta-rdohGq {
    color: white;
    margin-left: 40px
}

.theme-dark .dividerEnabled-2TTlcf {
    border-bottom-color: transparent
}

.theme-dark .cardPrimaryOutline-29Ujqw {
    border-color: transparent;
    background-color: rgba(0,0,0,0.3)
}


.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span {
    background-color: #f896c1;
    border-color: transparent
}

.standardSidebarView-3F1I7i #bd-customcss-attach-controls button, .bd-detached-css-editor #bd-customcss-attach-controls button {
    background: #f896c1 !important;
    color: #FFF;
    border-radius: 0;
    margin-right: 12px;
    border: 2px dashed rgba(255,255,255,0.56) !important
}

.standardSidebarView-3F1I7i #bd-customcss-attach-controls button:hover, .bd-detached-css-editor #bd-customcss-attach-controls button:hover {
    border: 2px solid rgba(255,255,255,0.56) !important
}

.theme-dark #bd-settingspane-container .ui-switch-item .style-description {
    color: silver;
    border: none
}


.theme-dark #bd-settings-sidebar .ui-tab-bar-separator,
.theme-dark .separator-gCa7yv {
    background-color: transparent
}


.theme-dark #bd-settings-sidebar .ui-tab-bar-header,
.theme-dark .header-2RyJ0Y {
    color: #f896c1;
    text-align: center
}

.theme-dark .featureBorder-7j4v58 {
    border-color: transparent
}

.theme-dark .description-1W0DiL {
    color: silver
}

.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(114, 137, 218);"] {
    color: #f896c1 !important;
}

.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(114, 137, 218); background-color: rgba(114, 137, 218, 0.0980392);"] {
   color: white !important;
   background-color: rgba(248, 150, 193, 0.19) !important
}

.side-8zPYf6 .itemSelected-1qLhcL[style*="color: rgb(255, 255, 255); background-color: rgb(114, 137, 218);"] {
    color: #fff !important;
}
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked,
.themeDefault-24hCdX.valueChecked-m-4IJZ {
   background: #f896c1
}

#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch,
.themeDefault-24hCdX {
    background: rgba(0,0,0,0.8)
}

.ace-monokai,
.ace-monokai .ace_gutter,
.editor {
    background-color: rgba(0,0,0,0.3);
    color: white
}


.ace-monokai .ace_gutter-active-line,
.ace-monokai .ace_marker-layer .ace_active-line {
    background-color: rgba(255,255,255,0.42)
}

.content-region #bd-customcss-attach-controls, #bd-customcss-detach-container #bd-customcss-attach-controls {
    background: rgba(0,0,0,0.5);
    color: #FFF;
    border: 0;
    box-shadow: none
}


.theme-dark .bda-slist .bda-footer {
    border-top-color: transparent
}

.theme-dark .keybind-KpFkfr {
    color: white
}

.theme-dark #bd-settings-sidebar .ui-tab-bar-item:hover,
.theme-dark .side-8zPYf6 .itemDefault-3Jdr52:hover, .theme-dark .side-8zPYf6 .itemHover-EnbcjT:hover {
   background-color: rgba(255, 255, 255, .4);
    color: white
}

.theme-dark .h5-18_1nd {
    color: silver
}

.theme-dark .cardPrimaryEditable-3KtE4g {
    background: rgba(0,0,0,.5);
    border-color: transparent
}

.theme-dark .cardPrimaryEditable-3KtE4g[style*="border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);"] {
    background: #f896c1 !important;
    border-color: rgba(0, 0, 0, 0) !important
}

.theme-dark .bar-2Qqk5Z {
    background: black
}

.theme-dark .bar-2Qqk5Z[style*="background: rgb(105, 196, 154);"] {
    background: #000 !important
}

.barFill-23-gu- {
    background: #f896c1
}

.barFill-23-gu-[style*="background: rgb(251, 184, 72);"] {
    background: #f896c1 !important
}

.theme-dark .markDash-3hAolZ {
    background: white
}

.theme-dark .markValue-2DwdXI {
    color: white
}

.theme-dark .card-FDVird:before {
    background-color: rgba(0,0,0,0.5);
    border-color: transparent
}

.theme-dark .button-mM-y8i {
    background-color: rgba(0,0,0,0.5);
    box-shadow: none
}

.theme-dark .gameNameInput-385LoS:focus, .theme-dark .gameNameInput-385LoS:hover,
.theme-dark .nowPlaying-284llR .gameNameInput-385LoS:focus, .theme-dark .nowPlaying-284llR .gameNameInput-385LoS:hover {
    background-color: rgba(255,255,255,0.09);
    border-color: transparent;
    color: white
}

.theme-dark .lastPlayed-3bQ7Bo, 
.theme-dark .overlayStatusText-L2IACa {
    color: white;
}

.lookLink-9FtZy-.colorLink-35jkBc {
    color: #f896c1
}

.lookLink-9FtZy-.colorLink-35jkBc:hover .contents-18-Yxp {
    background-image: linear-gradient(0deg,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0) 1px,#f896c1 0,#f896c1 2px,rgba(0, 0, 0, 0) 0)
}

.theme-dark .addGamePopout-2RY8Ju {
    background-color: black
}

.theme-dark .select-2TCrqx .Select-control .Select-placeholder {
    color: white
}

.theme-dark .select-2TCrqx .Select-menu-outer {
    background: black;
    border-color: transparent;
    box-shadow: none;
}

.theme-dark .select-2TCrqx .Select-option.is-focused {
    background: transparent;
    border: 2px solid rgba(255,255,255,0.45)
}

.theme-dark .select-2TCrqx .Select-option:hover {
    background: transparent;
    border: 2px solid rgba(255,255,255,0.15)
}

.theme-dark .nowPlaying-284llR, .theme-light .nowPlaying-284llR {
    background-color: #009432;
}

.theme-dark .nowPlaying-284llR .last-played, .theme-dark .nowPlaying-284llR .overlay-status-text,
.theme-dark .user-settings-games .not-detected .last-played, .theme-light .notDetected-33MY4s .last-played {
    color: white
}


.theme-dark .select-2TCrqx .Select-control {
    background: rgba(0,0,0,.3);
    border: none;
    box-shadow: none
}


.theme-dark .user-settings-games .not-detected {
    background-color: rgba(0,0,0,0.7)
}

.ghostPill-2-KUPM {
    background-color: rgba(255, 195, 18,.4);
    border-radius: 0;
    color: #FFC312
}

.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
    background-color: transparent;
    border-color: transparent
}

.userSettingsVoice-iwdUCU .media-engine-video {
    background-color: rgba(0,0,0,0.4);
    border-radius: 0
}

.theme-dark .accountBtnInner-sj5jLs:hover {
    background-color: rgba(255,255,255,0.19);
    border-color: transparent
}

.theme-dark .accountBtnInner-sj5jLs {
    background-color: rgba(255,255,255,0.07);
    border-color: transparent
}

.lookOutlined-3sRXeN.colorBrand-3pXr91 {
    border-color: transparent;
    color: white;
}

.theme-dark .input-cIJ7To:hover {
    border-color: #f896c1;
}

.theme-dark .input-cIJ7To:focus {
    border-color: #FFC312;
}
.theme-dark .input-cIJ7To.focused-1mmYsC {
    border-color: #ffcc00;
}

.theme-dark .multiInputLast-1aQ3YA:before {
    border-right-color: transparent;
}

.theme-dark .input-cIJ7To {
    background-color: rgba(0,0,0,.4);
    border-color: transparent;
    color: white
}

.theme-dark .paymentRow-2e7VM6 {
    border-bottom: none;
}

.theme-dark .paymentPane-3bwJ6A,
.theme-dark .paginator-166-09,
.theme-dark .payment-xT17Mq {
    background-color: transparent;
    color: white;
}

.paymentPane-3bwJ6A {
    border-radius: 0;
    overflow: visible;
}

.theme-dark .hoverablePayment-Yc6mK7:hover,
.theme-dark .expandedInfo-3kfShd {
    background-color: rgba(255,255,255,0.116);
}
/* Main Chat and Last Big Area */

.avatarSpeaking-1wJCNq {
    box-shadow: 0 0 0 2px #BEE64B, inset 0 0 0 1.5px black;
    border-radius: 12px
}

.theme-dark .embedPill-1Zntps {
    background-color: transparent !important
}

.theme-dark .embedInner-1-fpTo,
.theme-dark .attachment-33OFj0 {
    background-color: rgba(0,0,0,.4);
    border-color: transparent
}

.theme-dark .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI:after, .theme-dark .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI:before,
.theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:after, .theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:before {
    border-color: transparent
}

.theme-dark .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI {
    color: white;
    background-color: #f896c1;
    padding: 6px 0
}

.theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI {
    color: white;
    background-color: rgba(248, 150, 193,0.3);
    padding: 6px 0
}

.container-1UB9sr {
    background: linear-gradient(154deg, rgba(0,0,0,1) 0%, #f896c1 100%);
    border-bottom: none;
    font-weight: 400
}

.theme-dark .container-2Thooq {
    background: linear-gradient(17deg, rgba(0,0,0,1) 0%, #f896c1 100%)
}

.theme-dark .guild-1EfMGQ.unread-qLkInr:before {
    background: #f896c1
}

.guild-1EfMGQ.unread-qLkInr:before {
    border-radius: 0
}

.theme-dark .guild-1EfMGQ.selected-ML3OIq:before {
    background: #88d13a
}

.header-2o-2hj:hover {
    background-color: rgba(0,0,0,.4)
}

.popout-open .header-2o-2hj {
    background-color: rgba(248, 150, 193, 0.3)
}

.theme-dark .separator-2zcjq8 {
    border-bottom-color: transparent
}

.theme-dark .menu-Sp6bN1 {
    background-color: rgba(248, 150, 193, 0.8);
    box-shadow: none;
    border-radius: 0
}

.theme-dark .item-1GzJrl.invite-271nFU,
.theme-dark .item-1GzJrl.leave-1DRJfn
{
    color: silver
}


.theme-dark .item-1GzJrl:hover.invite-271nFU {
    color: white;
    background-color: #0033cc
}

.theme-dark .item-1GzJrl:hover.leave-1DRJfn {
    color: white;
    background-color: #e60000
}

.wrapper-232cHJ:not(.betterfriendcount-badge) {
  background-color: #f896c1;
  /*Primary Color*/
  color: #fff;
  box-shadow: none;
  font-weight: 500;
  text-shadow: 0 0 3px rgba(0, 0, 0, 1);
  padding: 6px 11px;
  border-radius: 25px
}

.guild-1EfMGQ .badge-1GsMF2 {
  border-radius: 25px;
  padding: 6px 11px
}

.icon-2doZ3q {
   display: none
}

.theme-dark .item-1GzJrl {
    color: white
}

.theme-dark .item-1GzJrl:hover {
    background-color: rgba(255,255,255,0.12)
}

.lighten-2aYaaU {
    opacity: 1
}

.theme-dark .subtitle-2yP_Eh {
    color: white
}

.theme-dark .checkbox-1ix_J3[style*="background-color: rgb(114, 137, 218);"] {
    background-color: #f896c1 !important
}

.theme-dark .unreadMentionsBar-1VrBNe {
    box-shadow: none
}

.mention-1f5kbO {
    background-color: rgba(248, 150, 193,.6);
}

.mention-1f5kbO:hover {
    background-color: rgba(248, 150, 193,.9);
}

.theme-dark .guildsError-3cFMtY:hover {
  background-color: rgba(0, 0, 0, 0.62);
}

.theme-dark .guildsError-3cFMtY {
  background: rgba(0, 0, 0, 0.22);
  border-color: transparent;
  color: red;
}

.guildsError-3cFMtY {
  font-size: 32px;
  font-weight: 400;
}

.tooltip-1OS-Ti.black-2bmmnj {
  background: linear-gradient(155deg, #000000, #f896c1);
  /*Primary Color*/
}

.iconCollapsed-3hFp_8, .iconDefault-3Gr8d2, .iconHovered-2L3-fB, .iconHoveredCollapsed-3caIIZ, .iconMuted-1HVBGH, .iconUnread-2eGkvX {
    display: none
}

.tooltip-1OS-Ti {
  position: absolute;
  text-align: center;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.72);
  border-radius: 8px;
  text-shadow: rgba(0, 0, 0, 0.69) 1px 1px 5px;
}

.tooltip-1OS-Ti.red-m6f4-H.tooltip-1OS-Ti {
  background-color: rgba(255, 0, 0, 0.32);
}

.tooltip-1OS-Ti.red-m6f4-H.right-KM_vfY:after {
  border-right: none;
}

.tooltip-1OS-Ti.black-2bmmnj.top-1pTh1F:after {
  border-top: none;
}

.tooltip-1OS-Ti.black-2bmmnj.bottom-19kp6S:after {
  border-bottom: none;
}

.tooltip-1OS-Ti.black-2bmmnj.left-1wV7VO:after {
  border-left: none;
}

.tooltip-1OS-Ti.black-2bmmnj.right-KM_vfY:after {
  border-right: none;
}

.nameCollapsed-34uFWo {
    font-weight: 400;
    text-align: center; 
    color: #cccccc
}

.nameDefault-2DI02H {
    font-weight: 400;
    text-align: center;
    color: #b3b3b3
}

.nameHovered-1gxhWH {
    font-weight: 400;
    text-align: center;
    color: #d9d9d9;
}

.nameHoveredCollapsed-2orEWB {
    font-weight: 400;
    text-align: center;
    color: #f2f2f2
}

.nameMuted-1MCOt4 {
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    color: #ff3333
}

.nameUnread-njOjIS {
    font-weight: 400;
    text-align: center;
    color: #33cccc
}

.lookOutlined-3sRXeN.colorGreen-29iAKY {
    border-color: rgba(112, 195, 60,.3);
    color: #70c33c
}

.colorConnectedText-1c_uzY, .colorConnectedVoice-3kyvUN, .colorDefaultText-oas-QM, .colorDefaultVoice-3wYlhb, .colorHoveredText-OZnAgu, .colorHoveredVoice-1kucsK, .colorLockedText-1VRkPt, .colorLockedVoice-2UlBjl, .colorSelectedText-1y4Wvs, .colorSelectedVoice-Xcb_9R, .colorUnreadText-2t7XRb, .colorUnreadVoice-137o4S {
    color: white
}

.icon-sxakjD,
.foreground-2W-aJk,
.actionIcon-2Hi9ZG {
    opacity: 1
}

.unread-1Dp-OI {
   display: none
}

.background-2OVjk_ {
    opacity: .7
}

.nameDefaultText-24KCy5, .nameDefaultVoice-3WUH7s {
    color: #b3b3b3
}

.nameLockedText-3pqQcL, .nameLockedVoice-26MhB1,
.nameMutedText-3Vj4bM, 
.nameMutedVoice-3oxyQZ,
.colorMutedText-36M8WR, .colorMutedVoice-3ghIuw {
    color: #ff3333
}

.nameConnectedText-3CzNQn, .nameConnectedVoice-MHUX5F {
   color: #00ccff
}

.nameHoveredText-1uO31y, .nameHoveredVoice-YJ1Vfd {
   color: #d9d9d9
}

.nameSelectedText-sp_EUw, .nameSelectedVoice-1qSph5 {
   color: #70db70
}

.nameUnreadText-DfkrI4, .nameUnreadVoice-EVo-wI {
    color: #ffcc66
}

.contentSelectedText-3wUhMi, .contentSelectedVoice-1WDIBM {
    background-color: rgba(255,255,255,.3)
}

.contentConnectedVoice-qL-YrL:active, .contentHoveredText-2D9B-x, .contentHoveredVoice-3p_NEO:active, .contentSelectedVoice-1WDIBM:active {
    background-color: rgba(255,255,255,.13)
}

.alt-3btY0e .item-1GzJrl .helper-2c73HK {
    display: none
}

.popout-3sVMXz {
    border-radius: 0;
    box-shadow: none
}

.container-2Thooq .avatar-3JE4B3 {
    width: 40px;
    height: 40px;
    margin-left: -28px;
    margin-top: -5px;
    background-size: cover
}

.theme-dark .status-2kJpnA {
   right: 15px;
   width: 15px;
   height: 15px;
   bottom: -9px;
   border-radius: 50%
}

.accountDetails-3k9g4n {
    margin-left: -12px
}

.theme-dark .itemSubMenu-1vN_Yn:hover {
    background: rgba(179, 255, 179, 0.6 ) url(/assets/e4afe52f6863408a35654a6e5fd69ba9.svg) no-repeat 155px 50% !important;
    color: black
}


.theme-dark .item-1Yvehc:hover {
    background: rgba(255,255,255,0.12)
}


.theme-dark .itemSubMenu-1vN_Yn {
    background: rgba(179, 255, 179, 0.3) url(/assets/1988164a7c55346d32117b151f4e319d.svg) no-repeat 155px 50%;
    color: black !important
}

.channelIcon-MsmKOO {
    color: white
}

.item-1Yvehc.danger-2dXSTE:hover {
    background-color: #ff3333;
    color: white !important
}


.item-1Yvehc.danger-2dXSTE {
   background-color: #c73b3b;
   color: white !important
}

.theme-dark .item-1Yvehc {
    color: white
}

.theme-dark .channelTextArea-rNsIhG {
    border-top: none
}

.theme-dark .inner-zqa7da {
    background-color: rgba(0,0,0,.7);
    border-radius: 0
}

.theme-dark .attachButtonDivider-3Glu60 {
    background-color: transparent
}

.theme-dark .itemGroup-1tL0uz {
    border-color: transparent
}

.theme-dark.contextMenu-HLZMGh {
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(248,150,193,1) 100%);
    box-shadow: none;
    border-radius: 0
}

.item-1Yvehc {
    border-radius: 0;
    padding: 9px 7px
}

.theme-dark .operations-36ENbA {
    color: white
}

.theme-dark .topic-2QX7LI:before {
    background-color: transparent
}

.theme-dark .jumpToPresentBar-9P20AM,
.newMessagesBar-mujexs {
    background-color: rgba(0,0,0,.8) !important;
    color: white !important
}

.unreadBar-3YD_k9 {
    box-shadow: none;
} 

.unread-1xRYoj {
    background-color: rgb(0,0,0);
}

.wrapper-2NJDcI {
    background-color: #f896c1;
    border-radius: 4px;
    color: white;
}

.botTagRegular-2HEhHi,
.botTagInvert-18-95s {
    background: #f896c1;
    color: #fff;
    text-shadow: 0 0 5px black;
}

.theme-dark .wrapperHover-1GktnT:hover,
.theme-dark .isMentioned-N-h9aa .mention:hover {
    background-color: rgba(248, 150, 193,.5) !important;
    color: #fff !important;
}

.theme-dark .wrapper-3WhCwL,
.theme-dark .isMentioned-N-h9aa .mention {
    background-color: rgba(248, 150, 193,.3) !important;
    color: white
}

.isMentionedCozy-3isp7y:after {
    display: none
}

.theme-dark .isMentioned-N-h9aa {
    background: rgba(248, 150, 193,.3);
    padding: 7px 15px;
}

.theme-dark .container-3cGP6G {
    background: #f896c1;
}

.theme-dark .item-2J1YMK {
    color: white;
    text-shadow: 0 0 7px black,0 0 7px black
}

.theme-dark .item-2J1YMK:active, .theme-dark .item-2J1YMK:hover {
    background-color: rgba(255,255,255,0.22)
}

.theme-dark .topic-2QX7LI {
    color: white
}

.bda-dark #bda-qem {
    border-radius: 0;
    background: transparent;
    border-bottom: none !important
}

.bda-dark #bda-qem button.active {
    background-color: #33cc33 !important;
    color: white 
}


.bda-dark #bda-qem button {
    border-left: none;
    box-shadow: none;
    background: rgba(255, 255, 26, 0.5);
    color: white
}

.bda-dark #bda-qem button:hover {
    background: rgba(255, 255, 26, 0.8);
}

.bda-dark #bda-qem-favourite-container, .bda-dark #bda-qem-twitch-container,
.bda-dark .emoji-picker, .bda-dark .emojiPicker-3m1S-j {
    background-color: #f896c1;
    border-radius: 0
}

.bda-dark .emoji-picker .category, .bda-dark .emojiPicker-3m1S-j .category-2U57w6 {
    color: white;
    background-color: transparent;
}

.emojiPicker-3m1S-j .stickyHeader-1SS0JU {
    background: transparent
}

.searchBar-2_Yu-C.searchBarLight-1NxoDG,
.bda-dark .emoji-picker .header .searchBar-2_Yu-C, .bda-dark .emojiPicker-3m1S-j .header-1nkwgG .searchBar-2_Yu-C {
    background-color: transparent
}

.bda-dark .emoji-picker .dimmer.visible, .bda-dark .emojiPicker-3m1S-j .dimmer-3iH-5D.visible-3k45bQ {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0
}

.bda-dark .emoji-picker .diversity-selector .popout-3sVMXz, .bda-dark .emojiPicker-3m1S-j .diversitySelector-tmmMv0 .popout-2nUePc {
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none
}

.diversitySelector-tmmMv0 .popout-2nUePc .item-16cXuq:hover {
    background-color: rgba(255,255,255,.2)
}

.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar, .bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track, .bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track-piece, .bda-dark #pubs-container .scroller::-webkit-scrollbar, .bda-dark #pubs-container .scroller::-webkit-scrollbar-track, .bda-dark #pubs-container .scroller::-webkit-scrollbar-track-piece, .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar, .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track, .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track-piece,.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track,.bda-dark .emoji-picker .scroller::-webkit-scrollbar, .bda-dark .emoji-picker .scroller::-webkit-scrollbar-track, .bda-dark .emoji-picker .scroller::-webkit-scrollbar-track-piece, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track-piece {
  background-color: transparent !important;
  border: none !important;
}

.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-thumb, .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-thumb, .scrollerThemed-2oenus.themeLight-1_DWyY .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-dark .scrollerThemed-2oenus.themeLight-1_DWyY .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-light .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb {
  background-color: #f896c1 !important;
  /*Primary Color*/
  border-radius: 0;
  border: 2px solid rgba(0, 0, 0, 0.45) !important;
}

.theme-dark .hasMore-3e72_v button {
    background: #f896c1;
    border: none;
    color: white
}

.searchBar-2_Yu-C.searchBarLight-1NxoDG .searchBarInner-1_Tg2R {
    background-color: rgba(0,0,0,.3);
    border: none;
    border-radius: 0!important
}

.searchBar-2_Yu-C.searchBarLight-1NxoDG input {
    color: white
}

.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.selected-39BZ4S {
    border-bottom-color: rgba(0,0,0,0.4);
}

.emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA.selected-39BZ4S {
    background-color: rgba(255,255,255,0.34);
    border-radius: 0;
}

.uploadArea-3QgLtW {
    background: rgba(0,0,0,.4)
}

.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .bgScale-1otPtc {
    background: #f896c1;
    border-radius: 0
}

.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo {
    border: none;
    border-radius: 0
}

.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo .instructions-2Du9gG {
    color: white
}

.theme-dark .autocomplete-1vrmpx {
    background-color: #f896c1;
}

.theme-dark .contentTitle-2tG_sM,.theme-dark .description-11DmNu, .theme-dark .descriptionUsername-J_75O8,
.marginLeft8-1YseBe,
.marginLeft4-3VaXdt {
    color: white
}

.theme-dark .iconForeground-1w5n7R {
    fill: white
}

.theme-dark .descriptionDiscriminator-3vUOCc,
.theme-brand .contentTitle-2tG_sM strong {
    color: rgba(255,255,255,0.87)
}

.uploadModal-2ifh8j {
    background-color: rgba(248, 150, 193,0.76);
    border-radius: 0;
    min-height: 358px;
    width: 720px;
}

.theme-dark .iconBadge-2dji3k {
    border-color: black
}


.iconBadge-2dji3k {
    background-color: #f896c1
}

.uploadModal-2ifh8j .footer-3mqk7D {
    background-color: transparent;
}

.uploadModal-2ifh8j .inner-3nWsbo {
    border: none;
}

.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .description-2ug5H_ .filename-ovv3c5 {
    position: absolute;
    top: 298px;
    left: 0;
    z-index: 1;
}

.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j,
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr {
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    height: 174px;
    margin-left: 16px;
    margin-right: 12px;
    margin-top: -33px;
    right: 0;
    position: absolute;
    width: 204px;
}


.uploadModal-2ifh8j .inner-3nWsbo .comment-4IWttf .label-3aiqT2 {
    top: 43px;
    position: relative;
}

.theme-brand .inner-zqa7da {
    top: 43px;
    border-radius: 0;
}

.theme-dark .divider-23swzi {
    background-color: white
}

.theme-dark .selectorSelected-1_M1WV {
    background-color: rgba(0,0,0,0.22);
}

.uploadModal-2ifh8j .footer-3mqk7D .button-primary {
    background-color: #4570e6 !important;
    color: white;
    opacity: 1 !important
}

.uploadModal-2ifh8j .footer-3mqk7D .button {
    background-color: rgba(218, 44, 67,.4)
}

.uploadModal-2ifh8j .footer-3mqk7D .button:hover {
    background-color: rgba(218, 44, 67,.8)
}

.theme-dark .guildsAdd-21_IdK:hover {
    border-color: transparent;
    color: white;
    background: rgba(248, 150, 193, 0.84)
}


.theme-dark .guildsAdd-21_IdK {
    background: rgba(255,255,255,0.34);
    border-color: transparent;
    color: white;
    transition: background 1s ease
}

.guildsAdd-21_IdK {
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    font-size: 30px
}

.theme-dark .header-ykumBX,
.theme-dark .searchHeader-1l-wpR {
    background: transparent;
    box-shadow: none
}

.theme-dark .messagesPopoutWrap-1MQ1bW,
.theme-dark .searchResultsWrap-2DKFzt {
    background: linear-gradient(75deg, #000000, #f896c1);
    border: none;
    box-shadow: none;
    border-radius: 0
}

.theme-dark .messageGroupWrapper-o-Zw7G:hover {
    background-color: rgba(0,0,0,0.7)
}

.theme-dark .channelSeparator-1X1FuH:before {
    border-color: transparent
}

.theme-dark .searchResult-3pzFAB:before,
.theme-dark .searchResult-3pzFAB:after {
    background: none
}

.theme-dark .channelSeparator-1X1FuH .channelName-1QajIf {
    background-color: rgba(0,0,0,0.4);
    padding: 12px 5px
}

.theme-dark .searchResultsWrap-2DKFzt .searchResult-3pzFAB .searchResultMessage-2VxO12.hit-NLlWXA {
    border: none
}


.theme-dark .searchResultsWrap-2DKFzt .searchResult-3pzFAB .hit-NLlWXA {
    background-color: rgba(0,0,0,0.3);
    box-shadow: none
}

.theme-dark .searchResultsWrap-2DKFzt .searchResult-3pzFAB.expanded-v2Szsz  {
    border: none
}

.theme-dark .searchResultsWrap-2DKFzt .expanded-v2Szsz .searchResultMessage-2VxO12.hit-NLlWXA {
    background-color: rgba(0,0,0,0.7);
    border: none
}

.theme-dark .messageGroupWrapper-o-Zw7G {
    background-color: rgba(0,0,0,0.4);
    border: none
}

.theme-dark .jumpButton-3DTcS_,
.theme-dark .jumpButton-Ia2hRJ {
    background-color: #f896c1;
    color: white
}

.theme-dark .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug {
    background: none;
    box-shadow: none
}

.theme-dark .footer-1kmXd4 {
    background-color: transparent
}

.theme-dark .emptyPlaceholder-1zh-Eu .body-bvcIjN,
.block-2RXqH9 .tip-2ab612, 
.tip-2ab612 {
    color: white;
    opacity: 1
}

.theme-dark .guildName-1Bc3Ta,
.theme-dark .mentionFilter-1PQ6ey .label-12YslM {
    color: rgba(255, 255, 255, 0.8);
}



.need-help-modal.form.deprecated .header {
    background-color: #f896c1;
    border-radius: 0
}

.need-help-modal.form.deprecated .header input[type=text] {
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    box-shadow: none;
    color: white
}

.need-help-modal.form.deprecated .header input[type=text]:focus {
    border-bottom: none;
    box-shadow: 0 0 13px black
}

.need-help-modal.form.deprecated .form-inner,
.need-help-modal.form.deprecated .footer {
   background-color: rgba(0,0,0,0.5)
}

.need-help-modal.form.deprecated .footer {
   border: none;
   color: white
}

.theme-dark .markup-2BOw-j pre {
    background: transparent;
    border-color: transparent;
    border-radius: 0
}

.theme-dark .markup-2BOw-j code, 
.theme-dark .markup-2BOw-j code.inline {
    background: rgba(255,255,255,.22);
    color: white;
    text-shadow: 0 0 4px black;
}

.theme-dark .edited-DL9ECl {
    color: white
}

.theme-dark .container-3ayLPN,
.theme-dark .searchAnswer-3Dz2-q, 
.theme-dark .searchFilter-2ESiM3 {
    background-color: #f896c1
}

.theme-dark .option-96V44q:after,
.theme-dark .option-96V44q.selected-rZcOL-:after {
    background: transparent
}

.theme-dark .option-96V44q.selected-rZcOL- {
    background-color: rgba(255,255,255,.25);
}

.theme-dark .resultsGroup-r_nuzN:before {
    border-top: none
}

.theme-dark .searchOption-zQ-1l6 .answer-1n6g43 {
    color: #99cc00
}

.theme-dark .resultsGroup-r_nuzN .header-2N-gMV, .theme-dark .resultsGroup-r_nuzN .plusIcon-v0BTrL, .theme-dark .resultsGroup-r_nuzN .searchClearHistory-2cSSMO, .theme-dark .resultsGroup-r_nuzN .searchLearnMore-3SQUAj a {
    color: white
}

.theme-dark .searchOption-zQ-1l6 .filter-3Y_im- {
    color: #d9d9d9
}


.theme-dark .option-96V44q:not(.searchOption-zQ-1l6) .filter-3Y_im- {
    color: #f2f2f2
}

.theme-dark .option-96V44q .answer-1n6g43,
.theme-dark .option-96V44q.user-O3Czj0 .displayedNick-3xxvzU,
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hint-165cR4,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day-name {
    color: white
}

.theme-dark .option-96V44q .nonText-3CRkO0,
.theme-dark .option-96V44q.user-O3Czj0 .displayUsername-Qekxml {
    color: black
}

.theme-dark .option-96V44q strong {
    color: silver
}

.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z {
    background-color: #f896c1 !important;
    color: #fff
}



.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__week .react-datepicker__day:last-of-type,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__week:last-of-type .react-datepicker__day,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__week .react-datepicker__day:last-of-type {
    border: none
}

.calendarPicker-2yf6Ci .react-datepicker__day--disabled, .calendarPicker-2yf6Ci .react-datepicker__day--outside-month {
    font-weight: 300
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month:hover {
    background-color: rgba(255,0,0,0.7) !important
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:hover {
    background-color: rgba(0,0,0,0.7)
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day:hover {
    background-color: rgba(0,0,0,0.4)
}





.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled {
    background-color: black;
    color: rgba(246,246,247,.5)
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled:hover {
    background-color: rgba(255,0,0,0.65);
    color: rgba(246,246,247,.5)
}

.calendarPicker-2yf6Ci .react-datepicker__week:first-of-type>.react-datepicker__day:first-of-type,
.calendarPicker-2yf6Ci .react-datepicker__week:first-of-type>.react-datepicker__day:last-of-type,
.calendarPicker-2yf6Ci .react-datepicker__week:last-of-type>.react-datepicker__day:first-of-type,
.calendarPicker-2yf6Ci .react-datepicker__week:last-of-type>.react-datepicker__day:last-of-type {
    border-radius: 0
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after {
    background-color: transparent
}



.theme-dark .calendarPicker-2yf6Ci .react-datepicker,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header {
    background-color: #f896c1
}

.noticeInfo-3_iTE1 {
    background-color: #f896c1;
    color: #fff;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--next, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--previous {
    border: none
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__current-month {
    border-bottom-color: transparent;
    color: white
}

.searchResultsWrap-2DKFzt .searchResult-3pzFAB .searchResultMessage-2VxO12.hit-NLlWXA .avatar-17mtNa .large-3ChYtB {
   margin-top: -7px
}

.theme-dark .focused-2bY0OD {
    background-color: rgba(255,255,255,0.23);
}


.theme-dark .queryContainer-RKFJW- {
    border-bottom-color: transparent;
    color: white
}

/* Channel Member List */

.theme-dark .membersGroup-v9BXpm {
    color: white
}


.membersGroup-v9BXpm {
    font-weight: 400;
    height: 40px;
    letter-spacing: .13em;
    text-align: center
}

.theme-dark .focused-2bY0OD {
    background-color: rgba(255,255,255,0.23)
}


.theme-dark .queryContainer-RKFJW- {
    border-bottom-color: transparent;
    color: white
}

.theme-dark .member-3W1lQa:hover .content-OzHfo4 {
    background-color: rgba(255,255,255,0.2)
}

.theme-dark .member-3W1lQa.popout-open .content-OzHfo4, .theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4 {
    background-color: rgba(248, 150, 193,.6)
}

.theme-dark .activity-1IYsbk {
    color: rgba(255,255,255,0.7)
}

.activity-1IYsbk strong {
    color: white
}

.theme-dark .activityIconForeground-qYIPPg {
    fill: white
}

.theme-dark .headerNormal-T_seeN,
.theme-dark .topSectionNormal-2-vo2m {
    background-color: rgba(0,0,0,0.4)
}

.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background-color: rgba(0,0,0,0.4);
    color: white
}

.theme-dark .body-3ND3kc {
    background-color: rgba(0,0,0,0.4);
}

.connectedAccountName-f8AEe2 {
    color: white
}

.theme-dark .footer-1fjuF6 {
    border: none
}

.userPopout-3XzG_A {
    border-radius: 0;
    box-shadow: none;
    background: url(https://images7.alphacoders.com/720/720107.png) 40%/cover;
}

.bodyTitle-Y0qMQz {
    color: white
}

.protip-YaFfgO {
    display:none
}

.role-2irmRk {
    border: 2px solid;
    border-radius: 0;
    height: 25px;
    margin-bottom: 2px;
    margin-right: 12px;
    padding: 7px;
    background-color: rgba(0,0,0,0.42)
}

.roleCircle-3xAZ1j {
    border-radius: 0%;
    box-shadow: 0 0 6px black
}

.theme-dark .note-3kmerW textarea {
    color: white;
}

.note-3HfJZ5 textarea {
    border-radius: 0;
    padding: 8px;
}

.theme-dark .quickMessage-1yeL4E {
   background-color: rgba(255,255,255,.07);
   color: white;
   border-color: transparent;
}

.theme-dark .note-3kmerW textarea:focus,
.theme-dark .quickMessage-1yeL4E:focus,
.theme-dark .root-SR8cQa .note-QfFU8y textarea:focus {
    background-color: rgba(255,255,255,.22);
}

.theme-dark .quickMessage-1yeL4E {
    background-color: rgba(0,0,0,0.5);
    border-color: transparent;
    color: white;
    transition: background-color .7s ease
}

.theme-dark .quickMessage-1yeL4E:focus {
    background-color: rgba(255,255,255,0.5);
}

.avatarHint-1qgaV3 {
    border-radius: 50%;
    text-transform: capitalize;
}

.mask-3OgeRz {
    border-radius: 1;
    -webkit-mask: none;
    mask: none;
}

.avatarStatus-3Ay1VL {
    height: 30px;
    width: 30px;
    bottom: 0
}


.online-2S838R {
    background-color: #599c30;
}

.dnd-1_xrcq {
    background-color: #da2c43;
}



.idle-3DEnRT {
    background-color: #e6e600;
}



.avatarStatus-3Ay1VL {
    z-index: 3;
}

/* Header Player */
.headerPlaying-j0WQBV,
.topSectionPlaying-1J5E4n {
    background: rgba(0,0,0, .6);
    border: 3px solid #3333cc;
}

.lookInverted-2D7oAl.colorBrand-3pXr91 {
    background-color: #3333cc !important;
    color: white;
}

.lookInverted-2D7oAl.colorBrand-3pXr91:hover {
    background-color: #3333cc;
}

/* --- */ 

/* Spotify/Xbox */
.headerSpotify-zpWxgT,
.topSectionSpotify-1lI0-P,
.headerXbox-3G-4PF,
.topSectionXbox-3fWLjS {
   background: rgba(0,0,0, .6);
   border: 3px solid #007C08
}


.lookInverted-2D7oAl.colorGreen-29iAKY {
    background-color: #007C08 !important;
    color: white
}

/* --- */ 

/* Streaming */
.headerStreaming-2FjmGz,
.topSectionStreaming-1Tpf5X {
    background: rgba(0, 0, 0, 0.6);
    border: 3px solid #5946b2
}

.lookOutlined-3sRXeN.colorWhite-rEQuAQ {
    border-color: transparent
}

.lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover {
    background-color: #5946b2;
    color: #fff;
    border-color: transparent
}


.buttonInvertedPurple-WtBglX {
    background-color: #5946b2 !important;
    color: white
}
/* --- */


.tabBarContainer-1s1u-z {
    border-top: none
}

.tab-bar.tabBar-2MuP6- .tabBarItem-1b8RUP {
    color: white;
    background-color: rgba(255,255,255,0.12);
    padding: 3px 8px
}

.tab-bar.tabBar-2MuP6- .tabBarItem-1b8RUP.selected {
    border-bottom-color: transparent;
    background-color: rgba(102, 255, 102, 0.28)
}

.tab-bar.tabBar-2MuP6- .tabBarItem-1b8RUP:hover {
    border-bottom-color: transparent;
    background-color: rgba(255,255,255,0.18);
}

.userInfoSectionHeader-CBvMDh {
    color: white
}

.theme-dark .connectedAccount-36nQx7 {
    border-color: transparent;
    background-color: rgba(248, 150, 193,0.5) !important;
    border-radius: 0;
    margin-right: -7px;
}

.guildNick-3uAm3i, .listName-3w10cx {
    color: white
}

.theme-dark .userInfoSection-2acyCx+.userInfoSection-2acyCx {
    border-color: transparent;
}

.listAvatar-1NlAhb {
    background-color: #f896c1
}

.root-SR8cQa {
    border-radius: 0;
    background-image: url(https://i.pinimg.com/originals/60/a4/ba/60a4baed45fd9c02cbd7ddd3412fc7cf.jpg);
    background-size: cover
}
