//META{"name":"Winter","description":"A Special Type of Winter","author":"DevilsLynAvenged","version":"1"}*//{}

#app-mount {
   background-image: url(https://images7.alphacoders.com/802/802381.jpg);
   background-size: cover;
}

.theme-dark .title-3qD0b-,
.theme-dark .headerBar-UHpsPw {
   background: rgba(0, 0, 0, 0.4);
}

.typeMacOS-3EmCyP,
.searchBar-6Kv8R2,
.header-2o-2hj {
   background: rgba(0, 0, 0, 0.4);
}

.header-2o-2hj {
   background: rgba(0, 0, 0, 0.4);
}

.container-PNkimc,
.channels-Ie2l6A,
.container-2lgZY8,
.theme-dark .chat-3bRxxu,
.theme-dark .chat-3bRxxu form,
.theme-dark .content-yTz4x3,
.theme-dark .typing-2GQL18,
.theme-dark .messagesWrapper-3lZDfY,
.theme-dark .activityFeed-28jde9,
.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track,
.theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track,
.theme-dark .container-3gCOGc,
.theme-dark .contentRegion-3nDuYy,
.theme-dark .sidebarRegion-VFTUkN{
   background-color: transparent;
}

.theme-dark .standardSidebarView-3F1I7i {
   background: rgba(0, 0, 0, 0.3);
}

.theme-dark .guildsWrapper-5TJh6A,
.theme-dark .members-1998pB {
   background-color: rgba(0, 0, 0, 0.5);
}

.theme-dark .layer-3QrUeG,
.theme-dark .layers-3iHuyZ {
   background: rgba(0, 0, 0, 0.3);
}

.appMount-3VJmYg {
   background-color: transparent;
}

/*** Main Chat ***/

.theme-dark .typing-2GQL18 span {
   color: white;
}

.typing-2GQL18 {
   font-size: 11px;
   font-weight: 300;
   width: 100%;
}

.theme-dark .guildsWrapper-5TJh6A {
   border-radius: 0;
}

.theme-dark .guild-1EfMGQ.unread-qLkInr:before {
   background: rgba(255, 255, 255, 0.33);
   background-image: url(https://cdn4.iconfinder.com/data/icons/weather-29/256/snowflake-512.png);
   border: 1px solid rgba(255, 255, 255, 0.35);
   background-size: cover;
}

.theme-dark .guild-1EfMGQ.selected-ML3OIq:before {
   border: 3px solid rgba(255, 255, 255, 0.44);
}

.theme-dark .guild-1EfMGQ .guildIcon-CT-ZDq {
   background-color: transparent;
}

.guild-1EfMGQ .guildIcon-CT-ZDq {
   opacity: .6;
   transition: opacity .2s linear;
   border-radius: 50px;
}

.guild-1EfMGQ .guildIcon-CT-ZDq:hover {
   opacity: .9;
}

.guild-1EfMGQ.selected-ML3OIq:before {
   border-radius: 50px;
   height: 20px;
   width: 20px;
   margin-top: -10px;
}

.guild-1EfMGQ.unread-qLkInr:not(.selected-ML3OIq):before {
   border-radius: 50px;
   height: 20px;
   width: 20px;
   margin-top: -10px;
}

.guild-1EfMGQ.unread-qLkInr:before {
   left: -3px;
   z-index: 1;
   top: 7px;
   position: absolute;
}

.theme-dark .guild-1EfMGQ.selected-ML3OIq:before {
   background: rgba(255, 255, 255, 0.33);
   z-index: 1;
   top: 7px;
   left: -3px;
   background-image: url(https://cdn4.iconfinder.com/data/icons/weather-29/256/snowflake-512.png);
   background-size: cover;
}

.guild-1EfMGQ.unread-qLkInr:hover:before {
   border: 2px solid rgba(255, 255, 255, 0.44) !important;
   background-color: rgba(255, 255, 255, 0.54);
}

.theme-dark .guild-1EfMGQ .guildInner-3DSoA4 {
   background: transparent !important;
}

.guild-1EfMGQ .guildInner-3DSoA4 {
   border-radius: 25px !important;
   cursor: pointer;
   font-size: 14px;
}

.theme-dark .guildSeparator-1X4GQ1:after {
   background: transparent;
}

.theme-dark .friendsOnline-_wi_fM {
   color: white;
}

.header-2o-2hj:hover {
   background-color: rgba(0, 0, 0, .7);
}

.nameCollapsed-34uFWo,
.nameDefault-2DI02H,
.nameHovered-1gxhWH,
.nameHoveredCollapsed-2orEWB,
.nameMuted-1MCOt4,
.nameUnread-njOjIS {
   font-size: 12px;
   font-weight: 500;
   text-transform: capitalize;
   text-align: center;
   text-shadow: 0 0 4px black;
}

.nameCollapsed-34uFWo {
   color: white;
   background-color: #9A9A9A;
}

.theme-dark .item-2J1YMK {
    color: black;
}

.nameDefault-2DI02H {
   background-color: #E1E1E1;
   color: white;
}

.nameHovered-1gxhWH {
   color: white;
   background-color: #E1E1E1;
   border-left: 2px solid rgba(255, 0, 0, 0.54);
   border-right: 2px solid rgba(255, 0, 0, 0.54);
   border-top: 2px solid rgba(255, 0, 0, 0.54);
}

.nameHoveredCollapsed-2orEWB {
   color: white;
   background-color: #9A9A9A;
   border-left: 2px solid rgba(255, 0, 0, 0.54);
   border-right: 2px solid rgba(255, 0, 0, 0.54);
   border-top: 2px solid rgba(255, 0, 0, 0.54);
}

.nameMuted-1MCOt4 {
   color: white;
   background-color: #EA2525;
}

.nameUnread-njOjIS {
   color: white;
   background-color: #25C1EA;
}

.iconCollapsed-3hFp_8,
.iconDefault-3Gr8d2,
.iconHovered-2L3-fB,
.iconHoveredCollapsed-3caIIZ,
.iconMuted-1HVBGH,
.iconUnread-2eGkvX {
   display: none;
}

.unreadBar-3YD_k9 {
   box-shadow: none;
   border-radius: 0;
}

.unread-1xRYoj {
   background-color: rgba(255, 255, 255, .4) !important;
}

.unread-1xRYoj:hover {
   background-color: rgba(255, 255, 255, .4);
   border-bottom: 2px solid #BDF277;
}

.theme-dark .menu-Sp6bN1 {
   background: linear-gradient(to bottom, #e7e7e7 0%, #828282 66%);
   box-shadow: none;
   border-radius: 0;
}

.theme-dark .separator-2zcjq8 {
   border-bottom-color: transparent;
}

.theme-dark .item-1GzJrl:hover {
   background-color: rgba(255, 255, 255, 0.12);
}

.theme-dark .item-1GzJrl {
   color: black;
}

.icon-2doZ3q {
   display: none;
}

.popout-3sVMXz {
   border-radius: 0;
}

.theme-dark .item-1GzJrl.leave-1DRJfn {
   color: #da1a19;
}

.theme-dark .item-1GzJrl:hover.leave-1DRJfn {
   color: white;
   background-color: #da1a19;
}

.theme-dark .item-1GzJrl.invite-271nFU {
   color: #0094ca;
}

.theme-dark .item-1GzJrl:hover.invite-271nFU {
   color: white;
   background-color: #0094ca;
}

.popout-open .header-2o-2hj {
   background-color: rgba(0, 0, 0, .7);
}

.theme-dark .separator-6YbWrc {
   box-shadow: none;
}

.theme-dark .footer-1FPmkC,
.theme-dark .footer-2yfCgX {
   background-color: transparent;
}

.theme-dark .footer-2yfCgX {
   box-shadow: none;
}

.theme-dark .modal-3HD5ck {
   background: linear-gradient(to bottom, rgba(0, 0, 0, 0.59) 0%, rgba(0, 0, 0, 0.59) 66%), url(https://www.actaturcica.com/wp-content/uploads/2018/07/Snowy-Landscape-Winter-Trees-Wallpaper.jpg);
   box-shadow: none;
}

.searchBar-2_Yu-C {
   background-color: transparent;
   border-radius: 0;
   box-shadow: none;
}

.searchBar-2_Yu-C .searchBarInner-1_Tg2R {
   background: rgba(0, 0, 0, .5);
   border: none;
   border-radius: 0;
}

.theme-dark .alt-3btY0e .helper-2c73HK {
   display: none;
}

.status-3fQvEa {
   position: relative;
   width: calc(0.5rem + 1vw);
   height: calc(0.5rem + 1vw);
   background-image: url(http://icons.iconarchive.com/icons/icons8/windows-8/512/Astrology-Winter-icon.png);
   background-size: 15px 15px;
}

.container-2Thooq .avatar-small {
   position: relative;
   bottom: 0;
   right: 12px;
   width: 45px;
   height: 45px;
   background-size: cover;
   margin-right: -17px;
}

.container-1UB9sr {
   background: rgba(0, 0, 0, .3);
   border-bottom: none;
   font-weight: 400;
}

.theme-dark .container-2Thooq {
   background: rgba(0, 0, 0, .3);
   font-weight: 400;
}

.theme-dark .guild-1EfMGQ.audio-3vVhBi .guildInner-3DSoA4:after,
.theme-dark .guild-1EfMGQ.video-15yGu3 .guildInner-3DSoA4:after {
   background-color: rgba(255, 255, 255, 0.43);
}

.avatarSpeaking-1wJCNq {
   box-shadow: 0 0 0 2px #42F133, inset 0 0 0 1.5px black;
}

.theme-dark .status-2kJpnA {
   border: none;
   width: 23px;
   height: 23px;
   right: 6px;
   border-radius: 50%;
   background-image: url(http://icons.iconarchive.com/icons/icons8/windows-8/512/Astrology-Winter-icon.png);
   background-size: 17px 17px;
}

.accountDetails-3k9g4n .discriminator {
   opacity: .6;
}

.theme-dark .button-2b6hmh:hover {
   background-color: rgba(224, 224, 224, .43);
   border: 1px solid rgba(224, 224, 224, .73);
}

.theme-dark .button-2b6hmh {
   background-color: rgba(224, 224, 224, .23);
   margin-right: 3px;
   border: 1px dashed rgba(224, 224, 224, .43);
   transition: background-color 2s, border 2s;
   border-radius: 50px;
}

*::-webkit-input-placeholder {
   color: white !important;
}

.theme-dark .inviteRow-2L02ae:hover {
   background-color: rgba(255, 255, 255, .2);
}

.inviteRow-2L02ae {
   border-radius: 0;
}

.theme-dark .content-3CCvMx:before {
   background-color: transparent;
}

.theme-dark .checkBoxLabel-4PWfpk,
.theme-dark .footerText-2a7NxZ,
.theme-dark .subText-bCySlS {
   color: white;
}

/*** Links ***/

.anchor-3Z-8Bb,
.operations-36ENbA>a,
.need-help-modal.form.deprecated a,
.need-help-modal.form.deprecated a:hover,
.theme-dark .topic-2QX7LI a,
.content-8biNdB a,
.theme-dark .markup-2BOw-j a,
.standardSidebarView-3F1I7i a {
   color: #E0FF00;
}
.theme-dark .embedTitleLink-1Zla9e {
    color: #E0FF00!important;
}
/*** Links ***/

.theme-dark .input-cIJ7To {
   background-color: rgba(0, 0, 0, .3);
   border: none;
   color: white;
}

.theme-dark .input-cIJ7To:hover {
   background-color: rgba(0, 0, 0, .5);
}

.theme-dark .input-cIJ7To:focus {
   background-color: rgba(0, 166, 255, .3);
}

.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
   border: 2px solid #51C2FF;
}

.lookFilled-1Gx00P.colorBrand-3pXr91 {
   background-color: #34A2FE !important;
   color: #fff;
}

.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
   border: 2px solid #14E434;
}

.lookFilled-1Gx00P.colorGreen-29iAKY {
   background-color: #04CC23 !important;
   color: #fff;
}

.lookOutlined-3sRXeN.colorGreen-29iAKY {
   border-color: #04CC23;
   color: white;
   background-color: rgba(109, 251, 98, 0.32);
}

.theme-dark .unreadMentionsBar-1VrBNe {
   box-shadow: none;
}

.mention-1f5kbO {
   background: linear-gradient(340deg, rgba(204, 204, 204, 0.45) 0%, rgba(186, 186, 186, 0.70) 89%);
   border-radius: 50px;
   height: 25px;
}

.mention-1f5kbO:hover {
   background: linear-gradient(340deg, rgba(204, 204, 204, 0.85) 0%, rgba(186, 186, 186, 0.80) 89%);
}

.unreadMentionsIndicatorBottom-BXS58x,
.unreadMentionsIndicatorTop-gA6RCh {
   overflow: visible;
}

.theme-dark .description-3_Ncsb,
.theme-dark .labelDescriptor-1PqHgD {
   color: #4CC7F1;
}

.theme-dark .guildName-3WI6ml,
.theme-dark .override-2YgiXd,
.theme-dark .overrideHighlight-YPcBxt {
   color: #2EB1D4;
}

.size12-3R0845 {
   font-size: 15px;
}

.noticeInfo-3_iTE1 {
   background: linear-gradient(340deg, rgba(0, 0, 0, 0.85) 0%, rgba(186, 186, 186, 0.90) 89%);
   color: #fff;
}

.theme-dark .h5-18_1nd {
   color: white;
}

.theme-dark .divider-3573oO {
   background-color: transparent;
}

.theme-dark .cardPrimaryEditable-3KtE4g[style*="border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);"] {
   background: rgba(255, 255, 255, .3) !important;
   border-color: transparent !important;
}

.theme-dark .checked-3_4uQ9[style*="border-color: rgb(114, 137, 218);"] {
   background-color: rgba(0, 0, 0, 0.4) !important;
   border-color: transparent !important;
}

.theme-dark .checked-3_4uQ9[style*="border-color: rgb(114, 137, 218);"] polyline[stroke] {
   stroke: white;
}

.theme-dark .select-2TCrqx .Select-control {
   background: rgba(0, 0, 0, .3);
   border: none;
}

.theme-dark .select-2TCrqx .Select-control .Select-placeholder,
.theme-dark .select-2TCrqx .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label,
.theme-dark .select-2TCrqx .has-value.Select--single>.Select-control .Select-value .Select-value-label {
   color: white;
}

.themeDefault-24hCdX,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch {
   background-color: rgba(255, 255, 255, 0.23);
}

.size-3rFEHg:after,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch:before {
   background-color: rgba(255, 255, 255, 0.43);
}

.themeDefault-24hCdX.valueChecked-m-4IJZ.size-3rFEHg:after,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked #bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch:before{
   background-color: rgba(255, 255, 255, 0.73);
}

.themeDefault-24hCdX.valueChecked-m-4IJZ,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked {
   background-color: rgba(255, 255, 255, 0.53);
}

.theme-dark .select-2TCrqx .Select-menu-outer {
   background: linear-gradient(340deg, rgba(0, 0, 0, 1) 0%, rgba(240, 240, 240, 0.6) 100%);
   border-color: transparent;
}

.theme-dark .select-2TCrqx .Select-option.is-selected {
   background: rgba(255, 255, 255, .5) !important;
   color: black !important;
}

.theme-dark .select-2TCrqx .Select-option.is-focused,
.theme-dark .select-2TCrqx .Select-option:hover {
   background: rgba(0, 0, 0, .5);
}

.theme-dark .cardPrimaryEditable-3KtE4g {
   background: rgba(0, 0, 0, .5);
   border-color: transparent;
}

.theme-dark .checkbox-1ix_J3 {
   border-color: rgba(255, 255, 255, 0.14);
}

.theme-dark .override-2YgiXd:hover {
   background-color: rgba(0, 0, 0, 0.6);
}

.theme-dark .button-mM-y8i:hover {
   background-color: rgba(255, 255, 255, 0.52);
}

.theme-dark .button-mM-y8i {
   background-color: rgba(255, 255, 255, 0.32);
   box-shadow: none !important;
}

.theme-dark .cardPrimaryOutline-29Ujqw {
   border-color: transparent;
   background-color: rgba(0, 0, 0, 0.4);
}

.lighten-2aYaaU {
   opacity: .8;
   color: #27C1FF;
}

.theme-dark .subtitle-2yP_Eh {
   color: #27C1FF;
}

.lighten-kLb06a {
   opacity: .9;
}

#friends .tab-bar-item .wrapper-232cHJ {
   padding: 6px 8px;
   border-radius: 50px;
   background-color: rgba(255, 255, 255, 0.45);
   color: black;
   box-shadow: none;
   font-size: 14px;
   font-weight: 600;
}

#friends .tab-bar .tab-bar-item.selected .wrapper-232cHJ {
   padding: 6px 8px;
   border-radius: 50px;
   background-color: rgba(0, 0, 0, 0.75);
   color: white;
   box-shadow: none;
   font-size: 14px;
   font-weight: 600;
}

.content-20Aix8 .wrapper-232cHJ {
   padding: 6px 9px;
   border-radius: 50px;
   background-color: rgba(255, 255, 255, 0.45);
   color: black;
   box-shadow: none;
   font-size: 14px;
   font-weight: 600;
}

.channel-2QD9_O .wrapper-232cHJ {
   padding: 6px 9px;
   border-radius: 50px;
   background-color: rgba(255, 255, 255, 0.45);
   color: black;
   box-shadow: none;
   font-size: 14px;
   font-weight: 600;
}

.guild-1EfMGQ .badge-1GsMF2 {
   padding: 8px 11px;
   border-radius: 50px;
   background-color: rgba(255, 255, 255, 0.45);
   box-shadow: none;
   color: black;
   right: -5px;
   font-size: 14px;
   font-weight: 600;
   border: 2px solid
}

.theme-dark .guildsError-3cFMtY:hover {
   background-color: rgba(0, 0, 0, 0.62);
}

.theme-dark .guildsError-3cFMtY {
   background: rgba(0, 0, 0, 0.22);
   border-color: transparent;
   color: silver;
}

.guildsError-3cFMtY {
   font-size: 25px;
   font-weight: 700;
}

.tooltip-1OS-Ti.black-2bmmnj {
   background: linear-gradient(155deg, #000000, #D3D3D3);
   /*Primary Color*/
}

.tooltip-1OS-Ti {
   position: absolute;
   text-align: center;
   color: white;
   border: 2px solid rgba(255, 255, 255, 0.42);
   border-radius: 0;
   text-shadow: rgba(0, 0, 0, 0.69) 1px 1px 5px;
}

.tooltip-1OS-Ti.red-m6f4-H.tooltip-1OS-Ti {
   background-color: rgba(255, 0, 0, 0.72);
}

.tooltip-1OS-Ti.red-m6f4-H.right-KM_vfY:after {
   border-right: none;
}

.tooltip-1OS-Ti.black-2bmmnj.top-1pTh1F:after {
   border-top: none;
}

.tooltip-1OS-Ti.black-2bmmnj.bottom-19kp6S:after {
   border-bottom: none;
}

.tooltip-1OS-Ti.black-2bmmnj.left-1wV7VO:after {
   border-left: none;
}

.tooltip-1OS-Ti.black-2bmmnj.right-KM_vfY:after {
   border-right: none;
}

.theme-dark .guildsAdd-21_IdK:hover {
   border-color: rgba(255, 255, 255, 0.75);
   color: silver;
   background: rgba(255, 255, 255, 0.43);
}

.theme-dark .guildsAdd-21_IdK {
   background: rgba(255, 255, 255, 0.23);
   border-color: rgba(255, 255, 255, 0.45);
   color: silver;
}

.guildsAdd-21_IdK {
   border-radius: 50%;
   border-style: solid;
   border-width: 2px;
   font-size: 34px;
   font-weight: 500;
}



.unread-1Dp-OI {
    display: none;
}

.nameUnreadText-DfkrI4, 
.nameUnreadVoice-EVo-wI,
.nameHoveredText-1uO31y, 
.nameHoveredVoice-YJ1Vfd,
.nameDefaultText-24KCy5, 
.nameDefaultVoice-3WUH7s {
    color: white;
}

.nameLockedText-3pqQcL, 
.nameLockedVoice-26MhB1 {
    color: #DC1414;
    font-size: 14px;
    font-weight: 300;
}

.colorMutedText-36M8WR, 
.colorMutedVoice-3ghIuw {
    color: #4f545c;
}

.foreground-2W-aJk,
.icon-sxakjD {
    opacity: 1;
}

.colorSelectedText-1y4Wvs, 
.colorSelectedVoice-Xcb_9R {
  color: orange;
}


.colorLockedText-1VRkPt, 
.colorLockedVoice-2UlBjl {
   color: #DC1414;
}

.colorConnectedText-1c_uzY, 
.colorConnectedVoice-3kyvUN, 
.colorDefaultText-oas-QM, 
.colorDefaultVoice-3wYlhb, 
.colorHoveredText-OZnAgu, 
.colorHoveredVoice-1kucsK, 
.colorUnreadText-2t7XRb, 
.colorUnreadVoice-137o4S {
   color: white;
}

.background-2OVjk_ {
    opacity: .7;
}

.contentUnreadText-2vNnZc, 
.contentUnreadVoice-1dijOt {
  background: linear-gradient(35deg, rgba(0,0,0,0) 80%, rgba(213,255,0,0.8) 100%);
}

.contentConnectedVoice-qL-YrL:active, 
.contentHoveredText-2D9B-x, 
.contentHoveredVoice-3p_NEO:active, 
.contentSelectedVoice-1WDIBM:active {
    background: linear-gradient(35deg, rgba(0,0,0,0) 80%, rgba(0,226,255,0.8) 100%);
}

.contentSelectedText-3wUhMi, 
.contentSelectedVoice-1WDIBM {
    background: linear-gradient(35deg, rgba(123,26,255,0) 60%, rgba(255,0,0,0.8) 100%, rgba(255,177,0,0.8) 100%);
}

.contentDefaultText-3vZplL, 
.contentDefaultVoice-2ko43i {
  background: linear-gradient(35deg, rgba(0,0,0,0) 80%, rgba(144,144,144,0.5) 100%);
}

.content-20Aix8 {
    border-radius: 0;
}

.wanderingCubesItem-WPXqao,
.spinner-wandering-cubes .spinner-item {
    background-color: #6BBDFA;
}

.spinner-wandering-cubes-1eyF3t {
    background-color: #6BBDFA;
}

.progress-2XXRYo,
.progressBar-3u8FBM.small-1CUeBa,
.progressBar-3u8FBM.large-3EPlRk,
.mediaBarGrabber-1FqnbN, 
.mediaBarProgress-1xaPtl, 
.mediaBarProgress-1xaPtl:after, 
.mediaBarProgress-1xaPtl:before{
    background-color: #6BBDFA !important;
}

.video-1FfuMD,
.theme-dark .private-channel-call {
    background-color: rgba(0,0,0,0.4);
}

.theme-dark .callAvatar-v-u4BM.voice-2D-tt_ 
.callAvatarStatus-3y6S04 {
    border-color: black;
    background-color: #6BBDFA;
    border-radius: 50px; 
}

.callAvatarBorder-1D_KaE.voice-2D-tt_.speaking-oCqYMI,
.callAvatarBorder-1D_KaE.video-3GgX2M.speaking-oCqYMI {
    border-radius: 50px; 
    box-shadow: inset 0 0 0 3px #6BBDFA;
}

.theme-dark .private-channel-call.minimum .private-channel-call-actions .center, .theme-dark .wrapper-29NfPK {
    background-color: transparent;
    border-color: transparent;
}

.theme-dark .itemSubMenu-1vN_Yn:hover {
    background: rgba(255, 255, 255, 0.63) !important;
}

.theme-dark .item-1Yvehc:hover {
    background: rgba(65, 129, 248,0.3);
}

.theme-dark .itemSubMenu-1vN_Yn {
    background: rgba(255, 255, 255, 0.43);
}

.theme-dark.contextMenu-HLZMGh {
    background: rgba(0,0,0,0.6);
    box-shadow: none;
}

.theme-dark .item-1Yvehc {
    color: white;
    border-radius: 0;
    padding: 7px;
}

.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span {
    background-color: rgba(255,255,255,0.17);
    border-color: transparent;
}

.theme-dark .container-3ayLPN {
    background-color: rgba(0,0,0,0.65);
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.theme-dark .option-96V44q:after {
   background: transparent;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header {
    background-color: rgba(0,0,0,0.65);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__week .react-datepicker__day:last-of-type,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__week:last-of-type .react-datepicker__day,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__week .react-datepicker__day:last-of-type {
   border: none;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day-name {
    color: white;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day {
    border: none;
    color: white;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:hover {
    background-color: #1F9CED;
}


.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected {
    background-color: rgba(36, 152, 227,0.5);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day:hover {
    background-color: #0C81CD;
}

.theme-dark .searchAnswer-3Dz2-q {
    background-color: #0C81CD;
}

.theme-dark .searchFilter-2ESiM3 {
    background-color: #1F9CED;
}

.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z {
    background-color: #1F9CED;
}

.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z:hover {
    background-color: #0C81CD;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled {
    background-color: #111111;
    color: rgba(246,246,247,.3);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled:hover {
    background-color: black;
    color: rgba(246,246,247,.5);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after {
    background-color: transparent;
}

.calendarPicker-2yf6Ci .react-datepicker__week:first-of-type>.react-datepicker__day:first-of-type,
.calendarPicker-2yf6Ci .react-datepicker__week:first-of-type>.react-datepicker__day:last-of-type,
.calendarPicker-2yf6Ci .react-datepicker__week:last-of-type>.react-datepicker__day:first-of-type,
.calendarPicker-2yf6Ci .react-datepicker__week:last-of-type>.react-datepicker__day:last-of-type {
    border-radius: 0;
}


.theme-dark .resultsGroup-r_nuzN .header-2N-gMV,
.theme-dark .searchOption-zQ-1l6 .filter-3Y_im-,
.theme-dark .option-96V44q .filter-3Y_im-,
.theme-dark .option-96V44q strong,
.theme-dark .option-96V44q.user-O3Czj0 .displayedNick-3xxvzU,
.theme-dark .searchQuery-1B7rtx .searchFor-3W5Vad strong {
    color: white;
}

.theme-dark .option-96V44q .nonText-3CRkO0 {
   color: #ED1F1F;
}

.theme-dark .searchOption-zQ-1l6 .answer-1n6g43,
.theme-dark .option-96V44q.user-O3Czj0 .displayUsername-Qekxml {
    color: #1FC4ED;
}

.theme-dark .option-96V44q.selected-rZcOL- {
    background-color: rgba(255,255,255,0.23);
    border-radius: 0;
}

.theme-dark .dim-1l4L4y span {
    background-color: rgba(31, 196, 237,0.4);
    color: white;
    border: 1px solid black;
}

.theme-dark .searchResultChannelCategory-1l0lSn, 
.theme-dark .searchResultChannelIcon-1DnTme {
    color: silver;
}

.theme-dark .contentTitle-2tG_sM {
    color: white;
}

.theme-dark .selectorSelected-1_M1WV {
    background-color: rgba(255,255,255,0.13);
}

.theme-dark .iconForeground-1w5n7R {
    fill: white;
}

.theme-dark .description-11DmNu, 
.theme-dark .descriptionUsername-J_75O8,
.marginLeft4-3VaXdt,
.theme-dark .content-Qb0rXO {
    color: white;
}

.theme-dark .contentTitle-2tG_sM strong,
.theme-dark .descriptionDiscriminator-3vUOCc {
    color: silver;
}

.theme-dark .autocomplete-1vrmpx {
    background-color: rgba(0,0,0,0.56);
}

.theme-dark .wrapper-35wsBm {
    background: rgba(0,0,0,.6);
    border-color: transparent;
}

.theme-dark .divider-2PMBlV,
.theme-dark .topic-2QX7LI:before,
.theme-dark .attachButtonDivider-3Glu60 {
    background: transparent;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
    display: none;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.23);
    border-color: transparent;
    border-radius: 0;
}

.theme-dark .messagesWrapper-3lZDfY .scroller-wrap .scroller::-webkit-scrollbar {
    width: 20px;
}

.theme-dark .dividerEnabled-2TTlcf {
    border-bottom-color: transparent;
}

.theme-dark .timestampCozy-2hLAPV {
    color: white;
}

.theme-dark .markup-2BOw-j pre {
    background: transparent;
    border-color: transparent;
}

.theme-dark .markup-2BOw-j code, 
.theme-dark .markup-2BOw-j code.inline {
    background: rgba(255,255,255,0.17);
}

.theme-dark .hljs {
    color: white;
    text-shadow: 0 0 4px black;
}

.markup-2BOw-j code.inline {
    border-radius: 0;
    font-size: 75%;
    padding: .4em;
    text-shadow: 0 0 4px black;
}

.markup-2BOw-j code {
    font-size: 0.675rem;
    line-height: .9rem;
}

.theme-dark .edited-DL9ECl,
.theme-dark .operations-36ENbA {
    color: white;
}

.theme-dark .channelTextArea-rNsIhG {
    border-top: none;
}

.theme-dark .container-3cGP6G {
    background: rgba(255,255,255,0.45);
}

.theme-dark .item-2J1YMK:active, 
.theme-dark .item-2J1YMK:hover {
    background-color: rgba(255,255,255,0.25);
}

.need-help-modal.form.deprecated .header {
    background-color: black;
    border-radius: 0;
}

.need-help-modal.form.deprecated .header input[type=text] {
    background-color: rgba(255,255,255,0.15);
    border-radius: 0;
    box-shadow: none;
    color: white;
}

.need-help-modal.form.deprecated .form-inner {
    background-color: black;
}

.need-help-modal.form.deprecated .footer {
    background-color: black;
    border-radius: 0;
    border-top: none;
    color: white;
}

.theme-dark .iconBadge-2dji3k {
    border-color: transparent;
    background-color: rgb(255,255,255);
}

.bda-dark #bda-qem-favourite-container, .bda-dark #bda-qem-twitch-container,
.bda-dark .emoji-picker, .bda-dark .emojiPicker-3m1S-j {
    background-color: rgba(0,0,0,0.45);
    border-radius: 0;
    border: none;
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb,
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-thumb, .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-thumb, .scrollerThemed-2oenus.themeLight-1_DWyY .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-dark .scrollerThemed-2oenus.themeLight-1_DWyY .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-light .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.34);
    border: none;
    border-radius: 0;
}

.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar, .bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track, .bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track-piece, .bda-dark #pubs-container .scroller::-webkit-scrollbar, .bda-dark #pubs-container .scroller::-webkit-scrollbar-track, .bda-dark #pubs-container .scroller::-webkit-scrollbar-track-piece, .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar, .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track, .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track-piece,.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track,.bda-dark .emoji-picker .scroller::-webkit-scrollbar, .bda-dark .emoji-picker .scroller::-webkit-scrollbar-track, .bda-dark .emoji-picker .scroller::-webkit-scrollbar-track-piece, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track-piece {
    background-color: transparent;
    border: none;
    border-radius: 0;
}

.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.selected-39BZ4S {
    border-bottom-color: black;
}


.searchBar-2_Yu-C.searchBarLight-1NxoDG {
    background-color: transparent;
}

.bda-dark #bda-qem button {
    border-left: none;
    background: rgba(255, 255, 255, 0.13);
    box-shadow: none;
    color: white;
    font-size: 12px;
}

.bda-dark #bda-qem button:hover {
    background: rgba(255, 255, 255, 0.34);
}

.bda-dark #bda-qem button.active {
    background: rgba(255, 255, 255, 0.64);
    color: black;
}

.emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA.selected-39BZ4S {
    background-color: rgba(255,255,255,0.23);
    border-radius: 0;
}

.bda-dark .emoji-picker .dimmer.visible, .bda-dark .emojiPicker-3m1S-j .dimmer-3iH-5D.visible-3k45bQ {
    background-color: rgba(0, 0, 0, 0.6);
}

.bda-dark .emoji-picker .diversity-selector .popout-3sVMXz, .bda-dark .emojiPicker-3m1S-j .diversitySelector-tmmMv0 .popout-2nUePc {
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.diversitySelector-tmmMv0 .popout-2nUePc .item-16cXuq:hover {
    background-color: rgba(255,255,255,.2);
}

.bda-dark #bda-qem {
    border-radius: 0;
    background: transparent;
    border-bottom: none !important;
}

.bda-dark .emoji-picker .category, .bda-dark .emojiPicker-3m1S-j .category-2U57w6 {
    color: white;
    text-align: center;
}

.emojiPicker-3m1S-j .stickyHeader-1SS0JU {
    background: transparent;
}

.mini-dmm9yo .grabber-3mFHz2 {
    border-radius: 0;
    border: none;
    background-color: rgba(255,255,255,0.34);
}

.mini-dmm9yo .grabber-3mFHz2:hover {
    background-color: rgba(255,255,255,0.54);
}

.theme-dark .bubble-3we2di {
    background-color: rgba(0,0,0,0.53);
}

.theme-dark .bubble-3we2di:before {
    border-top-color: transparent;
}

.backdrop-1wrmKB {
    opacity: 1 !important;
    background-color: rgba(0,0,0,0.3) !important;
}

.uploadModal-2ifh8j {
    background-color: rgba(0,0,0,0.36);
    border-radius: 0;
    min-height: 358px;
    width: 720px;
}

.uploadModal-2ifh8j .footer-3mqk7D {
    background-color: transparent;
}

.uploadModal-2ifh8j .inner-3nWsbo {
    border: none;
}

.theme-brand .inner-zqa7da {
    top: 43px;
    background-color: rgba(255,255,255,0.16);
    border-radius: 0;
}

.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .description-2ug5H_ .filename-ovv3c5 {
    position: absolute;
    top: 298px;
    left: 0;
    z-index: 1;
}

.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j,
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr {
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    height: 174px;
    margin-left: 16px;
    margin-right: 12px;
    margin-top: -33px;
    right: 0;
    position: absolute;
    width: 204px;
}


.uploadModal-2ifh8j .inner-3nWsbo .comment-4IWttf .label-3aiqT2 {
    top: 43px;
    position: relative;
}

.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .bgScale-1otPtc {
   background: #E4E4E4;
   border-radius: 0;
}

.uploadArea-3QgLtW {
   background: rgba(0, 0, 0, .5);
}

.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc.error-kKl9o2 {
   background-color: #E71515;
   border-radius: 0;
}

.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo {
   border: none;
   border-radius: 0;
}

.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo .instructions-2Du9gG {
   color: white;
}

.uploadModal-2ifh8j .footer-3mqk7D .button {
    background-color: rgba(255,255,255,0.23);
    transition: background-color 1s;
}

.uploadModal-2ifh8j .footer-3mqk7D .button:hover {
    background-color: rgba(255,0,0,0.43);
}

.uploadModal-2ifh8j .footer-3mqk7D .button-primary {
    color: white;
    opacity: 1 !important;
}

.theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:after, .theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:before,
.theme-dark .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI:after, .theme-dark .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI:before {
    border-color: transparent;
}

.theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI {
    color: white;
}

.theme-dark .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI {
    color: #4DB2F3
}


.botTagRegular-2HEhHi,
.botTagInvert-18-95s {
    background: rgba(77, 178, 243,0.42);
    color: white;
}

.theme-dark .wrapperHover-1GktnT:hover,
.theme-dark .isMentioned-N-h9aa .mention:hover {
    background-color: rgba(15, 175, 235,.7) !important;;
    border: 2px solid rgba(255,255,255,0.23);
    color: #fff !important;
}

.theme-dark .wrapper-3WhCwL,
.theme-dark .isMentioned-N-h9aa .mention {
    background-color: rgba(15, 175, 235,.2) !important;
    border: 2px dashed rgba(255,255,255,0.13);
    color: white;
    transition: background-color .9s linear;
}

.theme-dark .hasMore-3e72_v button {
    background: rgba(77, 178, 243, 0.6) !important;
    border: none;
    color: white;
}

.newMessagesBar-mujexs,
.theme-dark .jumpToPresentBar-9P20AM {
    background-color: rgba(0,0,0,.6) !important;
    border-radius: 0;
}

.jumpToPresentBar-9P20AM button:last-child,
.newMessagesBar-mujexs button:last-child {
    color: white;
}

.isMentionedCozy-3isp7y:after {
    background: none;
    border-left: none;
}

.theme-dark .isMentioned-N-h9aa {
    background: rgba(255,255,255,.13);
    padding: 7px 9px;
}

.containerCozyBounded-1rKFAn {
    overflow: visible;
}

/*** Controls Avatar and Messages ***/
.contentCozy-3XX413 {
    margin-left: 100px;
}

.headerCozy-2N9HOL {
   margin-left: 20px;
}

.avatar-17mtNa .large-3ChYtB {
    width: 64px;
    height: 64px;
    margin-left: -13px;
    opacity: 1 !important;
}

.search-results-wrap .avatar-17mtNa .large-3ChYtB {
    width: 54px;
    height: 54px;
    margin-top: -5px;
    opacity: 1 !important;
}
/*** --- ***/

.theme-dark .reaction-1ELvT8.reactionMe-23mbRf {
    background: rgba(15, 175, 235,.3);
}

.theme-dark .reaction-1ELvT8.reactionMe-23mbRf .reactionCount-2ddRoS {
    color: white;
}

.theme-dark .header-ykumBX,
.theme-dark .searchHeader-1l-wpR {
    background-color: transparent;
    box-shadow: none;
}

.theme-dark .footer-1kmXd4 {
    background-color: transparent;
}

.theme-dark .messagesPopoutWrap-1MQ1bW,
.theme-dark .searchResultsWrap-2DKFzt {
    background-color: rgba(255,255,255,0.23);
    border: none;
    box-shadow: none;
}

.theme-dark .channelSeparator-1X1FuH .channelName-1QajIf {
    background-color: rgba(255,255,255,0.13);
}

.theme-dark .messageGroupWrapper-o-Zw7G:hover {
    background-color: rgba(0,0,0,0.7);
}

.theme-dark .messageGroupWrapper-o-Zw7G {
    background-color: rgba(0,0,0,0.5);
    border: none;
}

.theme-dark .jumpButton-3DTcS_,
.theme-dark .jumpButton-Ia2hRJ {
    background-color: rgba(15, 175, 235,0.4);
    color: white;
}

.theme-dark .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug {
    background-color: transparent;
    box-shadow: none;
}

.theme-dark .channelSeparator-1X1FuH:before {
    border-color: transparent;
}

.theme-dark .searchResult-3pzFAB:before,
.theme-dark .searchResult-3pzFAB:after {
    background-image: none;
}

.theme-dark .searchResultsWrap-2DKFzt .searchResult-3pzFAB .searchResultMessage-2VxO12.hit-NLlWXA,
.theme-dark .searchResultsWrap-2DKFzt .searchResult-3pzFAB.expanded-v2Szsz  {
    border: none;
}

.theme-dark .searchResultsWrap-2DKFzt .searchResult-3pzFAB.expanded-v2Szsz  {
    background-color: rgba(0,0,0,0.6);
}

.theme-dark .searchResultsWrap-2DKFzt .searchResult-3pzFAB .hit-NLlWXA {
    background-color: rgba(0,0,0,0.5);
    box-shadow: none;
}

.theme-dark .searchResultsWrap-2DKFzt .expanded-v2Szsz .searchResultMessage-2VxO12.hit-NLlWXA {
    background-color: rgba(0,0,0,0.8);
    border: none;
}

.theme-dark .emptyPlaceholder-1zh-Eu .body-bvcIjN {
    color: white;
}

.theme-dark .membersGroup-v9BXpm {
    color: white;
    font-weight: 400;
    text-align: center;
}

.theme-dark .status-2s6iDp {
    border-color: black !important;
}

.theme-dark .activity-1IYsbk {
    color: silver;
}

.activity-1IYsbk strong {
    color: white;
}

.theme-dark .activityIconForeground-qYIPPg {
    fill: white;
}

.wrapper-2NJDcI {
    background-color: rgba(255,255,255,0.32);
    border-radius: 0;
    color: white;
}


.theme-dark .member-3W1lQa:hover .content-OzHfo4 {
    background-color: rgba(255,255,255,0.13);
}

.theme-dark .member-3W1lQa.popout-open .content-OzHfo4, .theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4 {
    background-color: rgba(255,255,255,0.23);
}

.mask-3OgeRz {
    border-radius: 0;
    mask: none !important;
}

/* Friends and DMS */

.aka-1mqp34 {
    background: rgba(255,255,255,0.43);
    border-radius: 0;
    color: white;
}

.theme-dark .errorState-3QMR6P {
    color: white;
}

.channel-2QD9_O.selected-1HYmZZ a,
.article-3kb3qm {
    background-color: rgba(15, 175, 235,.6) !important;
}

.theme-dark .header-1RC2Wb {
    background-color: rgba(0,0,0,.5);
}

.theme-dark .header-1RC2Wb:hover {
    background-color: rgba(0,0,0,.8);
}

.theme-dark .card-7JP0BX {
    background-color: transparent;
    color: white;
}

.theme-dark .body-SKIE6r {
    background-color: rgba(0,0,0,.4);
}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    background-color: #430DAE;
    color: white;
}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:active, .theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover {
    background-color: #5D24CD !important;
}

.headerButtonColor-G7_f-V {
    background: #24A1CD !important;
}

.theme-dark .lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV:hover {
   border: 2px solid rgba(255,255,255,.34);
}

.theme-dark .player-1kJMbj,
.theme-dark .headerText-2niCs_ {
    border: none;
}

.theme-dark .headerText-2niCs_ {
    color: white;
}

.theme-dark .quickswitcher-3JagVE {
    background-color: black;
    color: white;
    border-radius: 0;
    box-shadow: none;
}

.theme-dark .tipsWithoutResults-lGY-De, .theme-dark .tipsWithResults-HhTE9b {
    border: none;
    color: white;
}

.theme-dark .keybindShortcutTipsSelect-HDyfe8:last-of-type:before {
    background-color: transparent;
}

.theme-dark .sectionLine-JjseS9 {
    background-color: transparent;
}

.theme-dark .emptyStateNote-ZYTetQ {
    color: white;
}

.theme-dark .input-2VB9rf {
    background-color: rgba(255,255,255,0.13);
    box-shadow: none;
}

.theme-dark .keybindShortcut-1BD6Z1 span {
    background-color: rgba(255,255,255,0.34);
    border: none !important;
    box-shadow: none !important;
    color: white;
}

.theme-dark .contentUnread-3gTHvA .note-S--UP5,
.theme-dark .icon-30q1Or {
    color: silver;
}

.theme-dark .contentDefault-16dKSY {
    color: white;
}

.theme-dark .resultFocused-3aIoYe {
    background-color: rgba(255,255,255,0.12);
}

 .channel-2QD9_O:hover a {
    background-color: rgba(255,255,255,0.45);
}

.privateChannels-1nO12o header,
.name-2WpE7M {
    opacity: .7;
}

.channel-2QD9_O .status,
.theme-dark .friend-2PO6ke .status {
    border: 2px solid black !important;
}

.searchBarTag-2xRzm8 {
    background: rgba(255,255,255,0.36);
    border-radius: 0;
}

.theme-dark .friend-2PO6ke {
    color: white;
}

.theme-dark .friendSelected--wQP3f {
    background-color: rgba(255,255,255,.2);
    color: #fff;
}

.theme-dark .checkbox-1ix_J3[style*="border-color: rgb(79, 84, 92);"] {
    border-color: transparent !important;
    background-color: rgba(255,255,255,0.33);
}

.theme-dark .checkbox-1ix_J3[style*="border-color: rgb(79, 84, 92);"] polyline[stroke] {
    stroke: white;
}

.theme-dark .topPill-30KHOu .item-PXvHYJ:hover:not(.itemSelected-1qLhcL) {
    background-color: rgba(255,255,255,0.26);
}

.theme-dark .container-3gCOGc .tab-bar .tab-bar-item {
    color: white;
}

.theme-dark .topPill-30KHOu .itemSelected-1qLhcL {
    background-color: rgba(36, 131, 205,0.6);
    color: white;
}

.theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d .friendsColumnSeparator-3MqtMA {
    background-color: transparent;
}

.tabBar-1E2ExX .primary-3j8BhM {
    background-color: #2483CD  !important;
}

.tabBar-1E2ExX .primary-3j8BhM:hover:not(.selected) {
    background-color: #2073B3  !important;
    border: 2px outset rgba(255,255,255,0.14);
}

.tabBar-1E2ExX .primarySelected-3uHKZn {
    background-color: #3F93D3  !important;
    color: white  !important;
}


.theme-dark .friendsTable-133bsv .friendTableAddWrapper-nHHZtK .friendTableSuggestionsHeader-2zSnpD {
    border-bottom: none;
}

.theme-dark .friendsTable-133bsv .friendTableAddWrapper-nHHZtK .friendTableAddHeader-m9bzFr {
    background: rgba(0,0,0,0.3);
    border-bottom: none;
}

.theme-dark .text-GwUZgS, 
.theme-dark .title-2BxgL2,
.theme-dark .container-3gCOGc .friends-table .friends-row .friends-column-name,
.theme-dark .friendsTable-133bsv .friendsRow-2yicud .friendsColumnStatus-ZH4ho2,
.theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d .friendsColumn-eVHFqJ {
    color: white;
}

.theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d,
.theme-dark .friendsTable-133bsv .friendsRow-2yicud+.friendsRow-2yicud {
    border: none;
}

.theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d .friendsColumnSeparator-3MqtMA {
    background-color: transparent;
}

.iconSizeSmall-3aWgx9 {
    background-color: transparent;
}

.theme-dark .friendsTable-133bsv .friendsRow-2yicud .friendsColumnGuilds-2we6jb .moreMutualGuildsBtn-2VwbkO {
    border: none;
    color: white;
}

.theme-dark .friendsTable-133bsv .friendsRow-2yicud .friendsColumnGuilds-2we6jb .moreMutualGuildsBtn-2VwbkO:hover {
    background-color: rgba(63, 147, 211, 0.6);
}

.theme-dark .friendsTable-133bsv .friendsRow-2yicud:hover {
    background: rgba(255,255,255,.13);
}

.theme-dark .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9 {
    background-color: #2483CD;
}

.theme-dark .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9:hover {
    background-color: #5BA2DA;
}

.friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9.friendsActionRemove-qu8nnl:hover {
    background-color: rgb(242, 35, 35)!important;
}

.theme-dark .wrapper-29NfPK.minimum-2d6zH6 .actions-2vadYq .center-1Vp33r {
    background-color: rgba(0,0,0,0.3);
    border-color: transparent;
}

.lookFilled-1Gx00P.colorRed-1TFJan,
.lookOutlined-3sRXeN.colorRed-1TFJan {
    background-color: rgba(255, 50, 50,0.5);
    transition: background-color 1s ease, border 1s ease;
    border: 2px solid rgba(255, 101, 101,0.5);
    color: white;

}

.lookFilled-1Gx00P.colorRed-1TFJan:hover,
.lookOutlined-3sRXeN.colorRed-1TFJan:hover {
    background-color: rgba(255, 50, 50,0.8);
    border: 2px solid rgba(255, 101, 101,0.8);
}

/* Discord Settings */

.theme-dark .keybind-KpFkfr {
    color: white;
}

.theme-dark .closeButton-1tv5uR {
    border-color: transparent;
}

.theme-dark .cardPrimary-1Hv-to {
    background: rgba(0,0,0,.5);
    border-color: transparent;
}

.theme-dark .userSettingsAccount-2eMFVR .viewBody-2Qz-jg {
    color: #32AEFF;
}

.theme-dark .multiInputLast-1aQ3YA:before {
    border-right-color: transparent;
}

.theme-dark .header-2RyJ0Y,
.theme-dark #bd-settings-sidebar .ui-tab-bar-header {
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-weight: 300;
}

.side-8zPYf6 .itemSelected-1qLhcL,
.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected,
#bd-settingspane-container .bd-pfbtn,
.bda-slist .bda-footer button,
.standardSidebarView-3F1I7i #editor-detached button {
    background-color: #57A1D9;
}

.bda-slist .bda-footer a {
    color: #57A1D9;
}

.lookOutlined-3sRXeN.colorBrand-3pXr91 {
    border-color: transparent;
    color: white;
    background-color: #157CDD;
}

.lookOutlined-3sRXeN.colorBrand-3pXr91:hover {
    background-color: #157CDD;
    border: 2px solid rgba(255,255,255,0.27);
}

.theme-dark .accountBtnInner-sj5jLs {
    background-color: rgba(255,255,255,0.12);
    border-color: transparent;
    border-radius: 0;
}

.theme-dark .accountBtnInner-sj5jLs:hover {
    background-color: rgba(255,255,255,0.32);
}

.theme-dark .separator-gCa7yv,
.theme-dark #bd-settings-sidebar .ui-tab-bar-separator {
    background-color: transparent;
}

.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(240, 71, 71);"] {
    background-color: rgba(255, 50, 50,0.5) !important;
    transition: background-color 1s ease, border 1s ease;
    border: 2px solid rgba(255, 101, 101,0.5) !important;
    color: white !important;

}

.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(240, 71, 71); background-color: rgba(240, 71, 71, 0.0980392);"] {
    background-color: rgba(255, 50, 50,0.8) !important;
    border: 2px solid rgba(255, 101, 101,0.8) !important;
}

.theme-dark .paymentRow-2e7VM6 {
    border-bottom: none;
}

.theme-dark .paymentPane-3bwJ6A,
.theme-dark .payment-xT17Mq {
    background-color: transparent;
    color: white;
}

.theme-dark .paginator-166-09 {
    background: transparent;
}

.theme-dark .paginator-2CA79G,
.theme-dark .summaryInfo-2QFKUg {
    color: white;
}

.theme-dark .hoverablePayment-Yc6mK7:hover {
    background-color: rgba(0,0,0,0.34);
}

.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(114, 137, 218);"] {
    color: #157CDD !important;
}

.theme-dark .side-8zPYf6 .itemDefault-3Jdr52:hover[style*="color: rgb(114, 137, 218); background-color: rgba(114, 137, 218, 0.0980392);"], .theme-dark .side-8zPYf6 .itemHover-EnbcjT:hover[style*="color: rgb(114, 137, 218); background-color: rgba(114, 137, 218, 0.0980392);"] {
     color: white !important;
     background-color: #157CDD !important;
}

.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(255, 255, 255); background-color: rgb(114, 137, 218);"] {
    color: white !important;
    background-color: #157CDD !important;
    border: 2px solid rgba(255,255,255,0.34) !important;
}

.barFill-23-gu- {
    background: rgba(255,255,255,0.45);
}

.theme-dark .bar-2Qqk5Z {
    background: black;
}

.barFill-23-gu-[style*="background: rgb(251, 184, 72);"] {
    background: rgba(255,255,255,0.45) !important;
}

.theme-dark .bar-2Qqk5Z[style*="background: rgb(105, 196, 154);"] {
    background: black !important;
}

.grabber-3mFHz2 {
    background-color: rgba(255,255,255,0.23);
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.userSettingsVoice-iwdUCU .media-engine-video {
    background-color: rgba(0,0,0,0.34);
    border-radius: 0;
}

.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
    background-color: transparent;
    border-color: transparent;
}

.theme-dark .notificationsSound-27jFSh,
.theme-dark .row-2okwlC,
.theme-dark .game-1ipmAa,
.theme-dark .item-3eFBNF {
    box-shadow: none;
}

.theme-dark .lastPlayed-3bQ7Bo, 
.theme-dark .overlayStatusText-L2IACa,
.theme-dark .game-1ipmAa,
.theme-dark .markValue-2DwdXI {
    color: white;
}

.theme-dark .nowPlaying-284llR .gameNameInput-385LoS:focus, .theme-dark .nowPlaying-284llR .gameNameInput-385LoS:hover,
.theme-dark .gameNameInput-385LoS:focus, .theme-dark .gameNameInput-385LoS:hover {
    background-color: rgba(255,255,255,0.23);
    border: 1px solid rgba(255,255,255,0.53)
}

.theme-dark .card-FDVird:before {
    background-color: rgba(255,255,255,0.34);
    border-color: transparent;
}

.ghostPill-2-KUPM {
    background-color: rgba(230, 201, 58,.3);
    border-radius: 0;
    color: #E6C93A;
}

.theme-dark .nowPlaying-284llR {
   background-color: rgba(81, 230, 58,0.6);
}

.theme-dark .markDash-3hAolZ {
    background: white;
}


.theme-dark .nowPlaying-284llR .last-played, .theme-dark .nowPlaying-284llR .overlay-status-text {
   color: white;
}

.lookLink-9FtZy-.colorLink-35jkBc:hover .contents-18-Yxp {
    background-image: linear-gradient(0deg,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0) 1px,#51E63A 0,#51E63A 2px,rgba(0, 0, 0, 0) 0);
}

.lookLink-9FtZy-.colorLink-35jkBc {
    color: #51E63A;
}

.theme-dark .addGamePopout-2RY8Ju {
    background-color: black;
}

.theme-dark #bd-settingspane-container .ui-switch-item .style-description {
    color: silver;
    border: none;
}

.ace-monokai .ace_gutter,
.ace-monokai {
    background: rgba(0,0,0,0.3);
    color: white;
}

.ace-monokai .ace_marker-layer .ace_active-line,
.ace-monokai .ace_gutter-active-line,
.editor {
    background: rgba(0,0,0,0.6);
}

.content-region #bd-customcss-attach-controls, #bd-customcss-detach-container #bd-customcss-attach-controls {
    background: rgba(0,0,0,0.5);
    border: 0;
    box-shadow: none;
}

.standardSidebarView-3F1I7i #bd-customcss-attach-controls button, .bd-detached-css-editor #bd-customcss-attach-controls button {
    background: rgba(0,0,0,0.5);
    color: #FFF;
    height: 26px;
    border: none !important;
    font-weight: 400;
}

.standardSidebarView-3F1I7i #bd-customcss-attach-controls button:hover, .bd-detached-css-editor #bd-customcss-attach-controls button:hover {
    background: rgba(255,255,255,0.4);
    color: #FFF;
}

.theme-dark .bda-slist li {
    background-color: rgba(255,255,255,.2);
    color: white;
    border: none;
}

.theme-dark .bda-slist .bda-header {
    color: white;
    border: none;
}

.theme-dark .bda-slist .bda-footer {
    border: none;
}

/*** User Profile and Modal ***/

.headerPlaying-j0WQBV,
.topSectionPlaying-1J5E4n {
   background-color: rgba(19, 22, 236, 0.6);
}

.lookInverted-2D7oAl.colorBrand-3pXr91 {
    background-color: rgb(19, 22, 236) !important;
    color: white !important;
    border: 1px solid rgba(255,255,255,0.33);
}

.headerSpotify-zpWxgT,
.headerXbox-3G-4PF,
.topSectionXbox-3fWLjS,
.topSectionSpotify-1lI0-P {
    background: rgba(59, 231, 5, 0.6);
}

.lookInverted-2D7oAl.colorGreen-29iAKY {
    background-color: #3BE705 !important;
    color: white;
    border: 1px solid rgba(255,255,255,0.33);
}

.headerStreaming-2FjmGz,
.topSectionStreaming-1Tpf5X {
    background: rgba(104, 5, 231, 0.6);
}

.buttonInvertedPurple-WtBglX {
    background-color: #6805E7 !important;
    color: white;
    border: 1px solid rgba(255,255,255,0.33);
}

.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6,
.theme-dark .body-3ND3kc {
    background-color: rgba(0,0,0,0.4);
    color: white;
}

.footer-1fjuF6 {
    border: none;
}

.theme-dark .headerNormal-T_seeN,
.theme-dark .topSectionNormal-2-vo2m {
    background-color: rgba(0,0,0,0.4);
}

.userPopout-3XzG_A {
    border-radius: 0;
    box-shadow: none;
    background-image: url(https://www.mordeo.org/files/uploads/2017/08/Winter-Snowflake-HD-Mobile-Wallpaper-950x1520.jpg);
    background-size: cover;
}

.protip-YaFfgO {
    display: none;
}

.bodyTitle-Y0qMQz,
.userInfoSectionHeader-CBvMDh {
    color: white;
}

.role-2irmRk {
    border: 2px solid;
    border-radius: 0;
    height: 26px;
    margin: 0 4px 7px 0;
    background-color: rgba(0,0,0,0.3);
}

.roleCircle-3xAZ1j {
    border-radius: 0;
}

.root-SR8cQa {
    border-radius: 0;
    background-image: url(https://images6.alphacoders.com/482/482570.jpg);
    background-size: cover;
}
.theme-dark .note-3kmerW textarea,
.theme-dark .root-SR8cQa .note-QfFU8y textarea {
    color: white;
    padding: 8px 6px;
}

.theme-dark .root-SR8cQa .note-QfFU8y textarea:focus,
.theme-dark .note-3kmerW textarea:focus {
    background-color: rgba(255,255,255,0.44);
    border: 2px solid rgba(255,255,255,.24);
}

.theme-dark .quickMessage-1yeL4E {
    background-color: rgba(0,0,0,0.5);
    border-color: transparent;
    color: white;
}

.theme-dark .quickMessage-1yeL4E:focus {
    background-color: rgba(255,255,255,0.44);
    border: 2px solid rgba(255,255,255,.24);
}

.tabBarContainer-1s1u-z {
    border-top: none;
}

.theme-dark .userInfoSection-2acyCx+.userInfoSection-2acyCx {
    border-color: transparent;
}

.theme-dark .connectedAccount-36nQx7 {
    border: 2px solid rgba(255,255,255,0.34);
    background-color: rgba(255,255,255,0.24)
}

.connectedAccountName-f8AEe2 {
    color: white;
}

.listAvatar-1NlAhb {
    background-color: transparent;
}

.guildNick-3uAm3i, .listName-3w10cx {
    color: white;
}


/* New Stuff */
.theme-dark .gameLibrary-TTDw4Y,
.theme-dark .applicationStore-1pNvnv,
.theme-dark .itemBackground-1jfD8p {
    background-color: transparent
}

.theme-dark .itemBackground-1jfD8p:before {
    background: radial-gradient(ellipse at top,rgba(0, 0, 0, 0),black),linear-gradient(90deg,black 0,rgba(0, 0, 0, 0) 40%,rgba(0, 0, 0, 0) 60%,black),linear-gradient(0deg,black 0,rgba(0, 0, 0, 0) 25%)
}

.theme-dark .overlappingBorder-1ysb12 {
    border-color: #157CDD
}

.theme-dark .announcingNitro-3Ptg6m:hover {
    color: white
}

.theme-dark .announcingNitro-3Ptg6m {
    border-color: transparent;
    color: #157CDD
}

.theme-dark .distributionApplicationsActions-3D2_kD, .theme-dark .premiumApplicationsHeader-Zmkm5e {
    border-color: transparent
}

.theme-dark .tileWrapper-2khh-w {
    background-color: rgba(0,0,0,0.34);
    box-shadow: none
}

.theme-dark .tileWrapper-2khh-w:hover {
    background-color: rgba(0,0,0,0.84);
}

.theme-dark .mediaDescription-31GsyQ {
    background: linear-gradient(180deg,rgba(0, 0, 0, 0),black 45%,black)
}

/* --- */
.theme-dark .focused-2bY0OD {
    background-color: rgba(255,255,255,0.23);
}


.theme-dark .queryContainer-RKFJW- {
    border-bottom-color: transparent;
    color: white
}
