//META{"name":"Wonderful_Leaves","description":"Enjoy these wonderful red leaves","author":"DevilsLynAvenged","version":"1"}*//{}

/* November 6, 2018 at 6:50:04 PM EST */
#app-mount {
     background-size: cover;
     background-image: url(https://images7.alphacoders.com/387/387367.jpg);
}

.container-2lgZY8,
.theme-dark .guildsWrapper-5TJh6A,
.theme-dark .typing-2GQL18,
.container-PNkimc,
.channels-Ie2l6A,
.theme-dark .messagesWrapper-3lZDfY,
.theme-dark .chat-3bRxxu, 
.theme-dark .chat-3bRxxu form, 
.theme-dark .content-yTz4x3,
.theme-dark .container-3gCOGc,
.theme-dark .contentRegion-3nDuYy,
.theme-dark .sidebarRegion-VFTUkN,
.theme-dark .activityFeed-28jde9,
.theme-dark .gameLibrary-TTDw4Y,
.theme-dark .applicationStore-1pNvnv {
    background-color: transparent;
}

.theme-dark .layer-3QrUeG, 
.theme-dark .layers-3iHuyZ,
.theme-dark .standardSidebarView-3F1I7i {
    background: rgba(0,0,0,0.30);
}

.theme-dark .base-gE7OpD span {
    color: white;
}

.base-gE7OpD strong {
    font-weight: 500;
}

.theme-dark .title-3qD0b-,
.theme-dark .headerBar-UHpsPw {
    background: transparent;
    box-shadow: none;
}

.searchBar-6Kv8R2 {
   box-shadow: none;
   height: 62px;
    padding: 0 4px 0 23px;
}

.header-2o-2hj {
    box-shadow: none;
    font-weight: 400;
    height: 62px;
    padding: 0 4px 0 23px;
}

.theme-dark .members-1998pB {
    background-color: rgba(0,0,0,0.2);
}

/* Main Chat/Friends */
.theme-dark .unreadMentionsBar-1VrBNe {
   box-shadow: none;
}

.unread-1xRYoj {
    display: none;
}

.unreadMentionsIndicatorBottom-BXS58x, 
.unreadMentionsIndicatorTop-gA6RCh {
    overflow: visible;
    
}

.unreadMentionsIndicatorBottom-BXS58x {
   bottom: 12px;
}

.mention-1f5kbO {
    background-color: #610809;
    height: 25px;
    animation: opacity 2s 1 linear;
    border-radius: 10px;
    transition: background-color .3s ease;
}

.mention-1f5kbO:hover {
    background-color: #6a1312;
}

.wrapper-232cHJ {
    background: linear-gradient(190deg, #610809 13%, black 80%);
    border-radius: 4px;
    box-shadow: none;
    padding: 4px 10px;
    text-shadow: none;
}
@keyframes opacity {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.searchBar-2_Yu-C .searchBarInner-1_Tg2R {
    background: none;
    border: none;
    border-radius: 0;
}

.searchBar-2_Yu-C {
    background-color: rgba(255,255,255,0.12);
    border-radius: 0;
}

.searchBar-2_Yu-C:hover {
    background-color: rgba(255,255,255,0.22);
    border-radius: 0;
}

.theme-dark .quickswitcher-3JagVE {
    background-color: rgba(97, 8, 9, 0.6);
    color: white;
}

.quickswitcher-3JagVE {
    border-radius: 0;
    box-shadow: none;
    width: 640px;
}

.theme-dark .tipsWithoutResults-lGY-De, 
.theme-dark .tipsWithResults-HhTE9b {
    border-color: transparent;
    color: white;
}

.theme-dark .keybindShortcutTipsSelect-HDyfe8:last-of-type:before {
    background-color: transparent;
}

.theme-dark .keybindShortcut-1BD6Z1 span {
    background-color: rgba(0,0,0,0.6);
    border: none;
    box-shadow: none;
    color: white !important;
}

.theme-dark .keybindShortcut-1BD6Z1 span:active {
    border: none;
    box-shadow: none;
}

.theme-dark .keybindShortcut-1BD6Z1 span:active .bindArrow-2X3Aom g {
    fill: white;
}

.keybindShortcut-1BD6Z1 span {
    border-radius: 0;
}

.emptyStateCTA-veJ2Cu {
    opacity: 1;
}

.theme-dark .text-GwUZgS, 
.theme-dark .title-2BxgL2,
.theme-dark .emptyStateNote-ZYTetQ {
    color: white;
}

.backdrop-1wrmKB {
   background-color: rgba(0,0,0,0.4) !important;
   opacity: 1 !important;
}

.theme-dark .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9 {
    background-color: #610809;
}

.theme-dark .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9:hover {
    background-color: #6a1312;
    border: 2px solid rgba(255,255,255,0.12);
}

.theme-dark .friendsTable-133bsv .friendsRow-2yicud:hover {
    background: rgba(0, 0, 0,.8);
}


#friends .friends-table .friends-row:hover {
    border-radius: 5px;
}


#friends .friends-table .friends-row {
    font-weight: 400;
    overflow: visible;
    text-shadow: 0 2px 4px black,0 2px 4px black,0 2px 4px black;
}

.friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9.friendsActionRemove-qu8nnl:hover {
    background-color: #e50b0b!important;
}

/* November 9, 2018 at 11:20:13 PM EST */
.theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d,
.theme-dark .friendsTable-133bsv .friendsRow-2yicud+.friendsRow-2yicud {
    border: none;
}

#friends .friends-table .friends-row .discord-tag,
.theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d .friendsColumn-eVHFqJ,
#friends .friends-table .friends-row .discord-tag .discriminator,
.friendsTable-133bsv .friendsRow-2yicud .friendsColumnStatus-ZH4ho2 .friendActivityText-2lmziy, 
.friendsTable-133bsv .friendsRow-2yicud .friendsColumnStatus-ZH4ho2 .statusText-2F9zIF {
    color: white;
}

.theme-dark .friendsTable-133bsv .friendsRow-2yicud .friendsColumnGuilds-2we6jb .moreMutualGuildsBtn-2VwbkO:hover {
    border-color: rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.5);
}


.theme-dark .friendsTable-133bsv .friendsRow-2yicud .friendsColumnGuilds-2we6jb .moreMutualGuildsBtn-2VwbkO {
    border-color: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.6);
}

.theme-dark .guildsError-3cFMtY {
    background: rgba(0,0,0,0.6);
    border-color: transparent;
}

.theme-dark .guildsError-3cFMtY:hover {
    background: rgba(0,0,0,0.8);
    border-color: #e00d0b;
}

.guildsError-3cFMtY {
    font-size: 29px;
    font-weight: 500;
}

.tooltip-1OS-Ti.red-m6f4-H {
    background-color: #e00d0b;
    color: white;
}

.tooltip-1OS-Ti.black-2bmmnj {
    background-color: #610809;
}

.tooltip-1OS-Ti {
    border-radius: 8px;
    color: white;
}

.tooltip-1OS-Ti:after {
    border: none;
}

.popout-3sVMXz {
    border-radius: 0;
    box-shadow: none;
}

.theme-dark .topPill-30KHOu .item-PXvHYJ:hover:not(.itemSelected-1qLhcL) {
    background-color: rgba(255,255,255,0.15);
}

.theme-dark .modal-3HD5ck {
    background-color: rgba(97, 8, 9,0.72);
    box-shadow: none;
    border-radius: 0;
}

::-webkit-input-placeholder {
    color: white !important;
}

.theme-dark .container-3gCOGc .tab-bar .tab-bar-item,
.theme-dark .defaultColor-1_ajX0 {
    color: white;
}

.searchBar-2_Yu-C input {
    font-size: 14px;
}

.theme-dark .friendSelected--wQP3f {
    background-color: rgba(0,0,0,.3);
}

.friend-2PO6ke,
.box-mmYMsp {
    border-radius: 5px;
}

.theme-dark .checkbox-1ix_J3 {
    background-color: rgba(0,0,0,0.3) !important;
    border-color: transparent !important;
}

.checkbox-1ix_J3 {
    border-width: 2px;
}

.theme-dark .checked-3_4uQ9[style*=" border-color: rgb(79, 84, 92);"] polyline[stroke] {
   stroke: white;
}

.theme-dark .checked-3_4uQ9 {
   background-color: black !important;
}

.avatar-large .status, .avatar-profile .status, .avatar-small .status, .avatar-xlarge .status, .avatar-xsmall .status, .avatar-xxlarge .status,
.theme-dark .status-2s6iDp {
    border: 1px solid black !important;
}

.searchBarTag-2xRzm8 {
    background: #610809;
    border-radius: 5px;
    font-size: 15px;
    text-align: left;
}

.theme-dark .topPill-30KHOu .itemSelected-1qLhcL {
    background-color: rgba(0,0,0,0.6);
    color: white;
}

.theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d .friendsColumnSeparator-3MqtMA {
    background-color: transparent;
}

#friends .friends-table .friends-row .friends-column-name .avatar-small {
    width: 46px;
    height: 46px;
    background-size: cover;
    border-radius: 0;
}

.tabBar-1E2ExX .primary-3j8BhM:hover:not(.selected) {
    background-color: #6a1312  !important;
}

.tabBar-1E2ExX .primary-3j8BhM {
    background-color: black  !important;
    color: #fff  !important;
}

.tabBar-1E2ExX .primarySelected-3uHKZn {
    background-color: #610809  !important;
    color: white  !important;
}

.theme-dark .friendsTable-133bsv .friendTableAddWrapper-nHHZtK .friendTableAddHeader-m9bzFr {
    background: rgba(0,0,0,.5);
    border-bottom: transparent;
}

.theme-dark .wrapper-1cBijl {
    background-color:  rgba(0,0,0,.9);
    border-color: transparent;
}

.theme-dark .friendsTable-133bsv .friendTableAddWrapper-nHHZtK .friendTableSuggestionsHeader-2zSnpD {
    border-bottom: none;
}

.theme-dark .input-2VB9rf {
    background-color: rgba(0,0,0,.8);
    box-shadow: none;
}

.quickswitcher-3JagVE .avatar-xsmall {
    background-size: cover;
    height: 30px;
    width: 30px;
    margin-right: 5px;
    border-radius: 8px;
    box-sizing: border-box;
}

.name-2NBmhj {
    margin-left: 6px;
}

.theme-dark .resultFocused-3aIoYe {
    background-color: rgba(0,0,0,.6);
}

.theme-dark .contentDefault-16dKSY,
.theme-dark .header-13MUnb,
.miscContainer-2ptJ_C,
.theme-dark .icon-30q1Or {
    color: white;
}

.theme-dark .contentUnread-3gTHvA .note-S--UP5 {
    color: silver;
}

.icon-30q1Or {
    opacity: 1;
}

.iconBackground-1Hzc6Q {
    opacity: .6;
}

.privateChannels-1nO12o header,
.name-2WpE7M {
    opacity: .6;
}

.channel-2QD9_O.selected-1HYmZZ a {
    background-color: rgba(0,0,0,.8) !important;
}

.channel-2QD9_O:hover a {
    background-color: rgba(0,0,0,.5);
}

.theme-dark .itemBackground-1jfD8p {
    background-color: transparent;
}

.theme-dark .itemBackground-1jfD8p:before {
    background: radial-gradient(ellipse at top,rgba(54,57,63,0),black),linear-gradient(90deg,black,rgba(54,57,63,0) 40%,rgba(54,57,63,0) 60%,black),linear-gradient(0deg,black 0,rgba(54,57,63,0) 25%);
}

.theme-dark .overlappingBorder-1ysb12 {
    border-color: #610809;
} 

.theme-dark .distributionApplicationsActions-3D2_kD, .theme-dark .premiumApplicationsHeader-Zmkm5e {
    border-color: transparent;
}

.theme-dark .announcingNitro-3Ptg6m {
    border-color: transparent;
    color: #7687ff;
}

.theme-dark .applicationTile-1Goy1W {
    background-color: black;
    box-shadow: none;
}

.theme-dark .tile-367QuY:hover {
    box-shadow: none;
}

.theme-dark .applicationTile-1Goy1W:hover {
    background-color: black;
}

.theme-dark .popout-2xBvMR {
    background-color: #610809;
    box-shadow: none;
    color: white;
}

.theme-dark .popoutSocialInfo-1qhqSY {
    border-color: transparent;
}

.theme-dark .description-3rB3Rp {
    background: rgba(0,0,0,0.5);
}

.article-3kb3qm {
    background-color: black;
}
/* Blue Button */
.lookFilled-1Gx00P.colorBrand-3pXr91:hover,
.lookOutlined-3sRXeN.colorBrand-3pXr91:hover {
    background-color: #6a1312;
}

.lookFilled-1Gx00P.colorBrand-3pXr91,
.lookOutlined-3sRXeN.colorBrand-3pXr91 {
    background-color: #610809;
    color: #fff;
    border-color: transparent;
}

.lookFilled-1Gx00P.colorBrand-3pXr91:disabled {
    background-color: #610809;
}

.theme-dark .header-1RC2Wb:hover {
    background-color: #6a1312;
}

.theme-dark .header-1RC2Wb {
    background-color: #610809;
}

.theme-dark .username-XRo90I {
    color: white;
}

.theme-dark .body-SKIE6r {
    background-color: rgba(0,0,0,.3);
}

.theme-dark .card-7JP0BX {
    background-color: transparent;
    color: white;
}

.theme-dark .sectionLine-JjseS9 {
    background-color: transparent;
}
.theme-dark .bottomSeparator-3cIFah {
    border-color: transparent;
}

.theme-dark .lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV:hover {
    background-color: #6a1312;
}

.headerButtonColor-G7_f-V {
    background: #610809;
    border: 2px solid rgba(0,0,0,0.6);
}

.theme-dark.contextMenu-HLZMGh {
    background: rgba(97, 8, 9, 0.8);
    box-shadow: none;
}

.theme-dark .item-1Yvehc:hover {
    background: #6a1312;
}

.theme-dark .itemGroup-1tL0uz {
    border-color: transparent;
}

.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span {
    background-color: rgba(0,0,0,0.8);
    border-color: transparent;
}

.theme-dark .itemSubMenu-1vN_Yn {
    background: rgba(0, 0, 0, 0.4) url(/assets/1988164a7c55346d32117b151f4e319d.svg) no-repeat 155px 50%;
}

.barFill-23-gu- {
    background: black;
}

.theme-dark .bar-2Qqk5Z {
    background: silver;
}

.theme-dark .item-1Yvehc {
    color: white;
}

.grabber-3mFHz2,
.mini-dmm9yo .grabber-3mFHz2 {
    background-color: rgba(255,255,255,.5);
    border: 1px solid black;
    border-radius: 0;
    box-shadow: none;
    width: 6px;
}

.theme-dark .bubble-3we2di {
    background-color: black;
}

.theme-dark .elevationHigh-3A9Xbf {
    box-shadow: none;
}

.bubble-3we2di:before {
    border: none;
}

.theme-dark .player-1kJMbj {
    border-bottom-color: transparent;
}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    background-color: black;
    color: white;
}

/* Unreachables */

.wanderingCubesItem-WPXqao,
.spinner-wandering-cubes .spinner-item {
    background-color: #610809;
}

.spinner-wandering-cubes-1eyF3t {
    background-color: #610809;
}

.progress-2XXRYo,
.progressBar-3u8FBM.small-1CUeBa,
.progressBar-3u8FBM.large-3EPlRk,
.mediaBarGrabber-1FqnbN, 
.mediaBarProgress-1xaPtl, 
.mediaBarProgress-1xaPtl:after, 
.mediaBarProgress-1xaPtl:before{
    background-color: #610809 !important;
}

.video-1FfuMD,
.theme-dark .private-channel-call {
    background-color: rgba(0,0,0,0.4);
}

.theme-dark .callAvatar-v-u4BM.voice-2D-tt_ 
.callAvatarStatus-3y6S04 {
    border-color: black;
    background-color: #610809;
    border-radius: 50px; 
}

.callAvatarBorder-1D_KaE.voice-2D-tt_.speaking-oCqYMI,
.callAvatarBorder-1D_KaE.video-3GgX2M.speaking-oCqYMI {
    border-radius: 50px; 
    box-shadow: none;
    border: 2px dashed #610809
}

.theme-dark .private-channel-call.minimum .private-channel-call-actions .center, .theme-dark .wrapper-29NfPK,
.theme-dark .wrapper-29NfPK.minimum-2d6zH6 .actions-2vadYq .center-1Vp33r {
    background-color: transparent;
    border-color: transparent;
}

.theme-dark .headerText-2niCs_ {
    border-top-color: transparent;
    color: white;
}

.theme-dark .guild-1EfMGQ .guildInner-3DSoA4 {
    background: #610809 !important;
}


.guild-1EfMGQ .guildInner-3DSoA4 {
    border-radius: 20% !important;
}

.theme-dark .guildSeparator-1X4GQ1:after {
    background: transparent;
}

.theme-dark .friendsOnline-_wi_fM {
    color: white;
}

.aka-1mqp34 {
    background: #610809;
}

.theme-dark .divider-2PMBlV,
.theme-dark .topic-2QX7LI:before {
    background: transparent;
}
/* - */
/* Scrollbars */
.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb,
.theme-dark .scrollerThemed-2oenus.themeGhostHairline-DBD-2d .scroller-2FKFPG::-webkit-scrollbar-thumb,
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb,
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-thumb, .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-thumb, .bda-dark .emoji-picker .scroller::-webkit-scrollbar-thumb, .bda-dark emojiPicker-3g68GS .scroller-3vODG7::-webkit-scrollbar-thumb, .bda-dark #pubs-container .scroller::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.62) !important;
    border-color: transparent !important;
}

.scrollerThemed-2oenus.themeGhostHairline-DBD-2d .scroller-2FKFPG::-webkit-scrollbar, .scrollerThemed-2oenus.themeGhostHairlineChannels-3G0x9_ .scroller-2FKFPG::-webkit-scrollbar,
.scroller-wrap .scroller::-webkit-scrollbar {
    height: 13px;
    width: 13px;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece,
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar, .bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track, .bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track-piece, .bda-dark #pubs-container .scroller::-webkit-scrollbar, .bda-dark #pubs-container .scroller::-webkit-scrollbar-track, .bda-dark #pubs-container .scroller::-webkit-scrollbar-track-piece,
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar, .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track, .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track-piece,
.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track,.bda-dark .emoji-picker .scroller::-webkit-scrollbar, .bda-dark .emoji-picker .scroller::-webkit-scrollbar-track, .bda-dark .emoji-picker .scroller::-webkit-scrollbar-track-piece, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track-piece,
.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track,.bda-dark .emoji-picker .scroller::-webkit-scrollbar, .bda-dark .emoji-picker .scroller::-webkit-scrollbar-track, .bda-dark .emoji-picker .scroller::-webkit-scrollbar-track-piece, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track-piece {
    background-color: transparent !important;
    border-color:  transparent !important;
}
/* - */
/* Need Help Menu and C & J Menu */
.need-help-modal.form.deprecated .header {
    background-color: black;
}
.form-deprecated .form-inner, 
.form.deprecated .form-inner {
    background-color: #610809;
}
.need-help-modal.form.deprecated .form-inner {
    min-height: 100px;
    padding: 3px;
}
.need-help-modal.form.deprecated .footer {
    background-color: #610809;
    border-radius: 0 0 5px 5px;
    border-top: none;
    color: white;
}
.need-help-modal.form.deprecated .header input[type=text] {
    background-color: rgba(97, 8, 9, 0.6);
    border-radius: 10px;
    box-shadow: none;
    color: white;
}
.form-deprecated .control-group input[type=email], .form-deprecated .control-group input[type=number], .form-deprecated .control-group input[type=password], .form-deprecated .control-group input[type=text], .form-deprecated .control-group textarea, .form.deprecated .control-group input[type=email], .form.deprecated .control-group input[type=number], .form.deprecated .control-group input[type=password], .form.deprecated .control-group input[type=text], .form.deprecated .control-group textarea {
    border: none;
    border-bottom: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.need-help-modal.form.deprecated .header input[type=text]:focus {
    border-bottom: none;
   background-color: rgba(106, 19, 18, 1);
}

.theme-dark .separator-gVaq9g {
    border-left: none;
}

.theme-dark .or-3THJsp {
    border-color: transparent;
    color: white;
}

.theme-dark .footer-2yfCgX {
    background-color: transparent;
    box-shadow: none;
}

.theme-dark .primary-jw0I4K,
.theme-dark .h5-18_1nd,
.avatar-uploader .size-info {
    color: white;
}

.avatar-uploader-inner,
.standardSidebarView-3F1I7i .avatar-xxlarge {
    background-color: #535fa8;
    border-radius: 5%;
}
.theme-dark .input-cIJ7To:hover {
    background-color: rgba(0,0,0,.7);
}

.theme-dark .input-cIJ7To:focus {
    background-color: rgb(0,0,0);
} 

.theme-dark .input-cIJ7To {
    background-color: rgba(0,0,0,.4);
    border: none;
    color: white;
}

.theme-dark .sampleLink-KPFu3I {
    color: silver;
}
/* - */
/* Links */
.need-help-modal.form.deprecated a,
.emptyStateCTA-veJ2Cu a,
.theme-dark .container-3-pyIM .content-2M3n_H .actionAnchor-gzc_5z,
.hintText-3CbDgd a,
.theme-dark .markup-2BOw-j a,
.footerText-2a7NxZ a,
.operations-36ENbA>a,
.metadataName-14STf-,
.theme-dark .topic-2QX7LI a,
.theme-dark .filenameLinkWrapper-1-14c5,
.standardSidebarView-3F1I7i a,
.content-8biNdB a,
.small-29zrCQ a,
.bda-slist .bda-footer a {
    color: #1e90ff;
    text-decoration: underline;
    text-shadow: 0 2px 3px black,0 0 3px black;
}
.theme-dark .embedTitleLink-1Zla9e {
    color: #1e90ff!important;
}
/* - */
/* Red Button and Special Danger Color*/
/* Red Button and Special Danger Color*/
.lookFilled-1Gx00P.colorRed-1TFJan:hover,
.lookOutlined-3sRXeN.colorRed-1TFJan {
    background-color: #F50707;
}


.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(240, 71, 71);"] {
    background-color: #F13636 !important;
    color: white !important;
}

.theme-dark .side-8zPYf6 .itemDefault-3Jdr52:hover[style*="color: rgb(240, 71, 71); background-color: rgba(240, 71, 71, 0.0980392);"], 
.theme-dark .side-8zPYf6 .itemHover-EnbcjT:hover[style*="color: rgb(240, 71, 71); background-color: rgba(240, 71, 71, 0.0980392);"] {
        background-color: #F50707 !important;
        color: white !important;
}

.lookFilled-1Gx00P.colorRed-1TFJan,
.lookOutlined-3sRXeN.colorRed-1TFJan {
    background-color: #F13636;
    color: white;
}
.item-1Yvehc.danger-2dXSTE {
    color: #F13636 !important;
}
/* - */
/* Green Button */
.lookFilled-1Gx00P.colorGreen-29iAKY {
    background-color: #33DE33;
    color: #fff;
}

.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
    background-color: #01D001;
}
/* - */
/* Channel Member, User Popout and Modal */
.theme-dark .membersGroup-v9BXpm {
    color: white;
}
.membersGroup-v9BXpm {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .13em;
    text-transform: capitalize;
}

.theme-dark .member-3W1lQa:hover .content-OzHfo4 {
    background-color: rgba(0,0,0,0.4);
}

.theme-dark .member-3W1lQa.popout-open .content-OzHfo4, .theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4 {
    background-color: rgba(0,0,0,0.6);
}
.theme-dark .memberOnline-1CIh-0 {
    color: white;
}
.member-3W1lQa {
    border-radius: 0;
    height: 50px;
    overflow: visible;
}
.mask-3OgeRz {
    border-radius: 1;
    -webkit-mask: none;
    mask: none;
}
.theme-dark .activityIconForeground-qYIPPg {
    fill: silver;
}
.theme-dark .activity-1IYsbk {
    color: white;
}
.activityText-sLG0UL,
.username-1cB_5E {
    overflow: visible;
}


.theme-dark .footer-1fjuF6 {
    border-color: transparent;
}
.theme-dark .body-3iLsc4, 
.theme-dark .footer-1fjuF6 {
    background-color: rgba(0,0,0,0.4);
    color: white;
}
.theme-dark .body-3ND3kc {
    background-color: rgba(0,0,0,0.4);
}
.theme-dark .headerNormal-T_seeN,
.theme-dark .topSectionNormal-2-vo2m,
.headerPlaying-j0WQBV,
.topSectionPlaying-1J5E4n,
.headerStreaming-2FjmGz,
.topSectionStreaming-1Tpf5X,
.headerXbox-3G-4PF,
.topSectionXbox-3fWLjS,
.headerSpotify-zpWxgT,
.topSectionSpotify-1lI0-P {
   background-color: rgba(0,0,0,0.4);
}

.headerPlaying-j0WQBV,
.topSectionPlaying-1J5E4n {
     border: 2px solid #535fa8;
}

.headerXbox-3G-4PF,
.topSectionXbox-3fWLjS,
.headerSpotify-zpWxgT,
.topSectionSpotify-1lI0-P {
    border: 2px solid #33DE33;
}

.lookInverted-2D7oAl.colorGreen-29iAKY {
    background-color: #33DE33 !important;
    color: white;
}

.lookInverted-2D7oAl.colorGreen-29iAKY:hover {
    border: 2px solid rgba(255,255,255,.3);
}

.headerStreaming-2FjmGz,
.topSectionStreaming-1Tpf5X {
   border: 2px solid #701bb3;
}

.buttonInvertedPurple-WtBglX {
    background-color: #701bb3 !important;
    color: white;
}

.buttonInvertedPurple-WtBglX:hover {
    border: 2px solid rgba(255,255,255,.3);
}

.lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover {
    border-color: transparent;
    background-color: #701bb3;
}


.lookInverted-2D7oAl.colorBrand-3pXr91 {
    background-color: #535fa8 !important;
    color: white;
}

.lookInverted-2D7oAl.colorBrand-3pXr91:hover {
    border: 2px solid rgba(255,255,255,.3);
}


.headerTag-2pZJzA {
    color: white;
}
.userPopout-3XzG_A,
.root-SR8cQa {
    border-radius: 0;
    box-shadow: none;
}
.userPopout-3XzG_A {
    background-image: url(http://www.123mobilewallpapers.com/wp-content/uploads/2014/06/awesome_red_leaves_tree.jpg);
    background-size: cover;
}
.root-SR8cQa {
    background-image: url(http://3.bp.blogspot.com/-q_s9_cujANI/UlVeSlX0RaI/AAAAAAAACp8/WHTaVwwfDkA/s1600/autumn-hd-wallpaper-with-dark-red-leaves-at-the-tree.jpg);
    background-size: cover;
}
.bodyTitle-Y0qMQz,
.userInfoSectionHeader-CBvMDh {
    color: white;
}
.theme-dark .quickMessage-1yeL4E {
    background-color: rgba(0,0,0,0.8);
    border-color: transparent;
    color: white;
}

.protip-YaFfgO {
    display: none;
}

.theme-dark .note-3kmerW textarea:focus,
.theme-dark .root-SR8cQa .note-QfFU8y textarea:focus {
    background-color: rgba(255,255,255,.2);
}

.theme-dark .note-3kmerW textarea {
    color: white;
}

.note-3HfJZ5 textarea {
    border-radius: 6px;
    padding: 8px;
}

.role-2irmRk {
    background-color: rgba(0,0,0,0.2);
    border: none;
    border-radius: 6px;
    height: 25px;
    padding: 7px;
}

.roleCircle-3xAZ1j {
    border-radius: 20%;
}

.theme-dark .connectedAccount-36nQx7 {
    border: 2px dashed black;
    background-color: rgba(97, 8, 9,0.56);
}

.theme-dark .userInfoSection-2acyCx+.userInfoSection-2acyCx,
.tabBarContainer-1s1u-z {
    border: none;
}

.connectedAccountName-f8AEe2 {
    color: white;
    font-weight: 500;
    text-shadow: 0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black;
}

.connectedAccountName-f8AEe2, .connectedAccountNameInner-1phBvE {
    overflow: visible;
}

.tab-bar.tabBar-2MuP6- .tabBarItem-1b8RUP {
    color: silver;
    padding: 12px 0 0;
}

.guildNick-3uAm3i, 
.listName-3w10cx {
    color: white;
    text-shadow: 0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black;
    overflow: visible;
}

.listRowContent-3Kih4Q {
    overflow: visible;
}

.theme-dark .listRow-hutiT_ {
    color: white;
}

.theme-dark .listRow-hutiT_:hover {
    background: linear-gradient(90deg,rgba(255, 255, 255, 0.25) 90%,rgba(255, 255, 255, 0));
    color: white;
}
/* - */
/* Main Chat */
.theme-dark .guildsAdd-21_IdK:hover {
        border-color: rgba(255, 255, 255, 0.75);
        color: white;
        background: #6a1312;
        text-shadow: 0 2px 2px rgba(0,0,0,0.3), 0 2px 2px rgba(0,0,0,0.3);
}

.theme-dark .guildsAdd-21_IdK {
        background: #610809;
        border-color: rgba(255, 255, 255, 0.45);
        color: silver;
}

.guildsAdd-21_IdK {
        border-radius: 20%;
        border-style: solid;
        border-width: 2px;
        font-size: 40px;
        font-weight: 500;
}

.theme-dark .guild-1EfMGQ.unread-qLkInr:before {
        background: rgba(255,255,255,.25);
        border-right: 2px solid black;
}


.guild-1EfMGQ.unread-qLkInr:before {
        border-radius: 3px;
        height: 15px;
        margin-top: -6px;
}

.theme-dark .guild-1EfMGQ.selected-ML3OIq:before {
        border-right: none;
        background-color: #610809;
}

.guild-1EfMGQ.selected-ML3OIq:before {
        border-radius: 30px;
        height: 30px;
        left: -11px;
        margin-top: -15px;
        position: absolute;
        top: 50%;
        width: 7px;
}

.theme-dark .item-1GzJrl.leave-1DRJfn {
        color: #db0006;
}

.theme-dark .item-1GzJrl:hover.leave-1DRJfn {
        background-color: #db0006;
        color: white;
        border-top: 2px dashed rgba(255,255,255,0.63);
}

.theme-dark .item-1GzJrl.invite-271nFU {
        color: #2a53ce;
}

.theme-dark .item-1GzJrl:hover.invite-271nFU {
        background-color: #2a53ce;
        color: white;
        border-bottom: 2px dashed rgba(255,255,255,0.63);
}

.theme-dark .item-1GzJrl:hover {
        background-color: rgba(255,255,255,.13);
}

.theme-dark .item-1GzJrl {
        color: white;
}

.theme-dark .separator-2zcjq8 {
        border-bottom-color: transparent;
}

.theme-dark .menu-Sp6bN1 {
        background: rgba(0,0,0,0.8);
        box-shadow: none;
        border-radius: 0;
}
.popout-3sVMXz {
        border-radius: 0;
        box-shadow: none;
}

.icon-2doZ3q {
        display: none;
}

.themeDefault-24hCdX.sizeDefault-2YlOZr {
        box-shadow: none;
}

.themeDefault-24hCdX,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch {
        background-color: rgba(255,255,255,.32);
}

.themeDefault-24hCdX.sizeDefault-2YlOZr:after,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch:before {
        box-shadow: none;
        background-color: rgba(255,255,255,.42);
}

.themeDefault-24hCdX.valueChecked-m-4IJZ,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked {
        background-color: #6a1312;
}

.themeDefault-24hCdX.valueChecked-m-4IJZ.sizeDefault-2YlOZr:after,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked:before {
        box-shadow: none;
        background-color: rgb(255,255,255);
}

.theme-dark .divider-3573oO {
        background-color: transparent;
}

.theme-dark .cardPrimaryEditable-3KtE4g {
        background: rgba(0,0,0,.6);
        border-color: transparent;
}

.theme-dark .cardPrimaryEditable-3KtE4g[style*="border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);"] {
        background: #6a1312 !important;
        border-color: transparent !important;
}

.theme-dark .checked-3_4uQ9[style*="border-color: rgb(114, 137, 218);"] polyline[stroke] {
        stroke: white;
}

.theme-dark .select-2TCrqx .Select-control:hover {
        background: rgba(0,0,0,.7);
}

.theme-dark .select-2TCrqx .Select-control {
        background: rgba(0,0,0,.4);
        border: none;
}

.theme-dark .select-2TCrqx .Select-control .Select-placeholder {
        color: white;
}

.theme-dark .select-2TCrqx .Select-control .Select-arrow {
        border-color: white rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

.theme-dark .override-2YgiXd:hover {
        background-color: rgba(0,0,0,.7);
}

.theme-dark .override-2YgiXd {
        background-color: rgba(0,0,0,.4);
}

.theme-dark .guildName-3WI6ml, 
.theme-dark .override-2YgiXd, 
.theme-dark .overrideHighlight-YPcBxt {
        color: white;
}

.theme-dark .cardPrimaryOutline-29Ujqw {
        border-color: transparent;
        background-color: rgba(0,0,0,0.6);
}

.theme-dark .checkboxContainer-2vV9zd:before {
        background-color: transparent;
}

.theme-dark .select-2TCrqx .Select-menu-outer {
        background: rgba(0, 0, 0, 0.8);
        border-color: transparent;
        box-shadow: none;
}

.lighten-2aYaaU {
        opacity: 1;
}

.icon-JJBzjE {
       color: silver;
}

.theme-dark .select-2TCrqx .Select-option.is-focused, .theme-dark .select-2TCrqx .Select-option:hover {
        background: rgba(0,0,0,.6);
        border-right: 2px dashed #6a1312;
        border-left: 2px dashed #6a1312;
}

.theme-dark .button-mM-y8i:hover {
        background-color: rgba(0,0,0,.6);
}


.theme-dark .button-mM-y8i {
         background-color: rgba(0,0,0,.4);
        box-shadow: none !important;
}

.iconCollapsed-3hFp_8, 
.iconDefault-3Gr8d2, 
.iconHovered-2L3-fB, 
.iconHoveredCollapsed-3caIIZ, 
.iconMuted-1HVBGH, 
.iconUnread-2eGkvX {
       display: none;
}

.nameCollapsed-34uFWo, 
.nameDefault-2DI02H, 
.nameHovered-1gxhWH, 
.nameHoveredCollapsed-2orEWB, 
.nameMuted-1MCOt4, 
.nameUnread-njOjIS {
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        color: white;
        border-radius: 5px;
}

.nameCollapsed-34uFWo {
   background-color: rgba(0,0,0,0.2);
}

.nameDefault-2DI02H {
    background-color: rgba(230, 230, 230, 0.3);
}

.nameHovered-1gxhWH {
    background-color: rgba(204, 204, 204, 0.6);
}

.nameHoveredCollapsed-2orEWB {
    background-color: rgba(204, 204, 204, 0.3);
}

.nameMuted-1MCOt4 {
    background-color: rgba(166, 0, 26, 0.4);
}

.nameUnread-njOjIS {
     background-color: rgba(114, 132, 183, 0.4);
}

.colorConnectedText-1c_uzY, .colorConnectedVoice-3kyvUN, .colorDefaultText-oas-QM, .colorDefaultVoice-3wYlhb, .colorHoveredText-OZnAgu, .colorHoveredVoice-1kucsK, .colorLockedText-1VRkPt, .colorLockedVoice-2UlBjl, .colorSelectedText-1y4Wvs, .colorSelectedVoice-Xcb_9R, .colorUnreadText-2t7XRb, .colorUnreadVoice-137o4S {
        color: white;
}

.icon-sxakjD,
.foreground-2W-aJk {
        opacity: 1;
}

.background-2OVjk_ {
        opacity: .6
}

.unread-1Dp-OI {
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 0;
        height: 5px;
        width: 8px;
        top: 60%;
}

.avatarDefault-35WC3R {
        border-radius: 30px;
        box-shadow: none;
        transition: border-radius .5s ease, border-right .5s ease, border-left .5s ease;
        border-right: 3px solid #a0333a;
        border-left: 3px solid #a0333a;
}

.avatarSpeaking-1wJCNq {
        border-radius: 7px;
        transition: border-radius .5s ease, border-right .5s ease, border-left .5s ease;
        box-shadow: none;
        border-right: 3px solid #C7FF2F;
        border-left: 3px solid #C7FF2F;
}

.contentConnectedVoice-qL-YrL:active, .contentHoveredText-2D9B-x, .contentHoveredVoice-3p_NEO:active, .contentSelectedVoice-1WDIBM:active {
        background-color: rgba(255, 255, 255, 0.14);
}

.contentSelectedText-3wUhMi, .contentSelectedVoice-1WDIBM {
        background-color: rgba(0,0,0,.6);
        border-right: 2px solid #610809;
        border-left: 2px solid #610809;
}

.container-2Thooq .avatar-small,
.avatar-large .status, .avatar-profile .status, .avatar-small .status, .avatar-xlarge .status, .avatar-xsmall .status, .avatar-xxlarge .status, .theme-dark .status-2s6iDp,
.popout-2fzvxG, .profile-ZOdGIb,
.avatarHint-1qgaV3,
.listAvatar-1NlAhb,
.status-3fQvEa,
.channel-2QD9_O .avatar-small {
        border-radius: 4px;
}

.avatar-17mtNa .large-3ChYtB {
        opacity: 1 !important;
        border-radius: 4px;
}

.small-5Os1Bb .mask-3OgeRz,
.image-33JSyf {
        border-radius: 4px;
        -webkit-mask: none;
        mask: none;
}

.noticeInfo-3_iTE1 {
        background-color: rgba(0, 0, 0, 0.8);
}

.newMessagesBar-mujexs,
.theme-dark .jumpToPresentBar-9P20AM {
        background-color: rgba(0, 0, 0, 0.5) !important;
}

.theme-dark .inviteRow-2L02ae:hover {
        background-color: rgba(0, 0, 0, 0.3);
}

.theme-dark .checkBoxLabel-4PWfpk, .theme-dark .footerText-2a7NxZ, .theme-dark .subText-bCySlS {
        color: white;
}

.theme-dark .dividerEnabled-2TTlcf {
        border-bottom-color: transparent;
}

.theme-dark .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI:after, .theme-dark .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI:before,
.theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:after, .theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:before {
        border-color: transparent;
}

.wrapper-2NJDcI {
        background-color: #610809;
        border-radius: 4px;
        color: white;
}

.addButtonIcon-3u-3Hu {
        opacity: 1;
}

.base-34jWEe h1,
.theme-dark .markup-2BOw-j,
.theme-dark .timestampCozy-2hLAPV,
.theme-dark .operations-36ENbA {
        color: white;
}

.theme-dark .headerCozyMeta-rdohGq {
        color: white;
        text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black;
}

.theme-dark .channelTextArea-rNsIhG {
        border-top: 1px solid transparent;
}

.theme-dark .edited-DL9ECl {
        color: silver;
}

.theme-dark .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI {
        color: white;
        background: rgba(97, 8, 9, 0.7);
}
.dividerContent-2L12VI {
        line-height: 23px;
}
.theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI {
        color: white;
        background: rgba(0, 0, 0, 0.4);
}

.theme-dark .hasMore-3e72_v button {
        background: rgba(97, 8, 9, 0.7);
        border: none;
        box-shadow: none !important;
}

.hasMore-3e72_v button {
        border-radius: 3px;
        color: white;
}

.theme-dark .wrapperAudio-1jDe0Q,
.theme-dark .embedInner-1-fpTo {
        background-color: rgba(0,0,0,.6);
        border-color: transparent;
}

.theme-dark .markup-2BOw-j pre {
        background: transparent;
        border-color: transparent;
}

.theme-dark .markup-2BOw-j code, .theme-dark .markup-2BOw-j code.inline {
        background: rgba(255, 255, 255, 0.2);
}

.theme-dark .hljs {
        color: white;
        text-shadow: 0 0 3px black,0 0 3px black,0 0 3px black,0 0 3px,0 0 3px,0 0 3px,0 0 3px black,0 0 3px black;
}

.theme-dark .inner-zqa7da {
        background-color: rgba(0,0,0,.7);
}

.theme-dark .attachButtonDivider-3Glu60 {
        background-color: transparent;
}

.theme-dark .textArea-2Spzkt {
        color: white;
}

.theme-dark .isMentioned-N-h9aa {
        background: rgba(97, 8, 9,.2);
}

.isMentioned-N-h9aa {
        padding: .3rem .3rem;
}

.isMentionedCozy-3isp7y:after {
        display: none;
}

.theme-dark .wrapperHover-1GktnT:hover,
.theme-dark .isMentioned-N-h9aa .mention:hover {
        background-color: rgba(97, 8, 9,.6) !important;
        color: white;
}

.theme-dark .wrapper-3WhCwL,
.theme-dark .isMentioned-N-h9aa .mention {
        background-color: rgba(97, 8, 9,.3) !important;
        color: white;
}

.theme-dark .container-3cGP6G {
        background: rgba(0, 0, 0, 0.7);
}

.theme-dark .item-2J1YMK {
        color: white;
}

.theme-dark .item-2J1YMK:active, 
.theme-dark .item-2J1YMK:hover {
        background-color: rgba(255,255,255,.32);
}

.botTagRegular-2HEhHi,
.botTagInvert-18-95s {
        background: rgba(97, 8, 9,0.4);
        color: rgb(255, 255, 255);
        text-shadow: 0 0 3px black;
}

.bda-dark .emoji-picker, 
.bda-dark .emojiPicker-3m1S-j,
.bda-dark #bda-qem-favourite-container, 
.bda-dark #bda-qem-twitch-container {
        background-color: rgba(0, 0, 0, 0.7);
        border: none;
        border-radius: 0;
}

.bda-dark .emoji-picker .category, 
.bda-dark .emojiPicker-3m1S-j .category-2U57w6 {
        background-color: rgba(255, 255, 255, 0.3);
        color: white;
        text-align: center;
}

.emojiPicker-3m1S-j .stickyHeader-1SS0JU {
        background: transparent;
        left: 9px;
}

.bda-dark .emoji-picker .scroller .emoji-item.selected, 
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA.selected-39BZ4S,
.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.selected-39BZ4S,
.emote-container:hover {
        background-color: rgba(255, 255, 255,.27);
        border-radius: 0;
}

.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.selected-39BZ4S {
        border-bottom-color: transparent;
}

.bda-dark .emoji-picker .header .searchBar-2_Yu-C, 
.bda-dark .emojiPicker-3m1S-j .header-1nkwgG .searchBar-2_Yu-C {
        background-color: transparent;
}

.emojiPicker-3m1S-j .header-1nkwgG {
        border-bottom: none;
}

.searchBar-2_Yu-C.searchBarLight-1NxoDG .searchBarInner-1_Tg2R,
.diversitySelector-tmmMv0 .popout-2nUePc .item-16cXuq:hover {
        background-color: rgba(255, 255, 255,.3);
        border-radius: 0!important;
}

.bda-dark .emoji-picker .dimmer.visible, 
.bda-dark .emojiPicker-3m1S-j .dimmer-3iH-5D.visible-3k45bQ {
        background-color: rgba(0, 0, 0,.55);
}

.bda-dark .emoji-picker .diversity-selector .popout-3sVMXz, 
.bda-dark .emojiPicker-3m1S-j .diversitySelector-tmmMv0 .popout-2nUePc {
        background: black;
        border-color: transparent;
}

.bda-dark #bda-qem {
        border-bottom: none!important;
        background: transparent;
}

.bda-dark #bda-qem button:hover {
        background-color: rgb(0, 0, 0);
        border-right: 2px solid #610809;
}

.bda-dark #bda-qem button {
        background: rgb(0, 0, 0);
        border-left: none;
        box-shadow: none;
        border-radius: 0;
}

.bda-dark #bda-qem button.active {
        background-color:  #6a1312 !important;
        color: white;
        border: none;
}

.theme-dark .contentTitle-2tG_sM strong {
        color: silver;
}

.theme-dark .contentTitle-2tG_sM {
        color: white;
}

.theme-dark .autocomplete-1vrmpx {
        background-color: rgba(0, 0, 0, 0.8);
        border: 2px solid rgba(97, 8, 9,.4);
}

.theme-dark .selectorSelected-1_M1WV {
        background-color: rgba(106, 19, 18,.2);
}

.marginLeft8-1YseBe,
.theme-dark .description-11DmNu, 
.theme-dark .descriptionUsername-J_75O8,
.marginLeft4-3VaXdt {
        color: white;
}
.theme-dark .descriptionDiscriminator-3vUOCc {
        color: silver;
}

.theme-dark .divider-23swzi {
        background-color: transparent;
}

.theme-dark .iconForeground-1w5n7R {
        fill: white;
}

.uploadArea-3QgLtW {
    background: rgba(0,0,0,.4);
}

.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .bgScale-1otPtc {
    background: rgba(255, 255, 255,.3);
    border-radius: 0;
}

.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo {
    border: none;
    border-radius: 0;
}

.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo .instructions-2Du9gG {
    color: hsla(0,0%,100%,.8);
    font-size: 14px;
}

.uploadModal-2ifh8j .inner-3nWsbo {
        border: none;
        border-radius: 0;
}

.uploadModal-2ifh8j {
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 0;
}

.uploadModal-2ifh8j .footer-3mqk7D {
        background-color: transparent;
        display: -ms-flexbox;
        display: flex;
}

.uploadModal-2ifh8j .footer-3mqk7D .button {
        background-color: rgba(255, 0, 0, 0.5);
       margin-right: 10px;
        position: relative;
        text-shadow: 0 0 4px black,0 0 4px black;
}

.uploadModal-2ifh8j .footer-3mqk7D .button:hover {
        background-color: rgb(255, 0, 0);
}

.uploadModal-2ifh8j .footer-3mqk7D .button-primary {
        opacity: 1 !important;
        background-color: #610809;
        color: white;
}

.uploadModal-2ifh8j .footer-3mqk7D .button-primary:hover {
        background-color: #6a1312;
}

.lookFilled-1Gx00P .contents-18-Yxp, 
.lookInverted-2D7oAl .contents-18-Yxp, 
.lookLink-9FtZy- .contents-18-Yxp, 
.lookOutlined-3sRXeN .contents-18-Yxp {
        overflow: visible;
}

.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
        background-color: transparent;
        border: 2px solid #610809;
        border-radius: 0;
        box-shadow: none;
}

.theme-dark .header-ykumBX,
.theme-dark .searchHeader-1l-wpR {
        background-color: transparent;
        box-shadow: none;
}

.theme-dark .messageGroupWrapper-o-Zw7G:hover {
        border-color: #6a1312;
}

.theme-dark .searchResultsWrap-2DKFzt .expanded-v2Szsz .searchResultMessage-2VxO12.hit-NLlWXA {
        background-color: transparent;
        border: none;
}

.theme-dark .messageGroupWrapper-o-Zw7G,
.theme-dark .searchResultsWrap-2DKFzt .searchResult-3pzFAB .searchResultMessage-2VxO12.hit-NLlWXA {
        background-color: rgba(0, 0, 0, 0.4);
        border-color: transparent;
}

.theme-dark .searchResultsWrap-2DKFzt .searchResult-3pzFAB.expanded-v2Szsz  {
        border: 2px dashed #6a1312;
}

.messageGroupWrapper-o-Zw7G {
        border-radius:  0;
        border-style: dashed;
        border-width: 2px;
}

.theme-dark .jumpButton-3DTcS_,
.theme-dark .jumpButton-Ia2hRJ {
        background-color: #610809;
        color: white;
        text-shadow: 0 0 4px black,0 0 4px black;
}

.theme-dark .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug {
        background: none;
        box-shadow: none;
}

.theme-dark .messagesPopoutWrap-1MQ1bW,
.theme-dark .searchResultsWrap-2DKFzt {
        background-color: rgba(0, 0, 0, 0.6);
        border: none;
        box-shadow: none;
}

.theme-dark .channelSeparator-1X1FuH .channelName-1QajIf {
        background-color: #610809;
        color: white;
        text-shadow: 0 0 4px black,0 0 4px black;
        padding: 8px 5px;
}


.themedPopout-25DgLi {
        border-radius: 0;
}

.messagesPopoutWrap-1MQ1bW {
        width: 520px;
}

.theme-dark .footer-1kmXd4 {
        background-color: transparent;
}

.block-2RXqH9 .pro-1T8RK7, 
.block-2RXqH9 .tip-2ab612, .tip-2ab612 {
        display: none;
}

.metadata-3WGS0M {
        color: white;
}

.theme-dark .attachment-33OFj0 {
        background-color: rgba(0, 0, 0,.3);
        border-color: transparent;
}

.theme-dark .iconBadge-2dji3k {
        border-color: white;
        background-color: #610809;
}

.theme-dark .container-3ayLPN {
        background-color: rgba(0, 0, 0, 0.7);
}

.theme-dark .option-96V44q.selected-rZcOL-,
.theme-dark .focused-2bY0OD {
        background-color: rgba(97, 8, 9, 0.5);
}
.theme-dark .queryContainer-RKFJW- {
        border-bottom-color: transparent;
        color: white;
}

.theme-dark .resultsGroup-r_nuzN:before,
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw {
        border-top: none;
}

.theme-dark .searchOption-zQ-1l6 .answer-1n6g43,
.theme-dark .option-96V44q.user-O3Czj0 .displayUsername-Qekxml,
.theme-dark .searchResultChannelCategory-1l0lSn, .theme-dark .searchResultChannelIcon-1DnTme {
        color: silver;
}

.theme-dark .resultsGroup-r_nuzN .header-2N-gMV, .theme-dark .resultsGroup-r_nuzN .plusIcon-v0BTrL, .theme-dark .resultsGroup-r_nuzN .searchClearHistory-2cSSMO, .theme-dark .resultsGroup-r_nuzN .searchLearnMore-3SQUAj a,
.theme-dark .searchOption-zQ-1l6 .filter-3Y_im-,
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hint-165cR4 {
        color: white;
}

.theme-dark .option-96V44q:after,
.theme-dark .option-96V44q.selected-rZcOL-:after {
        background: none;
}

.theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3 {
        background-color: rgba(0, 0, 0, 0.5);
}

.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z {
        background-color: rgba(97, 8, 9, 0.4);
        border: 2px dashed #610809;
}

.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z:hover {
        background-color: rgba(97, 8, 9, 0.6);
        border: 2px solid #6a1312;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__current-month {
        border-bottom-color:  transparent;
        color: white;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--next, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--previous {
        border-color: transparent;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day-name {
        color: white;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day {
        border-left-color: #610809;
        border-top-color: #610809;
        border-bottom-color: #610809;
        border-right-color: #610809;
        color: white;
        text-shadow: 0 0 4px black,0 0 4px black;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__week .react-datepicker__day:last-of-type {
        border-right-color: #610809;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__week:last-of-type .react-datepicker__day {
        border-bottom-color: #610809;
}
.calendarPicker-2yf6Ci .react-datepicker__day {
        border-left: 1px solid;
        border-top: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
        border-radius: 5px !important;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after {
        background-color: transparent;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker {
        background-color: transparent;
}

.react-datepicker {
        border: none;
        border-radius: 0;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header {
        background-color: transparent;
        border-color: transparent;
}

.theme-dark .elevationBorderHigh-2WYJ09 {
        box-shadow: none;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--disabled, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month {
        background-color: transparent !important;
        color: rgba(246,246,247,.3);
        transition: background-color .6s linear;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled:hover,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month:hover {
        background-color: rgb(217, 33, 33) !important;
        color: rgba(246,246,247,.3);
}

.react-datepicker__day--today {
        font-weight: 700;
        background-color: #610809 !important;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day:hover {
        background-color: #6a1312;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day {
        background-color: transparent;
        transition: background-color .6s linear;
}

.theme-dark .searchResult-3pzFAB:before,
.theme-dark .searchResult-3pzFAB:after {
        background: none;
}

.theme-dark .channelSeparator-1X1FuH:before {
        border-color: transparent;
}

.theme-dark .searchResultsWrap-2DKFzt .searchResult-3pzFAB .hit-NLlWXA {
        box-shadow: none;
}

.theme-dark .searchHeader-1l-wpR .tab, .theme-dark .searchHeader-1l-wpR .total-results {
     color: silver;
}

.theme-dark .message-2qRu38 {
        background-color: rgba(0,0,0,0.6);
        box-shadow: none;
}
/* Discord and BetterDiscord */
.theme-dark .cardPrimary-1Hv-to {
        background-color: rgba(0,0,0,.6);
        border-color: transparent;
}

.theme-dark .header-2RyJ0Y,
.theme-dark #bd-settings-sidebar .ui-tab-bar-header{
        color: white;
}

.header-2RyJ0Y,
#bd-settings-sidebar .ui-tab-bar-header {
        font-size: 13px;
        font-weight: 500;
        text-align: center;
}

.theme-dark .side-8zPYf6 .itemDefault-3Jdr52:hover, 
.theme-dark .side-8zPYf6 .itemHover-EnbcjT:hover {
        background-color: rgba(255,255,255,.1);
        color: white;
}

.side-8zPYf6 .itemSelected-1qLhcL,
.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected {
        background-color: #610809;
        border: 2px dashed rgba(255,255,255,.34);
}

.side-8zPYf6 .item-PXvHYJ {
        border-radius: 5px;
}

.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(114, 137, 218);"] {
        color: white !important;
}

.theme-dark .side-8zPYf6 .itemDefault-3Jdr52:hover[style*="color: rgb(114, 137, 218); background-color: rgba(114, 137, 218, 0.0980392);"], 
.theme-dark .side-8zPYf6 .itemHover-EnbcjT:hover[style*="color: rgb(114, 137, 218); background-color: rgba(114, 137, 218, 0.0980392);"] {
        background-color: rgba(97, 8, 9,.4) !important;
        color: rgb(255, 255, 255) !important;
}

.side-8zPYf6 .itemSelected-1qLhcL[style*="background-color: rgb(114, 137, 218);"] {
        background-color: rgb(97, 8, 9) !important;
        border-style: solid !important;
}

.lookOutlined-3sRXeN.colorGreen-29iAKY:hover {
        border-color: #A7F432;
}


.lookOutlined-3sRXeN.colorGreen-29iAKY {
        border-color: #66FF66;
        color: white;
}

.theme-dark .accountBtnInner-sj5jLs {
        background-color: #610809;
        border-color: transparent;
}

.theme-dark .accountBtnInner-sj5jLs:hover {
        background-color: #610809;
        border-color: #6a1312 !important;
        border-width: 4px;
}

.theme-dark .bar-2Qqk5Z[style*="background: rgb(105, 196, 154);"] {
        background: rgb(192, 192, 192) !important;
}

.barFill-23-gu-[style*="background: rgb(251, 184, 72);"] {
        background: rgb(0, 0, 0) !important;
}

.container-1UB9sr,
.theme-dark .container-2Thooq {
        background: rgba(0, 0, 0,.3);
        border-bottom: none;
}


.theme-dark .paymentRow-2e7VM6 {
        border-bottom: none;
}

.theme-dark .paymentPane-3bwJ6A {
        background-color: transparent;
        color: white;
}

.theme-dark .payment-xT17Mq {
        background-color: rgba(0,0,0,0.4);
        color: white;
}

.theme-dark .hoverablePayment-Yc6mK7:hover {
        background-color: rgba(0,0,0,0.8);
}

.theme-dark .expandedInfo-3kfShd,
.theme-dark .separator-gCa7yv,
.theme-dark #bd-settings-sidebar .ui-tab-bar-separator {
        background-color: transparent;
}

.theme-dark .paginator-166-09 {
        background: transparent;
}

.theme-dark .paginator-2CA79G {
        color: white;
}

.theme-dark .paymentHeader-3QlZQi {
        border-color: transparent;
}

.theme-dark .popout-2sKjHu {
        background: black;
        border-color: transparent;
        box-shadow: none;
}

.theme-dark .lookFilled-1h1y05.select-1Pkeg4:hover.selectOpen-hQuR6b, 
.theme-dark .lookFilled-1h1y05.selectOpen-hQuR6b {
        border-color: transparent;
        background-color: rgba(0,0,0,.6);
}

.theme-dark .container-2Zlzt0 {
        background-color: transparent;
}

.theme-dark .closeButton-1tv5uR:hover {
        border-radius: 10px;
}

.theme-dark .closeButton-1tv5uR {
        border-color: #6a1312 !important; 
        border-radius: 0;
        transition: border-radius .4s ease;
        background-color: #610809 !important;
}


.theme-dark .lookFilled-1h1y05.select-1Pkeg4 {
        background-color: rgba(0,0,0,.4);
        border-color: transparent !important;
}
.theme-dark .select-1Pkeg4 {
        color: white;
}

.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
        background-color: transparent;
        border-color: transparent;
}

.userSettingsVoice-iwdUCU .media-engine-video {
        background-color: rgba(0, 0, 0, 0.5);
}

.theme-dark .notificationsSound-27jFSh,
.theme-dark .item-3eFBNF,
.theme-dark .game-1ipmAa {
        box-shadow: none;
}

.theme-dark .user-settings-games .not-detected {
        background-color: rgba(0, 0, 0, 0.4);
}

.lookLink-9FtZy-.colorLink-35jkBc:hover .contents-18-Yxp {
        background-image: linear-gradient(0deg,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0) 1px,#BFAFB2 0,#BFAFB2 2px,rgba(0, 0, 0, 0) 0);
}

.lookLink-9FtZy-.colorLink-35jkBc {
        color: #BFAFB2;
}

.theme-dark .addGamePopout-2RY8Ju {
        background-color: black;
}

.theme-dark .card-FDVird:before {
        background-color: rgba(255, 255, 255, 0.12);
        border-color: transparent;
}

.theme-dark .lastPlayed-3bQ7Bo, 
.theme-dark .overlayStatusText-L2IACa,
.theme-dark .nowPlaying-284llR .last-played, .theme-dark .nowPlaying-284llR .overlay-status-text,
.theme-dark .keybind-KpFkfr {
        color: silver;
}

.theme-dark .nowPlaying-284llR {
        background-color: rgba(175, 227, 19, 0.23);
        border: 2px solid rgba(175, 227, 19, 0.63);
}
.theme-dark .game-1ipmAa-name {
        color: white;
}
.theme-dark .gameNameInput-385LoS:focus, 
.theme-dark .gameNameInput-385LoS:hover,
.theme-dark .nowPlaying-284llR .gameNameInput-385LoS:focus, 
.theme-dark .nowPlaying-284llR .gameNameInput-385LoS:hover {
        background-color: rgba(255,255,255, 0.19);
        border-color: rgba(255,255,255, 0.12);
}

.ghostPill-2-KUPM {
        background-color: rgba(250,166,26,.4);
        border-radius: 7px;
        color: rgb(250, 166, 26);
        border: 2px solid;
}

.theme-dark #bd-settingspane-container .ui-switch-item .style-description {
        color: silver;
        border: none;
}

.bd-pfbtn,
.standardSidebarView-3F1I7i #editor-detached button,
.bda-slist .bda-footer button {
        background: #610809;
        color: rgb(255, 255, 255);
        text-shadow: 0 0 4px black,0 0 4px black;
}

.ace-monokai .ace_gutter {
        background: transparent;
        color: white;
}

.ace-monokai .ace_gutter-active-line,
.ace-monokai .ace_marker-layer .ace_active-line {
        background-color: rgba(0, 0, 0, 0.4);
}
.ace-monokai,
.editor {
        background: #610809;
        color: white;
        text-shadow: 0 0 4px black,0 0 4px black;
}

.contentRegion-3nDuYy #bd-customcss-attach-controls, 
#bd-customcss-detach-container #bd-customcss-attach-controls {
        background: rgba(0, 0, 0, 0.4);
        color: rgb(255, 255, 255);
        border: 0;
        box-shadow: none;
}

.standardSidebarView-3F1I7i #bd-customcss-attach-controls button:hover, 
.bd-detached-css-editor #bd-customcss-attach-controls button:hover {
        background: rgba(97, 8, 9, 0.6) !important;
}

.standardSidebarView-3F1I7i #bd-customcss-attach-controls button, 
.bd-detached-css-editor #bd-customcss-attach-controls button {
        background: rgba(0, 0, 0, 0.4) !important;
        font-weight: 500;
        border: none !important;
        margin-right: 5px;
        border-radius: 7px;
        transition: background .4s linear;
}

.theme-dark .bda-slist li {
        background-color: rgba(97, 8, 9,.6);
        color: white;
        border-color: transparent;
}

.theme-dark .bda-slist .bda-description {
        color: white;
}

.theme-dark .bda-slist .bda-header {
        color: white;
        border-bottom-color: transparent;
}

.theme-dark .bda-slist .bda-footer {
        border-top-color: transparent;
}
