//META{"name":"BrownMaterial_Theme","description":"Clean Brown Material Theme","author":"DevilsTheAvenged","version":"1.1"}*//{}
@import url('https://fonts.googleapis.com/css?family=Montserrat:200');
*:not(code) {
    font-family: 'Montserrat' !important;
}
/* Main Area */
.theme-dark .message-group:not(.has-divider) {
    border-bottom-color: transparent;
}
.guilds-wrapper .guilds .guild .guild-inner {
    background: #2f3136 !important;
    border-radius: 0px !important;
    overflow: visible;
}
.guilds-wrapper .guilds .guild.unread:before {
    border-radius: 0px;
}
.theme-dark .reaction.reaction-me {
    background: black;
    border: 1px solid rgba(173, 173, 173,0.3);
}
.theme-dark .reaction.reaction-me .reaction-count {
    color: silver;
}
.small-popout-box {
    background: #242629;
    border: none;
    border-radius: 0px;
}
.option-popout .btn-item:hover {
    color: white;
    cursor: pointer;
}

.menu-3BZuDT {
    background: black;
    border-radius: 0px;
    box-shadow: none;
}
.separator-1hpa3S {
    border-bottom: none;
}
.item-rK1j5B:hover {
    background-color: #5D4037;
    color: white;
}
.botTagInvert-gorWR_ {
    background: #5D4037;
    color: white;
    padding: 8px 4px;
}
.item-rK1j5B {
    transition: background-color .3s ease;
}
.theme-dark .chat>.content,
.theme-dark .title-qAcLxz,
.header-1tSljs,
.theme-dark .friends-table,
.theme-dark .messages-wrapper,
.theme-dark .channel-members,
.theme-dark .typing-3eiiL_,
.theme-dark .chat form,
.scroller-NXV0-d,
.channels-3g2vYe,
.theme-dark .headerBar-cxbhPD,
.theme-dark #friends {
    background-color: #242629;
}
.container-iksrDt {
    background: rgba(24, 25, 27,0.6);
    display: table-cell;
    margin-bottom: 1px;
    padding: 20px 10px;
}
.theme-dark .message-group .comment .markup .mention,
.theme-dark .mention{
    background-color: black !important;
    border: 1px solid #8D6E63;
    color: white !important;
}
.theme-dark .message-group .comment .markup .mention:hover,
.theme-dark .mention:hover {
    border: 2px solid #6D4C41;
}
.botTagRegular-288-ZL {
    background: #6D4C41;
    color: #fff;
}
.button-1aU9q1 {
    border: 1px solid rgba(255,255,255,0.30);
    border-radius: 0px;
    height: 32px;
    opacity: .3;
    width: 32px; 
    right: -75px;
    top: 32px;
    margin: 0;
}
.durationBarGrabber-1cFmrd, .durationBarProgress-3sJ7Pt, 
.durationBarProgress-3sJ7Pt:after, 
.durationBarProgress-3sJ7Pt:before {
    background-color: #4E342E;
}
.durationBarInteraction-23MVSC:hover .durationBarWrapper-3-wksR, 
.durationBarInteractionDragging-2t191e:hover .durationBarWrapper-3-wksR {
    box-shadow: none;
}
.durationBarPreview-2q4B-3, 
.durationBarPreview-2q4B-3:after,
.durationBarPreview-2q4B-3:before {
    background-color: rgba(255,255,255,0.7);
}
.durationBarInteraction-23MVSC:hover .durationBarGrabber-1cFmrd {
    background-color: #6D4C41;
}
.side-2nYO0F .item-3879bf[style*="color: rgb(240, 71, 71);"] {
    background: #e53935 !important;
    border-color: black !important;
    box-shadow: 0 3px 2px black;
    color: white !Important;
}
.buffer-3qw5qC, 
.buffer-3qw5qC:after, 
.buffer-3qw5qC:before {
    background-color: black;
}
.durationBarWrapper-3-wksR, 
.durationBarWrapper-3-wksR:after, 
.durationBarWrapper-3-wksR:before {
    background-color: black;
}
.progressBar-mI5LOq {
    background-color: black;
}
.progress-33epXr {
    background-color: #6D4C41;
}
.theme-dark .message-group .mentioned .message-text {
    background: #3E2723;
    padding: 2px 2px;
}
.message-group .mentioned .message-text:after {
    background: transparent;
    border-left: none;
}
.unread-2TDDFN{
    background-color: rgba(93,64,55, 0.5);
}
.unread-2TDDFN:hover {
    background-color: rgb(93,64,55);
}

.inner-ptMwR- .channel-3YGMy1 {
    color: #fff !important;
    opacity: 1;
}
.mention-RlZ5F3 {
    height: 36px;
    font-size: 0px;
    top: -13px;
    border-radius: 0px;
    background-color: rgba(93,64,55 ,0.5);
}
.mention-RlZ5F3:hover {
    height: 36px;
    font-size: 0px;
    top: -13px;
    border-radius: 0px;
    background-color: rgba(93,64,55 ,0.8);
}

.mention-RlZ5F3 .icon-2qNMWC {
    height: 22px;
    width: 22px;
    margin-left: 3px;
}
.unread-mentions-indicator-bottom, .unread-mentions-indicator-top {
    overflow: visible;
}
.wrapper-2xO9RX {
    background-color: #5D4037;
    border-radius: 0px;
    color: #fff;
}
.badge {
    background-color: #5D4037;
    border-radius: 0px;
    box-shadow: none;
    color: #fff;
}
.avatarSpeaking-3teDH6 {
    box-shadow: 0 0 0 2px #6D4C41, inset 0 0 0 1.5px #2f3136;
}
.theme-dark .member-2FrNV0.popout-open .content-3JzEqq, 
.theme-dark .member-2FrNV0.popout-open:hover .content-3JzEqq,
.theme-dark .member-2FrNV0:hover .content-3JzEqq {
    background-color: #111;
    color: #fff;
}

.avatar-large, 
.avatar-profile, 
.avatar-small,
.avatar-xlarge, 
.avatar-xsmall, 
.avatar-xxlarge,
.avatar-large .status, 
.avatar-profile .status, 
.avatar-small .status, 
.avatar-xlarge .status, 
.avatar-xsmall .status, 
.avatar-xxlarge .status{
      border-radius: 0px;
}
.unread-23Kvxk {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 0 0px 0px 0;
    height: 4px;
    left: 0;
    margin-top: -4px;
    position: absolute;
    top: 50%;
    width: 8px;
}
.theme-dark #friends .tab-bar .tab-bar-item .badge {
    background-color: rgba(141,110,99, 0.6);
    color: white !important;
}
.theme-dark #friends .tab-bar .tab-bar-item.selected .badge {
    background-color: #6D4C41;
    color: #fff;
}
.accountDetails-15i-_e {
    margin: 0;
    position: absolute;
    left: 126px;
    bottom: 12px;
    overflow: hidden;
}
.container-iksrDt .avatar-small {
    width: 45px;
    height: 45px;
    border-radius: 0px;
    left: -3px;
    top: -15px;
    background-size: cover;
}
.wanderingCubesItem-35kyMu,
.spinner-wandering-cubes .spinner-item {
    background-color: #6D4C41;
}
.comment {
    background: rgba(33, 33, 33,0.6);
    padding: 12px;
    border-radius: 0px;
}
.messages-popout .message-group .comment {
     background: rgba(33, 33, 33,0.6);
    padding: 12px;
    border-radius: 0px;
}
.messages-popout .message-group .comment:before {
      content: '';
    position: relative;
    border-style: dashed;
    border-width: 10px 10px 0;
    border-color:  #1f2021 transparent;
    display: block;
    width: 0;
    bottom: -5px;
    left: -23px;
    transform: rotate(90deg);
}
.messages-popout .message-group .avatar-large {
    border-radius: 0px;
}
.comment::before {
    content: '';
    position: relative;
    border-style: dashed;
    border-width: 10px 10px 0;
    border-color:  #1f2021 transparent;
    display: block;
    width: 0;
    bottom: -10px;
    left: -23px;
    transform: rotate(90deg);
}
.chat .avatar-large {
    opacity: 1 !important;
    border-radius: 0px;
    left: 4px;
    top: 8px;
}
/* Button Tooltips */
/* Mute Tooltip */
/* Zoom Level 50% */
[class="tooltip tooltip-top tooltip-black"][style*="left: 121px; top: 1337px;"] {
       left: 198px !important;
       top: 1375.866px !important;
}
/* Zoom Level 67% */
[class="tooltip tooltip-top tooltip-black"][style*="left: 120.933px; top: 973.679px;"] {
       left: 196px !important;
       top: 1010.966px !important;
}
/* Zoom Level 75% */
[class="tooltip tooltip-top tooltip-black"][style="left: 121px; top: 858px;"] {
       left: 196px !important;
       top: 897.566px !important;
}
/* Zoom Level 80% */
[class="tooltip tooltip-top tooltip-black"][style*="left: 120.996px; top: 798.012px;"] {
       left: 198px !important;
       top: 835.566px !important;
}
/* Zoom Level 90% */
[class="tooltip tooltip-top tooltip-black"][style*="left: 120.998px; top: 698.014px;"] {
       left: 198px !important;
       top: 737.566px !important;
}
/* Zoom Level 100% */
[class="tooltip tooltip-top tooltip-black"][style*="left: 121px; top: 617px;"] {
       left: 198px !important;
       top: 655.566px !important;
}
/* Deafen Tooltip */
/* Zoom Level 50% */
[class*="tooltip tooltip-top tooltip-black"][style*="left: 146px; top: 1337px;"] {
     left: 222px !important;
     top: 1375.866px !important;
}
/* Zoom Level 67% */
[class*="tooltip tooltip-top tooltip-black"][style*="left: 146.429px; top: 973.679px;"] {
     left: 222px !important;
     top: 1010.966px !important;
}
/* Zoom Level 75% */
[class*="tooltip tooltip-top tooltip-black"][style="left: 146.5px; top: 858px;"] {
     left: 222px !important;
     top: 897.566px !important;
}
/* Zoom Level 80% */
[class*="tooltip tooltip-top tooltip-black"][style*="left: 145.988px; top: 798.012px;"] {
     left: 222px !important;
     top: 835.566px !important;
}
/* Zoom Level 90% */
[class*="tooltip tooltip-top tooltip-black"][style="left: 146.495px; top: 698.014px;"] {
     left: 222px !important;
     top: 737.566px !important;
}
/* Zoom Level 100% */
[class*="tooltip tooltip-top tooltip-black"][style="left: 146px; top: 617px;"] {
     left: 222px !important;
     top: 655.566px !important;
}
/* UnMute Tooltip */
/* Zoom Level 50% */
[class="tooltip tooltip-top tooltip-black"][style*="left: 110px; top: 1337px;"] {
       left: 187px !important;
       top: 1375.866px !important;
}
/* Zoom Level 67% */
[class="tooltip tooltip-top tooltip-black"][style*="left: 109.933px; top: 973.679px;"] {
       left: 187px !important;
       top: 1010.966px !important;
}
/* Zoom Level 75% */
[class="tooltip tooltip-top tooltip-black"][style="left: 109.5px; top: 858px;"] {
       left: 187px !important;
       top: 897.566px !important;
}
/* Zoom Level 80% */
[class="tooltip tooltip-top tooltip-black"][style*="left: 109.496px; top: 797.992px;"] {
       left: 187px !important;
       top: 835.566px !important;
}
/* Zoom Level 90% */
[class="tooltip tooltip-top tooltip-black"][style*="left: 109.998px; top: 698.014px;"] {
       left: 187px !important;
       top: 737.566px !important;
}
/* Zoom Level 100% */
[class="tooltip tooltip-top tooltip-black"][style="left: 110px; top: 617px;"] {
       left: 187px !important;
       top: 655.566px !important;
}
/* UnDeafen  Tooltip */
/* Zoom Level 50% */
[class*="tooltip tooltip-top tooltip-black"][style*="left: 137px; top: 1337px;"] {
     left: 215px !important;
     top: 1375.866px !important;
}
/* Zoom Level 67% */
[class*="tooltip tooltip-top tooltip-black"][style*="left: 136.429px; top: 973.679px;"] {
     left: 215px !important;
     top: 1010.966px !important;
}
/* Zoom Level 75% */
[class*="tooltip tooltip-top tooltip-black"][style*="left: 137px; top: 858px;"] {
     left: 215px !important;
     top: 897.566px !important;
}
/* Zoom Level 80% */
[class*="tooltip tooltip-top tooltip-black"][style*="left: 136.488px; top: 797.992px;"] {
     left: 215px !important;
     top: 835.566px !important;
}
/* Zoom Level 90% */
[class*="tooltip tooltip-top tooltip-black"][style*="left: 136.995px; top: 698.014px;"] {
     left: 215px !important;
     top: 737.566px !important;
}
/* Zoom Level 100% */
[class*="tooltip tooltip-top tooltip-black"][style="left: 137px; top: 617px;"] {
     left: 215px !important;
     top: 655.566px !important;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  } 
.tooltip.tooltip-red {
    background-color: rgba(33,33,33,0.4);
    animation: fadeIn .7s ease;
    box-shadow:  0 0 8px #6D4C41;
}
.tooltip.tooltip-black {
    background-color: #212121;
    animation: fadeIn .7s ease;
    box-shadow: 0 0 8px #6D4C41;
}
.tooltip.tooltip-red.tooltip-right:after {
    border-right: none;
}
.tooltip.tooltip-black.tooltip-top:after {
    border-top: none;
}
.tooltip.tooltip-black.tooltip-right:after {
    border-right: none;
}
.tooltip.tooltip-black.tooltip-bottom:after {
    border-bottom: none;
}
.tooltip.tooltip-black.tooltip-left:after {
    border-left: none;
}
.theme-dark .inner-3if5cm {
    background-color: #1f2123;
    box-shadow: 0 0 8px #6D4C41, 0 0 8px #6D4C41, 0 0 8px black;
    border-radius: 0px;
}
.theme-dark .selectorSelected-2M0IGv {
    background-color: #4E342E;
}
.contentHoveredText-2HYGIY, 
.contentHoveredVoice-3qGNKh:active, 
.contentSelectedVoice-gTtYM9:active {
    background-color: #2d2d2d;
}
.contentSelectedText-3j5CXt {
    background-color: #4E342E;
    box-shadow: 0 3px 6px black;
}
.nameSelectedText-32NDX5, 
.nameSelectedVoice-XpjYTw {
    color: white;
    text-decoration: underline;
}
.theme-dark .autocomplete-1TnWNR {
    background-color: #1f2123;
}
.alt-2vq4VR .item-rK1j5B .helper-3X2gjI {
    display: none;
}
.theme-dark .friends-table .messages .divider:before, 
.theme-dark .friends-table .messages .divider span, 
.theme-dark .messages-wrapper .messages .divider:before, 
.theme-dark .messages-wrapper .messages .divider span {
    background: none;
    box-shadow: none;
    border-radius: 0px;
    color: white !important;
}
.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-track-piece, 
.theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-track-piece {
    background-color: transparent;
    border-color: transparent;
}
.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-thumb, 
.theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-thumb {
    background-color: #1e2124;
    border-color: transparent;
    border-radius: 0px;
}
.theme-dark .friends-table .messages .divider:not(.red) div,
.theme-dark .messages-wrapper .messages .divider:not(.red) div {
    background: transparent;
}
.theme-dark .friends-table .messages .divider.divider-red>div, 
.theme-dark .messages-wrapper .messages .divider.divider-red>div {
    background: transparent;
}
.chat .divider:before {
    background-color: transparent !important;
}
.theme-dark .friends-table .messages .divider.divider-red>span, 
.theme-dark .messages-wrapper .messages .divider.divider-red>span {
    color: white;
    background: #6D4C41;
    border-radius: 0px;
    padding: 2px 8pc;
    box-shadow: 0 3px 2px black;
}
.chat .new-messages-bar {
    background-color: #6D4C41 !important;
    border-radius: 0px;
}
.chat .new-messages-bar button:last-child {
    color: white !important;
} 
.theme-dark .chat .has-more button {
    background: #1f2123;
    border: 1px solid black;
    color: white;
}
.theme-dark .chat .jump-to-present-bar {
    background-color: #1f2123 !important;
}
.chat .jump-to-present-bar button:last-child {
    color: white !important;
}
.theme-dark .iconForeground-2c7s3m, .theme-dark .title-2Ul_Rx {
    color: transparent;
}
.theme-dark .iconBadge-1FYlQB {
    border-color: black;
    left: 21px;
    border-radius: 0px;
}
[class*="iconInactive-WWHQEI icon-mr9wAc iconMargin-2Js7V9"][name*="NotificationBell"] {
       background-image: url(https://png.icons8.com/material/24/cccccc/appointment-reminders.png);
}
[class*="iconInactive-WWHQEI icon-mr9wAc iconMargin-2Js7V9"][name*="Pin"],
[class*="iconInactive-WWHQEI icon-mr9wAc popout-open iconMargin-2Js7V9"][name*="Pin"] {
       background-image: url(https://png.icons8.com/material/24/cccccc/pin.png);
}
.theme-dark .messages-popout-wrap .messages-popout .message-group {
    background-color: black;
    border-color: transparent;
}
[class*="iconInactive-WWHQEI icon-mr9wAc iconMargin-2Js7V9"][name*="PersonPlus"] {
    background-image: url(https://png.icons8.com/material/40/FFFFFF/person-male.png);
    background-size: cover;
}
[class*="iconInactive-WWHQEI icon-mr9wAc iconMargin-2Js7V9"][name*="Phone"] {
    background-image: url(https://png.icons8.com/material/40/FFFFFF/cell-phone.png);
    background-size: cover;
}
[class*="iconInactive-WWHQEI icon-mr9wAc iconMargin-2Js7V9"][name*="VideoCamera"] {
    background-image: url(https://png.icons8.com/material/40/FFFFFF/camcorder-pro.png);
    background-size: cover;
}
[class*="iconActive-3K4uxh icon-mr9wAc iconMargin-2Js7V9"][name*="People"],
[class*="iconInactive-WWHQEI icon-mr9wAc iconMargin-2Js7V9"][name*="People"] {
       background-image: url(https://png.icons8.com/material/24/9C9A9A/conference-call.png);
}
[class*="iconInactive-WWHQEI icon-mr9wAc iconMargin-2Js7V9"][name*="Mention"],
[class*="iconInactive-WWHQEI icon-mr9wAc popout-open iconMargin-2Js7V9"][name*="Mention"]{
       background-image: url(https://png.icons8.com/material/24/cccccc/email.png);
}
[class*="iconInactive-WWHQEI icon-mr9wAc iconMargin-2Js7V9"][name*="QuestionMark"] {
       background-image: url(https://png.icons8.com/material/24/cccccc/question-mark.png);
}
.theme-dark .path2-3n_CYd {
    opacity: .6;
    stroke: #795548;
}
.theme-dark .path-2DIvxA {
    stroke: #795548;
}
.theme-dark .popoutList-2NT_IY {
    background: #1f2123;
}
.selectableItem-3PW5_y.selected-3MAwPR[style*="background: rgb(114, 137, 218);"] {
    background-color: #6D4C41 !important;
}
/* Notification Settings */
.theme-dark .modal-3HOjGZ {
    background-color: #1f2123;
    box-shadow: 0 0 12px black;
}
.theme-dark .footer-1PYmcw {
    background-color: #242629;
    box-shadow: none;
}
.theme-dark .select-3JqNgs .Select-menu-outer {
    background: #18191b;
    border-color: none;
    box-shadow: none;
}
.theme-dark .select-3JqNgs .Select-option.is-focused, 
.theme-dark .select-3JqNgs .Select-option:hover {
    background: rgba(0,0,0,.3);
    transition: background 1s ease;
}
.theme-dark .button-1qrA-N {
    background-color: black !important;
    box-shadow: none;
}
.button-1qrA-N {
    background-image: url(https://png.icons8.com/color/50/bdc3c7/close-window.png);
    border-radius: 0px;
    background-size: cover;
}
.backdrop-2ohBEd {
    background: rgba(0,0,0,0.5) !important;
}
.theme-dark .divider-1G01Z9 {
    background-color: transparent;
}
.theme-dark .select-3JqNgs .Select-control .Select-placeholder,
.theme-dark .description-3MVziF, 
.theme-dark .labelDescriptor-1BebCl {
    color: white;
}
.icon-3_ICKH {
    color: white;
}
.lighten-bXgwKO {
    opacity: .7;
}
.themeDefault-3M0dJU,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch {
    background-color: #757575;
    height: 9px;
}
.theme-dark .cardPrimaryEditable-2IQ7-V[style*="border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);"] {
    background: #6D4C41 !important;
    border-color: black !important;
    box-shadow: 0 3px 2px black;
}
.theme-dark .checked-2TahvT {
    background-color: #fff;
    border-color: black !important;
}
.cardPrimaryEditable-2IQ7-V[style*="border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);"] polyline[stroke] {
    stroke: #6D4C41;
    stroke-width: 2;
}
.theme-dark .checked-2TahvT[style*="background-color: rgb(114, 137, 218); border-color: rgb(114, 137, 218);"] {
     background: #6D4C41 !important;
     border-color: #6D4C41 !important;
}
.header-3sp3cE {
    height: 14px;
    padding: 20px;
}
.themeDefault-3M0dJU.valueChecked-3Bzkbm,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked {
    background-color: #6D4C41;
}
.themeDefault-3M0dJU.sizeDefault-rZbSBU.size-yI1KRe:after {
    background-color: #9E9E9E;
    box-shadow: 0 0 12px black;
    top: -8px;
}
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch:before {
    background-color: #9E9E9E;
    box-shadow: 0 0 12px black;
    top: -5px;
}
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked:before {
    background-color: #6D4C41;
    box-shadow: 0 0 12px black;
    top: -5px;
}
.themeDefault-3M0dJU.valueChecked-3Bzkbm.size-yI1KRe:after {
    background-color: #6D4C41;
    box-shadow: 0 0 12px black;
    top: -8px;
}
.switchEnabled-3CPlLV {
    opacity: 1;
    overflow: visible;
}
/* Discord Settings */
.theme-dark .ui-standard-sidebar-view .sidebar-region {
    background: #18191b;
}
.theme-dark .ui-standard-sidebar-view .content-region {
    background: #242629;
}
.avatar-uploader-inner {
    background-color: #6D4C41;
    border-radius: 0px;
}
.theme-dark .input-2YozMi:focus, .theme-dark .input-2YozMi.focused-xL_GX6,
.theme-dark .input-2YozMi.focused-xL_GX6 {
    border-color: #6D4C41;
}
.theme-dark .input-2YozMi {
    color: white;
}
.theme-dark .avatar-uploader-indicator {
    background-color: #6D4C41;
    border-radius: 0px;
    background-image: url(https://png.icons8.com/material/24/000000/picture.png);
    background-size: cover;
}
.userSettingsAccount-2WOnTW .userInfoViewing-1jbzEW .avatar-xxlarge {
    border-radius: 0px;
}
.statusRed-1ZlXmf {
    color: #6D4C41;
}
.lookFilled-luDKDo.colorBrand-3PmwCE {
    background-color: #6D4C41;
    color: #fff;
    box-shadow: 0 3px 2px black;
}
.lookFilled-luDKDo.colorBrand-3PmwCE:hover {
    background-color: #5D4037;
}
.lookFilled-luDKDo.colorBrand-3PmwCE:active {
    background-color: #6D4C41;
    color: #fff;
    box-shadow: none;
}
.side-2nYO0F .itemSelected-3XxAMf,
#bd-settings-sidebar .ui-tab-bar-item.selected,
#bd-settingspane-container .bd-pfbtn,
.bda-slist .bda-footer button {
    background-color: #6D4C41;
    color: #fff;
}
.bda-slist .bda-header {
    color: white;
    border-bottom: none;
}
#bd-settingspane-container .ui-switch-item.ui-switch-item .ui-switch-wrapper .ui-switch {
     top: 12px;
}
.bda-slist .bda-footer {
    border-top: none;
    color: silver;
}
.theme-dark .multiInputLast-1aMJ4U:before {
    border-right-color: transparent;
}
.lookFilled-luDKDo.colorGreen-22At8E {
    background-color: #43A047;
    color: #fff;
    box-shadow: 0 3px 2px black;
}

.lookFilled-luDKDo.colorGreen-22At8E:hover {
    background-color: #388E3C;
    color: #fff;
}
.lookFilled-luDKDo.colorGreen-22At8E:active {
    background-color: #43A047;
    color: #fff;
    box-shadow: none;
}
.lookOutlined-1c5nhl.colorRed-3HTNPV {
    border-color: #e53935;
    background: #e53935;
    color: white;
    box-shadow: 0 3px 2px black;
}
.lookOutlined-1c5nhl.colorRed-3HTNPV:hover {
    border-color: #d32f2f;
    background: #d32f2f;
    color: white;
    box-shadow: 0 3px 2px black;
}
.lookOutlined-1c5nhl.colorRed-3HTNPV:active {
    border-color: #e53935;
    background: #e53935;
    color: white;
    box-shadow: none;
}
[class*="flexChild-1KGW5q switchEnabled-3CPlLV switch-3lyafC valueChecked-3Bzkbm value-kmHGfs sizeDefault-rZbSBU size-yI1KRe themeClear-1NqU69"][style*="background-color: rgba(255, 255, 255, 0.298039);"] {
       height: 9px;
}
.size-yI1KRe:after {
    top: -7px;
     box-shadow: 0 1px 2px black;
}
.themeClear-1NqU69.valueUnchecked-XR6AOk.sizeDefault-rZbSBU {
    box-shadow: inset 0 0 0 2px rgba(0,0,0,.6);
    height: 9px;
}
.theme-dark .accountBtnInner-3zsU2z {
    background-color: #6D4C41;
    border-color: transparent;
    box-shadow: 0 3px 2px black;
}
.theme-dark .accountBtnInner-3zsU2z:hover {
    background-color: #5D4037;
    border-color: transparent;
    box-shadow: 0 3px 2px black;
}
.content-region #bd-customcss-attach-controls, 
#bd-customcss-detach-container #bd-customcss-attach-controls {
    background: black;
    color: #FFF;
    border: 0;
    box-shadow: none;
}
.ace-monokai,
.ace-monokai .ace_gutter {
    background-color: #161616 !important;
    color: white !important;
}
.ghostPill-1yup5q {
    background-color: #F9A825;
    border-radius: 16px;
    color: white;
    box-shadow: 0 3px 2px black;
}
.theme-dark .user-settings-games .now-playing, 
.theme-light .user-settings-games .now-playing {
    background-color: #6D4C41;
    border-color: transparent;
    box-shadow: 0 3px 2px black;
}
.theme-dark .user-settings-games .game-name-input:focus, 
.theme-dark .user-settings-games .game-name-input:hover {
    border-color: #6D4C41;
}
.lookLink-3VWONr.colorLink-Ttelix {
    color: #6D4C41;
}
.lookLink-3VWONr.colorLink-Ttelix:hover .contents-4L4hQM {
    background-image: linear-gradient(0deg,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0) 1px,#6D4C41 0,#6D4C41 2px,rgba(0, 0, 0, 0) 0);
}
#bd-settingspane-container .ui-switch-item .style-description {
    color: silver;
    border-bottom: none;
}
a,
.app .welcomeMessage-1U7Ntv h1,
.theme-dark .embedTitleLink-1IGDvg {
    color: #A1887F !important;
}
.theme-dark .item-3tXG-o {
    box-shadow: none;
}
.theme-dark .user-settings-games .now-playing .last-played, 
.theme-dark .user-settings-games .now-playing .overlay-status-text, 
.theme-light .user-settings-games .now-playing .last-played, 
.theme-light .user-settings-games .now-playing .overlay-status-text {
    color: white;
}
.theme-dark .user-settings-games .game {
    box-shadow: none;
}
.theme-dark .side-2nYO0F .itemDefault-3NDwnY:hover[style*="color: rgb(114, 137, 218);"] {
      background: rgba(109,76,65,.1) !important;
}
[class*="itemDefault-3NDwnY item-3879bf notSelected-PgwTMa"][style*="color: rgb(114, 137, 218);"] {
    color: #6D4C41 !important;
}
.barFill-18ABna {
    background: #6D4C41 !important;
}
[class*="itemSelected-3XxAMf item-3879bf selected-eNoxEK"][style*="color: rgb(255, 255, 255); background-color: rgb(114, 137, 218);"] {
    background: #6D4C41 !important;
}
.checkbox .checkbox-inner input[type=checkbox]:checked+span {
    background-color: #6D4C41;
    border-color: #6D4C41;
}
.userSettingsVoice-TvPQ80 .inputSensitivityToggle-1tgXkB.manual-ELrZ-H .microphone-382GDp .fill-32vNs_ {
    -webkit-transition: width 35ms ease;
    background-color: rgba(0,0,0,.15) !important;
    height: 100%;
    transition: width 35ms ease;
}
.theme-dark .bar-2cFRGz[style*="background: rgb(251, 184, 72);"] {
    background: #4f545c !important;
}
.theme-dark .notificationsSound-3TXEoH {
    box-shadow: none;
}
.ace-monokai .ace_cursor {
    color: white;
}
[class*="ace_line"] {
     background: #6D4C41;
}
.ui-standard-sidebar-view #bd-customcss-attach-controls button, 
.bd-detached-css-editor #bd-customcss-attach-controls button {
    background: #6D4C41 !important;
    color: #FFF;
    height: 26px;
    border-radius: 0px;
    font-weight: 100;
    margin-top: 5px;
}
.ui-standard-sidebar-view #bd-customcss-attach-controls button:hover, 
.bd-detached-css-editor #bd-customcss-attach-controls button:hover {
    background: #5D4037 !important;
}
.ace_hidden-cursors .ace_cursor {
    opacity: 0.6;
}
.theme-dark .card-11ynQk:before {
    background-color: #1a1a1a;
    border-color: transparent;
}
/* Search, Mention, Pins and such */
.theme-dark .themed-popout .header {
    background-color: #18191c;
    box-shadow: none;
}
.theme-dark .search-results-wrap .search-result:before,
.theme-dark .search-results-wrap .search-result:after {
    background: transparent;
}
.theme-dark .search-results-wrap .search-result .search-result-message.hit {
    border: 2px solid silver;
    background: #232428;
}
.theme-dark .search-results-wrap .channel-separator:before {
    border-color: transparent;
}
.theme-dark .search-results-wrap .search-header {
    background-color: #232428;
    box-shadow: none;
}
.theme-dark .search-results-wrap,
.theme-dark .search-results-wrap .channel-separator .channel-name {
    background-color: #1e1f21;
}
.highlight {
    background: rgba(121,85,72,.3);
    padding: 3px 3px;
}
.theme-dark .search-results-wrap .search-result.expanded .search-result-message.hit {
    background-color: #18191c;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.theme-dark .themed-popout {
    background-color: #232428;
    border: none;
    box-shadow: none;
}
.theme-dark.contextMenu-uoJTbz {
    background: #1d1f23;
    box-shadow: none;
}
.theme-dark .messages-popout-wrap .messages-popout .message-group:hover .action-buttons {
    background-color: transparent;
    box-shadow: none;
}
.theme-dark .themed-popout .header .subtitle, 
.theme-dark .themed-popout .text {
    color: white;
}
.theme-dark .messages-popout-wrap .messages-popout .message-group .action-buttons .jump-button,
.theme-dark .search-results-wrap .action-buttons .jump-button {
    background-color: #5D4037;
    color: white;
}
.theme-dark .searchAnswer-yD90ey, 
.theme-dark .searchFilter-1fJ0cd {
    background-color: #292b2d;
}
.theme-dark .search-popout {
    box-shadow: none;
}
.search-popout {
    background-color: #292b2d;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}
.search-popout .option:after,
.search-popout .option:before {
    background: #292b2d;
}
.search-popout .results-group:before {
    border-top: none;
}
.search-popout .option.selected {
    background-color:#242526;
}
.search-popout .option.selected:after {
    background: #242526;
}
.search-popout .option.selected:before,
.search-popout .option.selected:after {
    background-color:  #242526;
}
.search-popout .date-picker .date-picker-hint .hint-value {
    background-color: #4E342E;
}
.search-popout .date-picker .date-picker-hint .hint-value:hover {
    background-color: #3E2723;
}
.search-popout .date-picker {
    border-radius: 0;
    border-top: none;
    box-shadow: none;
}
.theme-dark .theme-light .calendarPicker-16Q6sl .react-datepicker, .theme-light .calendarPicker-16Q6sl .react-datepicker {
    background-color: #212121;
}
.theme-dark .theme-light .calendarPicker-16Q6sl .react-datepicker__current-month, 
.theme-light .calendarPicker-16Q6sl .react-datepicker__current-month {
    border-bottom-color: transparent;
    color: white;
    background-color: #212121;
}
.theme-dark .theme-light .calendarPicker-16Q6sl .react-datepicker__day-name, 
.theme-light .calendarPicker-16Q6sl .react-datepicker__day-name {
    color: white;
}
.theme-dark .theme-light .calendarPicker-16Q6sl .react-datepicker__header, 
.theme-light .calendarPicker-16Q6sl .react-datepicker__header {
    background-color: #212121;
    border-color: transparent;
}
.search-popout .date-picker .date-picker-hint {
    border-top: none;
}
.theme-dark .theme-light .calendarPicker-16Q6sl .react-datepicker__day--outside-month, 
.theme-light .calendarPicker-16Q6sl .react-datepicker__day--outside-month {
    background-color: black;
    color: rgba(255,255,255,.3);
}
.theme-dark .react-datepicker__day.react-datepicker__day--sun.react-datepicker__day--disabled.react-datepicker__day--outside-month,
.theme-dark .react-datepicker__day.react-datepicker__day--mon.react-datepicker__day--disabled.react-datepicker__day--outside-month,
.theme-dark .react-datepicker__day.react-datepicker__day--tue.react-datepicker__day--disabled.react-datepicker__day--outside-month,
.theme-dark .react-datepicker__day.react-datepicker__day--wed.react-datepicker__day--disabled.react-datepicker__day--outside-month,
.theme-dark .react-datepicker__day.react-datepicker__day--thu.react-datepicker__day--disabled.react-datepicker__day--outside-month,
.theme-dark .react-datepicker__day.react-datepicker__day--fri.react-datepicker__day--disabled.react-datepicker__day--outside-month,
.theme-dark .react-datepicker__day.react-datepicker__day--sat.react-datepicker__day--disabled.react-datepicker__day--outside-month {
     background-color: black !important;
     color: rgba(255,255,255,.4);
}
.theme-dark .react-datepicker__day.react-datepicker__day--sun.react-datepicker__day--outside-month:hover,
.theme-dark .react-datepicker__day.react-datepicker__day--mon.react-datepicker__day--outside-month:hover,
.theme-dark .react-datepicker__day.react-datepicker__day--tue.react-datepicker__day--outside-month:hover,
.theme-dark .react-datepicker__day.react-datepicker__day--wed.react-datepicker__day--outside-month:hover,
.theme-dark .react-datepicker__day.react-datepicker__day--thu.react-datepicker__day--outside-month:hover,
.theme-dark .react-datepicker__day.react-datepicker__day--fri.react-datepicker__day--outside-month:hover,
.theme-dark .react-datepicker__day.react-datepicker__day--sat.react-datepicker__day--outside-month:hover {
     background-color: #263238 !important;
}
.theme-dark .theme-light .calendarPicker-16Q6sl .react-datepicker__day.react-datepicker__day--selected:after, 
.theme-light .calendarPicker-16Q6sl .react-datepicker__day.react-datepicker__day--selected:after {
    background-color: transparent;
}
.theme-dark .react-datepicker__day.react-datepicker__day--sun.react-datepicker__day--disabled.react-datepicker__day--outside-month:hover,
.theme-dark .react-datepicker__day.react-datepicker__day--mon.react-datepicker__day--disabled.react-datepicker__day--outside-month:hover,
.theme-dark .react-datepicker__day.react-datepicker__day--tue.react-datepicker__day--disabled.react-datepicker__day--outside-month:hover,
.theme-dark .react-datepicker__day.react-datepicker__day--wed.react-datepicker__day--disabled.react-datepicker__day--outside-month:hover,
.theme-dark .react-datepicker__day.react-datepicker__day--thu.react-datepicker__day--disabled.react-datepicker__day--outside-month:hover,
.theme-dark .react-datepicker__day.react-datepicker__day--fri.react-datepicker__day--disabled.react-datepicker__day--outside-month:hover,
.theme-dark .react-datepicker__day.react-datepicker__day--sat.react-datepicker__day--disabled.react-datepicker__day--outside-month:hover {
     background-color: #263238 !important;
     color: rgba(255,255,255,.4);
}
.theme-dark .theme-light .calendarPicker-16Q6sl .react-datepicker__day.react-datepicker__day--disabled:hover,
.theme-light .calendarPicker-16Q6sl .react-datepicker__day.react-datepicker__day--disabled:hover {
    background-color: #3E2723;
    color: rgba(255,255,255,.3);
    border: none;
}
.theme-dark .theme-light .calendarPicker-16Q6sl .react-datepicker__day.react-datepicker__day--selected:hover, 
.theme-light .calendarPicker-16Q6sl .react-datepicker__day.react-datepicker__day--selected:hover {
    background-color: #8D6E63;
    color: #fff;
}
.theme-dark .theme-light .calendarPicker-16Q6sl .react-datepicker__day:hover,  
.theme-light .calendarPicker-16Q6sl .react-datepicker__day:hover {
    background-color: #795548;
    color: #fff;
}
.theme-dark .theme-light .calendarPicker-16Q6sl .react-datepicker__day.react-datepicker__day--disabled,
.theme-light .calendarPicker-16Q6sl .react-datepicker__day.react-datepicker__day--disabled {
      color: rgba(255,255,255,.3);
      background: #232426;
      border: none;
}

.react-datepicker__day.react-datepicker__day--mon,
.react-datepicker__day.react-datepicker__day--tue,
.react-datepicker__day.react-datepicker__day--wed,
.react-datepicker__day.react-datepicker__day--thu,
.react-datepicker__day.react-datepicker__day--fri,
.react-datepicker__day.react-datepicker__day--sat,
.react-datepicker__day.react-datepicker__day--sun {
      background: #212121;
      border: none;
}
.theme-dark .theme-light .calendarPicker-16Q6sl .react-datepicker__week .react-datepicker__day:last-of-type, 
.theme-light .calendarPicker-16Q6sl .react-datepicker__week .react-datepicker__day:last-of-type {
    border: none;
}
.theme-dark .itemGroup-oViAgA {
    border-color: transparent;
}
/* Need Help Menu */
.need-help-modal.deprecated .header {
    background-color: black;
    border-radius: 0px;
}
.form-deprecated .form-inner, .form.deprecated .form-inner {
    background-color: #212121;
}
.need-help-modal.deprecated .footer {
    background-color: black;
    border-radius: 0px;
    border-top: none;
    color: white;
}
.need-help-modal.deprecated .header input[type=text]:focus {
    border-bottom: none;
}
.need-help-modal.deprecated .header input[type=text] {
    background-color: black;
    box-shadow: none;
    color: white;
    border-radius: 0px;
}
.form-deprecated .control-group input[type=email], 
.form-deprecated .control-group input[type=number], 
.form-deprecated .control-group input[type=password], 
.form-deprecated .control-group input[type=text], 
.form-deprecated .control-group textarea, 
.form.deprecated .control-group input[type=email], 
.form.deprecated .control-group input[type=number], 
.form.deprecated .control-group input[type=password], 
.form.deprecated .control-group input[type=text], 
.form.deprecated .control-group textarea {
    border: none;
    border-bottom: none;
    color: white;
}
/* Upload Section */
.uploadModal-2KN6Mm .inner-1-09ZV {
    border: none;
    color: rgb(255, 255, 255);
}
.uploadModal-2KN6Mm {
    background-color: #212121;
}
.uploadModal-2KN6Mm .footer-4pOKm8 {
    background-color: #212121;
}
.uploadModal-2KN6Mm .footer-4pOKm8 .button {
    background-color: #e53935;
    box-shadow: 2px 0 6px black;
}
.uploadModal-2KN6Mm .footer-4pOKm8 .button:hover {
    background-color: #d32f2f;
    box-shadow: 2px 0 6px black;
}
.uploadModal-2KN6Mm .footer-4pOKm8 .button-primary {
    background-color: #6D4C41;
    color: white;
    box-shadow: 2px 0 6px black;
}
.uploadModal-2KN6Mm .footer-4pOKm8 .button-primary:hover {
    background-color: #5D4037;
    color: white;
    opacity: 1;
    box-shadow: 2px 0 6px black;
}
.uploadDropModal-BpFgz7 {
   background: #191a1c;
}
.uploadModalIn-14sS7w .uploadDropModal-BpFgz7 .bgScale-1i4Cp3  {
    background: #212121 !important;
}
.uploadModalIn-14sS7w .uploadDropModal-BpFgz7 .inner-1-09ZV  {
    background: #191a1c !important;
    border: none;
}
.uploadModal-2KN6Mm .inner-1-09ZV .file-XhJJS_ .icon-19bbE_.image-sUU6Oh {
    background-color: transparent;
    background-size: cover;
    border: none;
    border-radius: 0px;
}
.marginLeft4-3RAvyQ,
.marginLeft8-34JoM2 {
    color: silver;
}
/* Emote Menu */
.bda-dark .emoji-picker, 
.bda-dark .emojiPicker-3g68GS,
.bda-dark #bda-qem-favourite-container, 
.bda-dark #bda-qem-twitch-container {
    background-color: #191a1c;
    border-radius: 0px;
    border: none;
}
.search-bar.search-bar-light .search-bar-inner {
    background-color: #212121;
    border: none;
}
.emojiPicker-3g68GS .header-27dQ-e {
    border-bottom: none;
}
.bda-dark .emoji-picker .category, 
.bda-dark .emojiPicker-3g68GS .category-3rCtoh {
    background-color: #212121;
}
.bda-dark .emoji-picker .header .search-bar, 
.bda-dark .emojiPicker-3g68GS .header-27dQ-e .search-bar {
    background-color: transparent;
}
.bda-dark .emoji-picker .dimmer.visible, 
.bda-dark .emojiPicker-3g68GS .dimmer-jySV_v.visible-1CGy1m {
    background-color: rgba(0,0,0,0.65);
}
.bda-dark .emoji-picker .diversity-selector .popout, 
.bda-dark .emojiPicker-3g68GS .diversitySelector-O3ea2c .popout-2lja3I {
    background: black;
    border-color: transparent;
}
.bda-dark .emoji-picker .scroller::-webkit-scrollbar, 
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-track,
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-track-piece, 
.bda-dark .emojiPicker-3g68GS .scroller-2dsok0::-webkit-scrollbar, 
.bda-dark .emojiPicker-3g68GS .scroller-2dsok0::-webkit-scrollbar-track, 
.bda-dark .emojiPicker-3g68GS .scroller-2dsok0::-webkit-scrollbar-track-piece,
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar, 
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track, 
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track-piece, 
.bda-dark #pubs-container .scroller::-webkit-scrollbar, 
.bda-dark #pubs-container .scroller::-webkit-scrollbar-track, 
.bda-dark #pubs-container .scroller::-webkit-scrollbar-track-piece,
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar, 
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track, 
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track-piece {
    background-color: transparent !important;
    border-color: transparent !important;
}
.scrollerThemed-19vinI.themeLight-1WK0Av .scroller-fzNley::-webkit-scrollbar-thumb, 
.theme-dark .scrollerThemed-19vinI.themeLight-1WK0Av .scroller-fzNley::-webkit-scrollbar-thumb, 
.theme-light .scrollerWrap-2uBjct .scroller-fzNley::-webkit-scrollbar-thumb,
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-thumb, 
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-thumb, 
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-thumb, 
.bda-dark emojiPicker-3g68GS .scroller-2dsok0::-webkit-scrollbar-thumb, 
.bda-dark #pubs-container .scroller::-webkit-scrollbar-thumb {
    background-color: #212121;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
}
.emojiPicker-3g68GS .categories-jw8z2h .item-lsWB-j.selected-1LQfcZ {
    border-bottom-color: #252628;
}
.bda-dark #bda-qem {
    border-bottom: none !important;
    background: transparent;
}
.bda-dark #bda-qem button {
    background: black;
    border-left: none;
    box-shadow: none;
}
.bda-dark #bda-qem button:hover {
    background-color: #161719;
}
.bda-dark #bda-qem button.active {
    background-color: #4E342E;
}
/* Invite Menu */
.wrapper-VSYYTS {
    background: transparent;
    border-radius: 0px;
}
.checkbox .checkbox-inner+span {
    color: silver;
}
.form-deprecated .btn-primary, 
.form.deprecated .btn-primary {
    background-color: #6D4C41;
    border-radius: 0px;
    color: #fff;
    box-shadow: 0 6px 6px black;
}
.form-deprecated .btn-primary:hover, 
.form.deprecated .btn-primary:hover {
    background-color: #4E342E;
    box-shadow: 0 6px 6px black;
}
.form-deprecated .Select-control, 
.form.deprecated .Select-control {
    border: none;
    border-radius: 0px !important;
}
.form-deprecated .is-focused:not(.is-open)>.Select-control, 
.form.deprecated .is-focused:not(.is-open)>.Select-control {
    border: none;
}
.Select-menu-outer {
    background-color: transparent;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-color: transparent;
    box-shadow: none;
}
.form-deprecated .Select.is-disabled .Select-control:hover, 
.form-deprecated .Select.is-open .Select-control:hover, 
.form.deprecated .Select.is-disabled .Select-control:hover, 
.form.deprecated .Select.is-open .Select-control:hover {
    border-color: transparent;
}
.form-deprecated .Select-option, 
.form.deprecated .Select-option {
    color: silver;
    background: black;
}
.form-deprecated .Select-option.is-focused, 
.form.deprecated .Select-option.is-focused {
    background: #161719;
    color: silver;
}
.Select--single>.Select-control .Select-value, 
.Select-placeholder {
    color: silver;
    background-color: #161719;
    border-radius: 0px;
    border: none;
}
.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label, 
.has-value.Select--single>.Select-control .Select-value .Select-value-label {
    color: silver;
}
.form-deprecated .form-header, 
.form.deprecated .form-header,
.wrapper-VSYYTS .instantInviteModal-5L33Qh .form-actions {
    background: #212121;
    border: none;
    border-radius: 0px;
    color: white;
}
.wrapper-VSYYTS .instantInviteModalAdvanced-38f2M0 .form-actions {
    background-color: #212121;
    border-top: none;
    padding-top: 0;
}
.wrapper-VSYYTS .instantInviteModal-5L33Qh .clipboardInputInner-dxVheg input {
    color: silver;
    background: #161719;
}
.wrapper-VSYYTS .instantInviteModal-5L33Qh .copy-2xFKb_ {
    background-color: black;
    border: none;
}
.clipboardInputInner-oj8y-S button:first-of-type:before {
    background: linear-gradient(90deg,rgba(255, 255, 255, 0),#000);
}
.wrapper-VSYYTS .instantInviteModal-5L33Qh .checkbox .checkbox-inner input:checked+span,
.wrapper-VSYYTS .instantInviteModalAdvanced-38f2M0 .checkbox .checkbox-inner input:checked+span {
    border-color: #6D4C41;
}
.clipboardInputInner-oj8y-S {
    background: transparent;
    border: none;
    border-radius: 0px;
}
.clipboardInputCopied-UXgFh2 .clipboardInputInner-oj8y-S {
    border-color: #7CB342 !important;
}
.clipboardInputCopied-UXgFh2 button {
    background-color: #7CB342!important;
    background-image: url(https://png.icons8.com/material/48/FFFFFF/invite.png)!important;
    border-color: #558B2F!important;
    color: rgba(0, 0, 0, 0)!important;
    background-size: 36px 36px;
}
/* Friends and DMs */
.guilds-wrapper .guilds .friends-icon {
    background-image: url(https://png.icons8.com/material/48/FFFFFF/chat.png);
}
.theme-dark #friends .friends-table .friends-table-header,
.theme-dark #friends .friends-table .friends-row+.friends-row {
    border: none;
}
.theme-dark .divider-1GKkV3 {
    background: transparent;
}
.theme-dark #friends .friends-table .friends-table-header .friends-column-separator {
    background-color: transparent;
}
.theme-dark #friends .friends-table .friends-row:hover {
    background: #212121;
    border-color: rgba(0, 0, 0, 0);
}
[class*="iconInactive-WWHQEI icon-mr9wAc iconMargin-2Js7V9"][name*="Compose"],
[class*="iconInactive-WWHQEI icon-mr9wAc popout-open iconMargin-2Js7V9"][name*="Compose"]{
      background-image: url(https://png.icons8.com/material/48/cccccc/moleskine.png);
      background-size: cover;
}
.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action {
    background-color: #161719;
}
.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action:hover {
    background-color: black !important;
}
#friends .friends-table .friends-row .friends-column-actions .friends-action.friends-action-remove {
    background-image: url(https://png.icons8.com/material/48/cccccc/remove-user-male.png);
}
#friends .friends-table .friends-row .friends-column-actions .friends-action.friends-action-video-call {
    background-image: url(https://png.icons8.com/material/48/cccccc/video-message.png);
}
#friends .friends-table .friends-row .friends-column-actions .friends-action.friends-action-voice-call {
    background-image: url(https://png.icons8.com/material/48/cccccc/phone-disconnected.png);
}
#friends .friends-table .friends-row .friends-column-guilds .more-mutual-guilds-btn {
    border-radius: 0px;
}
#friends .friends-table .friends-row .friends-column-guilds .avatar-small {
    background-color: #161719;
    color: #fff;
}
.private-channels .channel.selected a {
    background-color: #3E2723 !important;
    color: #fff;
}
.private-channels .channel:hover a {
    background-color: #212121;
    color: #fff;
}
.theme-dark #friends .tab-bar .tab-bar-separator {
    background-color: transparent;
}
.theme-dark #friends .tab-bar .tab-bar-item.selected {
    background-color: #795548;
    color: white;
}
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary {
    background-color: #5D4037;
    color: #fff;
    box-shadow: 0 3px 6px black;
    border-radius: 0px;
}
.theme-dark #friends .tab-bar .tab-bar-item {
    border-radius: 0px;
}
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary:hover:not(.selected) {
    background-color: #4E342E;
    color: #fff;
    box-shadow: 0 3px 6px black;
}
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary.selected {
    background-color: #558B2F;
    color: #fff;
    box-shadow: 0 3px 6px black;
}
#friends .btn {
    background-color: #6D4C41;
    border-radius: 0px;
    color: #fff;
    box-shadow: 0 5px 6px black;
}
#friends .btn:hover {
    background-color: #4E342E;
    border-radius: 0px;
}
.scrollerThemed-19vinI.themeDark-BdSAwu.scrollerTrack-3hhmU0>.scroller-fzNley::-webkit-scrollbar-track, 
.theme-dark .scrollerWrap-2uBjct.scrollerTrack-3hhmU0>.scroller-fzNley::-webkit-scrollbar-track, 
.theme-light .scrollerThemed-19vinI.themeDark-BdSAwu.scrollerTrack-3hhmU0>.scroller-fzNley::-webkit-scrollbar-track {
    background-color: transparent;
}
.theme-dark .themed-popout .footer,
.theme-dark .private-channel-recipients-invite .friend {
    background-color: #18191c;
}
.theme-dark .private-channel-recipients-invite .friend.selected, 
.theme-dark .private-channel-recipients-invite .friend:hover {
    background: #212121;
}
.private-channel-recipients-invite .footer button {
    background-color: #5D4037 !important;
    border-radius: 0px;
}
.search-bar-tag {
    background: #212121;
    border-radius: 0px;
    color: #fff !important;
}
.theme-dark .quickswitcher-2NdiGJ {
    background-color:  #18191c;
    color: white;
}
.theme-dark .tipsWithoutResults-202oQR, 
.theme-dark .tipsWithResults-3TVZGE {
    border-color: transparent;
    color: white;
}
.dark-2Ll8iS span {
    background-color: #4E342E;
    border-color: transparent;
    box-shadow: 0 5px 6px black;
    color: white;
}
.theme-dark .input-MwQhcX {
    background-color: #212121;
    box-shadow: none;
    color: #fff;
}
.theme-dark .input-MwQhcX:focus {
    border: 2px solid #7CB342;
}
.dark-2Ll8iS span .bindArrow-3Mm64N g {
    fill: white !important;
}
.dark-2Ll8iS span:active {
    box-shadow: none;
    color: silver;
}
.guilds-wrapper .guilds-error {
    border-radius: 0px;
}
.guilds-wrapper .guilds-add {
    border-radius: 0px;
}
.create-guild-container.deprecated .create-or-join .form-inner {
    background-color: black;
}
.create-guild-container.deprecated .action {
    background: #212121;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}
.create-guild-container.deprecated .create-or-join .actions .or {
    color: black;
}
.form-deprecated header, .form.deprecated header {
    color: #6D4C41;
}
/* User Profile Popout and User Modal */
.theme-dark .body-3ljq11, 
.theme-dark .footer-2wFs91 {
    background-color: #18191c;
    color: white;
    border: none;
}
.role-3rahR_ {
    border: none;
}
.roleCircle-3-vPZq {
    border-radius: 0px;
}
[class*="roleCircle-3-vPZq"][style*="background-color: rgb(185, 187, 190);"] {
   background-color: transparent !important;
   border: 2px solid #4E342E;
}
.theme-dark .protip-q743VF-q743VF {
    display: none;
}
.headerPlaying-2Q7mBy,
.topSectionPlaying-3jAH9b {
    background: #303F9F;
}
.lookInverted-2lPGe7.colorBrand-3PmwCE {
    background-color: #3949AB !important;
    color: white;
    box-shadow: 0 5px 6px black;
}
.headerSpotify-26yUf5,
.topSectionSpotify-3744IX {
    background: #2E7D32;
}
.lookInverted-2lPGe7.colorGreen-22At8E {
    background-color: #2E7D32 !important;
    color: white;
    box-shadow: 0 5px 6px black;
}
.headerStreaming-lmgoma,
.topSectionStreaming-3rIBIm {
    background: #512DA8;
}
.buttonInvertedPurple-15OGid {
    background-color: #512DA8 !important;
    color: white;
    box-shadow: 0 5px 6px black;
}
.theme-dark .body-3_tdh6 {
    background-color: #212121;
}
.theme-dark .listRow-1wEi-U:hover {
    background: rgba(255,255,255,0.02);
}
.listAvatar-MpHQ5z {
   background-color: transparent;
   border-radius: 0px;
}
.mask-2vyqAW {
    border-radius: 0;
    -webkit-mask: none;
    mask: none;
}
.status-3jUEha {
    border-radius: 0px;
}
