//META{"name":"BrownMaterial_Theme","description":"Clean Brown Material Theme","author":"DevilsTheAvenged","version":"1.4"}*//{}

/* Main Area */
.theme-dark .dividerEnabled-2TTlcf {
    border-bottom-color: transparent;
}
.theme-dark .guild-1EfMGQ .guildInner-3DSoA4 {
    background: #2f3136 !important;
    border-radius: 0px !important;
    overflow: visible;
}
.theme-dark .guild-1EfMGQ.unread-qLkInr:before {
    border-radius: 0px;
}
.theme-dark .reaction.reaction-me {
    background: black;
    border: 1px solid rgba(173, 173, 173,0.3);
}
.theme-dark .reaction.reaction-me .reaction-count {
    color: silver;
}
.theme-dark .container-3cGP6G {
    background: #242629;
    border: none;
    border-radius: 0px;
}
.theme-dark .item-2J1YMK:hover {
    color: white;
    cursor: pointer;
}

.theme-dark .menu-Sp6bN1 {
    background: black;
    border-radius: 0px;
    box-shadow: none;
}
.theme-dark .separator-2zcjq8 {
    border-bottom: none;
}
.theme-dark .item-1GzJrl:hover {
    background-color: #5D4037;
    color: white;
}
.botTagInvert-18-95s {
    background: #5D4037;
    color: white;
    padding: 8px 4px;
}
.theme-dark .item-1GzJrl {
    transition: background-color .3s ease;
}
.theme-dark .chat>.content,
.theme-dark .title-3qD0b-,
.header-2o-2hj,
.theme-dark .friends-table,
.theme-dark .messages-wrapper,
.theme-dark .members-1998pB,
.theme-dark .typing-2GQL18,
.theme-dark .chat form,
.scroller-NXV0-d,
.channels-Ie2l6A,
.theme-dark .headerBar-UHpsPw,
.theme-dark #friends,
.container-PNkimc {
    background-color: #242629;
}
.container-2Thooq{
    background: rgba(24, 25, 27,0.6);
    display: table-cell;
    margin-bottom: 1px;
    padding: 20px 10px;
}
.theme-dark .markup-2BOw-j .mention,
.theme-dark .isMentioned-N-h9aa .mention, .theme-dark .wrapper-3WhCwL{
    background-color: black !important;
    border: 1px solid #8D6E63;
    color: white !important;
}
.theme-dark .markup-2BOw-j .mention:hover,
.theme-dark .isMentioned-N-h9aa .mention:hover, .theme-dark .wrapper-3WhCwL:hover {
    border: 2px solid #6D4C41;
}
.botTagRegular-2HEhHi {
    background: #6D4C41;
    color: #fff;
}
.button-2b6hmh {
    border: 1px solid rgba(255,255,255,0.30);
    border-radius: 0px;
    height: 32px;
    opacity: .3;
    width: 32px; 
    margin: 0;
}
.mediaBarGrabber-1FqnbN, .mediaBarProgress-1xaPtl, 
.mediaBarProgress-1xaPtl:after, 
.mediaBarProgress-1xaPtl:before {
    background-color: #4E342E;
}
.mediaBarInteraction-37i2O4:hover .mediaBarWrapper-3D7r67, 
.mediaBarInteractionDragging-2QurIZ:hover .mediaBarWrapper-3D7r67 {
    box-shadow: none;
}
.mediaBarPreview-1jfyFs, 
.mediaBarPreview-1jfyFs:after,
.mediaBarPreview-1jfyFs:before {
    background-color: rgba(255,255,255,0.7);
}
.mediaBarInteraction-37i2O4:hover .mediaBarGrabber-1FqnbN {
    background-color: #6D4C41;
}
.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(240, 71, 71);"] {
    background: #e53935 !important;
    border-color: black !important;
    box-shadow: 0 3px 2px black;
    color: white !Important;
}
.buffer-3qw5qC, 
.buffer-3qw5qC:after, 
.buffer-3qw5qC:before {
    background-color: black;
}
.mediaBarWrapper-3D7r67, 
.mediaBarWrapper-3D7r67:after, 
.mediaBarWrapper-3D7r67:before {
    background-color: black;
}
.theme-dark .item-1Yvehc {
    border-radius: 0;
    padding: 8px;
}
.progressBar-3u8FBM {
    background-color: black;
}
.progress-2XXRYo,
.progressBar-3u8FBM.small-1CUeBa,
.progressBar-3u8FBM.large-3EPlRk,
.mediaBarGrabber-1FqnbN, 
.mediaBarProgress-1xaPtl, 
.mediaBarProgress-1xaPtl:after, 
.mediaBarProgress-1xaPtl:before{
    background-color: #D0847A !important;
}
.theme-dark .isMentioned-N-h9aa {
    background: #3E2723;
    padding: 2px 2px;
}
.theme-dark .isMentioned-N-h9aa:after {
    background: transparent;
    border-left: none;
}
.unread-1xRYoj{
    background-color: rgba(93,64,55, 0.5);
}
.unread-1xRYoj:hover {
    background-color: rgb(93,64,55);
}

.inner-btChU7 .channel-SEolQq {
    color: #fff !important;
    opacity: 1;
}
.mention-1f5kbO {
    height: 36px;
    font-size: 0px;
    top: -13px;
    border-radius: 0px;
    background-color: rgba(93,64,55 ,0.5);
}
.mention-1f5kbO:hover {
    height: 36px;
    font-size: 0px;
    top: -13px;
    border-radius: 0px;
    background-color: rgba(93,64,55 ,0.8);
}

.mention-1f5kbO .icon-2aINcz{
    height: 22px;
    width: 22px;
    margin-left: 3px;
}
.unreadMentionsIndicatorBottom-BXS58x, .unreadMentionsIndicatorTop-gA6RCh {
    overflow: visible;
}
.unreadMentionsIndicatorBottom-BXS58x, 
.unreadMentionsIndicatorTop-gA6RCh {
    overflow: visible;
}
.wrapper-232cHJ{
    background-color: #5D4037;
    border-radius: 0px;
    color: #fff;
}
.badge {
    background-color: #5D4037;
    border-radius: 0px;
    box-shadow: none;
    color: #fff;
}
.avatarSpeaking-1wJCNq {
    box-shadow: 0 0 0 2px #6D4C41, inset 0 0 0 1.5px #2f3136;
}
.theme-dark .member-3W1lQa.popout-open .content-OzHfo4, 
.theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4,
.theme-dark .member-3W1lQa:hover .content-OzHfo4 {
    background-color: #111;
    color: #fff;
}

.avatar-large, 
.avatar-3EQepX, 
.avatar-small,
.avatar-xlarge, 
.avatar-xsmall, 
.avatar-xxlarge,
.avatar-large .status, 
.avatar-3EQepX .status, 
.avatar-small .status, 
.avatar-xlarge .status, 
.avatar-xsmall .status, 
.avatar-xxlarge .status{
      border-radius: 0px;
}
.unread-1Dp-OI {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 0 0px 0px 0;
    height: 4px;
    left: 0;
    margin-top: -4px;
    position: absolute;
    top: 50%;
    width: 8px;
}
.theme-dark #friends .tab-bar .tab-bar-item .badge {
    background-color: rgba(141,110,99, 0.6);
    color: white !important;
}
.theme-dark #friends .tab-bar .tab-bar-item.selected .badge {
    background-color: #6D4C41;
    color: #fff;
}

.container-2Thooq .avatar-small {
    width: 45px;
    height: 45px;
    border-radius: 0px;
    left: -3px;
    top: 12px;
    background-size: cover;
}
.container-2Thooq .status-2kJpnA {
     bottom: -16px;
}
.wanderingCubesItem-WPXqao,
.spinner-wandering-cubes-1eyF3t,
.spinner-wandering-cubes .spinner-item {
    background-color: #6D4C41;
}
.comment {
    background: rgba(33, 33, 33,0.6);
    padding: 12px;
    border-radius: 0px;
}
.contentCozy-3XX413 {
     background: rgba(33, 33, 33,0.6);
    padding: 16px;
    margin-top: -30px;
    margin-left: 72px;
    border-radius: 0px;
}
.contentCozy-3XX413:before {
      content: '';
    position: relative;
    border-style: dashed;
    border-width: 10px 10px 0;
    border-color:  #1f2021 transparent;
    display: block;
    width: 0;
    bottom: -5px;
    left: -30px;
    transform: rotate(90deg);
}
.messages-popout .message-group .avatar-large {
    border-radius: 0px;
}
.comment::before {
    content: '';
    position: relative;
    border-style: dashed;
    border-width: 10px 10px 0;
    border-color:  #1f2021 transparent;
    display: block;
    width: 0;
    bottom: -10px;
    left: -23px;
    transform: rotate(90deg);
}
.avatar-17mtNa .large-3ChYtB {
    opacity: 1 !important;
    border-radius: 0px;
    left: -7px;
    top: 2px;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  } 
.tooltip.tooltip-red {
    background-color: rgba(33,33,33,0.4);
    animation: fadeIn .7s ease;
    box-shadow:  0 0 8px #6D4C41;
}
.tooltip.tooltip-black {
    background-color: #212121;
    animation: fadeIn .7s ease;
    box-shadow: 0 0 8px #6D4C41;
}
.tooltip.tooltip-red.tooltip-right:after {
    border-right: none;
}
.tooltip.tooltip-black.tooltip-top:after {
    border-top: none;
}
.tooltip.tooltip-black.tooltip-right:after {
    border-right: none;
}
.tooltip.tooltip-black.tooltip-bottom:after {
    border-bottom: none;
}
.tooltip.tooltip-black.tooltip-left:after {
    border-left: none;
}
.theme-dark .inner-zqa7da {
    background-color: #1f2123;
    box-shadow: 0 0 8px #6D4C41, 0 0 8px #6D4C41, 0 0 8px black;
    border-radius: 0px;
}
.theme-dark .selectorSelected-1_M1WV {
    background-color: #4E342E;
}
.contentHoveredText-2D9B-x, 
.contentHoveredVoice-3p_NEO:active, 
.contentSelectedVoice-1WDIBM:active {
    background-color: #2d2d2d;
}
.contentSelectedText-3wUhMi {
    background-color: #4E342E;
    box-shadow: 0 3px 6px black;
}
.nameSelectedText-sp_EUw, 
.nameSelectedVoice-1qSph5 {
    color: white;
    text-decoration: underline;
}
.theme-dark .autocomplete-1vrmpx {
    background-color: #1f2123;
}
.alt-3btY0e .item-1GzJrl .helper-2c73HK {
    display: none;
}
.theme-dark .friends-table .messages .divider:before, 
.theme-dark .friends-table .messages .divider span, 
.theme-dark .messages-wrapper .messages .divider:before, 
.theme-dark .messages-wrapper .messages .divider span {
    background: none;
    box-shadow: none;
    border-radius: 0px;
    color: white !important;
}
.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-track-piece, 
.theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-track-piece {
    background-color: transparent;
    border-color: transparent;
}
.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-thumb, 
.theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-thumb {
    background-color: #1e2124;
    border-color: transparent;
    border-radius: 0px;
}
.theme-dark .friends-table .messages .divider:not(.red) div,
.theme-dark .messages-wrapper .messages .divider:not(.red) div {
    background: transparent;
}
.theme-dark .friends-table .messages .divider.divider-red>div, 
.theme-dark .messages-wrapper .messages .divider.divider-red>div {
    background: transparent;
}
.chat .divider:before {
    background-color: transparent !important;
}
.theme-dark .friends-table .messages .divider.divider-red>span, 
.theme-dark .messages-wrapper .messages .divider.divider-red>span {
    color: white;
    background: #6D4C41;
    border-radius: 0px;
    padding: 2px 8pc;
    box-shadow: 0 3px 2px black;
}
.chat .new-messages-bar {
    background-color: #6D4C41 !important;
    border-radius: 0px;
}
.chat .new-messages-bar button:last-child {
    color: white !important;
} 
.theme-dark .chat .has-more button {
    background: #1f2123;
    border: 1px solid black;
    color: white;
}
.theme-dark .chat .jump-to-present-bar {
    background-color: #1f2123 !important;
}
.chat .jump-to-present-bar button:last-child {
    color: white !important;
}
.theme-dark .iconForeground-3y9f0B, .theme-dark .title-2Ul_Rx {
    color: transparent;
}
.theme-dark .iconBadge-2dji3k {
    border-color: black;
    left: 21px;
    border-radius: 0px;
}
[class*="iconInactive-g2AXfB icon-1R19_H"][name*="NotificationBell"] {
       background-image: url(https://png.icons8.com/material/24/cccccc/appointment-reminders.png);
}
[class*="iconInactive-g2AXfB icon-1R19_H"][name*="Pin"],
[class*="iconInactive-g2AXfB icon-1R19_H popout-open"][name*="Pin"] {
       background-image: url(https://png.icons8.com/material/24/cccccc/pin.png);
}
.theme-dark .messageGroupWrapper-o-Zw7G {
    background-color: black !important;
    border-color: transparent;
}
[class*="iconInactive-g2AXfB icon-1R19_H"][name*="PersonPlus"] {
    background-image: url(https://png.icons8.com/material/40/FFFFFF/person-male.png);
    background-size: cover;
}
[class*="iconInactive-g2AXfB icon-1R19_H"][name*="Phone"] {
    background-image: url(https://png.icons8.com/material/40/FFFFFF/cell-phone.png);
    background-size: cover;
}
[class*="iconInactive-g2AXfB icon-1R19_H"][name*="VideoCamera"] {
    background-image: url(https://png.icons8.com/material/40/FFFFFF/camcorder-pro.png);
    background-size: cover;
}
[class*="iconActive-AKd_jq icon-1R19_H"][name*="People"],
[class*="iconInactive-g2AXfB icon-1R19_H"][name*="People"] {
       background-image: url(https://i.pinimg.com/originals/72/75/5a/72755a0272c5f87266c80e3a28b85c76.png);
       background-size: cover;
}
[class*="iconInactive-g2AXfB icon-1R19_H"][name*="Mention"],
[class*="iconInactive-g2AXfB icon-1R19_H popout-open"][name*="Mention"]{
       background-image: url(https://png.icons8.com/material/24/cccccc/email.png);
}
[class*="iconInactive-g2AXfB icon-1R19_H"][name*="QuestionMark"] {
       background-image: url(https://png.icons8.com/material/24/cccccc/question-mark.png);
}
.theme-dark .path2-1q7bG_ {
    opacity: .6;
    stroke: #795548;
}
.theme-dark .path-92Hmty,
.theme-dark .checked-3_4uQ9[style*="border-color: rgb(79, 84, 92);"] polyline[stroke] {
    stroke: white;
}
.theme-dark .popoutList-T9CKZQ {
    background: #1f2123;
}
.selectableItem-1MP3MQ.selected-31soGA[style*="background: rgb(114, 137, 218);"] {
    background-color: #6D4C41 !important;
}
/* Notification Settings */
.theme-dark .modal-3HD5ck {
    background-color: #1f2123;
    box-shadow: 0 0 12px black;
}
.theme-dark .footer-2yfCgX {
    background-color: #242629;
    box-shadow: none;
}
.theme-dark .select-2TCrqx .Select-menu-outer {
    background: #18191b;
    border-color: none;
    box-shadow: none;
}
.theme-dark .select-2TCrqx .Select-option.is-focused, 
.theme-dark .select-2TCrqx .Select-option:hover {
    background: rgba(0,0,0,.3);
    transition: background 1s ease;
}
.theme-dark .button-mM-y8i {
    background-color: black !important;
    box-shadow: none;
}

.backdrop-1ocfXc {
    background: rgba(0,0,0,0.5) !important;
}
.theme-dark .divider-3573oO {
    background-color: transparent;
}
.theme-dark .select-2TCrqx .Select-control .Select-placeholder,
.theme-dark .description-3_Ncsb, 
.theme-dark .labelDescriptor-1PqHgD {
    color: white;
}
.icon-JJBzjE {
    color: white;
}
.lighten-2aYaaU {
    opacity: .7;
}
.themeDefault-24hCdX,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch {
    background-color: #757575;
    height: 9px;
}
.theme-dark .cardPrimaryEditable-3KtE4g[style*="border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);"] {
    background: #6D4C41 !important;
    border-color: black !important;
    box-shadow: 0 3px 2px black;
}
.theme-dark .checked-3_4uQ9 {
    background-color: black;
    border-color: black !important;
}
.cardPrimaryEditable-3KtE4g[style*="border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);"] polyline[stroke] {
    stroke: #6D4C41;
    stroke-width: 2;
}
.theme-dark .checked-3_4uQ9[style*="background-color: rgb(114, 137, 218); border-color: rgb(114, 137, 218);"] {
     background: #6D4C41 !important;
     border-color: #6D4C41 !important;
}
.header-3sp3cE {
    height: 14px;
    padding: 20px;
}
.themeDefault-24hCdX.valueChecked-m-4IJZ,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked {
    background-color: #6D4C41;
}
.themeDefault-24hCdX.sizeDefault-2YlOZr.size-3rFEHg:after {
    background-color: #9E9E9E;
    box-shadow: 0 0 12px black;
    top: -8px;
}
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch:before {
    background-color: #9E9E9E;
    box-shadow: 0 0 12px black;
    top: -5px;
}
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked:before {
    background-color: #6D4C41;
    box-shadow: 0 0 12px black;
    top: -5px;
}
.themeDefault-24hCdX.valueChecked-m-4IJZ.size-3rFEHg:after {
    background-color: #6D4C41;
    box-shadow: 0 0 12px black;
    top: -8px;
}
.switchEnabled-V2WDBB {
    opacity: 1;
    overflow: visible;
}
/* Discord Settings */
.theme-dark .ui-standard-sidebar-view .sidebar-region {
    background: #18191b;
}
.theme-dark .ui-standard-sidebar-view .content-region {
    background: #242629;
}
.avatar-uploader-inner {
    background-color: #6D4C41;
    border-radius: 0px;
}
.theme-dark .input-cIJ7To:focus, 
.theme-dark .input-cIJ7To.focused-1mmYsC {
    border-color: #6D4C41;
}
.theme-dark .input-cIJ7To {
    color: white;
}
.theme-dark .avatar-uploader-indicator {
    background-color: #6D4C41;
    border-radius: 0px;
    background-image: url(https://png.icons8.com/material/24/000000/picture.png);
    background-size: cover;
}
.userSettingsAccount-2eMFVR .userInfoViewing-16kqK3 .avatar-xxlarge {
    border-radius: 0px;
}
.statusRed-21U8Tp {
    color: #6D4C41;
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
    background-color: #6D4C41;
    color: #fff;
    box-shadow: 0 3px 2px black;
}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
    background-color: #5D4037;
}
.lookFilled-1Gx00P.colorBrand-3pXr91:active {
    background-color: #6D4C41;
    color: #fff;
    box-shadow: none;
}
.side-8zPYf6 .itemSelected-1qLhcL,
#bd-settings-sidebar .ui-tab-bar-item.selected,
#bd-settingspane-container .bd-pfbtn,
.bda-slist .bda-footer button {
    background-color: #6D4C41;
    color: #fff;
}
.bda-slist .bda-header {
    color: white;
    border-bottom: none;
}
#bd-settingspane-container .ui-switch-item.ui-switch-item .ui-switch-wrapper .ui-switch {
     top: 12px;
}
.bda-slist .bda-footer {
    border-top: none;
    color: silver;
}
.theme-dark .multiInputLast-1aQ3YA:before {
    border-right-color: transparent;
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
    background-color: #43A047;
    color: #fff;
    box-shadow: 0 3px 2px black;
}

.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
    background-color: #388E3C;
    color: #fff;
}
.lookFilled-1Gx00P.colorGreen-29iAKY:active {
    background-color: #43A047;
    color: #fff;
    box-shadow: none;
}
.lookOutlined-3sRXeN.colorRed-1TFJan {
    border-color: #e53935;
    background: #e53935;
    color: white;
    box-shadow: 0 3px 2px black;
}
.lookOutlined-3sRXeN.colorRed-1TFJan:hover {
    border-color: #d32f2f;
    background: #d32f2f;
    color: white;
    box-shadow: 0 3px 2px black;
}
.lookOutlined-3sRXeN.colorRed-1TFJan:active {
    border-color: #e53935;
    background: #e53935;
    color: white;
    box-shadow: none;
}
[class*="flexChild-1KGW5q switchEnabled-3CPlLV switch-3lyafC valueChecked-3Bzkbm value-kmHGfs sizeDefault-rZbSBU size-yI1KRe themeClear-1NqU69"][style*="background-color: rgba(255, 255, 255, 0.298039);"] {
       height: 9px;
}
.size-3rFEHg:after {
    top: -7px;
     box-shadow: 0 1px 2px black;
}
.themeClear-1EjkE4.valueUnchecked-2lU_20.sizeDefault-2YlOZr {
    box-shadow: inset 0 0 0 2px rgba(0,0,0,.6);
    height: 9px;
}
.theme-dark .accountBtnInner-sj5jLs {
    background-color: #6D4C41;
    border-color: transparent;
    box-shadow: 0 3px 2px black;
}
.theme-dark .accountBtnInner-sj5jLs:hover {
    background-color: #5D4037;
    border-color: transparent;
    box-shadow: 0 3px 2px black;
}
.content-region #bd-customcss-attach-controls, 
#bd-customcss-detach-container #bd-customcss-attach-controls {
    background: black;
    color: #FFF;
    border: 0;
    box-shadow: none;
}
.ace-monokai,
.ace-monokai .ace_gutter {
    background-color: #161616 !important;
    color: white !important;
}
.ghostPill-2-KUPM {
    background-color: #F9A825;
    border-radius: 16px;
    color: white;
    box-shadow: 0 3px 2px black;
}
.theme-dark .user-settings-games .now-playing, 
.theme-light .user-settings-games .now-playing {
    background-color: #6D4C41;
    border-color: transparent;
    box-shadow: 0 3px 2px black;
}
.theme-dark .user-settings-games .game-name-input:focus, 
.theme-dark .user-settings-games .game-name-input:hover {
    border-color: #6D4C41;
}
.lookLink-9FtZy-.colorLink-35jkBc {
    color: #6D4C41;
}
.lookLink-9FtZy-.colorLink-35jkBc:hover .contents-18-Yxp {
    background-image: linear-gradient(0deg,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0) 1px,#6D4C41 0,#6D4C41 2px,rgba(0, 0, 0, 0) 0);
}
#bd-settingspane-container .ui-switch-item .style-description {
    color: silver;
    border-bottom: none;
}
a,
.app .welcomeMessage-3_Mcht h1,
.theme-dark .embedTitleLink-1Zla9e {
    color: #A1887F !important;
}
.theme-dark .item-3eFBNF {
    box-shadow: none;
}
.theme-dark .user-settings-games .now-playing .last-played, 
.theme-dark .user-settings-games .now-playing .overlay-status-text, 
.theme-light .user-settings-games .now-playing .last-played, 
.theme-light .user-settings-games .now-playing .overlay-status-text {
    color: white;
}
.theme-dark .user-settings-games .game {
    box-shadow: none;
}
.theme-dark .side-8zPYf6 .itemDefault-3Jdr52:hover[style*="color: rgb(114, 137, 218);"] {
      background: rgba(109,76,65,.1) !important;
}
[class*="itemDefault-3Jdr52 item-PXvHYJ notSelected-1N1G5p"][style*="color: rgb(114, 137, 218);"] {
    color: #6D4C41 !important;
}
.barFill-23-gu- {
    background: #6D4C41 !important;
}
[class*="itemSelected-1qLhcL item-PXvHYJ selected-3s45Ha"][style*="color: rgb(255, 255, 255); background-color: rgb(114, 137, 218);"] {
    background: #6D4C41 !important;
}
.checkbox .checkbox-inner input[type=checkbox]:checked+span {
    background-color: #6D4C41;
    border-color: #6D4C41;
}
.userSettingsVoice-iwdUCU .inputSensitivityToggle-2LKb8o.manual-36Evg9 .microphone-2rtdHw .fill-3eUagR {
    -webkit-transition: width 35ms ease;
    background-color: rgba(0,0,0,.15) !important;
    height: 100%;
    transition: width 35ms ease;
}
.theme-dark .bar-2Qqk5Z[style*="background: rgb(251, 184, 72);"] {
    background: #4f545c !important;
}
.theme-dark .notificationsSound-27jFSh {
    box-shadow: none;
}
.ace-monokai .ace_cursor {
    color: white;
}
[class*="ace_line"] {
     background: #6D4C41;
}
.ui-standard-sidebar-view #bd-customcss-attach-controls button, 
.bd-detached-css-editor #bd-customcss-attach-controls button {
    background: #6D4C41 !important;
    color: #FFF;
    height: 26px;
    border-radius: 0px;
    font-weight: 100;
    margin-top: 5px;
}
.ui-standard-sidebar-view #bd-customcss-attach-controls button:hover, 
.bd-detached-css-editor #bd-customcss-attach-controls button:hover {
    background: #5D4037 !important;
}
.ace_hidden-cursors .ace_cursor {
    opacity: 0.6;
}
.theme-dark .card-FDVird:before {
    background-color: #1a1a1a;
    border-color: transparent;
}
/* Search, Mention, Pins and such */
.theme-dark .messagesPopoutWrap-1MQ1bW .header-ykumBX {
    background-color: #18191c !important;
    box-shadow: none;
}
.theme-dark .search-results-wrap .search-result:before,
.theme-dark .search-results-wrap .search-result:after {
    background: transparent;
}
.theme-dark .search-results-wrap .search-result .search-result-message.hit {
    border: 2px solid silver;
    background: #232428;
}
.theme-dark .search-results-wrap .channel-separator:before {
    border-color: transparent;
}
.theme-dark .search-results-wrap .search-header {
    background-color: #232428;
    box-shadow: none;
}
.theme-dark .search-results-wrap,
.theme-dark .search-results-wrap .channel-separator .channel-name {
    background-color: #1e1f21;
}
.highlight {
    background: rgba(121,85,72,.3);
    padding: 3px 3px;
}
.theme-dark .search-results-wrap .search-result.expanded .search-result-message.hit {
    background-color: #18191c;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.theme-dark .messagesPopoutWrap-1MQ1bW {
    background-color: #232428 !important;
    border: none;
    box-shadow: none;
}
.theme-dark.contextMenu-HLZMGh {
    background: #1d1f23;
    box-shadow: none;
}
.theme-dark .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug
 {
    background: none !important;
    box-shadow: none !important;
}
.theme-dark .subtitle-2iWJ5y
 {
    color: white;
}
.theme-dark .messageGroupWrapper-o-Zw7G .actionButtons-1sUUug .jumpButton-3DTcS_
,
.theme-dark .search-results-wrap .action-buttons .jump-button {
    background-color: #5D4037 !important;
    color: white;
}
.theme-dark .searchAnswer-3Dz2-q, 
.theme-dark .searchFilter-2ESiM3 {
    background-color: #292b2d;
}
.theme-dark .searchPopout-1vUlP3 {
    background-color: #292b2d;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}
.option-96V44q:after,
.search-popout .option:before {
    background: #292b2d;
}
.theme-dark .resultsGroup-r_nuzN:before {
    border-top: none;
}
.option-96V44q.selected-rZcOL- {
    background-color:#242526;
}
.option-96V44q.selected-rZcOL-:after,
.theme-dark .option-96V44q.selected-rZcOL- {
    background: #242526;
}
.theme-dark .searchOption-zQ-1l6 .filter-3Y_im-, .theme-dark .option-96V44q .filter-3Y_im- {
   color: white !important;
   font-weight: bold;
}
.option-96V44q.selected-rZcOL-:before,
.option-96V44q.selected-rZcOL-:after,
.theme-dark .option-96V44q.selected-rZcOL- {
    background-color:  #242526;
}
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z {
    background-color: #4E342E;
}
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z:hover {
    background-color: #3E2723;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker {
    background-color: #212121;
}
.progress-2XXRYo,
.progressBar-3u8FBM.small-1CUeBa[style*=“background-color: rgb(114, 137, 218);”] {
    background-color: #4E342E !important;
}
.video-1FfuMD,
.theme-dark .private-channel-call {
    background-color: rgba(0,0,0,0.4);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled {
    background-color: black;
    color: red;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__current-month {
    border-bottom-color: transparent;
    color: white;
    background-color: #212121;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day-name {
    color: white;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header {
    background-color: #212121;
    border-color: transparent;
}
.theme-dark .datePicker-1RD4eT .datePickerHint-1iW7Wz {
    border-top: none;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month {
    background-color: black;
    color: rgba(255,255,255,.3);
}
.theme-dark .react-datepicker__day.react-datepicker__day--sun.react-datepicker__day--disabled.react-datepicker__day--outside-month,
.theme-dark .react-datepicker__day.react-datepicker__day--mon.react-datepicker__day--disabled.react-datepicker__day--outside-month,
.theme-dark .react-datepicker__day.react-datepicker__day--tue.react-datepicker__day--disabled.react-datepicker__day--outside-month,
.theme-dark .react-datepicker__day.react-datepicker__day--wed.react-datepicker__day--disabled.react-datepicker__day--outside-month,
.theme-dark .react-datepicker__day.react-datepicker__day--thu.react-datepicker__day--disabled.react-datepicker__day--outside-month,
.theme-dark .react-datepicker__day.react-datepicker__day--fri.react-datepicker__day--disabled.react-datepicker__day--outside-month,
.theme-dark .react-datepicker__day.react-datepicker__day--sat.react-datepicker__day--disabled.react-datepicker__day--outside-month {
     background-color: black !important;
     color: rgba(255,255,255,.4);
}
.theme-dark .react-datepicker__day.react-datepicker__day--sun.react-datepicker__day--outside-month:hover,
.theme-dark .react-datepicker__day.react-datepicker__day--mon.react-datepicker__day--outside-month:hover,
.theme-dark .react-datepicker__day.react-datepicker__day--tue.react-datepicker__day--outside-month:hover,
.theme-dark .react-datepicker__day.react-datepicker__day--wed.react-datepicker__day--outside-month:hover,
.theme-dark .react-datepicker__day.react-datepicker__day--thu.react-datepicker__day--outside-month:hover,
.theme-dark .react-datepicker__day.react-datepicker__day--fri.react-datepicker__day--outside-month:hover,
.theme-dark .react-datepicker__day.react-datepicker__day--sat.react-datepicker__day--outside-month:hover {
     background-color: #263238 !important;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after {
   background-color: transparent;
}
.theme-dark .react-datepicker__day.react-datepicker__day--sun.react-datepicker__day--disabled.react-datepicker__day--outside-month:hover,
.theme-dark .react-datepicker__day.react-datepicker__day--mon.react-datepicker__day--disabled.react-datepicker__day--outside-month:hover,
.theme-dark .react-datepicker__day.react-datepicker__day--tue.react-datepicker__day--disabled.react-datepicker__day--outside-month:hover,
.theme-dark .react-datepicker__day.react-datepicker__day--wed.react-datepicker__day--disabled.react-datepicker__day--outside-month:hover,
.theme-dark .react-datepicker__day.react-datepicker__day--thu.react-datepicker__day--disabled.react-datepicker__day--outside-month:hover,
.theme-dark .react-datepicker__day.react-datepicker__day--fri.react-datepicker__day--disabled.react-datepicker__day--outside-month:hover,
.theme-dark .react-datepicker__day.react-datepicker__day--sat.react-datepicker__day--disabled.react-datepicker__day--outside-month:hover {
     background-color: #263238 !important;
     color: rgba(255,255,255,.4);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled:hover {
    background-color: #3E2723;
    color: rgba(255,255,255,.3);
    border: none;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:hover {
    background-color: #8D6E63 !important;
    color: #fff;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:hover, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day:hover {
    background-color: #795548 !important;
    color: #fff;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled {
      color: rgba(255,255,255,.3);
      background: #232426;
      border: none;
}

.react-datepicker__day.react-datepicker__day--mon,
.react-datepicker__day.react-datepicker__day--tue,
.react-datepicker__day.react-datepicker__day--wed,
.react-datepicker__day.react-datepicker__day--thu,
.react-datepicker__day.react-datepicker__day--fri,
.react-datepicker__day.react-datepicker__day--sat,
.react-datepicker__day.react-datepicker__day--sun {
      background: #212121;
      border: none;
}
 
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__week .react-datepicker__day:last-of-type {
    border: none;
}
.theme-dark .itemGroup-oViAgA {
    border-color: transparent;
}
/* Need Help Menu */
.need-help-modal.deprecated .header {
    background-color: black;
    border-radius: 0px;
}
.form-deprecated .form-inner, .form.deprecated .form-inner {
    background-color: #212121;
}
.need-help-modal.deprecated .footer {
    background-color: black;
    border-radius: 0px;
    border-top: none;
    color: white;
}
.need-help-modal.deprecated .header input[type=text]:focus {
    border-bottom: none;
}
.need-help-modal.deprecated .header input[type=text] {
    background-color: black;
    box-shadow: none;
    color: white;
    border-radius: 0px;
}
.form-deprecated .control-group input[type=email], 
.form-deprecated .control-group input[type=number], 
.form-deprecated .control-group input[type=password], 
.form-deprecated .control-group input[type=text], 
.form-deprecated .control-group textarea, 
.form.deprecated .control-group input[type=email], 
.form.deprecated .control-group input[type=number], 
.form.deprecated .control-group input[type=password], 
.form.deprecated .control-group input[type=text], 
.form.deprecated .control-group textarea {
    border: none;
    border-bottom: none;
    color: white;
}
/* Upload Section */
.uploadModal-2ifh8j .inner-3nWsbo {
    border: none;
    color: rgb(255, 255, 255);
}
.uploadModal-2ifh8j {
    background-color: #212121;
}
.uploadModal-2ifh8j .footer-3mqk7D {
    background-color: #212121;
}
.uploadModal-2ifh8j .footer-3mqk7D .button {
    background-color: #e53935;
    box-shadow: 2px 0 6px black;
}
.uploadModal-2ifh8j .footer-3mqk7D .button:hover {
    background-color: #d32f2f;
    box-shadow: 2px 0 6px black;
}
.uploadModal-2ifh8j .footer-3mqk7D .button-primary {
    background-color: #6D4C41;
    color: white;
    box-shadow: 2px 0 6px black;
}
.uploadModal-2ifh8j .footer-3mqk7D .button-primary:hover {
    background-color: #5D4037;
    color: white;
    opacity: 1;
    box-shadow: 2px 0 6px black;
}
.uploadDropModal-2kTwbc {
   background: #191a1c;
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .bgScale-1otPtc  {
    background: #212121 !important;
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo  {
    background: #191a1c !important;
    border: none;
}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
    background-color: transparent;
    background-size: cover;
    border: none;
    border-radius: 0px;
}
.marginLeft4-3VaXdt,
.marginLeft8-1YseBe {
    color: silver;
}
/* Emote Menu */
.bda-dark #bda-qem-favourite-container, .bda-dark #bda-qem-twitch-container, .bda-dark .emoji-picker, .bda-dark .emojiPicker-3m1S-j {
    background-color: #191a1c;
    border-radius: 0px;
    border: none;
}
.search-bar-light .searchBarInner-1_Tg2R {
    background-color: #212121;
    border: none;
}
.emojiPicker-3m1S-j .header-1nkwgG {
    border-bottom: none;
}
.bda-dark .emoji-picker .category, .bda-dark .emojiPicker-3m1S-j .category-2U57w6 {
    background-color: #212121;
}
.bda-dark .emojiPicker-3m1S-j .header-1nkwgG .search-bar {
    background-color: transparent;
}
.emojiPicker-3m1S-j .dimmer-3iH-5D.visible-3k45bQ  {
    background-color: rgba(0,0,0,0.65);
}
.bda-dark .emojiPicker-3m1S-j .diversitySelector-tmmMv0 .popout-2nUePc {
    background: black;
    border-color: transparent;
}
.bda-dark .emoji-picker .scroller::-webkit-scrollbar, 
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-track,
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-track-piece, 
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar, 
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track, 
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track-piece,
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar, 
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track, 
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track-piece, 
.bda-dark #pubs-container .scroller::-webkit-scrollbar, 
.bda-dark #pubs-container .scroller::-webkit-scrollbar-track, 
.bda-dark #pubs-container .scroller::-webkit-scrollbar-track-piece,
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar, 
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track, 
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track-piece {
    background-color: transparent !important;
    border-color: transparent !important;
}
.scrollerThemed-2oenus.themeLight-1_DWyY .scroller-2FKFPG:: -webkit-scrollbar-thumb,.theme-dark .scrollerThemed-2oenus.themeLight-1_DWyY .scroller-2FKFPG:: -webkit-scrollbar-thumb,.theme-light .scrollerWrap-2lJEkd .scroller-2FKFPG:: -webkit-scrollbar-thumb,
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-thumb, 
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-thumb, 
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-thumb, 
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-thumb, 
.bda-dark #pubs-container .scroller::-webkit-scrollbar-thumb {
    background-color: #212121 !important;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
}
.emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-thumb {
    background-color: #212121 !important;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
}
.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.selected-39BZ4S {
    border-bottom-color: #252628;
}
.bda-dark #bda-qem {
    border-bottom: none !important;
    background: transparent;
}
.bda-dark #bda-qem button {
    background: black;
    border-left: none;
    box-shadow: none;
}
.bda-dark #bda-qem button:hover {
    background-color: #161719;
}
.bda-dark #bda-qem button.active {
    background-color: #4E342E;
}
/* Invite Menu */
.wrapper-VSYYTS {
    background: transparent;
    border-radius: 0px;
}
.checkbox .checkbox-inner+span {
    color: silver;
}
.form-deprecated .btn-primary, 
.form.deprecated .btn-primary {
    background-color: #6D4C41;
    border-radius: 0px;
    color: #fff;
    box-shadow: 0 6px 6px black;
}
.form-deprecated .btn-primary:hover, 
.form.deprecated .btn-primary:hover {
    background-color: #4E342E;
    box-shadow: 0 6px 6px black;
}
.form-deprecated .Select-control, 
.form.deprecated .Select-control {
    border: none;
    border-radius: 0px !important;
}
.form-deprecated .is-focused:not(.is-open)>.Select-control, 
.form.deprecated .is-focused:not(.is-open)>.Select-control {
    border: none;
}
.Select-menu-outer {
    background-color: transparent;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-color: transparent;
    box-shadow: none;
}
.form-deprecated .Select.is-disabled .Select-control:hover, 
.form-deprecated .Select.is-open .Select-control:hover, 
.form.deprecated .Select.is-disabled .Select-control:hover, 
.form.deprecated .Select.is-open .Select-control:hover {
    border-color: transparent;
}
.form-deprecated .Select-option, 
.form.deprecated .Select-option {
    color: silver;
    background: black;
}
.form-deprecated .Select-option.is-focused, 
.form.deprecated .Select-option.is-focused {
    background: #161719;
    color: silver;
}
.Select--single>.Select-control .Select-value, 
.Select-placeholder {
    color: silver;
    background-color: #161719;
    border-radius: 0px;
    border: none;
}
.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label, 
.has-value.Select--single>.Select-control .Select-value .Select-value-label {
    color: silver;
}
.form-deprecated .form-header, 
.form.deprecated .form-header,
.wrapper-VSYYTS .instantInviteModal-5L33Qh .form-actions {
    background: #212121;
    border: none;
    border-radius: 0px;
    color: white;
}
.wrapper-VSYYTS .instantInviteModalAdvanced-38f2M0 .form-actions {
    background-color: #212121;
    border-top: none;
    padding-top: 0;
}
.wrapper-VSYYTS .instantInviteModal-5L33Qh .clipboardInputInner-dxVheg input {
    color: silver;
    background: #161719;
}
.wrapper-VSYYTS .instantInviteModal-5L33Qh .copy-2xFKb_ {
    background-color: black;
    border: none;
}
.clipboardInputInner-oj8y-S button:first-of-type:before {
    background: linear-gradient(90deg,rgba(255, 255, 255, 0),#000);
}
.wrapper-VSYYTS .instantInviteModal-5L33Qh .checkbox .checkbox-inner input:checked+span,
.wrapper-VSYYTS .instantInviteModalAdvanced-38f2M0 .checkbox .checkbox-inner input:checked+span {
    border-color: #6D4C41;
}
.clipboardInputInner-oj8y-S {
    background: transparent;
    border: none;
    border-radius: 0px;
}
.clipboardInputCopied-UXgFh2 .clipboardInputInner-oj8y-S {
    border-color: #7CB342 !important;
}
.clipboardInputCopied-UXgFh2 button {
    background-color: #7CB342!important;
    background-image: url(https://png.icons8.com/material/48/FFFFFF/invite.png)!important;
    border-color: #558B2F!important;
    color: rgba(0, 0, 0, 0)!important;
    background-size: 36px 36px;
}
/* Friends and DMs */
.theme-dark .guildsWrapper-5TJh6A .guilds .friends-icon {
    background-image: url(https://png.icons8.com/material/48/FFFFFF/chat.png);
}

.theme-dark #friends .friends-table .friends-table-header,
.theme-dark #friends .friends-table .friends-row+.friends-row {
    border: none;
}
.theme-dark .divider-1GKkV3 {
    background: transparent;
}
.theme-dark #friends .friends-table .friends-table-header .friends-column-separator {
    background-color: transparent;
}
.theme-dark #friends .friends-table .friends-row:hover {
    background: #212121;
    border-color: rgba(0, 0, 0, 0);
}
[class*="iconInactive-g2AXfB icon-1R19_H"][name*="Compose"],
[class*="iconInactive-g2AXfB icon-1R19_H popout-open"][name*="Compose"]{
      background-image: url(https://png.icons8.com/material/48/cccccc/moleskine.png);
      background-size: cover;
}
.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action {
    background-color: #161719;
}
.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action:hover {
    background-color: black !important;
}
#friends .friends-table .friends-row .friends-column-actions .friends-action.friends-action-remove {
    background-image: url(https://png.icons8.com/material/48/cccccc/remove-user-male.png);
}
#friends .friends-table .friends-row .friends-column-actions .friends-action.friends-action-video-call {
    background-image: url(https://png.icons8.com/material/48/cccccc/video-message.png);
}
#friends .friends-table .friends-row .friends-column-actions .friends-action.friends-action-voice-call {
    background-image: url(https://png.icons8.com/material/48/cccccc/phone-disconnected.png);
}
#friends .friends-table .friends-row .friends-column-guilds .more-mutual-guilds-btn {
    border-radius: 0px;
}
#friends .friends-table .friends-row .friends-column-guilds .avatar-small {
    background-color: #161719;
    color: #fff;
}
.private-channels .channel.selected a {
    background-color: #3E2723 !important;
    color: #fff;
}
.private-channels .channel:hover a {
    background-color: #212121;
    color: #fff;
}
.theme-dark #friends .tab-bar .tab-bar-separator {
    background-color: transparent;
}
.theme-dark #friends .tab-bar .tab-bar-item.selected {
    background-color: #795548;
    color: white;
}
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary {
    background-color: #5D4037;
    color: #fff;
    box-shadow: 0 3px 6px black;
    border-radius: 0px;
}
.theme-dark #friends .tab-bar .tab-bar-item {
    border-radius: 0px;
}
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary:hover:not(.selected) {
    background-color: #4E342E;
    color: #fff;
    box-shadow: 0 3px 6px black;
}
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary.selected {
    background-color: #558B2F;
    color: #fff;
    box-shadow: 0 3px 6px black;
}
.theme-dark .callAvatar-v-u4BM.voice-2D-tt_ .callAvatarStatus-3y6S04 {
    border-color: black;
    background-color: #6D4C41;
}
.callAvatarBorder-1D_KaE.voice-2D-tt_.speaking-oCqYMI,
.callAvatarBorder-1D_KaE.video-3GgX2M.speaking-oCqYMI {
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px #6D4C41;
}
.lookFilled-1Gx00P.colorRed-1TFJan {
    background-color: rgba(255,0,0,0.23);
    color: #fff;
    border: 1px solid red;
}
.lookFilled-1Gx00P.colorRed-1TFJan:hover {
    background-color: rgba(255,0,0,0.63);
    color: #fff;
}
#friends .btn,
.private-channel-recipients-invite .error-state.not-friends .btn {
    background-color: #6D4C41;
    border-radius: 0px;
    color: #fff;
    box-shadow: 0 5px 6px black;
}
#friends .btn:hover,
.private-channel-recipients-invite .error-state.not-friends .btn:hover {
    background-color: #4E342E;
    border-radius: 0px;
}
.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track {
    background-color: transparent;
}
.theme-dark .messagesPopoutWrap-1MQ1bW .footer-1kmXd4 {
    background-color: #18191c;
}
.theme-dark .friendSelected--wQP3f {
    background: #212121;
}

.searchBarTag-2xRzm8 {
    background: #212121;
    border-radius: 0px;
    color: #fff !important;
}
.theme-dark .quickswitcher-3JagVE {
    background-color:  #18191c;
    color: white;
}
.theme-dark .tipsWithoutResults-lGY-De, 
.theme-dark .tipsWithResults-HhTE9b {
    border-color: transparent;
    color: white;
}
.theme-dark .keybindShortcut-1BD6Z1 span {
    background-color: #4E342E;
    border-color: transparent;
    box-shadow: 0 5px 6px black;
    color: white;
}
.theme-dark .input-2VB9rf {
    background-color: #212121;
    box-shadow: none;
    color: #fff;
}
.theme-dark .input-2VB9rf:focus {
    border: 2px solid #7CB342;
}
.theme-dark .keybindShortcut-1BD6Z1 span .bindArrow-2X3Aom g {
    fill: white !important;
}
.theme-dark .keybindShortcut-1BD6Z1 span:active {
box-shadow: none;
    color: silver;
}
.theme-dark .guildsWrapper-5TJh6A .guilds-error {
    border-radius: 0px;
}
.theme-dark .guildsAdd-21_IdK {
    border-radius: 0px;
}
.create-guild-container.deprecated .create-or-join .form-inner {
    background-color: black;
}
.create-guild-container.deprecated .action {
    background: #212121;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}
.create-guild-container.deprecated .create-or-join .actions .or {
    color: black;
}
.form-deprecated header, .form.deprecated header {
    color: #6D4C41;
}
/* User Profile Popout and User Modal */
.theme-dark .body-3iLsc4, 
.theme-dark .footer-1fjuF6 {
    background-color: #18191c;
    color: white;
    border: none;
}
.role-2irmRk {
    border: none;
}
.roleCircle-3xAZ1j {
    border-radius: 0px;
}
[class*="roleCircle-3xAZ1j"][style*="background-color: rgb(185, 187, 190);"] {
   background-color: transparent !important;
   border: 2px solid #4E342E;
}
.theme-dark .protip-YaFfgO-q743VF {
    display: none;
}
.headerPlaying-j0WQBV ,
.topSectionPlaying-1J5E4n{
    background: #303F9F;
}
.lookInverted-2D7oAl.colorBrand-3pXr91 {
    background-color: #3949AB !important;
    color: white;
    box-shadow: 0 5px 6px black;
}
.headerSpotify-zpWxgT,
.topSectionSpotify-1lI0-P,
.headerXbox-3G-4PF,
.topSectionXbox-3fWLjS {
    background: #2E7D32;
}
.lookInverted-2D7oAl.colorGreen-29iAKY {
    background-color: #2E7D32 !important;
    color: white;
    box-shadow: 0 5px 6px black;
}
.headerStreaming-2FjmGz,
.topSectionStreaming-1Tpf5X {
    background: #512DA8;
}
.buttonInvertedPurple-WtBglX {
    background-color: #512DA8 !important;
    color: white;
    box-shadow: 0 5px 6px black;
}
.theme-dark .body-3ND3kc {
    background-color: #212121;
}
.theme-dark .listRow-hutiT_:hover {
    background: rgba(255,255,255,0.02);
}
.listAvatar-1NlAhb {
   background-color: transparent;
   border-radius: 0px;
}
.mask-3OgeRz {
    border-radius: 0;
    -webkit-mask: none;
    mask: none;
}
.status-oxiHuE {
    border-radius: 0px;
}
.theme-dark .activityFeed-28jde9 {
    background-color: #212121;
}
.arrow-1-DaGi,
.theme-dark .discriminator-1Kma2g{
    color: white;
}
.theme-dark .card-7JP0BX {
    background-color: black;
    color: white;
}
.theme-dark .header-1RC2Wb {
    background-color: rgba(78, 52, 46,0.4) /* (Main Color, .4) */;
}
.theme-dark .header-1RC2Wb:hover {
    background-color: rgba(78, 52, 46,.7) /* (Main Color, .7) */;
}
.headerButtonColor-G7_f-V,
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6{
    background: #4E342E !important;
    color: #fff;
}
.headerButtonColor-G7_f-V:hover {
    box-shadow: 0 0 16px 4px black;
}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover {
    box-shadow: 0 0 16px 4px white;
}
.theme-dark .body-SKIE6r {
    background-color: transparent;
}
.theme-dark .headerText-2niCs_ {
    border-top-color: transparent;
    color: white;
}
.theme-dark .player-1kJMbj {
    border-bottom-color: transparent;
}
.theme-dark .sectionLine-JjseS9 {
    background-color: transparent;
}
.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.6);
    border-color: rgba(0, 0, 0, 0);
}
.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track {
    background-color: transparent;
}
