//META{"name":"Chocola_Theme","description":"Just an average Chocola Theme","author":"DevilsTheAvenged","version":"1.0"}*//{}
 @import url(https://gitcdn.xyz/repo/themoonisacheese/themer.js/master/themer.js.css);
 @import url(https://cdn.rawgit.com/DevilsLynAvenged/Other-Workspace/bab127b1/SomeUnImportantStuff/Nekopara.theme.css);

.app,
.callout-backdrop,
.bda-backdrop,
#pubs-container:before {
	background-image: url("https://images.alphacoders.com/785/785990.jpg");
	background-size: cover !important;
	background-position: center !important;
}

