//META{"name":"Chocola_Theme","description":"Just an average Chocola Theme","author":"DevilsTheAvenged","version":"1.4"}*//{}
 @import url(https://cdn.rawgit.com/DevilsLynAvenged/Other-Workspace/65c0628a/SomeUnImportantStuff/Nekopara.theme.css);
.app,
.callout-backdrop,
.bda-backdrop,
#pubs-container:before {
	background-image: url("https://images.alphacoders.com/785/785990.jpg");
	background-size: cover !important;
	background-position: center !important;
}
