.avatarNormal-3luwna {
    border-color: #FFFFFF;
}

.avatar-1jmnc- {
    border: 2px solid transparent;
}

.popout-UKvsJt {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    position: relative;
    left: 75px;
    top: -13px;
    
}

.platform-osx .chat>.title-wrap {
    -webkit-app-region: drag;
    background-color: rgba(37, 26, 19, 0.9) !important;
}
.chat .divider.divider-red>span {
    background: rgba(37, 26, 19, 0.9) !important;
    color: rgba(255, 255, 255, 1) !important;
}

.chat .new-messages-bar button:first-child {
    background: rgba(37, 26, 19, 0.9) !important;
}
.scroller-NXV0-d {
    background: rgba(37, 26, 19, 0.9) !important;
}

.headerNormal-1cioxU {
    background: url(https://orig06.deviantart.net/1d34/f/2016/359/3/a/chocola___nekopara_wallpaper_by_carionto-dassv1h.png);
    background-size: cover;
 }
.body-3rkFrF {
    background-color: rgba(47, 33, 24, 0.81);
    padding: 10px;
    border-bottom: 1px solid #dcddde;
}
.footer-2J5zqP {
    padding: 10px;
    background-color: rgba(47, 33, 24, 0.81);
}
.body-3rkFrF .member-role {
    margin-bottom: 4px;
    padding: 4px 6px;
    border-radius: 15px;
    border: solid #fff6bf 1px;
    text-decoration: bold;
    background-color: black;
  }

.member-roles .member-role>.name {
    max-width: 200px;
    white-space: nowrap;
    text-transform: uppercase;
    overflow: hidden;
    font-weight: bold;
  }
.container-iksrDt {
    height: 52px;
    background: rgba(47, 33, 24, 1.0);
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}
.theme-dark .attachButtonForeground-3VZiXQ {
    fill: #f3e5ab;
    opacity: 1.0;
}
::-webkit-input-placeholder {
  color: #f3e5ab!important;
  font-weight: 600;
  letter-spacing: 0.075rem;
  text-align: center;
}
.header-1tSljs {
    background-color: rgba(47, 33, 24, 1.0);
}
.header-1tSljs:hover {
    background-color: rgba(47, 33, 24, 1.0);
}
.channel-text-area-default [class*="textArea-"], .channel-text-area-default [class*="selector-"] [class*="marginLeft8-"] {
    color: #fff6bf;
}
.channel-text-area-default [class*="inner-"], .channel-text-area-default [class*="autocomplete-"], .channel-text-area-default [class*="autocompleteInner-"], .channel-text-area-default [class*="selectorSelected-"] {
    background-color: rgba(47, 33, 24, 1.0);
}
.member-roles .member-role {
    color: #f3e5ab;
 }
.platform-osx .guilds-wrapper {
    background: rgba(47, 33, 24, 1.0);
}
.guilds-wrapper .guilds .friends-icon {
    width: 50px;
    height: 50px;
    background-image: url(https://orig06.deviantart.net/1d34/f/2016/359/3/a/chocola___nekopara_wallpaper_by_carionto-dassv1h.png);
    background-size: 102px 55px;
    background-position: 7%;
    background-repeat: no-repeat;
 }
.guilds-wrapper .guilds .guild .guild-inner {
    border-radius: 25px !important;
}
.avatarHint-2i5XWK {
    position: relative;
    border-radius: 10%;
    left: 75px;
    top: -81px;
}
.avatarWrapper-2Gfmp1 {
    border-radius: 50%;
    position: inherit;
}
.private-channels .scroller-fzNley {
    background: rgba(47, 33, 24, 0.8);
}
.private-channels .search-bar {
    background: rgba(47, 33, 24, 1.0) !important;
}
.theme-dark #friends .friends-header .tab-bar .tab-bar-item.tab-bar-item-primary {
    background-color: #6e4435;
}
.theme-dark #friends .friends-header .tab-bar .tab-bar-item.tab-bar-item-primary:hover:not(.selected) {
    background-color: #4a3426;
}
#friends .friends-table .friends-table-body {
    padding-top: 2px;
    padding-bottom: 20px;
    overflow-x: hidden;
     background: rgba(47, 33, 24, 0.7)
}
.theme-dark #friends .friends-header {
    background-color: #6e4435 !important;
    border-bottom: 0px solid #000;
}
.theme-dark #friends .friends-table .friends-table-header {
    border-bottom: 3px solid hsla(0,100%,100%,.1);
    background: #4a3426;
}
.quick-message {
    border: 0px solid;
    background: rgba(47, 33, 24, 0.7);
    border-radius: 10px;
    font-size: 18px;
}
.headerText-3tKBWq {
    background: rgba(47, 33, 24, 0.9);
}
.creation-date-wrapper {
    font-size: 12px;
    color: #fff;
    font-family: inherit;
    opacity: 0.9;
    margin-bottom: 10px;
    background: rgba(47, 33, 24, 0.9);
}
#user-profile-modal .scroller {
    background: rgba(47, 33, 24, 0.9);
}
#user-profile-modal .tab-bar-container {
    background-color: rgba(47, 33, 24, 0.9);
 }
#user-profile-modal .header{
    background-size: cover;
    background-image: url(https://i.imgur.com/tt7Niuo.png);
    background-position: 70% 10%;
}
#user-profile-modal .header .header-info .header-info-inner .discord-tag .username {
    color: #f3e5ab;
    background: #4a3426;
}
#user-profile-modal .header .header-info .header-info-inner .discord-tag .discriminator {
    font-size: 16px;
    color: #f3e5ab;
    background: #4a3426;
}
strong {
    font-weight: 500;
    color: #f3e5ab;
    background: rgba(47, 33, 24, 0.71);
}
.chat>.content .messages .message-group h2 .user-name {
    background: transparent;
}
#bd-customcss-detach-container {
    display: none;
    position: absolute;
    width: 30%;
    top: 0;
    right: 0;
    bottom: 0;
    padding-top: 58px;
    background-color: #422103;
}
.CodeMirror-lines {
    cursor: text;
    min-height: 1px;
    background-color: rgba(47, 33, 24, 0.71);
}
.cm-s-material .CodeMirror-guttermarker, .cm-s-material .CodeMirror-guttermarker-subtle, .cm-s-material .CodeMirror-linenumber {
    color: #537f7e;
}
.theme-dark .bar-2cFRGz {
    background: #f3e5ab;
}
.barFill-18ABna {
    background: #422811;
    height: 200%;
}
.content-region #bd-customcss-attach-controls, #bd-customcss-detach-container #bd-customcss-attach-controls {
    background: rgba(47, 33, 24, 0.71);
    color: #f3e5ab;
}
.content-region .CodeMirror, .content-region .cm-s-material .CodeMirror-gutters, #bd-customcss-detach-container .CodeMirror, #bd-customcss-detach-container .cm-s-material .CodeMirror-gutters {
    background: #3a1f07 !important;
}
.ui-standard-sidebar-view #bd-customcss-attach-controls button:hover, .bd-detached-css-editor #bd-customcss-attach-controls button:hover {
    background: #56300f;
}.ui-standard-sidebar-view #bd-customcss-attach-controls button, .bd-detached-css-editor #bd-customcss-attach-controls button {
    background: rgba(47, 33, 24, 0.71);
}
#bd-settings-sidebar .ui-tab-bar-item.selected {
    color: #fff;
    background-color: rgba(47, 33, 24, 0.91);
    border: solid 1px #f3e5ab;
}
.ui-standard-sidebar-view .bda-slist .bda-right button {
    background: #6e4435;
    color: #FFF;
    border-radius: 5px;
    height: 30px;
    display: block;
    width: 100px;
    margin: 5px;
}
.ui-standard-sidebar-view #editor-detached button {
    margin: auto;
    margin-left: calc(50% - 100px);
    margin-top: 20px;
    background: #3a2618;
    color: #FFF;
    font-weight: 600;
    border-radius: 5px;
    font-size: 20px;
}
.itemBrand-mC9YR4 {
    color: #6e4435;
}
.bd-pfbtn {
    position: relative;
    top: -40px;
    left: 80px;
    margin-bottom: -19px;
    background: #4a3426;
    color: #FFF;
    border-radius: 5px;
    display: block;
}
.buttonBrandFilledDefault-2Rs6u5:hover {
    background-color: #6d5748;
}
.buttonBrandFilledDefault-2Rs6u5 {
    background-color: #33271e;
}
.itemDefaultSelected-1UAWLe {
    color: #fff;
    background-color: rgba(47, 33, 24, 0.91);
    border: solid 1px #f3e5ab;
}
.themeDefault-3M0dJU.valueChecked-3Bzkbm {
    background-color: #593d29;
}
.itemDanger-3m3dwx {
    color: #FF0000;
}
#bd-settings-sidebar .ui-tab-bar-header {
	color: #b9bbbe;
}
.cardPrimaryEditable-2IQ7-V[style*="background-color: rgb(114, 137, 218);"],
.radio-item.checked[style*="background-color: rgb(114, 137, 218);"],
.theme-light .ui-card-primary.checked {
    background-color: #442f25 !important;
    border: solid 4px #3a2c25 !important;
}
.app a, .connecting a {
    color: #7c523e;
}
.channel-members, .channel-members-wrap>div {
    background: rgba(47, 33, 24, 0.71) !important;
}
.tooltip.tooltip-brand.tooltip-right:after {
    border-right-color: #47230a;
}
.tooltip.tooltip-brand {
    background-color: #47230a;
}
.mention {
    color: #f3e5ab;
    background:linear-gradient(90deg, rgb(56, 44, 29) 23%, rgb(40, 28, 4) 62%); 
    font-weight: 100;
    border-radius: 10px;
    animation: lightSpeedIn 1.0s ease 0s 1 normal;
 }
  @keyframes lightSpeedIn {
  0% {
  -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
  transform: translate3d(100%, 0, 0) skewX(-30deg);
  opacity: 0;
  }
  60% {
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);
  opacity: 1;
  }
  80% {
  -webkit-transform: skewX(-5deg);
  transform: skewX(-5deg);
  opacity: 1;
  }
  100% {
  -webkit-transform: none;
  transform: none;
  opacity: 1;
  }
 } 

.theme-dark .message-group .comment .markup {
    color: hsla(0,0%,100%,.7);
    animation: lightSpeedIn 1.0s ease 0s 1 normal;
 }
.ui-standard-sidebar-view .bda-slist li {
    background: #332013;
    border-bottom: 0px solid #3f4146;
}
.ui-standard-sidebar-view .bda-slist li:nth-child(odd) {
    background: #281608;
    border-top: 1px solid #2b2b2b;
}
