//META{"name":"DoritosTheme","description":"Enjoy the Video Game Culture","author":"DevilsTheAvenged","version":"1.0"}*//{}

@import url(https://gitcdn.xyz/repo/themoonisacheese/themer.js/master/themer.js.css);
@import url(https://cdn.rawgit.com/DevilsLynAvenged/Other-Workspace/5004879d/SomeUnImportantStuff/Doritos2.theme.css);
/* Backgrounds */
.app {
	background-image: url("https://is01.ezphotoshare.com/2017/10/21/shrip0.jpg");
	background-size: cover !important;
	background-position: center !important;
 }

.bda-backdrop {
	background: url("https://is01.ezphotoshare.com/2017/10/21/shrip0.jpg");
	background-size: cover!important;
	}
#pubs-container:before {
	background: url("https://is01.ezphotoshare.com/2017/10/21/shrip0.jpg")!important;
	background-size: cover!important;
	}
.theme-dark .chat{background: transparent;}
.layers,
.layer {
	background: transparent !important;
}
.mention-RlZ5F3 {
    background-color: rgba(201, 3, 6,0.8) !important;
    color: #FD5E00;
}
