//META{"name":"DoritosTheme","description":"Enjoy the Video Game Culture","author":"DevilsTheAvenged","version":"1.4"}*//{}

@import url(https://cdn.rawgit.com/DevilsLynAvenged/Other-Workspace/edc4ddcb/SomeUnImportantStuff/Doritos2.theme.css);
/* Backgrounds */
.app {
	background-image: url("https://is01.ezphotoshare.com/2017/10/21/shrip0.jpg");
	background-size: cover !important;
	background-position: center !important;
}
.bda-backdrop {
	background: url("https://is01.ezphotoshare.com/2017/10/21/shrip0.jpg");
	background-size: cover!important;
}
#pubs-container:before {
	background: url("https://is01.ezphotoshare.com/2017/10/21/shrip0.jpg")!important;
	background-size: cover!important;
}
