//META{"name":"NewJerseyDevils","description":"New Jersey Rules","author":"DevilsTheAvenged","version":"1.4"}*//{}
@import url(https://gitcdn.xyz/repo/themoonisacheese/themer.js/master/themer.js.css);
@import url(https://cdn.rawgit.com/DevilsLynAvenged/Other-Workspace/f0086bd5/SomeUnImportantStuff/NJD.theme.css);
.app,
.callout-backdrop,
.bda-backdrop,
#pubs-container:before {
	background-image: url("https://i.imgur.com/2pqopu2.jpg");
   background-size: cover !important;
	background-position: center !important;
}

