//META{"name":"Old_History","description":"Time to go back in time","author":"DevilsTheAvenged","version":"1.0"}*//{}
* {
 font-family: 'Theano Didot' !important;
 }
.app {
	background-image: url("http://www.modafinilsale.com/data/out/826/233366387-wallpaper-old-paper.jpg");
	background-size: cover !important;
	background-position: center !important;
}
/* fix not having a background image anymore */
.layers-20RVFW, .layer-kosS71, .container-2OU7Cz, .typing-3eiiL_ {
  background: transparent !important;
}
/* optionally adjust background brightness (0: original image, 1: black) */
.layers-20RVFW {
  background: rgba(0,0,0,.44) !important;
}
.channels-3g2vYe,
.theme-dark .title-qAcLxz,
.container-RYiLUQ,
.container-2OU7Cz,
.guilds-wrapper,
.theme-dark .chat form .typing,
.theme-dark .chat form,
.theme-dark .chat>.content,
.theme-dark .chat,
.chat .messages,
.theme-dark .friends-table, .theme-dark .messages-wrapper,
.theme-dark .channel-members,
.theme-dark #friends,
.theme-dark .headerBar-cxbhPD,
.theme-dark .ui-standard-sidebar-view {
    background-color: transparent;
}
.theme-dark .ui-standard-sidebar-view .content-region,
.theme-dark .ui-standard-sidebar-view .sidebar-region  {
    background: rgba(0,0,0,0.2);
}
/* Discord Settings */ 
.lookFilled-luDKDo.colorBrand-3PmwCE {
    background-image: url(https://i.imgur.com/8dQXmV6.jpg);
    color: #fff;
	box-shadow: 0 0 8px black, 0 0 8px black;
	transition: padding-bottom .2s ease, padding-top .2s ease;
}
.lookFilled-luDKDo.colorBrand-3PmwCE:hover {
	padding-bottom: 25px;
	padding-top: 15px;
}
.userInfoEditing-1Juv0S.cardPrimaryEditable-2IQ7-V.card-3DrRmC,
.userInfoViewing-1jbzEW.cardPrimary-ZVL9Jr.card-3DrRmC,
.theme-dark .user-settings-games .now-playing, 
.theme-light .user-settings-games .now-playing {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.8) 100%), url(https://i.imgur.com/8dQXmV6.jpg);
    border-color: transparent;
}
.lookOutlined-1c5nhl.colorBrand-3PmwCE {
    border-color: transparent !important;
    color: white;
	background-image: linear-gradient(to bottom, rgba(0,0,255,0.7) 0%, rgba(0,0,0,0.4) 100%), url(https://i.imgur.com/8dQXmV6.jpg);
}
.theme-dark .accountBtnInner-3zsU2z {
    background-color: rgba(0,0,0,0.3);
    border-color: transparent;
}
.theme-dark .accountBtnInner-3zsU2z:hover {
    background-color: rgba(0,0,0,0.7);
}
.lookOutlined-1c5nhl.colorRed-3HTNPV,
[class*="itemDefault-3NDwnY item-3879bf notSelected-PgwTMa"][style*="color: rgb(240, 71, 71);"] {
    border-color: red !important;
    color: white !important;
	transition: padding-bottom .2s ease, padding-top .2s ease;
	background-image: linear-gradient(to bottom, rgba(255,0,0,0.3) 0%, rgba(0,0,0,0.4) 100%), url(https://i.imgur.com/8dQXmV6.jpg);
}
.lookFilled-luDKDo.colorGreen-22At8E {
    color: white;
	transition: padding-bottom .2s ease, padding-top .2s ease;
	border: 1px solid #005500 !important;
	background-image: linear-gradient(to bottom, rgba(0,255,0,0.3) 0%, rgba(0,0,0,0.4) 100%), url(https://i.imgur.com/8dQXmV6.jpg);
}
.lookOutlined-1c5nhl.colorRed-3HTNPV:hover {
	padding-bottom: 25px;
	padding-top: 15px;
}
.lookFilled-luDKDo.colorGreen-22At8E:hover {
	padding-bottom: 25px;
	padding-top: 15px;
}
.theme-dark .divider-1G01Z9,
.theme-dark .separator-3z7STW,
#bd-settings-sidebar .ui-tab-bar-separator {
    background-color: transparent;
}
.userInfoViewing-1jbzEW.cardPrimary-ZVL9Jr.card-3DrRmC .avatar-xxlarge, 
.avatar-uploader-inner {
    background-color: black;
    background-size: 128px 128px;
    border: none;
	filter: sepia(100%);
    border-radius: 0%;
}
.theme-dark .avatar-uploader-indicator {
    display: none;
}
.theme-dark .input-2YozMi.focused-xL_GX6,
.theme-dark .input-2YozMi:focus {
    border-color: transparent;
	background-color: rgba(0,0,0,0.4);
}
.theme-dark .description-3MVziF, 
.theme-dark .labelDescriptor-1BebCl,
.theme-dark .ui-standard-sidebar-view .esc-text,
.theme-dark .faded-1KRDbu,
.theme-dark .header-1-f9X5,
#bd-settings-sidebar .ui-tab-bar-header {
    color: white;
}
/* Special Link */
a {
    color: black;
}
.lookLink-3VWONr.colorLink-Ttelix:hover .contents-4L4hQM {
    background-image: linear-gradient(0deg,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0) 1px,#d1aa4c 0,#d1aa4c 2px,rgba(0, 0, 0, 0) 0);
}
/* ========== */
.statusRed-1ZlXmf {
    display: none;
}
.theme-dark .ui-standard-sidebar-view .btn-close {
    border-color: transparent;
}
.side-2nYO0F .itemSelected-3XxAMf,
#bd-settings-sidebar .ui-tab-bar-item.selected {
    background-image: url(https://i.imgur.com/8dQXmV6.jpg);
    color: #fff;
}
[class="itemDefault-3NDwnY item-3879bf notSelected-PgwTMa"][style*="color: rgb(114, 137, 218);"],
.lookLink-3VWONr.colorLink-Ttelix,
.theme-dark .markValue-235z9M {
	color: #d1aa4c !important;
}
.theme-dark .cardPrimaryEditable-2IQ7-V {
    background: rgba(32,34,37,0);
    border-color: transparent;
}
.theme-dark .cardPrimaryOutline-2YyAz2 {
    border-color: transparent;
}
.theme-dark .bar-2cFRGz {
    background-color: black;
}
.bar-2cFRGz[style*="background: rgb(251, 184, 72);"] {
    background-color: black !important;
}
.barFill-18ABna[style*="background: rgb(105, 196, 154);"] {
	background-color: #d1aa4c !important;
}
.barFill-18ABna {
	background-color: #d1aa4c;
}
.theme-dark .userSettingsVoice-TvPQ80 .previewOverlay-2vHj3H {
    background-color: transparent;
    border-color: transparent;
}
.theme-dark .card-11ynQk:before {
    background-color: rgba(0,0,0,0.3);
    border-color: transparent;
}
.theme-dark .row-3ZE8bQ,
.theme-dark .user-settings-games .game,
.theme-dark .item-3tXG-o {
    box-shadow: none;
}
.theme-dark .user-settings-games .last-played, 
.theme-dark .user-settings-games .overlay-status-text,
.theme-dark .user-settings-games .now-playing .last-played, 
.theme-dark .user-settings-games .now-playing .overlay-status-text, 
.theme-light .user-settings-games .now-playing .last-played, 
.theme-light .user-settings-games .now-playing .overlay-status-text,
#bd-settingspane-container .ui-switch-item .style-description {
    color: silver;
}
#bd-settingspane-container .ui-switch-item .style-description {
    border-bottom: none;
}
.bd-pfbtn {
    background-image: url(https://i.imgur.com/8dQXmV6.jpg) !important;
}
.theme-dark .user-settings-games .game-name-input:focus, 
.theme-dark .user-settings-games .game-name-input:hover {
    background-color: #d1aa4c;
    border-color: black;
}
.userSettingsVoice-TvPQ80 .media-engine-video,
.theme-dark .add-game-popout {
    background-image: url("http://www.modafinilsale.com/data/out/826/233366387-wallpaper-old-paper.jpg");
	background-size: cover;
}
.theme-dark .markDash-3j1QxS {
    background: black;
}
.icon-3j0iot {
    display: none;
}
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch {
    background: rgba(255,255,255,0.16);
	border: 1px solid black;
}
/* Custom CSS Box Stuff */
.ui-standard-sidebar-view #bd-customcss-attach-controls button, 
.bd-detached-css-editor #bd-customcss-attach-controls button {
    background: #31332b;
    color: #FFF;
    height: 26px;
    font-weight: 600;
    margin-top: 5px;
    border-radius: 3px;
}
.ace-monokai {
    background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.6) 100%);
    color: white;
}
.ace-monokai .ace_gutter {
    background: transparent;
    color: #8F908A;
}
.content-region #bd-customcss-attach-controls, 
#bd-customcss-detach-container #bd-customcss-attach-controls {
    background-image: url("http://www.modafinilsale.com/data/out/826/233366387-wallpaper-old-paper.jpg");
	background-size: cover;
    color: #FFF;
    box-shadow: none;
}
/* ====== */
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch:before {
    background: transparent;
    box-shadow: none;
}
