//META{"name":"Old_History","description":"Time to go back in time","author":"DevilsTheAvenged","version":"1.4"}*//{}
*{font-family:'Metamorphous' !important;}
.app{background-image:url("http://www.modafinilsale.com/data/out/826/233366387-wallpaper-old-paper.jpg");background-size:cover !important;background-position:center !important;}
/* fix not having a background image anymore */
.layers-3iHuyZ,.layer-3QrUeG,.container-2lgZY8,.typing-2GQL18{background:transparent !important;}
/* optionally adjust background brightness (0:original image,1:black) */
.layers-3iHuyZ{background:rgba(0,0,0,.54) !important;}
.channels-Ie2l6A,
.theme-dark .title-3qD0b-,
.container-PNkimc,
.container-2lgZY8,
.guilds-wrapper,
.theme-dark .chat form,
.theme-dark .chat>.content,
.theme-dark .chat,
.chat .messages,
.theme-dark .friends-table,.theme-dark .messages-wrapper,
.theme-dark .members-1998pB,
.theme-dark #friends,
.theme-dark .headerBar-UHpsPw,
.theme-dark .ui-standard-sidebar-view{background-color:transparent;}
.theme-dark .ui-standard-sidebar-view .content-region,
.theme-dark .ui-standard-sidebar-view .sidebar-region{background:rgba(0,0,0,0.2);}
/* Discord Settings */ 
.lookFilled-1Gx00P.colorBrand-3pXr91 {
	background-image: url(https://i.imgur.com/8dQXmV6.jpg);
	color: #fff;
	box-shadow: 0 0 8px black,0 0 8px black;
	transition: padding-bottom .2s ease,padding-top .2s ease;
}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
	padding-bottom: 25px;
	padding-top: 15px;
}
.userInfoEditing-1Juv0S.cardPrimaryEditable-3KtE4g.card-3DrRmC,
.userInfoViewing-16kqK3.cardPrimary-ZVL9Jr.card-3DrRmC,
.theme-dark .user-settings-games .now-playing,
.theme-light .user-settings-games .now-playing {
	background-image: linear-gradient(to bottom,rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.8) 100%),url(https://i.imgur.com/8dQXmV6.jpg);
	border-color: transparent;
}
.lookOutlined-1c5nhl.colorBrand-3PmwCE {
	border-color: transparent !important;
	color: white;
	background-image: linear-gradient(to bottom,rgba(0,0,255,0.7) 0%,rgba(0,0,0,0.4) 100%),url(https://i.imgur.com/8dQXmV6.jpg);
}
.theme-dark .bar-2Qqk5Z[style*="background: rgb(251, 184, 72);"] {
    background-color: #000 !important;
}
.barFill-23-gu-[style*="background: rgb(105, 196, 154);"] {
    background-color: #d1aa4c !important;
}
.theme-dark .accountBtnInner-sj5jLs {
	background-color: rgba(0,0,0,0.3);
	border-color: transparent;
}
.theme-dark .accountBtnInner-sj5jLs:hover {
	background-color: rgba(0,0,0,0.7);
}
.lookOutlined-3sRXeN.colorRed-1TFJan,
[class*="itemDefault-3Jdr52 item-PXvHYJ notSelected-1N1G5p"][style*="color:rgb(240,71,71);"],
.lookFilled-luDKDo.colorRed-3HTNPV {
	border-color: red !important;
	color: white !important;
	transition: padding-bottom .2s ease,padding-top .2s ease;
	background-image: linear-gradient(to bottom,rgba(255,0,0,0.3) 0%,rgba(0,0,0,0.4) 100%),url(https://i.imgur.com/8dQXmV6.jpg);
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
	color: white;
	transition: padding-bottom .2s ease,padding-top .2s ease;
	border: 1px solid #005500 !important;
	background-image: linear-gradient(to bottom,rgba(0,255,0,0.3) 0%,rgba(0,0,0,0.4) 100%),url(https://i.imgur.com/8dQXmV6.jpg);
}
.lookOutlined-3sRXeN.colorRed-1TFJan:hover {
	padding-bottom: 25px;
	padding-top: 15px;
}
.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
	padding-bottom: 25px;
	padding-top: 15px;
}
.theme-dark .divider-3573oO,
.theme-dark .separator-3z7STW,
#bd-settings-sidebar .ui-tab-bar-separator {
	background-color: transparent;
}
.userInfoViewing-16kqK3.cardPrimary-ZVL9Jr.card-3DrRmC .avatar-xxlarge,
.avatar-uploader-inner {
	background-color: black;
	background-size: 128px 128px;
	border: none;
	filter: sepia(100%) saturate(60%);
	border-radius: 0%;
}
.theme-dark .avatar-uploader-indicator {
	display: none;
}
.theme-dark .input-cIJ7To.focused-1mmYsC,
.theme-dark .input-cIJ7To:focus {
	border-color: transparent;
	background-color: rgba(0,0,0,0.4);
}
.theme-dark .description-3_Ncsb,
.theme-dark .labelDescriptor-1PqHgD,
.theme-dark .ui-standard-sidebar-view .esc-text,
.theme-dark .faded-3bns_w,
.theme-dark .header-2RyJ0Y,
#bd-settings-sidebar .ui-tab-bar-header {
	color: white;
}
/* Special Link */
a {
	color: black;
}
.lookLink-9FtZy-.colorLink-35jkBc:hover .contents-18-Yxp {
	background-image: linear-gradient(0deg,rgba(0,0,0,0),rgba(0,0,0,0) 1px,#d1aa4c 0,#d1aa4c 2px,rgba(0,0,0,0) 0);
}
.theme-dark .topic-2QX7LI a,
.theme-dark .message-group a,
.theme-dark .embedTitleLink-1Zla9e {
    color: #d1aa4c !important;
}
/* ========== */
.statusRed-21U8Tp {
	display: none;
}
.theme-dark .ui-standard-sidebar-view .btn-close {
	border-color: transparent;
}
.side-8zPYf6 .itemSelected-1qLhcL,
#bd-settings-sidebar .ui-tab-bar-item.selected {
	background-image: url(https://i.imgur.com/8dQXmV6.jpg);
	color: #fff;
}
[class="itemDefault-3Jdr52 item-PXvHYJ notSelected-1N1G5p"][style*="color: rgb(114, 137, 218);"] {
  color: #d1aa4c !important;
}
.lookLink-9FtZy-.colorLink-35jkBc,
.theme-dark .markValue-2DwdXI {
	color: #d1aa4c !important;
}
.theme-dark .cardPrimaryEditable-3KtE4g {
	background: rgba(32,34,37,0);
	border-color: transparent;
}
.theme-dark .cardPrimaryOutline-29Ujqw {
	border-color: transparent;
}
.theme-dark .bar-2Qqk5Z {
	background-color: black;
}
.theme-dark .bar-2Qqk5Z[style*="background:rgb(251,184,72);"] {
	background-color: black !important;
}
.barFill-23-gu-[style*="background:rgb(105,196,154);"] {
	background-color: #d1aa4c !important;
}
.barFill-23-gu- {
	background-color: #d1aa4c;
}
.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
	background-color: transparent;
	border-color: transparent;
}
.theme-dark .card-FDVird:before {
	background-color: rgba(0,0,0,0.3);
	border-color: transparent;
}
.theme-dark .row-3ZE8bQ,
.theme-dark .user-settings-games .game,
.theme-dark .item-3eFBNF,
.theme-dark .modal-3HD5ck,
.themeDefault-24hCdX.sizeDefault-2YlOZr:after {
	box-shadow: none;
}
.theme-dark .user-settings-games .last-played,
.theme-dark .user-settings-games .overlay-status-text,
.theme-dark .user-settings-games .now-playing .last-played,
.theme-dark .user-settings-games .now-playing .overlay-status-text,
.theme-light .user-settings-games .now-playing .last-played,
.theme-light .user-settings-games .now-playing .overlay-status-text,
#bd-settingspane-container .ui-switch-item .style-description {
	color: silver;
}
#bd-settingspane-container .ui-switch-item .style-description {
	border-bottom: none;
}
.bd-pfbtn {
	background-image: url(https://i.imgur.com/8dQXmV6.jpg) !important;
}
.theme-dark .user-settings-games .game-name-input:focus,
.theme-dark .user-settings-games .game-name-input:hover {
	background-color: #d1aa4c;
	border-color: black;
}
.userSettingsVoice-iwdUCU .media-engine-video,
.theme-dark .add-game-popout {
	background-image: url("http://www.modafinilsale.com/data/out/826/233366387-wallpaper-old-paper.jpg");
	background-size: cover;
}
.theme-dark .markDash-3hAolZ {
	background: black;
}
.icon-3j0iot {
	display: none;
}
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch,
.themeDefault-24hCdX {
	background: rgba(255,255,255,0.16);
	transition: background .5s linear;
	border: 1px solid black;
	border-radius: 0px;
}
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked,
.themeDefault-24hCdX.valueChecked-m-4IJZ {
	background: rgba(255,255,255,0.46);
	transition: background .5s linear;
}
/* Custom CSS Box Stuff */
.ui-standard-sidebar-view #bd-customcss-attach-controls button,
.bd-detached-css-editor #bd-customcss-attach-controls button {
	background: rgba(0,0,0,0.4);
	margin-right: 5px;
	transition: background .4s ease;
}
.ui-standard-sidebar-view #bd-customcss-attach-controls button:hover,
.bd-detached-css-editor #bd-customcss-attach-controls button:hover {
	background: rgba(0,0,0,0.6);
}
.ace-monokai {
	background: linear-gradient(to bottom,rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.6) 100%);
	color: white;
}
.ace-monokai .ace_gutter {
	background: transparent;
	color: #8F908A;
}
.content-region #bd-customcss-attach-controls,
#bd-customcss-detach-container #bd-customcss-attach-controls {
	background-image: url("http://www.modafinilsale.com/data/out/826/233366387-wallpaper-old-paper.jpg");
	background-size: cover;
	color: #FFF;
	box-shadow: none;
}
.ace-monokai .ace_gutter-active-line {
	background-color: black;
}
/* ====== */
.bda-slist li {
	background-image: linear-gradient(to bottom,rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.2) 100%),url(http://www.modafinilsale.com/data/out/826/233366387-wallpaper-old-paper.jpg);
	background-size: cover;
	border: 1px solid black;
	border-radius: 0px;
	padding: 1px 7px;
	margin-bottom: 5px;
}
.bda-slist .bda-header {
	color: #e6e6e7;
	font-weight: 700;
	font-size: 12px;
	overflow: hidden;
	display: inline-table;
	border-bottom: none;
}
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch:before,
.size-3rFEHg:after {
	background: transparent;
	box-shadow: none;
}
.bda-slist .bda-description {
	color: silver;
}
.bda-slist .bda-footer button {
	background: rgba(0,0,0,.3);
	border-radius: 0px;
	transition: background .2s ease-in;
}
.bda-slist .bda-footer button:hover {
	background: rgba(0,0,0,.5);
}
/* Notification Settings */
.theme-dark .modal-3HD5ck {
	background-image: linear-gradient(to bottom,rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.2) 100%),url(http://www.modafinilsale.com/data/out/826/233366387-wallpaper-old-paper.jpg);
}
.theme-dark .footer-2yfCgX {
	background-color: transparent;
	box-shadow: none;
}
.theme-dark .select-3JqNgs .Select-control {
	background: rgba(0,0,0,.4);
	border: 1px solid black;
}
.theme-dark .select-2TCrqx .Select-control .Select-placeholder {
	color: white;
}
.theme-dark .select-2TCrqx .Select-menu-outer {
	background: black;
	border-color: black;
	box-shadow: none;
}
.theme-dark .select-2TCrqx .Select-option.is-focused,
.theme-dark .select-2TCrqx .Select-option:hover {
	background: rgba(255,255,255,.09);
}
.theme-dark .checked-3_4uQ9 {
	border-color: silver;
}
.cardPrimaryEditable-3KtE4g[style*="border-color"][style*="background-color"] {
	background-color: rgba(0,0,0,0.4) !important;
	border: none;
}
.theme-dark .checked-3_4uQ9[style*="border-color: rgb(114, 137, 218);"] {
    background-color: transparent;
    border: none;
}
.theme-dark .checked-3_4uQ9[style="background-color: rgb(114, 137, 218); border-color: rgb(114, 137, 218);"],
.checkbox .checkbox-inner input[type=checkbox]:checked+span,
.theme-dark .checked-3_4uQ9 {
   background-color: rgba(0,0,0,0.4) !important;
	 border: none;
}
.theme-dark .checked-3_4uQ9[style*="border-color: rgb(114, 137, 218);"] polyline[stroke],
.theme-dark .checked-3_4uQ9[style*="border-color: rgb(79, 84, 92);"] polyline[stroke]{
    stroke: silver;
    stroke-width: 2;
}
.backdrop-1ocfXc {
	background-color: rgba(0,0,0,0.2) !important;
}
.theme-dark .checkboxContainer-1sZ9eo:before {
	background-color: transparent;
}
.theme-dark .button-mM-y8i {
	background-color: black !important;
	box-shadow: none;
}
.theme-dark .separator-2zcjq8 {
	border-bottom: none;
}
.theme-dark .menu-Sp6bN1 {
	background-color: black;
	box-shadow: none;
}
.theme-dark .item-1GzJrl:hover {
	background-color: black;
	color: white;
}
.theme-dark .item-1GzJrl {
	color: silver;
	opacity: 1;
}
.alt-3btY0e .item-1GzJrl .helper-2c73HK {
	display: none;}
/* User Profile Popout and Other Part of It */
.theme-dark .member-3W1lQa.popout-open .content-OzHfo4, 
.theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4, 
.theme-dark .member-3W1lQa:hover .content-OzHfo4 {
    background: rgba(0,0,0,0.5) !important;
}
.theme-dark .membersGroup-v9BXpm,
.activityText-sLG0UL,
.theme-dark .message-group h2 .timestamp {
   color: white;
}
.userPopout-3XzG_A {
    border-radius: 0px;
    box-shadow: none;
    background: url(http://www.modafinilsale.com/data/out/826/233366387-wallpaper-old-paper.jpg) 50%/cover;
}
.theme-dark .body-3iLsc4, 
.theme-dark .footer-1fjuF6,
.theme-dark .body-3ND3kc,
.theme-dark .topSectionNormal-2-vo2m,
.theme-dark .headerNormal-T_seeN {
    background-color: rgba(0,0,0,0.3);
    border: none;
}
.headerPlaying-j0WQBV ,
.topSectionPlaying-1J5E4n{
    background: rgba(48,63,159,.6);
}
.role-2irmRk {
    border: none;
}
.roleCircle-3xAZ1j {
    border-radius: 0px;
}
[class*="roleCircle-3xAZ1j"][style*="background-color: rgb(185, 187, 190);"] {
   background-color: #d1aa4c !important;
   border: 2px ridge black;
}
.headerSpotify-zpWxgT,
.topSectionSpotify-1lI0-P,
.headerXbox-3G-4PF,
.topSectionXbox-3fWLjS {
    background: rgba(67,160,71,.6);
}
.headerStreaming-2FjmGz,
.topSectionStreaming-1Tpf5X {
    background: rgba(81,45,168,.6);
}
.bodyTitle-Y0qMQz,
.theme-dark .note-3kmerW textarea,
.guildNick-3uAm3i {
    color: white;
}
.theme-dark .note-3kmerW textarea:focus,
.theme-dark .quickMessage-1yeL4E:focus {
    background-color: rgba(0,0,0,0.4) !important;
}
.theme-dark .quickMessage-1yeL4E {
    background-color: rgba(0,0,0,0.2);
    border-color: black;
    color: white;
}
.userInfoSectionHeader-CBvMDh {
    color: silver;
}
.theme-dark .userInfoSection-2acyCx+.userInfoSection-2acyCx {
    border-color: transparent;
}
.root-SR8cQa {
    background-image: url(https://wallpapercave.com/wp/wp2244231.jpg) !important;
	 background-size: cover;
}
.userInfoSection-2WJxMm+.userInfoSection-2WJxMm {
    border-color:  transparent;
}
.theme-dark .connectedAccount-36nQx7 {
    background: url(http://www.modafinilsale.com/data/out/826/233366387-wallpaper-old-paper.jpg) 50%/cover;
}
.connectedAccountName-f8AEe2 {
    color: black;
    font-weight: 500;
}
.listAvatar-1NlAhb {
    background-color: black;
    color: #fff;
}
/* Friends and DMs */
.theme-dark .quickswitcher-3JagVE {
    background-color: black;
    color: white;
}
.theme-dark #friends .tab-bar .tab-bar-separator {
    background-color: transparent;
}
.theme-dark #friends .tab-bar .tab-bar-item:hover:not(.selected) {
    background-color: rgba(0,0,0,0.4);
}
.theme-dark #friends .tab-bar .tab-bar-item.selected {
    background-color: black;
    color: #d1aa4c;
}
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary {
    background-color: black;
    color: #fff;
}
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary:hover:not(.selected) {
    background-color: black;
    color: #d1aa4c;
}
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary.selected {
    background-color: #d1aa4c;
    color: black;
}
.theme-dark .callAvatar-v-u4BM.voice-2D-tt_ .callAvatarStatus-3y6S04 {
    border-color: black;
    background-color: black;
}
.callAvatarBorder-1D_KaE.voice-2D-tt_.speaking-oCqYMI,
.callAvatarBorder-1D_KaE.video-3GgX2M.speaking-oCqYMI {
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px #d1aa4c;
}
.lookFilled-1Gx00P.colorRed-1TFJan {
    background-color: rgba(255,0,0,0.23);
    color: #fff;
    border: 1px solid red;
}
.lookFilled-1Gx00P.colorRed-1TFJan:hover {
    background-color: rgba(255,0,0,0.63);
    color: #fff;
}
#friends .btn,
.private-channel-recipients-invite .error-state.not-friends .btn {
    background-color: black;
    border-radius: 0px;
    color: #d1aa4c;
    transition: color .6s ease, background-color .6s ease;
}
#friends .btn:hover,
.private-channel-recipients-invite .error-state.not-friends .btn:hover {
    background-color: #d1aa4c;
    border-radius: 0px;
    color: black;
}
.theme-dark .tipsWithoutResults-lGY-De, 
.theme-dark .tipsWithResults-HhTE9b {
    border-color: transparent;
    color: white;
}
.theme-dark .keybindShortcutTipsSelect-HDyfe8:last-of-type:before {
    background-color: transparent;
}
.theme-dark .keybindShortcut-1BD6Z1 span {
    background-color: #d1aa4c;
    border-color: transparent;
    box-shadow: none;
    color: black;
}
.theme-dark .input-2VB9rf {
    background-color: black;
    box-shadow: none;
}
.theme-dark .input-2VB9rf:focus {
    border: 1px solid #d1aa4c;
}
.theme-dark .contentDefault-16dKSY {
    color: white;
}
.theme-dark .resultFocused-3aIoYe {
    background-color: transparent;
    border: 1px solid #d1aa4c;
}
.theme-dark .keybindShortcut-1BD6Z1 span .bindArrow-2X3Aom g {
    fill: black !important;
}
.private-channels .channel.selected a {
    background-color: rgba(0,0,0,.6);
    color: #fff;
}
.private-channels header,
.private-channels .channel .channel-name {
    opacity: .5;
    color: white;
}
.private-channels .channel:hover a {
    background-color: rgba(0,0,0,.4);
    color: #fff;
}
.guilds-wrapper .guilds .guild .guild-inner {
    background: #f8bd55 !important;
    border-radius: 0px !important;
}
.guilds-wrapper .guilds .friends-online,
.theme-dark #friends .friends-table .friends-table-header .friends-column {
    color: white;
}
.guilds-wrapper .guild-separator:after {
    display: none;
}
.theme-dark #friends .friends-table .friends-table-header {
    border-bottom: none;
}
.theme-dark #friends .friends-table .friends-row+.friends-row {
    border-top: none;
}
.theme-dark #friends .friends-table .friends-row:hover {
    background: rgba(0,0,0,0.18);
}
.theme-dark #friends .friends-table .friends-table-header .friends-column-separator {
    background-color: transparent;
}
.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action {
    background-color: rgba(0,0,0,0.48);
}
.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action:hover {
    background-color: rgba(0,0,0,0.68) !important;
}
.theme-dark .messagesPopoutWrap-1MQ1bW,
.theme-dark .messagesPopoutWrap-1MQ1bW .header-ykumBX,
.theme-dark .search-results-wrap .search-header,
.theme-dark .search-results-wrap {
    background-color: rgba(0,0,0,0.6) !important;
    border: none;
    box-shadow: none;
}
.search-bar .search-bar-inner {
    background: rgba(0,0,0,.5);
}
.search-bar-tag {
    background: #d1aa4c;
    color: black;
}


.theme-dark .friendSelected--wQP3f {
    background: #d1aa4c;
    color: black;
}
.theme-dark .item-1Yvehc:hover {
    background: #d1aa4c;
    color: white !important;
}
.theme-dark .item-1Yvehc {
    border-radius: 0;
    padding: 8px;
}
/* Context Menu and Mention Menu and Search */
.theme-dark.contextMenu-HLZMGh {
    background: black;
    box-shadow: none;
}
.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group .actionButtons-1sUUug .jumpButton-3DTcS_,
.theme-dark .search-results-wrap .action-buttons .jump-button {
    background-color: #d1aa4c !important;
    color: black;
}

.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group:hover .actionButtons-1sUUug {
    box-shadow: none !important;
    background: none !important;
}
.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group,
.theme-dark .search-results-wrap .search-result .search-result-message.hit {
    background-color: rgba(209, 170, 76,0.4) !important;
    border-color: transparent;
}
.theme-dark .subtitle-2iWJ5y
{
    color: black;
}
.theme-dark .search-results-wrap .channel-separator .channel-name {
    background-color: rgb(209, 170, 76);
    border-color: transparent;
    color: black;
}
.theme-dark .search-results-wrap .channel-separator:before {
    border-color: transparent;
}
.theme-dark .search-results-wrap .search-result:before,
.theme-dark .search-results-wrap .search-result:after{
    background: transparent;
}
.theme-dark .search-results-wrap .search-result .hit {
    box-shadow: none;
}
.theme-dark .message-25xg43 {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.2) 100%),url(http://www.modafinilsale.com/data/out/826/233366387-wallpaper-old-paper.jpg);
    box-shadow: none;
}
.theme-dark .itemSubMenu-1vN_Yn {
   background-color: #d1aa4c;
}
/* Avatar Status */
.avatar-large, 
.avatar-3EQepX, 
.avatar-small, 
.avatar-xlarge, 
.avatar-xsmall, 
.avatar-xxlarge,
.avatarDefault-35WC3R,
.avatar-16XVId.small-TEeAkX {
    border-radius: 0px;
    filter: sepia(70%) saturate(50%);
}
.avatar-16XVId.small-5Os1Bb .mask-3OgeRz {
     border-radius: 0px;
    filter: sepia(70%) saturate(50%);
    mask: none;
    -webkit-mask: none;
}
.video-1FfuMD,
.theme-dark .private-channel-call {
    background-color: rgba(0,0,0,0.4);
}
.avatar-large:hover, 
.avatar-3EQepX:hover, 
.avatar-16XVId.small-TEeAkX:hover, 
.avatar-xlarge:hover, 
.avatar-xsmall:hover, 
.avatar-xxlarge:hover,
.theme-dark #friends .friends-table .friends-row .friends-column-guilds .more-mutual-guilds-btn,
.avatarSpeaking-1wJCNq {
    border-radius: 0px;
    filter: sepia(0%) saturate(100%);
}
.avatar-16XVId.small-5Os1Bb .mask-3OgeRz:hover {
     border-radius: 0px;
    filter: sepia(0%) saturate(100%);
    mask: none;
    -webkit-mask: none;
}
/* Main Chat */
.avatarSpeaking-1wJCNq {
    box-shadow: 0 0 0 2px #d1aa4c, inset 0 0 0 1.5px #2f3136;
}

.progress-2XXRYo,
.progressBar-3u8FBM.small-1CUeBa,
.progressBar-3u8FBM.large-3EPlRk,
.mediaBarGrabber-1FqnbN, 
.mediaBarProgress-1xaPtl, 
.mediaBarProgress-1xaPtl:after, 
.mediaBarProgress-1xaPtl:before {
    background-color: black !important;
}
.theme-dark .friends-table .messages .divider:not(.red) span, 
.theme-dark .messages-wrapper .messages .divider:not(.red) span {
    color: silver;
}
.theme-dark .friends-table .messages .divider.divider-red>div, 
.theme-dark .messages-wrapper .messages .divider.divider-red>div,
.theme-dark .friends-table .messages .divider:not(.red) div, 
.theme-dark .messages-wrapper .messages .divider:not(.red) div,
.theme-dark .friends-table .messages .divider:before, 
.theme-dark .friends-table .messages .divider span, 
.theme-dark .messages-wrapper .messages .divider:before, 
.theme-dark .messages-wrapper .messages .divider span{
    background: transparent;
}
.theme-dark .friends-table .messages .divider.divider-red>span, 
.theme-dark .messages-wrapper .messages .divider.divider-red>span {
    color: black;
    background: #d1aa4c;
    padding: 3px 6px;
    border-radius: 0px;
}
.theme-dark .message-group:not(.has-divider) {
    border-bottom-color: transparent;
}
.theme-dark .scroller-wrap .scroller::-webkit-scrollbar-thumb,
.scrollerThemed-19vinI.themeGhost-10fio9 .scroller-fzNley::-webkit-scrollbar-thumb,
.scrollerThemed-19vinI.themeGhostHairlineChannels-2lQojW .scroller-fzNley::-webkit-scrollbar-thumb,
.scrollerThemed-19vinI.themeGhostHairline-2H8SiW .scroller-fzNley::-webkit-scrollbar-thumb, 
.scrollerThemed-19vinI.themeGhostHairlineChannels-2lQojW .scroller-fzNley::-webkit-scrollbar-thumb,
.scrollerThemed-19vinI.themeDark-BdSAwu .scroller-fzNley::-webkit-scrollbar-thumb, .theme-dark .scrollerWrap-2uBjct .scroller-fzNley::-webkit-scrollbar-thumb, 
.theme-light .scrollerThemed-19vinI.themeDark-BdSAwu .scroller-fzNley::-webkit-scrollbar-thumb,
.theme-dark .scrollerThemed-19vinI.themeGhostHairline-2H8SiW .scroller-fzNley::-webkit-scrollbar-thumb,
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-thumb, 
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-thumb, 
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-thumb, 
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-thumb, 
.bda-dark #pubs-container .scroller::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.6) !important;
    border: none;
    border-radius: 0px;
}
.theme-dark .scroller-wrap .scroller::-webkit-scrollbar-track-piece,
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar, 
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track, 
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track-piece, 
.bda-dark #pubs-container .scroller::-webkit-scrollbar, 
.bda-dark #pubs-container .scroller::-webkit-scrollbar-track, 
.bda-dark #pubs-container .scroller::-webkit-scrollbar-track-piece,
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar, 
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track, 
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track-piece,
.bda-dark .emoji-picker .scroller::-webkit-scrollbar, 
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-track, 
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-track-piece, 
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar, 
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track,
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track-piece,
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar, 
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track, 
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track-piece, 
.bda-dark #pubs-container .scroller::-webkit-scrollbar, 
.bda-dark #pubs-container .scroller::-webkit-scrollbar-track, 
.bda-dark #pubs-container .scroller::-webkit-scrollbar-track-piece,
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar, 
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track, 
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track-piece,
.bda-dark .emoji-picker .scroller::-webkit-scrollbar, 
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-track, 
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-track-piece, 
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar, 
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track, 
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track-piece {
    background-color: transparent !important;
    border: none;
}
.mediaBarGrabber-1FqnbN, .mediaBarProgress-1xaPtl, 
.mediaBarProgress-1xaPtl:after, 
.mediaBarProgress-1xaPtl:before {
    background-color: #d1aa4c;
}
.theme-dark .selectorSelected-1_M1WV {
    background-color: transparent;
    border: 2px solid #d1aa4c;
}
.mediaBarInteraction-37i2O4:hover .mediaBarWrapper-3D7r67, 
.mediaBarInteractionDragging-2QurIZ:hover .mediaBarWrapper-3D7r67 {
    box-shadow: none;
}
.mediaBarPreview-1jfyFs, 
.mediaBarPreview-1jfyFs:after,
.mediaBarPreview-1jfyFs:before {
    background-color: rgba(255,255,255,0.7);
}
.mediaBarInteraction-37i2O4:hover .mediaBarGrabber-1FqnbN {
    background-color: #f8bd55;
}
.buffer-3qw5qC, 
.buffer-3qw5qC:after, 
.buffer-3qw5qC:before {
    background-color: black;
}
.mediaBarWrapper-3D7r67, 
.mediaBarWrapper-3D7r67:after, 
.mediaBarWrapper-3D7r67:before {
    background-color: black;
}
.theme-dark .iconBadge-2dji3k {
    border-color: transparent;
    background-color: black;
    height: 5px;
    position: absolute;
    right: 7px;
    top: 2px;
    width: 5px;
}
.mediaBarInteractionDragging-2QurIZ .mediaBarGrabber-1FqnbN {
    background-color: #f8bd55;
}

.guilds-wrapper .guilds-add {
    background: #f8bd55;
    border: transparent !important; 
    border-radius: 0px;
    color: black;
}
.guilds-wrapper .guilds-add:hover {
    background: #d1aa4c;
    color: black;
}
.small-popout-box {
    background: black;
    border: none;
    border-radius: 0px;
}
.option-popout .btn-item {
    color: white !important;
}
.theme-dark .danger-1oUOCl:hover {
   color: red !important;
   border: 1px solid red;
   background: black !important;
}
.theme-dark .danger-1oUOCl {
   color: red !important;
}
.option-popout .btn-item:hover {
    background-color: #d1aa4c;
    border-radius: 0px;
    color: black;
}
.guilds-wrapper .guilds-error:hover {
    background: rgba(209, 170, 76,0.4);
}
.guilds-wrapper .guilds-error {
    border: none;
    color: black;
    border-radius: 0px;
    background: rgba(248, 189, 85,0.4)
    font-size: 29px;
}
.theme-dark .message-group .comment .markup pre {
    background: transparent;
    border-color: transparent;
}
.theme-dark .message-group .comment .markup code.inline, 
.theme-dark .message-group .comment .markup pre code {
    background: rgba(255,255,255,0.2);
}
.theme-dark .hljs {
    background: transparent;
    color: white;
}

.spinner-wandering-cubes-1eyF3t,
.wanderingCubesItem-WPXqao,
.spinner-wandering-cubes .spinner-item {
    background-color: #d1aa4c;
}
.theme-dark .autocomplete-1vrmpx {
    background-color: black;
    border-radius: 5px 5px 0 0;
}
.theme-dark #friends .tab-bar .tab-bar-item.selected .badge {
    background-color: #d1aa4c;
    color: black;
}
.theme-dark #friends .tab-bar .tab-bar-item .badge {
    background-color: #d1aa4c;
    color: black;
    padding: 4px 7px;
    border-radius: 0px;
}
.contentSelectedText-3wUhMi {
    background-color: rgba(0,0,0,0.7);
}
.contentHoveredText-2D9B-x, 
.contentHoveredVoice-3p_NEO:active, 
.contentSelectedVoice-1WDIBM:active {
    background-color: rgba(0,0,0,0.4);
}
.container-1UB9sr {
    border-bottom: none;
}
.theme-dark .message-group .comment .markup .mention:hover,
.theme-dark .mention {
    background-color: #d1aa4c !important;
    color: black;
}
.theme-dark .description-11DmNu, 
.theme-dark .descriptionUsername-J_75O8,
.marginLeft4-3VaXdt,
.marginLeft8-1YseBe,
.theme-dark .descriptionDiscriminator-3vUOCc {
    color: white;
}
.theme-dark .iconForeground-1w5n7R,
.theme-dark .activityIconForeground-qYIPPg {
    fill: white;
}
.theme-dark .message-group .comment .markup .mention,
.theme-dark .mention {
    background-color: black !important;
    color: white;
}
.theme-dark .reaction.reaction-me {
    background: #d1aa4c;
}
.theme-dark .reaction.reaction-me .reaction-count {
    color: black;
}
.wrapper-232cHJ,
.badge,
.wrapper-2NJDcI {
    background-color: #d1aa4c;
    border-radius: 0px;
    color: black;
}
.message-group .mentioned .message-text:after {
    background: none;
}
.theme-dark .message-group .mentioned .message-text {
    background: rgba(209, 170, 76,.3);
}
.botTagRegular-2HEhHi,
.botTagInvert-18-95s {
    background: #d1aa4c;
    color: black;
}
.theme-dark .chat .jump-to-present-bar,
.chat .new-messages-bar {
    background-color: #d1aa4c !important;
}
.chat .jump-to-present-bar button:last-child,
.chat .jump-to-present-bar button,
.chat .new-messages-bar button,
.chat .new-messages-bar button:last-child {
    color: black;
}
.theme-dark .chat .has-more button {
    background: rgba(0,0,0,0.6);
    border: none;
    color: white;
}
/* Badges */
.unread-1xRYoj,
.mention-1f5kbO{
    background-color: #d1aa4c;
}
.unread-1xRYoj:hover,
.mention-1f5kbO:hover{
    background-color: #f8bd55;
}
/* ========= */
/* Emote Menu */
.bda-dark .emojiPicker-3m1S-j .header-1nkwgG .search-bar {
    background-color: transparent;
}
.bda-dark #bda-qem-favourite-container, .bda-dark #bda-qem-twitch-container, .bda-dark .emoji-picker, .bda-dark .emojiPicker-3m1S-j {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.2) 100%),url(http://www.modafinilsale.com/data/out/826/233366387-wallpaper-old-paper.jpg);
    border: none;
    background-size: cover;
}

.bda-dark .emoji-picker .category, .bda-dark .emojiPicker-3m1S-j .category-2U57w6,
.emojiPicker-3m1S-j .stickyHeader-1SS0JU {
    background-color: transparent;
    color: white;
}
.search-bar.search-bar-light .search-bar-inner {
    background-color: rgba(209, 170, 76,0.32);
}
.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.selected-39BZ4S {
    border-bottom-color: #d1aa4c;
}
.bda-dark #bda-qem {
    border-bottom: none !important;
    background: black;
}
.bda-dark #bda-qem button.active {
    background-color: #d1aa4c;
    color: black;
}
.bda-dark #bda-qem button {
    background: black;
    border-left: none;
    box-shadow: none;
    color: #FFF;
}
.bda-dark #bda-qem button:hover {
    background-color: #f8bd55;
    color: black;
}
.emojiPicker-3m1S-j .dimmer-3iH-5D.visible-3k45bQ  {
    background-color: rgba(0,0,0,0.35);
}
.bda-dark .emojiPicker-3m1S-j .diversitySelector-tmmMv0 .popout-2nUePc {
    background: black;
    border-color: transparent;
}
/* -------- Upload Modal -------- */
.uploadModal-2ifh8j .inner-3nWsbo {
    border: 2px solid #d1aa4c;
    color: rgb(255, 255, 255);
}
.uploadModal-2ifh8j {
    background-color: black;
}
.uploadModal-2ifh8j .footer-3mqk7D {
    background-color: black;
}
.uploadModal-2ifh8j .footer-3mqk7D .button {
    background-color: rgba(255,0,0,0.4);
}
.uploadModal-2ifh8j .footer-3mqk7D .button:hover {
    background-color: rgba(255,0,0,0.8);
}
.uploadModal-2ifh8j .footer-3mqk7D .button-primary {
    background-color: #d1aa4c !important;
    color: black;
    border: none;
}
.uploadModal-2ifh8j .footer-3mqk7D .button-primary:hover {
    background-color: #f8bd55 !important;
    opacity: 1;
}
.uploadDropModal-2kTwbc {
   background: black;
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .bgScale-1otPtc  {
    background: black !important;
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo  {
    background: black !important;
    border: none;
}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
    background-color: transparent;
    background-size: cover;
    border: none;
    border-radius: 0px;
}
.theme-brand .inner-zqa7da {
    background-color: rgba(255,255,255,0.14);
}
/* -------- Invite Menu -------- */
/* New Invite Stuff */
.wrapper-VSYYTS {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.2) 100%),url(http://www.modafinilsale.com/data/out/826/233366387-wallpaper-old-paper.jpg);
    border: none;
    height: 260px;
    width: 460px;
}
.form-deprecated .form-header, 
.form.deprecated .form-header {
    background: transparent;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    color: white;
}
.form-deprecated .Select-control, 
.form.deprecated .Select-control {
    border: 1px solid black;
    background: black;
}
.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label, 
.has-value.Select--single>.Select-control .Select-value .Select-value-label {
    color: white;
}
.form-deprecated .form-inner, 
.form.deprecated .form-inner {
    background-color: transparent;
}
.wrapper-VSYYTS .instantInviteModal-5L33Qh .form-actions {
    background-color: transparent;
}
.wrapper-VSYYTS .instantInviteModal-5L33Qh {
    position: absolute;
    width: 440px;
}
.wrapper-VSYYTS .instantInviteModalAdvanced-38f2M0 .form-actions {
    background-color: transparent;
}
.Select-menu-outer {
    background-color: transparent;
    border: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-color: transparent;
    box-shadow: none;
}
/* Invite Checkbox*/
.checkbox .checkbox-inner+span {
    color: white;
}
/* ----------------------- */
.wrapper-VSYYTS .instantInviteModal-5L33Qh .checkbox .checkbox-inner span,
.wrapper-VSYYTS .instantInviteModalAdvanced-38f2M0 .checkbox .checkbox-inner span {
    border: 2px solid #f8bd55;
}
.form-deprecated .is-focused:not(.is-open)>.Select-control, 
.form.deprecated .is-focused:not(.is-open)>.Select-control {
    border: 1px solid #967a37;
}
.form-deprecated .Select.is-disabled .Select-control:hover, 
.form-deprecated .Select.is-open .Select-control:hover,
.form.deprecated .Select.is-disabled .Select-control:hover, 
.form.deprecated .Select.is-open .Select-control:hover {
    border-color: #f8bd55;
}
.form-deprecated .Select.is-disabled .Select-control,
.form-deprecated .Select.is-open .Select-control, 
.form.deprecated .Select.is-disabled .Select-control, 
.form.deprecated .Select.is-open .Select-control {
    border: 1px solid #967a37;
}
.wrapper-VSYYTS .instantInviteModal-5L33Qh .form-header header,
.wrapper-VSYYTS .instantInviteModal-5L33Qh .blurb-ArHxCz,
.wrapper-VSYYTS .instantInviteModal-5L33Qh .expireText-NeAc7v,
.wrapper-VSYYTS .instantInviteModalAdvanced-38f2M0 .form-actions .btn-default,
.form-deprecated .control-group .help-text, .form.deprecated .control-group .help-text,
.form-deprecated .control-group label, .form.deprecated .control-group label {
    color: white;
}
.form-deprecated .Select-option.is-focused, 
.form.deprecated .Select-option.is-focused {
    background: #967a37;
    color: white;
}
.form-deprecated .Select-option,
.form.deprecated .Select-option {
    color: white;
    background: black;
}
.Select .Select-option.is-selected {
    background-color: #d1aa4c;
}
.form-deprecated .btn-primary, 
.form.deprecated .btn-primary {
    background-color: black;
    border-radius: 0px;
    color: rgb(255, 255, 255);
    border: none;
}
.form-deprecated .btn-primary:hover, 
.form.deprecated .btn-primary:hover {
    background-color: #d1aa4c;
    color: rgb(255, 255, 255);
}
.clipboardInputInner-oj8y-S {
    background: black;
    border: 1px solid #d1aa4c;
    width: 420px;
    margin-left: -12px;
}
.wrapper-VSYYTS .instantInviteModal-5L33Qh .clipboardInputInner-dxVheg input {
    color: white;
    background: black;
}
.wrapper-VSYYTS .instantInviteModal-5L33Qh .copy-2xFKb_ {
    background-color: black;
    border-left: none;
}
/* Copied Invite Button */
.clipboardInputCopied-UXgFh2 .clipboardInputInner-oj8y-S {
    border-color: black;
}
/* -------------------- */
.clipboardInputInner-oj8y-S button:first-of-type:before {
    background: linear-gradient(90deg,rgba(255, 255, 255, 0), black);
}
/* ================ */
.theme-dark .searchPopout-1vUlP3 {
    box-shadow: none;
    background: black;
}
.theme-dark .resultsGroup-r_nuzN:before {
    border-top: none;
}
.theme-dark .resultsGroup-r_nuzN .header-2N-gMV {
    color: white;
    text-transform: Capitalize;
}
.option-96V44q:after,
.option-96V44q.selected-rZcOL-:after,
.theme-dark .option-96V44q.selected-rZcOL- {
    background: transparent;
}
.theme-dark .searchOption-zQ-1l6 .filter-3Y_im-,
.theme-dark .option-96V44q .filter-3Y_im- {
  color: white;
}
.theme-dark .option-1MvVr1 .nonText-1oayCI {
    color: #3d3d3d;
}
.theme-dark .searchOption-zQ-1l6 .answer-1n6g43 {
    color: white;
    font-weight: normal;
    background-color: rgba(209, 170, 76,0.6);
    padding: 4px 4px;
}

.theme-dark .searchQuery-1B7rtx {
    border: none;
    border-bottom: none;
    color: gray;
}
.search-popout .option.user .displayed-nick {
    color: #515151;
    font-weight: 500;
    margin: 0 5px;
}
.theme-dark .option-1MvVr1.user-1TwSRF .displayUsername-3PmTeH {
    color: #bfbfbf;
    background-color: rgba(209, 170, 76,0.6);
    padding: 4px 4px;
    font-weight: normal;
}
.search-result-channel-icon {
    color: gray;
    margin-right: 4px;
    vertical-align: top;
}
.option-96V44q.selected-rZcOL- {
    background-color: black;
   border: 2px solid #d1aa4c;
}
/* This Weeks Update Right Now */ 
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__current-month {
   background: black;
   color: #d1aa4c;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled {
    background-color: black;
    color: red;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker {
    background: black;
    border: none;
}

.theme-dark .datePicker-1RD4eT .datePickerHint-1iW7Wz {
    border-top: none;
}
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z {
    background-color: #d1aa4c;
    border-radius: 0px;
    border: none;
}
.theme-dark .searchAnswer-3Dz2-q, 
.theme-dark .searchFilter-2ESiM3 {
    background-color: #d1aa4c;
    color: black;
}
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z:hover {
    background-color: #f8bd55;
    border: none;
}
.react-datepicker__day.react-datepicker__day--tue.react-datepicker__day--disabled.react-datepicker__day--outside-month {
    border: none;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--disabled, 
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--disabled:hover {
    border: none;
    color: rgba(255,255,255,0.2);
    background: black;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after {

   background: none;
}
.calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected {

    background-color: #d1aa4c;
    color: white;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day {
    background: black;
    border: none;
    color: rgba(255,255,255,0.8);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:hover, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day:hover {
    background: #dba74b;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day-name {
   color: white;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header {
   background: black;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__current-month {
   border: none;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--disabled, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month {
   color: rgba(255,255,255,0.3);
   border: none;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--disabled, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month:hover { 
    background: #b58a3e;
}
.theme-dark .search-results-wrap .search-header {
    background-color: black;
    box-shadow: none;
}
.theme-dark .search-results-wrap .search-header .tab.selected {
       background-color: black;
}
/* ================== */
/* Need Help */
.need-help-modal.deprecated .footer {
    background-color: black;
    border-top: none;
    color: #d1aa4c;
}
.need-help-modal.deprecated a {
    color: #edc156;
}
.need-help-modal.deprecated .form-inner {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.2) 100%),url(http://www.modafinilsale.com/data/out/826/233366387-wallpaper-old-paper.jpg);
    background-size: cover;
}
.need-help-modal.deprecated .header {
    background-color: black;
}
.need-help-modal.deprecated .header h1 {
    color: #d1aa4c;
}
.need-help-modal.deprecated .header input[type=text] {
    background-color: black;
    border-radius: 0px;
    box-shadow: none;
    color: #d1aa4c;
    border: none;
}
.need-help-modal.deprecated .header input[type=text]:focus {
    border-bottom: 1px solid #d1aa4c;
}
.theme-dark .activityFeed-28jde9 {
    background-color: rgba(0,0,0,0.3);
}
.arrow-1-DaGi,
.theme-dark .discriminator-1Kma2g{
    color: white;
}
.theme-dark .card-7JP0BX {
    background-color: black;
    color: white;
}
.theme-dark .header-1RC2Wb {
    background-color: rgba(0, 0, 0,0.4) /* (Main Color, .4) */;
}
.theme-dark .header-1RC2Wb:hover {
    background-color: rgba(0, 0, 0,.7) /* (Main Color, .7) */;
}
.headerButtonColor-G7_f-V,
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6{
    background: black !important;
    color: #fff;
}
.headerButtonColor-G7_f-V:hover {
    box-shadow: 0 0 16px 4px white;
}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover {
    box-shadow: 0 0 16px 4px white;
}
.theme-dark .body-SKIE6r {
    background-color: transparent;
}
.theme-dark .headerText-2niCs_ {
    border-top-color: transparent;
    color: white;
}
.theme-dark .player-1kJMbj {
    border-bottom-color: transparent;
}
.theme-dark .sectionLine-JjseS9 {
    background-color: transparent;
}
.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.6);
    border-color: rgba(0, 0, 0, 0);
}
.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track {
    background-color: transparent;
}
