//META{"name":"Ram_Theme","description":"Team Ram Theme","author":"DevilsTheAvenged","version":"1.0"}*//{}
@import url(https://gitcdn.xyz/repo/themoonisacheese/themer.js/master/themer.js.css);
@import url(https://cdn.rawgit.com/DevilsLynAvenged/Other-Workspace/afecc537/Ram2.theme.css);
.app,.callout-backdrop {
	background-image: url("https://img00.deviantart.net/6892/i/2016/269/a/9/minimalist_wallpaper___ram__re_zero__by_mrtapoz_kun-daisdq0.jpg");
	background-size: cover !important;
	background-position: center !important;
}
.bda-backdrop {
	background: url("https://img00.deviantart.net/6892/i/2016/269/a/9/minimalist_wallpaper___ram__re_zero__by_mrtapoz_kun-daisdq0.jpg");
	background-size: cover!important;
}

#pubs-container:before {
	background: url("https://img00.deviantart.net/6892/i/2016/269/a/9/minimalist_wallpaper___ram__re_zero__by_mrtapoz_kun-daisdq0.jpg")!important;
	background-size: cover!important;
}

