//META{"name":"Rem_Theme","description":"Team Rem Theme","author":"DevilsTheAvenged","version":"1.0"}*//{}

@import url(https://cdn.rawgit.com/DevilsLynAvenged/Other-Workspace/d24a1856/Rem2.theme.css);
@import url(https://gitcdn.xyz/repo/themoonisacheese/themer.js/master/themer.js.css);
/* Backgrounds */
.app {
	background-image: url("https://pre00.deviantart.net/1bd2/th/pre/i/2016/270/e/0/minimalist_wallpaper___rem__re_zero__by_mrtapoz_kun-daj54o1.jpg");
	background-size: cover !important;
	background-position: center !important;
}
.callout-backdrop {
	background-image: url("https://pre00.deviantart.net/0d56/th/pre/i/2016/284/4/a/rem___re_zero_by_rosalyneres-dakh2gs.png");
	background-size: cover !important;
	background-position: center !important;
}
[class="callout-backdrop"][style*="opacity: 0.85; background-color: rgb(0, 0, 0); transform: translateZ(0px);"] {
   opacity: 0.8 !important;
}
.bda-backdrop {
	background: url("https://pre00.deviantart.net/1bd2/th/pre/i/2016/270/e/0/minimalist_wallpaper___rem__re_zero__by_mrtapoz_kun-daj54o1.jpg");
	background-size: cover!important;
}

#pubs-container:before {
	background: url("https://pre00.deviantart.net/1bd2/th/pre/i/2016/270/e/0/minimalist_wallpaper___rem__re_zero__by_mrtapoz_kun-daj54o1.jpg")!important;
	background-size: cover!important;
}
.theme-dark .chat{background: transparent;}

.layers, .layer { background: transparent !important; }
























