//META{"name":"Rem_Theme","description":"Team Rem Theme","author":"DevilsTheAvenged","version":"1.4"}*//{}

@import url(https://cdn.rawgit.com/DevilsLynAvenged/Other-Workspace/3b9232de/SomeUnImportantStuff/Rem2.theme.css);
/* Backgrounds */
.app,#pubs-container:before {
	background-image: url("https://pre00.deviantart.net/1bd2/th/pre/i/2016/270/e/0/minimalist_wallpaper___rem__re_zero__by_mrtapoz_kun-daj54o1.jpg");
	background-size: cover !important;
	background-position: center !important;
}

.callout-backdrop {
	background-image: url("https://wallpaperscraft.com/image/rem_re_zero_girl_anime_112238_2560x1024.jpg");
	background-size: cover !important;
	background-position: center !important;
}
[class="callout-backdrop"][style*="opacity: 0.85; background-color: rgb(0, 0, 0); transform: translateZ(0px);"] {
   opacity: 0.8 !important;
}
.bda-backdrop {
	background: url("https://pre00.deviantart.net/1bd2/th/pre/i/2016/270/e/0/minimalist_wallpaper___rem__re_zero__by_mrtapoz_kun-daj54o1.jpg");
	background-size: cover!important;
}

























