//META{"name":"Twitch_Theme","description":"Regular Twitch Theme","author":"DevilsTheAvenged","version":"1.4"}*//{}
@import url('https://fonts.googleapis.com/css?family=Marvel');
.app {
	background-image: url("https://images8.alphacoders.com/702/thumb-1920-702959.jpg");
	background-size: cover;
}
* { 
    font-family: Marvel !important;
}
.ace-monokai .ace_comment {
    color: #e5e5e5;
}
/* fix not having a background image anymore */
.layers-3iHuyZ, .layer-3QrUeG, .container-2lgZY8, .typing-2GQL18 {
  background: transparent !important;
}
/* optionally adjust background brightness (0: original image, 1: black) */
.layers-3iHuyZ {
  background: rgba(0,0,0,0.7) !important;
}
.channels-Ie2l6A,
.theme-dark .title-3qD0b-,
.container-PNkimc,
.container-2lgZY8,
.guilds-wrapper,
.theme-dark .chat form,
.theme-dark .chat>.content,
.theme-dark .chat,
.chat .messages,
.theme-dark .friends-table, .theme-dark .messages-wrapper,
.theme-dark .members-1998pB,
.theme-dark #friends,
.theme-dark .headerBar-UHpsPw,
.theme-dark .ui-standard-sidebar-view,
.theme-dark .attachButtonDivider-3Glu60 {
    background-color: transparent;
}

.theme-dark .ui-standard-sidebar-view .content-region,
.theme-dark .ui-standard-sidebar-view .sidebar-region  {
    background: rgba(0,0,0,0.3);
}
.theme-dark .chat form {
    box-shadow: none;
}
.theme-dark .message-group:not(.has-divider) {
    border-bottom-color: transparent;
}
.theme-dark .inner-zqa7da {
    background-color: rgba(100,65,164,0.3);
    border-radius: 15px;
}
.innerAutocomplete-1PN280 {
    border-radius: 0 0 15px 15px !important;
}
.theme-dark .autocomplete-1vrmpx {
    background-color: #39255e;
    border-radius: 15px 15px 0 0;
}
.theme-dark .selectorSelected-1_M1WV {
    background-color: #4a307a;
}
.attachButton-1UjEWA {
    background-image: url(https://png.icons8.com/material/40/FFFFFF/upload.png);
    background-size: cover;
}
.theme-dark .attachButtonPlus-rUdX-B {
    fill: transparent;
}
.progress-2XXRYo,
.progressBar-3u8FBM.small-1CUeBa[style*=“background-color: rgb(114, 137, 218);”] {
    background-color: #3c2762 !important;
}
.theme-dark .contentTitle-2tG_sM,
.marginLeft4-3VaXdt,
.theme-dark .description-11DmNu, 
.theme-dark .descriptionUsername-J_75O8,
.theme-brand .descriptionDiscriminator-3vUOCc,
.marginLeft8-1YseBe {
    color: white;
    text-transform: capitalize;
}
.theme-dark .member-3W1lQa.popout-open .content-OzHfo4, 
.theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4, 
.theme-dark .member-3W1lQa:hover .content-OzHfo4,
.memberOnline-1CIh-0.member-3W1lQa.popout-open {
    background: black !important;
    border: 2px solid #3c2762;
}

.theme-dark .membersGroup-v9BXpm {
    color: white;
}
.theme-dark .iconForeground-1w5n7R {
    fill: white;
}
.chat .avatar-large {
    width: 68px;
    height: 68px;
    background-size: cover;
    opacity: 1 !important;
}
.backdrop-1ocfXc {
    background-color: rgba(0,0,0,0.3) !important;
}
/* Upload Section */
.uploadModal-2ifh8j .inner-3nWsbo {
    border: none;
    color: rgb(255, 255, 255);
}
.uploadModal-2ifh8j {
     background-color: #5b3b96;
}
.uploadModal-2ifh8j .footer-3mqk7D {
    background-color: black;
}
.uploadModal-2ifh8j .footer-3mqk7D .button {
    background-color: #ff0000;
    transition: border .3s ease-out;
    border: 1px solid black; 
    flex: 1;
}
.uploadModal-2ifh8j .footer-3mqk7D .button:hover {
    border: 1px solid white; 
}
.uploadModal-2ifh8j .footer-3mqk7D .button-primary {
    background-color: #6d47b2;
    color: white;
    transition: border .3s ease-out;
    border: 1px solid black; 
    opacity: 1 !important;
}

.uploadModal-2ifh8j .footer-3mqk7D .button-primary:hover {
    border: 1px solid white; 
}
.uploadDropModal-2kTwbc {
   background: black;
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .bgScale-1otPtc  {
    background: black !important;
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo  {
    background: #5b3b96 !important;
    border: none;
}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
    background-color: transparent;
    background-size: cover;
    border: none;
    border-radius: 0px;
}

.guilds-wrapper .guilds .guild.unread:before {
    border-radius: 0px;
    background-color: #7752ba;
}
.theme-dark .reaction.reaction-me {
    background-color: #7b5eb2;
    border: 1px solid black;
}
.theme-dark .reaction.reaction-me .reaction-count {
    color: white;
}
.small-popout-box {
    background: #482A89;
    border: none;
    border-radius: 0px;
}
.option-popout .btn-item:hover {
    color: white;
    cursor: pointer;
}

.theme-dark .menu-Sp6bN1 {
    background: #422b6c;
    border-radius: 0px;
    box-shadow: none;
}
.theme-dark .message-group h2 .timestamp {
    color: silver;
}
.theme-dark .separator-2zcjq8 {
    border-bottom: none;
}
.theme-dark .item-1GzJrl:hover {
    background-color: #6d47b2;
    color: white;
}
.botTagInvert-18-95s {
    background: #482A89;
    color: white;
    padding: 8px 4px;
}
.theme-dark .item-1GzJrl {
    transition: background-color .3s ease;
}
.video-1FfuMD {
    background-color: rgba(0,0,0,0.4);
}

.theme-dark .message-group .comment .markup .mention,
.theme-dark .mention{
    background-color: black !important;
    border: 1px solid #482A89;
    color: white !important;
}
.theme-dark .message-group .comment .markup .mention:hover,
.theme-dark .mention:hover {
    border: 2px solid #482A89;
}
.botTagRegular-2HEhHi {
    background: #482A89;
    color: #fff;
}

.mediaBarGrabber-1FqnbN, .mediaBarProgress-1xaPtl, 
.mediaBarProgress-1xaPtl:after, 
.mediaBarProgress-1xaPtl:before {
    background-color: #482A89;
}
.mediaBarInteraction-37i2O4:hover .mediaBarWrapper-3D7r67, 
.mediaBarInteractionDragging-2QurIZ:hover .mediaBarWrapper-3D7r67 {
    box-shadow: none;
}
.mediaBarPreview-1jfyFs, 
.mediaBarPreview-1jfyFs:after,
.mediaBarPreview-1jfyFs:before {
    background-color: rgba(255,255,255,0.7);
}
.mediaBarInteraction-37i2O4:hover .mediaBarGrabber-1FqnbN {
    background-color: #361C78;
}
.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(240, 71, 71);"] {
    background: #C62828 !important;
    border-color: black !important;
    color: white !Important;
}
.buffer-3qw5qC, 
.buffer-3qw5qC:after, 
.buffer-3qw5qC:before {
    background-color: black;
}
.mediaBarWrapper-3D7r67, 
.mediaBarWrapper-3D7r67:after, 
.mediaBarWrapper-3D7r67:before {
    background-color: black;
}
.progressBar-3u8FBM {
    background-color: black;
}
.progress-3Rbvu0 {
    background-color: #533688;
}
.theme-dark .message-group .mentioned .message-text {
    background: #322052;
    padding: 2px 2px;
}
.message-group .mentioned .message-text:after {
    background: transparent;
    border-left: none;
}
.unread-1xRYoj{
    background-color: rgba(91,59,150,0.5);
}
.unread-1xRYoj:hover {
    background-color: rgb(91,59,150);
}

.inner-btChU7 .channel-SEolQq {
    color: #fff !important;
    opacity: 1;
}
.mention-1f5kbO {
    height: 36px;
    font-size: 0px;
    top: -13px;
    border-radius: 0px;
    background-color: rgba(91,59,150,0.5);
}
.mention-1f5kbO:hover {
    height: 36px;
    font-size: 0px;
    top: -13px;
    border-radius: 0px;
    background-color: rgba(91,59,150,0.8);
}
.wrapper-232cHJ {
    background-color: #6d47b2;
    border-radius: 0px;
    color: #fff;
}
.badge {
    background-color: #6d47b2;
    border-radius: 0px;
    box-shadow: none;
    color: #fff;
}

.unread-1Dp-OI {
    background-color: #6d47b2;
    border-radius: 0 0px 0px 0;
    height: 4px;
    left: 0;
    margin-top: -4px;
    position: absolute;
    top: 50%;
    width: 8px;
}
.theme-dark #friends .tab-bar .tab-bar-item .badge {
    background-color: rgba(74,48,122, 0.6);
    color: white !important;
}
.theme-dark #friends .tab-bar .tab-bar-item.selected .badge {
    background-color: #4a307a;
    color: #fff;
}

.wanderingCubesItem-WPXqao,
.spinner-wandering-cubes-1eyF3t,
.spinner-wandering-cubes .spinner-item {
    background-color: #4a307a;
}

.tooltip.tooltip-red {
    background-color: rgba(0,0,0,0.4);
    border: 1px solid #6441A4;
}
.tooltip.tooltip-black {
    background-color: black;
    border: 1px solid #6441A4;
}
.tooltip.tooltip-red.tooltip-right:after {
    border-right: none;
}
.tooltip.tooltip-black.tooltip-top:after {
    border-top: none;
}
.tooltip.tooltip-black.tooltip-right:after {
    border-right: none;
}
.tooltip.tooltip-black.tooltip-bottom:after {
    border-bottom: none;
}
.tooltip.tooltip-black.tooltip-left:after {
    border-left: none;
}

.contentHoveredText-2D9B-x, 
.contentHoveredVoice-3p_NEO:active, 
.contentSelectedVoice-1WDIBM:active {
    background-color: rgba(91,59,150,0.4);
}
.contentSelectedText-3wUhMi {
    background-color: #7b5eb2;
}
.nameSelectedText-sp_EUw, 
.nameSelectedVoice-1qSph5 {
    color: white;
}
.alt-3btY0e .item-1GzJrl .helper-2c73HK {
    display: none;
}
.theme-dark .friends-table .messages .divider:before, 
.theme-dark .friends-table .messages .divider span, 
.theme-dark .messages-wrapper .messages .divider:before, 
.theme-dark .messages-wrapper .messages .divider span {
    background: none;
    box-shadow: none;
    border-radius: 0px;
    color: white !important;
}
.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-track-piece, 
.theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-track-piece {
    background-color: transparent;
    border-color: transparent;
}
.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-thumb, 
.theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-thumb {
    background-color: #5a3a93;
    border-color: transparent;
    border-radius: 0px;
}
.theme-dark .friends-table .messages .divider:not(.red) div,
.theme-dark .messages-wrapper .messages .divider:not(.red) div {
    background: transparent;
}
.theme-dark .friends-table .messages .divider.divider-red>div, 
.theme-dark .messages-wrapper .messages .divider.divider-red>div {
    background: transparent;
}
.chat .divider:before {
    background-color: transparent !important;
}
.theme-dark .friends-table .messages .divider.divider-red>span, 
.theme-dark .messages-wrapper .messages .divider.divider-red>span {
    color: white;
    background: #533688;
    border-radius: 0px;
    padding: 2px 8pc;
    box-shadow: 0 3px 2px black;
}
.chat .new-messages-bar {
    background-color: #533688 !important;
    border-radius: 0px;
}
.chat .new-messages-bar button:last-child {
    color: white !important;
} 
.theme-dark .chat .has-more button {
    background: #533688;
    border: 1px solid black;
    color: white;
}
.theme-dark .chat .jump-to-present-bar {
    background-color: #533688 !important;
}
.chat .jump-to-present-bar button:last-child {
    color: white !important;
}
.theme-dark .iconForeground-3y9f0B, 
.theme-dark .title-1aVOXw {
    color: white;
}
.theme-dark .iconBadge-2dji3k {
    border-color: black;
    left: 21px;
    border-radius: 0px;
    background: #5a3a93;
}
.theme-dark .message-group .comment .markup pre {
    background: transparent;
    border-color: transparent;
}
.theme-dark .message-group .comment .markup code.inline, 
.theme-dark .message-group .comment .markup pre code {
    background: rgba(255,255,255,0.07);
}
.theme-dark .hljs {
    color: white;
}
.theme-dark .hljs-name, 
.theme-dark .hljs-section, 
.theme-dark .hljs-selector-class, 
.theme-dark .hljs-selector-id, 
.theme-dark .hljs-title {
    color: #81a441;
}
.theme-dark .hljs-attr, 
.theme-dark .hljs-attribute, 
.theme-dark .hljs-class .hljs-title, 
.theme-dark .hljs-template-variable, 
.theme-dark .hljs-type, 
.theme-dark .hljs-variable {
    color: #d23636;
}
.theme-dark .hljs-bullet, 
.theme-dark .hljs-link, 
.theme-dark .hljs-meta, 
.theme-dark .hljs-meta .hljs-keyword, 
.theme-dark .hljs-selector-attr, 
.theme-dark .hljs-selector-pseudo, 
.theme-dark .hljs-subst, 
.theme-dark .hljs-symbol {
    color: #14a71d;
}
.theme-dark .hljs-doctag, 
.theme-dark .hljs-literal, 
.theme-dark .hljs-meta .hljs-meta-string, 
.theme-dark .hljs-number, 
.theme-dark .hljs-regexp, 
.theme-dark .hljs-string {
    color: #ff7f50;
}

.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group {
    background-color: black !important;
    border-color: transparent;
}

.message-group .edit-message .edit-container-outer {
    margin-left: -10px;
    margin-right: 6px;
}

.theme-dark .path2-1q7bG_ {
    opacity: .6;
    stroke: #6d47b2;
}
.theme-dark .path-92Hmty {
    stroke: #6d47b2;
}
.theme-dark .popoutList-T9CKZQ {
    background: black;
}
.selectableItem-1MP3MQ.selected-31soGA[style*="background: rgb(114, 137, 218);"] {
    background-color: #5b3b96 !important;
}

/* Notification Settings */
.theme-dark .modal-3HD5ck {
    background-color: black;
    box-shadow: none;
}
.theme-dark .footer-2yfCgX {
    background-color: black;
    box-shadow: none;
}
.theme-dark .select-2TCrqx .Select-menu-outer {
    background: black;
    border-color: none;
    box-shadow: none;
}
.theme-dark .select-2TCrqx .Select-option.is-focused, 
.theme-dark .select-2TCrqx .Select-option:hover {
    background: #6d47b2;
    transition: background 1s ease;
}
.theme-dark .button-mM-y8i {
    background-color: black !important;
    box-shadow: none;
}

.theme-dark .divider-3573oO {
    background-color: transparent;
}
.theme-dark .select-2TCrqx .Select-control .Select-placeholder,
.theme-dark .description-3_Ncsb, 
.theme-dark .labelDescriptor-1PqHgD {
    color: white;
}
.icon-JJBzjE {
    color: white;
}
.lighten-2aYaaU {
    opacity: .7;
}
.themeDefault-24hCdX,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch {
    background-color: #757575;
}
.theme-dark .cardPrimaryEditable-3KtE4g[style*="border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);"] {
    background: #6441a4 !important;
    border-color: black !important;
    box-shadow: 0 3px 2px black;
}
.theme-dark .checked-3_4uQ9 {
    background-color: #fff;
    border-color: black !important;
}
.cardPrimaryEditable-3KtE4g[style*="border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);"] polyline[stroke] {
    stroke: #6441a4;
    stroke-width: 2;
}
.theme-dark .checked-3_4uQ9[style*="background-color: rgb(114, 137, 218); border-color: rgb(114, 137, 218);"] {
     background: #6441a4 !important;
     border-color: #6441a4 !important;
}
.themeDefault-24hCdX.valueChecked-m-4IJZ,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked {
    background-color: #6441a4;
}
/* Discord Settings */
.avatar-uploader-inner {
    background-color: #5b3b96;
    border-radius: 50px;
}
.theme-dark .input-cIJ7To:focus, 
.theme-dark .input-cIJ7To.focused-1mmYsC {
    border-color: #5b3b96;
}
.theme-dark .input-cIJ7To {
    color: white;
}

.theme-dark .avatar-uploader-indicator {
    background-color: #5b3b96;
    border-radius: 0px;
    background-image: url(http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/device-camera-icon.png) !important;
    background-size: cover;
}

.userSettingsAccount-2eMFVR .userInfoViewing-16kqK3 .avatar-xxlarge {
    border-radius: 50px;
}
.statusRed-21U8Tp {
    color: #5b3b96;
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
    background-color: #5b3b96;
    color: #fff;
}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
    background-color: #4a307a;
}
.lookFilled-1Gx00P.colorBrand-3pXr91:active {
    background-color: #5b3b96;
}
.side-8zPYf6 .itemSelected-1qLhcL,
#bd-settings-sidebar .ui-tab-bar-item.selected,
#bd-settingspane-container .bd-pfbtn,
.bda-slist .bda-footer button {
    background-color: #6441a4;
    color: #fff;
}
.bda-slist .bda-header {
    color: white;
    border-bottom: none;
}

.bda-slist .bda-footer {
    border-top: none;
    color: silver;
}
.theme-dark .multiInputLast-1aQ3YA:before {
    border-right-color: transparent;
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
    background-color: #43a047;
    color: #fff;
}

.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
    background-color: #358038;
    color: #fff;
}
.lookFilled-1Gx00P.colorGreen-29iAKY:active {
    background-color: #43a047;
}
.lookOutlined-3sRXeN.colorRed-1TFJan {
    border-color: #e53935;
    background-color: #e53935;
    color: white;
}
.lookOutlined-3sRXeN.colorRed-1TFJan:hover {
    border-color: #d32f2f;
    background-color: #d32f2f;
    color: white;
}
.lookOutlined-3sRXeN.colorRed-1TFJan:active {
    background-color: #e53935;
    background: #e53935;
}

.themeClear-1EjkE4.valueUnchecked-2lU_20.sizeDefault-2YlOZr {
    box-shadow: inset 0 0 0 2px rgba(0,0,0,.6);

}
.theme-dark .accountBtnInner-sj5jLs {
    background-color: #6441A4;
    border-color: transparent;
    box-shadow: 0 3px 2px black;
}
.theme-dark .accountBtnInner-sj5jLs:hover {
    background-color: #503483;
    border-color: transparent;
    box-shadow: 0 3px 2px black;
}
.content-region #bd-customcss-attach-controls, 
#bd-customcss-detach-container #bd-customcss-attach-controls {
    background: black;
    color: #FFF;
    border: 0;
    box-shadow: none;
}
.ace-monokai,
.ace-monokai .ace_gutter {
    background-color: #161616 !important;
    color: white !important;
}
.ghostPill-2-KUPM {
    background-color: #F9A825;
    border-radius: 16px;
    color: white;
}
.theme-dark .user-settings-games .now-playing, 
.theme-light .user-settings-games .now-playing {
    background-color: #5a3a93;
    border-color: transparent;
    box-shadow: 0 3px 2px black;
}
.theme-dark .user-settings-games .game-name-input:focus, 
.theme-dark .user-settings-games .game-name-input:hover {
    border-color: #5a3a93;
    background-color: black;
}
.lookLink-9FtZy-.colorLink-35jkBc {
    color: #5a3a93;
}
.lookLink-9FtZy-.colorLink-35jkBc:hover .contents-18-Yxp {
    background-image: linear-gradient(0deg,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0) 1px,#5a3a93 0,#5a3a93 2px,rgba(0, 0, 0, 0) 0);
}
#bd-settingspane-container .ui-switch-item .style-description {
    color: silver;
    border-bottom: none;
}
a,
.app .welcomeMessage-3_Mcht h1,
.theme-dark .embedTitleLink-1Zla9e {
    color: #6441a4 !important;
}
.theme-dark .item-3eFBNF {
    box-shadow: none;
}
.theme-dark .user-settings-games .now-playing .last-played, 
.theme-dark .user-settings-games .now-playing .overlay-status-text, 
.theme-light .user-settings-games .now-playing .last-played, 
.theme-light .user-settings-games .now-playing .overlay-status-text {
    color: white;
}
.theme-dark .user-settings-games .game {
    box-shadow: none;
}
.theme-dark .side-8zPYf6 .itemDefault-3Jdr52:hover[style*="color: rgb(114, 137, 218);"] {
      background: rgba(109,76,65,.1) !important;
}
[class*="itemDefault-3Jdr52 item-PXvHYJ notSelected-1N1G5p"][style*="color: rgb(114, 137, 218);"] {
    color: #6441a4 !important;
}
.barFill-23-gu- {
    background: #6441a4 !important;
}
[class*="itemSelected-1qLhcL item-PXvHYJ selected-3s45Ha"][style*="color: rgb(255, 255, 255); background-color: rgb(114, 137, 218);"] {
    background: #6441a4 !important;
}
.checkbox .checkbox-inner input[type=checkbox]:checked+span {
    background-color: #6441a4;
    border-color: #6441a4;
}
.userSettingsVoice-iwdUCU .inputSensitivityToggle-2LKb8o.manual-36Evg9 .microphone-2rtdHw .fill-3eUagR {
    -webkit-transition: width 35ms ease;
    background-color: rgba(0,0,0,.15) !important;
    height: 100%;
    transition: width 35ms ease;
}
.theme-dark .bar-2Qqk5Z[style*="background: rgb(251, 184, 72);"] {
    background: #4f545c !important;
}
.theme-dark .notificationsSound-27jFSh {
    box-shadow: none;
}
.ace-monokai .ace_cursor {
    color: white;
}
[class*="ace_line"] {
     background: #6441a4;
}
.ui-standard-sidebar-view #bd-customcss-attach-controls button, 
.bd-detached-css-editor #bd-customcss-attach-controls button {
    background: #6441a4 !important;
    color: #FFF;
    height: 26px;
    border-radius: 0px;
    font-weight: 100;
    margin-top: 5px;
}
.ui-standard-sidebar-view #bd-customcss-attach-controls button:hover, 
.bd-detached-css-editor #bd-customcss-attach-controls button:hover {
    background: #503483 !important;
}
.ace_hidden-cursors .ace_cursor {
    opacity: 0.6;
}
.ui-standard-sidebar-view #editor-detached button {
    background: #6441a4;
}
.ui-standard-sidebar-view #editor-detached h3 {
    color: white;
}
.theme-dark .card-FDVird:before {
    background-color: #462d72;
    border-color: transparent;
}
.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
    background-color: transparent;
    border-color: black;
}
.userSettingsVoice-iwdUCU .media-engine-video {
    background-color: rgba(100,65,164,0.2);
}
.bda-slist li {
    background: black;
    border: 1px solid #6441a4;
    border-radius: 0px;
}
/* Search, Mention, Pins and such */
.theme-dark .messagesPopoutWrap-1MQ1bW .header-ykumBX {
    background-color: black !important;
    box-shadow: none;
}
.theme-dark .search-results-wrap .search-result:before,
.theme-dark .search-results-wrap .search-result:after {
    background: transparent;
}
.theme-dark .search-results-wrap .search-result .search-result-message.hit {
    border: 2px solid black;
    background: #281a41;
    box-shadow: none;
}
.theme-dark .search-results-wrap .channel-separator:before {
    border-color: transparent;
}
.theme-dark .search-results-wrap .search-header {
    background-color: black;
    box-shadow: none;
}
.theme-dark .search-results-wrap,
.theme-dark .search-results-wrap .channel-separator .channel-name {
    background-color: #3c2762;
}
.highlight {
    background: rgba(80,52,131,.5);
    padding: 3px 3px;
}
.theme-dark .search-results-wrap .search-result.expanded .search-result-message.hit {
    background-color: #3c2762;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.theme-dark .messagesPopoutWrap-1MQ1bW {
    background-color: black !important;
    border: none;
    box-shadow: none;
}
.theme-dark .item-1Yvehc:hover {
    background: #462d72;
    color: #fff !important;
}
.theme-dark .itemSubMenu-1vN_Yn {
    background: #322052;
}

.theme-dark .bar-2Qqk5Z {
    background: black;
}
.theme-dark .bubble-3we2di {
    background-color: black;
}
.theme-dark .elevationHigh-3A9Xbf {
    box-shadow: none;
}
.theme-dark .bubble-3we2di:before {
    border-top-color: transparent;
}
.theme-dark.contextMenu-HLZMGh {
    background: black;
    box-shadow: none;
}
.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group:hover .actionButtons-1sUUug
 {
    background: none !important;
    box-shadow: none !important;
}

.theme-dark .themed-popout .header .subtitle, 
.theme-dark .themed-popout .text {
    color: white;
}
.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group .actionButtons-1sUUug .jumpButton-3DTcS_,
.theme-dark .search-results-wrap .action-buttons .jump-button {
    background-color: #503483 !important;
    color: white;
}
.theme-dark .searchAnswer-3Dz2-q, 
.theme-dark .searchFilter-2ESiM3,
.aka-1mqp34 {
    background-color: #503483;
}

.theme-dark .searchPopout-1vUlP3 {
    background-color: black;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}

.option-96V44q:after {
    background: black;
}
.theme-dark .resultsGroup-r_nuzN:before {
    border-top: none;
}
.option-96V44q.selected-rZcOL-:after,
.theme-dark .option-96V44q.selected-rZcOL- {
    background: #503483;
}
.theme-dark .searchOption-zQ-1l6 .filter-3Y_im-, 
.theme-dark .option-96V44q .filter-3Y_im- {
   color: white !important;
   font-weight: bold;
}
.theme-dark .searchOption-zQ-1l6 .answer-1n6g43,
.theme-dark .searchQuery-1B7rtx {
   color: white;
}
.option-96V44q.selected-rZcOL-:before,
.option-96V44q.selected-rZcOL-:after,
.theme-dark .option-96V44q.selected-rZcOL- {
    background-color:  #503483;
}
.theme-dark .searchOption-zQ-1l6 .filter-3Y_im-,
.theme-dark .searchOption-zQ-1l6 .answer-1n6g43,
.theme-dark .option-96V44q strong {
    color: white;
}

.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z {
    background-color: #3c2762;
}
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z:hover {
    background-color: #503483;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker {
    background-color: black;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled {
    background-color: black;
    color: red;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__current-month {
    border-bottom-color: transparent;
    color: white;
    background-color: black;
}
[class="guild-inner"][style*="height: 20px;"] {
    background-color: black !important
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day-name {
    color: white;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header {
    background-color: black;
    border-color: transparent;
}
.theme-dark .datePicker-1RD4eT .datePickerHint-1iW7Wz {
    border-top: none;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month {
    background-color: black;
    color: rgba(255,255,255,.3);
}
.theme-dark .react-datepicker__day.react-datepicker__day--sun.react-datepicker__day--disabled.react-datepicker__day--outside-month,
.theme-dark .react-datepicker__day.react-datepicker__day--mon.react-datepicker__day--disabled.react-datepicker__day--outside-month,
.theme-dark .react-datepicker__day.react-datepicker__day--tue.react-datepicker__day--disabled.react-datepicker__day--outside-month,
.theme-dark .react-datepicker__day.react-datepicker__day--wed.react-datepicker__day--disabled.react-datepicker__day--outside-month,
.theme-dark .react-datepicker__day.react-datepicker__day--thu.react-datepicker__day--disabled.react-datepicker__day--outside-month,
.theme-dark .react-datepicker__day.react-datepicker__day--fri.react-datepicker__day--disabled.react-datepicker__day--outside-month,
.theme-dark .react-datepicker__day.react-datepicker__day--sat.react-datepicker__day--disabled.react-datepicker__day--outside-month {
     background-color: black !important;
     color: rgba(255,255,255,.4);
}
.theme-dark .react-datepicker__day.react-datepicker__day--sun.react-datepicker__day--outside-month:hover,
.theme-dark .react-datepicker__day.react-datepicker__day--mon.react-datepicker__day--outside-month:hover,
.theme-dark .react-datepicker__day.react-datepicker__day--tue.react-datepicker__day--outside-month:hover,
.theme-dark .react-datepicker__day.react-datepicker__day--wed.react-datepicker__day--outside-month:hover,
.theme-dark .react-datepicker__day.react-datepicker__day--thu.react-datepicker__day--outside-month:hover,
.theme-dark .react-datepicker__day.react-datepicker__day--fri.react-datepicker__day--outside-month:hover,
.theme-dark .react-datepicker__day.react-datepicker__day--sat.react-datepicker__day--outside-month:hover {
     background-color: #1e1331 !important;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after {
   background-color: transparent;
}
.theme-dark .react-datepicker__day.react-datepicker__day--sun.react-datepicker__day--disabled.react-datepicker__day--outside-month:hover,
.theme-dark .react-datepicker__day.react-datepicker__day--mon.react-datepicker__day--disabled.react-datepicker__day--outside-month:hover,
.theme-dark .react-datepicker__day.react-datepicker__day--tue.react-datepicker__day--disabled.react-datepicker__day--outside-month:hover,
.theme-dark .react-datepicker__day.react-datepicker__day--wed.react-datepicker__day--disabled.react-datepicker__day--outside-month:hover,
.theme-dark .react-datepicker__day.react-datepicker__day--thu.react-datepicker__day--disabled.react-datepicker__day--outside-month:hover,
.theme-dark .react-datepicker__day.react-datepicker__day--fri.react-datepicker__day--disabled.react-datepicker__day--outside-month:hover,
.theme-dark .react-datepicker__day.react-datepicker__day--sat.react-datepicker__day--disabled.react-datepicker__day--outside-month:hover {
     background-color: #281a41 !important;
     color: rgba(255,255,255,.4);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled:hover {
    background-color: #3c2762;
    color: rgba(255,255,255,.3);
    border: none;
}
.calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:hover {
    background-color: #5a3a93;
    color: #fff;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:hover, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day:hover {
    background-color: #462d72;
    color: #fff;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--disabled, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--disabled:hover {
      color: rgba(255,255,255,.3);
      background: #462d72;
      border: none;
}

.react-datepicker__day.react-datepicker__day--mon,
.react-datepicker__day.react-datepicker__day--tue,
.react-datepicker__day.react-datepicker__day--wed,
.react-datepicker__day.react-datepicker__day--thu,
.react-datepicker__day.react-datepicker__day--fri,
.react-datepicker__day.react-datepicker__day--sat,
.react-datepicker__day.react-datepicker__day--sun {
      background: #3c2762;
      border: none;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__week .react-datepicker__day:last-of-type {
    border: none;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__week:last-of-type .react-datepicker__day {
    border-bottom-color: transparent;
}
.theme-dark .itemGroup-oViAgA {
    border-color: transparent;
}
/* Need Help Menu */
.need-help-modal.deprecated .header {
    background-color: #503483;
    border-radius: 0px;
}
.form-deprecated .form-inner, 
.form.deprecated .form-inner {
    background-color: black;
}
.need-help-modal.deprecated .footer {
    background-color: black;
    border-radius: 0px;
    border-top: none;
    color: white;
}
.need-help-modal.deprecated .header input[type=text]:focus {
    border-bottom: none;
}
.need-help-modal.deprecated .header input[type=text] {
    background-color: black;
    box-shadow: none;
    color: white;
    border-radius: 0px;
}
.form-deprecated .control-group input[type=email], 
.form-deprecated .control-group input[type=number], 
.form-deprecated .control-group input[type=password], 
.form-deprecated .control-group input[type=text], 
.form-deprecated .control-group textarea, 
.form.deprecated .control-group input[type=email], 
.form.deprecated .control-group input[type=number], 
.form.deprecated .control-group input[type=password], 
.form.deprecated .control-group input[type=text], 
.form.deprecated .control-group textarea {
    border: none;
    border-bottom: none;
    color: white;
}
/* Emote Menu */
.bda-dark .emoji-picker, .bda-dark .emojiPicker-3m1S-j {
    background-color: black;
    border-radius: 0px;
    border: none;
}
.search-bar.search-bar-light .search-bar-inner {
    background-color: #3c2762;
    border: none;
}
.emojiPicker-3m1S-j .header-1nkwgG {
    border-bottom: none;
}
.emojiPicker-3m1S-j .category-2U57w6 {
    background-color: #3c2762;
    color: white;
}
.bda-dark .emojiPicker-3m1S-j .header-1nkwgG .search-bar {
    background-color: transparent;
}
.emojiPicker-3m1S-j .dimmer-3iH-5D.visible-3k45bQ  {
    background-color: rgba(0,0,0,0.65);
}
.bda-dark .emojiPicker-3m1S-j .diversitySelector-tmmMv0 .popout-2nUePc {
    background: black;
    border-color: transparent;
}
.bda-dark .emoji-picker .scroller::-webkit-scrollbar, 
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-track,
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-track-piece, 
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar, 
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track, 
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track-piece,
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar, 
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track, 
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track-piece, 
.bda-dark #pubs-container .scroller::-webkit-scrollbar, 
.bda-dark #pubs-container .scroller::-webkit-scrollbar-track, 
.bda-dark #pubs-container .scroller::-webkit-scrollbar-track-piece,
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar, 
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track, 
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track-piece {
    background-color: transparent !important;
    border-color: transparent !important;
}
.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb,
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-thumb, 
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-thumb, 
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-thumb, 
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-thumb, 
.bda-dark #pubs-container .scroller::-webkit-scrollbar-thumb {
    background-color: #5a3a93 !important;
    border-color: transparent !important;
    border-radius: 0px;
}
.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.selected-39BZ4S {
    border-bottom-color: #5a3a93;
}
.bda-dark #bda-qem {
    border-bottom: none !important;
    background: transparent;
}
.bda-dark #bda-qem button {
    background: black;
    border-left: none;
    box-shadow: none;
}
.bda-dark #bda-qem button:hover {
    background-color: #161719;
}
.bda-dark #bda-qem button.active {
    background-color: #7354ad;
}
/* Invite Menu */
.wrapper-VSYYTS {
    background: transparent;
    border-radius: 0px;
}
.checkbox .checkbox-inner+span {
    color: silver;
}
.form-deprecated .btn-primary, 
.form.deprecated .btn-primary {
    background-color: #5a3a93;
    border-radius: 0px;
    color: #fff;
    box-shadow: 0 6px 6px black;
}
.form-deprecated .btn-primary:hover, 
.form.deprecated .btn-primary:hover {
    background-color: #462d72;
    box-shadow: 0 6px 6px black;
}
.form-deprecated .Select-control, 
.form.deprecated .Select-control {
    border: none;
    border-radius: 0px !important;
}
.form-deprecated .is-focused:not(.is-open)>.Select-control, 
.form.deprecated .is-focused:not(.is-open)>.Select-control {
    border: none;
}
.Select-menu-outer {
    background-color: transparent;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-color: transparent;
    box-shadow: none;
}
.form-deprecated .Select.is-disabled .Select-control:hover, 
.form-deprecated .Select.is-open .Select-control:hover, 
.form.deprecated .Select.is-disabled .Select-control:hover, 
.form.deprecated .Select.is-open .Select-control:hover {
    border-color: transparent;
}
.form-deprecated .Select-option, 
.form.deprecated .Select-option {
    color: silver;
    background: black;
}
.wrapper-VSYYTS .instantInviteModal-5L33Qh .form-header header,
.wrapper-VSYYTS .instantInviteModal-5L33Qh .blurb-ArHxCz {
    color: white;
    opacity: 1;
}

.Select .Select-option.is-selected {
    background: #462d72;
}
.form-deprecated .Select-option.is-focused, 
.form.deprecated .Select-option.is-focused {
    background: #5a3a93;
    color: silver;
}
.Select--single>.Select-control .Select-value, 
.Select-placeholder {
    color: silver;
    background-color: #5a3a93;
    border-radius: 0px;
    border: none;
}
.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label, 
.has-value.Select--single>.Select-control .Select-value .Select-value-label {
    color: silver;
}
.form-deprecated .form-header, 
.form.deprecated .form-header,
.wrapper-VSYYTS .instantInviteModal-5L33Qh .form-actions {
    background: #503483;
    border: none;
    border-radius: 0px;
    color: white;
}
.wrapper-VSYYTS .instantInviteModalAdvanced-38f2M0 .form-actions {
    background-color: #3c2762;
    border-top: none;
    padding-top: 0;
}
.wrapper-VSYYTS .instantInviteModal-5L33Qh .clipboardInputInner-dxVheg input {
    color: silver;
    background: #322052;
}
.wrapper-VSYYTS .instantInviteModal-5L33Qh .copy-2xFKb_ {
    background-color: black;
    border: none;
}
.clipboardInputInner-oj8y-S button:first-of-type:before {
    background: linear-gradient(90deg,rgba(255, 255, 255, 0),#000);
}
.wrapper-VSYYTS .instantInviteModal-5L33Qh .checkbox .checkbox-inner input:checked+span,
.wrapper-VSYYTS .instantInviteModalAdvanced-38f2M0 .checkbox .checkbox-inner input:checked+span {
    border-color: #3c2762;
}
.clipboardInputInner-oj8y-S {
    background: transparent;
    border: none;
    border-radius: 0px;
}
.clipboardInputCopied-UXgFh2 .clipboardInputInner-oj8y-S {
    border-color: #3c2762 !important;
}
.clipboardInputCopied-UXgFh2 button {
    background-color: #3c2762!important;
    background-image: url(https://png.icons8.com/material/48/FFFFFF/invite.png)!important;
    border-color: #3c2762!important;
    color: rgba(0, 0, 0, 0)!important;
    background-size: 36px 36px;
}
/* Friends and DMs */
.theme-dark .themed-popout .header,
.theme-dark .themed-popout,
.theme-dark .themed-popout .footer,
.private-channel-recipients-invite .header .search-bar {
    background-color: black;
}
.guilds-wrapper .guilds .friends-icon {
    background-image: url(https://png.icons8.com/ios/40/FFFFFF/speech-bubble.png);
}
.guilds-wrapper .guilds .friends-icon {
    background-color: #6441a4;
}
.private-channel-recipients-invite .body .scroller::-webkit-scrollbar-thumb {
   background-color: #6441a4;
}
.guilds-wrapper .guilds .friends-icon:hover {
    background-color: #503483 !important;
}
.theme-dark #friends .friends-table .friends-table-header,
.theme-dark #friends .friends-table .friends-row+.friends-row {
    border: none;
}
.theme-dark .divider-1GKkV3 {
    background: transparent;
}
.theme-dark #friends .friends-table .friends-table-header .friends-column-separator {
    background-color: transparent;
}
.theme-dark #friends .friends-table .friends-row:hover {
    background: rgba(100,65,164,0.4);
    border-color: rgba(0, 0, 0, 0);
}

.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action {
    background-color: #3c2762;
}
.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action:hover {
    background-color: #6441a4 !important;
}
#friends .friends-table .friends-row .friends-column-actions .friends-action.friends-action-remove {
    background-image: url(https://png.icons8.com/material/48/cccccc/remove-user-male.png);
}
#friends .friends-table .friends-row .friends-column-actions .friends-action.friends-action-video-call {
    background-image: url(https://png.icons8.com/office/40/FFFFFF/video-conference.png);
}
#friends .friends-table .friends-row .friends-column-actions .friends-action.friends-action-voice-call {
    background-image: url(https://png.icons8.com/ultraviolet/40/FFFFFF/phone-office.png);
}
#friends .friends-table .friends-row .friends-column-guilds .more-mutual-guilds-btn {
    border-radius: 50px;
}
#friends .friends-table .friends-row .friends-column-guilds .avatar-small {
    background-color: #6441a4;
    color: #fff;
}
.private-channels .channel.selected a {
    background-color: #7354ad !important;
    color: #fff;
}
.private-channels .channel:hover a {
    background-color: #503483;
    color: #fff;
}
.theme-dark #friends .tab-bar .tab-bar-separator {
    background-color: transparent;
}
.theme-dark #friends .tab-bar .tab-bar-item.selected {
    background-color: #5a3a93;
    color: white;
}
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary {
    background-color: #462d72;
    color: #fff;
    box-shadow: 0 3px 6px black;
    border-radius: 0px;
}
.theme-dark #friends .tab-bar .tab-bar-item {
    border-radius: 5px;
}
.theme-dark #friends .tab-bar .tab-bar-item:hover:not(.selected) {
    border: 2px dashed #503483;
    background-color: transparent;
}
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary:hover:not(.selected) {
    background-color: #503483;
    color: #fff;
    box-shadow: 0 3px 6px black;
}
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary.selected {
    background-color: #7354ad;
    color: #fff;
    box-shadow: 0 3px 6px black;
}
#friends .btn {
    background-color: #3c2762;
    border-radius: 0px;
    color: #fff;
    box-shadow: 0 5px 6px black;
}
#friends .btn:hover {
    background-color: #5a3a93;
    border-radius: 0px;
}
.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track {
    background-color: transparent;
}
.theme-dark .popout .messages-popout-wrap .footer,
.theme-dark .private-channel-recipients-invite .friend {
    background-color: black;
}
.theme-dark .private-channel-recipients-invite .friend.selected, 
.theme-dark .private-channel-recipients-invite .friend:hover {
    background: linear-gradient(90deg,black 85%,#6441a4);
}
.private-channel-recipients-invite .footer button {
    background-color: #503483 !important;
    border-radius: 0px;
}
.search-bar-tag {
    background: black;
    border-radius: 0px;
    border: 1px solid #6441a4;
    color: #fff !important;
}
.theme-dark .quickswitcher-3JagVE {
    background-color:  black;
    color: white;
}
.theme-dark .tipsWithoutResults-lGY-De, 
.theme-dark .tipsWithResults-HhTE9b {
    border-color: transparent;
    color: white;
}
.theme-dark .keybindShortcut-1BD6Z1 span {
    background-color: #4527A0;
    border-color: transparent;
    box-shadow: 0 5px 6px black;
    color: white;
}
.theme-dark .input-2VB9rf {
    background-color: #111;
    box-shadow: none;
    color: #fff;
}
.theme-dark .input-2VB9rf:focus {
    border: 2px solid #00C853;
}
.theme-dark .keybindShortcut-1BD6Z1 span .bindArrow-2X3Aom g {
    fill: white !important;
}
.theme-dark .keybindShortcut-1BD6Z1 span:active {
    box-shadow: none;
    color: silver;
}
.guilds-wrapper .guilds-error {
    border-radius: 50px;
}
.guilds-wrapper .guilds-add {
    border-radius: 50px;
    background-color: black;
    border: 2px dashed #503483 !important;
}
.create-guild-container.deprecated .create-or-join .form-inner {
    background-color: black;
}
.create-guild-container.deprecated .action {
    background: #212121;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}
.create-guild-container.deprecated .create-or-join .actions .or {
    color: black;
}
.form-deprecated header, .form.deprecated header {
    color: #5a3a93;
}
.create-guild-container.deprecated .action:hover.create .btn {
   background-color: #5a3a93;
}
/* User Profile Popout and User Modal */
.theme-dark .body-3iLsc4, 
.theme-dark .footer-1fjuF6 {
    background-color: black;
    color: white;
    border: none;
}
.role-2irmRk {
    border: none;
}
.roleCircle-3xAZ1j {
    border-radius: 0px;
}
[class*="roleCircle-3xAZ1j"][style*="background-color: rgb(185, 187, 190);"] {
   background-color: transparent !important;
   border: 2px solid #6441a4;
}
.theme-dark .protip-YaFfgO-q743VF {
    display: none;
}
.headerPlaying-j0WQBV,
.topSectionPlaying-1J5E4n {
    background-color: #303f9f;
}
.lookInverted-2D7oAl.colorBrand-3pXr91 {
    background-color: #3949AB !important;
    color: white;
    box-shadow: 0 5px 6px black;
}
.headerSpotify-zpWxgT,
.topSectionSpotify-1lI0-P {
    background-color: #009900;
}
.lookInverted-2D7oAl.colorGreen-29iAKY {
    background-color: #2E7D32 !important;
    color: white;
    box-shadow: 0 5px 6px black;
}
.headerStreaming-2FjmGz,
.topSectionStreaming-1Tpf5X {
    background: url(http://pureinfotech.com/wp-content/uploads/2015/03/twitch-purple_large.jpg) 50%/cover;
}
.buttonInvertedPurple-WtBglX {
    background-color: #512DA8 !important;
    color: white;
    box-shadow: 0 5px 6px black;
}
.theme-dark .body-3ND3kc {
    background-color: black;
}
.theme-dark .listRow-hutiT_:hover {
    background: rgba(100,65,164,0.26);
}
.listAvatar-1NlAhb {
   background-color: transparent;
   border-radius: 50px;
}
.mask-3OgeRz {
    border-radius: 1;
    -webkit-mask: none;
    mask: none;
}
.theme-dark .headerNormal-T_seeN,
.theme-dark .topSectionNormal-2-vo2m {
    background: url(https://gamewave.fr/static/images/news/headers/43a82-Twitch-Streamers.jpg) 130%/cover;
}
.status-oxiHuE {
    border-radius: 50px;
}
