//META{"name":"WindowsTheme","description":"FreshWindowsTheme","author":"DevilsTheAvenged","version":"1.0"}*//{}
@import url(https://gitcdn.xyz/repo/themoonisacheese/themer.js/master/themer.js.css);
@import url(https://cdn.rawgit.com/DevilsLynAvenged/Other-Workspace/16223e66/subWindows.theme.css);
/* Backgrounds */

.app,
.callout-backdrop {
  background-image: url("https://www.walldevil.com/wallpapers/a45/3245-windows.jpg");
  background-size: cover !important;
  background-position: center !important;
}

.bda-backdrop {
  background: url("https://www.walldevil.com/wallpapers/a45/3245-windows.jpg");
  background-size: cover!important;
}

#pubs-container:before {
  background: url("https://www.walldevil.com/wallpapers/a45/3245-windows.jpg")!important;
  background-size: cover!important;
}

.theme-dark .chat {
  background: transparent;
}

.layers,
.layer {
  background: transparent !important;
}



