//META{"name":"WindowsTheme","description":"FreshWindowsTheme","author":"DevilsTheAvenged","version":"1.4"}*//{}
@import url(https://cdn.rawgit.com/DevilsLynAvenged/Other-Workspace/dc08d026/SomeUnImportantStuff/subWindows.theme.css);
/* Backgrounds */
.app,
.callout-backdrop,#pubs-container:before,.bda-backdrop {
  background-image: url("https://www.walldevil.com/wallpapers/a45/3245-windows.jpg");
  background-size: cover !important;
  background-position: center !important;
}


