//META{"name":"Winter","description":"Enjoy the 'Cool' Theme","author":"DevilsTheAvenged","version":"1.4"}*//{}

@import url(https://cdn.rawgit.com/DevilsLynAvenged/Other-Workspace/eb0f2ac0/SomeUnImportantStuff/WinterWonder.theme.css);

.app,.bda-backdrop,#pubs-container:before {
	background-image: url("https://wallpapercave.com/wp/aHXgonf.jpg") !important;
	background-size: cover !important;
	background-position: center !important;
}
