//META{"name":"Yoshi Theme","description":"The Great Yoshi Theme","author":"DevilsTheAvenged","version":"1.0"}*//{}
@import url(https://rawgit.com/DevilsLynAvenged/Other-Workspace/master/SomeUnImportantStuff/ThemeFixerv2.theme.css);
@import url(https://cdn.rawgit.com/DevilsLynAvenged/DevilsLynAvenged/3b021a78/Mario%20Crew/SuperYoshi.theme.css);
.app,
.callout-backdrop,
.bda-backdrop,
#pubs-container:before {
	background-image: url("https://img00.deviantart.net/062e/i/2014/176/d/7/yoshi_wallpaper_by_thegreatdawn-d78ejlc.jpg");
  background-size: cover !important;
	background-position: center !important;
}
