//META{"name":"Yumeko","description":"Who wants to play some Poker because I know I want to","author":"DevilsTheAvenged","version":"1.1"}*//{}

@import url(https://gitcdn.xyz/repo/themoonisacheese/themer.js/master/themer.js.css);
@import url(https://cdn.rawgit.com/DevilsLynAvenged/Other-Workspace/cca1c3e4/Gamble.Theme.css);
/* Backgrounds */
.app,
.callout-backdrop {
	background-image: url("https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-538720.png");
	background-size: cover !important;
	background-position: center !important;
}

.bda-backdrop {
	background: url("https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-538720.png");
	background-size: cover!important;
}

#pubs-container:before {
	background: url("https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-538720.png")!important;
	background-size: cover!important;
}

