.chat .content .messages .message-group .avatar-large {
    background-size: cover;
    width: 95px;
    height: 95px;
   animation: zoomIn  2s ease 0s 1 normal;
 }
* {
 font-size: 100%;
 font-family: "Arial" !important;
}
.avatarNormal-3luwna {
    border-color: #8ea1e1;
}

.avatar-1jmnc- {
    border: 8px ridge #c83349;
    border-radius: 10px;
}

.popout-UKvsJt {
    width: 100px;
    height: 90px;
    position: relative;
    left: -65px;
    top: -13px;
}
.avatarHint-2i5XWK {
    position: relative;
    left: -71px;
    top: -74px;
    box-shadow: inset 10px 10px 120px rgba(0, 0, 0,.95);
    font-style: italic;
    border-radius: 10%;
    font-size: 16px;
    text-transform: Uppercase;
    font-weight: 100;
  }
.chat .divider.divider-red>span {
    background: rgba(255, 153, 153, 1) !important;
    color: rgba(255, 255, 255, 1) !important;
}
.chat .new-messages-bar button {
    text-align: left;
    background: none;
    color: #fff;
    font-weight: 500;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    padding: 6px 10px;
    line-height: 14px;
    background: rgba(255, 77, 77,.95);
}
.headerNormal-1cioxU {
    background-image: url(https://images5.alphacoders.com/850/850108.png);
    background-size: cover;
}
.channel-members, .channel-members-wrap > div {
    background: rgba(204, 0, 102, 0.2) !important;
}
.channel-members .member {
   background-color: rgba(0, 0, 0, 0.3) !important;
    padding: 5px 6px 5px 30px;
    border-radius: 100px;
}
.theme-dark .channel-members h2 {
    color: hsla(0,0%,100%,1.0);
}
.channel-members h2 {
    color: #99aab5;
    font-size: 12px;
    text-transform: Capitalize;
    letter-spacing: .08em;
    font-weight: 900;
    font-style: oblique;
    font-size: 14px;
    padding: 0 30px;
    margin-top: 29px;
}
.title-wrap-dark {
    background: rgba(204, 0, 102, 0.3) !important;
}
.scroller-NXV0-d {
    background: rgba(204, 0, 102, 0.3) !important;
}
.nameDefaultVoice-1swZoh  {
    color: #ff33cc !important;
    background-color: #000000;
    border-radius: 10px;
    text-align: center;
}
.channel-text-area-default [class*="textArea-"], .channel-text-area-default [class*="selector-"] [class*="marginLeft8-"] {
    color: #ff80df !important;
}
::-webkit-input-placeholder {
  color: #cc3399 !important;
}
.channel-text-area-default [class*="inner-"], .channel-text-area-default [class*="autocomplete-"], .channel-text-area-default [class*="autocompleteInner-"], .channel-text-area-default [class*="selectorSelected-"] {
    background-color: rgba(153, 0, 51, 0.4) !important;
}
.member-roles .member-role>.name{color:#FFF;}
.member-roles .member-role{background-color:currentColor!important;border:0;}

.tooltip.tooltip-brand.tooltip-right:after {
    border-right-color: rgb(204, 0, 102);
}
.tooltip.tooltip-brand {
    background-color: rgb(204, 0, 102);
}
.container-iksrDt {
    background-color: rgba(204, 0, 102, 0.5);
}
.header-1tSljs {
    background-color: rgba(204, 0, 102, 0.3);
}
.platform-osx .guilds-wrapper {
     background-color: rgba(204, 0, 102, 0.3);
}
.guilds-wrapper .guilds .friends-icon {
    width: 50px;
    height: 50px;
    background-image: url(https://i.imgur.com/NYmkGpI.jpg);
    background-position: 7%;
    background-repeat: no-repeat;
    background-size: cover;
 }
.guilds-wrapper .guilds .guild .guild-inner {
    border-radius: 25px !important;
}
.scroller-fzNley {
   background-color: rgba(204, 0, 102,0.3);
}
.private-channels .channel .channel-name {
    color: #FFFFFF;
      opacity: 0.8;
    background-color: rgba(204, 0, 102, 0.9);
    border: 1px solid #000;
    border-radius: 10px;
    text-align: center;
}
.private-channels .channel .channel-activity-text {
    color: white;
 }
.private-channels .search-bar {
    background: rgba(204, 0, 102, 0.4) !important;
}
.content .flex-spacer, .content > .ui-flex {
    background: rgba(0,0,0,0.4);
}
.bd-detached-editor #bd-customcss-detach-container {
    display: block;
    background: rgba(204, 10, 112, 0.8);
}

#bd-customcss-detach-container {
    display: none;
    position: absolute;
    width: 30%;
    top: 0;
    right: 0;
    bottom: 0;
    padding-top: 58px;
    background-color: #36393e;
}
.content-region #bd-customcss-attach-controls, #bd-customcss-detach-container #bd-customcss-attach-controls {
    background: rgba(204, 10, 112, 0.8);
}
.itemBrand-mC9YR4 {
    color: rgba(204, 10, 112, 0.8);
}
.app a, .connecting a {
    color: rgba(204, 10, 112, 0.8);
}
.buttonBrandFilled-3Mv0Ra {
    color: #fff;
    background-color: rgba(204, 10, 112, 0.8);
    border: 1px dashed white;
}
.itemDefaultSelected-1UAWLe {
    color: #fff;
    background-color: rgba(204, 10, 112, 0.8);
    border: 1px dashed white;
}
.emoji-picker .scroller {
    background: rgb(60, 60, 60);
}
#bd-settings-sidebar .ui-tab-bar-item.selected {
    color: #fff;
    background-color: rgba(204, 10, 112, 0.8);
    border: 1px dashed white;
}
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked {
    background: rgba(204, 10, 112, 0.8);
 }
.ui-standard-sidebar-view #editor-detached button {
   background-color: rgba(204, 10, 112, 0.8);
    border: 3px dashed white;
    color: #FFF;
    font-weight: 600;
    border-radius: 65px;
    font-size: 30px;
}
.ui-standard-sidebar-view .bda-slist .bda-right button {
   background-color: rgba(204, 10, 112, 0.8);
    border: 1px dashed white;
    color: #FFF;
    border-radius: 13px;
 }
.checkbox .checkbox-inner input[type=checkbox]:checked+span {
    
   background-color: rgba(204, 10, 112, 0.8);
    border-color: rgb(255, 102, 153);
}
.bd-pfbtn {
   background-color: rgba(204, 10, 112, 0.8);
    border: 1px dashed white;
    color: #FFF;
    border-radius: 13px;
}
.cardPrimaryEditable-2IQ7-V[style*="background-color: rgb(114, 137, 218);"],
.radio-item.checked[style*="background-color: rgb(114, 137, 218);"],
.theme-light .ui-card-primary.checked {
    background-color: rgba(204, 10, 112, 0.8) !important;
    border: solid 4px rgb(255, 102, 153) !important;
}
.barFill-18ABna {
   background-color: rgba(204, 10, 112, 0.8);
}
.theme-dark .bar-2cFRGz {
    background: rgb(255, 102, 153);
}
.themeDefault-3M0dJU.valueChecked-3Bzkbm {
    background-color: rgba(204, 10, 112, 0.8);
}
.ui-standard-sidebar-view .bda-slist li:nth-child(odd) {
    background: rgb(128, 0, 42);
    border-top: 1px solid black;
}
.ui-standard-sidebar-view .bda-slist li {
    background: rgb(153, 0, 77);
    border-bottom: 1px solid black;
}
.bda-slist .bda-name {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
 }
 @keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
 } 
@keyframes flash {
  0%, 50%, 100% {
  opacity: 1;
  }
  
  25%, 75% {
  opacity: 0;
  }
  } 
.theme-dark .message-group .comment .markup {
    color: hsla(0,0%,100%,.7);
    animation: flash 2s ease 0s 1 normal;
}