//META{"name":"Luigi","description":"The Great Luigi Theme","author":"DevilsTheAvenged","version":"1.0"}*//{}
@import url(https://rawgit.com/DevilsLynAvenged/Other-Workspace/master/SomeUnImportantStuff/ThemeFixerv2.theme.css);
@import url(https://cdn.rawgit.com/DevilsLynAvenged/DevilsLynAvenged/59852343/Mario%20Crew/SuperLuigi.theme.css);
.app,
.callout-backdrop,
.bda-backdrop,
#pubs-container:before {
	background-image: url("https://wallpapercave.com/wp/3ahH5t6.png");
  background-size: cover !important;
	background-position: center !important;
}
