//META{"name":"Peach","description":"The Great Princess Peach Theme","author":"DevilsTheAvenged","version":"1.0"}*//{}
@import url(https://rawgit.com/DevilsLynAvenged/Other-Workspace/master/SomeUnImportantStuff/ThemeFixerv2.theme.css);
@import url(https://cdn.rawgit.com/DevilsLynAvenged/DevilsLynAvenged/59852343/Mario%20Crew/SuperPeach.theme.css);
.app,
.callout-backdrop,
.bda-backdrop,
#pubs-container:before {
	background-image: url("https://img00.deviantart.net/b31d/i/2015/068/7/5/princess_peach_wallpaper_by_heavz01-d8l3785.jpg");
  background-size: cover !important;
	background-position: center !important;
}

