//META{"name":"Chocola","description":"Brand New Awesome Chocola Theme","author":"DevilsLynAvenged","version":"1"}*//{}

/* Main Color: #593B3A */
/* RGB Main Color: rgb(89, 59, 58) */
/* Hover Color: #5B373A */
/* RGB Hover Color: rgb(91, 55, 58) */
/* Selected Color: #855857 */
/* Dark Color: #3e2928 */
#app-mount {
    background-image: url(http://www.wallpapermaiden.com/wallpaper/3844/download/1680x1050/nekopara-chocola-sayori-tears-sunset-sitting-visual-novel.png);
    background-size: cover;
}
.theme-dark .layer-3QrUeG, .theme-dark .layers-3iHuyZ, .theme-dark .typing-2GQL18{
    background: transparent;
}
.theme-dark .layers-3iHuyZ {
    background: rgba(0,0,0,.73);
}
.container-PNkimc,
.container-2lgZY8,
.channels-Ie2l6A,
.theme-dark .chat-3bRxxu,
.theme-dark .content-yTz4x3, 
.theme-dark .chat-3bRxxu form,
.theme-dark .friends-table, 
.theme-dark .messagesWrapper-3lZDfY,
.theme-dark .title-3qD0b- {
    background-color: transparent;
}
.typeMacOS-3EmCyP,
.theme-dark .members-1998pB,
.theme-dark .guildsWrapper-5TJh6A {
    background-color: rgba(0,0,0,0.4);
}
.theme-dark .title-3qD0b-,
.private-channels .searchBar-2_Yu-C,
.theme-dark .headerBar-UHpsPw {
    background: rgba(0,0,0,0.5);
    box-shadow: none;
}
.header-2o-2hj {
   background: rgba(0,0,0,0.5);
   box-shadow: none;
}
/* ------ */
/* Scrolls */
.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-track-piece, 
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
    background-color: transparent;
    border-color: transparent;
}
.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-thumb, 
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: #593B3A;
    border-color: transparent;
    border-radius: 0;
}
/* ----- */
/* Discord and BD Settings */
.theme-dark .standardSidebarView-3F1I7i {
   background-color: transparent;
}
.theme-dark .contentRegion-3nDuYy,
.theme-dark .sidebarRegion-VFTUkN {
    background: rgba(0,0,0,0.4);
}
.lookFilled-1Gx00P.colorBrand-3pXr91,
.lookFilled-1Gx00P.colorBrand-3pXr91:disabled {
    background-color: #593B3A; /* Main Color */
    color: #fff;
}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
    background-color: #5B373A; /* Hover Color */
    color: #fff;
}
.theme-dark .cardPrimary-1Hv-to,
.theme-dark .cardPrimaryEditable-3KtE4g {
    background: rgba(89, 59, 58,.4); /* RGB Main Color */
    border-color: transparent;
}
.theme-dark .userSettingsAccount-2eMFVR .viewBody-2Qz-jg,
.theme-dark .faded-3bns_w,
.theme-dark .h5-18_1nd,
.theme-dark .avatar-uploader .remove-button,
.theme-dark .standardSidebarView-3F1I7i .esc-text,
.theme-dark .inputPrefix-2VAOGg,
.theme-dark .select-2TCrqx .Select-control .Select-placeholder {
    color: white;
}
.theme-dark .description-3_Ncsb, 
.theme-dark .labelDescriptor-1PqHgD {
    color: silver;
}

.side-8zPYf6 .header-2RyJ0Y, 
.side-8zPYf6 .item-PXvHYJ{
    margin-bottom: 9px;
}
#bd-settings-sidebar .ui-tab-bar-item {
    margin-top: 9px;
    margin-bottom: 12px;
}
.theme-dark .header-2RyJ0Y,
.theme-dark #bd-settings-sidebar .ui-tab-bar-header {
    color: white;
    background-color: #593B3A; /* Main Color */
}
.header-2RyJ0Y,
#bd-settings-sidebar .ui-tab-bar-header {
    font-weight: normal;
    text-transform: capitalize;
    text-align: center;
}
.theme-dark .divider-3573oO,
.theme-dark .separator-gCa7yv,
#bd-settings-sidebar .ui-tab-bar-separator {
    background-color: transparent;
}
.theme-dark .closeButton-1tv5uR {
    border-color: transparent;
}
.theme-dark .closeButton-1tv5uR:hover {
    border-color: #855857; /* Selected Color */
    background-color: #593B3A; /* Main Color */
}
.theme-dark .multiInputLast-1aQ3YA:before {
    border-right-color: transparent;
}
.theme-dark .input-cIJ7To {
    background-color: transparent;
    border-color: transparent;
    color: white;
    transition: background-color .7s ease;
}
.theme-dark .input-cIJ7To:focus,
.theme-dark .input-cIJ7To.focused-1mmYsC {
    background-color: rgba(255,255,255,0.16) !important;
    border-color: transparent;
}
.theme-dark .input-cIJ7To:hover {
    background-color: rgba(0,0,0,0.16);
    border-color: transparent;
}
.avatar-uploader-inner:hover {
    box-shadow: inset 0 0 120px rgba(89, 59, 58,.75); /* RGB Main Color */
}
.avatar-uploader-inner {
    background-color: #593B3A; /* Main Color */
}
.lookOutlined-3sRXeN.colorRed-1TFJan:hover,
.lookFilled-1Gx00P.colorRed-1TFJan:hover{
    background-color: rgba(227, 66, 60, .6);
}
.lookOutlined-3sRXeN.colorRed-1TFJan,
.lookFilled-1Gx00P.colorRed-1TFJan {
    border: none;
    color: white;
    box-shadow: 0 0 3px black;
    background-color: rgba(227, 66, 60, .3);
}
[class="itemDefault-3Jdr52 item-PXvHYJ notSelected-1N1G5p"][style*="color: rgb(240, 71, 71);"] {
    color: red !important;
}
[class="itemDefault-3Jdr52 item-PXvHYJ notSelected-1N1G5p"][style*="color: rgb(240, 71, 71);"]:hover {
   background-color: rgba(227, 66, 60, .6) !important;
   color: white !important;
   box-shadow: 0 0 3px black;
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
    background-color: rgba(120, 214, 98, 0.3);
    box-shadow: 0 0 3px black;
    color: #fff;
}
.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
    background-color: rgba(120, 214, 98, 0.6);
}
.side-8zPYf6 .itemSelected-1qLhcL,
.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected {
    background-color: #855857 !important; /* Selected Color */
    color: #fff;
}
.theme-dark .side-8zPYf6 .itemDefault-3Jdr52:hover, 
.theme-dark .side-8zPYf6 .itemHover-EnbcjT:hover,
.theme-dark #bd-settings-sidebar .ui-tab-bar-item:hover {
    background-color: rgba(91, 55, 58, 0.43); /* RGB Hover Color */
    color: white;
}
.theme-dark .cardPrimaryOutline-29Ujqw {
    border-color: transparent;
    background-color: rgba(0,0,0,.4);
    border-radius: 0;
}
.theme-dark .accountBtnInner-sj5jLs:hover {
    background-color: #5B373A; /* Hover Color */
}
.theme-dark .accountBtnInner-sj5jLs {
    background-color: rgba(89, 59, 58,0.4); /* RGB Main Color */
    border: none;
    margin-bottom: 3px;
}
[class="itemDefault-3Jdr52 item-PXvHYJ notSelected-1N1G5p"][style*="color: rgb(114, 137, 218); background-color: rgba(114, 137, 218, 0.0980392);"] {
   background-color: rgba(89, 59, 58, 0.36) !important; /* RGB Main Color */
}
[class="itemDefault-3Jdr52 item-PXvHYJ notSelected-1N1G5p"][style*="color: rgb(114, 137, 218);"] {
   color: #593B3A !important; /* Main Color */
}
[class="itemSelected-1qLhcL item-PXvHYJ selected-3s45Ha"][style*="color: rgb(255, 255, 255); background-color: rgb(114, 137, 218);"] {
   background-color: #593B3A !important; /* Main Color */
}
.lookOutlined-3sRXeN.colorBrand-3pXr91:hover {
    background-color: rgba(115, 136, 233, 0.6);
}
.lookOutlined-3sRXeN.colorBrand-3pXr91 {
    border: none;
    color: white;
    background-color: rgba(115, 136, 233, 0.3);
}
.theme-dark .checkbox-1ix_J3 {
    border-color: rgba(0,0,0,0.23);
    box-shadow: 0 0 6px rgba(0,0,0,0.53);
}
.theme-dark .cardPrimaryEditable-3KtE4g[style*="border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);"] {
    background-color: #855857 !important; /* Selected Color */
    border-color: transparent !important;
}
.theme-dark .checked-3_4uQ9[style*="border-color: rgb(114, 137, 218);"], .theme-dark .checkbox-3kaeSU .checkboxInner-3yjcPe span, .checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span, .theme-dark .checkbox-1ix_J3 {
    background-color: rgba(0,0,0,.3) !important;
    border-color: transparent !important;
}

.theme-dark .checked-3_4uQ9[style*="border-color: rgb(114, 137, 218);"] polyline[stroke],
.theme-dark .checkbox-1ix_J3[style*="border-color: rgb(79, 84, 92);"] polyline[stroke] {
    stroke: white !important;
}
.theme-dark .select-2TCrqx .Select-control {
    background: rgba(0,0,0,.4);
    border: none;
    box-shadow: none;
}
.theme-dark .select-2TCrqx .Select-control .Select-arrow {
    border-color: white rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
.theme-dark .select-2TCrqx .is-open .Select-control .Select-arrow {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) white;
}
.grabber-3mFHz2 {
    background-color: rgba(0,0,0,0.34);
    border: none;
    border-radius: 0px;
    box-shadow: none;
}
.grabber-3mFHz2:hover {
    background-color: rgba(0,0,0,0.74);
}
.theme-dark .bubble-3we2di {
    border-radius: 0px;
    color: white;
    background-color: #593B3A; /* Main Color */
}
.theme-dark .bubble-3we2di:before {
    border-top-color: transparent;
}
.bar-2Qqk5Z {
    border-radius: 0;
}
.theme-dark .bar-2Qqk5Z {
    background: #2D2E2E;
}
.bar-2Qqk5Z[style*="background: rgb(105, 196, 154);"] {
    background: #2D2E2E !important;
}
.barFill-23-gu-[style*="background: rgb(251, 184, 72);"] {
    background: #593B3A !important; /* Main Color */
}
.barFill-23-gu- {
    background: #593B3A; /* Main Color */
}
.themeDefault-24hCdX, 
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch {
    background-color: #593B3A; /* Main Color */
}
.themeDefault-24hCdX.valueChecked-m-4IJZ,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked {
    background-color: #855857; /* Selected Color */
}
.sizeDefault-2YlOZr,
.sizeDefault-2YlOZr:after, 
.sizeMini-1ii40f,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch:before,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch {
    border-radius: 0px;
}
.theme-dark .select-2TCrqx .Select-menu-outer {
    background: #593B3A;
    border-color: transparent;
    box-shadow: none;
}
.theme-dark .select-2TCrqx .Select-option.is-focused, 
.theme-dark .select-2TCrqx .Select-option:hover {
    background: rgba(0, 0, 0,0.13);
}
.theme-dark .select-2TCrqx .Select-option.is-selected {
    background: #855857; /* Selected Color */
}
.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
    background-color: transparent;
    border-color: transparent;
}
.userSettingsVoice-iwdUCU .media-engine-video {
    background-color: rgba(0, 0, 0,0.33);
    border-radius: 0;
}
.theme-dark .notificationsSound-27jFSh,
.theme-dark .row-2okwlC,
.theme-dark .game-1ipmAa,
.theme-dark .item-3eFBNF {
    box-shadow: none;
}
.theme-dark .card-FDVird:before {
    background-color: rgba(89, 59, 58, 0.26); /* RGB Main Color */
    border-color: transparent;
}
.container-CpszHS:not(.disabled-29eJ21):hover {
    background-color: rgba(0,0,0,0.5);
}
.theme-dark .container-1nZlH6 {
    background-color: rgba(0,0,0,.1);
    border: none;
}
.theme-dark .lastPlayed-3bQ7Bo, 
.theme-dark .overlayStatusText-L2IACa {
    color: silver;
}
.theme-dark .button-mM-y8i {
    background-color: rgba(0,0,0,0.2) !important;
    box-shadow: none;
}
.ghostPill-2-KUPM {
    background-color: rgba(89, 59, 58,.5);
    border-radius: 0;
    color: white;
    border: 2px outset #855857;
}
.lookLink-9FtZy-.colorLink-35jkBc {
    color: #593B3A;
}
.lookLink-9FtZy-.colorLink-35jkBc:hover .contents-18-Yxp {
    background-image: linear-gradient(0deg,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0) 1px,#593B3A 0,#593B3A 2px,rgba(0, 0, 0, 0) 0);
}
.theme-dark .user-settings-games .not-detected, 
.theme-light .notDetected-33MY4s {
    background-color: #3e2928; /* Dark Color */
}
.theme-dark .addGamePopout-2RY8Ju {
    background-color: #593B3A;
    border-radius: 0;
}
.theme-dark .elevationBorderHigh-2WYJ09 {
    box-shadow: none;
}
.theme-dark .gameNameInput-385LoS:focus, .theme-dark .gameNameInput-385LoS:hover {
    background-color: rgba(255,255,255,0.123);
    border-color: transparent;
    box-shadow: 0 0 3px white;
}
.theme-dark .nowPlaying-284llR, 
.theme-light .nowPlaying-284llR {
    background-color: #593B3A;
}
.theme-dark .nowPlaying-284llR .last-played, .theme-dark .nowPlaying-284llR .overlay-status-text, .theme-light .nowPlaying-284llR .last-played, .theme-light .nowPlaying-284llR .overlay-status-text {
    color: silver;
}
.gameNameInput-385LoS {
    border-radius: 0px;
    margin-bottom: 5px;
    padding: 0 4px;
    width: 240px;
}
.theme-dark .nowPlaying-284llR .gameNameInput-385LoS:focus, .theme-dark .nowPlaying-284llR .gameNameInput-385LoS:hover, .theme-light .nowPlaying-284llR .gameNameInput-385LoS:focus, .theme-light .nowPlaying-284llR .gameNameInput-385LoS:hover {
    background-color: transparent;
    border: none;
}
.emptyStateCTA-veJ2Cu a,
.content-8biNdB a,
.theme-dark .markup-2BOw-j a,
.standardSidebarView-3F1I7i a,
.bda-slist .bda-footer a,
.theme-dark .topic-2QX7LI a,
.need-help-modal.form.deprecated a,
.need-help-modal.form.deprecated a:hover {
    color: #83B2FF;
    text-shadow: 0 0 6px black, 0 0 6px black;
}
.backdrop-1wrmKB {
    background-color: rgba(0,0,0,0.4) !important;
}
.theme-dark .footer-2yfCgX, 
.theme-dark .header-1R_AjF {
    background-color: transparent;
    box-shadow: none;
}
.theme-dark .isMentioned-N-h9aa .mention, .theme-dark .wrapper-3WhCwL,
.theme-dark .markup-2BOw-j .mention {
    background-color: rgba(89, 59, 58,.5) !important; /* RGB Main Color */
    color: white;
}
.theme-dark .isMentioned-N-h9aa .mention:hover, .theme-dark .wrapper-3WhCwL:hover {
    background-color: rgba(91, 55, 58,.8) !important; /* RGB Hover Color */
}
.theme-dark .markup-2BOw-j .mention:hover {
    background-color: rgba(91, 55, 58,.8) !important; /* RGB Hover Color */
    color: white !important;
}
.theme-dark .modal-3HD5ck {
    background-image: linear-gradient(to bottom, rgba(89, 59, 58,.8) 0%, #000000 100%);
    background-color: transparent;
    box-shadow: 0 0 13px 0 rgba(0,0,0,.6), 0 2px 10px 0 rgba(0,0,0,.9);
}
#bd-settingspane-container .ui-switch-item .style-description {
    color: white;
    border-bottom: none;
}
#bd-settingspane-container .bd-pfbtn,
.bda-slist .bda-footer button,
.standardSidebarView-3F1I7i #editor-detached button {
    background: rgba(89, 59, 58,.5); /* RGB Main Color */
    color: #FFF;
    border-radius: 0;
}
#bd-settingspane-container .bd-pfbtn:hover,
.bda-slist .bda-footer button:hover,
.standardSidebarView-3F1I7i #editor-detached button:hover{
    background: rgba(91, 55, 58,.7); /* RGB Hover Color */
}
.standardSidebarView-3F1I7i #editor-detached button {
   font-size: 27px;
}
#bd-settingspane-container .bd-pfbtn:active {
    background: #855857; /* Selected Color */
    border: 2px outset rgba(255,255,255,0.23);
}
.ace-monokai,
.editor {
    background-image: linear-gradient(to bottom, rgba(89, 59, 58,.4) 0%, #000000 100%);
    background-color: transparent;
    color: white;
    text-shadow: 0 0 6px black, 0 0 6px black, 0 0 6px black;
}
.ace-monokai .ace_gutter {
    background-image: linear-gradient(to bottom, rgba(89, 59, 58,.2) 25%, #000000 100%);
    background-color: transparent;
    color: white;
    text-shadow: 0 0 6px black, 0 0 6px black, 0 0 6px black;
}
.ace-monokai .ace_gutter-active-line,
.ace-monokai .ace_marker-layer .ace_active-line {
    background-color: rgba(89, 59, 58,.5);
}
.content-region #bd-customcss-attach-controls, 
#bd-customcss-detach-container #bd-customcss-attach-controls {
    background: #593B3A;
    box-shadow: none;
}
.standardSidebarView-3F1I7i #bd-customcss-attach-controls button, .bd-detached-css-editor #bd-customcss-attach-controls button {
    background: #593B3A;
    border: 2px dashed rgba(255,255,255,0.13) !important;
    font-weight: normal;
    margin-right: 5px;
    border-radius: 0;
}
.standardSidebarView-3F1I7i #bd-customcss-attach-controls button:hover, .bd-detached-css-editor #bd-customcss-attach-controls button:hover {
    background: #5B373A;
    border: 2px dashed rgba(255,255,255,0.13) !important;
}
.standardSidebarView-3F1I7i #bd-customcss-attach-controls button:active, .bd-detached-css-editor #bd-customcss-attach-controls button:active {
    background: #855857;
    border: 2px solid rgba(255,255,255,0.13) !important;
}
.theme-dark .bda-slist li {
    background: rgba(89, 59, 58,.6);
    border: none;
    padding-left: 8px;
    border-radius: 14px;
}
.bda-slist .bda-footer a {
   margin-left: 6px;
}
.bda-slist .bda-footer {
    border-top: none;
    color: transparent;
}
.bda-slist .bda-header,
.bda-slist .bda-description {
    color: white;
    border: none;
}
.wanderingCubesItem-WPXqao,
.spinner-wandering-cubes .spinner-item {
    background-color: #593B3A;
}
.spinner-wandering-cubes-1eyF3t {
    background-color: #593B3A;
}
.progress-2XXRYo,
.progressBar-3u8FBM.small-1CUeBa,
.progressBar-3u8FBM.large-3EPlRk,
.mediaBarGrabber-1FqnbN, 
.mediaBarProgress-1xaPtl, 
.mediaBarProgress-1xaPtl:after, 
.mediaBarProgress-1xaPtl:before{
    background-color: #593B3A !important;
}
.video-1FfuMD,
.theme-dark .private-channel-call {
    background-color: rgba(0,0,0,0.4);
}
.theme-dark .callAvatar-v-u4BM.voice-2D-tt_ 
.callAvatarStatus-3y6S04 {
    border-color: black;
    background-color: #593B3A;
    border-radius: 0; 
}
.callAvatarBorder-1D_KaE.voice-2D-tt_.speaking-oCqYMI,
.callAvatarBorder-1D_KaE.video-3GgX2M.speaking-oCqYMI {
    border-radius: 0; 
    box-shadow: none;
    border: 2px dashed #593B3A;
}
.theme-dark .private-channel-call.minimum .private-channel-call-actions .center, .theme-dark .wrapper-29NfPK {
    background-color: transparent;
    border-color: transparent;
}
/* ----- */

.theme-dark .isMentioned-N-h9aa:after {
    background: transparent;
    border-left: none;
}
.theme-dark .isMentioned-N-h9aa {
    background: rgba(89, 59, 58,.3);
    padding: 2px;
}
.theme-dark .isMentioned-N-h9aa,
.theme-dark .attachment-33OFj0,
.reaction {
    margin-left: 15px;
}
.theme-dark .attachment-33OFj0 {
   border:none;
   background-color: rgba(0,0,0,0.23);
}
.theme-dark .reaction-1ELvT8 {
    background: rgba(255, 255, 255, 0.14);
}
.theme-dark .reaction-1ELvT8.reactionMe-23mbRf {
    background: rgba(255, 255, 255,.19);
}
.theme-dark .reaction-1ELvT8.reactionMe-23mbRf .reactionCount-2ddRoS {
    color: white;
}
.theme-dark .markup-2BOw-j {
    color: white;
}

.theme-dark .dividerEnabled-2TTlcf {
    border-bottom-color: transparent;
}
.theme-dark .headerCozyMeta-rdohGq {
    text-shadow: 0 0 6px black, 0 0 6px black ,0 0 6px black, 0 0 6px black;
}
.nameTag-2IFDfL {
    text-shadow: 0 0 6px black, 0 0 6px black ,0 0 6px black, 0 0 6px black;
    padding-left: 12px;
}
.theme-dark .chat-3bRxxu form {
    box-shadow: none;
}
.theme-dark .embedTitleLink-1Zla9e {
    color: #593B3A!important;
}
.botTagRegular-2HEhHi,
.botTagInvert-18-95s,
.aka-1mqp34 {
    background: #593B3A;
    color: #fff;
    text-shadow: 0 0 6px black, 0 0 6px black;
}
.theme-dark .timestampCozy-2hLAPV {
    color: white;
}
.theme-dark .activityIconForeground-qYIPPg {
    fill: white;
}
.theme-dark .guild-1EfMGQ.selected-ML3OIq:before,
.guild-1EfMGQ.selected.unread-qLkInr:before {
    background: #593B3A; /* Main Color */
    border-radius: 0px;
    border: 2px solid rgba(255,255,255,0.32);
    height: 17px !important;
    width: 17px !important;
}

.theme-dark .guild-1EfMGQ.selected-ML3OIq:before {
    margin-top: -10px;
    left: -24px;
}

.theme-dark .guild-1EfMGQ.unread-qLkInr:before {
    background: #593B3A; /* Main Color */
    border-radius: 30px;
    height: 15px;
    width: 15px;
}

.avatarSpeaking-1wJCNq {
    border: 2px solid #593B3A; /* Main Color */
    box-shadow: none;
}
.nameSpeaking-3UhoEZ {
    color: white;
}
.theme-dark .guild-1EfMGQ.audio-3vVhBi .guildInner-3DSoA4:after, .theme-dark .guild-1EfMGQ.video-15yGu3 .guildInner-3DSoA4:after {
    background-color: #593B3A; /* Main Color */
    border-radius: 12px;
}
.avatarSpeaking-1wJCNq:before {
    content: "";
    padding-left: 167px;
    padding-top: 5px;
    padding-bottom: 4px;
    position: relative;
    left: -3px;
    top: 6px;
    background-color: rgba(255,255,255,0.12);
    border-radius: 50px;
}
.avatarDefault-35WC3R,
.avatarSpeaking-1wJCNq {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    border-radius: 90px;
    height: 24px;
    margin-left: 8px;
    width: 24px;
}
.badge,
.wrapper-232cHJ {
    background-color: #593B3A; /* Main Color */
    border-radius: 50px;
    padding: 5px 10px;
    box-shadow: none;
    text-shadow: 0 0 5px rgba(0,0,0,1), 0 0 5px rgba(0,0,0,1);
}
.noticeInfo-3_iTE1 {
    background-color: #593B3A; /* Main Color */
    color: #fff;
}
.unreadMentionsIndicatorBottom-BXS58x .unreadMentionsBar-1VrBNe {
    box-shadow: none;
    border-radius: 20px;
    height: 59px;
    width: 57px;
    margin-top: -34px;
    left: 1px;
    
}
.unreadMentionsIndicatorBottom-BXS58x, 
.unreadMentionsIndicatorTop-gA6RCh {
    overflow: visible;
}
.unreadMentionsIndicatorTop-gA6RCh .unreadMentionsBar-1VrBNe {
    box-shadow: none;
    border-radius: 20%;
    height: 59px;
    width: 57px;
    margin-top: -4px;
    left: 1px;
    
}
.unreadMentionsIndicatorBottom-BXS58x,
.unreadMentionsIndicatorTop-gA6RCh {
    overflow: visible;
    padding: 6px;
}
.mention-1f5kbO {
    background-color: rgba(89, 59, 58, 0.6); /* RGB Main Color */
    color: transparent;
}
.mention-1f5kbO:hover {
    background-color: rgba(89, 59, 58, 0.9); /* RGB Main Color */
}
.mention-1f5kbO .icon-2aINcz {
    color: #fff;
    height: 32px;
    margin-left: -24px;
    width: 32px;
}
.unreadBar-3YD_k9 {
    display: none;
}
.theme-dark .guildsAdd-21_IdK {
    background: #593B3A; /* Main Color */
    border: none;
    color: white !important;
    font-size: 20px;
    font-weight: normal;
}
.theme-dark .guildsAdd-21_IdK:hover {
    background: #5B373A; /* Hover Color */
}
.iconCollapsed-3hFp_8, 
.iconDefault-3Gr8d2, 
.iconHovered-2L3-fB, 
.iconHoveredCollapsed-3caIIZ, 
.iconMuted-1HVBGH, 
.iconUnread-2eGkvX {
    display: none;
}
.nameCollapsed-34uFWo, 
.nameDefault-2DI02H, 
.nameHovered-1gxhWH, 
.nameHoveredCollapsed-2orEWB, 
.nameMuted-1MCOt4, 
.nameUnread-njOjIS {
    font-weight: normal;
    text-transform: capitalize;
    text-align: center;
    color: white;
    font-size: 10px;
}
.nameUnreadText-DfkrI4, 
.nameUnreadVoice-EVo-wI {
    color: white;
}
.nameCollapsed-34uFWo {
    color: white;
    background-color: rgba(89, 59, 58, 0.6);
}
.nameDefault-2DI02H {
    color: white;
    background-color: #593B3A; /* Main Color */
}
.nameHovered-1gxhWH {
    background-color: #5B373A; /* Hover Color */
}
.nameHoveredCollapsed-2orEWB {
   background-color: rgba(91, 55, 58, 0.6); /* RGB Hover Color */
}
.nameMuted-1MCOt4, 
.nameUnread-njOjIS {
  background-color: #3e2928; /* Dark Color */
}
.colorConnectedText-1c_uzY, 
.colorConnectedVoice-3kyvUN,
.background-2OVjk_ {
  color: white;
  opacity: 1;
}
.colorHoveredText-OZnAgu, 
.colorHoveredVoice-1kucsK {
  color: #85e339;
  opacity: 1;
}
.colorLockedText-1VRkPt, 
.colorLockedVoice-2UlBjl {
    color: #d32a2a;
    opacity: 1;
}
.colorSelectedText-1y4Wvs, 
.colorSelectedVoice-Xcb_9R {
    color: #73e27e;
    opacity: 1;
}
.colorUnreadText-2t7XRb, 
.colorUnreadVoice-137o4S {
    color: #c9f4cd;
    opacity: 1;
}
.icon-3nr6O- {
    opacity: 1;
}
.colorMutedText-36M8WR, 
.colorMutedVoice-3ghIuw {
    color: #df3a21;
    opacity: 1;
}
.unread-1Dp-OI {
    display: none;
}
.nameLockedText-3pqQcL, 
.nameLockedVoice-26MhB1,
.nameMutedText-3Vj4bM, 
.nameMutedVoice-3oxyQZ {
    color: #df3a21;
    font-size: 10px;
}
.nameDefaultText-24KCy5, 
.nameDefaultVoice-3WUH7s {
    color: white;
    opacity: 0.4;
    font-size: 13px;
}
.colorDefaultText-oas-QM, 
.colorDefaultVoice-3wYlhb {
    color: white;
    opacity: 0.4;
}
.content-20Aix8 {
    border-radius: 0px;
}
.contentConnectedVoice-qL-YrL:active, 
.contentHoveredText-2D9B-x, 
.contentHoveredVoice-3p_NEO:active, 
.contentSelectedVoice-1WDIBM:active {
    background-color: rgba(91, 55, 58,0.38); /* RGB Hover Color */
}
.userHovered-2_fT4Z:active {
    background-color: rgba(91, 55, 58,.14); /* RGB Hover Color */
    border-radius: 0;
}
.contentSelectedText-3wUhMi, 
.contentSelectedVoice-1WDIBM {
    background-color: rgba(89, 59, 58,0.4); /* RGB Main Color */
    border: 1px solid #855857;
}
.nameConnectedText-3CzNQn, 
.nameConnectedVoice-MHUX5F, 
.nameSelectedText-sp_EUw, 
.nameSelectedVoice-1qSph5 {
text-shadow: 0 0 6px black, 0 0 6px black;
    padding-left: 4.5px;
}
.wrapper-2NJDcI {
    background-color: rgba(89, 59, 58,0.6); /* RGB Main Color */
    border: 1px solid #855857; /* Selected Color */
    border-radius: 0;
    color: white;
    font-size: 9px;
    padding: 0 7px;
}
.popout-open .header-2o-2hj {
    background-color: rgba(0,0,0,.8);
}
.header-2o-2hj:hover {
    background-color: rgba(0,0,0,.6);
}
.theme-dark .menu-Sp6bN1 {
    background: #593B3A;
    box-shadow: none;
    border-radius: 0;
}
.popout-3sVMXz {
    box-shadow: none;
    border-radius: 0;
}
.icon-2doZ3q {
    display: none;
}
.theme-dark .separator-2zcjq8 {
    display: none;
}
.theme-dark .item-1GzJrl:hover {
    background-color: transparent;
    border-bottom: 2px dashed rgba(91, 55, 58,0.85); /* RGB Hover Color */
    border-top: 2px dashed rgba(91, 55, 58,0.85); /* RGB Hover Color */
}
.theme-dark .item-1GzJrl:active {
    background-color: transparent;
    border-bottom: 2px solid #855857; /* Selected Color */
    border-top: 2px solid #855857; /* Selected Color */
}
.theme-dark .item-1GzJrl:hover.invite-271nFU {
    background-color: #677bc4;
    color: white !important;
}

.theme-dark .item-1GzJrl:hover.leave-1DRJfn {
    background-color: #f04747;
    color: white !important;
}
.theme-dark .primary-jw0I4K {
    color: white;
}
.lighten-2aYaaU {
    opacity: 0.5;
}
.container-2Thooq {
    background: rgba(0,0,0,.6);
    font-size: 13px;
    font-weight: normal;
    padding: 0 6px;
}


.theme-dark .alt-3btY0e .helper-2c73HK {
    display: none;
}
.tooltip-1OS-Ti.red-m6f4-H.right-KM_vfY:after {
    border-right: none;
}
.tooltip-1OS-Ti.black-2bmmnj.top-1pTh1F:after {
    border-top: none;
}
.tooltip-1OS-Ti.black-2bmmnj.bottom-19kp6S:after {
    border-bottom: none;
}
.tooltip-1OS-Ti.black-2bmmnj.left-1wV7VO:after {
    border-left: none;
}
.tooltip-1OS-Ti.black-2bmmnj.right-KM_vfY:after {
    border-right: none;
}
.tooltip-1OS-Ti.black-2bmmnj.tooltip-1OS-Ti {
    background-color: #593B3A;
}
.tooltip-1OS-Ti.red-m6f4-H {
    background-color: rgba(0,0,0,0.4);
}
.theme-dark .guildsError-3cFMtY {
    background: rgba(0,0,0,0.4);
    border: none;
}
.theme-dark .guildsError-3cFMtY:hover {
    background: rgba(0,0,0,1);
}

.theme-dark .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI:after, .theme-dark .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI:before,
.theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:after, .theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:before {
   border-color: transparent;
}

.theme-dark .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI, .theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI {
    color: white;
    background-color: rgba(255,255,255,0.32);
}
/* Status Stuff */
.theme-dark .status-2s6iDp.status-typing {
    right: -4px!important;
    width: 32px!important;
}

.status-3fQvEa {
    height: 20px;
    width: 20px;
}
.theme-dark .status-2s6iDp,
.private-channels .channel.selected .status,
.private-channels .status{
    border: none;
    width: 16px;
    height: 16px;
    border-radius: 50px;
}
.statusProfile-3ynqtt {
    height: 25px;
    width: 25px;
    right: 0px;
    bottom: 0px;
    box-shadow: none !important;
}
.typing-1KJk_j.dnd-1_xrcq {
    background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(255,91,0,1) 100%) !important;
}
.typing-1KJk_j.idle-3DEnRT  {
    background: linear-gradient(0deg, rgba(255,203,0,1) 0%, rgba(239,255,0,1) 100%) !important;
}
.typing-1KJk_j.invisible-1kp8Z0, .typing-1KJk_j.offline-3qoTek, .typing-1KJk_j.unknown-Ms2zdV {
    background: linear-gradient(0deg, rgba(97,97,97,1) 0%, rgba(172,172,172,1) 100%) !important;
}
.typing-1KJk_j.streaming-2_dnHe {
    background: linear-gradient(0deg, rgba(123,26,255,1) 0%, rgba(139,0,255,1) 100%) !important;
}
.typing-1KJk_j.online-2S838R {
    background: linear-gradient(0deg, rgba(11,255,0,1) 0%, rgba(213,255,0,1) 100%) !important;
}
.idle-3DEnRT {
    background: linear-gradient(0deg, rgba(255,203,0,1) 0%, rgba(239,255,0,1) 100%);
}
.online-2S838R {
    background: linear-gradient(0deg, rgba(11,255,0,1) 0%, rgba(213,255,0,1) 100%);
}
.dnd-1_xrcq {
    background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(255,91,0,1) 100%);
}
.invisible-1kp8Z0, 
.offline-3qoTek, 
.unknown-Ms2zdV {
    background: linear-gradient(0deg, rgba(97,97,97,1) 0%, rgba(172,172,172,1) 100%);
}
.streaming-2_dnHe {
    background: linear-gradient(0deg, rgba(123,26,255,1) 0%, rgba(139,0,255,1) 100%);
}
.embed-IeVjo6 {
    margin-left: 16px;
}
.theme-dark .inner-zqa7da {
    background-color: rgba(89, 59, 58,0.5); /* RGB Main Color */
}
.theme-dark .attachButtonDivider-3Glu60 {
    background-color: transparent;
}
.theme-dark .container-3cGP6G {
    background: #593B3A; /* Main Color */
    border: 2px solid rgba(0,0,0,.4);
}
.theme-dark .item-2J1YMK {
    color: white;
}
.theme-dark .item-2J1YMK:active, 
.theme-dark .item-2J1YMK:hover {
    background-color: rgba(255,255,255,0.22);
    border: 1px solid rgba(255,255,255,0.17);
    color: #fff;
}
.theme-dark .textArea-2Spzkt {
    color: white;
}
.textArea-2Spzkt {
    font-weight: normal;
    letter-spacing: -0.055rem;
}
::-webkit-input-placeholder {
    color: white !important;
}
.channelIcon-MsmKOO {
    color: #593B3A; /* Main Color */
}
.imageWrapper-2p5ogY,
.imageWrapper-2p5ogY img {
    border-radius: 5px;
    right: -9px;
    overflow: visible;
}
.theme-dark .topic-2QX7LI:before {
    background-color: transparent;
}
.theme-dark .topic-2QX7LI {
    color: #593B3A; /* Main Color */
}
.theme-dark .autocomplete-1vrmpx {
    background-color: #593B3A; /* Main Color */
}
.theme-dark .selectorSelected-1_M1WV {
    background-color: #5B373A; /* Hover Color */
    border: 2px solid #855857; /* Selected Color */
}
.theme-dark .description-11DmNu, 
.theme-dark .descriptionUsername-J_75O8,
.theme-dark .contentTitle-2tG_sM,
.theme-dark .content-Qb0rXO {
    color: white;
}
.theme-dark .descriptionDiscriminator-3vUOCc,
.theme-brand .contentTitle-2tG_sM strong {
    color: silver;
}
.theme-dark .divider-23swzi,
.theme-dark .divider-2PMBlV {
    background-color: transparent;
}
.theme-dark .contentTitle-2tG_sM {
   text-transform: capitalize;
}
.theme-dark .iconForeground-1w5n7R {
    fill: white;
}
.theme-dark .membersGroup-v9BXpm {
    color: white;
    font-weight: normal;
    height: 30px;
    text-align: center;
    background-color: #593B3A; /* Main Color */
    text-shadow: 0 0 6px black, 0 0 6px black;
    padding-top: 5px;
    text-transform: capitalize;
}
.theme-dark .memberOnline-1CIh-0 {
    color: white;
}
.activityText-sLG0UL {
   color: white;
   margin-top: 4px;
}
.activity-1IYsbk strong {
    background-color: #593B3A; /* Main Color */
    padding: 6px;
}
/* For Moving Both the Avatar and Messages */
.avatar-17mtNa .large-3ChYtB {
    width: 70px;
    height: 70px;
    margin-top: -12px;
}
.markup-2BOw-j,
.headerCozyMeta-rdohGq {
    margin-left: 22px;
}
/* ---- */
.theme-dark .markup-2BOw-j pre {
    background: transparent;
    border-color: transparent;
}
.theme-dark .markup-2BOw-j code, 
.theme-dark .markup-2BOw-j code.inline {
    background: rgba(89, 59, 58, 0.34); /* RGB Main Color */
    box-shadow: none;
}
.theme-dark .hljs {
    color: white;
    text-shadow: 0 0 6px black, 0 0 6px black;
}
.newMessagesBar-mujexs,
.theme-dark .jumpToPresentBar-9P20AM {
    background-color: rgba(89, 59, 58,.6); /* RGB Main Color */
    font-weight: normal;
}
.newMessagesBar-mujexs:hover,
.theme-dark .jumpToPresentBar-9P20AM:hover  {
    background-color: rgba(89, 59, 58,.9); /* RGB Main Color */
    border: 1px solid rgba(255,255,255,0.42);
}
.newMessagesBar-mujexs button:last-child {
    color: white;
}
.theme-dark .member-3W1lQa.popout-open .content-OzHfo4, 
.theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4 {
    background-color: rgba(89, 59, 58,.5); /* RGB Main Color */
    color: #fff;
}
.theme-dark .member-3W1lQa:hover .content-OzHfo4 {
    background-color: rgba(91, 55, 58,.7); /* RGB Hover Color */
    color: #fff;
}
/* ---- */
/* Upload Section */
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc.error-kKl9o2 {
    background-color: transparent;
}
.uploadModal-2ifh8j .inner-3nWsbo {
    border: none;
    color: rgb(255, 255, 255);
}
.uploadModal-2ifh8j {
    background-color: #593B3A; /* Main Color */
}
.uploadModal-2ifh8j .footer-3mqk7D {
    background-color: transparent;
}
.uploadModal-2ifh8j .footer-3mqk7D .button {
    background-color: rgba(255,0,0,0.4);
    border: 1px solid red;
}
.uploadModal-2ifh8j .footer-3mqk7D .button:hover {
    background-color: rgba(255,0,0,0.6);
}
.uploadModal-2ifh8j .footer-3mqk7D .button-primary {
    background-color: #593B3A; /* Main Color */
    border: none;
    color: white;
}
.uploadModal-2ifh8j .footer-3mqk7D .button-primary:hover {
    background-color: #5B373A; /* Hover Color */
    color: white;
    opacity: 1;
    
}
.uploadDropModal-2kTwbc {
   background-color: #593B3A; /* Main Color */
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .bgScale-1otPtc  {
    background-color: #593B3A !important; /* Main Color */
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo  {
    background-color: #593B3A !important; /* Main Color */
    border: none;
}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
    background-color: transparent;
    background-size: cover;
    border: none;
    border-radius: 0px;
    z-index: 0;
    padding: 64px;
}
/* Need Help Menu */
.need-help-modal.form.deprecated .header {
    background-color: #593B3A; /* Main Color */
    border-radius: 0px;
}
.form-deprecated .form-inner, 
.form.deprecated .form-inner {
    background-color: #593B3A; /* Main Color */
}
.need-help-modal.form.deprecated .footer {
    background-color: #593B3A; /* Main Color */
    border-radius: 0px;
    border-top: none;
    color: white;
}
.need-help-modal.form.deprecated .header input[type=text]:focus {
    border-bottom: none;
}
.need-help-modal.form.deprecated .header input[type=text] {
    background-color: black;
    box-shadow: none;
    color: white;
    border-radius: 0px;
}
.form-deprecated .control-group input[type=email], 
.form-deprecated .control-group input[type=number], 
.form-deprecated .control-group input[type=password], 
.form-deprecated .control-group input[type=text], 
.form-deprecated .control-group textarea, 
.form.deprecated .control-group input[type=email], 
.form.deprecated .control-group input[type=number], 
.form.deprecated .control-group input[type=password], 
.form.deprecated .control-group input[type=text], 
.form.deprecated .control-group textarea {
    border: none;
    border-bottom: none;
    color: white;
}
/* Emote Menu */
.bda-dark #bda-qem-favourite-container, .bda-dark #bda-qem-twitch-container, 
.bda-dark .emoji-picker, .bda-dark .emojiPicker-3m1S-j {
    background-color: #593B3A; /* Main Color */
    border-radius: 0px;
    border: none;
}
.emojiPicker-3m1S-j .stickyHeader-1SS0JU {
    background: transparent;
}
.searchBar-2_Yu-C.searchBarLight-1NxoDG .searchBarInner-1_Tg2R {
    background-color: #593B3A; /* Main Color */
    border: 1px outset white;
    border: none;
}
.emojiPicker-3m1S-j .header-1nkwgG {
    border-bottom: none;
}
.bda-dark .emoji-picker .category, .bda-dark .emojiPicker-3m1S-j .category-2U57w6 {
    background-color: #593B3A; /* Main Color */
    color: white;
    text-align: center;
    border: 1px outset rgba(0,0,0,0.23);
}
.bda-dark .emoji-picker .header .searchBar-2_Yu-C, .bda-dark .emojiPicker-3m1S-j .header-1nkwgG .searchBar-2_Yu-C {
    background-color: transparent;
}
.bda-dark .emoji-picker .dimmer.visible, .bda-dark .emojiPicker-3m1S-j .dimmer-3iH-5D.visible-3k45bQ  {
    background-color: rgba(0,0,0,0.65);
}
.bda-dark .emoji-picker .diversity-selector .popout-3sVMXz, .bda-dark .emojiPicker-3m1S-j .diversitySelector-tmmMv0 .popout-2nUePc {
    background: black;
    border-color: transparent;
}
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar, .bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track, .bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track-piece, .bda-dark #pubs-container .scroller::-webkit-scrollbar, .bda-dark #pubs-container .scroller::-webkit-scrollbar-track, .bda-dark #pubs-container .scroller::-webkit-scrollbar-track-piece, .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar, .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track, .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track-piece,.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track,.bda-dark .emoji-picker .scroller::-webkit-scrollbar, .bda-dark .emoji-picker .scroller::-webkit-scrollbar-track, .bda-dark .emoji-picker .scroller::-webkit-scrollbar-track-piece, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track-piece {
    background-color: transparent !important;
    border-color: transparent !important;
}
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-thumb, .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-thumb, .scrollerThemed-2oenus.themeLight-1_DWyY .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-dark .scrollerThemed-2oenus.themeLight-1_DWyY .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-light .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: #593B3A !important; /* Main Color */
    border-color: transparent !important;
    border-radius: 0px;
}
.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.selected-39BZ4S {
    border-bottom-color: #593B3A; /* Main Color */
}
.bda-dark #bda-qem {
    border-bottom: none !important;
    background: transparent;
}
.bda-dark #bda-qem button {
    background: black;
    border-left: none;
    box-shadow: none;
}
.bda-dark #bda-qem button:hover {
    background-color: #5B373A; /* Hover Color */
}
.bda-dark #bda-qem button.active,
.theme-dark .iconBadge-2dji3k {
    background-color: #593B3A; /* Main Color */
    border: 1px solid #855857; /* Selected Color */
}
/* Invite Menu */
.searchBar-2_Yu-C {
    background-color: black;
    border-radius: 4px;
    box-shadow: none;
}
.lookOutlined-3sRXeN.colorGreen-29iAKY {
    border-color: transparent;
    color: white;
}
.theme-dark .inviteRow-2poi6Q:hover {
    background-color: rgba(0,0,0,.5);
}
/* ---- */
/* Context Menu */
.theme-dark.contextMenu-HLZMGh {
    background: #593B3A; /* Main Color */
    box-shadow: none;
    padding: 2px;
}
.theme-dark .itemSubMenu-1vN_Yn:hover {
    background-color: #5B373A; /* Hover Color */
    border: 3px solid rgba(0,0,0,0.4);
}
.theme-dark .item-1Yvehc:hover {
    background-color: #5B373A; /* Hover Color */
    background-size: cover;
    color: #fff !important;
}
.theme-dark .itemSubMenu-1vN_Yn {
    background: #855857; /* Selected Color */
    border: 1px solid rgb(255,255,255);
}

.theme-dark .item-1Yvehc {
    color: white;
    padding: 8px;
    border-radius: 0;
    margin-bottom: 5px;
    background-color: rgba(0,0,0,0.63);
    background-size: 200px 200px;
}
.item-1Yvehc.danger-2dXSTE:hover {
    background-color: red;
    color: white;
}
.theme-dark .itemGroup-1tL0uz {
    border-color: transparent;
}
/* ---- */
/* Search, Pins, Mentions, Search Result */
.theme-dark .messagesPopoutWrap-1MQ1bW .header-ykumBX,
.theme-dark .messagesPopoutWrap-1MQ1bW .footer-1kmXd4,
.theme-dark .searchHeader-1l-wpR {
    background-color: transparent;
    box-shadow: none;
}
.theme-dark .messagesPopoutWrap-1MQ1bW,
.theme-dark .searchResultsWrap-2DKFzt {
    background: linear-gradient(to bottom, rgba(89, 59, 58,0.4)/* (RGB Main Color) */ 0%, rgba(0,0,0,1) 61%, rgba(0,0,0,1) 100%);
    border: none;
    box-shadow: none;
}
.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .emptyPlaceholder-1zh-Eu .body-bvcIjN, .themedPopout-25DgLi .header-SsaQ8X .title-23FrqZ ,
.theme-dark .primary-jw0I4K {
    color: white;
    opacity: 1;
}
.theme-dark .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug {
    background-color: transparent;
    box-shadow: none;
}
.theme-dark .messageGroupWrapper-o-Zw7G .actionButtons-1sUUug .jumpButton-3DTcS_,
.theme-dark .jumpButton-Ia2hRJ {
    background-color: #593B3A; /* Main Color */
    color: white;
}
.theme-dark .messageGroupWrapper-o-Zw7G {
    background-color: rgba(89, 59, 58,0.6); /* (RGB Main Color) */
    border-color: transparent;
}
.theme-dark .messageGroupWrapper-o-Zw7G:hover {
    border-color: black;
    background-color: #5B373A; /* (Hover Color) */
}
.theme-dark .channelSeparator-1X1FuH:before {
    border-color: transparent;
}
.theme-dark .searchResult-3pzFAB:before,
.theme-dark .searchResult-3pzFAB:after {
    background: transparent;
}
.theme-dark .channelSeparator-1X1FuH .channelName-1QajIf {
    background-color: #593B3A; /* Main Color */
    color: #fff;
}
.theme-dark .searchHeader-1l-wpR .tab-2Ixsn0, .theme-dark .searchHeader-1l-wpR .totalResults-gxvzgw {
    opacity: .6;
    padding: 15px 0;
}
.theme-dark .searchResultsWrap-2DKFzt .searchResult-3pzFAB .searchResultMessage-2VxO12.hit-NLlWXA {
    border: none;
}
.theme-dark .searchResultsWrap-2DKFzt .searchResult-3pzFAB .hit-NLlWXA {
    background: linear-gradient(to bottom, rgba(89, 59, 58,0.4)/* (RGB Main Color) */ 0%, rgba(0,0,0,1) 61%, rgba(0,0,0,1) 100%);
    box-shadow: none;
}
.theme-dark .searchResultsWrap-2DKFzt .expanded-v2Szsz .searchResultMessage-2VxO12.hit-NLlWXA {
    background-color: #593B3A; /* Main Color */
    border: none;
}
.theme-dark .searchResultsWrap-2DKFzt .searchResult-3pzFAB.expanded-v2Szsz  {
    border: none;
    background-color: rgba(0,0,0,0.2);
}
.messagesPopout-24nkyi .message-group:hover .actionButtons-1sUUug .closeButton-17RIVZ {
    opacity: .7;
    background-color: rgba(0,0,0,0.4);
}
.theme-dark .container-3ayLPN {
    background-color: #593B3A !important; /* Main Color */
    border: none;
    box-shadow: none;
}
.theme-dark .option-96V44q:after {
    background: none;
}
.theme-dark .resultsGroup-r_nuzN:before {
    border-top: none;
}
.theme-dark .option-96V44q.selected-rZcOL-:not(.searchQuery-1B7rtx) {
    background-color: #5B373A; /* Hover Color */ 
    border: 1px solid #855857; /* Selected Color */
    margin-left: 17px;
}
.theme-dark .option-96V44q:after, .theme-dark .option-96V44q.selected-rZcOL-:before, 
.theme-dark .option-96V44q.selected-rZcOL-:after {
    background: transparent;
}
.theme-dark .searchOption-zQ-1l6 .filter-3Y_im-,
.theme-dark .option-96V44q .filter-3Y_im- {
    color: white;
    border-bottom: 1px solid #A4DC28;
    line-height: 23px;
    text-transform: capitalize;
}
.theme-dark .searchOption-zQ-1l6 .answer-1n6g43 {
    color: white;
    border-bottom: 2px solid #F77923;
    padding: 3px 3px;
}
.theme-dark .option-96V44q .nonText-3CRkO0 {
    color: black;
}
.theme-dark .option-96V44q strong {
    color: white;
}
.theme-dark .resultsGroup-r_nuzN .header-2N-gMV {
    color: white;
    text-transform: capitalize;
}
.theme-dark .option-96V44q.user-O3Czj0 .displayedNick-3xxvzU {
    color: silver;
    border-right: 1px solid white;
    padding: 0 3px;
}
.theme-dark .option-96V44q.user-O3Czj0 .displayUsername-Qekxml {
    color: white !important;
    border-bottom: 2px solid #F77923;
    line-height: 23px;
}
.theme-dark .focused-2bY0OD {
    background-color: #5B373A; /* Hover Color */ 
    border: 1px solid #855857; /* Selected Color */
}
.theme-dark .searchResultChannelCategory-1l0lSn, 
.theme-dark .searchResultChannelIcon-1DnTme {
    color: silver;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__current-month {
    border-bottom-color: transparent;
    color: white;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day-name {
    color: white;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker {
      background-color: #593B3A; /* Main Color */
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header {
      background-color: #593B3A; /* Main Color */
      border-color: transparent;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled {
    background-color: #3e2928; /* Dark Color */
    color: rgba(247, 247, 248, 0.3);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled:hover ,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month:hover {
     background-color: rgba(255,0,0,0.7) !important;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month {
    background-color: black;
    color: rgba(247, 247, 248, 0.3);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__week:last-of-type .react-datepicker__day,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__week .react-datepicker__day:last-of-type {
    border: none;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day {
    color: white;
    border: none;
}
.calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected {
    background-color: #855857; /* Selected Color */
    border-radius: 0;
}
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw {
    border-top: none;
}
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z {
    background-color: #593B3A; /* Main Color */
    color: #fff;
}
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z:hover {
    background-color: #5B373A; /* Hover Color */ 
    color: #fff;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:hover {
    background-color: #593B3A; /* Main Color */
    border: 1px solid #855857; /* Selected Color */
    color: #fff;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day:hover {
    background-color: #5B373A; /* Hover Color */ 
    color: #fff;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after {
    background-color: transparent;
}
.theme-dark .searchAnswer-3Dz2-q, 
.theme-dark .searchFilter-2ESiM3 {
    background-color: #593B3A; /* Main Color */
}
/* ---- */
/* Friends and DMS */
.theme-dark .guildSeparator-1X4GQ1:after {
    background: transparent;
}
.theme-dark .friendsOnline-_wi_fM, .theme-light .friendsOnline-_wi_fM {
    color: white;
    font-weight: normal;
    text-transform: capitalize;
}
.theme-dark .guild-1EfMGQ .guildInner-3DSoA4 {
    background: #593B3A !important; /* Main Color */
    border-radius: 25px !important;
}
.channel-2QD9_O:hover a {
    background-color: rgba(91, 55, 58, 0.43); /* RGB Hover Color */
}
.channel-2QD9_O.selected-1HYmZZ a {
    background-color: #593B3A; /* Main Color */
    border: 2px outset #855857; /* Selected Color */
}
.theme-dark .quickswitcher-3JagVE {
    background-color: rgba(89, 59, 58, 0.7); /* RGB Main Color */
    color: white;
}
.theme-dark .emptyStateNote-ZYTetQ,
.theme-dark .tipsWithoutResults-lGY-De, 
.theme-dark .tipsWithResults-HhTE9b,
.theme-dark .header-13MUnb,
.misc-1CT3G7, 
.name-2NBmhj,
.theme-dark .contentDefault-16dKSY,
.theme-dark .contentDefault-16dKSY .note-S--UP5,
.theme-dark .container-3gCOGc .friends-empty p,
.theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d .friendsColumn-eVHFqJ,
#friends .friends-table .friends-row .discord-tag,
.friendsTable-133bsv .friendsRow-2yicud .friendsColumnStatus-ZH4ho2 .friendActivityText-2lmziy, 
.friendsTable-133bsv .friendsRow-2yicud .friendsColumnStatus-ZH4ho2 .statusText-2F9zIF {
    color: white;
}
.theme-dark .contentUnread-3gTHvA .note-S--UP5 {
    color: #c5e0a4;
}
.theme-dark .tipsWithoutResults-lGY-De, 
.theme-dark .tipsWithResults-HhTE9b {
    border-color: transparent;
}
.theme-dark .keybindShortcutTipsSelect-HDyfe8:last-of-type:before {
    background-color: transparent;
}
.theme-dark .keybindShortcut-1BD6Z1 span {
    background-color: #593B3A; /* Main Color */
    border: 2px solid black;
    box-shadow: none;
    color: white !important
}
.theme-dark .keybindShortcut-1BD6Z1 span:active {
    border: 1px solid #855857;
    box-shadow: none;
}
.theme-dark .input-2VB9rf {
    background-color: rgba(0,0,0,0.34);
    box-shadow: none;
}
.theme-dark .input-2VB9rf:focus {
    border: 1px solid #855857;
}
.theme-dark .resultFocused-3aIoYe {
    background-color: rgba(0,0,0,.6);
    border: 1px solid #855857;
}
.theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d,
.theme-dark .friendsTable-133bsv .friendsRow-2yicud+.friendsRow-2yicud {
    border: none;
}
.theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d .friendsColumnSeparator-3MqtMA,
.theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d .friendsColumnSeparator-3MqtMA,
.theme-dark .container-3gCOGc {
    background-color: transparent;
}
.theme-dark .friendsTable-133bsv .friendsRow-2yicud:hover {
    background-color: #593B3A; /* Main Color */
    border: 2px outset #855857; /* Selected Color */
}
.theme-dark .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9 {
    background-color: rgba(0,0,0,0.23);
}
.theme-dark .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9:hover {
    background-color: rgba(0,0,0,0.33);
}
.iconSizeSmall-3aWgx9 {
    background-color: #593B3A; /* Main Color */
}
.theme-dark .friendsTable-133bsv .friendsRow-2yicud .friendsColumnGuilds-2we6jb .moreMutualGuildsBtn-2VwbkO {
    border-color: rgba(255, 255, 255, 0.5);
    color: white;
}
.theme-dark .friendsTable-133bsv .friendsRow-2yicud .friendsColumnGuilds-2we6jb .moreMutualGuildsBtn-2VwbkO:hover {
    border-color: #c5e0a4;
}
.theme-dark .friendSelected--wQP3f {
    background-color: rgba(89, 59, 58, 0.4); /* RGB Main Color */
    border: 1px outset #855857; /* Selected Color */
}
.searchBarTag-2xRzm8 {
    background-color: #593B3A; /* Main Color */
    border-radius: 0;
    font-size: 11px;
    font-weight: normal;
}
.theme-dark .hasMore-3e72_v button {
    background: #593B3A !important; /* Main Color */
    border: 1px outset #855857; /* Selected Color */
    color: white;
}
.tabBar-1E2ExX .primary-3j8BhM {
    background-color: #593B3A  !important; /* Main Color */
    color: #fff  !important;
}
.tabBar-1E2ExX .primary-3j8BhM:hover:not(.selected) {
    background-color: #5B373A  !important; /* Hover Color */
}
.tabBar-1E2ExX .primarySelected-3uHKZn {
   background-color: #593B3A  !important; /* Main Color */
   border: 2px outset #855857; /* Selected Color */
   color: white  !important;
}
.theme-dark .topPill-30KHOu .itemSelected-1qLhcL {
    background-color: #855857; /* Selected Color */
    color: white;
}
.theme-dark .container-3gCOGc .tab-bar .tab-bar-item {
    color: white;
}
.theme-dark .topPill-30KHOu .item-PXvHYJ:hover:not(.itemSelected-1qLhcL) {
    background-color: rgba(89, 59, 58, 0.4); /* RGB Main Color */
}

.theme-dark .friendsTable-133bsv .friendTableAddWrapper-nHHZtK .friendTableSuggestionsHeader-2zSnpD {
    border-bottom: none;
}
.private-channels header,
.private-channels .channel .channel-name {
    color: #fff;
    font-weight: normal;
    opacity: .7;
}
/* User Profile and Modal */
.userPopout-3XzG_A {
    box-shadow: none;
    background: url(https://mfiles.alphacoders.com/688/688820.jpg) 60%/cover;
    border-radius: 0;
}
.theme-dark .headerNormal-T_seeN {
    background-color: rgba(0,0,0,0.45);
}
.theme-dark .topSectionNormal-2-vo2m,
.theme-dark .body-3ND3kc {
    background-color: rgba(0,0,0,0.45);
}
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background-color: rgba(0,0,0,0.45);
    color: white;
}
.theme-dark .footer-1fjuF6 {
    border: none;
}
.headerPlaying-j0WQBV,
.topSectionPlaying-1J5E4n {
   background-color: rgba(0,0,0,0.44);
   border: 2px solid rgb(20,17,139);
}
.lookInverted-2D7oAl.colorBrand-3pXr91 {
    background-color: rgb(20,17,139) !important;
    color: white !important;
}
.headerSpotify-zpWxgT,
.headerXbox-3G-4PF,
.topSectionXbox-3fWLjS,
.topSectionSpotify-1lI0-P {
    background-color: rgba(0,0,0,0.44);
    border: 2px solid rgb(57,118,51);
}
.lookInverted-2D7oAl.colorGreen-29iAKY {
    background-color: rgb(57,118,51);
    color: white;
}
.headerStreaming-2FjmGz,
.topSectionStreaming-1Tpf5X {
    background-color: rgba(0,0,0,0.44);
    border: 2px solid rgb(119,56,158);
}
.buttonInvertedPurple-WtBglX {
    background-color: rgb(119,56,158);
    color: white;
}
.bodyTitle-Y0qMQz {
    color: white;
}
.theme-dark .note-3kmerW textarea {
    color: white;
}
.note-3HfJZ5 textarea,
.theme-dark .root-SR8cQa .note-QfFU8y textarea {
    border-radius: 0;
    padding: 9px;
    background-color: rgba(255,255,255,0.22);
    transition: background-color .5s ease;
}
.theme-dark .note-3kmerW textarea:focus,
.theme-dark .root-SR8cQa .note-QfFU8y textarea:focus {
    background-color: rgba(0,0,0,0.42);
}
.role-2irmRk {
    border: none;
    border-radius: 30px;
    font-weight: normal;
    padding: 7px;
    background-color: rgba(0,0,0,0.25);
}
.role-2irmRk {
    border-width: 1px!important;
    border-style: solid!important;
    border-radius: 2px!important;
    box-sizing: content-box!important;
    height: 16px!important;
    margin: 3px!important;
    padding: 2px!important;
    display: block!important;
    position: relative;
    line-height: 16px;
    font-size: 12px!important;
    font-weight: 500!important;
    overflow: hidden;
}
.role-2irmRk::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    border-width: 10px;
    border-style: solid;
    border-color: inherit;
    box-sizing: border-box;
    opacity: 1;
  }
.roleName-32vpEy {
    margin-left: 14px;
    margin-top: -12px;
    color: white;
}
.addButton-pcyyf6 {
    line-height: 10px;
    width: 22px;
    box-sizing: border-box;
    height: 22px;
}
.roleCircleButton-377y0l  {
border-radius: 0;
opacity: 0;
bottom: -2px;
position: relative;
transition: opacity .2s ease-in;
}
.role-2irmRk:hover .roleCircleButton-377y0l  {
border-radius: 0;
opacity: 1;
}
.roleRemoveIcon-2-TeGW {
    display: block;
    z-index: 2;
}


.addButtonIcon-1NMJ8u {
    height: 7px;
    width: 7px;
}
.theme-dark .protip-YaFfgO {
    display: none;
}
.theme-dark .quickMessage-1yeL4E {
    background-color: rgba(0,0,0,0.45);
    border-color: transparent;
    color: white;
}
.theme-dark .quickMessage-1yeL4E:focus {
    border-color: #593B3A; /* Main Color */
}
.userInfoSectionHeader-CBvMDh {
    color: white;
    text-transform: capitalize;
}
.bodyTitle-Y0qMQz {
    color: white;
    text-transform: capitalize;
}
.tab-bar.tabBar-2MuP6- .tabBarItem-1b8RUP.selected {
    border-bottom-color: #593B3A; /* Main Color */
    color: #593B3A; /* Main Color */
    font-weight: bold;
}
.tabBarContainer-1s1u-z {
    border-top: none;
}
.theme-dark .connectedAccount-36nQx7, 
.theme-dark .userInfoSection-2acyCx+.userInfoSection-2acyCx {
    border-color: transparent;
}
.connectedAccount-36nQx7 {
    border-radius: 0;
    margin-top: 6px;
    padding: 8px 14px 8px 8px;
    width: 240px;
    background-color: rgba(89, 59, 58, 0.4); /* RGB Main Color */
}
.theme-dark .listRow-hutiT_:hover {
    background: linear-gradient(90deg,rgba(89, 59, 58, 0.25) 90%, /* RGB Main Color */ rgba(255, 255, 255, 0));
    color: white;
}
.guildNick-3uAm3i, 
.listName-3w10cx {
    color: white;
}
.listAvatar-1NlAhb {
    background-color: #593B3A; /* Main Color */
}
.connectedAccountName-f8AEe2 {
    color: white;
    padding: 4px;
}
.connectedAccountNameInner-1phBvE {
    margin-left: 10px;
    text-shadow: 0 0 9px black, 0 0 9px black;
}
.theme-dark .actionButton-VzECiy {
    border-color: transparent;
    color: white;
    background-color: transparent;
}
.connectedAccountOpenIcon-2cNbq5 {
    background-image: url(https://www.shareicon.net/download/2015/08/26/91266_open_512x512.png);
    background-size: cover;
}
.root-SR8cQa {
    border-radius: 0;
    background-image: url(https://img00.deviantart.net/2f84/i/2016/129/6/a/nekopara___chocola_wallpaper_by_seira_hirano-da1x5gc.png);
    background-size: cover;
}
/* Game Tab */
.theme-dark .activityFeed-28jde9 {
    background-color: rgba(0,0,0,0.43);
}
.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track {
    background-color: transparent;
}
.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: #593B3A;
    border-color: rgba(0, 0, 0, 0);
}
.theme-dark .body-SKIE6r {
    background-color: transparent;
}
.theme-dark .card-7JP0BX {
    background-color: rgba(0,0,0,0.53);
    color: white;
}
.theme-dark .header-1RC2Wb {
    background-color: rgba(89, 59, 58, 0.6); /* RGB Main Color */
}
.theme-dark .header-1RC2Wb:hover {
    background-color: rgba(91, 55, 58, 0.6); /* RGB Hover Color */
}
.theme-dark .username-XRo90I {
    color: white;
}
.headerButtonColor-G7_f-V {
    background: #593B3A;
    color: #fff;
}
.theme-dark .lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV:hover, .theme-light .lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV:hover {
    background-color: #5B373A;
    color: #fff;
}
.theme-dark .discriminator-pIKHPn, 
.theme-dark .playTime-1laRtO {
    color: silver;
}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    background-color: #713aa8;
    color: #f6f6f7;
}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover {
    background-color: #4f2876;
}
.theme-dark .player-1kJMbj {
    border-bottom-color: transparent;
}
.theme-dark .sectionLine-JjseS9 {
    background-color: transparent;
}
.reaction-1ELvT8 {
    left: 23px;
    position: relative;
}
.reactions-1xb2Ex .reactionBtn-2na4rd {
    margin-left: 23px;
}
.searchBarTag-2xRzm8 {
    background: black;
}

/* New Stuff */
.theme-dark .gameLibrary-TTDw4Y,
.theme-dark .applicationStore-1pNvnv,
.theme-dark .itemBackground-1jfD8p {
    background-color: transparent
}

.theme-dark .itemBackground-1jfD8p:before {
    background: radial-gradient(ellipse at top,rgba(0, 0, 0, 0),black),linear-gradient(90deg,black 0,rgba(0, 0, 0, 0) 40%,rgba(0, 0, 0, 0) 60%,black),linear-gradient(0deg,black 0,rgba(0, 0, 0, 0) 25%)
}

.theme-dark .overlappingBorder-1ysb12 {
    border-color: #593B3A
}

.theme-dark .announcingNitro-3Ptg6m:hover {
    color: white
}

.theme-dark .announcingNitro-3Ptg6m {
    border-color: transparent;
    color: #593B3A
}

.theme-dark .distributionApplicationsActions-3D2_kD, .theme-dark .premiumApplicationsHeader-Zmkm5e {
    border-color: transparent
}

.theme-dark .tileWrapper-2khh-w {
    background-color: rgba(0,0,0,0.34);
    box-shadow: none
}

.theme-dark .tileWrapper-2khh-w:hover {
    background-color: rgba(0,0,0,0.84);
    box-shadow: none
}

.theme-dark .mediaDescription-31GsyQ {
    background: linear-gradient(180deg,rgba(0, 0, 0, 0),black 45%,black)
}

/* --- */
