//META{"name":"TouhouKnowlege_Theme","description":"Welcome to the MineCraft Library","author":"DevilsLynAvenged","version":"1.0"}*//{}

#app-mount {
    background: url("https://images.alphacoders.com/673/673460.jpg") no-repeat 50% 20%;
    background-size: cover !important;
}

/* fix not having a background image anymore */
.layers-3iHuyZ,
.layer-3QrUeG,
.container-2lgZY8,
.typing-2GQL18 {
    background: transparent !important;
}
/* optionally adjust background brightness (0: original image, 1: black) */
.layers-3iHuyZ {
    background: rgba(0, 0, 0, .5) !important;
}
.channels-Ie2l6A,
.container-PNkimc,
.container-2lgZY8,
.theme-dark .guildsWrapper-5TJh6A,
.theme-dark .chat-3bRxxu, 
.theme-dark .chat-3bRxxu form, 
.theme-dark .content-yTz4x3,
.chat .messages,
.theme-dark .friends-table,
.theme-dark .messagesWrapper-3lZDfY,
.theme-dark .container-3gCOGc,
.theme-dark .standardSidebarView-3F1I7i {
    background-color: transparent;
}

.theme-dark .title-3qD0b-,
.theme-dark .headerBar-UHpsPw,
.header-2o-2hj {
        background: black;
        box-shadow: none;
}

.theme-dark .contentRegion-3nDuYy,
.theme-dark .sidebarRegion-VFTUkN{
    background: rgba(0, 0, 0, 0.2);
}
.video-1FfuMD,
.theme-dark .private-channel-call {
    background-color: rgba(0,0,0,0.4);
}
.theme-dark .private-channel-call.minimum .private-channel-call-actions .center, .theme-dark .wrapper-29NfPK {
    background-color: transparent;
    border-color: transparent;
}
/* Main Chat Section */
.avatar-17mtNa .large-3ChYtB {
    opacity: 1 !important;
    background-size: cover;
    width: 64px;
    height: 64px;
}
.progress-2XXRYo,
.progressBar-3u8FBM.small-1CUeBa,
.progressBar-3u8FBM.large-3EPlRk,
.mediaBarGrabber-1FqnbN, 
.mediaBarProgress-1xaPtl, 
.mediaBarProgress-1xaPtl:after, 
.mediaBarProgress-1xaPtl:before {
    background-color:  #A87E56 !important;
}
.theme-dark .hasMore-3e72_v button {
    background: black;
    border: none;
}
.theme-dark .guildsError-3cFMtY:hover {
    background: black;
}
.theme-dark .guildsError-3cFMtY {
    border-color: #A87E56;
    color: white;
    border-width: 1px;
    border-radius: 25px;
    background: black;
    font-size: 29px;
    font-weight: 400;
}
.tooltip-1OS-Ti.red-m6f4-H {
    background-color: black;
    color: white;
}
.theme-dark .guildsAdd-21_IdK {
    border-color: #705435;
    color: white;
    border-width: 2px;
    background: black;
}
.theme-dark .guildsAdd-21_IdK:hover {
    border-color: #A87E56;
    color: white;
    border-width: 1px;
    border-style: solid;
    background: black;
}
.theme-dark .dividerEnabled-2TTlcf {
    border-bottom-color: transparent;
}
.spinner-wandering-cubes-1eyF3t,
.wanderingCubesItem-WPXqao,
.spinner-wandering-cubes .spinner-item {
    background-color: #705435 !important;
}
.activityText-sLG0UL {
    color: silver;
}
.containerCozy-jafyvG {
    border-bottom: none;
    margin-bottom: 23px;
    padding-bottom: 30px;
    background-color: rgba(0,0,0,0.2);
    padding-left: 3px;
    border-radius: 30px;
}
.theme-dark .timestampCozy-2hLAPV {
    color: white;
}
.mention:hover {
    background-color: black;
    color: #fff !important;
    cursor: pointer;
}
.theme-dark .isMentioned-N-h9aa .mention, .theme-dark .wrapper-3WhCwL {
    background-color: rgba(0,0,0,0.4) !important;
    color: silver;
    font-weight: normal;
}

.theme-dark .inner-zqa7da textarea {
    color: #EFD9C3 !important;
    background-color: transparent !important;
}
.theme-dark .inner-zqa7da {
    background-color: rgba(0, 0, 0,.3) !important;
}


.theme-dark .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI:after, .theme-dark .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI:before,
.theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:after, .theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:before {
   border-color: transparent;
}

.theme-dark .option-96V44q:after {
   background: none;
}



.theme-dark .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI, .theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI {
    color: white;
    background-color: rgba(0,0,0,0.3);
    border-radius: 0px;
    bottom: 12px;
    padding: 3px 152px; 
}
.theme-dark .divider-3gKybi.dividerRed-MKoLlr>div {
    background-color: transparent;
}
.theme-dark .divider-3gKybi span,
.theme-dark .divider-3gKybi:before {
    background-color: transparent;
}
.theme-dark .members-1998pB {
    background-color: rgba(0,0,0,0.33);
}
.theme-dark .membersGroup-v9BXpm {
    color: #EFD9C3;
}
.message-group .edit-message .edit-container-outer {
    margin-left: -4px;
    margin-right: 6px;
}
.members-1998pB {
    transform:translate(150px);
    z-index:2;
    transition:all 300ms ease;
}
.members-1998pB:hover{
    animation: member 300ms ease;
    transform:translate(0px);
}

.memberInner-2CPc3V {
    opacity:0;
    transition:opacity 300ms ease, margin 100ms ease;
    
}
.memberInner-2CPc3V {
    margin-bottom:10px;
}
.members-1998pB:hover .memberInner-2CPc3V, .members-1998pB:hover .memberInner-2CPc3V {
    opacity:1;
}
.membersGroup-v9BXpm {
    transform-origin:left;
    transform:scale(0.7);
    padding:0px 0px 0px 10px;
    transition: all 300ms ease;
}
.membersGroup-v9BXpm:hover {
    transform:scale(1);
    padding:0px 0px 0px 30px;
}
.members-1998pB .avatar-small {
    transform:scale(1.2);
}
.members-1998pB:hover .avatar-small{
    transform:scale(1);
}
.chat.flex-vertical.flex-spacer>.content.flex-spacer.flex-horizontal>.flex-spacer.flex-vertical{
    margin-right:-145px;
    z-index:1
}
.chat.flex-vertical.flex-spacer.private>.content.flex-spacer.flex-horizontal>.flex-spacer.flex-vertical{
    margin-right:0px;
    z-index:1
}
.theme-dark .reaction-1ELvT8.reactionMe-23mbRf {
    background: rgba(112, 84, 53,.3);
}
.theme-dark .reaction-1ELvT8.reactionMe-23mbRf .reactionCount-2ddRoS {
    color: white;
}
.avatarSpeaking-1wJCNq {
    box-shadow: 0 0 0 2px #A87E56, inset 0 0 0 2px black;
}
a,
.theme-dark .topic-2QX7LI a,
.marginLeft8-1YseBe,
.theme-dark .markup-2BOw-j a,
.need-help-modal.deprecated a,
.need-help-modal.deprecated a:hover {
    color: #EFD9C3;
}
.activityText-sLG0UL strong {
    font-weight: normal;
    color: #EFD9C3;
}
.contentCozy-3XX413 {
    margin-left: 100px;
}
.theme-dark .username-_4ZSMR {
    margin-left: 20px;
}
.theme-dark .iconBadge-2dji3k {
    border: 1px solid black;
    background-color: #705435;
    border-radius: 50px;
    box-shadow: none;
    height: 6px;
    right: 3px;
    top: 3px;
    width: 6px;
}
.theme-dark .attachButtonDivider-3Glu60 {
    background-color: rgba(255, 255, 255, 0.1);
    height: calc(100% - 20px);
    margin: 6px 5px;
    width: 2px;
}
.theme-dark .member-3W1lQa:hover .content-OzHfo4,
.channel-2QD9_O:hover a {
    background-color: rgba(168, 126, 86,0.28);
    color: #EFD9C3;
}
.contentHoveredText-2D9B-x, 
.contentHoveredVoice-3p_NEO:active, 
.contentSelectedVoice-1WDIBM:active {
    background-color: rgba(168, 126, 86,0.28);
}

.theme-dark .member-3W1lQa:hover .content-OzHfo4:after {
    content: "";
    background-image: url(https://png.icons8.com/office/30/000000/book.png);
    background-size: cover;
    width: 23px;
    height: 23px;
    left: -23px;
    position: relative;
}
.theme-dark .member-3W1lQa.popout-open .content-OzHfo4, 
.theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4,
.channel-2QD9_O.selected-1HYmZZ a {
    background-color: rgba(168, 126, 86,.6);
    color: #EFD9C3;
}
.theme-dark .member-3W1lQa.popout-open .content-OzHfo4:after, 
.theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4:after {
    content: "";
    color: black;
    background-image: url(https://png.icons8.com/color/30/000000/literature.png);
    background-size: cover;
    width: 33px;
    height: 33px;
    left: -27px;
    position: relative;
}
.contentSelectedText-3wUhMi {
    background-color: rgba(168, 126, 86,.6);
    border-radius: 50px;
}
.colorSelectedText-1y4Wvs, 
.colorSelectedVoice-Xcb_9R {
   color: white;
   opacity: 1;
}
.nameSelectedText-sp_EUw, 
.nameSelectedVoice-1qSph5 {
    color: white;
    text-shadow: 0 0 5px black;
    padding: 0 6px;
    text-decoration: underline;
}
.avatar-16XVId .mask-3OgeRz {
    -webkit-mask: none;
    mask: none;
    border-radius: 50%;
}

::-webkit-input-placeholder,
.iconCollapsed-3hFp_8, 
.iconDefault-3Gr8d2, 
.nameCollapsed-34uFWo, 
.nameDefault-2DI02H,
.theme-dark .topic-1KFf6J {
  color: #EFD9C3 !important;
  text-transform: capitalize;
}
.theme-dark .activityIconForeground-qYIPPg {
    fill: #EFD9C3;
}
.unreadBar-3lDSDn {
    box-shadow: none;
}
.unread-1xRYoj {
    background-color: #705435 !important;
}
.mention-1f5kbO {
    background-color: rgba(112, 84, 53,.5);
}
.mention-1f5kbO:hover {
    border: 1px solid rgba(255,255,255,0.3);
    background-color: rgb(112, 84, 53);
}
.newMessagesBar-mujexs,
.theme-dark .jumpToPresentBar-9P20AM {
    background-color: #705435 !important;
    color: #EFD9C3;
}
.theme-dark .markup-2BOw-j {
    color: white;
}
.newMessagesBar-mujexs button,
.jumpToPresentBar-9P20AM button {
    color:  #EFD9C3 !important;
}
.channelName-1G03vu svg {
    display: none;
}
.nameHovered-1gxhWH, 
.nameHoveredCollapsed-2orEWB,
.iconHovered-2L3-fB, 
.iconHoveredCollapsed-3caIIZ {
    text-transform: capitalize;
    color: #A87E56;
}
.iconMuted-1HVBGH, 
.iconUnread-3sxnnr,
.nameMuted-1MCOt4, 
.nameUnread-njOjIS {
    text-transform: capitalize;
    color: white;
    text-shadow: 0 0 4px red;
}
*::-webkit-scrollbar-track-piece,
#bda-qem-twitch-container .scroller::-webkit-scrollbar, 
#bda-qem-twitch-container .scroller::-webkit-scrollbar-track, 
#bda-qem-twitch-container .scroller::-webkit-scrollbar-track-piece, 
.bda-dark #pubs-container .scroller::-webkit-scrollbar, 
.bda-dark #pubs-container .scroller::-webkit-scrollbar-track, 
.bda-dark #pubs-container .scroller::-webkit-scrollbar-track-piece,
#bda-qem-favourite-container .scroller::-webkit-scrollbar, 
#bda-qem-favourite-container .scroller::-webkit-scrollbar-track, 
#bda-qem-favourite-container .scroller::-webkit-scrollbar-track-piece,
.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track,
.bda-dark .emoji-picker .scroller::-webkit-scrollbar, 
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-track, 
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-track-piece, 
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar, 
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track, 
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track-piece{
    background-color: transparent !important;
    border-color: transparent !important;
}
*::-webkit-scrollbar-thumb,
#bda-qem-twitch-container .scroller::-webkit-scrollbar-thumb, 
#bda-qem-favourite-container .scroller::-webkit-scrollbar-thumb, 
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-thumb, 
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-thumb, 
.bda-dark #pubs-container .scroller::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.3) !important;
    border-color: transparent !important;
}

.emojiPicker-3m1S-j .stickyHeader-1SS0JU {
    background: transparent;
}


.theme-dark .autocomplete-1vrmpx {
    background-color: rgba(0, 0, 0,0.34);
}
.contentTitle-sL6DrN {
    text-transform: capitalize;
}
.theme-dark .description-11DmNu, 
.theme-dark .descriptionUsername-J_75O8,
.theme-dark .contentTitle-2tG_sM {
    color: white;
}
.theme-dark .iconForeground-1w5n7R {
    fill: white;
}
.theme-dark .selectorSelected-1_M1WV,
.theme-dark .item-1GzJrl:hover {
    background-color: rgba(168, 126, 86,0.34);
}
.theme-dark .item-1GzJrl:hover {
    color: white;
}
.separator-2zcjq8,
.icon-3ICDZz {
    display: none;
}
.theme-dark .container-3cGP6G,
.theme-dark .menu-Sp6bN1 {
    background: black;
    border: none;
    border-radius: 0px;
}
.theme-dark .item-2J1YMK:hover {
    background-color: rgba(255,255,255,.15);
    color: silver;
}
.botTagRegular-2HEhHi,
.botTagInvert-18-95s {
    background: #705435;
    color: #fff;
}
.theme-dark .guild-1EfMGQ.unread-qLkInr:before {
    background: silver;
    border-radius: 0px;
}
.theme-dark .guild-1EfMGQ.selected-ML3OIq:before {
    background: #EFD9C3;
    border-radius: 0px;
}
/* Duration Bar */
.mediaBarGrabber-1FqnbN, .mediaBarProgress-1xaPtl, 
.mediaBarProgress-1xaPtl:after, 
.mediaBarProgress-1xaPtl:before {
    background-color: #705435;
}
.mediaBarInteraction-37i2O4:hover .mediaBarWrapper-3D7r67, 
.mediaBarInteractionDragging-2QurIZ:hover .mediaBarWrapper-3D7r67 {
    box-shadow: none;
}
.mediaBarPreview-1jfyFs, 
.mediaBarPreview-1jfyFs:after,
.mediaBarPreview-1jfyFs:before {
    background-color: rgba(255,255,255,0.7);
}
.mediaBarInteraction-37i2O4:hover .mediaBarGrabber-1FqnbN {
    background-color:#A87E56;
}
.buffer-3qw5qC, 
.buffer-3qw5qC:after, 
.buffer-3qw5qC:before {
    background-color: black;
}
.mediaBarWrapper-3D7r67, 
.mediaBarWrapper-3D7r67:after, 
.mediaBarWrapper-3D7r67:before {
    background-color: black;
}
/* Progress Bar */
.progressBar-3u8FBM,
.progressBar-3u8FBM[style*="width: 83%; background-color: rgb(114, 137, 218);"]{
    background-color: #705435 !important;
}
.progress-3Rbvu0 {
    background-color: #705435;
}
.wrapper-232cHJ{
    background-color: #705435;
    border-radius: 0px;
    color: #fff;
}
.badge {
    background-color: #705435;
    border-radius: 0px;
    box-shadow: none;
    color: #fff;
}
.theme-dark .isMentioned-N-h9aa:after {
    display: none
}
.theme-dark .isMentioned-N-h9aa {
    background: rgba(112, 84, 53,.4);
}
.theme-dark .alt-3btY0e .helper-2c73HK {
    display: none;
}
.theme-dark .item-1GzJrl {
    color: white;
}
.theme-dark .markup-2BOw-j pre {
    background: transparent;
    border-color: transparent;
}
.theme-dark .markup-2BOw-j code, 
.theme-dark .markup-2BOw-j code.inline {
    background: rgba(0,0,0,0.3);
}
.operations-36ENbA>a {
    color: #EFD9C3;
}
.theme-dark .operations-36ENbA,
.theme-dark .edited-DL9ECl {
    color: white;
}
.theme-dark .hljs-comment,
 .theme-dark .hljs-quote {
    color: #808080;
  }

 .theme-dark .hljs-variable,
  .theme-dark .hljs-template-variable,
 .theme-dark .hljs-attribute,
 .theme-dark .hljs-regexp,
 .theme-dark .hljs-link,
 .theme-dark .hljs-tag,
 .theme-dark .hljs-name,
 .theme-dark .hljs-selector-id,
 .theme-dark .hljs-selector-class {
    color: #629755;
  }

 .theme-dark .hljs-number,
 .theme-dark .hljs-meta,
 .theme-dark .hljs-built_in,
 .theme-dark .hljs-builtin-name,
 .theme-dark .hljs-literal,
  .theme-dark .hljs-type,
 .theme-dark .hljs-params {
    color: #6897BB;
  }

  .theme-dark .hljs-string,
 .theme-dark .hljs-symbol,
  .theme-dark .hljs-bullet {
    color: #6A8759;
  }

  .theme-dark .hljs-title,
 .theme-dark .hljs-section {
    color: #ffc66d;
  }

 .theme-dark .hljs-keyword,
  .theme-dark .hljs-selector-tag {
    color: #cc7832;
  }

 .theme-dark .hljs-deletion,
 .theme-dark .hljs-addition {
    color: #19171c;
    display: inline-block;
    width: 100%;
  }

  .theme-dark .hljs-deletion {
    background-color: #be4678;
  }

  .theme-dark .hljs-addition {
    background-color: #2a9292;
  }

  .theme-dark .hljs-emphasis {
    font-style: italic;
  }

 .theme-dark .hljs-strong {
    font-weight: bold;
  }
.tooltip-1OS-Ti.red-m6f4-H {
    width:140px;
  color: #FFFFFF;
  background: red;
  height: auto;
  line-height: 12px;
  text-align: center;
  border-radius: 4px;
}
.tooltip-1OS-Ti.black-2bmmnj {
   width:140px;
  color: #FFFFFF;
  background: #000000;
  height: auto;
  line-height: 13px;
  border-radius: 4px;
}
.tooltip-1OS-Ti.red-m6f4-H.right-KM_vfY:after {
    border-right: none;
}
.tooltip-1OS-Ti.black-2bmmnj.top-1pTh1F:after {
    border-top: none;
}
.tooltip-1OS-Ti.black-2bmmnj.right-KM_vfY:after {
    border-right: none;
}
.tooltip-1OS-Ti.black-2bmmnj.bottom-19kp6S:after {
    border-bottom: none;
}
.tooltip-1OS-Ti.black-2bmmnj.left-1wV7VO:after {
    border-left: none;
}
/* Discord Settings */
.theme-dark .accountBtnInner-sj5jLs {
    background-color: black !important;
}
.theme-dark .accountBtnInner-sj5jLs:hover {
    border: 1px solid #705435;
}
.lookFilled-1Gx00P.colorBrand-3pXr91,
.lookFilled-1Gx00P.colorBrand-3pXr91:disabled {
    background-color: rgba(112, 84, 53,.3);
    border: 1px solid #705435;
    color: #fff;
}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
    background-color: rgba(112, 84, 53,.6);
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
    border: 1px solid #48A600;
    color: #fff;
    background-color: rgba(72, 166, 0,.3);
}
.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
    background-color: rgba(72, 166, 0,.6);
}
.lookOutlined-3sRXeN.colorRed-1TFJan {
    border-color: #BB0000;
    background-color: rgba(187, 0, 0,.4);
    color: white;
}
.lookOutlined-3sRXeN.colorRed-1TFJan:hover {
    background-color: rgba(187, 0, 0,.6);
}
.theme-dark .input-cIJ7To.focused-1mmYsC,
.theme-dark .input-cIJ7To:focus {
    border-color: #48A600;
}
.theme-dark .input-cIJ7To {
   background-color: rgba(0,0,0,.3);
   color: #EFD9C3;
}
.theme-dark .h5-18_1nd,
.theme-dark .lookLink-3VWONr.colorPrimary-2KuK5O,
.theme-dark .avatar-uploader .remove-button,
.theme-dark .standardSidebarView-3F1I7i .esc-text,
.theme-dark .description-3_Ncsb, 
.theme-dark .labelDescriptor-1PqHgD,
.theme-dark .defaultColor-1_ajX0 {
   color: #EFD9C3;
}
.theme-dark .cardPrimaryEditable-3KtE4g,
.theme-dark .cardPrimary-1Hv-to,
.theme-dark .cardPrimaryOutline-29Ujqw {
    background: rgba(0,0,0,.5);
    border-color: transparent;
}
.cardPrimaryEditable-3KtE4g[style*="border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);"] {
   background-color: #705435 !important;
   border: none !important;
}
.theme-dark .input-cIJ7To:hover {
   background-color: rgba(0,0,0,.6);
}
.theme-dark .descriptionDiscriminator-3vUOCc {
    color: silver;
}
.theme-dark .userSettingsAccount-2eMFVR .viewBody-14sCmR {
    color: white;
}
.theme-dark .itemDefault-3Jdr52, 
.theme-dark .itemHover-3rojsB,
#bd-settings-sidebar .ui-tab-bar-item {
    color: white;
    text-transform: capitalize;
    font-weight: normal;
}
.theme-dark .header-2RyJ0Y,
#bd-settings-sidebar .ui-tab-bar-header {
    color: #EFD9C3;
    text-transform: capitalize;
    text-decoration: underline;
    font-weight: normal;
}
.theme-dark .separator-3z7STW,
#bd-settings-sidebar .ui-tab-bar-separator,
.theme-dark .divider-3573oO {
    display: none;
}
.side-8zPYf6 .itemSelected-1qLhcL,
.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected,
.bd-pfbtn {
    background-color: #705435;
    color: #fff;
}
/* Nitro Stuff */
.theme-dark .itemDefault-3Jdr52[style*="color: rgb(114, 137, 218);"] {
    color: #705435 !important;
}
.theme-dark .itemDefault-3Jdr52[style*="color: rgb(114, 137, 218);"]:hover {
    background-color: rgba(112, 84, 53,0.29) !important;
}
[class="itemSelected-1qLhcL item-PXvHYJ selected-3s45Ha"][style*="color: rgb(114, 137, 218);"] {
    background-color: #705435 !important;
    color: white !important;
}
[class="item-2zi_5J marginBottom8-1mABJ4 horizontal-2VE-Fw flex-3B1Tl4 directionRow-yNbSvJ cardPrimaryEditable-2IQ7-V card-3DrRmC"][style*="border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);"] {
   border-color: transparent!important;
   background-color: #705435 !important;
}
.theme-dark .checked-3_4uQ9[style*="border-color: rgb(114, 137, 218);"],
.theme-dark .checked-3_4uQ9 {
    background-color: #423523 !important;
    border-color: transparent !important;
}
.theme-dark .checked-3_4uQ9[style*="border-color: rgb(114, 137, 218);"] [stroke],
.theme-dark .checked-3_4uQ9[style*="border-color: rgb(79, 84, 92);"] polyline[stroke] {
    stroke: white;
    stroke-width: 2;
}
.barFill-23-gu-,
.barFill-23-gu-[style*="background: rgb(105, 196, 154); width: 21.7355%;"] {
    background: #705435 !important;
}
.theme-dark .bar-2Qqk5Z,
.theme-dark .bar-2Qqk5Z[style*="background: rgb(251, 184, 72);"] {
    background: #423523 !important;
}

.theme-dark .checkbox-1QwaS4 {
    border-color: transparent;
}
.theme-dark .bubble-3we2di {
    background-color: black;
    color: white
}
.theme-dark .elevationHigh-3A9Xbf {
    box-shadow: none;
}
.theme-dark .bubble-3we2di:before {
    border-top-color: transparent;
}
.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
    background-color: rgba(0,0,0,0.3);
    border-color: transparent;
}
.userSettingsVoice-iwdUCU .media-engine-video {
    display: none;
}
.theme-dark .notificationsSound-27jFSh {
    box-shadow: none;
}
.themeDefault-24hCdX.sizeDefault-2YlOZr,
.themeDefault-24hCdX.sizeDefault-2YlOZr:after,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch:before {
    box-shadow: none;
    border-radius: 0px;
}
.themeDefault-24hCdX.valueChecked-m-4IJZ,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked {
    background-color: #705435;
}
.ghostPill-2-KUPM {
    background-color: #705435;
    border-radius: 0px;
    color: white;
}
.theme-dark .card-FDVird:before,
.theme-dark .user-settings-games .not-detected, 
.theme-light .notDetected-33MY4s {
    background-color: rgba(0,0,0,0.3);
    border-color: transparent;
}
.theme-dark .button-mM-y8i {
    background-color: black !important;
    box-shadow: none;
}
.theme-dark .game-1ipmAa,
.theme-dark .row-3ZE8bQ,
.theme-dark .item-3eFBNF {
    box-shadow: none;
}
.theme-dark .lastPlayed-3bQ7Bo, 
.theme-dark .overlayStatusText-L2IACa,
.lookLink-9FtZy-.colorLink-35jkBc {
    color: #EFD9C3;
}
.theme-dark .nowPlaying-284llR .last-played, 
.theme-dark .nowPlaying-284llR .overlay-status-text, 
.theme-light .nowPlaying-284llR .last-played, 
.theme-light .nowPlaying-284llR .overlay-status-text {
    color: #EFD9C3;
}
.theme-dark .nowPlaying-284llR, 
.theme-light .nowPlaying-284llR,
.standardSidebarView-3F1I7i #editor-detached button,
.bda-slist .bda-footer button {
    background-color: #705435;
}
#bd-settingspane-container .ui-switch-item .style-description {
    color: #EFD9C3;
    border-bottom: transparent;
}
.theme-dark .markValue-2DwdXI,
.standardSidebarView-3F1I7i #editor-detached h3,
.marginLeft4-3VaXdt {
    color: white;
}
.theme-dark .markDash-3hAolZ {
    background: silver;
}
.lookLink-9FtZy-.colorLink-35jkBc:hover .contents-18-Yxp {
    background-image: linear-gradient(0deg,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0) 1px,#EFD9C3 0,#EFD9C3 2px,rgba(0, 0, 0, 0) 0);
}
.theme-dark .addGamePopout-2RY8Ju {
    background-color: black;
}
.theme-dark .elevationBorderHigh-3Y6y6W {
    box-shadow: none;
}
/* Custom CSS Stuff */
.content-region #bd-customcss-attach-controls,
#bd-customcss-detach-container #bd-customcss-attach-controls {
    background: black;
    color: #FFF;
    border: 0;
    box-shadow: none;
}
.ace-monokai,
.ace-monokai .ace_gutter,
.editor {
    background-color: black;
    color: white;
}
/* Checkbox Place */
.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span {
    background-color: #705435;
    border-color: transparent;
}
.standardSidebarView-3F1I7i #bd-customcss-attach-controls button, 
.bd-detached-css-editor #bd-customcss-attach-controls button {
    background: #705435 !important;
    border: none !important;
}
.standardSidebarView-3F1I7i #bd-customcss-attach-controls button:hover, 
.bd-detached-css-editor #bd-customcss-attach-controls button:hover,
.bda-slist .bda-footer button {
    border: 1px solid rgba(255,255,255,0.45) !important;
}
.bda-slist .bda-footer button:disabled {
    border: none !important;
}
.theme-dark .bda-slist li {
    background: rgba(0,0,0,.3);
    border: none;
}
.bda-slist .bda-header {
    color: white;
    border-bottom: none;
}
/* Friends and DMs */
.theme-dark .container-3gCOGc .tab-bar .tab-bar-item .badge {
    background-color: rgba(112, 84, 53, 0.6);
    color: white !important;
}
.theme-dark .topPill-30KHOu .itemSelected-1qLhcL .badge {
    background-color: #A87E56;
    color: #fff;
}

.theme-dark .friendSelected--wQP3f {
    background: transparent;
    border: 1px solid #705435;
    padding-right: 6px;
    border-left: none;
}
.searchBarTag-2xRzm8 {
    border: 1px solid #705435;
    border-radius: 0px;
    background-color: transparent;
}
.searchBar-2pE3BB .searchBar-2_Yu-C,
.searchBar-2_Yu-C {
    background-color: black;
}
.disabled-9aF2ug:hover {
    background-color: #A87E56;
}
.disabled-9aF2ug {
    background-color: #705435;
}
.noticeInfo-3v29SJ {
    background-color: #705435;
    color: #fff;
}
.theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d .friendsColumnSeparator-3MqtMA,
.theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d .friendsColumnSeparator-3MqtMA,
.theme-dark .guildSeparator-1X4GQ1:after,
.theme-dark .keybindShortcutTipsSelect-HDyfe8:last-of-type:before {
    background: none;
}
.theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d,
.theme-dark .friendsTable-133bsv .friendsRow-2yicud+.friendsRow-2yicud {
    border: none;
}
.friendsTable-133bsv .friendsRow-2yicud .friendsColumnStatus-ZH4ho2 .friendActivityText-2lmziy, 
.friendsTable-133bsv .friendsRow-2yicud .friendsColumnStatus-ZH4ho2 .statusText-2F9zIF,
.theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d .friendsColumn-eVHFqJ,
.friendsTable-133bsv .friendsRow-2yicud .discord-tag .username,
.theme-dark .friendsOnline-_wi_fM, .theme-light .friendsOnline-_wi_fM,
.theme-dark .emptyStateNote-ZYTetQ,
.theme-dark .contentDefault-16dKSY .note-1VhFgQ,
.misc-1CT3G7,
.theme-dark .dmIconContainer-BrJm0X .guildIcon-3afz4I, 
.theme-dark .guildIconContainer-f9-QSh .guildIcon-3afz4I,
.theme-dark .icon-30q1Or,
.theme-dark .contentUnread-3HdzDL .note-1VhFgQ {
    color: white;
}
.private-channels .channel .channel-name,
.private-channels header {
    color: white;
    opacity: 0.7;
}
.theme-dark .guild-1EfMGQ .guildInner-3DSoA4 {
    background: #705435 !important;
    border-radius: 50px !important;
}
.theme-dark .guildsWrapper-5TJh6A .guilds .friends-icon {
    background-image: url(/assets/89576a4bb71f927eb20e8aef987b499b.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 32px 28px;
    height: 50px;
    width: 50px;
}
.theme-dark .guildsWrapper-5TJh6A .guilds .friends-icon:hover {
    background-image: url(/assets/89576a4bb71f927eb20e8aef987b499b.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 32px 28px;
    height: 50px;
    width: 50px;
}
.tabBar-1E2ExX .primary-3j8BhM,
.theme-dark .container-3gCOGc .tab-bar .tab-bar-item,
#friends .btn,
.private-channel-recipients-invite .error-state.not-friends .btn {
    transition: background-color 1000ms ease;
    background-color: rgba(112, 84, 53,0.3)  !important;
    color: #fff;
}
.theme-dark .callAvatar-v-u4BM.voice-2D-tt_ .callAvatarStatus-3y6S04 {
    border-color: black;
    background-color: #705435;
}
.callAvatarBorder-1D_KaE.voice-2D-tt_.speaking-oCqYMI,
.callAvatarBorder-1D_KaE.video-3GgX2M.speaking-oCqYMI {
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px #705435;
}
.lookFilled-1Gx00P.colorRed-1TFJan {
    background-color: rgba(255,0,0,0.23);
    color: #fff;
    border: 1px solid red;
}
.lookFilled-1Gx00P.colorRed-1TFJan:hover {
    background-color: rgba(255,0,0,0.63);
    color: #fff;
}
.theme-dark .topPill-30KHOu .item-PXvHYJ:hover:not(.itemSelected-1qLhcL),
.tabBar-1E2ExX .primary-3j8BhM:hover:not(.selected),
#friends .btn:hover,
.private-channel-recipients-invite .error-state.not-friends .btn:hover {
    background-color: rgba(112, 84, 53,0.7)  !important;
}
.tabBar-1E2ExX .primarySelected-3uHKZn {
    background-color: #705435  !important;
    border: 2px solid black;
    color: white  !important;
}
.theme-dark .topPill-30KHOu .itemSelected-1qLhcL {
    background-color: #705435;
    border: 1px solid #A87E56;
    color: white;
}
.theme-dark .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9 {
    background-color: transparent;
}
#friends .friends-table .friends-row .friends-column-actions {
    visibility: visible;
}
.friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9.friendsActionRemove-qu8nnl {
    background-image: url(https://i.imgur.com/eexdv0I.png);
    opacity: 0.6;
}
.friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9.friendsActionVideoCall-2_PKeP {
    background-image: url(https://i.imgur.com/A4rDR1h.png);
    opacity: 0.6;
}
.friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9.friendsActionVoiceCall-3EdPsR {
    background-image: url(https://i.imgur.com/xdZDZT8.png);
    opacity: 0.6;
}
.friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9.friendsActionVideoCall-2_PKeP {
    background-image: url(https://i.imgur.com/A4rDR1h.png);
}
.friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9.friendsActionVoiceCall-3EdPsR {
    background-image: url(https://i.imgur.com/xdZDZT8.png);
}
.friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9.friendsActionRemove-qu8nnl:hover {
    opacity: 1;
    background-color: transparent;
}
.friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9.friendsActionVideoCall-2_PKeP:hover {
    opacity: 1;
    background-color: transparent;
}
.friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9.friendsActionVoiceCall-3EdPsR:hover {
    opacity: 1;
    background-color: transparent;
}
.backdrop-1ocfXc {
    background-color: rgba(0,0,0,0.4) !important;
}
.theme-dark .quickswitcher-3JagVE {
    background-color: rgba(0,0,0,0.8);
    color: white;
}
.theme-dark .tipsWithoutResults-lGY-De, 
.theme-dark .tipsWithResults-HhTE9b {
    border: none;
    color: white;
}
.theme-dark .keybindShortcut-1BD6Z1 span {
    background-color: #705435;
    border: transparent;
    box-shadow: none;
    color: white;
}
.theme-dark .keybindShortcut-1BD6Z1 span:active .bindArrow-2X3Aom g {
    fill: silver;
}
.theme-dark .keybindShortcut-1BD6Z1 span:active {
    border: 1px solid #000;
    color: silver;
}
.theme-dark .input-2VB9rf {
    background-color: black !important;
    box-shadow: none;
    color: #fff;
}
.theme-dark .resultFocused-3aIoYe {
    background-color: transparent;
    border: 1px solid #705435;
}
.theme-dark .input-2VB9rf:focus {
    border: 1px solid #6ee23d;
}
.theme-dark .friendsTable-133bsv .friendsRow-2yicud:hover {
    background: rgba(66, 53, 35,0.5);
    border: 1px solid black;
}
#friends .friends-table .friends-row .friends-column-guilds .avatar-small {
    background-color: #705435;
    color: #fff;
}
.aka-1mqp34 {
    background: #705435;
}
/* Status Code */
.idle-3DEnRT {
    background-image: url(https://i.imgur.com/tzCOdYg.png);
    background-size: contain;
}
.dnd-1_xrcq {
    background-image: url(https://i.imgur.com/27CekA8.png);
    background-size: contain;
}
.invisible-1kp8Z0, 
.offline-3qoTek, 
.unknown-Ms2zdV {
    background-image: url(https://i.imgur.com/tgAWxPU.png);
    background-size: contain;
}
.online-2S838R {
    background-image: url(https://i.imgur.com/1PgRNvk.png);
    background-size: contain;
}
.status-3fQvEa {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.theme-dark .avatarStatus-3jMZl_ {
    width: 10px;
    height: 10px;
}
.theme-dark .avatarStatus-3jMZl_.statusOnline-1FlpW_,
.theme-dark .status-2s6iDp.statusOnline-1FlpW_,
.statusOnlineProfile-C7N-xU {
    background-image: url(https://i.imgur.com/1PgRNvk.png);
    background-size: contain;
    box-shadow: none;
}
.theme-dark .avatarStatus-3jMZl_.statusIdle-1XoSCz,
.theme-dark .status-2s6iDp.statusIdle-1XoSCz,
.statusIdleProfile-3lQI6a {
    background-image: url(https://i.imgur.com/tzCOdYg.png);
    background-size: contain;
    box-shadow: none;
}
.theme-dark .avatarStatus-3jMZl_.statusDnd-2DDKST,
.theme-dark .status-2s6iDp.statusDnd-2DDKST,
.statusDndProfile-33i43o {
    background-image: url(https://i.imgur.com/27CekA8.png);
    background-size: contain;
    box-shadow: none;
}
.theme-dark .avatarStatus-3jMZl_.statusOffline-3R-4Bv,
.theme-dark .status-2s6iDp.statusOffline-3R-4Bv,
.statusInvisibleProfile-3iFEOq, 
.statusOfflineProfile-9tGGr- {
    background-image: url(https://i.imgur.com/tgAWxPU.png);
    background-size: contain;
    box-shadow: none;
}
#friends .friends-table .friends-row .friends-column-status .status-online {
   background-image: url(https://i.imgur.com/1PgRNvk.png);
   background-size: contain;
}
#friends .friends-table .friends-row .friends-column-status .status-idle {
    background-image: url(https://i.imgur.com/tzCOdYg.png);
    background-size: contain;
}
#friends .friends-table .friends-row .friends-column-status .status-dnd {
    background-image: url(https://i.imgur.com/27CekA8.png);
    background-size: contain;
}
#friends .friends-table .friends-row .friends-column-status .status-streaming,
.theme-dark .status-2s6iDp.statusStreaming-1bZ3Hq {
    background-image: url(https://i.imgur.com/Mmg31Hs.png);
    background-size: contain;
    box-shadow: none;
}
#friends .friends-table .friends-row .friends-column-status .status {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}
.private-channels .status {
    border: 2px solid black !important;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}
.private-channels .status-online {
   background-image: url(https://i.imgur.com/1PgRNvk.png);
   background-size: contain;
}
.private-channels .status-idle {
    background-image: url(https://i.imgur.com/tzCOdYg.png);
    background-size: contain
}
.private-channels .status-dnd {
    background-image: url(https://i.imgur.com/27CekA8.png);
    background-size: contain;
}
.private-channels .status-offline,
#friends .friends-table .friends-row .friends-column-status .status-offline {
    background-image: url(https://i.imgur.com/tgAWxPU.png);
    background-size: contain;
}
.private-channels .status-streaming {
    background-image: url(https://i.imgur.com/Mmg31Hs.png);
    background-size: contain;
}
.title-3qD0b- .status, 
.titleCall-_b9o8P .status {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 0px;
}
.container-2Thooq .status,
.theme-dark .status-2s6iDp {
    border: 2px solid black;
}
.title-3qD0b- .status-online,
.titleCall-_b9o8P .status-online,
.container-2Thooq .status-online {
   background-image: url(https://i.imgur.com/1PgRNvk.png);
   background-size: contain;
}
.title-3qD0b- .status-idle,
.titleCall-_b9o8P .status-idle,
.container-2Thooq .status-idle {
    background-image: url(https://i.imgur.com/tzCOdYg.png);
    background-size: contain
}
.title-3qD0b- .status-dnd,
.titleCall-_b9o8P .status-dnd,
.container-2Thooq .status-dnd {
    background-image: url(https://i.imgur.com/27CekA8.png);
    background-size: contain;
}
.title-3qD0b- .status-offline,
.titleCall-_b9o8P .status-offline,
.container-2Thooq .status-invisible {
    background-image: url(https://i.imgur.com/tgAWxPU.png);
    background-size: contain;
}
.title-3qD0b- .status-streaming,
.titleCall-_b9o8P .status-streaming,
.container-2Thooq .status-streaming {
    background-image: url(https://i.imgur.com/Mmg31Hs.png);
    background-size: contain;
}
/* Search Popout */
.theme-dark .searchOption-zQ-1l6 .filter-3Y_im- {
   color: silver;
} 
.theme-dark .option-96V44q.selected-rZcOL- {
   background: rgba(112, 84, 53,0.3);
}
.theme-dark .container-3ayLPN,
.theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header {
    background-color: rgba(0,0,0,0.5);
    border: none;
    box-shadow: none;
}
.theme-dark .option-96V44q.selected-rZcOL-:after {
    background: none;
}
.theme-dark .resultsGroup-r_nuzN .header-2N-gMV {
    color: #EFD9C3;
}
.theme-dark .option-1MvVr1 .answer-9L5NhD,
.theme-dark .searchOption-zQ-1l6 .answer-1n6g43 {
    background-color: rgba(66, 53, 35,1);
    color: white;
    padding: 4px;
}
.theme-dark .option-1MvVr1 .nonText-1oayCI,
.theme-dark .option-1MvVr1.user-1TwSRF .displayUsername-3PmTeH {
   color: gray;
}
.theme-dark .option-96V44q strong,
.theme-dark .option-1MvVr1.user-1TwSRF .displayedNick-1487Dr {
    color: white;
}
.theme-dark .resultsGroup-2qzvNj:before {
    border-top: none;
}
.theme-dark .datePicker-1RD4eT .datePickerHint-1iW7Wz,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__current-month {
    border: none;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled {
    background-color: black;
    color: red;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after {
    background-color: transparent;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day-name,
.theme-dark .datePicker-1RD4eT .datePickerHint-1iW7Wz .hint-21tC6F {
    color: white;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day {
    border: none;
}
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z {
    background-color: rgba(112, 84, 53,0.4);
    transition: background-color 300ms linear;
}
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z:hover {
    background-color: rgba(112, 84, 53,0.7);
}
.calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected {
    background-color: #705435;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:hover, 
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day:hover {
    background-color: #A87E56;
    color: #fff;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--disabled {
    background-color: black;
    color: rgba(247, 247, 248, 0.3);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--disabled:hover {
    background-color: #423523;
    color: rgba(247, 247, 248, 0.3);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--disabled, 
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month {
    background-color: black;
    color: rgba(247, 247, 248, 0.3);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--disabled:hover, 
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month:hover {
    background-color: #423523;
}
.theme-dark .searchResultChannelCategory-CTQNMT, 
.theme-dark .searchResultChannelIcon-3WC6xU {
    color: silver;
}
/* Upload Section */
.uploadModal-2ifh8j .inner-3nWsbo {
    border: none;
    color: rgb(255, 255, 255);
}
.uploadModal-2ifh8j {
    background-color: black;
}
.uploadModal-2ifh8j .footer-3mqk7D {
    background-color: black;
}
.uploadModal-2ifh8j .footer-3mqk7D .button {
    background-color: rgba(255,0,0,0.4);
    border: 1px solid red
}
.uploadModal-2ifh8j .footer-3mqk7D .button:hover {
    background-color: rgba(255,0,0,0.6);
}
.uploadModal-2ifh8j .footer-3mqk7D .button-primary {
    background-color: rgba(112, 84, 53,0.4);
    border: 1px solid #705435;
    color: white;
    transition: background-color 500ms ease, border 500ms ease;
}
.uploadModal-2ifh8j .footer-3mqk7D .button-primary:hover {
    background-color: rgba(112, 84, 53,0.6);
    border: 1px solid #705435;
    color: white;
    opacity: 1;
}
.uploadDropModal-2kTwbc {
   background: black;
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .bgScale-1otPtc  {
    background: black !important;
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo  {
    background: black !important;
    border: none;
}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
    background-color: transparent;
    background-size: cover;
    border: none;
    border-radius: 0px;
    z-index: 0;
    padding: 64px;
}
/* Need Help Menu */
.need-help-modal.form.deprecated .header {
    background-color: #705435;
    border-radius: 0px;
}
.form-deprecated .form-inner, 
.form.deprecated .form-inner {
    background-color: black;
}
.need-help-modal.form.deprecated .footer {
    background-color: black;
    border-radius: 0px;
    border-top: none;
    color: white;
}
.need-help-modal.form.deprecated .header input[type=text]:focus {
    border-bottom: none;
}
.need-help-modal.form.deprecated .header input[type=text] {
    background-color: black;
    box-shadow: none;
    color: white;
    border-radius: 0px;
}
.form-deprecated .control-group input[type=email], 
.form-deprecated .control-group input[type=number], 
.form-deprecated .control-group input[type=password], 
.form-deprecated .control-group input[type=text], 
.form-deprecated .control-group textarea, 
.form.deprecated .control-group input[type=email], 
.form.deprecated .control-group input[type=number], 
.form.deprecated .control-group input[type=password], 
.form.deprecated .control-group input[type=text], 
.form.deprecated .control-group textarea {
    border: none;
    border-bottom: none;
    color: white;
}
.need-help-modal.deprecated a:after {
    content: "";
    background-image: url(https://png.icons8.com/office/30/000000/book.png);
    background-size: cover;
    padding-right: 25px;
}
/* Emote Menu */
.bda-dark #bda-qem-favourite-container, .bda-dark #bda-qem-twitch-container, .bda-dark .emoji-picker, .bda-dark .emojiPicker-3m1S-j {
    background-color: black;
    border-radius: 0px;
    border: none;
}
.searchBar-2_Yu-C.searchBarLight-1NxoDG .searchBarInner-1_Tg2R {
    background-color: #705435;
    border: none;
}
.emojiPicker-3m1S-j .header-1nkwgG {
    border-bottom: none;
}
.bda-dark .emoji-picker .category, .bda-dark .emojiPicker-3m1S-j .category-2U57w6 {
    background-color: #705435;
    color: white;
}
.bda-dark .emoji-picker .header .searchBar-2_Yu-C, .bda-dark .emojiPicker-3m1S-j .header-1nkwgG .searchBar-2_Yu-C {
    background-color: transparent;
}
.bda-dark .emoji-picker .dimmer.visible, .bda-dark .emojiPicker-3m1S-j .dimmer-3iH-5D.visible-3k45bQ  {
    background-color: rgba(0,0,0,0.65);
}
.bda-dark .emoji-picker .diversity-selector .popout-3sVMXz, .bda-dark .emojiPicker-3m1S-j .diversitySelector-tmmMv0 .popout-2nUePc {
    background: black;
    border-color: transparent;
}
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar, .bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track, .bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track-piece, .bda-dark #pubs-container .scroller::-webkit-scrollbar, .bda-dark #pubs-container .scroller::-webkit-scrollbar-track, .bda-dark #pubs-container .scroller::-webkit-scrollbar-track-piece, .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar, .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track, .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track-piece,.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track,.bda-dark .emoji-picker .scroller::-webkit-scrollbar, .bda-dark .emoji-picker .scroller::-webkit-scrollbar-track, .bda-dark .emoji-picker .scroller::-webkit-scrollbar-track-piece, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track-piece {
    background-color: transparent !important;
    border-color: transparent !important;
}
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-thumb, .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-thumb, .scrollerThemed-2oenus.themeLight-1_DWyY .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-dark .scrollerThemed-2oenus.themeLight-1_DWyY .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-light .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: #705435 !important;
    border-color: transparent !important;
    border-radius: 0px;
}
.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.selected-39BZ4S {
    border-bottom-color: #705435;
}
.bda-dark #bda-qem {
    border-bottom: none !important;
    background: transparent;
}
.bda-dark #bda-qem button {
    background: black;
    border-left: none;
    box-shadow: none;
}
.bda-dark #bda-qem button:hover {
    background-color: #161719;
}
.bda-dark #bda-qem button.active {
    background-color:#705435;
}
/* Notification Settings */
.theme-dark .footer-2yfCgX {
    background-color: transparent;
    box-shadow: none;
}
.header-3sp3cE {
    background-color: black;
}
.theme-dark .modal-3HD5ck {
    background-image: url(https://images2.alphacoders.com/261/26102.jpg);
    background-size: cover;
    box-shadow: none;
}
.theme-dark .select-3JqNgs .Select-control {
    background: rgba(0,0,0,.1);
    border: none;
    box-shadow: none;
}
.theme-dark .select-2TCrqx .Select-control .Select-placeholder {
    color: white;
}
.theme-dark .select-2TCrqx .Select-menu-outer {
    background: black;
    border: none;
    box-shadow: none;
}
.theme-dark .select-2TCrqx .Select-option.is-focused, 
.theme-dark .select-2TCrqx .Select-option:hover {
    border: 2px solid #705435;
}
.theme-dark .primary-jw0I4K {
    color: white;
}
.icon-JJBzjE {
   color: white
}
.lighten-2aYaaU {
    opacity: .6;
}
/* Context Menu */ 
.theme-dark.contextMenu-HLZMGh {
    background: black;
    box-shadow: none;
}
.theme-dark .itemGroup-oViAgA {
    border-color: transparent;
}
.theme-dark .itemSubMenu-1vN_Yn {
    background: #705435;
}
.theme-dark .itemSubMenu-1vN_Yn:hover,
.theme-dark .item-1Yvehc:hover {
    background: #A87E56;
    color: white !important;
}
.theme-dark .item-1Yvehc {
    border-radius: 0;
    padding: 8px;
}
/* Pinned, Mention and Search */
.theme-dark .messagesPopoutWrap-1MQ1bW .footer-dHccYB,
.theme-dark .messagesPopoutWrap-1MQ1bW .header-ykumBX,
.theme-dark .searchHeader-1l-wpR {
    background-color: black;
}
.theme-dark .messagesPopoutWrap-1MQ1bW,
.theme-dark .searchResultsWrap-2DKFzt {
    background-color: #705435;
    border: none;
    box-shadow: none;
}
.theme-dark .searchResult-3pzFAB:after,
.theme-dark .searchResult-3pzFAB:before {
    display: none;
}
.theme-dark .messageGroupWrapper-o-Zw7G:hover {
    border-color: #A87E56;
}
.theme-dark .messageGroupWrapper-o-Zw7G,
.theme-dark .searchResultsWrap-2DKFzt .searchResult-3pzFAB .searchResultMessage-2VxO12.hit-NLlWXA {
    background-color: black;
    border-color: #423523;
    box-shadow: none;
}
.theme-dark .channelSeparator-1X1FuH .channelName-1QajIf {
    background-color: transparent;
    color: #fff;
}
.theme-dark .searchResultsWrap-2DKFzt .searchResult-3pzFAB.expanded-v2Szsz ,
.theme-dark .channelSeparator-1X1FuH:before {
    border: none;
}
.theme-dark .searchResultsWrap-2DKFzt .expanded-v2Szsz .searchResultMessage-2VxO12.hit-NLlWXA {
    background-color: black;
    border: 2px solid #43A047;
    border-radius: 30px;
}
.theme-dark .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug {
    background: none !important;
    box-shadow: none !important;
}
.theme-dark .messageGroupWrapper-o-Zw7G .actionButtons-1sUUug .jumpButton-3DTcS_,
.theme-dark .jumpButton-Ia2hRJ {
    background-color: black;
    color: white;
    border: 1px solid #705435;
}

/* Extra Code for Server */
.theme-dark .emoji-alias-input .emoji-input {
    background-color: #705435;
}
.theme-dark .guild-settings-members-member .tag {
    color: white;
}
.theme-dark .searchBar-YMJBu9 {
    background-color: rgba(0,0,0,0.4);
}
/* User Profile Settings and Modal */
.theme-dark .headerNormal-T_seeN,
.theme-dark .body-3iLsc4, 
.theme-dark .footer-1fjuF6{
    background-color: rgba(0,0,0,0.4);
    border: none;
}
.userPopout-3XzG_A {
    box-shadow: none;
    background: url(https://static.zerochan.net/Patchouli.Knowledge.full.2008751.jpg) 50% 50%/cover;
}
.bodyTitle-Y0qMQz {
    color: white;
}
.theme-dark .protip-YaFfgO {
    display: none;
}
.theme-dark .quickMessage-1yeL4E {
    background-color: transparent;
    border-color: transparent;
    color: white;
}
.theme-dark .quickMessage-1yeL4E:focus,
.theme-dark .note-3kmerW textarea:focus,
.theme-dark .root-SR8cQa .note-QfFU8y textarea:focus {
    background-color: rgba(255,255,255,0.14);
    border-color: transparent;
}
.theme-dark .topSectionNormal-2-vo2m,
.theme-dark .body-3ND3kc {
    background-color: rgba(0,0,0,0.4);
}
.tabBarContainer-1s1u-z,
.theme-dark .userInfoSection-2acyCx+.userInfoSection-2acyCx {
    border: none;
}
.theme-dark .connectedAccount-36nQx7 {
    border-color: black;
    background-color: rgba(112, 84, 53,0.4);
}
.listAvatar-1NlAhb {
    background-color: rgb(112, 84, 53);
}
.userInfoSectionHeader-CBvMDh,
.connectedAccountName-f8AEe2,
.guildNick-3uAm3i, 
.listName-3w10cx {
    color: white;
}
.root-SR8cQa {
    background: url(https://static.zerochan.net/Patchouli.Knowledge.full.2029414.jpg) 50% 50%/cover;
}
/* Playing */
.headerPlaying-j0WQBV ,
.headerPlaying-j0WQBV  ~ .body-3iLsc4,
.headerPlaying-j0WQBV  ~ .footer-1fjuF6,
.headerPlaying-j0WQBV  ~ .footer-1fjuF6 > .quickMessage-1yeL4E,
.topSectionPlaying-1J5E4n,
.topSectionPlaying-1J5E4n~ .body-3ND3kc {
    background: rgba(0, 102, 204,0.5);
}
.headerPlaying-j0WQBV  ~ .footer-1fjuF6 > .quickMessage-1yeL4E:focus  {
    background: rgba(0, 102, 204,0.5);
    border: 1px solid #6D9BC3;
}
.headerPlaying-j0WQBV  ~ .body-3iLsc4 > .note-3kmerW textarea:focus {
    background: rgb(0, 102, 204);
}
.lookInverted-2D7oAl.colorBrand-3pXr91,
.lookInverted-2D7oAl.colorBrand-3pXr91:hover {
    background-color: rgb(0, 102, 204) !important;
    color: white !important;
    border: 1px solid #6D9BC3;
}
/* Spotify */
.headerSpotify-zpWxgT,
.headerSpotify-zpWxgT ~ .body-3iLsc4,
.headerSpotify-zpWxgT ~ .footer-1fjuF6,
.headerSpotify-zpWxgT ~ .footer-1fjuF6 > .quickMessage-1yeL4E,
.topSectionSpotify-1lI0-P,
.topSectionSpotify-1lI0-P ~ .body-3ND3kc,
.headerXbox-3G-4PF,
.headerXbox-3G-4PF ~ .body-3iLsc4 , 
.headerXbox-3G-4PF ~ .footer-1fjuF6,
.headerXbox-3G-4PF ~ .footer-1fjuF6 > .quickMessage-1yeL4E,
.topSectionXbox-3fWLjS,
.topSectionXbox-3fWLjS  ~ .body-3ND3kc {
    background:rgba(95, 167, 120,0.7);
}
.headerSpotify-zpWxgT ~ .footer-1fjuF6 > .quickMessage-1yeL4E:focus,
.headerXbox-3G-4PF ~ .footer-1fjuF6 > .quickMessage-1yeL4E:focus {
    background: rgba(95, 167, 120,0.5);
    border: 1px solid #319177;
}
.headerSpotify-zpWxgT ~ .body-3iLsc4 > .note-3kmerW textarea:focus,
.headerXbox-3G-4PF ~ .body-3iLsc4 > .note-3kmerW textarea:focus  {
    background: 	#3AA655;
}
.lookInverted-2D7oAl.colorGreen-29iAKY,
.lookInverted-2D7oAl.colorGreen-29iAKY:hover {
    background-color: rgb(95, 167, 120);
    color: white;
    border: 1px solid #319177;
}
/* Streaming */
.headerStreaming-2FjmGz, 
.headerStreaming-2FjmGz ~ .body-3iLsc4,
.headerStreaming-2FjmGz ~ .footer-1fjuF6,
.headerStreaming-2FjmGz ~ .footer-1fjuF6 > .quickMessage-1yeL4E,
.topSectionStreaming-1Tpf5X,
.topSectionStreaming-1Tpf5X ~ .body-3ND3kc {
    background: rgba(88, 66, 124,0.7);
}
.headerStreaming-2FjmGz ~ .footer-1fjuF6 > .quickMessage-1yeL4E:focus  {
    background: rgba(88, 66, 124,0.5);
    border: 1px solid #58427C;
}
.headerStreaming-2FjmGz ~ .body-3iLsc4 > .note-3kmerW textarea:focus {
    background: 	#58427C;
}
.buttonInvertedPurple-WtBglX,
.buttonInvertedPurple-WtBglX:hover {
    background-color: rgb(88, 66, 124);
    color: white;
    border: 1px solid #58427C;
}
/* Roles */
.role-2irmRk {
    border: none;
}
.roleCircle-3xAZ1j {
    border-radius: 0px;
}
.roleCircle-3xAZ1j[style*="background-color: rgb(185, 187, 190);"] {
    border: 2px solid black !important;
    background-color: #705435 !important;
}
.theme-dark .activityFeed-28jde9 {
    background-color: rgba(0,0,0,0.3);
}
.arrow-1-DaGi,
.theme-dark .discriminator-1Kma2g{
    color: white;
}
.theme-dark .card-7JP0BX {
    background-color: black;
    color: white;
}
.theme-dark .header-1RC2Wb {
    background-color: rgba(112, 84, 53,0.4) /* (Main Color, .4) */;
}
.theme-dark .header-1RC2Wb:hover {
    background-color: rgba(112, 84, 53,.7) /* (Main Color, .7) */;
}
.headerButtonColor-G7_f-V,
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6{
    background: #705435 !important;
    color: #fff;
}

.theme-dark .body-SKIE6r {
    background-color: transparent;
}
.theme-dark .headerText-2niCs_ {
    border-top-color: transparent;
    color: white;
}
.theme-dark .player-1kJMbj {
    border-bottom-color: transparent;
}
.theme-dark .sectionLine-JjseS9 {
    background-color: transparent;
}
.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.6);
    border-color: rgba(0, 0, 0, 0);
}
.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track {
    background-color: transparent;
}


/* New Stuff */
.theme-dark .gameLibrary-TTDw4Y,
.theme-dark .applicationStore-1pNvnv,
.theme-dark .itemBackground-1jfD8p {
    background-color: transparent
}

.theme-dark .itemBackground-1jfD8p:before {
    background: radial-gradient(ellipse at top,rgba(0, 0, 0, 0),black),linear-gradient(90deg,black 0,rgba(0, 0, 0, 0) 40%,rgba(0, 0, 0, 0) 60%,black),linear-gradient(0deg,black 0,rgba(0, 0, 0, 0) 25%)
}

.theme-dark .overlappingBorder-1ysb12 {
    border-color: #705435
}

.theme-dark .announcingNitro-3Ptg6m:hover {
    color: white
}

.theme-dark .announcingNitro-3Ptg6m {
    border-color: transparent;
    color: #705435
}

.theme-dark .distributionApplicationsActions-3D2_kD, .theme-dark .premiumApplicationsHeader-Zmkm5e {
    border-color: transparent
}

.theme-dark .tileWrapper-2khh-w {
    background-color: rgba(0,0,0,0.34);
    box-shadow: none
}

.theme-dark .tileWrapper-2khh-w:hover {
    background-color: rgba(0,0,0,0.84);
}

.theme-dark .mediaDescription-31GsyQ {
    background: linear-gradient(180deg,rgba(0, 0, 0, 0),black 45%,black)
}

/* --- */
.theme-dark .focused-2bY0OD {
    background-color: rgba(255,255,255,0.23);
}


.theme-dark .queryContainer-RKFJW- {
    border-bottom-color: transparent;
    color: white
}
