/**
 * @name New Rem Theme
 * @author ShadowDevilsAvenged
 * @description Newer Rem theme for my return
 * @version 3
 */

 .app-2CXKsg {
    background-image: url(https://images8.alphacoders.com/767/767470.jpg);
    background-size: cover;
    background-color: transparent;
}

.theme-dark .perksModal-CLcR1c {
    background-color: transparent;
}

.preview-3SR4Rd {
    color: white;
}

.root-2s1-ri>* {
    background-color: transparent;
}

.withTagAsButton-OsgQ9L:hover, 
.withTagless-10ooWt:hover {
  background-color: rgba(0, 0, 0, .3);
  border-radius: 4px;
  border: 1px solid #00aeff;
  color: white;
}

.theme-light .messageContainer-3a6gLR {
    background-color: #181818;
}

.background-3X6N7I {
    background-color: transparent;
}

.reactionTooltipText-iAWHhX a {
    color: #00DFF1;
    font-weight: bold;
    background-color: black;
    padding: 2px;
}

.bg-1QIAus {
    background-color: transparent;
}

.layers-1YQhyW {
    background-color: rgba(0,0,0,.65);
}

.container-ZMc96U.themed-Hp1KC_, .chat-2ZfjoI, .members-3WRCEx, .members-3WRCEx>div,
.chat-2ZfjoI, .container-2o3qEW, .container-1NXEtd, .sidebar-1tnWFu, .scroller-3X7KbA, .wrapper-1_HaEi {
    background: transparent;
}


.panels-3wFtMD {
    background-color: rgba(0,0,0,.25);
}

.theme-dark .container-2McqkF {
    background-image: -webkit-repeating-linear-gradient(-48deg, #000000 30%, #1a1a1a 35%);
}

.theme-dark .elevationBorderHigh-3drnJX {
    box-shadow: none;
}

.theme-dark .resultsGroup-cfY57t .header-1BR0Ro, .theme-dark .resultsGroup-cfY57t .plusIcon-1RVszG, .theme-dark .resultsGroup-cfY57t .searchClearHistory-3nIKUO, .theme-dark .resultsGroup-cfY57t .searchLearnMore-1gNL3A a {
    color: white;
}

.theme-dark .resultsGroup-cfY57t:before {
    border-top: none;
}

.option-ayUoaq {
    
    font-size: 13px;
    border-radius: 6px;
}

.theme-dark .searchResultChannelCategory-19ujDo, .theme-dark .searchResultChannelIcon-C-3P9x {
    color: silver;
}

.theme-dark .option-ayUoaq .answer-14OVbQ, .theme-dark .option-ayUoaq .nonText-28q_Ot, .theme-dark .option-ayUoaq strong {
    color:  white;
}

.plusIcon-1RVszG {
    opacity: 1;
}

.theme-dark .option-ayUoaq:after, .theme-dark .option-ayUoaq:hover:after, .theme-dark .option-ayUoaq[aria-selected=true]:after {
    background: none;
}

.theme-dark .option-ayUoaq[aria-selected=true] {
    background-color: rgba(97, 164, 216, .79);
    border: 2px outset rgba(255, 255, 255, .33);
}

.theme-dark .option-ayUoaq:hover {
    background-color: rgba(0,0,0,.25);
}

.option-ayUoaq.user-1dKxvu .displayAvatar-3jNvaK {
    border-radius: 5px;
}

.theme-dark .option-ayUoaq.user-1dKxvu .displayedNick-1atSpT {
    color: silver;
}

.theme-dark .option-ayUoaq.user-1dKxvu .displayUsername-UTerwm {
    color: white;
}

.applicationStreamingAvatar-3RXs7A .avatar-b5OQ1N,
.voiceSectionGuildImage-TctMOd, .voiceSectionNoGuildImageWrapper-17kLyh,
.voiceSectionAssets-1dg-E5 {
    border-radius: 4px;
}

.theme-dark .voiceSectionIcon-1_4-an, .theme-dark .xboxSectionIcon-1xiv4J {
    color: white;
}

.partyMember-YLjOa7 foreignObject {
    mask: none;
}

.theme-dark .outer-2JOHae.active-1W_Gl9, .theme-dark .outer-2JOHae.interactive-2zD88a:hover {
    background-color: rgba(0, 0, 0, 0.28);
}

.partyMember-YLjOa7 .avatar-b5OQ1N {
    border-radius: 5px;
}

.partyMember-YLjOa7 {
    -webkit-mask: none;
    mask: none;
}

.theme-dark .voiceSectionIconWrapper-4yoj76 {
    background-color: #61a5d8;
}

.voiceSectionIconWrapper-4yoj76 {
    border-radius: 4px;
}

.theme-dark .searchAnswer-23w-CH, .theme-dark .searchFilter-2UfsDk {
    background-color: #61a5d8;
}

.theme-dark .queryContainer-ZunrLZ {
    color: white;
    border-bottom-color: #61a5d8;
}

.theme-dark .focused-2FU0YH {
    background-color: rgba(118, 171, 217, .70);
}

.theme-dark .dim-2Uxgxb span {
    background-color: #61a5d8;
    color: white;
}

.theme-dark .keybindShortcut-3zF1P9 span {
    color: white;
    box-shadow: none;
}

.keybindShortcut-3zF1P9 span {
    background-color: #61a5d8;
    border: 1px solid #76AAD9;
    border-radius: 6px;
}

.theme-dark .keybindShortcut-3zF1P9 {
    color: white;
}

.queryText-j8z984 {
    text-transform: capitalize;
}

.theme-dark .keybindShortcut-3zF1P9 span:active {
    color: white;
    box-shadow: none;
    border: 2px outset #76AAD9;
}

.theme-dark .dim-2Uxgxb span:active {
    color: white;
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker {
    background-color: transparent;
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__navigation.react-datepicker__navigation--next, .theme-dark .calendarPicker-sDhzdi .react-datepicker__navigation.react-datepicker__navigation--previous {
    border-color: transparent;
}

.react-datepicker__month-read-view--down-arrow, .react-datepicker__month-year-read-view--down-arrow, .react-datepicker__navigation-icon:before, .react-datepicker__year-read-view--down-arrow {
    border-color: white;
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__header {
    background-color: transparent;
    border-color: transparent;
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__current-month {
    border-bottom-color: transparent;
    color: white;
}

.calendarPicker-sDhzdi .react-datepicker__current-month {
    font-weight: 400;
    text-transform: capitalize;
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__day-name {
    color: white;
}

.calendarPicker-sDhzdi .react-datepicker__day-name {
    text-transform: capitalize;
}

.calendarPicker-sDhzdi .react-datepicker__month * {
    border: none !important;
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__day--disabled, .theme-dark .calendarPicker-sDhzdi .react-datepicker__day--outside-month, .theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled, .theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled:hover {
    background-color: rgba(216, 17, 17, .29);
    color: rgba(246, 246, 247, .5);
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__day {
    color:  white;
}

.calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--keyboard-selected, .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--selected:hover, .calendarPicker-sDhzdi .react-datepicker__day:hover {
    background-color: #FFB21F;
}

.calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--selected:after {
    background-color: #FFB21F;
}

.theme-dark .datePicker-3iA7_k .datePickerHint-Ir4715 {
    border-top: none;
}

.theme-dark .datePicker-3iA7_k .datePickerHint-Ir4715 .hint-xfbpCV {
    color: white;
}

.theme-dark .datePicker-3iA7_k .datePickerHint-Ir4715 .hintValue-V9hd8l {
    background-color: #61a5d8;
    border: 1px solid rgba(255, 255, 255, .54);
}

.theme-dark .datePicker-3iA7_k .datePickerHint-Ir4715 .hintValue-V9hd8l:hover {
    border: 2px outset #76AAD9;
    background-color: #76AAD9;
}

.theme-dark .datePicker-3iA7_k .datePickerHint-Ir4715 .hintValue-V9hd8l:active {
    border: 2px inset #61a5d8;
    background-color: #61a5d8;
}

.searchBar-jGtisZ {
    border-radius: 7px;
    color: white;
    background-color: rgba(0,0,0,.25);
}

.search-2Mwzzq .DraftEditor-root .public-DraftEditorPlaceholder-root, .icon-18rqoe {
    color: white;
}

.iconBadge-3Mmg92 {
    width: 10px;
    height: 10px;
    border-radius: 4px;
    background-color: #61A5D8;
}


.icon-2xnN2Y {
    color: white !important;
}
.icon-2xnN2Y foreignObject {
    mask: none;
}


.searchHeader-1r_ZSh, .header-1w9Q93 {
    background-color: transparent;
}

.channelHeader-DFRX8q {
    background-color: rgba(0,0,0,.25);
    padding: 0 14px;
}


.searchResultsWrap-5RVOkx, .messagesPopoutWrap-3zryHW, .container-2ebMPP {
    background-image: -webkit-repeating-linear-gradient(-48deg, #000000 30%, #1a1a1a 35%);
}

.searchResult-O9NDji, .messageGroupWrapper-1jf_7C, .messages-23can0, .messageContainer-3VTXBC {
    background-color: rgba(0,0,0,.55);
    border: 2px solid black;
    border-radius: 4px;
}

.jumpButton-1ZwI_j, .button-cfOvv- {
    border-radius: 6px;
    color: white !important;
    background-color: rgba(0,0,0,.75);
}

.avatar-2e8lTP {
    border-radius: 6px;
    background-color: #61a5d8;
}

.cozy-VmLDNB .header-2jRmjb {
    color: white;
}

.username-h_Y3Us {
    font-size: 15px;
    font-weight: 700;
    color: white;
}

.cozy-VmLDNB .timestamp-p1Df1m, .brand-3g5E0C.item-3XjbnG, .themed-2-lozF.item-3XjbnG,
.brand-3g5E0C.item-3XjbnG:hover, .themed-2-lozF.item-3XjbnG:hover,
.selected-g-kMVV.item-3XjbnG, .selected-g-kMVV.item-3XjbnG:hover,
.body-GBnhET {
    color: white;
}

.tip-Jl__cG {
    color: white;
    opacity: 1;
}

.side-2ur1Qk .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP), .topPill-3DJJNV .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP) {
    background-color: #76aad9;
    border: 2px outset #76aad9;
}

.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
    background-color: #61a5d8 !important;
    border: 2px inset #61a5d8 !important;
} 

.channelName-3w2Y3c {
    padding: 4px 8px;
    background: rgba(0,0,0,.25);
    color: white;
}

.footer-5ji8u1 {
    background-color: transparent;
}

.secondary-2bzKEX {
    color: white;
}

.primary-38Hs-h:hover:not(.disabled-184-il), .secondary-2bzKEX {
    background-color: rgba(0,0,0,.25);
}

.tertiary-1e-lAP:hover:not(.disabled-184-il) {
    background-color: rgba(0,0,0,.25);
    color: white;
}

.secondary-2bzKEX:hover:not(.disabled-184-il), .tertiary-1e-lAP {
    background-color: rgba(0,0,0,.45);
    color: white;
}

.button-1_oXub {
    border-radius: 5px;
}

.colorHeaderSecondary-g5teka {
    color: white;
}

.menu-1QACrS {
    box-shadow: none;
    background-image: -webkit-repeating-linear-gradient(-48deg, #000000 30%, #1a1a1a 35%);
    border-radius: 7px;
}

.colorDefault-CDqZdO {
    color: white;
    border-color: transparent;
}

.colorDefault-CDqZdO .checkbox-hADx5o, .colorDefault-CDqZdO .radioSelection-1UHp0b {
    color: #00DFF1;
}

.colorDefault-CDqZdO.focused-3qFvc8 {
    background-color: #76AAD9;
    border: 2px outset #76AAD9;
}

.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
    background-color: #61A5D8;
    border: 2px inset #61A5D8;
}

.colorDefault-CDqZdO.focused-3qFvc8 .check-3HZJs4 {
    color: #00DFF1;
}


.wanderingCubesItem-3Us-UG {
    background-color: #FFEC65;
    border-radius: 40px;
}

.jumpButton-1V_1FA {
    background-color: #61A5D8;
    border-radius: 6px;
}

.jumpButton-1V_1FA .text-2ifC_x {
    color: white !important;
}

.markup-eYLPri a {
    color: #94CEE6;
}

.markup-eYLPri {
    color: white;
}

.mention {
    border-radius: 3px;
    padding: 0 2px;
}

.theme-dark .wrapper-1ZcZW- {
    background: #61A5D8;
    border: 2px solid #76AAD9;
    color: white !important;
}

.theme-dark .wrapper-1ZcZW-:hover {
    background: #61A5D8;
    border: 3px outset #76AAD9;
}

.reactionCount-26U4As {
    color: white !important;
}

.reaction-3vwAF2.reactionMe-1PwQAc {
    background: rgba(97, 164, 216, .48);
    border: 3px inset #61a5d8;
}

.reaction-3vwAF2 {
    border-radius: 7px;
    background: rgba(0,0,0,.25);
    border: 3px solid #242424;
}

/* .reaction-2A2y9y */

.reaction-3vwAF2:hover {
    background-color: rgba(0,0,0,.55);
    border: 3px outset #242424;
}

.embedFull-1HGV2S {
    border-left: none;
    background: rgba(0,0,0,.45);
}

.guildIcon-IklRcj {
    background-color: #61a5d8;
}

.wrapper-2olG5t {
    border-radius: 5px;
    background-color: #61A5D8;
    box-shadow: none;
    text-shadow: none;
}

.tutorial-Nb3Zz5 {
    background-color: rgba(0,0,0,.55);
}

.tutorialIcon-25VF3Q {
    background-color: #61A5D8;
    border-radius: 5px;
    color: white;
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ {
    background-color: rgba(74, 94, 221, .66);
    transition: background-color .6s;
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover {
    background-color: rgba(31, 61, 255, .89);
}

.theme-dark .tooltipPrimary-3qLMbS {
    background-color: #61A5D8;
}

.theme-dark .tooltip-14MtrL {
    box-shadow: none;
    color: white;
}

.theme-dark .tooltipPrimary-3qLMbS .tooltipPointer-3L49xb {
    border-top-color: #61A5D8;
}

#app-mount .divider-2rZFJK {
    border-top: none;
}

#app-mount .content-3spvdd {
    padding: 5px 8px;
    color: white;
    background: #61A5D8;
    border-radius: 5px;
}

.unreadPill-3nEWYM {
    border-radius: 0 6px 6px 0;
    text-transform: capitalize;
    color: #fff;
    background-color: #61A5D8;
}

.unreadPillCapStroke-1nE1Q8 {
    color: #61A5D8;
    fill: #61A5D8;
}

.updateIconForeground-2V_zo4 {
    fill: #61A5D8;
}

.botTagRegular-kpctgU {
    background: #61A5D8;
}

.guildNameText-jBFbNC, .theme-dark .activityIcon-vfIBet {
    color: white;
}

.size24-9rrwDS .avatarContainerMasked-13fYnN foreignObject {
    mask: none;
}

.avatar-3TrM7c {
    border-radius: 5px;
}

.size24-9rrwDS .moreUsers-_v6T-L {
    border-radius: 5px;
}

.moreUsers-_v6T-L {
    background-color: #76AAD9;
    font-weight: 300;
    color: white;
}


.container-18GwIk {
    background-image: -webkit-repeating-linear-gradient(-48deg, #000000 30%, #1a1a1a 35%);
    border-radius: 4px;
    background-attachment: fixed;
}

.browser-mnQ1T7 {
    border: #40cfff 2px groove;
    box-shadow: #42baff 1px 2px 11px 6px;
}

.header-3_zmOb {
    background-color: transparent;
}

.closeIcon-11tHJX, .threadIcon-rd1kqG, .searchIcon-zpxirk {
    color: white;
}

.icon-mJhEWn {
    background-color: rgba(0,0,0,.7);
    border-radius: 6px;
    color: white;
}

.container-2rzKKA {
    background: #292929;
    border-radius: 5px;
    border: #4d4d4d 3px groove;
}

.wrapper-1VLyxH, .avatar-b5OQ1N {
    border-radius: 5px !important;
}

.avatar-2jnSDw foreignObject, .noAvatarIcon-3Jqqzy foreignObject {
    mask: none;
}

.searchBox-3IjAC1 {
    background-color: rgba(0,0,0,.45);
}

.wrapper-3HVHpV {
    background-color: transparent;
}

.wrapper-15CKyy {
    background-color: rgba(0,0,0,.55);
}

.avatar-l9Txm5 {
    border-radius: 4px;
}

.attachment-16cAbS, .avatar-l9Txm5, .blob-1uHjdp {
    background-color: #61A5D8;
    opacity: .5 !important;
}

.uploadArea-2Nu_Vc {
    background: rgba(0,0,0,.4);
}

.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .bgScale-1iWuPF {
    border-radius: 4px;
    background: #61A5D8;
}

.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS {
    border: none;
    border-radius: 4px;
}

.container-3XgAHv {
    background: rgba(0,0,0,.25);
}

.iconWrapper-3plkqh {
    border-radius: 5px;
    background-color: rgba(97, 164, 216, .72);
    box-shadow: rgba(97, 165, 216, .8) 2px 2px 2px 0px, rgba(97, 165, 216, .8) 2px 2px 2px 0px;
}

.h5-2RwDNl {
    color: white;
}

.input-2g-os5 {
    border-radius: 5px;
    color: white;
    background-color: rgba(0,0,0,.25);
    border: 1px solid transparent;
}

.input-2g-os5.focused-1AtTHC, .input-2g-os5:focus {
    border-color: #61A5D8;
    background-color: rgba(0,0,0,.45);
}

*::-webkit-input-placeholder {
    color: white !important;
}

.channelTextAreaInner-ITp5kW {
    background-color: transparent;
    border: none;
}

.scrollableContainer-15eg7h {
    background-color: transparent;
}

.channelTextArea-3TZH74, .channelTextArea-1FufC0 {
    background-color: rgba(0,0,0,.15);
}

.slateTextArea-27tjG0 {
    caret-color: white;
}

.placeholder-1_mJY1, .slateTextArea-27tjG0 .hljs-comment, .slateTextArea-27tjG0 .hljs-quote, .textArea-2CLwUE,
.codeBlockSyntax-2MZ-Qy, .syntaxAfter-OxiKEl, .syntaxBefore-3pDAmR {
    color: white;
}

.icon-3g7qdA {
    color: white !important;
}

.divider-3NY7PF {
    border-left: none;
}

.toolbar-37BrJ5 {
    background-color: #61A5D8;
    box-shadow: none;
}

.toolbar-37BrJ5:before {
    border-top: 8px solid #61A5D8;
}

.active-136ioF, .hover-3OQb9Y:hover {
    background-color: #76AAD9;
}

.after_inlineCode-WydEur, .before_inlineCode-xn8Llh, .inlineCode-2auMQi {
    background: #61A5D8;
}

.fakeLink-2FvUR7 {
    color: gold;
}

.sprite-2lxwfc {
    filter: grayscale(40%) !important;
}

.contentWrapper-3vHNP2, .emojiPicker-6YCk8a {
    background-image: -webkit-repeating-linear-gradient(-48deg, #000000 30%, #1a1a1a 35%);
    box-shadow: none;
}

.navButton-1XuvI- {
    border-radius: 4px;
    color: white !important;
}

.navButtonActive-1EqC5l {
    background-color: #76AAD9;
    border: 2px inset #76AAD9;
}

.header-11eigE {
    box-shadow: none;
}

.container-1SX9VC {
    border-radius: 6px;
    background-color: rgba(0,0,0,.25);
}

.input-2FSSDe, .header-1XpmZs, .titleSecondary-3hcpuB {
    color: white;
}

.diversitySelectorOptions-3DhNYs {
    background-color: rgba(0,0,0,.6);
    border: none;
}

.diversityEmojiItem-2bgZKv:hover {
    background-color: #76AAD9;
}

.wrapper-1NNaWG {
    border: 2px solid black; 
    background-color: rgba(46, 46, 46, .72);
}

.emojiItem-277VFM.emojiItemSelected-2Lg50V {
    background-color: rgba(0,0,0,.25);
}

.inspector-DFKXwB, .wrapper-22rqw6 {
    background-color: transparent;
}

.guildIcon-2SUGiq {
    background-color: rgba(0,0,0,.35);
    color: white;
    border-radius: 4px;
}

.graphicSecondary-37AA_Y foreignObject, .categoryItemGuildCategory-3mvXlo foreignObject, .stickerCategory-2f6iSo foreignObject {
    mask: none;
}

.categoryItemDefaultCategorySelected-2YeRUu, .categoryItemDefaultCategorySelected-2YeRUu:hover {
    background-color: #61A5D8;
    border: 2px solid black;
}

.categoryItemDefaultCategory-3haEDq:hover {
    background-color: rgba(0,0,0,.4);
}

.categoryIcon-2cYeku, .unicodeShortcut-3N8oDe {
    color: white !important;
}

.container-2oNtJn {
    background-color: rgba(0,0,0,.2);
}

.stickerCategory-2f6iSo {
    color: white;
}

.stickerInspected-mwnU6w .inspectedIndicator-27zwNZ {
    background-color: rgba(0,0,0,.5);
}

.premiumCategorySelected-2KWLhN, .premiumCategorySelected-2KWLhN:hover, .stickerCategoryGenericSelected-DnO2K8, .stickerCategoryGenericSelected-DnO2K8:hover {
    background-color: #76AAD9;
    border: 2px solid black;
}

.lookFilled-1GseHa.select-1Ia3hD {
    background-color: rgba(0,0,0,.25);
    border-color: transparent;
}

.select-1Ia3hD, .wrapper-1b33hy {
    color: white;
    font-weight: 300;
}

.popout-1KHNAq {
    border: none;
    background: rgba(0,0,0,.75);
}

.selectedIcon-19TbzU {
    color: white;
}

.option-2eIyOn[aria-selected=true] {
    background-color: #61A5D8 !important;
}

.option-2eIyOn {
    color: white !important;
    font-weight: 300;
}

.option-2eIyOn.focused-ODgjnC, .option-2eIyOn:focus, .option-2eIyOn:hover {
    background-color: #76AAD9;
}

.theme-dark .root-g14mjS {
    background-image: -webkit-repeating-linear-gradient(-48deg, #000000 30%, #1a1a1a 35%);
    box-shadow: none;
}

.perks-2IIbWQ {
    background-color: rgba(0,0,0,.25);
    border-radius: 4px;
}

.perkRow-10K6XE {
    border-bottom: 1px solid black;
}

.theme-dark .footer-31IekZ {
    background-color: transparent;
    box-shadow: none;
}

.theme-dark .children-3xh0VB:after {
    background: none;
}

.note-zbNIfb, .planOption-187LtR, .breadcrumbWrapper-3rpYiO, .totalLabel-2RGUEh {
    color: white;
}

.planOptionInterval-3QyrC0 {
    color: silver;
}

#app-mount .optionSelected-2AMHHJ {
    color: white;
}


.theme-dark .checkbox-f1HnKB {
    border-color: white;
}

.theme-dark .checkbox-f1HnKB[style*="border-color; background-color"], .theme-dark .checkbox-f1HnKB[style*="border-color"] {
    background-color: #76AAD9 !important;
    border: 2px outset #76AAD9 !important;
}

.theme-dark .checkbox-f1HnKB[style*="border-color; background-color"] path, .theme-dark .checkbox-f1HnKB[style*="border-color"] path {
    fill: white;
}

.round-1RSG-3 {
    border-radius: 5px;
}

.button-1zW0-r {
    border-radius: 5px;
    background-color: #61A5D8;
    border: 3px groove #61A5D8;
}

.button-1zW0-r:hover, .keyboard-mode .button-1zW0-r.focused-H4w81f {
    background-color: #76AAD9;
    border: 3px outset #76AAD9;
}

.button-1zW0-r:active {
    background-color: #61A5D8;
    border: 3px inset #61A5D8;
}

.closeButton-3IEry2 {
    color: white !important;
}

.replyBar-1oi75v, .threadSuggestionBar-3ExSyc {
    background: transparent;
}

.attachedBars-2BCP3l {
    background: rgba(0,0,0,.5);
}

.wrapper-2vIMkT {
    background-color: #61A5D8;
    box-shadow: none;
}

.button-3bklZh {
    color: white !important;
}

.button-3bklZh:hover {
    background-color: #76AAD9;
}

.executedCommandAvatar-3oOnb1, .replyAvatar-sHd2sU, .replyBadge-LMm_Ic, .threadMessageAccessoryAvatar-17qE_g {
    border-radius: 4px;
}

.repliedMessage-3Z6XBG:before {
    border-left: 3px solid #61A5D8;
    border-top: 3px solid #61A5D8;
}

.repliedMessage-3Z6XBG {
    color: white;
}

.popoutContainer-2wbmiM {
    background-color: rgba(0,0,0,.45);
    box-shadow: none;
}

.wrapper-3z7DuG {
    background-color: transparent;
}

.theme-dark .autocomplete-3NRXG8 {
    background-image: -webkit-repeating-linear-gradient(-48deg, #000000 30%, #1a1a1a 35%);
}

.disabled-20aT9e {
    opacity: 1;
    background-color: rgba(221, 75, 75, .3);
    padding: 1px 9px;
}

.theme-dark .clickable-2V8YKY[aria-disabled=false]>.base-2v-uc0:hover, .clickable-2V8YKY[aria-selected=true]>.base-2v-uc0 {
    background-color: #76AAD9;
    border: 3px outset #76AAD9;
}

.theme-dark .option-Tt7anD {
    background-color: rgba(0,0,0,.25);
}

.optionalCount-1BzEgg, .optionalHeader-1b1EgJ, .description-1T7FK8, .title-158kHv, .icon-1kx1ir {
    color: white;
}

.section-Dep3No foreignObject {
    mask: none;
}

.icon-28xrhD {
    border-radius: 7px;
}

.wrapper-1wwiGV:hover {
    background-color: rgba(0,0,0,.15);
}
.wrapper-1wwiGV:hover .icon-1kx1ir {
    color: white;
}

.progress-xNqAjK[style*="background-color: var(--background-modifier-active);"] {
    background-color: #61A5D8 !important;
}

.progressBar-1T6LYX[style*="background-color: hsl(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%);"] {
    background-color: #76AAD9 !important;
}

.metadata-1E7Z4i, .size-2mQ7x9 {
    color: white;
}

.attachment-1PZZB2 {
    border-color: transparent;
    background-color: rgba(0,0,0,.25);
}

.theme-dark .message-G6O-Wv {
    background-color: rgba(0,0,0,.35);
    box-shadow: none;
}

.lookFilled-yCfaCM.colorRed-rQXKgM {
    background-color: rgba(176, 33, 33, .62);
}

.lookFilled-yCfaCM.colorRed-rQXKgM:hover {
    background-color: #B02121;
    border: 2px outset #B02121;
}

.lookFilled-yCfaCM.colorRed-rQXKgM:active {
    background-color: #B02121;
    border: 2px inset #B02121;
}

.upload-vLbqu- {
    background-color: transparent;
}

.theme-dark .footer-VCsJQY {
    background-color: transparent;
    box-shadow: none;
}

.description-22d6ux {
    color: white;
}


.markup-eYLPri code {
    background: rgba(97, 164, 216, .44);
    border: 4px ridge #61A5D8;
}

.hljs {
    color: white;
    text-shadow: rgba(0, 0, 0, 0.89) 0px 3px 1px, #000000 3px 1px 10px, #000000 3px 1px 10px;
}

.bd-toast {
    background-color: #61A5D8;
    border-radius: 7px;
    box-shadow: none;
    color: white;
}

.bd-toast.toast-success {
    background-color: #00AD89;
}

.auto-2K3UW5::-webkit-scrollbar {
    width: 22px;
}

.auto-2K3UW5::-webkit-scrollbar-thumb {
    background-color: #61A5D8;
}

.auto-2K3UW5::-webkit-scrollbar-thumb, .auto-2K3UW5::-webkit-scrollbar-track {
    border-radius: 3px;
}

.auto-2K3UW5::-webkit-scrollbar-track {
    background-color: transparent;
}

.thin-31rlnD::-webkit-scrollbar {
    width: 12px;
}

.thin-31rlnD::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #61A5D8;
}

.thin-31rlnD::-webkit-scrollbar-track {
    background-color: transparent;
    border: none;
}

.membersGroup-2eiWxl.container-q97qHp {
    color: white;
    font-size: 14px;
}

.container-q97qHp {
    text-transform: capitalize;
    letter-spacing: 0;
}

.avatar-6qzftW foreignObject {
    mask: none;
}


.layout-1qmrhw {
    border-radius: 7px;
}

.container-1oeRFJ {
    border-radius: 7px;
    color: white;
}

.clickable-28SzVr.container-1oeRFJ:hover, .clickable-28SzVr.container-1oeRFJ:hover .muted-14PyqW,
.clickable-28SzVr.container-1oeRFJ:active, .highlighted-3PcOfB.container-1oeRFJ, .selected-1-Z6gm.container-1oeRFJ {
    color: white;
}

.clickable-28SzVr:hover .layout-1qmrhw {
    background-color: rgba(0, 0, 0, 0.28);
    border: 2px ridge #76AAD9;
}

.selected-1-Z6gm .layout-1qmrhw {
    background-color: rgba(0, 0, 0, 0.78);
    border: 2px inset #61A5D8;
}


.userPopout-2j1gM4 {
    box-shadow: none;
    background-image: -webkit-repeating-linear-gradient(-48deg, #000000 30%, #1a1a1a 35%);
    border-radius: 3px;
}

.activity-2EQDZv {
    color: white;
}

.bodyInnerWrapper-2bQs1k, .footer-3naVBw {
    background-color: transparent;
    color: white;
}

.avatar-2Vndt_, .avatar-3QF_VA {
    border: none;
    background-color: transparent;
}

.avatarWrapper-eenWra foreignObject, .avatarHint-k7pYop foreignObject, .avatar-3QF_VA foreignObject {
    mask: none;
}

.avatarHint-k7pYop {
    top: 0;
    left: 0;
}

.role-2TIOKu {
    font-size: 14px;
    background: rgba(97, 164, 216, .35);
}

.lookFilled-yCfaCM.colorGreen-3y-Z79 {
    background-color: #00AD89 !important;
    opacity: .8;
    transition: opacity .2s ease-in;
}

.lookFilled-yCfaCM.colorGreen-3y-Z79:hover {
    opacity: 1;
}

.lookFilled-yCfaCM.colorGreen-3y-Z79:disabled {
    background-color: #00AD89;
}

.body-1Ukv50, .topSection-13QKHs {
    background-color: transparent;
}

.connectedAccountContainer-SlCC-S {
    background-color: rgba(97, 165, 216, .32);
    border-radius: 6px;
    border: 1px solid #61A5D8;
}

.flowerStar-2tNFCR path {
    fill: #61A5D8;
}

.listRow-2nO1T6:hover {
    background-color: rgba(26, 26, 26, .6);
}

.guildNick-fe8oPN {
    color: white;
}

.listAvatar-2bU5Uh foreignObject, .autocompleteRowIcon-Br97vl foreignObject {
    mask: none;
}

.colorInteractiveNormal-36ZhyZ {
    color: white;
}

.iconBadge-32fMme {
    background-color: #61A5D8;
}

.baseShapeRound-3epLEv {
    border-radius: 4px;
}

.numberBadge-37OJ3S[style*="background-color"] {
    background-color: #61A5D8 !important;
    width: 20px !important;
    height: 20px;
}

.wrapper-1HIH0j {
    background-color: rgba(0,0,0,.4);
}

.guildIcon-3ZfRfI {
    background-color: transparent;
}

.iconActiveLarge-ac-EDu, .embedAuthorIcon-3pnkS4 {
    border-radius: 5px;
}

.mention-3XBnnZ {
    background-color: rgba(97, 165, 216, .7);
    border-radius: 4px;
    border: 3px outset #61A5D8;
}

.mention-3XBnnZ:active {
    background-color: #76AAD9;
}

.mini-2qY9iv .grabber-2GQyvM {
    border-radius: 2px;
}

.grabber-2GQyvM {
    border-radius: 0;
    background-color: #76AAD9;
    border: none;
    box-shadow: none;
}

.barFill-2Bh7CX {
    background: #76AAD9 !important;
}

.theme-dark .bar-1Bhnl9 {
    background: #61A5D8 !important;
}

.newMessagesBar-1hF-9G {
    border-radius: 0 0 4px 4px;
    background-color: #61A5D8;
    box-shadow: none;
}

.jumpToPresentBar-1cEnH0 {
    border-radius: 4px 4px 0 0;
    background-color: #242424;
}

.wrapper-1ZcZW-[style*="background-color"] {
    border: none !important;
}

.avatar-3FKimL {
    border-radius: 4px;
}

.icon-N9JZb6, .username-vAneIW, .listDefault-2F-w65 .clickable-1ctZ-H:hover .username-vAneIW {
    color: white;
}

.liveShapeRound-2Tgi2d {
    border-radius: 4px;
}

.live-1V2D-f[style*="background-color"] {
    background-color: #61A5D8 !important;
    padding: 5px 7px;
}

.liveSmall-1Urjcy {
    line-height: 8px;
}

.base-3IDx3L {
    height: 19px;
    min-width: 19px;
    min-height: 19px;
}

.listDefault-2F-w65 .clickable-1ctZ-H:hover .content-1Tgc42 {
    background-color: rgba(0, 0, 0, 0.28);
}

.listDefault-2F-w65 .clickable-1ctZ-H.selected-1oxcpH .content-1Tgc42 {
    background-color: rgba(0, 0, 0, 0.68);
}

.emptyChannelIcon-1YdEz2 {
    border-radius: 5px;
    background-color: #61A5D8;
}

.button-1kija8 {
    color: white;
    background-color: #61A5D8;
    border: 3px solid transparent;
}

.button-1kija8:hover {
    background-color: #76AAD9;
    border: 3px outset #76aad9;
}

.button-1kija8:active {
    background-color: #61A5D8;
    border: 3px inset #61A5D8;
}

.role-23oyrw {
    padding: 5px 10px;
    color: white;
    background-color: rgba(0, 0, 0, .59) !important;
}

.avatar-1odLck {
    -webkit-mask: url(/assets/495e7ca….svg);
    mask: url(/assets/495e7ca….svg);
}

.avatar-1odLck foreignObject, .member-2cj2PI .avatar-rUnPfv foreignObject {
    mask: none;
}

.contentRegionScroller-2_GT_N, .sidebarRegionScroller-FXiQOh, .standardSidebarView-E9Pc3j, .contentRegion-3HkfJJ {
    background-color: transparent;
}

.side-2ur1Qk .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP)[style*="color: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);"] {
    background-color: #B02121 !important;
    border: none !important;
    color: white !important;
}

.layer-86YKbF {
    background-color: rgba(0,0,0,.15);
}

.quickSelect-384d3G {
    font-size: 15px;
    color: white;
}

.quickSelectLabel-ArUyd9, .tag-15nL6B {
    color: silver;
}

.header-2Kx1US {
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    color: white;
}

.imageUploaderInner-IIRaFr {
    border-radius: 4px;
    background-color: #61A5D8;
}

.imageUploaderIcon-2OHmFu {
    border-radius: 4px;
    box-shadow: none;
}

.lighten-1KubYe {
    opacity: 1;
}

.subtitle-2SfoOV {
    color: white;
}


.container-2nx-BQ, .input-2XRLou, .bd-switch-body {
    border-radius: 4px !important;
}

.container-2nx-BQ, .bd-switch-body {
    background-color: #B02121 !important;
}

.container-2nx-BQ .slider-32CRPX rect, .bd-switch-body .bd-switch-slider rect {
    fill: red;
    rx: 3;
}

.container-2nx-BQ .slider-32CRPX path, .bd-switch-body .bd-switch-slider path {
    fill: white; 
}

.container-2nx-BQ[style*="background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"], .bd-switch input:checked+.bd-switch-body {
    background-color: #137e25 !important;
}

.container-2nx-BQ[style*="background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"] .slider-32CRPX rect, .bd-switch input:checked+.bd-switch-body.bd-switch-body .bd-switch-slider rect  {
    fill: #0bc90b;
    rx: 3;
}

.container-2nx-BQ[style*="background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"] .slider-32CRPX path, .bd-switch input:checked+.bd-switch-body.bd-switch-body .bd-switch-slider path  {
    fill: white; 
}

.description-30xx7u, .labelDescriptor-34wZ-z, .item-2idW98:hover:not([aria-checked=true]), .item-2idW98[aria-checked=true] {
    color: white;
}

.description-30xx7u a, .helpText-10IgPC a {
    color: #94CEE6;
}

.item-2idW98 {
    color: white;
    border-radius: 6px;
}

.itemFilled-1cPbtg {
    background-color: rgba(0, 0, 0, 0.28);
}

.itemFilled-1cPbtg:hover:not([aria-checked=true]) {
    background-color: rgba(0, 0, 0, 0.48);
    border: 2px outset #76AAD9;
}

.itemFilled-1cPbtg[aria-checked=true] {
    background-color: rgba(0, 0, 0, 0.48);
    border: 2px inset #61A5D8;
}

.radioIconForeground-2BMavi {
    color: #00aeff;
}

.itemFilled-1cPbtg .radioBar-3w9XY- svg path {
    fill-rule: unset;
    clip-rule: unset;
}

.titleContainer-3fPic2, .header-JUTO-g {
    background-color: transparent;
}

.top-K_jibn .brand-3g5E0C.item-3XjbnG:active, .top-K_jibn .brand-3g5E0C.selected-g-kMVV.item-3XjbnG {
    border-bottom-color: #61A5D8 !important;
}

.top-K_jibn .brand-3g5E0C.item-3XjbnG:hover {
    border-bottom-color: #76AAD9;
}

.theme-dark .auditLog-1NVAY0 {
    color: white;
    border-color: transparent;
}

.iconWrapper-1sOtkE {
    background-color: #61A5D8;
    border-radius: 5px;
}

.icon-3TvnqF {
    color: white;
}

.container-3EtAkD {
    background-color: rgba(0, 0, 0, 0.78) !important;
    color: white;
}

.icon-2DGsye {
    border-radius: 5px;
    background-color: #61A5D8;
}

.roleRow-3LoHQ6:hover:not(.roleRowDisableHover-2TXfy-) {
    background-color: rgba(0, 0, 0, 0.28);
}

.roleRow-3LoHQ6:hover:not(.roleRowDisableHover-2TXfy-) .circleButton-33AIyY {
    background-color: #61A5D8;
}

.lookLink-15mFoz.colorLink-1Md3RZ, .text-2iTkaw a, .body-1JxAWB a, .theme-dark .checkBoxLabel-16BK2g a, .theme-dark .footerText-2QLGHU a, .theme-dark .subText-1CcYgq a,
.notice-5OG6bf a {
    color: #94CEE6;
}

.lookLink-15mFoz.colorLink-1Md3RZ:hover .contents-3ca1mk {
    background-image: linear-gradient(0deg,transparent,transparent 1px,#94CEE6 0,#94CEE6 2px,transparent 0);
}

.previewContainer-1GxmBJ {
    background: #61A5D8;
}

.featureCard-3XHbjy {
    background-color:rgba(0, 0, 0, 0.28);
    border-radius: 4px;
}

.theme-dark .keybind-13vtq8 {
    color: white;
}

.theme-dark .closeButton-PCZcma {
    border-color: #61A5D8;
}

.closeButton-PCZcma {
    border-style: ridge;
    border-radius: 5px;
}

.unreadRelevant-2f-VSK {
    display: none;
}

.theme-dark .checkBoxLabel-16BK2g, .theme-dark .footerText-2QLGHU, .theme-dark .subText-1CcYgq {
    color: white;
}

.backdrop-2ByYRN {
    background-color: rgba(0,0,0,.2) !important;
}

.inviteRowAvatar-3ETE3i foreignObject {
    mask: none;
}

.lookOutlined-3yKVGo.colorGreen-3y-Z79 {
    background-color: #00AD89;
    border-color: transparent;
    color: white;
}

.theme-dark .inviteRow-3vmB7i:hover {
    background-color: rgba(46, 46, 46, 0.3);
}

.profileBannerPreview-3mLIdO {
    border-radius: 4px;
    box-shadow: none;
    background-image: -webkit-repeating-linear-gradient(-48deg, #000000 30%, #1a1a1a 35%);
}

.avatarUploaderInner-p38nm2 {
    border: none;
}

#app-mount .fakeActivityIcon-KeXVoI {
    background-color: #61A5D8;
}

.bioTextArea-dDGOeC:focus-within {
    border-color: #61A5D8;
}

.notice-5OG6bf {
    background-color: rgba(0, 0, 0, 0.28);
}

.optionBox-1UOevl {
    background-color: transparent;
}

.contentCircle-15IFyT {
    border-radius: 5px;
    background-color: #61A5D8;
}

.gifIconContainer-3os21a {
    position: absolute;
    background-color: #61A5D8;
    border-radius: 5px;
}

.wrapper-1S43wv {
    color: white;
}

.wrapper-1S43wv .container-q97qHp {
    color: white;
}

.wrapper-1S43wv.muted-19J0ih, .wrapper-1S43wv.muted-19J0ih .name-3BUDLf {
    color: red;
}

.button-1yVL_7 {
    border-radius: 5px;
}

.theme-dark .button-1yVL_7 {
    box-shadow: none;
}

.theme-dark .default-1Tkeeg {
    background-color: rgba(0, 0, 0, 0.68);
}

.wrapper-NhbLHG:hover .content-1gYQeQ {
    background-color: rgba(0, 0, 0, 0.28);
}

.modeSelected-3DmyhH .content-1gYQeQ, .modeSelected-3DmyhH:hover .content-1gYQeQ {
    background-color: rgba(97, 165, 216, .5);
    border: 3px inset #61A5D8;
}

.categoryItem-Kc_HK_.selectedCategoryItem-ZjqSui .itemInner-3e_4G4 {
    background-color: rgba(97, 165, 216, .5);
}

.wrapper-NhbLHG:hover .icon-2W8DHg, .wrapper-NhbLHG:hover .name-28HaxV {
    color: lightgreen;
}

.modeSelected-3DmyhH .icon-2W8DHg, .modeSelected-3DmyhH:hover .icon-2W8DHg, .modeSelected-3DmyhH .name-28HaxV, .modeSelected-3DmyhH:hover .name-28HaxV {
    color: white;
}

.modeUnread-3Cxepe .icon-2W8DHg, .modeUnread-3Cxepe:hover .icon-2W8DHg, .modeUnread-3Cxepe .name-28HaxV, .modeUnread-3Cxepe:hover .name-28HaxV {
    color: lightcoral;
}

.container-YkUktl .avatar-1EWyVD foreignObject {
    mask: none;
}

.avatarSpeaking-33RRJU {
    box-shadow: inset 0 0 0 3px #61A5D8,inset 0 0 0 3px black;
    border-radius: 4px;
}

.avatarSpeaking-2pCGrZ {
    box-shadow: inset 0 0 0 3px #61A5D8,inset 0 0 0 3px black;
}

.circleIconButton-1VxDrg {
    color: #61A5D8;
    background-color: rgba(0,0,0,.2);
    border-radius: 4px;
}

.circleIconButton-1VxDrg.selected-2r1Hvo {
    background-color: #61a5d8;
}

.svg-2zuE5p > mask {
    display: none;
}

.item-2LIpTv[style*="height: 40px"] {
    height: 32px !important;
    width: 32px;
    border-radius: 0 2px 2px 0;
    background-color: #61a5d8 !important;
}

.item-2LIpTv[style*="height: 8px"], .item-2LIpTv[style*="height: 20px"] {
    height: 12px !important;
    width: 12px;
    border-radius: 0 2px 2px 0;
    background-color: rgba(97, 164, 216, .61) !important;
}

.theme-dark .card-2TuZPZ, .theme-dark .iconMask-2fMR98 {
    background-color: transparent !important;
}

.theme-dark .pageWrapper-2PwDoS {
    background-color: transparent;
}

.icon-3AqZ2e {
    border-radius: 4px;
}

.mentioned-Tre-dv {
    background-color: rgba(97, 164, 216, .41);
    border: 4px outset #61A5D8;
}

.mentioned-Tre-dv:before {
    background-color: transparent;
}

.message-2CShn3.mentioned-Tre-dv.selected-2LX7Jy, .mouse-mode.full-motion .mentioned-Tre-dv:hover {
    background-color: rgba(0, 0, 0, 0.28);
}

.unread-2wipsx {
    background-color: rgba(0, 0, 0, 0.35);
    border: 2px outset #1a1a1a;
    border-radius: 3px;
}

.childWrapper-1j_1ub {
    border-radius: 4px;
    background-color: #61A5D8;
    color: white;
}

.iconTierNone-1iHKfJ {
    color: white;
}

.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub {
    background-color: #76AAD9;
}

.expandedFolderBackground-1kSAf6 {
    border-radius: 4px;
    background-color: rgba(0,0,0,.25);
}

.folderIconWrapper-1oRIZr {
    border-radius: 4px;
    overflow: visible;
}

.folder-241Joy {
    background-color: rgba(0,0,0,.25) !important;
}

.iconInactive-26M06U {
    border-radius: 3px;
}

.button-12Fmur {
    color: white !important;
}

.button-12Fmur.enabled-9OeuTA:hover {
    background-color: rgba(118, 171, 217, .54);
    border: 2px outset #76AAD9;
}

.card-2EUiNF, .settingCard-xZSDjS {
    background: transparent;
    border-radius: 4px;
}

.scroller-3_YDR2 {
    background-color: transparent;
}

.subtitle-3m-md1, .title-1_TkpU, .text-PdAsFQ {
    color: white;
}

.container-x8Y1ix {
    border-radius: 4px;
    border: 2px solid #61A5D8;
    background-color: transparent;
}

.text-md-normal-304U3g,
.text-xs-normal-3SiVjE,
.text-sm-normal-3Zj3Iv {
  color: white !important;
}

.container-x8Y1ix:hover {
    background-color: rgba(118, 171, 217, .33);
}

.iconContainer-GFfNaA.desaturate-_Twf3u, .iconContainer-GFfNaA[data-accessibility*=desaturate] {
	    filter: saturate(1);
}

.uploadIcon-2wV7s_ {
    color: #61A5D8;
}

.backButton-2Ps-B8, .sampleLink-5BWNy9, .rowText-3MQqQi, .title-1LqMUp, .subtitle-1cc8Nz, .title-OdeD-o {
    color: white;
}

.input-m1-Y7Q {
    background-color: transparent;
}

.rowContainer-3t7486 {
    border-radius: 4px;
    background-color: #00AD89 !important;
}

.wrapper-1gVUIN.minimum-fXpVNc {
    background-color: rgba(0,0,0,.2);
}

.colorable-3rVGna.red-3T8maV {
    background: #b10202;
}

.centerButton-1IShs7 {
    border-radius: 5px;
}

.colorable-3rVGna.primaryDark-2UJt1G {
    background: rgba(0,0,0,.3);
    border-radius: 5px;
}

.colorable-3rVGna.primaryDark-2UJt1G.active-3D763s, .colorable-3rVGna.primaryDark-2UJt1G:hover {
    background: #19191a;
}


.colorable-3rVGna.red-3T8maV.active-3D763s, .colorable-3rVGna.red-3T8maV:hover {
    background: #e20707;
}

.voiceAvatar-lRbblo {
    border-radius: 5px;
}

.border-2BJQjd.speaking-3RWJBr {
    border: 4px solid #61A5D8;
    box-shadow: none;
    border-radius: 5px;
}

.description-3_efmf a, .promotionText-1p8WKF a, .codeRedemptionRedirect-2hYMSQ a, .colorStandard-21JIj7 a {
    color: #94CEE6;
}

.whatYouLoseItem-3tqvMO {
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.35);
} 

.theme-dark .gameName-zbZetm, .theme-dark .lastPlayed-1jum9A, .theme-dark .overlayStatusText-In0YrK,
.theme-dark .nowPlaying-3UpuKc .gameName-zbZetm {
    color: white;
}

.theme-dark .gameNameInput-2wbDJ9:focus, .theme-dark .gameNameInput-2wbDJ9:hover {
    border-color: #61A5D8;
    background-color: rgba(97, 164, 216, .51);
}

.theme-dark .notDetected-M3Ghh2 {
    background-color: #242527;
    border: 2px outset #37393b;
}

.theme-dark .addGamePopout-2SKNIV {
    background-color: black;
}

.theme-dark .nowPlaying-3UpuKc .gameNameInput-2wbDJ9:focus, .theme-dark .nowPlaying-3UpuKc .gameNameInput-2wbDJ9:hover {
    border-color: #47d45f;
    background-color: rgba(71, 212, 95, .71);
}

.theme-dark .nowPlaying-3UpuKc, .theme-light .nowPlaying-3UpuKc {
    background-color: #38A84B;
    border: 2px outset #135c1f;
}

.bd-search-wrapper {
    background-color: rgba(0, 0, 0, 0.28);
    color: white;
}

.bd-select-wrapper {
    color: white;
    font-size: 15px;
}

.bd-select .bd-select-options {
    background: #1d1d1d;
    box-shadow: none;
    border: none;
}

.bd-select .bd-select-option.selected {
    background: #333333;
}

.bd-addon-views .bd-view-button.selected {
    background-color: rgba(97, 164, 216, .72);
    border: 2px inset #61A5D8;
}

.bd-button {
    background-color: #61A5D8;
}

.bd-button:hover {
    background-color: #76AAD9;
}

.bd-addon-list .bd-addon-header {
    color: white;
    background: transparent;
}

.bd-addon-list .bd-addon-card {
    background-image: -webkit-repeating-linear-gradient(-48deg, #000000 30%, #1a1a1a 35%);
}

.bd-meta, .bd-addon-list .bd-description {
    color: white;
}

.bd-meta a {
    color: #94CEE6;
}

.wrapper-SdcMKg {
    background-color: rgba(0,0,0,.4);
    border: 2px solid #61A5D8;
}

.selected-18Wszc.option-1QI4c9 {
    background-color: #61A5D8;
    border-color: transparent;
    box-shadow: none;
}

.option-1QI4c9:hover {
    background-color: #76AAD9;
    box-shadow: none;
}

.cardPrimary-3qRT__ {
    background: rgba(0, 0, 0, 0.28);
}

.cardPrimary-3qRT__, .cardPrimaryEditable-2mz_3i {
    border-color: #61A5D8;
}

.cameraWrapper-3a7Ngv {
    background-color: transparent;
    border: none;
}

.backgroundOptionRing-1vvQ0C {
    border: 2px solid #61A5D8;
}

.backgroundOptionInner-SSz19O {
    background-color: #202020;
}

.previewAvatars-5zC6sZ foreignObject {
    mask: none;
}

.previewMessage-2g_aBv {
    background-color: transparent;
}

.theme-dark .markValue-2U_-UG {
    color: white;
}

.theme-dark .markDash-yk2kJ- {
    background: white;
}

.preview-QJ3OG3 {
    background-color: rgba(0, 0, 0, 0.28);
}

.cardPrimaryOutline-1ofwVz {
    border-color: transparent;
}

.theme-dark .codeRedemptionRedirect-2hYMSQ {
    background-color: rgba(0, 0, 0, 0.28);
    border-color: transparent;
}

.theme-dark .paymentPane-ut5qKZ {
    background-color: transparent;
    color: white;
}

.theme-dark .bottomDivider-ZmTm-j {
    border-bottom-color: transparent;
}

.theme-dark .paginator-1eqD2g {
    background: transparent;
}

.theme-dark .payment-2bOh4k {
    background-color: transparent;
    color: white;
}

.theme-dark .hoverablePayment-lE1s4t:hover {
    background-color: rgba(118, 171, 217, .56);
}

.expandedInfo-1W31i3 a, .finePrint-PVnKkj a {
    color: #94CEE6;
}

.theme-dark .expandedInfo-1W31i3 {
    background-color: rgba(0, 0, 0, 0.35);
}

.theme-dark .paymentHeader-2o7Phd {
    border-color: transparent;
}

.theme-dark .descriptionWrapper-eOmU90, .finePrint-PVnKkj, .noItemsCard-5EOcCl {
    color: white;
}

.header-ISPHUQ {
    background-color: transparent !important;
    color: white;
}

.theme-dark .giftCodeRow-3pI-zz {
    border-color: transparent;
}

.body-2S0G9D, .subscriptionsRedirectContainer-zD3U79, .theme-dark .feature-2IUcBI {
    background-color: transparent;
}

.promotionCard-mo7ClH, .noItemsCard-5EOcCl, .detailsBlock-24pLFz {
    background-color: rgba(0, 0, 0, 0.48);
}

.connectContainer-1hylYM {
    background-color: transparent;
}

.connectContainer-1hylYM a,
.promotionCard-mo7ClH a {
    color: #94CEE6;
    font-weight: 700;
}

.dropsHelpText-1HyiYF {
    background: rgba(0, 0, 0, .3);
}

.dropsHelpText-1HyiYF a {
    color: #94CEE6;
    font-weight: 700;
}

.accountAddInner-2y9WLL {
    color: white;
}

.accountButtonInner-33vCDY {
    background-color: rgba(97, 164, 216, .47);
    border: 2px solid transparent;
}

.accountButtonInner-33vCDY:hover {
    background-color: #76AAD9;
    border: 2px outset #76AAD9;
}

.accountButtonInner-33vCDY:active {
    background-color: rgba(97, 164, 216, .63);
    border: 2px inset #61A5D8;
}

.integration-1qC-fv {
    background: rgba(0, 0, 0, .1);
}

.connectionHeader-Ixbb1s {
    background: transparent;
}

.connection-YOVI9j {
    background-image: -webkit-repeating-linear-gradient(-48deg, #000000 30%, #1a1a1a 35%);
}

.noIcon-3gSX9V {
    background-color: #61A5D8;
    color: white;
}

.lookOutlined-3yKVGo.colorRed-rQXKgM {
    color: white !important;
    border-color: firebrick !important;
}

.lookOutlined-3yKVGo.colorBrand-I6CyqQ {
    color: white !important;
    border-color: #4a5edd !important;
}

.avatar-3mTjvZ {
    border: none;
    background-color: transparent;
}

.avatar-3mTjvZ foreignObject {
    mask: none;
}

.accountProfileCard-lbN7n-, .background-3d_SjE, .fieldList-in8WkP {
    background-color: transparent;
}

.border-2BJQjd {
    border-radius: 4px;
}

.callAvatarMask-fiNMWy foreignObject {
    mask: none;
}

.searchBar-3TnChZ {
    box-shadow: none;
}

.privateChannels-oVe7HL, .scroller-WSmht3 {
    background-color: transparent;
}

.searchBar-3TnChZ .searchBarComponent-3N7dCG {
    background-color: rgba(0, 0, 0, 0.35);
    color: white;
}

.interactiveSelected-29CP8y, .interactive-iyXY_x {
    color: white;
}

.interactive-1vLZ_I:focus-within, .interactive-1vLZ_I:hover {
    color: white;
    background-color: rgba(0, 0, 0, .1);
}

.selected-3veCBZ {
    color: white;
    background-color: #61A5D8 !important;
}

.privateChannelsHeaderContainer-1UWASm.container-q97qHp {
    color: white;
}

.avatar-1HDIsL foreignObject {
    mask: none;
}

.quickswitcher-pKcM9U {
    box-shadow: none;
    background-image: -webkit-repeating-linear-gradient(-48deg, #000000 30%, #1a1a1a 35%);
    color: white;
}

.scroller-2qwVWY {
    background-color: transparent;
}

.contentDefault-17ewQQ {
    color: white;
}

.result-u66Ywh[aria-selected=true] {
    background: rgba(118, 170, 217, .4);
}

.note-OhIxFa {
    text-transform: capitalize;
    color: white;
}

.miscContainer-33U-X- {
    opacity: 1;
}

.scroller-2qwVWY::-webkit-scrollbar-track {
    background-color: transparent!important;
}

.input-3r5zZY {
    border: 2px solid #61A5D8;
    background-color: transparent;
    color: white;
    box-shadow: none;
}

.emptyStateNote-3W5lug {
    color: white;
}

.emptyStateCTA-206J-N {
    opacity: 1;
}

.emptyStateCTA-206J-N a {
    color: #94CEE6;
}

.avatarSizeOverride-sfatEO foreignObject, .friend-8ZraY7 .avatar-135A-D foreignObject,
.avatar-2MSPKk foreignObject, .headerAvatar-GgCKcl foreignObject {
    mask: none;
}

.tag-15zcD_ {
    border-radius: 6px;
    background-color: #61A5D8;
    color: white !important;
}

.theme-dark .friendSelected-3cwmD7 {
    background-color: rgba(118, 171, 217, .5);
}

.addFriendInputWrapper-kkoSV9 {
    background-color: transparent;
    border: none;
}

.addFriendInput-1Ta-rO {
    color: white;
}

.input-1bmui3,
.addFriendHint-1EVQJY {
    padding: 0 12px;
}

.tabBar-ra-EuL .item-3mHhwr[style*="color:"] {
    background-color: #58B067 !important;
    color: white !important;
}

.peopleListItem-u6dGxF {
    border-top: none;
}

.actionButton-3-B2x- {
    border: 3px solid transparent;
    border-radius: 5px;
    color: white;
    background-color: #61A5D8;
}

.actionButton-3-B2x-:hover {
    color: white;
    background-color: #76AAD9 !important;
    border: 3px outset #76AAD9 !important;
}

.peopleListItem-u6dGxF.active-2UF8Zh, .peopleListItem-u6dGxF:hover {
    background: rgba(0, 0, 0, 0.35);
    border-radius: 4px;
}

.actionButton-3-B2x-.highlight-3DSi7b {
    background-color: #61A5D8;
    border: 3px outset #61A5D8;
}

.wrapper-2RrXDg {
    background-color: transparent;
    border: none;
}

.theme-dark .inset-SbsSFp {
    background-color: transparent;
}

.section-3G9aLW {
    background-color: rgba(0,0,0,.2);
}

.scroller-hE2gWq {
    border-left: none;
}

.container-1oAagU, .nowPlayingColumn-1eCBCN, .theme-dark .container-2cd8Mz {
    background-color: transparent;
}


.actionButton-3-B2x-.actionDeny-1pQVuZ:hover {
    color: white!important;
    background-color: #d41010 !important;
    border: 2px outset #d41010 !important;
}

.applicationStore-2nk7Lo, .scroller-29cQFV {
    background-color: transparent;
}

.uploadModal-2ie9O_ .inner-rBP-MS .file-163EuR .icon-HW4tZ- {
    right: 99px;
    bottom: -294px;
    margin-top: -2px !important;
}
  
.theme-dark .root-g14mjS.uploadModal-2ie9O_ {
    width: 650px;
    height: 450px;
}

.search-25t1e9 .searchBox-31Zv9h {
    background-color: transparent;
}
.search-25t1e9 .searchBox-31Zv9h .searchBoxInput-3h4etz {
    color: white;
}
.search-25t1e9 .searchBox-31Zv9h .searchIcon-3X4BYL,
.search-25t1e9 .searchBox-31Zv9h .closeIcon-BMGxx0 {
  color: white !important;
}

.textBadge-1fdDPJ[style*="background-color:"] {
    background-color: #61A5D8 !important;
    border-radius: 4px;
    color: white;
}

/* Active Post */
.theme-dark .container-3wLKDe {
    background-color: transparent;
}
.dots-2_b2Mn {
    background-color: #61A5D8;
    border: 3px solid transparent;
}
.container-2qVG6q:hover {
    background-color: rgba(118, 170, 217, .4);
    border-color: #76AAD9;
    box-shadow: none;
}
.dots-1BwzZQ.themed-3T-OPr {
    color: var(--text-normal);
}
.reactionTooltipText-3OhRFp a {
    color: gold;
}
.interactiveCard-2iMtdk.selected-sszUNx, 
.interactiveCard-2iMtdk:active, .interactiveCard-2iMtdk:hover {
    border: 2px solid black;
}
/* Active Post Boxes */
.mainCard-3KBsBI {
    background-color: rgba(97, 165, 216, .4);
    border: 2px solid transparent;
    border-radius: 5px;
}
.chat-25x62K:before {
    box-shadow: none;
}
.header-1Uy0p6:hover:not(.headerBorder-jrk0Ic) {
    border: 2px solid #76AAD9;
}
.container-2qVG6q.isOpen-2OXbFs {
    background-color: rgba(97, 165, 216, .7);
    -webkit-transform: none;
    transform: none;
}
.headerBorder-jrk0Ic {
    box-shadow: none;
}
/* Getting rid of the input background */
.mainCard-3KBsBI .input-2g-os5 {
    background-color: transparent;
}
/* Tag Holder */
.container-2IhveL {
    background-color: rgba(97, 165, 216, .5);
    border-radius: 5px;
}
/* Tags */
.pill-3pRQlO {
    border-radius: 5px;
    background-color: rgba(97, 165, 216, .5);
    border: 2px solid transparent;
}
.pill-3pRQlO.clickable-3YTfAq:not(.disabled-3Rezaw):hover {
    background-color: rgba(118, 170, 217, .5);
}
.pill-3pRQlO.selected-24z1Ou {
    border-color: #76AAD9;
}
/* Title of Post */
.heading-lg-medium-3gUJeM[style*="color:"] {
    color: white !important;
}
/* Newest Reactions */
#app-mount .reactionCount-SWXh9W {
    color: white;
}
.reaction-102jx9 {
    border-radius: 7px;
    background: rgba(0,0,0,.25);
    border: 3px solid #242424;
}
.reaction-102jx9:hover {
    background-color: rgba(0,0,0,.55);
    border: 3px outset #242424;
}
.reaction-102jx9.reactionMe-2zhiyZ {
    background: rgba(97, 164, 216, .48);
    border: 3px inset #61a5d8;
}
.newMessageCount-jqlY9z[style*="color:"] {
    color: gold !important;
}
/* Megathread Stuff */
.header-1RJoTb {
    box-shadow: none;
    border-top-color: transparent;
}
.container-3YcgdM {
    background-color: rgba(0, 0, 0, .3);
}
.addReactButton-3bSQb6, .buttonInner-3aRbcx {
    color: silver;
    border-radius: 5px;
    background-color: rgba(97, 165, 216, .5);
    border: 2px solid transparent;
}
.addReactButton-3bSQb6:hover, .buttonInner-3aRbcx:hover {
    background-color: rgba(118, 170, 217, .5);
    border-color: #76AAD9;
}
.sectionDivider-189lqb {
    background-color: transparent;
}
/* Home Channel List Tab */
/* Home Channel List Background */
.theme-dark .background-fkKrXt {
    background-color: transparent;
}
/* When Typing */
.typingIndicator-KF8hGa {
    background-color: #61A5D8;
}
/* Server Boxes */
.container-2Hi7Km, .container-xwOzwi {
    background-color: rgba(97, 165, 216, .4);
}
/* Current Server Icon */
.icon-2IDTxf {
    background-color: transparent;
    border: 4px solid transparent;
}
.container-xwOzwi, .container-2Hi7Km {
    border-radius: 4px;
}
/* Channel Feeds */
.feedItemHeader-txJq98 {
    border-bottom: none;
}
.interactiveCard-2iMtdk {
    border: 2px solid #61A5D8;
    box-shadow: none;
}
.card-3x20HF {
    border-radius: 5px;
    background-color: rgba(97, 165, 216, .4);
}
.loadingCard-3pIp9h {
    background-color: rgba(0, 0, 0, .24);
}
.iconWrapper-3FqQ75 {
    border-radius: 5px;
    background-color: #61A5D8;
}
.icon-3gfzEo {
    color: var(--header-primary);
}
.iconContainer-2R-3M1 {
    border-radius: 5px;
    background-color: #61A5D8;
    color: white;
}
.container-3HMTms {
    border-radius: 4px;
}
.container-3HMTms:hover {
    background-color: rgba(0, 0, 0, .1);
}
/* Active Thread List */
.header-3cSJjT {
    background-color: transparent;
}
.container-3GP6AV {
    background-color: transparent;
    border-radius: 8px;
}
/* More Active Threads Box */
.popout-TdhJ6Z {
    background-color: black;
}
.more-2c3Z-T {
    border-top: none;
    color: gold;
}
.root-g14mjS.modal-ZdazA8 {
    background-attachment: fixed;
    background-image: -webkit-repeating-linear-gradient(-48deg, #000000 30%, #1a1a1a 35%);
    border-radius: 4px;
}

.icon-2Zyj6B {
	background-color: #61A5D8;
	border-radius: 5px;
}

.reactionBtn-3I19bq.forceShowLook-1zmTr- {
    border-radius: 5px;
    background-color: rgba(97, 165, 216, .5);
    border: 2px solid transparent;
}

.reactionBtn-3I19bq.forceShowLook-1zmTr-:hover {
    background-color: rgba(118, 170, 217, .5);
    border-color: #76AAD9;
}

.icon-1q31jb,
.reactionBtn-3I19bq {
	color: white !important;
}

.row-1qtctT:hover {
	background-color: #61A5D8;
	color: white;
}

.row-1qtctT {
	border-radius: 4px;
	color: white;
}

.emptyStateContainer-xWOMPJ {
	background-color: transparent;
}

.valuePropContainer-WkXrIU {
    background-color: rgba(0,0,0,.5);
    border-radius: 4px;
}

.valuePropIconContainer-1WLjVd {
    background-color: #61A5D8;
    border-radius: 20px;
    color: white;
}

.card-8UsK4b {
    background-color: rgba(0,0,0,.2);
    border-radius: 4px;
    border: 2px solid rgba(0,0,0,.2);
}

.card-8UsK4b:hover {
    background-color: rgba(0,0,0,.5);
    border-radius: 4px;
    border: 2px solid rgba(0,0,0,.5);
}

.modal-1BeEFO a {
    color: #94CEE6;
    font-weight: 600;
}
  
.entryIcon-2bcrKV, 
.entryInner-1tOOER {
    color: white;
}
  
.text-xs-medium-2LRpEj[style*="color:"] {
    color: white !important;
}
  
.entryInner-1tOOER a {
    color: #94CEE6;
    font-weight: 600;
}
  
.scopes-uCLYQv {
    border-bottom: none;
}
  
.getXboxApp-1kBRKG {
    background: rgba(0, 0, 0, .6);
}
  
.getXboxApp-1kBRKG a {
    color: #94CEE6;
    font-weight: 800;
}
  
.container-1jn5D- {
        background: rgba(0,0,0,.2);
}

.header-1sd0RU {
    background-color: transparent;
}

.member-48YF_l, 
.members-3WRCEx {
    background-color: transparent;
}

.container-2O1UgZ {
    background-color:  black;
    border: none;
}

.item-1BCeuB,
.emoji-20i0XK {
    color: white;
}

.item-1BCeuB {
    border: 1px solid transparent;
}

.focused-qp-W9B, 
.item-1BCeuB:hover:not(.disabled-Mmpvl7) {
    background-color: rgba(255, 255, 255, .4);
    border: 1px solid white;
    color: white;
}

.container-3arpDl {
    background-color: rgba(0,0,0,.4);
    border: none;
    border-radius: 4px;
}

.container-3arpDl .guidelines-jQLwyH a {
    color: #94CEE6;
}

.descriptionContainer-2ylKGk {
    background-color: transparent;
    border-radius: 4px;
}
  
  
.chatHeaderBar-2fUORh {
  background-color: transparent;
}
  
.theme-dark .tooltipBrand-20XsMA {
    color: white;
    background-color: #61A5D8;
}
  
.theme-dark .tooltipBrand-20XsMA .tooltipPointer-3L49xb {
  border-top-color: #61A5D8;
}











/* Main Color */
.main-color {color: #61A5D8;}

/* Hover Color */
.hover-color {color: #76AAD9;}

/* Link Color */
.link-color {color: #94CEE6;}


/* Blue Color
background-color: #4a5edd
background-color: #1f3dff
*/