/**
 * @name Team Rem
 * @author ShadowDevilsAvenged
 * @description Team Rem is back once again(big request to bring this back)
 * @version 1.1
*/

/* Rem Main Picture */
.app-2CXKsg {
    background-image: linear-gradient(30deg, rgba(0,0,0,.4), rgba(0,0,0,.5)), url(https://images7.alphacoders.com/103/1034381.png);
    background-size: cover;
}

/* Picture for Discord/BetterDiscord settings */
.standardSidebarView-E9Pc3j {
    background-image: linear-gradient(30deg, rgba(0,0,0,.8), rgba(0,0,0,.5)), url(https://images8.alphacoders.com/103/1034438.png);
    background-size: cover;
}

/* ************************************************ */

.bg-1QIAus,
.layers-OrUESM,
.contentRegionScroller-2_GT_N {
    background-color: transparent;
}

#app-mount .layer-86YKbF {
    background-color: rgba(0,0,0,.4);
}

.sidebarRegionScroller-FXiQOh,
.contentRegion-3HkfJJ {
    background: none;
}

.closeButton-PCZcma {
    border-width: 2px;
    border-style: dashed;
    border-radius: 4px;
}

.closeButton-PCZcma {
    border-color: transparent;
    color: white;
}

.keybind-13vtq8,
.closeButton-PCZcma:hover+.keybind-13vtq8,
.closeButton-PCZcma:hover {
    color: white;
}

.closeButton-PCZcma:hover {
    background-color: rgba(108, 181, 254, .2);
}

.accountProfileCard-lbN7n- {
    background-color: rgba(108, 180, 254, .5);
    border-radius: 4px;
}

.background-3d_SjE {
    border-radius: 8px;
    background-color: rgba(0,0,0,.2);
}

.fieldList-in8WkP {
    background-color: transparent;
}

.text-md-normal-304U3g[style*="color:"] {
    color: white !important;
}

.h5-2RwDNl, 
.label-2bTGzo, 
.legend-1TXTJO {
    color: white;
}

.lookLink-15mFoz.colorLink-1Md3RZ {
    color: #6cb4fe;
    text-shadow: 0 2px 0 black, 0 2px 0 black, 
    0 2px 0 black, 0 2px 0 black, 0 2px 0 black;
}

.lookLink-15mFoz.colorLink-1Md3RZ:hover .contents-3ca1mk {
    --button--underline-color: transparent;
}

.description-30xx7u, 
.labelDescriptor-34wZ-z {
    color: white;
}

.description-30xx7u a, 
.labelDescriptor-34wZ-z a {
    color: #6cb4fe;
    text-shadow: 0 2px 0 black, 0 2px 0 black, 
    0 2px 0 black, 0 2px 0 black, 0 2px 0 black;
}

.formText-2ngGjI a:hover {
    text-decoration: none;
}

.divider-_0um2u {
    border-top: none;
}

.backdrop-2ByYRN {
    opacity: 1 !important;
    background-color: rgba(0,0,0,.4) !important;
}

.theme-dark .root-g14mjS,
.theme-dark .footerSeparator-VzAYwb {
    box-shadow: none;
}

.root-g14mjS {
    background-color: #1c1c1c;
}

.footer-31IekZ {
    background-color: transparent;
}

.theme-dark .inputPrefix-1VU7MB {
    opacity: 1;
    color: white;
}

.multiInputLast-35zVz0:before {
    opacity: 0;
}

.input-2g-os5 {
    font-size: 14px;
    color: white;
    background-color: rgba(0,0,0,.2);
    border: 2px solid transparent;
}

.input-2g-os5.focused-1AtTHC, 
.input-2g-os5:focus {
    border-color: #6cb4fe;
}

.auto-2K3UW5::-webkit-scrollbar {
    width: 8px;
}

.auto-2K3UW5::-webkit-scrollbar-thumb {
    background-color: #6cb4fe;
}

.auto-2K3UW5::-webkit-scrollbar-thumb, 
.auto-2K3UW5::-webkit-scrollbar-track {
    border: none;
    border-radius: 3px;
}

.auto-2K3UW5::-webkit-scrollbar-track {
    background-color: transparent;
}

.header-2Kx1US {
    font-size: 13px;
    color: white;
}

.thin-31rlnD::-webkit-scrollbar {
    width: 2px;
}

.thin-31rlnD::-webkit-scrollbar-thumb {
    border: none;
    border-radius: 2px;
    background-color: #6cb4fe;
}

.thin-31rlnD::-webkit-scrollbar-track {
    background-color: transparent;
    border: none;
}

.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG, 
.topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
    background-color: #6cb4fe !important;
}

.selected-g-kMVV.item-3XjbnG, 
.selected-g-kMVV.item-3XjbnG:hover {
    color: white !important;
}

.side-2ur1Qk .item-3XjbnG {
    border-radius: 4px;
}

.brand-3g5E0C.item-3XjbnG, 
.themed-2-lozF.item-3XjbnG {
    color: white;
}

.side-2ur1Qk .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP), 
.topPill-3DJJNV .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP) {
    background-color: rgba(0,0,0,.1);
}

.brand-3g5E0C.item-3XjbnG:hover, 
.themed-2-lozF.item-3XjbnG:hover {
    color: rgba(255, 255, 255, .6);
}

.divider-1bpIoX, 
.tabBar-11FwuO,
.customizationSection-IGy2fS {
    border-bottom: none;
}

.top-K_jibn .brand-3g5E0C.item-3XjbnG:active, 
.top-K_jibn .brand-3g5E0C.selected-g-kMVV.item-3XjbnG {
    border-bottom-color: #6cb4fe;
}

.top-K_jibn .brand-3g5E0C.item-3XjbnG:hover {
    border-bottom-color: rgba(255, 255, 255, .6);
}

.optionBox-1UOevl {
    background-color: transparent;
}

.contentCircle-15IFyT {
    background-color: #6cb4fe;
    border-radius: 7px;
}

.gifIconContainer-3os21a {
    background-color: black;
    opacity: 1;
    border-radius: 50px;
}

#app-mount .close-1mLglB {
    opacity: 1;
    color: white;
}

.imageUploaderInner-IIRaFr {
    border-radius: 3px;
}

.userProfileInner-3F03PX:before {
    background-color: transparent;
}

.userProfileInnerThemedWithBanner-2624Yx,
.userProfileInnerThemedNonPremium-1gT-zY,
.userProfileInnerThemedPremiumWithoutBanner-1yMS1H {
    background: url(https://images5.alphacoders.com/734/734070.png) 50%/cover;
}

.userProfileOuterUnthemed-2b2rsv,
.userProfileOuterThemed-3EfHmv {
    background: transparent;
}

.userPopoutOuter-3AVBmJ {
    box-shadow: none;
}

.userProfileOuter-1K_BYU {
    border-radius: 3px;
}

.bannerSVGWrapper-qc0szY foreignObject {
    mask: none;
}

.status-b9jLr4, 
.statusDotBackground-1FxFlO {
    border-radius: 3px;
    background-color: transparent !important;
}

.profileBadges-31rDHI {
    background-color: rgba(108, 180, 254, .6);
    border-radius: 4px;
}

.overlayBackground-1KgwVi {
    background-color: rgba(0,0,0,.7);
    border-radius: 4px;
}

.divider-1tWBgZ {
    background-color: transparent;
}

.defaultColor-24IHKz,
.markup-eYLPri {
    color: white;
}

.markup-eYLPri {
    text-shadow: 0 1px 2px black;
}


.separator-2wx7h6 {
    background-color: transparent;
}

.bioTextArea-dDGOeC {
    background-color: rgba(0,0,0,.2) !important;
    --channel-text-area-placeholder: white;
    border-radius: 4px;
}

.scrollableContainer-15eg7h {
    background-color: transparent;
    border-radius: 4px;
}

.contentWrapper-3vHNP2,
.emojiPicker-6YCk8a {
    background-color: #1c1c1c;
    border-radius: 4px;
    box-shadow: none;
}

.container-1SX9VC {
    background-color: transparent;
}

.input-2FSSDe,
.icon-18rqoe {
    color: white;
}

*::-webkit-input-placeholder {
    color: white !important;
}

.diversitySelectorOptions-3DhNYs {
    background-color: #6cb4fe;
    border: 1px solid black;
}

.diversityEmojiItem-2bgZKv:hover {
    background-color: rgba(0,0,0,.3);
}

.header-11eigE {
    box-shadow: none;
}

.wrapper-1NNaWG {
    background-color: transparent;
}

#app-mount .header-1XpmZs {
    color: white;
}

.emojiItem-277VFM.emojiItemSelected-2Lg50V {
    background-color: rgba(108, 180, 254, .7);
}

.categoryItemDefaultCategory-3haEDq {
    border-radius: 4px;
}

.categoryItemDefaultCategorySelected-2YeRUu, 
.categoryItemDefaultCategorySelected-2YeRUu:hover {
    background-color: #6cb4fe !important;
}

.categoryItemDefaultCategorySelected-2YeRUu .categoryIcon-2cYeku, 
.categoryItemDefaultCategorySelected-2YeRUu:hover .categoryIcon-2cYeku {
    color: white !important;
}

.guildCategorySeparator-3QYkij {
    border: none;
}

.categoryIcon-2cYeku {
    color: white;
}

.categoryItemDefaultCategory-3haEDq:hover {
    background-color: rgba(108, 180, 254, .4);
}

.categoryItemDefaultCategory-3haEDq:hover .categoryIcon-2cYeku {
    color: rgba(255, 255, 255, .6);
}

.unicodeShortcut-3N8oDe {
    color: white;
}

.wrapper-22rqw6,
.inspector-DFKXwB {
    background-color: transparent;
}

.guildIcon-2SUGiq {
    background-color: transparent;
    color: white;
}

.tooltip-14MtrL {
    border-radius: 15px;
    font-size: 14px;
}

.listItemTooltip-eHcnUw {
    font-size: 14px;
}

.theme-dark .tooltipPrimary-3qLMbS {
    background-color: #6cb4fe;
}

.theme-dark .tooltipPrimary-3qLMbS .tooltipPointer-3L49xb {
    border-top-color: #6cb4fe;
}

.theme-dark .tooltip-14MtrL {
    box-shadow: none;
    color: white;
}

.guildNameText-jBFbNC {
    color: white;
}

.after_inlineCode-2_JXPm, 
.before_inlineCode-1zngJj, 
.inlineCode-ERyvy_ {
    background: #6cb4fe;
}

.codeBlockSyntax-3mFGiA, 
.syntaxAfter-2_BrZf, 
.syntaxBefore-3epS3C {
    color: white;
    text-shadow: 0 1px 2px black;
}

.toolbar-37BrJ5 {
    background-color: #6cb4fe;
    box-shadow: none;
}

.toolbar-37BrJ5:before {
    border-top: 8px solid #6cb4fe;
}

.icon-3g7qdA {
    color: white;
}

.active-136ioF, 
.hover-3OQb9Y:hover {
    background-color: rgba(0,0,0,.2);
}

.defaultColor-24IHKz a {
    color: #6cb4fe;
    text-shadow: 0 2px 0 black, 0 2px 0 black, 
    0 2px 0 black, 0 2px 0 black, 0 2px 0 black;
    font-weight: 600;
}

.select-1Ia3hD {
    border: 1px solid transparent;
}

.select-1Ia3hD, 
.wrapper-1b33hy {
    color: white;
}

.lookFilled-1GseHa.select-1Ia3hD {
    background-color: #1c1c1c;
    border-color: #6cb4fe;
}

.popout-1KHNAq {
    border: 1px solid #6cb4fe;
    background: #1c1c1c;
}



.option-2eIyOn {
    color: white;
}


.option-2eIyOn.focused-ODgjnC, 
.option-2eIyOn:focus, 
.option-2eIyOn:hover {
    background-color: rgba(255, 255, 255, .1);
    color: white;
}


.option-2eIyOn[aria-selected=true]:not(.option-2eIyOn.multi-1HXDiv) {
    color: white !important;
    background-color: #6cb4fe !important;
}

.selectedIcon-19TbzU {
    color: black;
}

.itemFilled-1cPbtg {
    background-color: rgba(255, 255, 255, .05);
}

.item-2idW98 {
    color: silver;
}

.itemFilled-1cPbtg:hover:not([aria-checked=true]) {
    background-color: rgba(255, 255, 255, .1);
}

.item-2idW98:hover:not([aria-checked=true]) {
    color: silver;
}

.itemFilled-1cPbtg[aria-checked=true] {
    background-color: #6cb4fe !important;
}

.item-2idW98[aria-checked=true] {
    color: white !important;
}

.container-2nx-BQ:not([style*="218"]) {
    background-color: #6cb4fe !important;
}

.container-2nx-BQ:not([style*="218"]) .slider-32CRPX rect {
    fill: white;
}

.container-2nx-BQ:not([style*="218"]) .slider-32CRPX path {
    fill: #72767D;
}

.textBadge-1fdDPJ[style*="background-color:"] {
    background-color: #6cb4fe !important;
    color: white !important;
    border: 1px solid black;
}

.base-3IDx3L {
    height: 17px;
    min-height: 17px;
}

.card-16VQ8C {
    border-width: 3px;
}

.cardPrimary-3qRT__ {
    background: rgba(0, 0, 0, .3);
}

.cardPrimary-3qRT__, 
.cardPrimaryEditable-2mz_3i {
    border-color: rgba(0, 0, 0, .2);
}

.card-16VQ8C a {
    color: #6cb4fe;
    text-shadow: 0 2px 0 black, 0 2px 0 black, 
    0 2px 0 black, 0 2px 0 black, 0 2px 0 black;
    font-weight: 600;
}

.bd-toast {
    background-color: #6cb4fe;
    box-shadow: none;
}

.connectionHeader-Ixbb1s {
    background: none;
}

.connectContainer-1hylYM,
.connection-YOVI9j {
    background-color: rgba(0, 0, 0, .3);
    border: 1px solid black;
    border-radius: 4px;
}

.text-xs-normal-3SiVjE[style*="color:"] {
    color: white !important;
}

.connectContainer-1hylYM a {
    color: #6cb4fe;
    text-shadow: 0 2px 0 black, 0 2px 0 black, 
    0 2px 0 black, 0 2px 0 black, 0 2px 0 black;
    font-weight: 600;
}

.accountAddInner-2y9WLL {
    color: white;
}

.inner-1lPVFp {
    border-radius: 7px;
}

.accountButtonInner-33vCDY {
    background-color: rgba(0, 0, 0, .2);
    border: 3px solid black;
}

.accountButtonInner-33vCDY:hover {
    background-color: rgba(0, 0, 0, .25);
    border: 3px solid black;
}

.container-QlmnKJ {
    background: transparent;
}

.integration-1qC-fv {
    background: rgba(0, 0, 0, .1);
}

.container--8P6Tr {
    background-color: rgba(0, 0, 0, .3);
}

.theme-dark .feature-2IUcBI {
    background-color: transparent;
}

.detailsBlock-24pLFz,
.noItemsCard-5EOcCl {
    background-color: rgba(0, 0, 0, .3);
}

.theme-dark .sectionAccountCredit-1IqaxB, 
.theme-dark .subscriptionDetails-ZcKNHC {
    border-color: transparent;
}

.finePrint-PVnKkj a {
    color: #6cb4fe;
    text-shadow: 0 2px 0 black, 0 2px 0 black, 
    0 2px 0 black, 0 2px 0 black, 0 2px 0 black;
    font-weight: 600;
}

.theme-dark .noItemsIcon-2OeOld {
    background: #6cb4fe;
}

.dropsHelpText-1HyiYF {
    background: rgba(0, 0, 0, .3);
}

.promotionCard-mo7ClH,
#app-mount .header-ISPHUQ,
.body-2S0G9D {
    background-color: rgba(0, 0, 0, .3);
}

.dropsHelpText-1HyiYF a,
.promotionCard-mo7ClH a {
    color: #6cb4fe;
    text-shadow: 0 2px 0 black, 0 2px 0 black, 
    0 2px 0 black, 0 2px 0 black, 0 2px 0 black;
    font-weight: 600;
}

.theme-dark .paymentPane-ut5qKZ {
    background-color: transparent;
    color: white;
}

.theme-dark .bottomDivider-ZmTm-j {
    border-bottom-color: transparent;
}

.theme-dark .paginator-1eqD2g {
    background: none;
}

.theme-dark .payment-2bOh4k {
    background-color: rgba(0, 0, 0, .2);
    color:  white;
}

.theme-dark .hoverablePayment-lE1s4t:hover {
    background-color: rgba(0, 0, 0, .25);
}

.theme-dark .expandedInfo-1W31i3 {
    background-color: transparent;
}

.theme-dark .paymentHeader-2o7Phd {
    color: white;
    border-color: transparent;
}

.expandedInfo-1W31i3 a {
    color: #6cb4fe;
    text-shadow: 0 2px 0 black, 0 2px 0 black, 
    0 2px 0 black, 0 2px 0 black, 0 2px 0 black;
    font-weight: 600;
}

.theme-dark .codeRedemptionRedirect-2hYMSQ {
    color: white;
    background-color: rgba(0, 0, 0, .3);
    border-color: black;
}

.wanderingCubesItem-3Us-UG {
    background-color: #6cb4fe;
}

/* ********************************* */

.preview-QJ3OG3 {
    background-color: rgba(0, 0, 0, .3);
}

.markValue-2U_-UG {
    color: white;
}

.theme-dark .markDash-yk2kJ- {
    background: white;
}

.theme-dark .bar-1Bhnl9 {
    background: transparent;
}

.barFill-2Bh7CX {
    background: #6cb4fe;
}

.previewMessage-2g_aBv {
    background-color: rgba(0,0,0,.3);
}

.cameraWrapper-3a7Ngv {
    background-color: rgba(0, 0, 0, .2);
    border: none;
}

.backgroundOptionRing-1vvQ0C {
    border: 2px solid #6cb4fe;
}

.backgroundOptionInner-SSz19O {
    background-color: rgba(0,0,0,.2);
}

.keybindShortcut-3zF1P9 {
    font-size: 11px;
    font-weight: 500;
}

.theme-dark .keybindShortcut-3zF1P9, 
.theme-dark .keybindShortcut-3zF1P9 .key-N5VmHN {
    color: white;
}

.theme-dark .keybindShortcut-3zF1P9 .key-N5VmHN {
    box-shadow: inset 0 -4px 0 black;
}

.key-N5VmHN {
    background-color: rgba(108, 180, 254, .6);
    border: 1px solid black;
    border-radius: 30px;
}

.theme-dark .keybindShortcut-3zF1P9 .key-N5VmHN:active {
    color: white;
    box-shadow: inset 0 -2px 0 black;
    border: 1px solid black;
    background-color: #6cb4fe;
}

.theme-dark .keybindShortcut-3zF1P9 .key-N5VmHN .bindArrow-EmK4SC g,
.theme-dark .keybindShortcut-3zF1P9 .key-N5VmHN:active .bindArrow-EmK4SC g {
    fill: white;
}

.theme-dark .notDetected-M3Ghh2 {
    background-color: rgba(0, 0, 0, .4);
}

.theme-dark .addGamePopout-2SKNIV {
    background-color: black;
}

.theme-dark .elevationBorderHigh-3drnJX {
    box-shadow: 0 0 10px 2px black;
}

#app-mount .default-1Tkeeg {
    background-color: rgba(0, 0, 0, .3);
}

#app-mount .button-1yVL_7 {
    box-shadow: none;
}

.theme-dark .lastPlayed-1jum9A,
.theme-dark .overlayStatusText-In0YrK {
    color: white;
}

.theme-dark .game-2f2vPC {
    box-shadow: none;
}

.theme-dark .gameName-zbZetm {
    color: white;
}

.theme-dark .gameNameInput-2wbDJ9:focus,
.theme-dark .gameNameInput-2wbDJ9:hover,
.theme-dark .nowPlaying-3UpuKc .gameNameInput-2wbDJ9:focus,
.theme-dark .nowPlaying-3UpuKc .gameNameInput-2wbDJ9:hover {
    border-color: #6cb4fe;
    background-color: rgba(108, 180, 254, .4);
}

.gameNameInput-2wbDJ9 {
    border: 2px solid transparent;
    border-radius: 6px;
    padding: 2px 4px;
}

.wrapper-SdcMKg {
    background-color: rgba(0, 0, 0, .3);
    border-radius: 3px;
    border: 2px solid #6cb4fe;
}

.selected-18Wszc.option-1QI4c9 {
    background-color: #6cb4fe;
    border-color: transparent;
    box-shadow: none;
    opacity: 1 !important;
}

.option-1QI4c9 {
    opacity: .2;
    background-color: white;
}

.option-1QI4c9:hover {
    background-color: #6cb4fe;
    box-shadow: none;
    opacity: .4;
}

/* *********************************** */

.bd-switch input:checked+.bd-switch-body {
    background-color: #6cb4fe !important;
}

.bd-switch input:checked+.bd-switch-body .bd-switch-slider rect {
    fill: white;
}

.bd-switch input:checked+.bd-switch-body .bd-switch-slider path {
    fill: #72767D;
}

.bd-settings-title.bd-settings-group-title {
    font-size: 15px;
    color: white;
}

.bd-settings-group.collapsible .bd-settings-title::before {
    background-color: #6cb4fe;
}

.bd-settings-group.collapsible .bd-settings-title::after {
    background: #6cb4fe;
}

.bd-setting-divider {
    border-bottom: none;
}

.bd-setting-note {
    color: silver;
}

.bd-select {
    color: white;
    background-color: rgba(0, 0, 0, .4);
    border: none;
}

.bd-select .bd-select-options {
    background: #6cb4fe;
    box-shadow: none;
    border: none;
}

.bd-button {
    background-color: #6cb4fe;
    border-radius: 3px;
}

.bd-button:hover {
    background-color: rgba(108, 180, 254, .7);
}

.bd-search-wrapper {
    background-color: rgba(0, 0, 0, .3);
    color: white;
}

.bd-search-wrapper>svg {
    fill: white;
}

.bd-select-wrapper {
    color: silver;
    font-size: 15px;
}

.bd-addon-views .bd-view-button:hover {
    background-color: rgba(108, 180, 254, .7);
}

.bd-addon-views .bd-view-button.selected {
    background-color: #6cb4fe !important;
}

.bd-addon-list .bd-addon-header {
    background: transparent;
}

.bd-addon-list .bd-addon-card {
    border-radius: 5px;
    background: rgba(108, 180, 254, .3);
    border: 3px solid black;
}

.bd-meta {
    color: white;
    font-weight: 500;
}

.bd-meta a {
    color: white;
    font-weight: 500;
}

.bd-addon-list .bd-description {
    color: white;
}

.theme-dark .content-FDHp32 ol, 
.theme-dark .content-FDHp32 p, 
.theme-dark .content-FDHp32 ul li {
    color: white;
}

.theme-dark .content-FDHp32 ul li:before {
    background-color: white;
    opacity: 1;
}

.content-FDHp32 a {
    color: #6cb4fe;
    text-shadow: 0 2px 0 black, 0 2px 0 black, 
    0 2px 0 black, 0 2px 0 black, 0 2px 0 black;
    font-weight: 600;
}

/* ************* Discord Settings Done ************* */

.wrapper-1_HaEi,
.scroller-3X7KbA {
    background-color: transparent;
}

.unread-2wipsx {
    background-color: black;
}

.item-2LIpTv {
    background-color: #6cb4fe;
}

.childWrapper-1j_1ub {
    background-color: rgba(108, 180, 254, .7);
    color: white;
}

.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, 
.wrapper-3kah-n:hover .childWrapper-1j_1ub {
    color: white;
    background-color: #6cb4fe;
}

.iconBadge-32fMme {
    background-color: #6cb4fe;
}

.guildSeparator-a4uisj {
    background-color: transparent;
}

.expandedFolderBackground-1kSAf6,
#app-mount .folder-241Joy {
    background-color: black;
}

.sidebar-1tnWFu,
.nowPlayingColumn-1eCBCN {
    background: none;
}

.privateChannels-oVe7HL,
.scroller-WSmht3,
#app-mount .container-ZMc96U,
.container-1oAagU,
.container-2cd8Mz {
    background-color: transparent;
}

.scroller-hE2gWq {
    border-left: none;
}

.tabBody-2dgbAs:before {
    box-shadow: none;
}

#app-mount .icon-2xnN2Y {
    color: white;
}

.header-1w9Q93 {
    background-color: transparent;
    box-shadow: none;
}

.messagesPopoutWrap-3zryHW,
.container-2ebMPP {
    background-color: #1c1c1c;
    box-shadow: none;
    border-radius: 4px;
}

.menu-1QACrS {
    box-shadow: none;
    background: #1c1c1c;
    border: 1px solid #6cb4fe;
    border-radius: 4px;
}

.item-1OdjEX {
    border-radius: 4px;
    font-size: 13px;
}

.colorDefault-CDqZdO {
    color: white;
    border-color: transparent;
}

.colorDefault-CDqZdO .checkbox-hADx5o, 
.colorDefault-CDqZdO .radioSelection-1UHp0b {
    color: #6cb4fe;
}

.colorDefault-CDqZdO.focused-3qFvc8 {
    background-color: rgba(255, 255, 255, .1);
}

.colorDefault-CDqZdO.focused-3qFvc8 .check-3HZJs4 {
    color: #6cb4fe;
}

.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
    background-color: #6cb4fe;
    color: white;
}

.button-1_oXub {
    border-radius: 3px;
}

.secondary-2bzKEX {
    color: white;
}

.primary-38Hs-h:hover:not(.disabled-184-il), 
.secondary-2bzKEX {
    background-color: rgba(108, 180, 254, .5);
}

.secondary-2bzKEX:hover:not(.disabled-184-il) {
    background-color: rgba(108, 180, 254, .5);
    border: 1px solid #6cb4fe;
    color: white !important;
}

.channelHeader-DFRX8q {
    background-color: transparent;
}

.tertiary-1e-lAP {
    background-color: rgba(108, 180, 254, .3);
    color: white;
}

.tertiary-1e-lAP:hover:not(.disabled-184-il) {
    background-color: rgba(108, 180, 254, .4);
    color: white !important;
}

.messageContainer-3VTXBC,
.messages-23can0 {
    background-color: transparent;
    border: 2px solid #6cb4fe;
    border-radius: 8px;
}

.jumpButton-1V_1FA {
    background-color: #6cb4fe;
}

#app-mount .jumpButton-1V_1FA .text-2ifC_x {
    color: white;
}

.cozy-VmLDNB .timestamp-p1Df1m {
    color: white;
}

.botTagRegular-kpctgU {
    background: #6cb4fe !important;
    color: white !important;
}

.mention {
    border-radius: 4px;
    padding: 0 6px;
}

.theme-dark .wrapper-1ZcZW- {
    background: rgba(108, 180, 254, .7) !important;
    color: white;
    text-decoration: none !important;
    text-shadow: 2px 0 2px black;
    border: 2px solid rgba(255, 255, 255, .37);
}

.theme-dark .wrapper-1ZcZW-:hover {
    background: #6cb4fe;
    color: white;
}

.embedFull-1HGV2S {
    border-left: none;
    background: rgba(0, 0, 0, .2);
}

.markup-eYLPri a {
    color: #6cb4fe;
    text-shadow: 0 2px 0 black, 0 2px 0 black, 
    0 2px 0 black, 0 2px 0 black, 0 2px 0 black;
    font-weight: 600;
}

.wrapper-1HIH0j {
    background-color: rgba(108, 180, 254, .3);
    border: 2px solid rgba(108, 180, 254, .5);
    background-clip: border-box;
    border-radius: 4px;
}

.theme-dark .guildIconImage-74OdmM,
.guildIcon-3ZfRfI {
    background-color: rgba(0, 0, 0, .3);
}

.tutorial-Nb3Zz5 {
    background-color: transparent;
}

.tutorialIcon-25VF3Q {
    background-color: #6cb4fe;
    color: white;
}

.divider-2rZFJK {
    border-top: none;
}

#app-mount .content-3spvdd {
    padding: 2px 4px;
    color: white;
    background: #6cb4fe;
    font-size: 12px;
    border-radius: 4px;
}

.unreadPill-3nEWYM {
    background-color: #6cb4fe;
}

.unreadPillCapStroke-1nE1Q8 {
    color: #6cb4fe;
    fill: #6cb4fe;
}

#app-mount .reactionCount-SWXh9W,
#app-mount .reactionCount-26U4As {
    color: white;
}

.reaction-102jx9,
.reaction-3vwAF2 {
    border-radius: 0;
    background: rgba(255, 255, 255, .1);
    border: 2px solid transparent;
}

.reaction-3vwAF2:hover,
.reaction-102jx9:hover {
    background-color: rgba(108, 180, 254, .1);
    border-color: rgba(108, 180, 254, .3);
}

.reaction-3vwAF2.reactionMe-1PwQAc,
.reaction-102jx9.reactionMe-2zhiyZ {
    background-color: rgba(108, 180, 254, .6);
    border-color: rgba(108, 180, 254, .8);
}

.reactionTooltipText-iAWHhX a {
    color: black;
    font-weight: 600;
}

.reactionTooltipText-3OhRFp a {
    color: black;
    font-weight: 600;
}

.searchBar-3TnChZ {
    box-shadow: none;
}

.searchBar-3TnChZ .searchBarComponent-3N7dCG {
    border-radius: 4px;
    background-color: rgba(108, 180, 254, .4);
    color: white;
    font-size: 12px;
}

.layout-1LjVue,
.container-32HW5s {
    border-radius: 4px;
}

.interactive-iyXY_x,
.interactive-1vLZ_I {
    color: white;
}

.interactive-1vLZ_I:focus-within, 
.interactive-1vLZ_I:hover {
    color: white;
    background-color: rgba(255, 255, 255, .1);
}

.selected-3veCBZ {
    color: white !important;
    background-color: #6cb4fe !important;
}

.applicationStore-2nk7Lo,
.scroller-29cQFV {
    background-color: transparent;
}

.headerBar-1dSpQr:before {
    box-shadow: none;
}

.quickswitcher-pKcM9U {
    border-radius: 4px;
    box-shadow: none;
    background-color: #1c1c1c;
    color: white;
}

.input-3r5zZY {
    font-size: 19px;
    border-radius: 8px;
    color: #6cb4fe;
    background-color: rgba(255, 255, 255, .04)
}

.scroller-2qwVWY {
    background-color: transparent;
}

.scroller-2qwVWY::-webkit-scrollbar-track {
    background-color: transparent!important;
}

.contentDefault-17ewQQ,
.header-1ZpMzy {
    color: white;
}

.contentUnread-1_MVDK {
    color: #6cb4fe;
}

.result-u66Ywh {
    border-radius: 3px;
}

.result-u66Ywh[aria-selected=true] {
    background: rgba(108, 180, 254, .4);
}

.note-OhIxFa {
    font-size: 11px;
    color: silver;
}

.misc-XwBATi {
    color: white;
}

.miscContainer-33U-X-,
.tip-Jl__cG {
    opacity: 1;
}

.autocompleteQuerySymbol-1iAOG7 {
    background-color: #6cb4fe;
    padding: 2px 6px;
}

.protip-1jXzAl.hasContent-50Z3pe {
    border-top: none;
}

.emptyStateNote-3W5lug {
    font-size: 14px;
    color: white;
}

.emptyStateCTA-206J-N {
    opacity: 1;
}

.emptyStateCTA-206J-N a {
    color: #6cb4fe;
    text-shadow: 0 2px 0 black, 0 2px 0 black, 
    0 2px 0 black, 0 2px 0 black, 0 2px 0 black;
    font-weight: 600;
}

.privateChannelsHeaderContainer-1UWASm.container-q97qHp {
    color: white;
}

.panels-3wFtMD {
    background-color: rgba(0, 0, 0, .2);
}

.button-12Fmur {
    border-radius: 7px;
    background-color: transparent;
    border: 1px solid transparent;
    color: white;
}

.button-12Fmur.enabled-9OeuTA:hover {
    color: white;
    background-color: transparent;
    border: 1px solid #6cb4fe;
}

.separator-1So4YB {
    border-bottom: none;
}

.divider-q3P9HC,
.theme-dark .children-3xh0VB:after {
    background: none;
}

.tabBar-ra-EuL .addFriend-emTWY1.addFriend-emTWY1.addFriend-emTWY1, 
.tabBar-ra-EuL .addFriend-emTWY1.addFriend-emTWY1.addFriend-emTWY1:hover {
    background-color: #2d7d46 !important;
    color: white !important;
}

.mention-3XBnnZ {
    background-color: #6cb4fe !important;
    opacity: .6;
}

.bar-2eAyLE {
    border-radius: 4px;
    box-shadow: none;
}

.numberBadge-37OJ3S[style*="background-color:"] {
    background-color: #6cb4fe !important;
}

.container-2oNtJn {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, .2);
}

.input-2m5SfJ,
.icon-3CDcPB {
    color: white;
}

.title-x4dI75 {
    font-size: 15px;
    color: white;
}

.peopleListItem-u6dGxF {
    font-size: 14px;
    border-top: none;
}

.peopleListItem-u6dGxF.active-2UF8Zh, 
.peopleListItem-u6dGxF:hover {
    background: rgba(108, 180, 254, .3);
    border-radius: 4px;
}

.actionButton-3-B2x- {
    border-radius: 4px;
    color: white;
    background-color: rgba(108, 180, 254, .16);
}

.actionButton-3-B2x-:hover {
    color: white;
}

.actionButton-3-B2x-.highlight-3DSi7b {
    background-color: rgba(108, 180, 254, .4);
    color: white;
}

.actionButton-3-B2x-.actionDeny-1pQVuZ:hover {
    color: white;
    background-color: rgba(255, 0, 0, .66);
}

.header-30YxSJ {
    border-bottom: none;
}

.addFriendInputWrapper-kkoSV9 {
    background-color: rgba(0, 0, 0, .3);
    border: 3px solid transparent;
    border-radius: 4px;
}

.addFriendInputWrapper-kkoSV9:focus-within {
    border-color: #6cb4fe;
}

.addFriendInputWrapper-kkoSV9 .input-2g-os5 {
    background-color: transparent;
    border: none;
}

.addFriendHint-1EVQJY {
    font-size: 14px;
}

#app-mount .container-3tKtM_ {
    border-radius: 4px;
    border: none;
    background-color: rgba(0, 0, 0, .15);
}

.withTagAsButton-OsgQ9L:hover, 
.withTagless-10ooWt:hover {
    background-color: rgba(0, 0, 0, .45);
    color: white;
}

.friend-8ZraY7 {
    border-radius: 5px;
    font-size: 15px;
}

.theme-dark .friend-8ZraY7 {
    color: white;
}

.theme-dark .friendSelected-3cwmD7 {
    background-color: rgba(108, 180, 254, .6);
    color: white;
}

.friend-8ZraY7 .discordTag-2ke74W {
    opacity: .8;
}

.theme-dark .checkbox-f1HnKB {
    border-color: white;
}

.theme-dark .checkbox-f1HnKB[style*="border-color:"] {
    border-color: transparent !important;
    background-color: #6cb4fe !important;
}

.theme-dark .checkbox-f1HnKB[style*="border-color:"] path {
    fill: white;
}

.checkbox-f1HnKB {
    border-width: 2px;
}

.box-BHImcZ {
    border-radius: 4px;
}

#app-mount .tag-15zcD_ {
    border-radius: 4px;
    background-color: rgba(108, 180, 254, .6);
    color: white;
}

.itemCard-3Etziu {
    border-radius: 4px;
}

.wrapper-2RrXDg {
    background-color: rgba(108, 180, 254, .2);
    border: 1px solid #6cb4fe !important;
}

.theme-dark .outer-2JOHae.active-1W_Gl9, 
.theme-dark .outer-2JOHae.interactive-2zD88a:hover {
    background-color: rgba(108, 180, 254, .35);
}

.theme-dark .inset-SbsSFp,
.section-3G9aLW {
    background-color: transparent;
}

.body-16rSsp {
    border-radius: 4px;
}

.tabBarContainer-2UG0vy {
    border-bottom: none;
}

.top-K_jibn .selected-g-kMVV.themed-2-lozF.item-3XjbnG, 
.top-K_jibn .themed-2-lozF.item-3XjbnG:active {
    border-bottom-color: #6cb4fe;
}

.note-3TX9O7 textarea:focus {
    background-color: rgba(255, 255, 255, .09);
}

.userInfoSection-1gptv0+.userInfoSection-1gptv0 {
    border-top: none;
}

.connectedAccountContainer-3aLMHJ {
    border-radius: 6px;
    background-color: rgba(108, 180, 254, .45);
    border: 1px solid #6cb4fe;
}

#app-mount .connectedAccountOpenIcon-3i81Tz {
    color: white;
}

.guildNick-HT7Pgu,
.listRow-Y5zoF8 {
    color: white;
}

.listRow-Y5zoF8:hover {
    background-color: rgba(108, 180, 254, .3);
}

.messageInputContainer-2rGDH8 {
    border: none;
}

.theme-dark .activityIcon-vfIBet {
    color: white;
}

.moreUsers-_v6T-L {
    background-color: rgba(0, 0, 0, .2);
    color: white;
}

.uploadArea-2Nu_Vc {
    background: rgba(0, 0, 0, .3);
}

.uploadDropModal-13Kd20 .bgScale-1iWuPF {
    border-radius: 4px;
    background: #6cb4fe;
}

.uploadDropModal-13Kd20 .inner-rBP-MS {
    border: 2px dashed white;
    border-radius: 4px;
}

.chat-2ZfjoI {
    background: none;
}

.content-1jQy2l:before {
    box-shadow: none;
}

.footer-5ji8u1 {
    background-color: transparent;
}

.searchBar-jGtisZ {
    border-radius: 6px;
    color: white;
    background-color: rgba(255, 255, 255, .11)
}

.search-2Mwzzq .DraftEditor-root .public-DraftEditorPlaceholder-root {
    color: white;
}

.container-2McqkF {
    border-radius: 5px;
    background-color: #1c1c1c;
}

.resultsGroup-cfY57t:before {
    border-top: none;
}

.resultsGroup-cfY57t .header-1BR0Ro,
.resultsGroup-cfY57t .searchClearHistory-3nIKUO, 
.resultsGroup-cfY57t .searchLearnMore-1gNL3A,
.option-ayUoaq .answer-14OVbQ, 
.option-ayUoaq .filter-2QaH9y, 
.option-ayUoaq strong,
.searchOption-3u1gRt .answer-14OVbQ,
.searchOption-3u1gRt .filter-2QaH9y,
.resultsGroup-cfY57t .plusIcon-1RVszG {
    color: white;
}

.option-ayUoaq:hover .answer-14OVbQ, 
.option-ayUoaq:hover .filter-2QaH9y,
.option-ayUoaq:hover .plusIcon-1RVszG, 
.option-ayUoaq[aria-selected=true] .plusIcon-1RVszG {
    color: var(--interactive-hover);
}

.option-ayUoaq:after,
.option-ayUoaq:hover:after,
.option-ayUoaq[aria-selected=true]:after {
    background: none;
}

.option-ayUoaq {
    font-size: 14px;
    border-radius: 5px;
}

.option-ayUoaq:hover {
    background-color: rgba(255, 255, 255, .11);
}

.option-ayUoaq[aria-selected=true] {
    background-color: #6cb4fe;
}

.theme-dark .searchAnswer-23w-CH, 
.theme-dark .searchFilter-2UfsDk {
    background-color: #6cb4fe;
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker {
    background-color: transparent;
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__navigation.react-datepicker__navigation--next,
.theme-dark .calendarPicker-sDhzdi .react-datepicker__navigation.react-datepicker__navigation--previous {
    border-color: transparent;
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__header {
    background-color: transparent;
    border-color: transparent;
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__current-month {
    border-bottom-color: transparent;
    color: white;
    font-size: 15px;
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__day-name {
    color: white;
}

.calendarPicker-sDhzdi .react-datepicker__month * {
    border: none !important;
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__day--disabled,
.theme-dark .calendarPicker-sDhzdi .react-datepicker__day--outside-month,
.theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled,
.theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled:hover {
    background-color: rgba(255, 0, 0, .10) !important;
    color: red !important;
    font-weight: 500;
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__day {
    color: white;
}

.calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--keyboard-selected,
.calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--selected:hover,
.calendarPicker-sDhzdi .react-datepicker__day:hover {
    color: white;
    background-color: #6cb4fe;
}

.calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--selected:after {
    background-color: #6cb4fe;
}

.datePicker-3iA7_k .datePickerHint-Ir4715 {
    border-top: none;
}

.datePicker-3iA7_k .datePickerHint-Ir4715 .hint-xfbpCV {
    color: white;
}

.datePicker-3iA7_k .datePickerHint-Ir4715 .hintValue-V9hd8l {
    color: white;
    background-color: rgba(108, 180, 254, .4);
    padding: 3px 5px;
}

.datePicker-3iA7_k .datePickerHint-Ir4715 .hintValue-V9hd8l:hover {
    background-color: #6cb4fe;
}

.searchHeader-1r_ZSh {
    background-color: transparent;
}

.searchResultsWrap-5RVOkx {
    background-color: #1c1c1c;
}

.channelName-3w2Y3c {
    background: none;
}

.theme-dark .message-G6O-Wv {
    background-color: transparent;
    box-shadow: none;
}

.searchResult-O9NDji {
    background-color: transparent;
    border: 3px solid rgba(108, 180, 254, .5);
    border-radius: 4px;
}

.option-ayUoaq.user-1dKxvu .displayedNick-1atSpT {
    color: #6cb4fe;
}

.option-ayUoaq.user-1dKxvu .displayUsername-UTerwm {
    color: white;
}

.theme-dark .focused-2FU0YH {
    background-color: rgba(0, 0, 0, .4);
}

.theme-dark .queryContainer-ZunrLZ {
    color: white;
    border-bottom-color: transparent;
}

.theme-dark .dim-2Uxgxb .key-N5VmHN {
    background-color: #6cb4fe;
}

.cozy-VmLDNB .header-2jRmjb,
.username-h_Y3Us {
    color: white;
}

.wrapper-2vIMkT {
    background-color: #6cb4fe;
    box-shadow: none;
}

.button-3bklZh {
    color: white;
}

.button-3bklZh:hover {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.button-3bklZh.selected-69H4ua {
    background-color: rgba(0, 0, 0, .2);
}

.operations-3q3u6E {
    color: white;
}

.fakeLink-1wGafz,
.operations-3q3u6E>a {
    color: #6cb4fe;
    text-shadow: 0 2px 0 black, 0 2px 0 black, 
    0 2px 0 black, 0 2px 0 black, 0 2px 0 black;
    font-weight: 600;
}

.container-x059i8 {
    color: silver;
}

.message-2CShn3.replying-eZ7p5z.selected-2LX7Jy, 
.mouse-mode.full-motion .replying-eZ7p5z:hover,
.message-2CShn3.mentioned-Tre-dv.selected-2LX7Jy,
.mouse-mode.full-motion .mentioned-Tre-dv:hover {
    background-color: rgba(0, 0, 0, .1);
}

.highlighted-1TaRLI, 
.replying-eZ7p5z {
    background-color: rgba(108, 180, 254, .15);
}

.replying-eZ7p5z:before {
    background-color: transparent;
}

.mentioned-Tre-dv {
    background-color: rgba(108, 180, 254, .15);
    border: 1px solid #6cb4fe;
}

.mentioned-Tre-dv:before {
    background-color: transparent;
}

.header-11eigE {
    background-color: #1c1c1c;
    box-shadow: none;
}

.akaBadge-3i7V3p, 
.nicknames-10Sg6e {
    color: white;
}

.akaBadge-3i7V3p {
    background-color: #6cb4fe;
}

.replyBar-1oi75v, 
.threadSuggestionBar-3ExSyc,
.attachedBars-2BCP3l {
    background: transparent;
}

.wrapper-15CKyy {
    background-color: transparent;
}

.attachment-16cAbS, 
.avatar-l9Txm5, 
.blob-1uHjdp {
    background-color: #6cb4fe;
    opacity: .4 !important;
}

.wrapper-3HVHpV {
    background-color: rgba(0, 0, 0, .2);
}

.button-1zW0-r {
    border-radius: 3px;
    background-color: rgba(108, 180, 254, .3);
}

.button-1zW0-r:hover, 
.keyboard-mode .button-1zW0-r.focused-H4w81f {
    background-color: rgba(108, 180, 254, .7);
}

.textContainer-36wgKK,
.footer-GXWBBp {
    background-color: #1c1c1c;
    border: none;
}

.hljs-comment, 
.hljs-quote {
    color: silver;
}

.hljs {
    color: white;
}

.upload-vLbqu- {
    background-color: transparent;
}

.mediaBarGrabber-FvJKJg, 
.mediaBarProgress-38I317, 
.mediaBarProgress-38I317:after, 
.mediaBarProgress-38I317:before,
.mediaBarInteraction-tUE5dq:hover .mediaBarGrabber-FvJKJg,
.mediaBarInteractionDragging-3XLL8k .mediaBarGrabber-FvJKJg {
    background-color: #6cb4fe;
}

/* Progress Bar */
.progress-xNqAjK[style*="background-color: var(--background-modifier-active);"] {
    background-color: transparent !important;
}
  
/* Progress Fill */
.progressBar-1T6LYX[style*="background-color: hsl(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%);"] {
    background-color: #6cb4fe !important;
}

.theme-dark .form-3gdLxP:before {
    background: none;
}

.channelTextArea-1FufC0 {
    background-color: rgba(108, 180, 254, .4);
}

.editor-H2NA06 {
    caret-color: white;
}

.placeholder-1rCBhr {
    color: white;
}

.theme-dark .uploadModal-2ie9O_,
.content-2eQb8J {
    background-color: #1c1c1c;
}

.theme-dark .footer-VCsJQY {
    background-color: transparent;
    box-shadow: none;
}

.selectPlanDivider-1j8LTI {
    background-color: transparent;
}

.modalHeader-gQTY3L {
    background-image: none;
}

.header-uVCAlo {
    box-shadow: none;
}

.stickerInspected-mwnU6w .inspectedIndicator-27zwNZ {
    background-color: rgba(0, 0, 0, .45);
}

.premiumCategorySelected-2KWLhN,
.premiumCategorySelected-2KWLhN:hover,
.stickerCategoryGenericSelected-DnO2K8,
.stickerCategoryGenericSelected-DnO2K8:hover {
    background-color: #6cb4fe;
}

.stickerCategory-2f6iSo,
.stickerCategoryGenericSelected-DnO2K8 .stickerCategoryGenericIcon-3wumVD {
    color: white;
}

.premiumCategory-1bZwXQ:hover {
    background-color: rgba(108, 180, 254, .3);
    color: white;
}


.navButtonActive-1EqC5l {
    background-color: #6cb4fe !important;
}

.theme-dark .autocomplete-3NRXG8 {
    background-color: #1c1c1c;
}

.clickable-2V8YKY[aria-disabled=false]>.base-2v-uc0:hover, 
.clickable-2V8YKY[aria-selected=true]>.base-2v-uc0 {
    background-color: rgba(108, 180, 254, .5);
}

.wrapper-1gVUIN.minimum-fXpVNc {
    background-color: rgba(0, 0, 0, .3);
}

.border-2BJQjd.speaking-3RWJBr {
    box-shadow: inset 0 0 0 2px #6cb4fe,inset 0 0 0 3px black;
}

.status-1ZXjSF {
    background-color: #6cb4fe;
}

#app-mount .colorable-3rVGna.primaryDark-2UJt1G {
    background: #6cb4fe;
}

.quickSelect-384d3G {
    font-size: 14px;
    color: silver;
}

.quickSelectLabel-ArUyd9 {
    color: white;
}

.theme-dark .quickSelectPopout-2F0PXw {
    background: #1c1c1c;
    color: white;
}

.theme-dark .regionSelectName-1Tj9C9 {
    color: white;
}

.theme-dark .quickSelectPopoutOption-2E2UmS:hover {
    background-color: rgba(0, 0, 0, .4);
}

.quickSelectPopoutOption-2E2UmS:focus {
    background-color: #6cb4fe;
    color: white;
}

.iconBadge-3Mmg92 {
    background-color: #6cb4fe;
}

.messageGroupWrapper-1jf_7C {
    background: rgba(0, 0, 0, .1);
    border: 1px solid #6cb4fe;
}

#app-mount .jumpButton-1ZwI_j {
    font-size: 12px;
    border-radius: 5px;
    color: white;
    background-color: #6cb4fe;
}

.newMessagesBar-1hF-9G {
    background-color: #6cb4fe;
    box-shadow: none;
}

.jumpToPresentBar-1cEnH0 {
    background-color: rgba(0, 0, 0, .3);
}

/* ****************************** The Last of It ************************* */

.optionHeader-27AHfD[style*="color:"] {
    color: white !important;
}

.container-x8Y1ix {
    border-radius: 4px;
    border: 3px solid rgba(108, 180, 254, .4);
    background-color: transparent !important;
}

.container-x8Y1ix:hover {
    border: 3px solid #6cb4fe;
}

.text-sm-normal-3Zj3Iv[style*="color:"] {
    color: white !important;
}

.skip-2hTIXL a,
.guidelines-FvqqF2 a {
    color: #6cb4fe;
    font-weight: 600;
}

.uploadIcon-2wV7s_ {
    color: #6cb4fe;
}

.input-m1-Y7Q {
    background-color: transparent;
}

.sampleLink-5BWNy9 {
    color: white;
}

#app-mount .rowContainer-3t7486 {
    border-radius: 4px;
    background-color: #2d7d46;
}

.circleIconButton-1VxDrg {
    color: #6cb4fe;
    background-color: rgba(108, 180, 254, .4);
}

.circleIconButton-1VxDrg.selected-2r1Hvo {
    color: white;
    background-color: #6cb4fe;
}

.layout-1qmrhw,
.container-1oeRFJ {
    border-radius: 4px;
}

.categoryItem-Kc_HK_,
.clickable-28SzVr.container-1oeRFJ:hover, 
.clickable-28SzVr.container-1oeRFJ:hover .muted-14PyqW {
    color: white;
}

.clickable-28SzVr:hover .layout-1qmrhw {
    background-color: rgba(255, 255, 255, .2);
}

.clickable-28SzVr:hover .layout-1qmrhw .username-u-ebrn,
.clickable-28SzVr:hover .layout-1qmrhw .activity-2EQDZv {
    color: white !important;
}

.categoryItem-Kc_HK_.selectedCategoryItem-ZjqSui .itemInner-3e_4G4,
.selected-1-Z6gm .layout-1qmrhw {
    background-color: #6cb4fe;
}

.selected-1-Z6gm .layout-1qmrhw .username-u-ebrn,
.selected-1-Z6gm .layout-1qmrhw .activity-2EQDZv {
    color: black !important;
}

.selected-1-Z6gm .layout-1qmrhw .botTagRegular-kpctgU {
    border: 1px solid black;
}

.theme-dark .pageWrapper-2PwDoS {
    background-color: transparent;
}

.search-25t1e9 .searchBox-31Zv9h {
    background-color: rgba(0, 0, 0, .2);
}

.search-25t1e9 .searchBox-31Zv9h .searchBoxInput-3h4etz,
.search-25t1e9 .searchBox-31Zv9h .searchIcon-3X4BYL,
#app-mount .search-25t1e9 .searchBox-31Zv9h .closeIcon-BMGxx0,
#app-mount .clearIcon-TMIIUa,
.theme-dark .searchIcon-34RNw9 {
    color: white;
}

#app-mount .card-2TuZPZ, 
#app-mount .iconMask-2fMR98 {
    background-color: black;
}

.theme-dark .searchBox-pyIJJj {
    background-color: rgba(0, 0, 0, .4);
    box-shadow: none;
}

.categoryPill-1zjNrr.selected-bLcqYK {
    background-color: #6cb4fe;
}

.searchBox-pyIJJj:focus, 
.searchBox-pyIJJj:focus-within {
    border-color: #6cb4fe;
}

.membersGroup-2eiWxl.container-q97qHp {
    color: white;
}

.member-48YF_l, 
.members-3WRCEx {
    background-color: transparent;
}

.container-2o3qEW {
    background: none;
}

.userTagUsernameNoNickname-2e_xaO {
    color: white;
}

.discrimBase-KriZSj {
    color: silver;
}

.rolePillBorder-RiRiuN {
    border-color: #6cb4fe;
}

.rolePill-2IJ1vo {
    background-color: #6cb4fe;
}

.role-2TIOKu {
    font-size: 13px;
    background: rgba(108, 180, 254, .5);
    height: 24px;
    padding: 6px;
}

.roleName-2ZJJYR,
.actionButton-1YKTU0 {
    color: white;
}

.header-3_zmOb {
    background-color: transparent;
}

.browser-mnQ1T7 {
    box-shadow: none;
}

.container-18GwIk {
    background-color: #1c1c1c;
}

.closeIcon-11tHJX, 
.threadIcon-rd1kqG {
    color: #6cb4fe;
}

.divider-2xk5N2 {
    background-color: transparent;
}

.emptyStateContainer-xWOMPJ {
    background-color: transparent;
}

.container-3arpDl {
    background-color: rgba(0, 0, 0, .2);
    border: none;
}

.container-3arpDl .guidelines-jQLwyH a {
    color: #D0DFFF;
}

.descriptionContainer-2ylKGk {
    background-color: transparent;
    border-radius: 4px;
}

.icon-mJhEWn,
.icon-2yhmi8 {
    background-color: #6cb4fe;
    border-radius: 4px;
    color: white;
}

.container-2rzKKA {
    background-color: rgba(0, 0, 0, .1);
    border: none;
    border-radius: 4px;
}

.container-2rzKKA:hover {
    background-color: rgba(0, 0, 0, .3);
}

.popout-TdhJ6Z {
    background-color: #1c1c1c;
    box-shadow: none;
}

.more-2c3Z-T {
    border-top: none;
    color: #6cb4fe;
}

.row-1qtctT {
    color: white;
}

.row-1qtctT:hover {
    background-color: #6cb4fe;
    color: black;
}

.modal-ZdazA8 {
    background-color: #1c1c1c !important;
}

.theme-dark .perksModal-CLcR1c {
    background-color: rgba(0, 0, 0, .4);
}

.theme-dark .inviteRow-3vmB7i:hover {
    background-color: rgba(0, 0, 0, .2);
}

.theme-dark .footer-1hTRRZ {
    background-color: transparent;
}

.theme-dark .checkBoxLabel-16BK2g, 
.theme-dark .footerText-2QLGHU, 
.theme-dark .subText-1CcYgq {
    color: white;
}

.theme-dark .inviteBannerUpsell-1t_LYM {
    background-color: transparent;
}

.inviteBannerUpsell-1t_LYM a,
.content-2hZxGK a {
    color: #6cb4fe;
    font-weight: 600;
}

#app-mount .checkboxContainer-yVbwWS,
#app-mount .banReasonOtherClickable-8EKPlQ {
    background-color: rgba(0, 0, 0, .2);
}

.banReasonOtherClickable-8EKPlQ {
    color: white;
}

.theme-dark .divider--oiTeJ {
    border-color: transparent;
}

.avatarUploaderInnerSquareDisabled-3M9eJS {
    background-color: #6cb4fe;
}

.roleRow-230vCm:hover:not(.roleRowDisableHover-3En0vy) .circleButton-2Yr5A1 {
    background-color: #6cb4fe;
}

.roleRow-230vCm:hover:not(.roleRowDisableHover-3En0vy) {
    background-color: rgba(108, 180, 254, .3);
}

.roleRow-230vCm:before, 
.roleRow-230vCm:last-child:after {
    background-color: transparent;
}

.helpText-2PnGIP a,
.titleContainer-1P_BAz a {
    color: #6cb4fe;
    text-shadow: 0 2px 0 black, 0 2px 0 black, 
    0 2px 0 black, 0 2px 0 black, 0 2px 0 black;
    font-weight: 600;
}

#app-mount .container-3EtAkD {
    background-color: rgba(108, 180, 254, .3);
    color: white;
}

.icon-2DGsye {
    background-color: transparent;
}

.titleContainer-3fPic2,
.header-JUTO-g {
    background-color: transparent;
}

.tabBar-3DfKkN {
    border-bottom: none;
}

.memberRow-1FhJgR:hover,
.item-2rTrrd:hover {
    background-color: rgba(0, 0, 0, .1);
}

.previewContainer-1GxmBJ {
    background: #6cb4fe;
    border-radius: 6px;
}

.preview-3SR4Rd {
    color: white;
}

.theme-light .messageContainer-3a6gLR,
.descriptionBox-SKGNgB {
    background-color: #1c1c1c;
}

.theme-dark .card-3JmxsM {
    border-color: black;
}

.cardPrimaryEditable-2mz_3i {
    background: rgba(0, 0, 0, .2);
}

.cardHeader-3d6H8N,
.theme-dark .directoryModal-YJsOMv,
.featureCard-3XHbjy {
    background-color: transparent;
}

.search-2RHhW6,
.category-2OvQ93,
.card-2xymMp,
.container-2NdZr9 {
    background-color: rgba(0, 0, 0, .3) !important;
}

.category-2OvQ93 {
    color: white;
}

.theme-dark .member-2cj2PI {
    box-shadow: none;
}

.tag-15nL6B {
    color: silver;
}

.sidebar-3K3Z4C {
    border-right: none;
}

.executedCommand-14-SNW .commandName-1KhvGm {
    color: #6cb4fe;
}

.header-3OsQeK {
    box-shadow: none;
}

.clickable-vvKY2q .header-3OsQeK:hover, 
.selected-1GtAC5 .header-3OsQeK {
    background-color: rgba(0, 0, 0, .2);
}

.container-1NXEtd,
.scroller-3_YDR2 {
    background-color: transparent;
}

.wrapper-1S43wv,
.wrapper-1S43wv .container-q97qHp {
    color: white;
}

.settingCard-xZSDjS.active-3EK-ed,
.settingCard-xZSDjS {
    background: rgba(0, 0, 0, .2);
}

.cardFolder-3H4uH4 {
    background: none;
}

.unreadRelevant-2f-VSK {
    background-color: #6cb4fe;
}

.name-28HaxV,
.icon-2W8DHg {
    color: rgba(255, 255, 255, .3);
}

.modeSelected-3DmyhH .icon-2W8DHg,
.modeSelected-3DmyhH:hover .icon-2W8DHg,
.modeSelected-3DmyhH:hover .name-28HaxV,
.modeSelected-3DmyhH .name-28HaxV,
.actionIcon-2sw4Sl {
    color: white;
}

.modeUnread-3Cxepe .icon-2W8DHg,
.modeUnread-3Cxepe:hover .icon-2W8DHg,
.modeUnread-3Cxepe:hover .name-28HaxV,
.modeUnread-3Cxepe .name-28HaxV {
    color: #6cb4fe;
}

.modeSelected-3DmyhH .content-1gYQeQ, 
.modeSelected-3DmyhH:hover .content-1gYQeQ,
.listDefault-2F-w65 .clickable-1ctZ-H.selected-1oxcpH .content-1Tgc42 {
    background-color: rgba(108, 180, 254, .6) !important;
}

.wrapper-NhbLHG:hover .content-1gYQeQ,
.listDefault-2F-w65 .clickable-1ctZ-H:hover .content-1Tgc42 {
    background-color: rgba(255, 255, 255, .11);
}

.wrapper-2fEmwW {
    border-radius: 4px;
    color: white;
}

.users-2JoyGL {
    background-color: #6cb4fe;
}

.total-1c5KCN {
    background-color: black;
}

.total-1c5KCN:after {
    border-right-color: black;
}

.wrapper-1gVUIN {
    background-color: transparent;
}

.container-3XgAHv {
    background: #1c1c1c;
}

.chat-1-OBC7:before {
    box-shadow: none;
}

.emptyChannelIcon-1YdEz2 {
    border-radius: 7px;
    background-color: #6cb4fe;
}

.button-1kija8 {
    color: #6cb4fe;
}

.button-1kija8:hover {
    background-color: rgba(108, 180, 254, .3);
}

#app-mount .role-23oyrw {
    padding: 5px 10px;
    background-color: rgba(0,0,0,.5);
}

.border-2Vy6FN.speaking-7QZEkv,
.avatarSpeaking-2pCGrZ,
.avatarSpeaking-33RRJU {
    box-shadow: inset 0 0 0 2px #6cb4fe,inset 0 0 0 4px black;
}

.theme-dark .tooltipBrand-20XsMA {
    background-color: #6cb4fe;
}

.theme-dark .tooltipBrand-20XsMA .tooltipPointer-3L49xb {
    border-top-color: #6cb4fe;
}

.container-1zzFcN {
    border-bottom: none;
}

.markup-eYLPri code,
.theme-dark .wrapperAudio-1Bzv_Z {
    background: rgba(0, 0, 0, .4);
    border: none;
}

.metadataContent-lalfZ3 a {
   color: #6cb4fe;
   font-weight:  600;
}


/* ********************** Last Two ***************************** */

.dots-2_b2Mn {
    background-color: #6cb4fe;
    border: 3px solid transparent;
}

.typingIndicator-KF8hGa {
    background-color: #6cb4fe;
}

.dots-1BwzZQ.themed-3T-OPr {
    color: white;
}

.sectionDivider-189lqb,
.theme-dark .background-fkKrXt {
    background-color: transparent;
}

.guildCategorySeparator-1YkjLr {
    border: none;
}

.icon-2IDTxf {
    border-top: 4px solid transparent;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    background-color: transparent;
}

.container-2Hi7Km {
    background-color: rgba(108, 180, 254, .4);
    border-radius: 5px;
}

.container-xwOzwi {
    border-radius: 5px;
    background-color: rgba(108, 180, 254, .4);
}

.iconContainer-2R-3M1 {
    border-radius: 5px;
    background-color: #6cb4fe;
    color: white;
}

.container-3HMTms {
    border-radius: 4px;
}

.container-3HMTms:hover {
    background-color: rgba(108, 180, 254, .3);
}

.interactiveCard-2iMtdk {
    border: 1px solid black;
}

.card-3x20HF {
    border-radius: 4px;
    background-color: rgba(108, 180, 254, .2);
}

.interactiveCard-2iMtdk.selected-sszUNx, 
.interactiveCard-2iMtdk:active, 
.interactiveCard-2iMtdk:hover {
    border: 1px solid #6cb4fe;
}

.interactiveCard-2iMtdk:hover {
    box-shadow:  none;
}

.feedItemHeader-txJq98 {
    border-bottom: none;
}

.clear-2gkgln {
    color: #6cb4fe;
}

.container-3kfp0r {
    background-color: #1c1c1c;
    border: 1px solid #6cb4fe;
    box-shadow: none;
    border-radius: 4px;
}

.theme-dark .container-3wLKDe {
    background-color: transparent;
}

.mainCard-3KBsBI {
    background-color: rgba(0, 0, 0, .3);
    border-radius: 4px;
}

.mainCard-3KBsBI .input-2g-os5 {
    background-color: transparent;
    border: none;
}

.divider-2bkesd {
    background-color: transparent;
}

.tagsButton-4pwOKH .tagsButtonInner-2pvSm1 {
    color: white;
}

.loadingCard-1-3lgb7R {
    opacity: .4;
}
.loadingCard-3pIp9h {
    background-color: rgba(0, 0, 0, .2);
    border-radius: 4px;
}

.countContainer-3DOo5v,
.pinIcon-zVODC5 {
    background-color: #6cb4fe;
    border-radius: 4px;
}

.container-2qVG6q:hover {
    background-color: rgba(108, 180, 254, .4);
    box-shadow: none;
}

.theme-dark .container-2qVG6q.isOpen-2OXbFs {
    background-color: rgba(108, 180, 254, .4);
    border: 1px solid #6cb4fe;
}

.pill-3pRQlO {
    border-radius: 4px;
    background-color: rgba(108, 180, 254, .5);
    border: 2px solid transparent;
}

.tag-19iIl1, 
.tagsButton-4pwOKH {
    background-color: rgba(108, 180, 254, .5);
    border-radius: 4px;
}

.pill-3pRQlO.clickable-3YTfAq:not(.disabled-3Rezaw):hover {
    background-color: rgba(108, 180, 254, .3);
}

.pill-3pRQlO.selected-24z1Ou {
    border-color: #6cb4fe;
    background-color: rgba(108, 180, 254, .5) !important;
}

.header-1RJoTb {
    box-shadow: none;
}

.divider-AZrXIA {
    background-color: transparent;
}

.active-OdlCV-,
.theme-dark .active-OdlCV-:hover {
    color: white;
}

#app-mount .reactionBtn-3I19bq.forceShowLook-1zmTr- {
    background-color: #6cb4fe;
    border: none;
}

#app-mount .reactionBtn-3I19bq,
.reactionBtn-3I19bq:hover .icon-1q31jb {
    color: white;
}

.newMessageCount-jqlY9z[style*="color:"] {
    color: white !important;
}

.newPostsButton-UaBhcU {
    background-color: #1c1c1c;
    border: none;
    border-radius: 4px;
    box-shadow: none;
}

.newPostsButton-UaBhcU>[style*="color:"] {
    color: white !important;
}

.addReactButton-3bSQb6, 
.buttonInner-3aRbcx {
    color: white;
    background-color: rgba(108, 180, 254, .3);
    border-radius: 4px;
    border: 2px solid transparent;
}

.addReactButton-3bSQb6:hover, 
.buttonInner-3aRbcx:hover {
    background-color: rgba(108, 180, 254, .4);
    border-color: rgba(108, 180, 254, .4);
    color: white;
}

.container-3YcgdM {
    background-color: rgba(0, 0, 0, .3);
    border-top: none;
}

.channelName-3KPsGw[style*="color:"], 
.subtitle-3PyFgf[style*="color:"] {
    color: white !important;
}

.theme-dark .separator-2lLxgC {
    box-shadow: none;
}

.header-1sd0RU {
    background-color: transparent;
}

.rsvpCount-iCkObl {
    background-color: #6cb4fe;
    border-radius: 4px;
}

.rsvpIcon-1R5Esx {
    color: black;
}

.card-8UsK4b {
    background-color: rgba(0, 0, 0, .3) !important;
    border-radius: 4px;
    border: none;
}

.icon-3DnmvF {
    color: #6cb4fe;
}

.divider-2zyEHJ,
.scroller-38C5lh,
.subscriptionPerks-17BiNa {
    background-color: transparent;
}

.roleMessagePreview-NUi2Ri,
.tierInfoContainer-3o77tj {
    background-color: rgba(0, 0, 0, .3);
}

.content-23DqaR:before {
    box-shadow: none;
}

.benefitsSection-2VIuyT:not(:last-child) {
    border: none;
}

.sortButton-n-cIAH {
    border-radius: 4px;
    background-color: #1c1c1c;
}

.sortButtonInner-kKNTP9 {
    color: white;
}

.container-2d0jMv {
    background-color: rgba(0, 0, 0, .8);
    box-shadow: none;
}

.selectedIcon-rQFEab {
    color: #6cb4fe;
}

.optionText-_ulaHG[style*="color:"] {
    color: white !important;
}

.tag-3Upstw {
    background-color: rgba(255, 255, 255, .08) !important;
}