//META{"name":"Ram_Returns","description":"Say Hello to Team Ram once again","author":"DevilsLynAvenged","version":"1"}*//{}


.app-2rEoOp {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.694) 33%, rgba(0, 0, 0, 0.598) 65%), url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2bbad678-25db-4953-aed1-24f458d9e85b/daisdq0-98bf44d5-91d2-4024-8584-5bd7d079a249.jpg/v1/fill/w_1600,h_900,q_75,strp/minimalist_wallpaper___ram__re_zero__by_mrtapoz_kun_daisdq0-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTAwIiwicGF0aCI6IlwvZlwvMmJiYWQ2NzgtMjVkYi00OTUzLWFlZDEtMjRmNDU4ZDllODViXC9kYWlzZHEwLTk4YmY0NGQ1LTkxZDItNDAyNC04NTg0LTViZDdkMDc5YTI0OS5qcGciLCJ3aWR0aCI6Ijw9MTYwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.uuMpcOxbvtR2pZqKQq0tajcW4bLILhqd1nuUUY3KMQQ);
    background-size: cover;
}

.standardSidebarView-3F1I7i {
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/321907a1-ac84-4c6a-bbbf-f42a95b6599b/dagg4nt-843cfa3f-1e61-42d8-9ce2-b978e0358dad.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzMyMTkwN2ExLWFjODQtNGM2YS1iYmJmLWY0MmE5NWI2NTk5YlwvZGFnZzRudC04NDNjZmEzZi0xZTYxLTQyZDgtOWNlMi1iOTc4ZTAzNThkYWQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.lhfMYWSwNyCstWaeTp9DgiicQXXvnAW_LuWmQucVnyM);
    background-size: cover;
}

.placeholder-37qJjk, 
.slateTextArea-1Mkdgw .hljs-comment, 
.slateTextArea-1Mkdgw .hljs-quote {
    color: white;
}

.theme-dark .username-1A8OIy[style*="color: rgb(1, 1, 1)"],
.theme-dark .username-1A8OIy[style*="color: rgb(2, 2, 2)"],
.theme-dark .username-1A8OIy[style*="color: rgb(3, 3, 3)"],
.theme-dark .username-1A8OIy[style*="color: rgb(4, 4, 4)"],
.theme-dark .username-1A8OIy[style*="color: rgb(5, 5, 5,)"],
.theme-dark .username-1A8OIy[style*="color: rgb(6, 6, 6)"],
.theme-dark .username-1A8OIy[style*="color: rgb(7, 7, 7)"],
.theme-dark .username-1A8OIy[style*="color: rgb(8, 8, 8)"],
.theme-dark .username-1A8OIy[style*="color: rgb(9, 9, 9)"],
.theme-dark .username-1A8OIy[style*="color: rgb(10, 10, 10)"],
.theme-dark .username-1A8OIy[style*="color: rgb(11, 11, 11)"],
.theme-dark .username-1A8OIy[style*="color: rgb(12, 12, 12)"],
.theme-dark .username-1A8OIy[style*="color: rgb(13, 13, 13)"],
.theme-dark .username-1A8OIy[style*="color: rgb(14, 14, 14)"],
.theme-dark .username-1A8OIy[style*="color: rgb(15, 15, 15)"],
.theme-dark .username-1A8OIy[style*="color: rgb(16, 16, 16)"],
.theme-dark .username-1A8OIy[style*="color: rgb(17, 17, 17)"],
.theme-dark .username-1A8OIy[style*="color: rgb(18, 18, 18)"],
.theme-dark .username-1A8OIy[style*="color: rgb(19, 19, 19)"],
.theme-dark .username-1A8OIy[style*="color: rgb(20, 20, 20)"],
.theme-dark .username-1A8OIy[style*="color: rgb(21, 21, 21)"],
.theme-dark .username-1A8OIy[style*="color: rgb(22, 22, 22)"],
.theme-dark .username-1A8OIy[style*="color: rgb(23, 23, 23)"],
.theme-dark .username-1A8OIy[style*="color: rgb(24, 24, 24)"],
.theme-dark .username-1A8OIy[style*="color: rgb(25, 25, 25)"],
.theme-dark .username-1A8OIy[style*="color: rgb(26, 26, 26)"],
.theme-dark .username-1A8OIy[style*="color: rgb(27, 27, 27)"],
.theme-dark .username-1A8OIy[style*="color: rgb(28, 28, 28)"],
.theme-dark .username-1A8OIy[style*="color: rgb(29, 29, 29)"],
.theme-dark .username-1A8OIy[style*="color: rgb(30, 30, 30)"],
.theme-dark .username-1A8OIy[style*="color: rgb(31, 31, 31)"],
.theme-dark .username-1A8OIy[style*="color: rgb(32, 32, 32)"],
.theme-dark .username-1A8OIy[style*="color: rgb(1, 0, 0)"],
.theme-dark .username-1A8OIy[style*="color: rgb(2, 0, 0)"],
.theme-dark .username-1A8OIy[style*="color: rgb(3, 0, 0)"],
.theme-dark .username-1A8OIy[style*="color: rgb(4, 0, 0)"],
.theme-dark .username-1A8OIy[style*="color: rgb(5, 0, 0)"],
.theme-dark .username-1A8OIy[style*="color: rgb(6, 0, 0)"],
.theme-dark .username-1A8OIy[style*="color: rgb(7, 0, 0)"],
.theme-dark .username-1A8OIy[style*="color: rgb(8, 0, 0)"],
.theme-dark .username-1A8OIy[style*="color: rgb(9, 0, 0)"],
.theme-dark .username-1A8OIy[style*="color: rgb(10, 0, 0)"],
.theme-dark .username-1A8OIy[style*="color: rgb(11, 0, 0)"],
.theme-dark .username-1A8OIy[style*="color: rgb(12, 0, 0)"],
.theme-dark .username-1A8OIy[style*="color: rgb(13, 0, 0)"],
.theme-dark .username-1A8OIy[style*="color: rgb(14, 0, 0)"],
.theme-dark .username-1A8OIy[style*="color: rgb(15, 0, 0)"],
.theme-dark .username-1A8OIy[style*="color: rgb(16, 0, 0)"],
.theme-dark .username-1A8OIy[style*="color: rgb(17, 0, 0)"],
.theme-dark .username-1A8OIy[style*="color: rgb(18, 0, 0)"],
.theme-dark .username-1A8OIy[style*="color: rgb(19, 0, 0)"],
.theme-dark .username-1A8OIy[style*="color: rgb(20, 0, 0)"],
.theme-dark .username-1A8OIy[style*="color: rgb(21, 0, 0)"],
.theme-dark .username-1A8OIy[style*="color: rgb(22, 0, 0)"],
.theme-dark .username-1A8OIy[style*="color: rgb(23, 0, 0)"],
.theme-dark .username-1A8OIy[style*="color: rgb(24, 0, 0)"],
.theme-dark .username-1A8OIy[style*="color: rgb(25, 0, 0)"],
.theme-dark .username-1A8OIy[style*="color: rgb(26, 0, 0)"],
.theme-dark .username-1A8OIy[style*="color: rgb(27, 0, 0)"],
.theme-dark .username-1A8OIy[style*="color: rgb(28, 0, 0)"],
.theme-dark .username-1A8OIy[style*="color: rgb(29, 0, 0)"],
.theme-dark .username-1A8OIy[style*="color: rgb(30, 0, 0)"],
.theme-dark .username-1A8OIy[style*="color: rgb(31, 0, 0)"],
.theme-dark .username-1A8OIy[style*="color: rgb(32, 0, 0)"] {
   text-shadow: 0 0 6px white, 0 0 6px white !important;
}


.theme-dark .children-19S4PO:after {
    background: none;
}

.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
    background-color: rgba(0, 0, 0, .33);
    color: #fff;
}

.theme-dark .layer-3QrUeG,
.sidebar-2K8pFh,
.scroller-305q3I,
.scroller-9moviB {
    background: transparent;
}

.theme-dark .contentRegion-3nDuYy,
.contentRegionScroller-26nc1e,
.theme-dark .sidebarRegion-VFTUkN,
.sidebarRegionScroller-3MXcoP {
 background-color: rgba(0, 0, 0, 0.607);
}

.header-2RyJ0Y,
.theme-dark #bd-settings-sidebar .ui-tab-bar-header {
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    color: white;
}

.theme-dark #bd-settings-sidebar .ui-tab-bar-separator,
.separator-gCa7yv {
    background-color: transparent;
}

.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ,
.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected {
    background-color: rgba(244, 172, 197, 0.273) !important;
}

.side-8zPYf6 .themed-OHr7kt.item-PXvHYJ:hover,
.theme-dark #bd-settings-sidebar .ui-tab-bar-item:hover {
    background-color: rgba(244, 172, 197, 0.0997);
}

.side-8zPYf6 .item-PXvHYJ,
#bd-settings-sidebar .ui-tab-bar-item {
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 5px;
}

.cardPrimary-1Hv-to, 
.cardPrimaryEditable-3KtE4g {
    border-color: #f4acc5;
}

.cardPrimary-1Hv-to {
    background: rgba(244, 172, 197, 0.345);
}

.h5-18_1nd,
.theme-dark .keybind-KpFkfr {
    color: white;
}

.theme-dark .userSettingsAccount-2eMFVR .viewBody-2Qz-jg {
    color: #f4acc5;
    text-shadow: 0 0 12px black,0 0 12px black,0 0 12px black;
}

.theme-dark .closeButton-1tv5uR {
    border: 2px solid #f4acc5;
}

.theme-dark .closeButton-1tv5uR:hover {
    background-color: rgba(244, 172, 197, 0.37);
}

.lookOutlined-3sRXeN.colorBrand-3pXr91 {
    color: white;
    border-color: rgba(244, 172, 197, 0.66) !important;
}

.lookFilled-1Gx00P.colorBrand-3pXr91,
.lookFilled-1Gx00P.colorBrand-3pXr91:disabled {
    color: #fff;
    background-color: rgba(244, 172, 197, 0.137);
    border: 2px solid rgba(244, 172, 197, 0.237);
}

.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
    background-color: rgba(244, 172, 197, 0.437);
}

.theme-dark .avatarUploader-3XDtmn .removeButton-1hcZyG {
    color: white !important;
}


.input-cIJ7To:focus {
    border-color: #f4acc5 !important;
    background-color: rgba(0,0,0,.4);
}

.input-cIJ7To.focused-1mmYsC {
    border-color: transparent !important;
}

.input-cIJ7To {
    border-radius: 8px;
    color: white;
    background-color: rgba(0,0,0,.2);
    border: 1px solid transparent;
}

.input-cIJ7To:hover {
    border-color: transparent;
    background-color: rgba(0,0,0,.4);
}

.theme-dark .multiInputLast-1aQ3YA:before {
    border-right-color: transparent;
}

.theme-dark .inputPrefix-2VAOGg {
    opacity: 1;
    color: white;
}

.divider-3573oO {
    background-color: transparent;
}
  
.lookFilled-1Gx00P.colorGreen-29iAKY {
    color: #fff;
    background-color: #33633a;
}

.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
    background-color: #2c4f31;
}

.lookOutlined-3sRXeN.colorGreen-29iAKY {
    color: white;
    border-color: #33633a;
}

.lookFilled-1Gx00P.colorRed-1TFJan {
    background-color: rgba(215, 35, 35, 0.55);
}

.lookFilled-1Gx00P.colorRed-1TFJan:hover {
    background-color: rgba(215, 35, 35, 0.81);
}

.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(240, 71, 71);"] {
    color: white !important;
    background-color: rgb(215, 35, 35) !important;
}
  
.lookOutlined-3sRXeN.colorRed-1TFJan {
    color: white !important;
    border-color: rgba(215, 35, 35, 0.441);
    background-color: rgba(215, 35, 35, 0.174);
}

.lookOutlined-3sRXeN.colorRed-1TFJan:hover {
    border-color: rgba(215, 35, 35, 0.719);
}

.theme-dark .addGamePopout-2RY8Ju {
    background-color: #212121;
}

.theme-dark .lastPlayed-3bQ7Bo, 
.theme-dark .overlayStatusText-L2IACa {
    color: silver;
}

.theme-dark .elevationBorderHigh-2WYJ09,
.theme-dark .game-1ipmAa {
    box-shadow: none;
}

.theme-dark .nowPlaying-284llR {
    background-color: rgba(30, 116, 30, 0.756);
}

.theme-dark .gameName-1RiWHm,
.theme-dark .nowPlaying-284llR .gameName-1RiWHm,
.theme-dark .clearIcon-2N9YIn, 
.theme-dark .searchIcon-1a1-yA,
.theme-dark .fontScaleLarge-3xtq7i, 
.theme-dark .fontScaleSmall-368quy,
.theme-dark .markValue-2DwdXI {
    color: white;
}

.theme-dark .markDash-3hAolZ {
    background: white;
}

.after_inlineCode-1KfVgj, 
.before_inlineCode-1G9rTK, 
.inlineCode-2ngu6Y {
  background: rgba(255,255,255, .1);
  padding: 3px;
}
.codeBlockSyntax-2i-tMA, 
.syntaxAfter-hcA4AH, 
.syntaxBefore-1YQ9lW {
  color: white;
}

.wrapper-3D2qGf {
    background-color: transparent;
}

.theme-dark .inset-3sAvek {
    background-color: rgba(0, 0, 0, .36);
}
.searchBar-6Kv8R2 .searchBarComponent-32dTOx {
    border-radius: 0;
    background-color: rgba(0, 0, 0, .24);
    color: white;
}

.defaultValue-3gC7yw .markValue-2DwdXI {
    color: #43b581 !important;
}

.theme-dark .gameNameInput-385LoS:focus, 
.theme-dark .gameNameInput-385LoS:hover {
    border-color: transparent;
    background-color: rgba(31, 31, 31, 0.57);
}

.theme-dark .searchBox-3Y2Vi7 {
    background-color: rgba(0, 0, 0, 0.2);
}

.theme-dark .searchResultsContainer-1ma_dc {
    background-color: black;
    box-shadow: none;
}
  
.theme-dark .searchOption-8nCYo-.selected-1r_nkg {
    background-color: rgba(255,255,255,.089);
}
  
.theme-dark .emptyUsers--hiToV {
    background-color: rgba(0, 0, 0, 0.55);
    border-color: transparent;
}

.wrapper-3vR61M,
.wrapper-1F5TKx {
  background-color: transparent;
  overflow: visible;
}

/* Links */

.theme-dark .embedTitleLink-1Zla9e {
    color: #e5c634!important;
}
  
  .standardSidebarView-3F1I7i a,
  .imageDetails-1t6Zms a,
  .theme-dark .card-3Qj_Yx a,
  .bda-slist .bda-footer a,
  .content-8biNdB a,
  .footer-3rDWdC a,
  .lookLink-9FtZy-.colorLink-35jkBc,
  .theme-dark .markup-2BOw-j a,
  .quickswitcher-3JagVE a,
  .theme-dark .topic-TCb_qw a,
  .filenameLinkWrapper-1-14c5 a,
  .operations-36ENbA>a,
  .theme-dark .welcomeMessage-ULm0mo a,
  .localBotMessage-1cGMdw a,
  .theme-dark .container-3-pyIM .content-2M3n_H a,
  .helpText-h3r3wC a,
  .lookLink-9FtZy-.colorBrand-3pXr91,
  .emptyStateSubtext-2njjqg a,
  .theme-dark .container-2x5lvQ section a,
  .fakeLink-26oLcc,
  .metadataContent-3c_ZXw a,
  .editChannelButton-1dYN-G {
      color: #e5c634;
}

.lookLink-9FtZy-.colorLink-35jkBc:hover .contents-18-Yxp {
    background-image: linear-gradient(0deg,transparent,transparent 1px,#e5c634 0,#e5c634 2px,transparent 0);
}
  
.welcomeMessage-ULm0mo .h1-3fOAWv,
.welcomeMessage-ULm0mo p {
    color: white;
}
  
  /* ---- */

.themeDefault-24hCdX.sizeDefault-2YlOZr {
    box-shadow: none;
}

.themeDefault-24hCdX,
.bd-switch {
    background-color: rgba(208, 208, 208, 0.30);
    border-radius: 6px;
}

.themeClear-1EjkE4 {
    border-radius: 6px;
}

.sizeDefault-2YlOZr:after, 
.sizeMini-1ii40f,
.bd-switch::after {
    border-radius: 4px;
}

.bd-switch-checked,
.themeDefault-24hCdX.valueChecked-m-4IJZ {
    background: #f4acc5;
}

.cardPrimaryOutline-29Ujqw {
    border-color: black;
    background-color: rgba(0, 0, 0, 0.092);
}

.card-3Qj_Yx {
    border-width: 2px;
    border-radius: 12px;
}

.box-mmYMsp {
    border-radius: 5px;
}

.theme-dark .checked-3_4uQ9 {
    border-color: transparent;
    background-color: rgba(0,0,0,.4);
}
.theme-dark .checked-3_4uQ9[style*="background-color: rgb(114, 137, 218);"] {
    background-color: rgba(0,0,0,.4) !important;
}
  
.theme-dark .checkbox-1ix_J3 {
    border-color: rgba(255,255,255,.3) !important;
}

.theme-dark .checkbox-1ix_J3[style*="border-color: rgb(114, 137, 218);"] polyline[stroke],
.theme-dark .checkbox-1ix_J3[style*="border-color: rgb(79, 84, 92);"] polyline[stroke] {
    stroke: white;
}

.inner-2Y6JuD {
    width: 42px;
    height: 42px;
    border-radius: 14px;
}

.accountBtn-2Nozo3 .accountBtnInner-sj5jLs {
    background-color: #f4acc5;
}

.accountBtn-2Nozo3 .accountBtnInner-sj5jLs:hover {
    background-color: rgba(244, 172, 197, 0.63);
}

.theme-dark .descriptionWrapper-1YBY_J {
    color: white;
}

.theme-dark .codeRedemptionRedirect-1wVR4b {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.195);
    border-color: transparent;
}

.pageActions-1SVAnA *,
.theme-dark .sectionAccountCredit-1uNhnJ, 
.theme-dark .subscriptionDetails-1dUmjl,
.marketingRefreshTier2Cta-bw9Vyc {
    border: none;
}

.theme-dark .pageIndicator-1gAbyA,
.theme-dark .pageButtonNext-V2kUq0, 
.theme-dark .pageButtonPrev-1Y-47D {
    color: white;
}

.theme-dark .bottomDivider-1K9Gao,
.theme-dark .paymentHeader-3QlZQi,
.theme-dark .guildSubscriptionSection-122NwR, 
.theme-dark .subscriptionDetails-16jcwU,
.featureBorder-7j4v58 {
    border: none;
}

.theme-dark .paymentPane-3bwJ6A,
.theme-dark .payment-xT17Mq {
    background-color: transparent;
    color: white;
}

.theme-dark .paginator-166-09,
.theme-dark .container-2Zlzt0 {
    background: transparent;
}

.theme-dark .paginator-2CA79G {
    color: white;
}

.theme-dark .hoverablePayment-Yc6mK7:hover,
.theme-dark .expandedInfo-3kfShd {
    background-color: rgba(0, 0, 0, 0.197);
}

.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(114, 137, 218);"] {
    color: white !important;
    background-color: rgba(0, 0, 0, 0.201) !important;
}

.bd-toast.toast-success {
    background-color: #1a5239;
}

.bd-toast {
    background: rgba(244, 172, 197, 0.63);
    border-radius: 10px;
    box-shadow: none;
}

.theme-dark .lookFilled-1h1y05.select-1Pkeg4,
.css-2yldzf-control {
    background-color: rgba(0,0,0,.5);
    border-color: transparent;
}

.theme-dark .lookFilled-1h1y05.select-1Pkeg4:hover.selectOpen-hQuR6b, 
.theme-dark .lookFilled-1h1y05.selectOpen-hQuR6b {
    border-color: black black rgba(0,0,0,.3);
}

.theme-dark .lookFilled-1h1y05.select-1Pkeg4:hover,
.css-15ejc46-control:hover,
.css-2yldzf-control:hover {
    border-color: black;
}

.theme-dark .select-1Pkeg4 {
    color: white;
}

.theme-dark .popout-2sKjHu,
.css-181m2lf-menu {
    border-color: transparent;
    background: rgba(18, 19, 21, 0.667);
}

.theme-dark .optionActive-KkAdqq,
.css-12o7ek3-option {
    color: white;
    background: rgba(0,0,0,.4);
}

.theme-dark .optionNormal-12VR9V:hover,
.css-1gnr91b-option {
    background-color: rgba(0,0,0,.23);
}

.guildSubscriptionSubtitle-2pgoFL {
    color: silver;
}

.grabber-3mFHz2 {
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    border: none;
    box-shadow: none;
}

.theme-dark .bubble-3we2di {
    background-color: #242424;
}

.bubble-3we2di:before {
    border: none;
}

.barFill-23-gu- {
    background: #f4acc5;
}

.barFill-23-gu-[style*="background: rgb(251, 184, 72);"] {
    background: #f4acc5 !important;
}

.theme-dark .bar-2Qqk5Z {
    background: rgba(0, 0, 0, 0.407);
    border-radius: 2px;
}

.theme-dark .bar-2Qqk5Z[style*="background: rgb(105, 196, 154);"] {
    background: rgba(0, 0, 0, 0.407) !important;
}

.cardPrimaryEditable-3KtE4g[style*="border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);"] {
    background-color: #f4acc5 !important;
    border: 2px solid rgba(0, 0, 0, 0.52) !important;
}

.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
    background-color: transparent;
    border-color: transparent;
}

.userSettingsVoice-iwdUCU .media-engine-video {
    background-color: rgba(0, 0, 0, 0.407);
}

.notificationsSound-27jFSh {
    color: white;
    box-shadow: none;
}

.theme-dark .card-FDVird:before {
    background-color: rgba(0, 0, 0, 0.235);
    border-color: transparent;
}

.theme-dark .row-2okwlC,
.theme-dark .item-3eFBNF {
    box-shadow: none;
}

.theme-dark .button-2CgfFz {
    background-color: rgba(0, 0, 0, 0.40) !important;
    box-shadow: none !important;
}

.theme-dark .notDetected-33MY4s {
    background-color: rgba(35, 35, 35, 0.44);
}

.backdrop-1wrmKB,
.backdropWithLayer-3_uhz4 {
  background-color: rgba(0,0,0,0.49) !important;
  opacity: 1 !important;
}

.theme-dark .root-1gCeng {
    background-color: rgba(0, 0, 0, 0.55);
    box-shadow: none;
}

.uploadArea-3QgLtW {
    background: rgba(0,0,0,.8);
}

.uploadArea-3QgLtW .uploadDropModal-2kTwbc .bgScale-1otPtc {
    background: radial-gradient(ellipse at center, #f4acc5 0%, #000000 100%);
    border: none;
}

.uploadArea-3QgLtW .uploadDropModal-2kTwbc .inner-3nWsbo {
    border: none;
}

.theme-dark .uploadModal-2ifh8j .footer-3mqk7D {
    background-color: transparent;
    padding: 13px;
}

.theme-dark .uploadModal-2ifh8j .inner-3nWsbo {
    border: none;
}
  
.theme-dark .uploadModal-2ifh8j {
    background: linear-gradient(45deg, #f4acc5 0%, black 40%);
    background-size: cover;
    border-radius: 5px;
}

.theme-dark .uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
    background-color: #f4acc5;
    border: 3px solid black;
    border-radius: 10%;
    box-shadow: 5px 9px 8px rgba(0, 0, 0, 0.42),5px 4px 8px rgba(0, 0, 0, 0.42),0 0 18px rgba(0, 0, 0, 0.7);
}


.theme-dark .contentTitle-2tG_sM,
.theme-dark .description-11DmNu, 
.theme-dark .descriptionUsername-J_75O8,
.theme-brand .content-Qb0rXO {
    color: white;
}

.theme-dark .uploadModal-2ifh8j .footer-3mqk7D .lookLink-9FtZy-.colorWhite-rEQuAQ:hover {
    background-color: rgba(255,0,0,0.6);
}

.theme-dark .iconForeground-1w5n7R {
    fill: white;
}

.theme-dark .selectorSelected-1_M1WV {
    background: linear-gradient(45deg, #f4acc5 0%, transparent 80%);
}

.theme-dark .contentTitle-2tG_sM strong,
.theme-dark .descriptionDiscriminator-3vUOCc {
    color: silver;
}

.theme-dark .divider-23swzi {
    background-color: transparent;
}

.theme-dark .textArea-2Spzkt {
    color: #f4acc5;
}

.selector-2IcQBU {
    border-radius: 8px;
}

.theme-dark .separator-3gy7tq {
    box-shadow: none;
}

.theme-dark .modal-yWgWj- {
    background: linear-gradient(45deg, #000000 30%, #f4acc5 100%);
    box-shadow: none;
}

.theme-dark .footer-2gL1pp {
    background-color: transparent;
    box-shadow: none;
}

.theme-dark .content-8biNdB p, 
.theme-dark .content-8biNdB ul li,
.theme-dark .bda-slist .bda-description,
.standardSidebarView-3F1I7i #editor-detached h3 {
    color: white;
}

.theme-dark #bd-settingspane-container .ui-switch-item .style-description {
    color: silver;
}

#bd-settingspane-container .ui-switch-item .style-description {
    border-bottom: none;
}

.bd-pfbtn,
.bda-slist .bda-footer button,
.standardSidebarView-3F1I7i #editor-detached button {
    background: #f4acc5;
    text-shadow: 0 0 58px black,0 0 8px black,0 0 8px black;
}

.theme-dark .bda-slist .bda-header {
    color: white;
    border-bottom-color: transparent;
}

.theme-dark .bda-slist .bda-footer {
    border-top-color: transparent;
}

#bd-settingspane-container .ui-switch-item {
    margin-top: 15px;
}

.theme-dark .bd-addon-list .bd-addon-card {
    background-color: rgba(0, 0, 0, 0.37);
    color: white;
    border-color: transparent;
}

.ace-monokai,
.ace_editor,
.ace-monokai .ace_gutter {
    background-color: rgba(0, 0, 0, 0.216);
    color: white;
}

.ace-monokai .ace_marker-layer .ace_active-line,
.ace-monokai .ace_gutter-active-line {
    background: rgba(244, 172, 197, 0.3);
}

.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span {
    background-color: #f4acc5;
    border-color: #f4acc5;
}

.contentRegion-3nDuYy #bd-customcss-attach-controls, 
#bd-customcss-detach-container #bd-customcss-attach-controls {
    background: black;
    box-shadow: none;
}

#bd-customcss-attach-controls .help-text .inline {
    background: rgba(244, 172, 197, 0.6);
}

.standardSidebarView-3F1I7i #bd-customcss-attach-controls button, .bd-detached-css-editor #bd-customcss-attach-controls button {
    background: rgba(244, 172, 197, 0.87) !important;
    border: none !important;
    margin-right: 2px;
    border-radius: 10px;
    text-shadow: 0 3px 5px black;
}

/* Friends and DMS */

.quickswitcher-3JagVE {
    border-radius: 14px;
    box-shadow: none;
    background: linear-gradient(30deg, rgba(0, 0, 0, 0.82) 40%, rgba(244, 172, 197,0.7049194677871149) 75%);
    color: white;
}

.scroller-zPkAnE {
    background-color: transparent;
}

.emptyStateNote-ZYTetQ {
    color: white;
}

.tipsWithoutResults-lGY-De, 
.tipsWithResults-HhTE9b {
    font-size: 16px;
    border-top: none;
    color: white;
}

.theme-dark .keybindShortcut-1BD6Z1 span {
    color: white !important;
    box-shadow: none;
    border: none;
    background: rgba(244, 172, 197,0.50);
}

.theme-dark .keybindShortcut-1BD6Z1 span:active {
    box-shadow: none;
    border: none;
    background: rgba(141,160,224,0.80);
}

.theme-dark .keybindShortcutTipsSelect-HDyfe8:last-of-type:before {
    background-color: transparent;
}

.input-2VB9rf {
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.70);
    color: white;
    box-shadow: none;
}

.contentDefault-16dKSY,
.misc-1CT3G7 {
    color: white;
}

.username-2hHyRL,
.miscContainer-2ptJ_C {
    opacity: 1;
}

.result-oB0z-- {
    border-radius: 10px;
}

.resultFocused-3aIoYe {
    background: linear-gradient(90deg, rgba(141,160,224,0.63) 0%, rgba(0,0,0,0) 55%);
}

.note-S--UP5,
.icon-30q1Or {
    color: #d0d0d0;
}

.theme-dark .contentUnread-3gTHvA .note-S--UP5 {
    color: silver;
}

*::-webkit-input-placeholder {
    color: white !important;
}

.auto-Ge5KZx::-webkit-scrollbar-track  {
    background-color: transparent;
}

.searchBar-6Kv8R2 {
    box-shadow: none;
}

.privateChannels-1nO12o,
.scroller-1JbKMe,
.theme-dark .wrapper-1Rf91z,
.theme-dark .scroller-2TZvBN {
    background-color: transparent;
}

.container-2XeR5Z {
    border-radius: 6px;
    background-color: rgba(244, 172, 197, 0.23)
}

.panels-j1Uci_ {
    background-color: rgba(0, 0, 0, 0.26);
}

.container-2Pjhx- {
    border-radius: 12px;
    color: #b7b7b7;
}

.clickable-1JJAn8.container-2Pjhx-:hover {
    color: #d3d3d3;
}

.clickable-1JJAn8:hover .layout-2DM8Md {
    background-color: rgba(244, 172, 197, 0.093);
}

.selected-aXhQR6 .layout-2DM8Md,
.categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG {
    background-color: rgba(244, 172, 197, 0.273);
}

.layout-2DM8Md {
    border-radius: 12px;
}

.container-2ax-kl {
    color: #ffffff;
    font-weight: 500;
}

.container-1r6BKw.themed-ANHk51 {
    background: rgba(0, 0, 0, 0.392);
    box-shadow: none;
}


.scroller-1IIF0A,
.theme-dark .root-1BQpZw,
.scroller-5bBood,
.theme-dark .container-1D34oG {
    background-color: rgba(0, 0, 0, 0.195);
}

.theme-dark .peopleList-3c4jOR,
.applicationStore-1pNvnv {
    background-color: transparent;
}

.base-1x0h_U {
    font-weight: bold;
    color: white;
}



.icon-22AiRD {
    color: white;
}



.divider-3FBTu8 {
    background-color: transparent;
}



.side-8zPYf6 .themed-OHr7kt.item-PXvHYJ:hover, .topPill-30KHOu .themed-OHr7kt.item-PXvHYJ:hover {
    background-color: rgba(244, 172, 197, 0.399);
}

.themed-OHr7kt.item-PXvHYJ:hover {
    color: white;
}

.topPill-30KHOu .item-PXvHYJ {
    border-radius: 10px;
    padding: 2px 12px;
}

.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ,
.theme-dark .header-2-Imhb .tabBar-1kuXvJ .tab-ck0077.active-1MbGPa {
    background-color: rgba(244, 172, 197, 0.79);
}

.container-cMG81i {
    background-color: rgba(0, 0, 0, 0.23);
}




.auto-Ge5KZx::-webkit-scrollbar-track  {
    background-color: transparent;
    border: none;
}


.theme-dark .message-2qRu38 {
    background-color: rgba(0, 0, 0, 0.29);
    box-shadow: none;
}

.tabBar-ZmDY9v .item-3HknzM[style*="background-color"] {
    background-color: rgb(28, 118, 77) !important;
    color: white !important;
}

.channelHeader-3Gd2xq {
    background-color: rgba(0, 0, 0, .33);
}

.messageContainer-gbhlwo {
    background-color: rgba(0, 0, 0, .53);
}
  
.message-2DieIs {
    overflow: visible;
}
  
.messageContainer-gbhlwo .avatar-1BDn8e {
    top: 6px;
}

.secondary-dIudih,
.tertiary-aMXF0g {
    background-color: #f4acc5 !important;
    color: white;
}

.numberBadge-2s8kKX {
    background-color: #f4acc5 !important;
}

.base-PmTxvP {
    border-radius: 12px;
    min-width: 24px;
    min-height: 24px;
}

.tag-2gHSR7,
.theme-dark .friendSelected-1sa4bG {
    background-color: rgba(244, 172, 197, 0.55);
    color: white;
}

.theme-dark .friend-3KALPe,
.title-30qZAO {
    color: white;
}

.friend-3KALPe {
    border-radius: 12px;
}


.peopleListItem-2nzedh {
    border: none;
}

.peopleListItem-2nzedh:hover {
    background: rgba(0, 0, 0, 0.23);
    border-radius: 14px;
}

.actionButton-uPB8Fs:hover {
    background-color: rgba(244, 172, 197, 0.8);
}

.actionButton-uPB8Fs.actionDeny-de_uKj:hover {
    background-color: #E82317!important;
    color: white !important;
}

.nowPlayingColumn-2sl4cE {
    background: transparent;
}

.actionButton-uPB8Fs,
.actionButton-uPB8Fs.highlight-Lf97TE {
    background-color: rgba(244, 172, 197, 0.5);
    color: white !important;
}

.theme-dark .tooltipBlack-PPG47z .tooltipPointer-3ZfirK {
    border-top-color: #f4acc5;
}

.theme-dark .tooltipBlack-PPG47z {
    background-color: rgba(244, 172, 197, 0.78);
}
  
.theme-dark .tooltip-2QfLtc {
    box-shadow: 0 2px 20px 2px rgba(0,0,0,.8);
    color: white;
}

.tooltip-2QfLtc {
    border-radius: 10px;
    font-size: 16px;
}

.guildsError-b7zR5H:hover {
    border-color: #d81818;
    background-color: rgba(0,0,0,.4);
}

.guildsError-b7zR5H,
.guildIconUnavailable-5PMHDN {
    background-color: transparent;
    color: white;
    border: 2px solid #d81818;
}

.theme-dark .tooltipRed-8-9NeP {
    background-color: #d81818;
}

.theme-dark .tooltipRed-8-9NeP .tooltipPointer-3ZfirK {
    border-top-color: red;
}

.childWrapper-anI2G9 {
    background-color: rgba(0,0,0,.4);
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, 
.wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    background-color: #f4acc5;
}

.guildSeparator-3s64Iy {
    background-color: transparent;
}

.children-19S4PO:after {
	background: none;
}

/* Chat Section(Last Part) */
.folderIconWrapper-226oVY {
    border-radius: 0px;
    overflow: visible;
}

.theme-dark .expandedFolderBackground-2sPsd-,
.theme-dark .expandedFolderBackground-2sPsd-.hover-2ji_A7 {
   border-radius: 7px;
   background-color: rgba(0, 0, 0, 0.327);
   height: 99%;
}

.theme-dark .folder-21wGz3,
.theme-dark .folder-21wGz3.hover-2ji_A7 {
    background-color: rgba(0, 0, 0, 0.427);
}

.wrapper-sa6paO {
    overflow: visible;
}

.item-2hkk8m {
    width: 17px !important;
    height: 17px !important;
    border-radius: 4px !important;
    margin-left: 4px;
    top: 2px;
    z-index: 1;
    background-color: rgba(244, 172, 197,0.59);
    border: 2px solid black;

}
.item-2hkk8m[style*="height: 40px;"] {
    width: 17px !important;
    height: 17px !important;
    background-color: #f4acc5;
}

.theme-dark .pageWrapper-1PgVDX {
    background-color: transparent;
}

.bg-AYqtMd {
    opacity: 0 !important;
}

.css-ncjuf0-control,
.css-5fjw8m-control {
    color: white;
}

.css-1wqqa50-container {
    background-color: rgba(0, 0, 0, 0.23);
    box-shadow: none;
}

.css-n57xjs-menu {
    background-color: rgba(0, 0, 0, 0.13);
    box-shadow: none;
    color: white;
    border-radius: 7px;
    border-top: none;
}

.theme-dark .sectionSeparator-2OWiNT {
    border: none;
}

.mention-1f5kbO {
    background-color: #f4acc5;
    border: 2px solid rgba(255,255,255,.3);
    opacity: .5;
}

.mention-1f5kbO:hover {
    background-color: #f4acc5;
    opacity: 1;
}

.container-PNkimc {
    background-color: transparent;
}

.styleFixed-sX-yHV,
.theme-dark .container-VSDcQc .sectionTag-pXyto9 {
    border-radius: 0 0 10px 10px;
    box-shadow: none;
    background: linear-gradient(135deg, rgba(244, 172, 197, 0.81) 0%, #000000 100%);
    padding: 6px 9px;
}
  
.separator-2I32lJ {
    border: none;
}
  
.theme-dark .autocompleteArrow-Zxoy9H, 
.theme-dark .autocompleteShadow-iiGWFU {
    box-shadow: none;
}

.theme-dark .autocompleteArrow-Zxoy9H, 
.theme-dark .autocompleteHeaderBackground-30T70q {
    background-color: #141517;
}
  
.positionTop-3e-X1p .autocompleteHeaderBackground-30T70q {
    border-radius: 10px 10px 0 0;
}

.theme-dark .container-VSDcQc .input-1ppKdn {
    color: white;
}

.theme-dark .row-rrHHJU.selected-1pIgLL {
    background: linear-gradient(90deg,#f4acc5,black);
  }
  
.theme-dark .row-rrHHJU, 
.theme-dark .row-rrHHJU span {
    color: white;
}

.theme-dark .container-VSDcQc .headerText-3i6A8K {
    color: silver;
}

.circleIconButton-jET_ig {
    color: white;
    background-color: #f4acc5;
    border-radius: 40px !important;
}

.circleIconButton-jET_ig.selected-ugP_am {
    color: white;
    background-color: #f4acc5;
    border: 2px solid rgba(255,255,255,.182);
}

.theme-dark .card-3DjzTQ, 
.theme-dark .cardPlaceholder-1zrbbe {
    background: #f4acc5;
    opacity: 0.7;
}

.theme-dark .card-3DjzTQ:hover {
    background-color: #f4acc5;
    box-shadow: none;
    opacity: 1;
}

.bda-dark .theme-dark .slide-2pHaq5 {
    background: linear-gradient(45deg, #000000 30%, #f4acc5 100%);
    box-shadow: none;
}

.theme-dark .header-3ZP1MY {
    color: silver;
}


.theme-dark .theme-light .action-1lSjCi {
    background-color: rgba(0, 0, 0, 0.32);
    border: 2px solid rgba(255,255,255,.189);
    border-radius: 10px;
}

.theme-dark .input-UJ9Tr3,
.subtext-3CDbHg,
.wrapper-pZmgj4,
.addButton-1BORro {
    color: white;
}

.css-mhi7q3-placeholder {
    color: white;
    opacity: 1;
}

.avatarSpeaking-3MqCHL {
    box-shadow: 0 0 12px 1px rgb(66, 205, 39),0 0 12px 1px rgb(90, 215, 65),0 0 12px 1px rgb(83, 184, 62);
}

.container-1giJp5 {
    border: none;
    color: white;
}

.total-3tKGEB:after {
    border: none;
}

.total-3tKGEB {
    padding-left: 3px;
    width: 30px;
    border-left: 1px solid rgba(255, 255, 255, 0.24);
}

.users-i_3-kL {
    padding-right: 5px;
    width: 30px;
}

.users-i_3-kL,
.total-3tKGEB {
    background-color: #f4acc5;
}

.unread-3zKkbm,
.icon-2doZ3q, 
.iconContainer-2ZxvJk,
.icon-WnO6o2 {
    display: none;
}

.colorDefault-2K3EoJ.focused-3afm-j {
    background-color: rgba(0, 0, 0, 0.20);
    color: white !important;
}

.name-3_Dsmg,
.icon-1_QxNX {
    color: white;
    opacity: 0.4;
}

.modeUnread-1zpFdA .name-3_Dsmg, 
.modeUnread-1zpFdA:hover .name-3_Dsmg,
.modeUnread-1zpFdA .icon-1_QxNX, 
.modeUnread-1zpFdA:hover .icon-1_QxNX {
    color: white;
    opacity: 1;
}

.modeSelected-1zApJ_ .name-3_Dsmg, 
.modeSelected-1zApJ_:hover .name-3_Dsmg,
.modeSelected-1zApJ_ .icon-1_QxNX, 
.modeSelected-1zApJ_:hover .icon-1_QxNX {
    color: rgb(171, 171, 171);
    opacity: 1;
}

.modeSelected-1zApJ_ .content-3at_AU, 
.modeSelected-1zApJ_:hover .content-3at_AU,
.listDefault-2y5Z9D .clickable-23RaYz.selected-3TGCSZ .content-3xS9Lh {
    background-color: rgba(244, 172, 197, 0.5) !important;
    border: none !important;
}
  
.content-3at_AU {
    border-radius: 7px;
}

.wrapper-1ucjTd:hover .content-3at_AU,
.listDefault-2y5Z9D .clickable-23RaYz:hover .content-3xS9Lh {
    background-color: rgba(0, 0, 0, 0.28);
    border: 2px solid rgba(255,255,255,.1);
}

.modeMuted-3osy7j .icon-1_QxNX, 
.modeMuted-3osy7j .name-3_Dsmg {
    color: #686868;
    text-shadow: 0 0 12px #686868,0 0 12px #686868,0 0 12px #686868;
    opacity: 0.7;
    overflow: visible;
}

.wrapper-1ucjTd.modeLocked-SZJhTy .name-3_Dsmg,
.wrapper-1ucjTd.modeLocked-SZJhTy .icon-1_QxNX {
    color: red;
    text-shadow: 0 0 12px red,0 0 12px red,0 0 12px red;
    opacity: 0.8;
    overflow: visible;
}

.unread-1xRYoj {
    background-color: rgb(0, 0, 0);
    opacity: .3;
}

.chat-3bRxxu,
.messages-3amgkR {
    background-color: transparent;
}

.theme-dark .messagesPopout-24nkyi {
    background-color: transparent;
}

.themedPopout-1TrfdI .header-2Kf7Yu+:after {
    box-shadow: none;
}

.theme-dark .jumpToPresentBar-9P20AM {
    background-color: rgba(0, 0, 0, 0.4) !important;
}
 
.newMessagesBar-mujexs {
    border-radius: 0 0 11px 11px;
    background-color: rgba(0, 0, 0, 0.4) !important;
}
 
.newMessagesBar-mujexs button:last-child,
.jumpToPresentBar-9P20AM button:last-child {
    color: white;
}

.hasMore-3e72_v,
.theme-dark .hasMoreButton-1MELpI {
 background: #f4acc5 !important;
 border: none;
 color:white;
}

.header-2o-2hj {
    background: rgba(0, 0, 0, 0.392);
    box-shadow: none;
    color: white;
}

.itemGroup-1tL0uz {
    border: none;
}

.clickable-11uBi-:hover, 
.selected-BYpGTS {
    color: white !important;
    background-color: #f4acc5;
}

.styleFlexible-wGDiIL,
.container-3cGP6G,
.submenu-2-ysNh {
    border-radius: 12px;
    background-color: black;
    border: 2px solid #f4acc5;
    box-shadow: none;
}

.itemBase-tz5SeC {
    padding: 0 7px;
    border-radius: 7px;
    color: white;
}

.theme-dark .header-ykumBX {
    background-color: transparent;
    box-shadow: none;
}

.theme-dark .messagesPopoutWrap-1MQ1bW,
.container-enaOkj {
    background: linear-gradient(45deg, #000000 0%, #f4acc5 51%, #000000 100%);
    border: none;
    box-shadow: none;
}

.messages-3G3erD {
    background-color: rgba(0,0,0,.5);
    border-radius: 4px;
}

.theme-dark .messageGroupWrapper-o-Zw7G {
    background-color: rgba(0, 0, 0, 0.44) !important;
    opacity: 0.6;
    transition: opacity .5s ease;
}
  
.theme-dark .messageGroupWrapper-o-Zw7G:hover {
    opacity: 1;
}

.theme-dark .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug {
    box-shadow: none;
    background: none;
}

.emptyChannelIcon-3IXV5M {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .26);
}

.theme-dark .jumpButton-3DTcS_,
.theme-dark .jumpButton-1ol35X,
.theme-dark .collapseButton-oSNpPX,
.jumpButton-2dvRSC {
    background-color: #f4acc5;
    color: white !important;
}


.messageGroupWrapper-o-Zw7G {
    border-radius: 13px;
    border-style: none;
}

.theme-dark .footer-1kmXd4 {
    background-color: transparent;
}

.searchBar-3dMhjb {
    color: white;
    background-color: rgba(0, 0, 0, 0.30);
}

.search-2oPWTC .DraftEditor-root .public-DraftEditorPlaceholder-root,
.theme-dark .resultsGroup-r_nuzN .header-2N-gMV, 
.theme-dark .resultsGroup-r_nuzN .plusIcon-v0BTrL, 
.theme-dark .resultsGroup-r_nuzN .searchClearHistory-2cSSMO, 
.theme-dark .resultsGroup-r_nuzN .searchLearnMore-3SQUAj a {
    color: white;
}

.theme-dark .container-3ayLPN {
    background: linear-gradient(135deg, #f4acc5 0%, #000000 100%);
    border-radius: 10px;
}

.theme-dark .option-96V44q:after,
.theme-dark .option-96V44q.selected-rZcOL-:after {
    background: none;
}

.theme-dark .focused-2bY0OD {
    background-color: rgba(0, 0, 0, 0.152);
}
  
.theme-dark .queryContainer-RKFJW- {
    color: white;
    border-bottom-color: transparent;
}

.theme-dark .option-96V44q.selected-rZcOL- {
    background-color: rgba(0, 0, 0, 0.112);
    border-radius: 10px;
}

.theme-dark .searchOption-zQ-1l6 .answer-1n6g43,
.theme-dark .option-96V44q.user-O3Czj0 .displayUsername-Qekxml,
.theme-dark .searchResultChannelCategory-1l0lSn, 
.theme-dark .searchResultChannelIcon-1DnTme {
    color: #939393;
}

.theme-dark .option-96V44q .filter-3Y_im- {
    color: #c7c7c7;
}

.theme-dark .option-96V44q .answer-1n6g43, 
.theme-dark .option-96V44q strong {
    color: white;
}

.theme-dark .option-96V44q .nonText-3CRkO0 {
    color: #636363;
}

.theme-dark .resultsGroup-r_nuzN:before,
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw {
    border-top: none;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker {
    background-color: transparent;
}

.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z {
    color: #e6e6e6;
    background-color: #f4acc5 !important;
    border-radius: 5px;
}

.theme-dark .searchResult-2N9RV4.expanded-ovgtuV {
    border: none;
    background-color: rgba(0, 0, 0, .3);
}

.tab-EiCZG6, .totalResults-1yK_Ym {
    opacity: 0.6;
}


.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z:hover,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day-name,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day,
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hint-165cR4,
.icon-3cZ1F_ {
    color: white;
}

.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z:hover {
    border: 2px solid rgba(255,255,255,.3);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header {
    background-color: transparent;
    border-color: transparent;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__current-month {
    border-bottom-color: transparent;
    color: white;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day {
    border-bottom: none;
    border-left: none;
    border-top: none;
    border-right: none;
    border-radius: 10px !important;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after {
    background-color: transparent;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected {
    background-color: rgba(255, 255, 255, 0.14) !important;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:hover, 
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day:hover {
    background-color: rgba(0, 0, 0, 0.61);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled:hover {
    background-color: rgba(0, 0, 0, 0.71);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month {
    background-color: rgba(0, 0, 0, 0.51);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__week .react-datepicker__day:last-of-type {
    border-right-color: transparent;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--next, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--previous {
    border: none;
}

.theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3 {
    background-color: #f4acc5;
}

.theme-dark .edited-3sfAzf,
.theme-dark .operations-36ENbA,
.cozy-3raOZG .timestamp-3ZCmNB {
    color: white;
} 

.theme-dark .searchHeader-1EzJGH {
    background-color: transparent;
    box-shadow: none;
    color: white;
}

.theme-dark .searchResultsWrap-3-pOjs {
    background: linear-gradient(135deg, #f4acc5 0%, #000000 100%);
} 

.theme-dark .channelSeparator-dTqJ4K:before {
    border-color: transparent;
}

.theme-dark .channelSeparator-1X1FuH .channelName-wvgELL {
    background-color: transparent;
    border: 2px solid black;
    padding: 12px;
    border-bottom: none;
}

.theme-dark .searchResult-2N9RV4:before,
.theme-dark .searchResult-2N9RV4:after {
    background-image: none;
}

.theme-dark .searchResult-2N9RV4 .searchResultMessage-30QnSN.hit-1CXhXT {
    border: none;
}

.theme-dark .searchResult-2N9RV4 .hit-NLlWXA {
    background-color: rgba(0, 0, 0, 0.39);
    box-shadow: none;
    opacity: 0.7;
}

.theme-dark .searchResult-2N9RV4.expanded-ovgtuV .searchResultMessage-30QnSN.hit-1CXhXT {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: black;
    opacity: 1;
}

.divider-JfaTT5 {
    border: none;
}

#app-mount .content-1o0f9g {
    color: white;
    background-color: rgba(255,255,255,.082);
    padding: 4px 7px;
}

#app-mount .isUnread-3Ef-o9 .content-1o0f9g {
    color: white;
    background-color: #f4acc5;
    padding: 4px 7px;
}

.reaction-1hd86g {
    border-radius: 8px;
    background: rgba(255,255,255,.1);
    padding: 2px;
}

.reaction-1hd86g.reactionMe-wv5HKu {
    background-color: rgba(13, 155, 22, 0.3);
}

.reactionMe-wv5HKu .reactionCount-2mvXRV, .reactionMe-23mbRf:hover .reactionCount-2mvXRV {
    color: rgb(13, 155, 22);
}

.botTagRegular-2HEhHi,
.botTagInvert-18-95s {
    background: #f4acc5;
    color: #fff;
    padding: 3px;
    text-shadow: 0 0 5px black,0 0 5px black,2px 0 5px black;
}

.button-14-BFJ {
    margin-right: 3px;
    background-color: rgba(255,255,255,.089);
}

.markup-2BOw-j,
.cozy-3raOZG .header-23xsNx {
    color: white;
    text-shadow: 0 0 5px black,0 0 5px black,2px 0 5px black,
    2px 0 5px black,2px 0 5px black;
}

.lowMotionItem-1DvHia,
.wanderingCubesItem-WPXqao {
    background-color: #5eadea;
    width: 14px;
    border-radius: 10px;
    height: 14px;
}

.mediaBarGrabber-1FqnbN, 
.mediaBarProgress-1xaPtl, 
.mediaBarProgress-1xaPtl:after, 
.mediaBarProgress-1xaPtl:before,
.mediaBarInteraction-37i2O4:hover .mediaBarGrabber-1FqnbN {
    background-color: #5eadea;
}

.progress-3Rbvu0[style*="background-color: rgb(233, 231, 231);"] {
    background-color: transparent !important;
}

.small-1CUeBa[style*="background-color: rgb(114, 137, 218);"] {
    background-color:  #5eadea !important; 
}

.theme-dark .attachment-33OFj0,
.theme-dark .embedFull-2tM8--,
.theme-dark .wrapperAudio-1jDe0Q {
    border-color: transparent;
    background-color: rgba(0,0,0,0.3);
}

.zalgo-jN1Ica .messageContent-2qWWxC,
.zalgo-jN1Ica.cozy-3raOZG .header-23xsNx {
    overflow: visible;
}


.channelTextArea-rNsIhG,
.dividerEnabled-2TTlcf,
.form-2fGMdU {
    border: none;
}

.auto-Ge5KZx::-webkit-scrollbar-thumb {
    background-color: black;
    border-color: transparent;
}

.attachWrapper-2TRKBi {
	border: none;
}


.theme-dark .inner-zqa7da {
    background-color: transparent;
}
  
.scrollableContainer-2NUZem {
    background: linear-gradient(to right, rgba(244, 172, 197, 0.44) 0%, rgba(0, 0, 0, 0.25) 100%);
}

.channelTextArea-rNsIhG {
    background: none;
}

.uploadArea-3QgLtW {
    background: rgba(0,0,0,.8);
}

.uploadArea-3QgLtW .uploadDropModal-2kTwbc .bgScale-1otPtc {
    background: radial-gradient(ellipse at center, #f4acc5 0%, #000000 100%);
    border: none;
}

.uploadArea-3QgLtW .uploadDropModal-2kTwbc .inner-3nWsbo {
    border: none;
}

.theme-dark .uploadModal-2ifh8j .footer-3mqk7D {
    background-color: transparent;
    padding: 13px;
}

.theme-dark .uploadModal-2ifh8j .inner-3nWsbo {
    border: none;
}

.theme-dark .uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
    border: none;
    border-radius: 30px;
}
  
.lookInverted-2D7oAl.colorBrand-3pXr91 {
    color: white;
    background-color: transparent;
    border: 2px solid #4570e6;
}

.lookInverted-2D7oAl.colorBrand-3pXr91:hover {
    color: white;
    background-color: #4570e6;
}

.lookInverted-2D7oAl.colorGreen-29iAKY {
    color: white;
    background-color: transparent;
    border: 2px solid #147b38;
}

.lookInverted-2D7oAl.colorGreen-29iAKY:hover {
    color: white;
    background-color: #127635;
}

.liveRed-lUmv1v {
    background-color: #f4acc5 !important;
}

.userPopout-3XzG_A {
    box-shadow: none;
    border-radius: 25px;
    background-size: cover;
    background: url(https://mfiles.alphacoders.com/785/785716.jpg) 10%/cover;;
}

.popout-2iWAc- {
    box-shadow: none;
}

.headerPlaying-j0WQBV{
    background: rgba(46, 77, 162, 0.68);
}

.topSectionPlaying-1J5E4n {
    background: rgba(46, 77, 162, 0.5);
}

.headerSpotify-zpWxgT,
.headerXbox-3G-4PF {
    background: rgba(18, 96, 45, 0.598);
}
.topSectionXbox-3fWLjS,
.topSectionSpotify-1lI0-P {
    background: rgba(18, 96, 45, 0.65);
}

.headerStreaming-2FjmGz {
    background: rgba(65, 20, 113, 0.782);
}

.topSectionStreaming-1Tpf5X {
    background: rgba(65, 20, 113, 0.80);
}

.theme-dark .headerNormal-T_seeN {
    background-color: rgba(30, 31, 110, 0.78);
}

.topSectionNormal-2-vo2m {
    background-color: rgba(30, 31, 110, 0.60);
}

.root-SR8cQa {
    border-radius: 12px;
    background: url(https://images7.alphacoders.com/739/739983.jpg) 10%/cover;
}

.theme-dark .body-3iLsc4,
.theme-dark .bodyInner-245q0L, 
.theme-dark .footer-1fjuF6 {
    background-color: rgba(0, 0, 0, 0.47);
    color: white;
}

.theme-dark .footer-1fjuF6 {
    background-color: rgba(0, 0, 0, 0.67);
}

.body-3ND3kc {
    background-color: rgba(0, 0, 0, 0.69);
}

.theme-dark .footer-1fjuF6 {
    border-color: transparent;
}

.bodyTitle-Y0qMQz,
.userInfoSectionHeader-CBvMDh {
    font-weight: 400;
    text-transform: capitalize;
    color: silver;
}

.note-3kmerW textarea:focus {
    background-color: rgba(255,255,255,.094);
}

.note-3HfJZ5 textarea,
.note-QfFU8y textarea {
    border-radius: 7px;
}

.note-3kmerW textarea {
    resize: none;
    border: none;
    font-size: 12px;
    line-height: 4px;
    padding: 9px 7px;
    width: 100%;
    color: white;
}


.theme-dark .quickMessage-1yeL4E {
    background-color: rgba(36, 37, 38, 0.78);
    border-color: transparent;
    color: white;
}

.quickMessage-2XpSaN {
    border-radius: 7px;
}

.theme-dark .actionButton-VzECiy {
    border-color: #4f545c;
    color: white;
    background: #4f545c;
}


.theme-dark .container-VSDcQc .sectionTag-pXyto9 {
    background-color: black;
    color: white;
}

.protip-YaFfgO {
    display: none;
}

.tabBarContainer-1s1u-z {
    border-top: none;
}

.userInfoSection-2acyCx+.userInfoSection-2acyCx {
    border-top: none;
}

.connectedAccounts-repVzS {
    margin-top: -40px;
}

.connectedAccount-36nQx7 {
    border-radius: 12px;
    border: 2px solid black;
}
.connectedAccount-36nQx7 {
    background-color: rgba(0, 0, 0, 0.32);
}

.listRow-hutiT_ {
    color: white;
    border-radius: 11px;
    margin: 1px 0 12px 12px;
}

.listRow-hutiT_:hover {
    background-color: rgba(244, 172, 197, 0.408);
    border: 1px solid rgba(244, 172, 197, 0.76);
}

.members-1998pB {
    width: 240px;
    background-color: rgba(0, 0, 0, 0.33);
}

.members-1998pB>div {
    background-color: transparent;
}

.activity-E-0FeD {
    color: white;
}


.theme-dark .description-2QALGo {
    color: white;
}

.theme-dark .autocomplete-1vrmpx {
    background: linear-gradient(135deg, #f4acc5 0%, rgba(0, 0, 0, 0.77) 100%);
}

.mentioned-xhSam7:before {
    display: none;
}

.theme-dark .mentioned-xhSam7,
.message-2qnXI6.mentioned-xhSam7.selected-2P5D_Z, 
.mouse-mode.full-motion .mentioned-xhSam7:hover {
    background: rgba(244, 172, 197, 0.42);
    border: 2px solid #f4acc5;
}

.mentioned-xhSam7 {
    border-radius: 5px;
}

.mentioned-xhSam7 {
    padding: .2rem .2rem;
    margin: .2rem .1rem;
}

.theme-dark .mentioned-xhSam7 .mention {
    background: rgba(255,255,255, 0.122)!important;
    padding: .2rem .2rem;
    color: white !important;
    border: 2px solid rgba(255, 255, 255, 0.25);
}

.theme-dark .wrapper-3WhCwL {
    color: white !important;
    background-color: rgba(244, 172, 197,0.36);
    padding: .1rem .4rem;
    font-weight: 400;
    border: 2px solid rgba(255, 255, 255, 0.25);
}

.theme-dark .wrapper-3WhCwL:hover {
    background-color: rgba(244, 172, 197,0.56);
    border: 2px solid rgba(255, 255, 255, 0.25);
}


.markup-2BOw-j code {
    font-size: 0.975rem;
    border: none;
    background: linear-gradient(135deg, rgba(244, 172, 197, 0.51) 0%, rgba(0, 0, 0, 0.77) 100%);
}

.detailsBlock-FoDTGA {
    background: none;
}


.hljs {
    padding: .5em;
    color: white;
}

.markup-2BOw-j pre {
    border: none;
    background: none;
}

.markup-2BOw-j code.inline {
    padding: .5em;
}


.theme-dark .wrapper-2qzCYF {
    background-color: rgba(0, 0, 0, 0.26);
}

.status-1WEaea.voice-3bPYC- {
    background-color: #f4acc5;
}

.theme-dark .quickSelectPopoutOption-opKBx9 {
    background: black;
    color: white;
}

.theme-dark .quickSelectPopoutOption-opKBx9:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.timestamp-1E3uAL,
.container-3-pyIM,
.cozy-3raOZG .timestamp-3ZCmNB.alt-1uNpEt {
    color: white;
}

/* Emote Section */

.navButtonActive-1MkytQ {
    background: rgba(0, 0, 0, 0.79);
    border-left: none;
    box-shadow: none;
}

.wrapper-2Gsate {
    background: none;
}


.navButtonActive-1MkytQ:hover {
    background-color: #f4acc5;
}

.navButtonActive-1MkytQ.active {
    background-color: #f4acc5 !important;
    border: 2px solid rgba(255, 255, 255, 0.15);
}

.contentWrapper-SvZHNd, .emojiPicker-3PwZFl {
    background: linear-gradient(135deg, #f4acc5 0%, #000000 100%);
}

.inspector-sdLnLS {
    background: none;
}


.emojiPicker-3PwZFl .header-8ilj5e {
    border: none;
    box-shadow: none;
}

.emojiPicker-3PwZFl .header-8ilj5e .searchBar-2pWH0_ {
    background-color: transparent;
}

.contentWrapper-SvZHNd .diversitySelectorPopout-3FiGaM {
    background: transparent;
    border-color: transparent;
}

.wrapper-1-Fsb8 {
    background-color: transparent;
}

.colorDefault-2K3EoJ .checkbox-3s5GYZ, 
.colorDefault-2K3EoJ .radioSelection-1HmrQS {
  color: rgba(0, 0, 0, .26) !important;
}

.colorDefault-2K3EoJ.focused-3afm-j .check-1JyqgN {
  color: white;
}



.categoryItemDefaultCategorySelected-_HCKoz, .categoryItemDefaultCategorySelected-_HCKoz:hover {
    border-bottom-color: white;
    border-bottom-width: 3px;
    border-style: solid;
    background: none;
}

/* -- */

/* Fills Whole Icon */
.clickable-3rdHwn foreignObject[mask] {
    mask: none;
}

.iconBadge-qZ4Ksk {
    position: absolute;
    right: 2px;
    bottom: 1px;
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background-color: #f4acc5;
    border: 1px solid rgba(255, 255, 255, 0.41);
}
/* -- */

.theme-dark .guildName-1Bc3Ta,
.colorDefault-2K3EoJ {
    color: rgb(222, 222, 222);
}

.bg-h5JY_x {
    background-color: transparent;
  }
/* Main Color */
.color-primary {color:#f4acc5  rgba(244, 172, 197, 1.0)}
/* Main Color */ 

.unreadPill-2HyYtt {
    border-radius: 0;
    color: #fff;
    background-color: #f4acc5;
}
  
.unreadPillCapStroke-7rkHbg {
    color: #f4acc5;
    fill: #f4acc5;
}
  
.theme-dark .form-2fGMdU:before,
.separator-42rNt0 {
    background: none;}
  
.icon-KgGMGo,
.button-1ZiXG9 {
    color: white;
}
  
.divider-24xeUg {
    border: none;
}
  
  
.toolbar-2bjZV7:before {
    border-top: 8px solid #f4acc5;
}
  
.toolbar-2bjZV7 {
    background-color: #f4acc5;
    border-radius: 0;
    box-shadow: none;
}
  
.wrapper-2aW0bm {
    background-color: #f4acc5;
    border-radius: 0;
}
  
.button-1ZiXG9:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
}
  
  
.reactionBtn-3N03Zj {
    visibility: visible;
    color: white;
    height: 1.7rem;
    width: 1.7rem;
    margin-left: 6px;
}

.akaBadge-1M-1Gw {
    background-color: #f4acc5;
    color: white;
}