//META{"name":"Kemono_Friends","description":"Enjoy the Wildlife Full of Animals","author":"DevilsLynAvenged","version":"1"}*//{}
#app-mount {
    background-image: url(https://www.wallpaperup.com/uploads/wallpapers/2017/10/15/1109504/4b10f71dbbde2f4434bfd71d045ec716.jpg);
    background-size: cover;
}
/* fix not having a background image anymore */
.layers-3iHuyZ, .layer-3QrUeG, .container-2lgZY8, .typing-2GQL18 {
  background: transparent !important;
}
/* optionally adjust background brightness (0: original image, 1: black) */
.layers-3iHuyZ {
  background: rgba(0,0,0,0.1) !important;
}
.theme-dark .headerBar-UHpsPw,
.searchBar-6Kv8R2 {
    box-shadow: none;
}
.theme-dark .chat-3bRxxu form {
   margin-right: -1px;
   margin-left: -1px;
}
.flex-spacer,
.theme-dark .messagesWrapper-3lZDfY,
.theme-dark .chat-3bRxxu form,
.theme-dark .content-yTz4x3,
.theme-dark .chat-3bRxxu {
    background: rgba(0,0,0,0.2) !important;
}
.container-2lgZY8,
.theme-dark .chat-3bRxxu form,
.theme-dark .content-yTz4x3,
.theme-dark .chat-3bRxxu,
.chat .messages,
.theme-dark .friends-table,
.theme-dark .headerBar-UHpsPw,
.theme-dark .standardSidebarView-3F1I7i,
.theme-dark .attachButtonDivider-3Glu60 {
    background-color: transparent;
}
.theme-dark .contentRegion-3nDuYy,
.theme-dark .sidebarRegion-VFTUkN {
    background: rgba(0,0,0,0.4);
}
.flex-horizontal>.flex-spacer,
.theme-dark .title-3qD0b-,
.theme-dark .members-1998pB,
.theme-dark .guildsWrapper-5TJh6A,
.typeMacOS-3EmCyP,
.theme-dark .container-3gCOGc {
    background: rgba(0,0,0,0.6);
}
.channels-Ie2l6A {
    background: rgba(0,0,0,0.6);
}
.container-PNkimc {
   background: rgba(0,0,0,0.1);
}
/* Search Popout */
.theme-dark .container-3ayLPN {
    background-color: #174C3E !important;
    border: none;
    box-shadow: none;
}
.theme-dark .resultsGroup-r_nuzN:before {
    border-top: none;
}
.theme-dark .option-96V44q.selected-rZcOL-:not(.focused-2bY0OD) {
    background-color: #248367;
    margin-left: 17px;
}
.theme-dark .queryContainer-RKFJW- {
    border-bottom-color: transparent;
    color: white
}
.theme-dark .option-96V44q {
    transition: margin-left .2s;
}
.theme-dark .option-96V44q:after, .theme-dark .option-96V44q.selected-rZcOL-:before, 
.theme-dark .option-96V44q.selected-rZcOL-:after {
    background: transparent;
}
.theme-dark .searchOption-zQ-1l6 .filter-3Y_im-,
.theme-dark .option-96V44q .filter-3Y_im- {
    color: white;
    border-bottom: 1px solid #A4DC28;
    line-height: 23px;
    text-transform: capitalize;
}
.theme-dark .searchOption-zQ-1l6 .answer-1n6g43 {
    color: white;
    border-bottom: 2px solid #F77923;
    padding: 3px 3px;
}
.theme-dark .option-96V44q .nonText-3CRkO0 {
    color: black;
}
.theme-dark .option-96V44q strong {
    color: white;
}
.theme-dark .resultsGroup-r_nuzN .header-2N-gMV {
    color: white;
    text-transform: capitalize;
}
.theme-dark .option-96V44q.user-O3Czj0 .displayedNick-3xxvzU {
    color: silver;
    border-right: 1px solid white;
    padding: 0 3px;
}
.theme-dark .option-96V44q.user-O3Czj0 .displayUsername-Qekxml {
    color: white !important;
    border-bottom: 2px solid #F77923;
    line-height: 23px;
}
.theme-dark .focused-2bY0OD {
    background-color: #248367;
}
.theme-dark .searchResultChannelCategory-1l0lSn, 
.theme-dark .searchResultChannelIcon-1DnTme {
    color: silver;
}
.theme-dark .keybindShortcut-1BD6Z1 span {
    background-color: #B6A37C;
    border: none;
    box-shadow: none;
    color: white;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__current-month {
    border-bottom-color: transparent;
    color: white;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day-name {
    color: white;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker {
      background-color: #174C3E;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header {
    background-color: #174C3E;
    border-color: transparent;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled {
    background-color: #133436;
    color: rgba(247, 247, 248, 0.3);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled:hover ,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month:hover {
     background-color: rgba(255,0,0,0.7) !important;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month {
    background-color: black;
    color: rgba(247, 247, 248, 0.3);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__week:last-of-type .react-datepicker__day,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__week .react-datepicker__day:last-of-type {
    border: none;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day {
    color: white;
    border: none;
}
.calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected {
    background-color: #94675E;
    border-radius: 0;
}
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw {
    border-top: none;
}
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z {
    background-color: #174C3E;
    transition: background-color .5s;
    color: #fff;
}
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z:hover {
    background-color: #248367;
    color: #fff;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:hover {
    background-color: #A18A69;
    color: #fff;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day:hover {
    background-color: #B6A37C;
    color: #fff;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after {
    background-color: transparent;
}
.theme-dark .searchAnswer-3Dz2-q, 
.theme-dark .searchFilter-2ESiM3 {
    background-color: #174C3E;
}
.theme-dark .searchBar-2_Yu-C {
    background-color: rgba(23,76,62, 0.4);
}
/* ---------- */
/* Main Chat */
.avatarSpeaking-1wJCNq {
    box-shadow: none;
    border: 4px solid #174C3E;
}
.theme-dark .item-2J1YMK:active, 
.theme-dark .item-2J1YMK:hover {
    background-color: rgba(0,0,0,0.23);
    color: #fff;
}
.noticeInfo-3_iTE1 {
    background-color: #174C3E;
    color: #fff;
}
/* Unread Mention Bar that you can edit height and border-radius */
.unreadMentionsIndicatorTop-gA6RCh .unreadMentionsBar-1VrBNe {
    box-shadow: none;
    height: 50px;
}
.unreadMentionsIndicatorBottom-BXS58x .unreadMentionsBar-1VrBNe {
    box-shadow: none;
    height: 50px;
}
.unreadMentionsIndicatorBottom-BXS58x, 
.unreadMentionsIndicatorTop-gA6RCh {
    overflow: visible;
}
.unreadMentionsIndicatorBottom-BXS58x {
    overflow: visible;
    height: 50px;
}
.unreadMentionsIndicatorTop-gA6RCh {
    overflow: visible;
    height: 50px;
}
/* -------- */
.mention-1f5kbO {
    background-color: rgba(23,76,62,.9);
    border-radius: 50%;
    color: transparent;
     border: 1px solid transparent;
     animation: border 1.25s infinite ease;
}
.mention-1f5kbO:hover {
     animation: none;
     background-color: rgba(41,137,112,.9);
}
.unread-1xRYoj {
    background-color: rgba(23,76,62,.9);
}
/* For Mention Bar */
@keyframes border {
  0% {
    border: 1px solid #00FF00;
  }
  70% {
      border: 1px solid transparent;
  }
  100% {
      border: 1px solid #00FF00;
  }
}
/* ----- */
.icon-2aINcz {
    color: #fff;
    height: 32px;
    margin-left: 4px;
    width: 32px;
    position: relative;
     left: -13px;
}
.unreadBar-3YD_k9 {
    display: none;
}
.badge-1GsMF2 {
    padding: 7px 10px;
    border-radius: 4px;
 }
 .theme-dark .guild-1EfMGQ.unread-qLkInr:before {
    background: rgba(255,255,255,.33);
}
.theme-dark .guild-1EfMGQ.unread-qLkInr:before {
    border-radius: 50px;
}

.theme-dark .guild-1EfMGQ .guildInner-3DSoA4 {
    background-color: transparent !important;
    border-radius: 50px !important;
    transition: background .5s;
}
.theme-dark .guild-1EfMGQ .guildInner-3DSoA4:hover {
    background: #174C3E !important;
}
.wrapper-232cHJ.betterfriendcount-badge {
   margin-top: -10px;
}
.badge,
.wrapper-232cHJ {
    background-color: #174C3E;
    border-radius: 50px;
    box-shadow: none;
    color: #fff;
    padding: 6px 10px;
    text-shadow: 0 0 2px rgba(0,0,0,1), 0 0 2px rgba(0,0,0,1);
}
.downloadLink-1ywL9o {
    top: 13px;
    position: relative;
}
.unread-1Dp-OI {
    display: none;
}
.name-3M0b8v {
    font-size: 12px;
    font-weight: normal;
    text-transform: capitalize;
}
.nameMutedText-3Vj4bM, 
.nameMutedVoice-3oxyQZ,
.nameLockedText-3pqQcL, 
.nameLockedVoice-26MhB1,
.nameMuted-1MCOt4{
    color: red;
}
.colorMutedText-36M8WR, 
.colorMutedVoice-3ghIuw, 
.colorLockedText-1VRkPt, 
.colorLockedVoice-2UlBjl,
.iconMuted-1HVBGH {
    color: red;
}
.icon-sxakjD,
.foreground-2W-aJk,
.background-2OVjk_ {
    opacity: 1;
}
.nameUnreadText-DfkrI4, 
.nameUnreadVoice-EVo-wI {
    margin-left: 4px;
}
.colorUnreadText-2t7XRb, 
.colorUnreadVoice-137o4S {
    color: rgb(23, 213, 47);
}
.contentUnreadText-2vNnZc, 
.contentUnreadVoice-1dijOt {
    padding-top: 3px;
    padding-bottom: 3px;
}
.contentHoveredText-2D9B-x,
.contentHoveredVoice-3p_NEO {
    background-color: rgba(23, 213, 47,0.16);
    margin-left: 16px;
    padding-top: 5px;
    padding-bottom: 9px;
}
.contentHoveredVoice-3p_NEO:active, 
.contentSelectedVoice-1WDIBM:active {
    background-color: rgba(23, 213, 47,0.36);
}
.nameSelectedText-sp_EUw, 
.nameSelectedVoice-1qSph5 {
   margin-left: 5px;
}
.contentSelectedText-3wUhMi {
    background-color: rgba(23, 213, 47,0.36);
    padding-top: 5px;
    padding-bottom: 9px;
}
.content-20Aix8 {
    border-radius: 7px;
    overflow: visible;
    transition: margin-left .2s, background-color .2s;
}
.messageGroupCozy-2iY6cT .avatar-17mtNa .large-3ChYtB {
    margin-left: -7px;
    margin-top: -7px;
}
.theme-dark .guildsError-3cFMtY:hover {
    background-color: #174C3E;
}
.theme-dark .guildsError-3cFMtY {
    background: rgba(0,0,0,0.2);
    border: 2px solid #174C3E;
    border-radius: 50%;
    font-weight: 400;
}
.theme-dark .guildsAdd-21_IdK:hover {
    background: rgba(23,76,62,1);
    border: 2px dashed rgba(41,137,112,1);
}
.theme-dark .guildsAdd-21_IdK {
    background: rgba(23,76,62,.5);
    border: 2px dashed rgba(41,137,112,1);
    border-radius: 50%;
    color: white !important;
    font-weight: 400;
}
.container-1UB9sr {
    background: rgba(32,34,37,.3);
    border-bottom: none;
}
.avatarDefault-35WC3R, 
.avatarSpeaking-1wJCNq {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.userDefault-1qtQob, .userHovered-2_fT4Z {
    margin-top: 7px;
    padding: 0;
}
.icon-29PTzq,
.icon-3nr6O- {
    fill: #fff;
    opacity: 1;
}
.iconCollapsed-3hFp_8, 
.iconDefault-3Gr8d2, 
.nameCollapsed-34uFWo, 
.nameDefault-2DI02H {
    color: silver;
}
.theme-dark .iconBadge-2dji3k {
    background-color: #174C3E;
    border: 2px solid black;
}
.nameCollapsed-34uFWo, 
.nameDefault-2DI02H, 
.nameHovered-1gxhWH, 
.nameHoveredCollapsed-2orEWB, 
.nameMuted-1MCOt4, 
.nameUnread-njOjIS {
    font-size: 10px;
    font-weight: normal;
    text-transform: capitalize;
}
.iconHovered-2L3-fB, 
.iconHoveredCollapsed-3caIIZ, 
.nameHovered-1gxhWH, 
.nameHoveredCollapsed-2orEWB {
    color: white;
}
.header-2o-2hj:hover {
    background-color: rgba(0,0,0,.5);
}
.popout-open .header-2o-2hj {
    background-color: rgba(23,76,62,.7);
}
.theme-dark .menu-Sp6bN1 {
    background: #174C3E;
    box-shadow: none;
    border-radius: 0; 
}
.theme-dark .separator-2zcjq8 {
    border-bottom-color: transparent;
}
.icon-2doZ3q {
    display: none;
}
.theme-dark .item-1GzJrl:hover {
    background-color: #248367;
    color: #fff;
}
.theme-dark .textArea-2Spzkt {
    color: white;
}

.theme-dark .inner-zqa7da {
   background: rgba(0,0,0,0.4);
   border-radius: 0; 
}
.innerNoAutocomplete-1WpcVO {
    border-radius: 0;
}
::-webkit-input-placeholder {
   color: white !important;
}
.theme-dark .alt-3btY0e .helper-2c73HK {
    display: none;
}
.item-1GzJrl .status-3fQvEa {
    height: 40px;
    transform: rotate(90deg); 
    left: -22px;
    position: relative;
    border-radius: 0; 
}
.alt-3btY0e .item-1GzJrl .statusIconText-3b4TkH {
    position: relative;
    right: -42px;
}
.theme-dark .dividerEnabled-2TTlcf {
    border-bottom-color: transparent;
}
.theme-dark .divider-3gKybi:before {
    background-color: transparent;
}
.theme-dark .friends-table .messages .divider.divider-red>div, 
.theme-dark .messagesWrapper-3lZDfY .messages .divider.divider-red>div {
    background: transparent;
}


.theme-dark .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI:after, .theme-dark .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI:before,
.theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:after, .theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:before {
   border-color: transparent;
}


/* Customized Spans */
.theme-dark .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI, .theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI {
    color: rgba(255,255,255,0.32);
    background-color: rgba(255,255,255,0.2);
    border-radius: 0;
    padding: 4pt 12rem;
}
.theme-dark .friends-table .messages .divider.divider-red>span,
.theme-dark .messagesWrapper-3lZDfY .messages .divider.divider-red>span {
    color: white;
    background-color: #174C3E;
    border-radius: 0;
    padding: 4pt 12rem;
}
/* ----- */
.tooltip-1OS-Ti.red-m6f4-H {
    background-color: rgba(7,6,5,0.5);
    color: white;
   border-radius: 0;
}
.tooltip-1OS-Ti.black-2bmmnj {
    background-color: #174C3E;
    color: white;
    border: none;
    border-radius: 0;
}
.tooltip-1OS-Ti.red-m6f4-H.right-KM_vfY:after {
    border-right: none;
}
.tooltip-1OS-Ti.black-2bmmnj.top-1pTh1F:after {
    border-top: none;
}
.tooltip-1OS-Ti.black-2bmmnj.right-KM_vfY:after {
    border-right: none;
}
.tooltip-1OS-Ti.black-2bmmnj.bottom-19kp6S:after {
    border-bottom: none;
}
.tooltip-1OS-Ti.black-2bmmnj.left-1wV7VO:after {
    border-left: none;
}
.progress-2XXRYo,
.progressBar-3u8FBM.small-1CUeBa,
.progressBar-3u8FBM.large-3EPlRk,
.mediaBarGrabber-1FqnbN, 
.mediaBarProgress-1xaPtl, 
.mediaBarProgress-1xaPtl:after, 
.mediaBarProgress-1xaPtl:before {
    background-color: #174C3E !important;
}
.video-1FfuMD,
.theme-dark .private-channel-call {
    background-color: rgba(0,0,0,0.4);
}
.spinner-wandering-cubes-1eyF3t,
.wanderingCubesItem-WPXqao,
.spinner-wandering-cubes .spinner-item {
    background-color: #174C3E;
}
.theme-dark .callAvatar-v-u4BM.voice-2D-tt_ 
.callAvatarStatus-3y6S04 {
    border-color: black;
    background-color: #174C3E;
    border-radius: 0;
}
.callAvatarBorder-1D_KaE.voice-2D-tt_.speaking-oCqYMI,
.callAvatarBorder-1D_KaE.video-3GgX2M.speaking-oCqYMI {
    border-radius: 0;
    box-shadow: inset 0 0 0 3px #174C3E;
}
.lookFilled-1Gx00P.colorRed-1TFJan,
.lookOutlined-3sRXeN.colorRed-1TFJan,
[class*="itemDefault-3Jdr52 item-PXvHYJ notSelected-1N1G5p"][style*="color: rgb(240, 71, 71);"] {
    background-color: rgba(255,0,0,0.23) !important;
    color: #fff !important;
    border: 1px solid red;
    border-radius: 0;
}
.lookFilled-1Gx00P.colorRed-1TFJan:hover,
.lookOutlined-3sRXeN.colorRed-1TFJan:hover,
[class="itemDefault-3Jdr52 item-PXvHYJ notSelected-1N1G5p"][style="color: rgb(240, 71, 71); background-color: rgba(240, 71, 71, 0.0980392);"]{
    background-color: rgba(255,0,0,0.63) !important;
    color: #fff !important;
}
[class="itemDefault-3Jdr52 item-PXvHYJ notSelected-1N1G5p"][style*="color: rgb(255, 255, 255); background-color: rgb(240, 71, 71);"] {
    background-color: rgba(255,0,0,1) !important;
    color: #fff !important;
}
.theme-dark .private-channel-call.minimum .private-channel-call-actions .center, .theme-dark .wrapper-29NfPK {
    background-color: transparent;
    border-color: transparent;
}
/* Bot Tag Locations */
.headerCozyMeta-rdohGq .botTagRegular-2HEhHi,
.nameTag-3p0yK- .botTagRegular-2HEhHi,
.botTagInvert-18-95s,
.botTag-ymWxY6 {
    background: #174C3E;
    padding: 3px 5px;
    border: 1px solid rgba(255,255,255,0.23);
    color: white;
    border-radius: 0;
}
/* ----- */
.theme-dark .timestampCozy-2hLAPV,
.theme-dark .topic-2QX7LI,
.theme-dark .reaction-1ELvT8.reactionMe-23mbRf .reactionCount-2ddRoS {
    color: white;
}
.theme-dark .markup-2BOw-j {
   left: 2px;
   position: relative;
}
.buttonContainer-KtQ8wc>* {
    z-index: 1;
}
.theme-dark .channelTextArea-rNsIhG {
    border-top: none;
}
.theme-dark .isMentioned-N-h9aa:after {
    display: none;
}
.theme-dark .isMentioned-N-h9aa {
    background: rgba(23,76,62,.51);
    border-radius: 0;
}
.theme-dark .isMentioned-N-h9aa .mention, .theme-dark .wrapper-3WhCwL,
.mentioned .mention {
    background-color: black !important;
    color: white;
}
.theme-dark .isMentioned-N-h9aa .mention:hover, .theme-dark .wrapper-3WhCwL:hover,
.mentioned .mention:hover {
    border: 1px solid #174C3E;
    background-color: black !important;
    color: white !important;
}
.theme-dark .topic-2QX7LI a,
.theme-dark .message-group a,
.theme-dark .embedTitleLink-1Zla9e,
.theme-dark .welcomeMessage-3_Mcht a,
.anchor-3Z-8Bb,
a,
.lookLink-9FtZy-.colorLink-35jkBc {
    color: #F3D031 !important;
}
.theme-dark .container-3cGP6G {
    background: #174C3E;
    border: none;
    border-radius: 0;
}
.theme-dark .item-2J1YMK {
    color: white !important;
}
.theme-dark .reaction-1ELvT8 {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 0;
    border: 1px outset rgba(255, 255, 255, 0.18);
}
.theme-dark .reaction-1ELvT8.reactionMe-23mbRf {
    background: rgba(23,76,62,.5);
    border: 1px outset rgba(23,76,62, 0.58);
}
.reaction .emoji {
    height: 2.04rem;
    width: 2.04rem;
}
#app-mount .welcomeMessage-3_Mcht h1 {
   background-color: #174C3E;
   color: white;
   padding: 8px;
}
.wrapper-2NJDcI {
    background-color: #174C3E;
    border-radius: 0;
    color: white;
    font-family: WeblySleek UI;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    padding: 0 4px;
}
.theme-dark .markup-2BOw-j code.inline,
.theme-dark .markup-2BOw-j pre code {
    background: rgba(0,0,0,0.2);
    line-height: 19px;
}
.theme-dark .markup-2BOw-j pre {
    background: transparent;
    border-color: transparent;
}
.welcomeMessage-3_Mcht p {
    color: white; 
    font-size: 13px;
}
/* List of .hljs stuff */
.theme-dark .hljs {
    color: white;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
.theme-dark .hljs-comment,
.theme-dark .hljs-quote {
  color: #689509;
}

.theme-dark .hljs-keyword,
.theme-dark .hljs-selector-tag,
.theme-dark .hljs-section,
.theme-dark .hljs-title,
.theme-dark .hljs-name {
  color: #DA1E63;
}

.theme-dark .hljs-variable,
.theme-dark .hljs-template-variable {
  color: #A8CE8F;
}

.theme-dark .hljs-string,
.theme-dark .hljs-selector-attr,
.theme-dark .hljs-selector-pseudo,
.theme-dark .hljs-regexp {
  color: #30849B;
}

.theme-dark .hljs-literal,
.theme-dark .hljs-symbol,
.theme-dark .hljs-bullet,
.theme-dark .hljs-meta,
.theme-dark .hljs-number,
.theme-dark .hljs-link {
  color: #E32C1C;
}

.theme-dark .hljs-title,
.theme-dark .hljs-doctag,
.theme-dark .hljs-type,
.theme-dark .hljs-attr,
.theme-dark .hljs-built_in,
.theme-dark .hljs-builtin-name,
.theme-dark .hljs-params {
  color: #F5B65E;
}

.theme-dark .hljs-attribute,
.theme-dark .hljs-subst {
  color: #26BBA3;
}

.theme-dark .hljs-formula {
  background-color: #eee;
  font-style: italic;
}

.theme-dark .hljs-selector-id,
.theme-dark .hljs-selector-class {
  color: #9B703F;
}

.theme-dark .hljs-addition {
  background-color: #30864C;
}

.theme-dark .hljs-deletion {
  background-color: #FD0B78;
}

.hljs-doctag,
.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}
/* ----- */
.theme-dark .headerCozyMeta-rdohGq {
    margin-left: 2px;
}
.avatar-17mtNa .large-3ChYtB {
    width: 63px;
    height: 63px;
    margin-left: -15px;
    background-size: cover;
    opacity: 1 !important;
}
/* Shades of black colors */ 
[class="user-name"][style*="color: rgb(0, 0, 0);"],
[class="user-name"][style*="color: rgb(25,25,25);"],
[class="user-name"][style*="color: rgb(38,38,38);"],
[class="user-name"][style*="color: rgb(12,12,12);"],
[class="user-name"][style*="color: rgb(3,3,3);"],
[class="user-name"][style*="color: rgb(5, 5, 5);"],
[class="user-name"][style*="color: rgb(8, 8, 8);"],
[class="user-name"][style*="color: rgb(10,10,10);"],
[class="user-name"][style*="color: rgb(13,13,13);"],
[class="user-name"][style*="color: rgb(14,14,14);"],
[class="user-name"][style*="color: rgb(17,17,17);"],
[class="user-name"][style*="color: rgb(26,26,26);"],
[class="user-name"][style*="color: rgb(28,28,28);"],
[class="user-name"][style*="color: rgb(31,31,31);"],
[class="user-name"][style*="color: rgb(33,33,33);"],
[class="user-name"][style*="color: rgb(36,36,36);"],
[class="user-name"][style*="color: rgb(41, 9, 9);"],
[class="user-name"][style*="color: rgb(7, 7, 7);"],
[class="user-name"][style*="color: rgb(0, 0, 1);"],
[class="user-name"][style*="color: rgb(0, 0, 2);"],
[class="user-name"][style*="color: rgb(8, 0, 0);"] {
   text-shadow: 0 0 4px white, 0 0 4px white;
}
/* ----- */
.newMessagesBar-mujexs,
.theme-dark .jumpToPresentBar-9P20AM {
    background-color: #174C3E;
    border-radius: 0;
}
.newMessagesBar-mujexs:hover,
.theme-dark .jumpToPresentBar-9P20AM:hover {
    background-color: #248367;
}
.newMessagesBar-mujexs button,
.newMessagesBar-mujexs button:last-child,
.chat .jump-to-present-bar button,
.chat .jump-to-present-bar button:last-child,
.theme-brand .contentTitle-2tG_sM strong {
    color: #fff !important;
}
.theme-dark .hasMore-3e72_v button {
    background: #174C3E;
    border: 1px solid black;
    color: white;
    border-radius: 0; 
}
.theme-dark .autocomplete-1vrmpx {
    background-color: #174C3E;
    border-radius: 0; 
}
.theme-dark .selectorSelected-1_M1WV {
    background-color: #248367;
    transition: margin-left .2s;
    margin-left: 12px;
    border-radius: 0; 
}
.theme-dark .guildSeparator-1X4GQ1:after {
    background: transparent;
}
.theme-dark .contentTitle-2tG_sM,
.theme-dark .description-11DmNu, 
.theme-dark .descriptionUsername-J_75O8,
.marginLeft4-3VaXdt,
.marginLeft8-1YseBe,
.theme-dark .friendsOnline-_wi_fM, .theme-light .friendsOnline-_wi_fM {
    color: white;
}
.theme-dark .iconForeground-1w5n7R {
    fill: white;
}
.theme-dark .descriptionDiscriminator-3vUOCc {
    color: rgba(255, 255, 255, 0.6);
}
.theme-dark .divider-23swzi {
    background-color: transparent;
}
.theme-dark .edited-DL9ECl,
.theme-dark .operations-36ENbA {
    color: white;
    text-shadow: 0 0 3px black, 0 0 3px black;
}
.buttonContainer-KtQ8wc>* {
    z-index: 1;
}
/* Scrollbar Thumb and Track */
.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-thumb,
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
	background-color: #174C3E !important;
	border-color: black !important;
	border-radius: 0;
	box-shadow: 0 0 6px black, 0 0 6px black, 0 0 6px black;
}
.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-track-piece,
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
	background-color: transparent !important;
	border-color: transparent !important;
}
/* ----- */
.theme-dark .membersGroup-v9BXpm {
    color: white;
    font-size: 15px;
    padding: 10px 0;
    font-weight: 400;
    text-align: center;
    background-color: rgba(23,76,62,0.5);
    text-shadow: 0 0 4px black, 0 0 4px black;
    text-transform: capitalize;
}
.theme-dark .activity-1IYsbk {
    color: white;
}
.activity-1IYsbk strong {
    background-color: #174C3E;
    padding: 0 7px;
}
.theme-dark .member-3W1lQa:hover .content-OzHfo4 {
    background-color: #248367;
    transition: background-color .5s ease;
}
.theme-dark .member-3W1lQa.popout-open .content-OzHfo4, 
.theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4 {
    background-color: #1e725c;
    color: #fff;
}
/* ---------- */
/* Discord Settings */
.theme-dark .hoverablePayment-Yc6mK7:hover {
    background-color: rgba(0,0,0,0.23);
}
.theme-dark .paymentRow-2e7VM6 {
    border-bottom: none;
}
.theme-dark .paginator-166-09 {
    background: transparent;
}
.theme-dark .paginator-2CA79G,
.theme-dark .summaryInfo-2QFKUg {
    color: white;
}
.theme-dark .payment-xT17Mq,
.theme-dark .paymentPane-3bwJ6A {
    background-color: transparent;
    color: white;
}
.theme-dark .cardPrimary-1Hv-to,
.theme-dark .cardPrimaryEditable-3KtE4g,
.theme-dark .card-FDVird:before,
.theme-dark .bda-slist li {
    background: rgba(23,76,62,.4);
    border-color: transparent;
    border-radius: 0;
}
.lookFilled-1Gx00P.colorBrand-3pXr91,
.lookOutlined-3sRXeN.colorBrand-3pXr91,
.lookFilled-1Gx00P.colorBrand-3pXr91:disabled {
    background-color: #414AB3;
    transition: box-shadow .2s ease-in;
    border: none;
    border-radius: 0px !important;
    color: white;
}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover,
.lookOutlined-3sRXeN.colorBrand-3pXr91:hover {
    background-color: #343b8e;
    border: none;
}
.theme-dark .divider-3573oO {
    background-color: transparent;
}
.theme-dark .multiInputLast-1aQ3YA:before {
    display: none;
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
    background-color: #5E8B3C;
    border-radius: 0;
}
.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
    background-color: #517a33;
}
.userSettingsAccount-2eMFVR .userInfoViewing-16kqK3 .avatar-xxlarge,
.avatar-uploader-inner {
    border-radius: 0;
    background-color: #174C3E;
}
.avatar-uploader-indicator {
    border-radius: 0;
    box-shadow: none;
}
.avatar-uploader-inner:hover {
    box-shadow: inset 0 0 116px rgba(23,76,62,1);
}
.avatar-uploader-hint {
    font-size: 13px;
    font-weight: 200;
    line-height: 15px;
    text-transform: capitalize;
    background-color: transparent;
}
.theme-dark .input-cIJ7To:hover {
    border-color: transparent;
    background-color: rgba(0,0,0,0.2);
}
.theme-dark .input-cIJ7To {
    background-color: transparent;
    border-color: transparent;
    color: white;
    box-shadow: none;
    border-radius: 0;
}
.theme-dark .input-cIJ7To:focus {
    border-color: transparent;
    color: white;
    background-color: rgba(0,0,0,0.5);
}
.theme-dark .input-cIJ7To.focused-1mmYsC {
    border-color: transparent;
}
.statusRed-21U8Tp {
    color: #37997f;
}
.theme-dark .userSettingsAccount-2eMFVR .viewBody-2Qz-jg {
    color: white;
}
.theme-dark .faded-3bns_w {
    color: silver;
}
.theme-dark .description-3_Ncsb, 
.theme-dark .labelDescriptor-1PqHgD {
    color: white;
}
.theme-dark .header-2RyJ0Y,
.theme-dark #bd-settings-sidebar .ui-tab-bar-header {
    color: white;
    background-color: #174C3E;
    padding: 7px 0;
    text-align: center;
    font-weight: normal;
    text-transform: capitalize;
}
.theme-dark .closeButton-1tv5uR:hover {
    background-color: #248367;
}
.theme-dark .closeButton-1tv5uR {
    border-color: transparent;
    border-radius: 0; 
}
.theme-dark .closeButton-1tv5uR path[fill] {
    fill: white;
}
.theme-dark .standardSidebarView-3F1I7i .esc-text,
.theme-dark .desc-2Dttbk {
    color: white;
}
.theme-dark .checkbox-1ix_J3 {
    border-color: rgba(255,255,255,0.12);
    border-radius: 0;
}
.theme-dark .checked-3_4uQ9 {
    background-color: rgba(0,0,0,0.12) !important;
    border-color: transparent !important;
}
.theme-dark .checked-3_4uQ9[style*="border-color: rgb(79, 84, 92);"] polyline[stroke] {
    stroke: white;
}
.side-8zPYf6 .itemSelected-1qLhcL,
.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected {
    background-color: #B6A37C;
    color: #fff;
    border-radius: 0;
}
.theme-dark .cardPrimaryOutline-29Ujqw {
    background-color: rgba(0,0,0,.3);
    border-color: transparent;
    border-radius: 0;
}
.ghostPill-2-KUPM {
    background-color: #edae28;
    border-radius: 0;
    color: white;
}
.theme-dark .accountBtnInner-sj5jLs {
    background-color: #174C3E;
    border-color: transparent !important;
    border-radius: 0;
}
.theme-dark .accountBtnInner-sj5jLs:hover {
    background-color: #248367;
}
.theme-dark .separator-gCa7yv {
    background-color: transparent;
}
[class="itemDefault-3Jdr52 item-PXvHYJ notSelected-1N1G5p"][style*="color: rgb(114, 137, 218);"] {
    color: #174C3E !important;
    background-color: transparent !important;
}
[class*="itemDefault-3Jdr52 item-PXvHYJ notSelected-1N1G5p"][style*="color: rgb(114, 137, 218); background-color: rgba(114, 137, 218, 0.0980392);"] {
    background-color: transparent !important;
}
[class="itemSelected-1qLhcL item-PXvHYJ selected-3s45Ha"][style*="color: rgb(255, 255, 255); background-color: rgb(114, 137, 218);"] {
    background-color: #174C3E !important;
    color: white;
}
.themeDefault-24hCdX.sizeDefault-2YlOZr {
    box-shadow: none;
}
.themeDefault-24hCdX,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch {
    background-color: #174C3E;
}
.themeDefault-24hCdX.valueChecked-m-4IJZ,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked {
    background-color: #248367;
}
.theme-dark .select-2TCrqx .Select-control {
    background: rgba(0,0,0,.3);
    border: none;
    box-shadow: none;
}
.theme-dark .h5-18_1nd {
    color: white;
}
.barFill-23-gu-,
.barFill-23-gu-[style*="background: rgb(105, 196, 154);"] {
    background: #174C3E;
    height: 100%;
}
.theme-dark .bar-2Qqk5Z,
.bar-2Qqk5Z[style*="background: rgb(251, 184, 72);"]{
    background: #248367 !important;
}
.theme-dark .bubble-3we2di {
    background-color: #174C3E;
}
.theme-dark .bubble-3we2di:before {
    display: none;
}
.theme-dark .cardPrimaryEditable-3KtE4g[style*="border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);"] {
    background: #174C3E !important;
    border-color: rgba(0, 0, 0, 0) !important;
    border-radius: 0;
}
.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
    background-color: transparent;
    border-color: transparent;
}
.userSettingsVoice-iwdUCU .media-engine-video {
    background-color: rgba(0,0,0,0.5);
    border-radius: 0;
}
.theme-dark .select-2TCrqx .Select-menu-outer {
    background: #174C3E;
    border-color: transparent;
    box-shadow: none;
}
.theme-dark .checkbox-1ix_J3[style*="border-color: rgb(114, 137, 218);"],
.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span {
    border-color: rgba(0, 0, 0, 0) !important;
    border-radius: 0;
    background-color: rgba(0,0,0,0.3);
}
.theme-dark .checkbox-1ix_J3[style*="border-color: rgb(114, 137, 218);"] polyline[stroke] {
    stroke: white;
    stroke-width: 2;
}
.theme-dark .notificationsSound-27jFSh,
.theme-dark .row-2okwlC,
.theme-dark .game-1ipmAa,
.theme-dark .elevationBorderHigh-2WYJ09,
.theme-dark .item-3eFBNF {
    box-shadow: none;
}
.lookGhost-2Fn_0-.colorGrey-2DXtkV {
    color: white;
}
.theme-dark .button-mM-y8i {
    background-color: transparent !important;
    border: 1px solid black !important;
    box-shadow: none !important;
}
.lookLink-9FtZy-.colorLink-35jkBc:hover .contents-18-Yxp {
    background-image: linear-gradient(0deg,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0) 1px,#F3D031 0,#F3D031 2px,rgba(0, 0, 0, 0) 0);
}
.theme-dark .addGamePopout-2RY8Ju {
   background-color: rgba(0,0,0,0.7);
}
.theme-dark .lastPlayed-3bQ7Bo, 
.theme-dark .overlayStatusText-L2IACa,
.theme-dark .nowPlaying-284llR .last-played, 
.theme-dark .nowPlaying-284llR .overlay-status-text, 
.theme-light .nowPlaying-284llR .last-played, 
.theme-light .nowPlaying-284llR .overlay-status-text,
.theme-dark .markValue-2DwdXI {
    color: white;
}
.theme-dark .user-settings-games .not-detected, 
.theme-light .notDetected-33MY4s {
    background-color: #174C3E;
    border-radius: 0;
}
.theme-dark .nowPlaying-284llR, 
.theme-light .nowPlaying-284llR {
    background-color: #248367;
    border-radius: 0;
}
.theme-dark .markDash-3hAolZ {
    background: white;
}
.grabber-3mFHz2 {
    background-color: black;
    border: none;
    border-radius: 0;
    box-shadow: none;
    opacity: 0.5;
    transition: opacity .3s ease;
}
.grabber-3mFHz2:hover {
    opacity: 1;
}
.theme-dark .gameNameInput-385LoS:focus, 
.theme-dark .gameNameInput-385LoS:hover {
    background-color: rgba(255,255,255,0.14);
    border-color: transparent;
}
#bd-settingspane-container .ui-switch-item .style-description {
    color: white;
    font-size: 12px;
    font-weight: normal;
    border-bottom: none;
}
.bd-pfbtn,
.bda-slist .bda-footer button {
    background: #174C3E !important;
    color: #FFF;
    border-radius: 0;
}
.bd-pfbtn:active {
    background: #248367 !important;
    color: #FFF;
    border-radius: 0;
}
.content-region #bd-customcss-attach-controls, 
#bd-customcss-detach-container #bd-customcss-attach-controls {
    background: #174C3E;
    color: #FFF;
    border: 0;
    box-shadow: none; 
    border-radius: 0;
}
.standardSidebarView-3F1I7i #bd-customcss-attach-controls button, 
.bd-detached-css-editor #bd-customcss-attach-controls button,
.standardSidebarView-3F1I7i #editor-detached button {
    background: rgba(41,137,112,0.43) !important;
    font-weight: 200;
    margin-right: 5px;
    border-radius: 0;
    border: none !important;
}
.standardSidebarView-3F1I7i #bd-customcss-attach-controls button:active, 
.bd-detached-css-editor #bd-customcss-attach-controls button:active,
.standardSidebarView-3F1I7i #editor-detached button:active {
    background: rgb(41,137,112) !important;
}
.ace-monokai,
.ace-monokai .ace_gutter {
    background-color: black;
    color: white;
}
.ace-monokai .ace_marker-layer .ace_active-line,
.ace-monokai .ace_gutter-active-line {
    background: #174C3E;
}
.ace-monokai .ace_comment {
    color: white;
}
.bda-slist .bda-header,
.bda-slist .bda-description,
.bda-slist .bda-footer {
    color: white;
    font-weight: 200;
    border: none;
}
[style*="font-size: 12px; font-weight: 600; color: rgb(114, 118, 125); padding: 2px 10px;"] {
    color: silver !important;
    font-weight: 200;
}
/* ---------- */
/* Friends and DMs */
.theme-dark .quickswitcher-3JagVE {
    background-color: #174C3E;
    color: white;
    border-radius: 0;
}
.theme-dark .emptyStateNote-ZYTetQ,
.theme-dark .header-13MUnb,
.theme-dark .contentDefault-16dKSY,
.theme-dark .icon-30q1Or,
.theme-dark .contentDefault-16dKSY .note-S--UP5,
.theme-dark .contentUnread-3gTHvA .note-S--UP5 {
    color: white;
}
.theme-dark .tipsWithoutResults-lGY-De, 
.theme-dark .tipsWithResults-HhTE9b {
    border-color: transparent;
    color: white;
}
.theme-dark .keybindShortcut-1BD6Z1 span:active {
    border: 1px solid #000;
    box-shadow: none;
    color: white;
}
.theme-dark .keybindShortcut-1BD6Z1 span:active .bindArrow-2X3Aom g {
    fill: white;
}
.theme-dark .input-2VB9rf {
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
}
.theme-dark .input-2VB9rf:focus {
    background-color: rgba(0,0,0,0.4);
}
.theme-dark .keybindShortcutTipsSelect-HDyfe8:last-of-type:before {
    background-color: transparent;
}
.theme-dark .resultFocused-3aIoYe {
    background-color: #248367;
    border-radius: 0;
}
.channel-2QD9_O.selected-1HYmZZ a {
    background-color: rgba(23,76,62,.8);
}
.channel-2QD9_O:hover a{
    background-color: rgba(23,76,62,.5);
}
.privateChannels-1nO12o .channel-2fhmY8:hover .channel-2QD9_O.selected-1HYmZZ a {
    background-color: rgba(23,76,62,.7);
}
.private-channels header,
.private-channels .channel .channel-name {
    font-weight: normal;
    opacity: .7;
}
.theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d,
.theme-dark .friendsTable-133bsv .friendsRow-2yicud+.friendsRow-2yicud,
.theme-dark .friendsTable-133bsv .friendTableAddWrapper-nHHZtK .friendTableSuggestionsHeader-2zSnpD {
    border: none;
}
.theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d .friendsColumn-eVHFqJ,
.theme-dark .container-3gCOGc .friends-empty p {
    color: white;
}
.theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d .friendsColumnSeparator-3MqtMA,
.theme-dark .divider-2PMBlV {
    background-color: transparent;
}
.tabBar-1E2ExX .primary-3j8BhM {
    background-color: #174C3E  !important;
    color: #fff;
}
.tabBar-1E2ExX .primary-3j8BhM:hover:not(.selected) {
    background-color: #248367  !important;
}
.tabBar-1E2ExX .primarySelected-3uHKZn {
    background-color: #248367  !important;
    color: white;
    border: 2px outset rgba(0,0,0,0.5);
}
.theme-dark .topPill-30KHOu .item-PXvHYJ:hover:not(.itemSelected-1qLhcL) {
    background-color: rgba(41,137,112,0.24);
}
.theme-dark .topPill-30KHOu .itemSelected-1qLhcL {
    background-color: rgba(23,76,62,0.64);
    color: white
}
.theme-dark .friendsTable-133bsv .friendTableAddWrapper-nHHZtK .friendTableAddHeader-m9bzFr {
    background: rgba(0,0,0,0.34);
    border-bottom: none;
}
.theme-dark .wrapper-1cBijl {
    background-color: transparent;
    border-color: transparent;
}
.theme-dark .container-3gCOGc .friends-table .friends-row .friends-column-name,
.friendsTable-133bsv .friendsRow-2yicud .friendsColumnStatus-ZH4ho2 .friendActivityText-2lmziy, .friendsTable-133bsv .friendsRow-2yicud .friendsColumnStatus-ZH4ho2 .statusText-2F9zIF {
    color: white;
}
.theme-dark .friendsTable-133bsv .friendsRow-2yicud .friendsColumnStatus-ZH4ho2 .friendActivityIconForeground-3X031q {
    fill: white;
}
.iconSizeSmall-3aWgx9 {
    background-color: #174C3E;
}
.theme-dark .friendsTable-133bsv .friendsRow-2yicud .friendsColumnGuilds-2we6jb .moreMutualGuildsBtn-2VwbkO {
    border-color: transparent;
    color: white;
}
.theme-dark .friendsTable-133bsv .friendsRow-2yicud .friendsColumnGuilds-2we6jb .moreMutualGuildsBtn-2VwbkO:hover {
    background-color: #174C3E;
    border-color: transparent;
}
.theme-dark .friendsTable-133bsv .friendsRow-2yicud:hover {
    background: #174C3E;
}
.theme-dark .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9 {
    background-color: #174C3E;
    border: 2px solid rgba(0,0,0,0.4);
    transition: border .9s ease;
}
.theme-dark .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9:hover {
    background-color: #248367;
    border: 2px solid rgba(255,255,255,0.4);
}
.friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9.friendsActionRemove-qu8nnl:hover {
    background-color: red!important;
}
.searchBarInner-1_Tg2R {
    background: rgba(0,0,0,0);
    border: none;
    border-radius: 0;
}
.theme-dark .friendSelected--wQP3f {
    background-color: rgba(23,76,62,.5);
    color: #fff;
}
.searchBarTag-2xRzm8 .close-3WVtCL {
    content: " ";
    height: 23px;
    background-color: transparent;
    width: 12px;
    opacity: 0;
    transition: opacity .6s ease, background-color .6s ease, width .6s ease;
}
.searchBarTag-2xRzm8 .close-3WVtCL:hover {
    background-color: rgba(255,0,0,0.7);
    width: 25px;
    opacity: 1;
}
.searchBarTag-2xRzm8 {
    border-radius: 0;
    background: #174C3E;
    font-weight: normal;
}
.searchBar-2_Yu-C {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
}
.theme-dark .modal-3HD5ck {
    background-color: #174C3E;
    box-shadow: none;
}
.theme-dark .footer-2yfCgX {
    background-color: transparent;
    box-shadow: none;
}
.theme-dark .select-2TCrqx .Select-control .Select-placeholder {
    color: white;
}
/* Emote Stuff */
.spriteNormal-1wvG5n {
    filter: grayscale(0%);
    opacity: .7;
}
.bda-dark #bda-qem {
    border-bottom: none !important;
    background: transparent;
}
.bda-dark #bda-qem button {
    background: #174C3E;
    border-left: none;
    box-shadow: none;
    width: 190px;
}
.bda-dark #bda-qem button:hover {
    background-color: #248367;
    border: 2px dashed rgba(255,255,255,0.24);
}
.bda-dark #bda-qem button.active {
    background-color: #174C3E !important;
    border: 2px solid rgba(0,0,0,0.24);
}
.bda-dark .emoji-picker, .bda-dark .emojiPicker-3m1S-j,
.bda-dark #bda-qem-favourite-container, .bda-dark #bda-qem-twitch-container {
    background-color: #174C3E;
}
.emojiPicker-3m1S-j {
    border: none;
    border-radius: 0;
    box-shadow: none;
    overflow: visible;
    width: calc(100% + -1px);
}
.bda-dark #bda-qem-favourite-container, .bda-dark #bda-qem-twitch-container {
    width: calc(100% + -1px);
}
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar, .bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track, .bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track-piece, .bda-dark #pubs-container .scroller::-webkit-scrollbar, .bda-dark #pubs-container .scroller::-webkit-scrollbar-track, .bda-dark #pubs-container .scroller::-webkit-scrollbar-track-piece, .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar, .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track, .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track-piece,.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track,.bda-dark .emoji-picker .scroller::-webkit-scrollbar, .bda-dark .emoji-picker .scroller::-webkit-scrollbar-track, .bda-dark .emoji-picker .scroller::-webkit-scrollbar-track-piece, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track-piece {
    background-color: transparent !important;
    border-color: transparent !important;
}
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-thumb, .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-thumb, .scrollerThemed-2oenus.themeLight-1_DWyY .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-dark .scrollerThemed-2oenus.themeLight-1_DWyY .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-light .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: #174C3E !important;
    border-color: rgba(0, 0, 0, 0.3) !important;
    border-radius: 0
}
.emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    margin-right: 24px;
}
.bda-dark .emoji-picker .header .searchBar-2_Yu-C, .bda-dark .emojiPicker-3m1S-j .header-1nkwgG .searchBar-2_Yu-C {
    background-color: transparent;
}
.bda-dark .emoji-picker .diversity-selector .popout-3sVMXz, .bda-dark .emojiPicker-3m1S-j .diversitySelector-tmmMv0 .popout-2nUePc {
    background: #174C3E;
    border-color: transparent;
}
.diversitySelector-tmmMv0 .popout-2nUePc .item-16cXuq:hover {
    background-color: rgba(0,0,0,.13);
}
.bda-dark .emojiPicker-3m1S-j .dimmer-3iH-5D.visible-3k45bQ {
    background-color: rgba(0,0,0,0.65);
}
.emojiPicker-3m1S-j .stickyHeader-1SS0JU {
    background: transparent;
}
.bda-dark .emoji-picker .category, .bda-dark .emojiPicker-3m1S-j .category-2U57w6 {
    background-color: #174C3E;
    text-align: center;
    color: white;
}
.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.selected-39BZ4S {
    border-bottom-color: rgba(255,255,255,.25);
}
/* Upload Stuff */
.uploadModal-2ifh8j {
    background-color: #174C3E;
    border-radius: 0;
    display: flex;
    flex-direction: row;
}
.uploadModal-2ifh8j .inner-3nWsbo {
    border: none;
    border-radius: 0;
}
.uploadModal-2ifh8j .footer-3mqk7D {
    background-color: transparent;
    border-radius: 0;
    flex-direction: column;
    padding: 3px;
}
.theme-brand .inner-zqa7da {
    top: 38px;
    right: 23px;
}
.uploadModal-2ifh8j .inner-3nWsbo .comment-4IWttf .label-3aiqT2 {
    font-weight: normal;
    text-transform: capitalize;
    top: 146px;
    left: 7px;
    position: absolute;
}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .description-2ug5H_ .filename-ovv3c5 {
    font-size: 18px;
    font-weight: normal;
    top: -30px;
    text-decoration: underline;
    left: -4px;
    position: absolute;
}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-sizing: content-box;
    height: 164px;
    position: relative;
    left: 144px;
    margin-left: 196px;
    width: 164px;
}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.webcode-22GGLX,
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr {
    height: 164px;
    position: relative;
    left: 144px;
    margin-left: 196px;
    width: 164px;
}
.uploadModal-2ifh8j .footer-3mqk7D .button {
    right: 397px;
    bottom: 154px;
    margin-top: 12px;
    width: 206px;
    position: relative;
}
.uploadModal-2ifh8j .footer-3mqk7D .button {
    background-color: rgba(255,0,0,.08);
    transition: background-color .5s ease;
}
.uploadModal-2ifh8j .footer-3mqk7D .button:hover {
    background-color: rgba(255,0,0,.4);
}
.uploadModal-2ifh8j .footer-3mqk7D .button-primary {
    background-color: #174C3E;
    color: white;
    opacity: 1 !important;
    transition: background-color .5s ease;
}
.uploadModal-2ifh8j .footer-3mqk7D .button-primary:hover {
    background-color: rgba(41,137,112,.43);
}
.uploadDropModal-2kTwbc {
   background: #174C3E;
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .bgScale-1otPtc  {
    background: #174C3E !important;
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo  {
    background: #174C3E !important;
    border: none;
}
/* Context Menu */
.theme-dark.contextMenu-HLZMGh {
    background: #174C3E;
}
.theme-dark .itemSubMenu-1vN_Yn:hover {
   background-color: rgba(255,255,255,.13) !important;
}
.theme-dark .item-1Yvehc:hover {
    background: #248367;
    color: #fff !important;
}
.theme-dark .itemSubMenu-1vN_Yn {
    background-color: rgba(0,0,0,.13);
    transition: background-color .6s ease;
}
.theme-dark .item-1Yvehc {
    color: white;
    padding: 8px;
}
.theme-dark .itemGroup-1tL0uz {
    border-color: transparent;
}
/* Pinned Mention Search */
.container-1YxwTf {
    overflow: visible;
}
.themedPopout-25DgLi .footer-SRC48P,
.themedPopout-25DgLi .header-SsaQ8X,
.theme-dark .searchHeader-1l-wpR {
    background-color: transparent;
    box-shadow: none;
}
.statusGreen-pvYWjA {
    color: #38c332;
}
.block-2RXqH9 .tip-2ab612, 
.tip-2ab612,
.theme-dark .emptyPlaceholder-1zh-Eu .body-bvcIjN,
.themedPopout-25DgLi .header-SsaQ8X .title-23FrqZ {
    color: white;
    opacity: 1;
}
.theme-dark .messagesPopoutWrap-1MQ1bW,
.theme-dark .searchResultsWrap-2DKFzt {
    background-color: rgba(23,76,62,0.6);
    border: 3px dashed #174C3E;
}
.theme-dark .messageGroupWrapper-o-Zw7G {
    background-color: #174C3E;
    padding-bottom: 15px;
    border: none;
}
.theme-dark .messageGroupWrapper-o-Zw7G:hover {
    background-color: #248367;
}
.theme-dark .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug {
    background-color: transparent;
    box-shadow: none;
}
.theme-dark .jumpButton-3DTcS_,
.theme-dark .jumpButton-Ia2hRJ {
    background-color: #174C3E;
    color: white;
}
.theme-dark .channelSeparator-1X1FuH:before {
    border-color: transparent;
}
.theme-dark .channelSeparator-1X1FuH .channelName-1QajIf {
    background-color: #174C3E;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    padding: 7px 10px;
    top: 12px;
}
.theme-dark .searchResult-3pzFAB:before, 
.theme-dark .searchResult-3pzFAB:after {
    background-image: none;
}
.theme-dark .searchResultsWrap-2DKFzt .search-result .search-result-message.after, 
.theme-dark .searchResultsWrap-2DKFzt .search-result .search-result-message.before {
    opacity: .5;
}
.theme-dark .searchResultsWrap-2DKFzt .searchResult-3pzFAB .searchResultMessage-2VxO12.hit-NLlWXA,
.theme-dark .searchResultsWrap-2DKFzt .searchResult-3pzFAB.expanded-v2Szsz  {
    border: none;
}
.theme-dark .searchResultsWrap-2DKFzt .searchResult-3pzFAB .hit-NLlWXA {
    background-color: #174C3E;
    box-shadow: none;
}
.theme-dark .searchResultsWrap-2DKFzt .expanded-v2Szsz .searchResultMessage-2VxO12.hit-NLlWXA {
    background-color: #248367;
    border-bottom: none;
    border-top: none;
}
/* Need Help */
.form-deprecated .control-group input[type=email], .form-deprecated .control-group input[type=number], .form-deprecated .control-group input[type=password], .form-deprecated .control-group input[type=text], .form-deprecated .control-group textarea, .form.deprecated .control-group input[type=email], .form.deprecated .control-group input[type=number], .form.deprecated .control-group input[type=password], .form.deprecated .control-group input[type=text], .form.deprecated .control-group textarea {
    border: none;
    border-bottom: none !important;
    color: white;
    font-weight: normal;
    width: 80%;
}
.need-help-modal.form.deprecated .header input[type=text] {
    background-color: rgba(0,0,0,0.8);
    border-radius: 0px;
    box-shadow: none;
    color: white;
}
.need-help-modal.form.deprecated .header {
    background-color: #174C3E;
    border-radius: 0
}
.need-help-modal.deprecated .form-inner.loading {
    background-color: black;
}
.need-help-modal.form.deprecated .footer {
    background-color: black;
    border-radius: 0;
    border-top: none;
    color: white;
    font-weight: normal;
}
.need-help-modal.deprecated ul li+li {
    font-size: 15px;
    font-weight: normal;
    line-height: 12px;
}
/* Invite */
.lookOutlined-3sRXeN.colorGreen-29iAKY {
    border-color: transparent;
    color: white; 
    background-color: #5a9922;
}

/* User Profile and Modal */
.headerPlaying-j0WQBV,
.topSectionPlaying-1J5E4n {
   background-color: rgba(20,17,139,0.44);
}
.lookInverted-2D7oAl.colorBrand-3pXr91 {
    background-color: rgb(20,17,139) !important;
    color: white !important;
}
.headerSpotify-zpWxgT,
.headerXbox-3G-4PF,
.topSectionXbox-3fWLjS,
.topSectionSpotify-1lI0-P {
    background: rgba(57,118,51,0.45);
}
.lookInverted-2D7oAl.colorGreen-29iAKY {
    background-color: rgb(57,118,51);
    color: white;
}
.headerStreaming-2FjmGz,
.topSectionStreaming-1Tpf5X {
    background: rgba(119,56,158,0.45);
}
.buttonInvertedPurple-WtBglX {
    background-color: rgb(119,56,158);
    color: white;
}
.theme-dark .headerNormal-T_seeN,
.theme-dark .topSectionNormal-2-vo2m,
.theme-dark .body-3ND3kc,
.theme-dark .body-3iLsc4,
.theme-dark .footer-1fjuF6 {
    background-color: rgba(0,0,0,0.4);
}
.theme-dark .footer-1fjuF6 {
    border: none;
}
.theme-dark .body-3iLsc4 {
   color: white;
}
.userPopout-3XzG_A {
    border-radius: 0;
    overflow: visible;
    background: url(https://static.zerochan.net/Kemono.Friends.full.2083917.jpg) 50%/cover;
    background-repeat: no-repeat;
}
.bodyTitle-Y0qMQz,
.userInfoSectionHeader-CBvMDh {
    color: white;
}
.theme-dark .actionButton-VzECiy {
    border-color: transparent;
    background-color: rgba(0,0,0,0.12);
    color: white;
    border-radius: 0;
    transition: background-color .6s ease;
}
.theme-dark .actionButton-VzECiy:hover {
    background-color: rgba(84, 214, 44,0.32);
}
.role-2irmRk {
    border: none;
    border-radius: 0;
    font-weight: normal;
    padding: 5px;
    margin-right: 12px;
    background-color: rgba(0,0,0,0.23);
}
.roleCircle-3xAZ1j {
    border-radius: 0;
    height: 21px;
   top:0.4px;
    position: relative;
    margin-right: 4px;
    left: -5px;
    width: 21px;
}
.roleRemoveIcon-2-TeGW {
    height: 20px;
    width: 20px;
}
.theme-dark .note-3kmerW textarea {
    color: white;
}
.note-3HfJZ5 textarea {
    border-radius: 0;
    padding: 6px;
}
.note-3kmerW textarea {
    background: rgba(0, 0, 0, .4);
}
.theme-dark .note-3kmerW textarea:focus,
.theme-dark .root-SR8cQa .note-QfFU8y textarea:focus {
    background-color: rgba(109, 231, 84, .4)
}
.theme-dark .quickMessage-1yeL4E {
    background-color: rgba(0, 0, 0,0.5);
    border-color: transparent;
    color: white;
}
.theme-dark .quickMessage-1yeL4E:focus {
    background-color: rgba(24, 156, 22,0.5);
    border-color: #5ee235;
}
.theme-dark .protip-YaFfgO {
    display: none;
}

.root-SR8cQa {
    border-radius: 0;
    overflow: visible;
    background: url(http://www.wallpapermaiden.com/image/2017/04/10/kemono-friends-fennec-common-raccoon-jaguar-anime-15107-resized.jpg) 100%/cover;
}
.backdrop-1wrmKB {
    background-color: rgba(0,0,0,0.3) !important;
}
.tabBarContainer-1s1u-z {
    border-top: none;
    padding-left: 134px;
}
.tab-bar.tabBar-2MuP6- .tabBarItem-1b8RUP {
    color: rgba(255, 255, 255, 0.2);
    transition: color .6s ease, border-bottom-color .6s ease, background-color .6s ease;
    border-bottom-color: transparent;
    background-color: transparent;
    border-radius: 0;
    padding: 4px 7px;
}
.tab-bar.tabBar-2MuP6- .tabBarItem-1b8RUP:hover {
    color: rgba(255, 255, 255, 0.6);
    border-bottom-color: rgba(255, 255, 255, 0.6);background-color: rgba(109, 231, 84,.4);
}
.theme-dark .userInfoSection-2acyCx+.userInfoSection-2acyCx {
    border-color: transparent;
}
.theme-dark .connectedAccount-36nQx7 {
    border-color: transparent;
    border-radius: 0; 
    background-color: rgba(23,76,62,0.5);
}
.connectedAccountName-f8AEe2, .connectedAccountNameInner-1phBvE {
    color: white;
    overflow: visible;
   text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black;
    font-weight: normal;
}
.theme-dark .listRow-hutiT_:hover {
    background: linear-gradient(90deg,rgba(23,76,62, 0.45) 90%,rgba(255, 255, 255, 0));
    color: white;
}
.listAvatar-1NlAhb {
    background-color: #174C3E;
}
.guildNick-3uAm3i, .listName-3w10cx {
    color: white;
}
/* Activity Feed and Unreachable Stuff */
.theme-dark .activityFeed-28jde9 {
    background-color: rgba(0,0,0,0.6);
}
.video-1FfuMD,
.theme-dark .private-channel-call {
    background-color: rgba(0,0,0,0.5);
}
.theme-dark .callAvatar-v-u4BM.voice-2D-tt_ 
.callAvatarStatus-3y6S04 {
    border-color: black;
    background-color: #174C3E;
    border-radius: 50px; 
}
.callAvatarBorder-1D_KaE.voice-2D-tt_.speaking-oCqYMI,
.callAvatarBorder-1D_KaE.video-3GgX2M.speaking-oCqYMI {
    border-radius: 50px; 
    box-shadow: none;
    border: 2px solid #174C3E;
}
.theme-dark .private-channel-call.minimum .private-channel-call-actions .center, .theme-dark .wrapper-29NfPK {
    background-color: transparent;
    border-color: transparent;
}
.theme-dark .header-1RC2Wb,
.theme-dark .body-SKIE6r {
    background-color: rgba(0,0,0,0.23);
}
.theme-dark .card-7JP0BX {
    background-color: rgba(0,0,0,0.43);
    color: white;
}
.theme-dark .header-1RC2Wb:hover {
    background-color: rgba(0,0,0,0.53);
}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    background-color: #581bbc !important;
    color: white;
}
.headerButtonColor-G7_f-V {
    background: #174C3E;
    color: #fff;
}
.theme-dark .lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV:hover, 
.theme-light .lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV:hover {
    background: #248367;
}
.theme-dark .sectionLine-JjseS9 {
    background-color: transparent;
}
.theme-dark .player-1kJMbj {
    border-bottom-color: transparent;
}
.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, 
.theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track {
    background-color: transparent;
}

/* New Stuff */
.theme-dark .gameLibrary-TTDw4Y,
.theme-dark .applicationStore-1pNvnv,
.theme-dark .itemBackground-1jfD8p {
    background-color: transparent
}

.theme-dark .itemBackground-1jfD8p:before {
    background: radial-gradient(ellipse at top,rgba(0, 0, 0, 0),black),linear-gradient(90deg,black 0,rgba(0, 0, 0, 0) 40%,rgba(0, 0, 0, 0) 60%,black),linear-gradient(0deg,black 0,rgba(0, 0, 0, 0) 25%)
}

.theme-dark .overlappingBorder-1ysb12 {
    border-color: #174C3E
}

.theme-dark .announcingNitro-3Ptg6m:hover {
    color: white
}

.theme-dark .announcingNitro-3Ptg6m {
    border-color: transparent;
    color: #174C3E
}

.theme-dark .distributionApplicationsActions-3D2_kD, .theme-dark .premiumApplicationsHeader-Zmkm5e {
    border-color: transparent
}

.theme-dark .tileWrapper-2khh-w {
    background-color: rgba(0,0,0,0.34);
    box-shadow: none
}

.theme-dark .tileWrapper-2khh-w:hover {
    background-color: rgba(0,0,0,0.84);
}

.theme-dark .mediaDescription-31GsyQ {
    background: linear-gradient(180deg,rgba(0, 0, 0, 0),black 45%,black)
}
/* --- */
